.alert-box.radius#col-alert aria-live="assertive" data-alert="" role="alertdialog" tabindex="0"  style="margin: 0 auto; position: fixed; left: 0; right: 0; margin-left: auto; margin-right: auto; max-width: 550px; z-index: 1001; display:none;"


= simple_form_for channel, simple_form_opts(channel).merge({html: { multipart: true }}) do |f|
  .box.manage-channels
    .box style="margin-top: 2rem;"
      .row
        .small-12.columns
          .section-header
            .section-title
              = "#{channel.new_record? ? 'Create A ' : 'Edit ' }"
              | Channel

      .row
        .small-12.columns
          .channel-form-container

            .row
              .small-12.columns

                = f.label :label, 'Name', class: 'bold'
              .small-12.columns
                = f.input :label, label: false, :input_html =>{maxlength: '150'}

            .row
              .small-12.columns

                = f.label :description, 'Description', class: 'bold'
              .small-12.columns
                = f.input :description, label: false, input_html: {maxlength: '200'}

            .row
              .small-12.columns
                label.bold
                  | Upload a Banner Image
                .small-font Recommended Size: 1440px x 300px
              .small-12.columns
                .img-wrapper
                  .file-upload.image_container
                    .img_ctrl#banner-upload style="max-width: 200px; margin: 60px auto;" class=((channel.photo.present? && !channel.new_record?) ? 'hide' : '')
                      div.img_btn.text-center

                        = f.input :image, as: :file, label: false, input_html: { class: 'file-input' }
                        i.fi-camera
                        span.upload_text Upload Photo
                    .img-wrapper.preview_div  class=((channel.photo.present? && !channel.new_record?) ? '' : 'hide')
                      i.fi-x-circle.remove_image.cancel-image data-input-name="channel[image]"
                      = image_tag asset_path(channel.photo), id: 'channel-image', style: 'width: 450px; height: 150px;'



            .row
              br
              .small-12.columns
                label.bold
                  | Upload a Profile Image
                .small-font Recommended Size: 120px x 120px
              .small-12.columns
                .img-wrapper
                  .file-upload.image_container
                    .img_ctrl#profile-image-upload style="max-width: 200px; margin: 60px auto;" class=(channel.mobile_photo.present? ? 'hide' : '')
                      div.img_btn.text-center

                        = f.input :mobile_image, as: :file, label: false, input_html: { class: 'file-input' }
                        i.fi-camera
                        span.upload_text Upload Photo
                    .img-wrapper.preview_div class=(channel.mobile_photo.present? ? '' : 'hide')
                      i.fi-x-circle.remove_image data-input-name="channel[mobile_image]" style="right: inherit;"
                      = image_tag asset_path(channel.mobile_photo), id: 'channel-mobile-image', class: 'profile-circle'




            br
            .row
              .small-12.columns
                label.bold
                  | Scope
            .right-indent
              .row
                .small-12.columns
                  label for="channel_is_private_false"
                    input type="radio" value="false" name="channel[is_private]" id="channel_is_private_false"
                    label class="collection_radio_buttons" for="channel_is_private_false" Public
                  div style="padding-left: 40px"
                    .row
                      p discovery - everyone can find the channel
                      p follow - everyone can choose to follow the channel
                      p content visibility - everyone can see content posted to the channel
                      p people visibility - everyone can see collaborators and followers of the channel
                      p invites - followers and collaborators can invite their network to follow the channel

              .row
                .small-12.columns
                  label for="channel_is_private_true"
                    input type="radio" value="true" name="channel[is_private]" id="channel_is_private_true"
                    label class="collection_radio_buttons" for="channel_is_private_true" Private
                  div style="padding-left: 40px"
                    .row
                      p discovery - only followers and collaborators can find the channel
                      p follow - invite only
                      p content visibility - only followers and collaborators can see its content
                      p people visibility - only followers and colloborators see people associated with the channel
                      p invites - only collaborators can invite people to follow the channel



            br
            .row
              .small-12.columns
                label.bold
                  | Posting
                /f.collection_radio_buttons :only_authors_can_post, [[true, "Only Authors"], [false, "Followers Too"]], :first, :last

            .row
              .small-12.columns
                .right-indent
                  label for="channel_only_authors_can_post_true"
                    input type="radio" name="channel[only_authors_can_post]" value="true" id="channel_only_authors_can_post_true"
                    label class="collection_radio_buttons" for="channel_only_authors_can_post_true" Limit Posting to Channel Collaborators only
            .row
              .small-12.columns
                .right-indent
                  label for="channel_only_authors_can_post_false"
                    input type="radio" name="channel[only_authors_can_post]" value="false" id="channel_only_authors_can_post_false"
                    label class="collection_radio_buttons" for="channel_only_authors_can_post_false" Allow followers to post to this channel

            br
            .row
              .small-12.columns
                label.bold
                  | Keywords


            .row
              .right-indent
                .small-12.columns
                  .small-font
                    | Comma separated list of keywords relevant to this channel
                .small-12.columns
                  div style="display: inline-block; margin-bottom: 10px; vertical-align: top;"
                    = text_field_tag('channel[keywords]', channel.interests.map(&:name).join(','), placeholder: 'Leadership, Marketing, ...', style: 'min-width: 300px;', id: 'channel_keywords')

            br

            label.bold
              | Send Invites
            .right-indent
              input type="radio" name="send-invites" value="authors" checked="checked"
              label
                | Collaborators

              input type="radio" name="send-invites" value="followers"
              label
                | Followers

            .right-indent

              .authors-section.invites-section.row
                .small-12.columns

                  .small-font
                    | (Please save the changes if you are adding new collaborators.)
                .small-12.columns
                  div style="display: inline-block; margin-bottom: 10px; vertical-align: top;"
                    = text_field_tag(:collaborator, '', placeholder: '@handle', style: 'min-width: 300px;', id: 'channel_collaborator')

                  | &nbsp;&nbsp;

                  a.button#add-collaborator href="javascript:" style="margin-top: 5px;" Invite

                  div style="max-width: 380px;"
                    .hidden_authors
                    ul.influencers-list.authors-list
                      - channel.authors.each do |c|
                        li id="li-#{c.id}"
                          span.admin-name
                            = c.name
                            | &nbsp;<
                            = c.handle
                            | >

                          a.remove.right href="#" data-reveal-id="remove-collaborator-modal" data-id="#{c.id}" data-inf-handle="#{c.handle}"

              .followers-section.invites-section.row.hide
                .small-12.columns

                  .small-font
                    | (Please save the changes if you are adding new followers.)
                .small-12.columns
                  div style="display: inline-block; margin-bottom: 10px; vertical-align: top;"
                    = text_field_tag(:follower, '', placeholder: '@handle', style: 'min-width: 300px;', id: 'channel_follower')

                  | &nbsp;&nbsp;

                  a.button#add-follower href="javascript:" style="margin-top: 5px;" Invite

                  div style="max-width: 380px;"
                    .hidden_followers
                    ul.influencers-list.followers-list

            div id="autofollow_channel" class="row"
              .small-12.columns
                label.bold
                  | Auto Follow Setting

              .right-indent
                .small-12.columns
                  label for="channel_auto_follow_true"
                    input id="channel_auto_follow" name="channel[auto_follow]" type="checkbox"
                    label class="collection_radio_buttons" for="channel_auto_follow_true" By checking this box, <span class='bold'>every user in your team will automatically follow this channel even if its private. Please be careful </span>

      br
      br
        .row
          .small-12.columns
            - if channel.new_record?
              = link_to 'Cancel', user_channels_page_path, class: 'right button radius transparent', data: {amplitude_trigger: 'click', amplitude_event: 'channel_save', amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"sub_class": "channels","submit_status" : "cancel"}, "object" : {"class":"channel" }}'}
            - else
                = link_to 'Cancel', learn_path(channel.slug), class: 'right button radius transparent', data: {amplitude_trigger: 'click', amplitude_event: 'channel_save', amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"sub_class": "channels","submit_status" : "cancel"}, "object" : {"class":"channel" }}'}
            = f.hidden_field :prev_url, :value => @prev_url
            = f.button :submit, 'Save', class: 'right button success radius', data: {amplitude_trigger: 'click', amplitude_event: 'channel_save', amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"sub_class": "channels","submit_status" : "save"}, "object" : {"class":"channel" }}'}
      br
      br





#remove-collaborator-modal.reveal-modal.small.common-modal aria-hidden="true" aria-labelledby="Remove collaborator" data-reveal="" role="dialog"
  .row
    .small-12.columns
      h5
        strong Remove Collaborator

  .row
    .small-12.columns
      p
        | Are you sure you want to remove "
        span.handle-name
        | " as a collaborator?
  .text-right
    - if !channel.new_record?
      = form_tag remove_author_channel_path, method: :delete, remote: true, id: 'remove_author' do
        .hidden-field
        br

        = submit_tag('Confirm and Remove', class: 'button radius', remote: true)
        a.transparent.button.right href="javascript:" onclick="$(this).closest('.reveal-modal').foundation('reveal', 'close');" Cancel
    - else
      .hidden-field
      br
      button.button.radius onClick='removeCollaboratorFromList()' Confirm and Remove
      a.transparent.button.right href="javascript:" onclick="$(this).closest('.reveal-modal').foundation('reveal', 'close');" Cancel


  a.close-reveal-modal aria-label="Close"  ×


  #remove-follower-modal.reveal-modal.small.common-modal aria-hidden="true" aria-labelledby="Remove follower" data-reveal="" role="dialog"
    .row
      .small-12.columns
        h5
          strong Remove Follower

    .row
      .small-12.columns
        p
          | Are you sure you want to remove "
          span.follower-handle-name
          | " as a follower?
    .text-right
      button.button.radius.remove-follower-submit onClick='removeFollowerFromList()' Confirm and Remove
      a.transparent.button.right href="javascript:" onclick="$(this).closest('.reveal-modal').foundation('reveal', 'close');" Cancel


    a.close-reveal-modal aria-label="Close"  ×

- content_for :js do
  - if channel.only_authors_can_post
    javascript:
      $("#channel_only_authors_can_post_true").attr("checked", "checked");
  - else
    javascript:
      $("#channel_only_authors_can_post_false").attr("checked", "checked");

  - if channel.auto_follow
    javascript:
      $("#channel_auto_follow").attr("checked","checked")


  - if channel.is_private
    javascript:
      $("#channel_is_private_true").attr("checked", "checked");
  - else
    javascript:
      $("#channel_is_private_false").attr("checked", "checked");

  javascript:

    $("#channel_is_private_false").on('click', function() {
      $("#autofollow_channel").show();
    });

    $("#channel_is_private_true").on('click', function() {
      $("#autofollow_channel").hide();
      $("#channel_auto_follow_true").removeAttr("checked");
    });

    $("#channel_autopull_content").change(function(){
      if($(this).is(':checked')){
        $("#channel-query-selector").show();
      } else {
        $("#channel-query-selector").hide();
      }
    });

    $('input[name="send-invites"]').click(function(){
        if($(this).attr("value")=="authors"){
            $(".invites-section").not(".authors-section").addClass('hide');
            $(".authors-section").removeClass('hide');
        }
        if($(this).attr("value")=="followers"){
            $(".invites-section").not(".followers-section").addClass('hide');
            $(".followers-section").removeClass('hide');
        }

    });

    // someone make this a jQuery plugin please?
    function uploadImage(opts){
      var image = opts.image;
      var input = opts.input;
      var formData = opts.formData;
      var url = opts.url;
      var name = opts.name;
      var inputDiv = opts.inputDiv;


      input.fileupload({
        url: url,
        formData: formData,
        paramName: 'file',
        dataType: 'XML',
        add: function (e, data) {
          formData["Content-Type"] = data.files[0].type;
          data.formData = formData;
          data.submit();
        },
        start: function (e) {
          inputDiv.addClass('hide');
          image.attr('src', #{image_path('loader.gif').to_json.html_safe});
          image.parent().removeClass('hide');
        },
        done: function (e, data) {
          var location = $(data.jqXHR.responseXML).find("Location").text();
          image.attr('src', location);
          var newInput = $("<input />", {type: 'hidden', name: name, value: location})
          data.form.append(newInput);
        }
      });

    };

    uploadImage({
      name: 'channel[image]',
      input: $('#channel_image'),
      image: $('#channel-image'),
      formData: #{@image_upload.fields.to_json.html_safe},
      url: '#{@image_upload.url}',
      inputDiv: $('#banner-upload')
    });

    uploadImage({
      name: 'channel[mobile_image]',
      input: $('#channel_mobile_image'),
      image: $('#channel-mobile-image'),
      formData: #{@image_upload.fields.to_json.html_safe},
      url: '#{@image_upload.url}',
      inputDiv: $('#profile-image-upload')
    });

    $(".remove_image").click(function(){
      $(this).closest(".preview_div").addClass('hide');
      $(this).closest(".preview_div").attr('src', "");
      $(this).parent().siblings(".img_ctrl").removeClass('hide');
      var inputName = $(this).attr('data-input-name');
      var newInput = $("<input />", {type: 'hidden', name: inputName, value: ""});
      $('form.edit_channel').append(newInput);
    });

    $('.authors-list').on('click', 'a.remove', function() {
      var id = $(this).attr( "data-id" );
      var handle = $(this).attr( "data-inf-handle" );
      $("span.handle-name").text(handle);

      $( ".hidden-field" ).html( "<input id='handle' name='user_id' type='hidden' value='" + id + "'>" );
      window.id = id;
      window.handle = handle;
    });

    $('.followers-list').on('click', 'a.remove', function() {
      var id = $(this).attr( "data-id" );
      var handle = $(this).attr( "data-follower-handle" );
      $("span.follower-handle-name").text(handle);
      $('.remove-follower-submit').attr('data-follower-id', id);
    });

    $('form#remove_author').on('ajax:success', function(evt, data, status, xhr) {
         removeCollaboratorFromList();
    }).on('ajax:error', function(evt, data, status, xhr){
        $('#remove-collaborator-modal').foundation('reveal', 'close');
        $('#col-alert').text('You are not authorized to remove user as a collaborator.');
        $('#col-alert').show();
        setTimeout(function () { $('#col-alert').hide(); }, 3000);
    });

    function removeCollaboratorFromList() {
        var id = window.id;
        var eleId = "#li-"+id;
        var eleHandle = "#input-"+ id;
        $('#remove-collaborator-modal').foundation('reveal', 'close');
        $(eleId).remove();
        $(eleHandle).remove();
        $('#col-alert').text('Successfully removed as a collaborator.');
        $('#col-alert').show();
        setTimeout(function () { $('#col-alert').hide(); }, 3000);
    }

    function removeFollowerFromList() {
      var liEleId = "#li-follower-"+ $('.remove-follower-submit').attr('data-follower-id');
      var inputEleId = "#follower-input-"+ $('.remove-follower-submit').attr('data-follower-id');
      $('#remove-follower-modal').foundation('reveal', 'close');
      $(liEleId).remove();
      $(inputEleId).remove();
    }

    $(document).on('closed', '[data-reveal]', function () {
      $( ".hidden-field" ).html( "" );
    });

    var users_collaborator = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '#{api_suggest_path({:exclude_tags => "true", :format => "json"}) + "&q=%QUERY"}',
        wildcard: '%QUERY',
        transform: function (response) {
          window.aHandles = [];
          window.users = [];
          for (i = 0; i < response["users"]["results"].length; i++) {
            window.aHandles[i] = response["users"]["results"][i].handle;
            window.users[i] = response["users"]["results"][i];
          }
          return response["users"]["results"];
        }
      }
    });

    var groups_datasource = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '#{groups_search_path(:format => "json") + "?q=%QUERY"}',
        wildcard: '%QUERY',
        transform: function (response) {
          return response;
        }
      }
    });

  javascript:
    $('#channel_collaborator').typeahead({
          highlight: true,
          hint: false,
          minLength: 3
        },
        {
          name: 'users_collaborator',
          source: users_collaborator,
          display: 'handle',
          limit: 25,
          templates: {
            header: '<div class="dataset-header">People</div>',
            suggestion: Handlebars.compile(
                    '<div class="clearfix">' +
                      '<div class="left"><img class="small-avatar" src="{{picture}}", onerror="error_image(this)"/></div>' +
                      '<div class="left clearfix name-handle-wrapper">' +
                        '<div class="user-name breakword">{{name}}</div>' +
                        '<div class="user-handle breakword">{{handle}}</div>' +
                      '</div>' +
                    '</div>'
            )
          }
    });

    $('#channel_follower').typeahead({
          highlight: true,
          hint: false,
          minLength: 3
        },
        {
          name: 'users_collaborator',
          source: users_collaborator,
          display: 'handle',
          limit: 25,
          templates: {
            header: '<div class="dataset-header">People</div>',
            suggestion: Handlebars.compile(
                    '<div class="clearfix">' +
                      '<div class="left"><img class="small-avatar" src="{{picture}}", onerror="error_image(this)"/></div>' +
                      '<div class="left clearfix name-handle-wrapper">' +
                        '<div class="user-name breakword">{{name}}</div>' +
                        '<div class="user-handle breakword">{{handle}}</div>' +
                      '</div>' +
                    '</div>'
            )
          }
    });


    $('#add-collaborator').on('click', function() {
      var handle = $('#channel_collaborator').val();

      // check if entered value is handle or not
      if (handle.charAt(0) != '@') {
        $('#col-alert').text('Invalid handle value! Handle should start with @ .');
        $('#col-alert').show();
        setTimeout(function () { $('#col-alert').hide(); }, 3000);
      }

      else {
        element = "a[data-inf-handle=\\"+handle+"]";

        if ($(element).length == 0) {

          validateHandle(handle);

          // Add input and li elements if handle exists
          if(!((typeof window.datum === 'undefined') || (window.datum == null) )) {
            $('.hidden_authors').append("<input id='input-"+ window.datum.id +"' name='channel[authors][]' type='hidden' value='" + handle + "'>");
            $('.authors-list').append("<li id='li-"+ window.datum.id +"'><span class='admin-name'>"+ window.datum.first_name + " " + window.datum.last_name +" <"+window.datum.handle+"></span><a class='remove right' href='#' data-reveal-id='remove-collaborator-modal' data-id='"+ window.datum.id +"' data-inf-handle='"+ window.datum.handle +"'></a></li>");
            window.datum = null;
            $('#channel_collaborator').val('');
            }
          }

        else {
          $('#col-alert').text('This user already exists in the list.');
          $('#col-alert').show();
          setTimeout(function () { $('#col-alert').hide(); }, 3000);
        }


      }
    });


    $('#add-follower').on('click', function() {
      var handle = $('#channel_follower').val();


      // check if entered value is handle or not
      if (handle.charAt(0) != '@') {
        $('#col-alert').text('Invalid handle value! Handle should start with @ .');
        $('#col-alert').show();
        setTimeout(function () { $('#col-alert').hide(); }, 3000);
      }

      else {
        element = "a[data-follower-handle=\\"+handle+"]";
        // Check if user is already listed
        if ($(element).length == 0) {
          // check if user has already selected from suggestions, if not then check if enetered handle exists in db then assign


          validateHandle(handle);

          // Add input and li elements if handle exists
          if(!((typeof window.datum === 'undefined') || (window.datum == null) )) {
            $('.hidden_followers').append("<input id='follower-input-"+ window.datum.id +"' name='channel[followers][]' type='hidden' value='" + handle + "'>");
            $('.followers-list').append("<li id='li-follower-"+ window.datum.id +"'><span class='admin-name'>"+ window.datum.first_name + " " + window.datum.last_name +" <"+window.datum.handle+"></span><a class='remove right' href='#' data-reveal-id='remove-follower-modal' data-id='"+ window.datum.id +"' data-follower-handle='"+ window.datum.handle +"'></a></li>");
            window.datum = null;
            $('#channel_follower').val('');
          }
        }

        else {
          $('#col-alert').text('This user already exists in the list.');
          $('#col-alert').show();
          setTimeout(function () { $('#col-alert').hide(); }, 3000);
        }
      }
    });


    $('#channel_collaborator').on("keypress", function(e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13) {
                e.preventDefault();
                $('#add-collaborator').click();
            }
    });

    $('#channel_follower').on("keypress", function(e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13) {
                e.preventDefault();
                $('#add-follower').click();
            }
    });

    function validateHandle(handle) {
      $.ajax({
        url:      '/users/'+handle,
        dataType: 'JSON',
        async:false,
        method:   'GET',
        data:     {},
        error: function(jqXHR, textStatus, errorThrown) {
         $('#col-alert').text('User does not exist. Please check the handle you have entered.');
              $('#col-alert').show();
              setTimeout(function () { $('#col-alert').hide(); }, 3000);
        },
        success: function(data, textStatus, jqXHR) {
          window.datum = data;
        }
      });
    };
