- unless true || @influencers.empty?
  = render partial: 'common/users/influencers_list', locals: {influencers: @influencers}

- unless @top_live_video_stream.nil?
  .live-streams.for-channel-page
    ul.small-block-grid-1.medium-block-grid-1.large-block-grid-1
      = render partial: 'common/insights/insight_video_streams', locals: {stream: @top_live_video_stream, status: 'live'}

- if !@past_streams.blank?
  hr
  .section-header
    .section-title Past Streams
  ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
    - @past_streams.each do |stream|
      = render partial: 'common/insights/insight_video_streams', locals: {stream: stream, status: 'past'}


- if !@scheduled_streams.blank? 
  hr
  .section-header
    .section-title Scheduled Streams
  ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
    - @scheduled_streams.each do |stream|
      = render partial: 'common/insights/insight_video_streams', locals: {stream: stream, status: 'upcoming'}

- if @channel.show_authors && @channel_authors.present?
  = render partial: 'common/users/authors_list', locals: {users: @channel_authors}
  .row
    .small-12.columns
      hr
- if @cards.empty?
  
  .row
    .small-12.medium-8.large-8.columns.small-centered.text-center
      = image_tag asset_path('empty-state-cards.jpg'), width: '400'
      br
      br
      - if params[:ct].blank?
        h4
          strong Channels bring you the best content from the EdCast network

        p Follow this Channel to receive the latest Insights from the thought-leaders in this knowledge domain. You can also use hashtags to send your content into this Channel!
      - else
        h4
          strong There seems to be nothing here

        p Please try clearing some of your filters

      br
      br
  

- else
  - if @top_live_video_stream.blank? && @past_streams.blank? && @scheduled_streams.blank?
    - if Settings.features.layout_v4
      = render partial: 'common/insights/insight', locals: {contents: @cards, type: 'Card', show_rationale: false}
      = render partial: 'common/infinite_scroll_pagination'
      
    - else
      = render partial: 'common/cards/cards_list', locals: {show_title: false, cards: @cards, card_list_selector_id: 'card-list-selector-id'}
  - else
    - if Settings.features.layout_v4
      = render partial: 'common/insights/insight', locals: {contents: @cards, type: 'Card', show_rationale: false}
      = render partial: 'common/infinite_scroll_pagination'
      
    - else
      = render partial: 'common/cards/cards_list', locals: {show_title: true, cards: @cards, card_list_selector_id: 'card-list-selector-id'}
  = render partial: 'common/infinite_scroll', locals: {container: '#card-list-selector-id'}

- if user_signed_in?
  - content_for :js do
    = javascript_include_tag('add_to_pack');