.row
  .small-12.columns
    ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5.circles-list
      - channels.each do |channel|
        li
          div.circle.center style="background-image: url('#{channel.photo}');"
            .circle-name = channel.label

- content_for :js do
  javascript:
    $('.circle').click(function(){
      window.location.href = $(this).attr('data-link');
    });
