- content_for :title do
  = 'Manage Channels | EdCast'

.box.manage-channels#list-channels
  .box
    .row.card-form-action-row
      .small-6.columns
        h4.section-title Manage Channels
      .small-6.columns
        - if @can_create_channel
        - else
          = link_to 'Create Channel', 'javascript:;', class: 'button success radius', data: {amplitude_trigger: 'click', amplitude_event: 'channel_create_click', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"sub_class": "channels"}}', :'reveal-id' => 'new-channel-request'}
          = render partial: 'user_pages/channel_request_modal'

- if @channels.any?
  = render 'list', channels: @channels
