= simple_form_for team, html: {multipart: true} do |f|
  .row
    .small-12.columns
      .section-header
        .section-title = team.new_record? ? 'Create a Group' : ''

  .row
    .small-12.columns
      .team-form-container
        .row
          .small-12.columns
            = f.label :name, 'Name', class: 'bold'
          .small-12.columns
            = f.input :name, label: false, :input_html => {maxlength: '50', :data => {:limiter => 50, :tag => '.team-name-character-counter', :submit => '.team-submit'}}
            .team-name-character-counter.character-counter
            span.small-font.faint-post-label
              | / 50 Characters Remaining

        .row
          .small-12.columns
            = f.label :description, 'Description', class: 'bold'
          .small-12.columns
            = f.input :description, label: false, input_html: {maxlength: '200', :data=> {:limiter => 200, :tag => '.team-desc-character-counter', :submit => '.team-submit'}}
            .team-desc-character-counter.character-counter
            span.small-font.faint-post-label
              | / 200 Characters Remaining

        .row
          .small-12.columns
            label.bold Upload a Banner Image
            .small-font Recommended Size: 1440px x 300px
          .small-12.columns
            .img-wrapper
              .file-upload.image_container
                .img_ctrl#banner-upload style="max-width: 200px; margin: 60px auto" class=((team.photo.present? && !team.new_record?) ? 'hide' : '')
                  div.img_btn.text-center
                    = f.input :image, as: :file, label: false, input_html: {class: 'file-input'}
                    i.fi-camera
                    span.upload_text Upload Photo
                .img-wrapper.preview_div class=((team.photo.present? && !team.new_record?) ? '' : 'hide')
                  = image_tag asset_path(team.photo), id: 'team-image', style: 'width: 450px; height: 150px;'
                  i.fi-x-circle.remove_image.cancel-image data-input-name="team[image]"

      br
      br
      .row
        .small-12.columns
          - if !team.new_record?
            a.button.hollow href="javascript:false" data-reveal-id="delete-group-modal" Delete
            #delete-group-modal.reveal-modal.small data-reveal="" aria-labelledby="Delete Group" aria-hidden="true" role="dialog"
              a.close-reveal-modal href="#" &#215;
              .small-12.columns
                h5.strong Deleting Group
                p Are you sure you want to delete this group?
                div.text-right
                  span
                    = link_to 'Delete', team_path(team.id), method: :delete, class: 'button radius'
                  span.right
                    a.close-reveal-modal.close-modal.right.button.radius.transparent href="#" Cancel

          - if team.new_record?
            = link_to 'Cancel', public_user_page_path(handle: current_user.handle_no_at, tab: 'teams'), class: 'right button radius transparent'
          - else
            = link_to 'Cancel', team_path(id: team.id), class: 'right button radius transparent'
          = f.button :submit, 'Save', class: 'right button success radius organization-submit'

      br
      br


-content_for :js do
  javascript:
    // someone make this a jQuery plugin please?
  
    
    function uploadImage(opts) {
      var image = opts.image;
      var input = opts.input;
      var formData = opts.formData;
      var url = opts.url;
      var name = opts.name;
      var inputDiv = opts.inputDiv;


      input.fileupload({
        url: url,
        formData: formData,
        paramName: 'file',
        dataType: 'XML',
        add: function (e, data) {
          formData["Content-Type"] = data.files[0].type;
          data.formData = formData;
          data.submit();
        },
        start: function (e) {
          inputDiv.addClass('hide');
          image.attr('src', #{image_path('loader.gif').to_json.html_safe});
          image.parent().removeClass('hide');
        },
        done: function (e, data) {
          var location = $(data.jqXHR.responseXML).find("Location").text();
          image.attr('src', location);
          var newInput = $("<input />", {type: 'hidden', name: name, value: location})
          data.form.append(newInput);
        }
      });

    };

    uploadImage({
      name: 'team[image]',
      input: $('#team_image'),
      image: $('#team-image'),
      formData: #{@image_upload.fields.to_json.html_safe},
      url: '#{@image_upload.url}',
      inputDiv: $('#banner-upload')
    });

    $(".remove_image").click(function () {
      $(this).closest(".preview_div").addClass('hide');
      $(this).closest(".preview_div").attr('src', "");
      $(this).parent().siblings(".img_ctrl").removeClass('hide');
      var inputName = $(this).attr('data-input-name');
      var newInput = $("<input />", {type: 'hidden', name: inputName, value: ""});
      $('form.edit_team').append(newInput);
    });
