/= render 'common/subnav', tabs: %w[preferences team_membership]

.tabs-content
  #preferences.content.active
    = render 'form', team: @team
  /#team_membership.content
  /  = render partial: 'membership', locals: {team: @team}
