- tabs = @is_admin ? (%w[group_directory content_management]) : (%w[group_directory])

= render 'common/subnav', tabs: tabs

= content_for(:banner) do
  div.bgk-with-overlay.white style="background-image: url('#{@team.photo}');"
    .overlay-less-height
      .row
        .large-8.medium-8.small-12.columns
          .left.section-content
            .channel-public-page.clearfix
              h3.bold.left = @team.name
              .left.banner-label GROUP
            h6.black-font = @team.description
        .medium-4.columns.show-for-medium-up
          .right
            - if @is_admin
              = link_to 'Edit', team_settings_path, class: 'edit-button', style: 'padding-left: 50px;'

.tabs-content
  /#preferences.content
  /  = render 'form', team: @team
  #group_directory class="#{@is_admin ? 'content' : 'content active'}"
    = render partial: 'membership', locals: {team: @team, is_leader: @is_admin, show_follow_all: @show_follow_all}
  - if @is_admin
    #content_management.content
      = render partial: 'content_mgmt', locals: {team: @team}
