- content_for :title do
  = 'Manage Influencers'
br
br
br
.row
  .small-12.columns.large-8.medium-9.small-centered
    h5
      strong Manage Influencers


.row
  .small-12.medium-8.large-7.columns.small-centered
    br

    h6
      strong Add New Influencer

    = form_tag manage_addinfluencers_path, method: :post do
      .row
        .small-9.medium-10.columns
          = text_field_tag(:handle, '', placeholder: '@handle')
        .small-3.medium-2.columns  
          = submit_tag('Add',  class: 'button radius success right')
      .row
        .small-12.columns.text-center
          => check_box_tag 'visible'
          = label_tag 'visible', 'visible during onboarding'

.row
  .small-12.medium-8.large-7.columns.small-centered
    hr
    ul.influencers-list
      = form_tag manage_updateinfluencersvisibility_path, method: :patch do
        - @influencers.each do |inf|
          li
            .small-6.columns
              span.admin-name
                = inf.name
                | &nbsp;<
                = inf.handle
                | >
            .small-5.columns
              => check_box_tag "visible_ids_#{inf.id}",
                              inf.id,
                              inf.global_influencer.visible_during_onboarding,
                              name: 'visible_ids[]'
              = label_tag "visible_ids_#{inf.id}", 'visible during onboarding'
            .small-1.columns
              a.remove.right href="#" data-reveal-id="remove-modal" data-id="#{inf.id}" data-inf-handle="#{inf.handle}"
        = submit_tag('Save Changes', class: 'button radius right')

#remove-modal.reveal-modal.small.common-modal aria-hidden="true" aria-labelledby="Remove influencers" data-reveal="" role="dialog"
  .row
    .small-12.columns
      h5 
        strong Remove Global Influencer 
        
  .row
    .small-12.columns
      p 
        | Are you sure you want to remove "
        span.handle-name  
        | " as an influencer?      
  .text-right
    = form_tag manage_removeinfluencers_path, method: :delete do
      .hidden-field
      br
      
      = submit_tag('Confirm and Remove', class: 'button radius')
      a.button.radius.transparent.right href="javascript:" onclick="$(this).closest('.reveal-modal').foundation('reveal', 'close');" Cancel
  
  a.close-reveal-modal aria-label="Close"  ×
br
br
br
br              

- content_for :js do 
  javascript:
    $('a.remove').on('click', function() {
      var id = $(this).attr( "data-id" );
      var handle = $(this).attr( "data-inf-handle" );
      $( ".hidden-field" ).html( "<input id='handle' name='user_id' type='hidden' value='" + id + "'>" );
      $("span.handle-name").text(handle);
    });

    $(document).on('closed', '[data-reveal]', function () {
      $( ".hidden-field" ).html( "" );
    });
