<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{subject}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <style>
.footerContent   a:link {
	color:	#148ecd;
	font-weight:	normal;
	text-decoration:	underline;
}
.footerContent   a:visited {
	color:	#148ecd;
	font-weight:	normal;
	text-decoration:	underline;
}

</style></head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; height: 100% !important; width: 100% !important; background-color: #fff;">
      <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important; height: 100% !important; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 100% !important; background-color: #fff;">
          <tr>
            <td align="center" valign="top" id="bodyCell" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; height: 100% !important; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; width: 100% !important; background: rgb(240 , 241 , 244);">
              <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important; margin-top: 15px; margin-right: 15px; margin-bottom: 15px; margin-left: 15px;">
                <tr>
                  <td style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important;">
                      <tr>
                        <td align="center" valign="top" class="email-header-td" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; background-color: #0E487F; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; border-radius: 3px;">
                            <a href="http://edcast.com/settings?utm_source=newsletter&utm_medium=logo&utm_campaign=onboard060915" target="_blank" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"><img align="left" height="32" src="https://www.qut.edu.au/__data/assets/image/0005/356864/qut-logo.png" style="width: auto; height: 52px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border: 0; line-height: 100%; outline: none; text-decoration: none;" width="102"></a>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-top: 6px; padding-right: 6px; padding-bottom: 6px; padding-left: 6px; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"></td>
                      </tr>
                      
                      <tr id="templateGreeting" style="width: 100%;">
                        <td align="left" valign="top" class="padding-left-right-25" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; background-color: #fff; border-radius: 3px 3px 0 0; padding-top: 0; padding-right: 25px; padding-bottom: 0; padding-left: 25px;">
                          <table border="0" cellpadding="0" cellspacing="0" class="templateBody" width="100%" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important; background-color: #fff;">
                            <tr>
                              <td align="left" valign="top" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important;">
                                    <tr>
                                       
                                        <td align="left" class="course-image-wrapper" valign="top" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; text-align: center;">
                                            <div class="column" style="display: inline-block; width: 175px; vertical-align: top;">
                                                <br><br>
                                                <img src="{{group.group_image}}" class="course-image" alt="" width="120" height="80" style="border: 0; height: 80px; line-height: 100%; outline: none; text-decoration: none; vertical-align: middle; width: 120px;">
                                                <br><br>
                                            </div>
                                            <div class="column" style="display: inline-block; width: 300px; vertical-align: top; text-align: left;">
                                                <br><br>
                                                <small class="faint" style="color: #aaa; font-family: Geneva , Helvetica , Arial; font-size: 12px;">{{group.group_organization}}</small>
                                                <p style="font-size: 16px; font-family: Arial; margin-bottom: 10px; margin-top: 5px; max-width: 300px; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"><b style="font-weight: 100;">{{group.group_name}}</b></p>
                                                <small class="faint" style="color: #aaa; font-family: Geneva , Helvetica , Arial; font-size: 12px;">{{group.group_term}}</small>
                                            </div>
                                            
                                        </td>
                                        
                                    </tr>
                                    
                                </table>
                              </td> 
                            </tr>
                            <tr>
                                <td style="text-align: center; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                    <p class="middlet-text" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; color: #aaa; font-family: Geneva , Helvetica , Arial; font-size: 18px;">
                                        Personalized daily digest for {{user_name}}
                                    </p>
                                    <hr>
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            {{#posts}}
                            <tr>
                              <td style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                <table border="0" cellpadding="0" cellspacing="0" class="templateBody complimentary" width="100%" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important; background-color: #fff; border-top: 0px solid #FFFFFF; border-bottom: 0px solid #CCCCCC; margin-top: 15px;">
                                  <tr>
                                    <td class="avatar-wrapper" align="left" valign="top" width="50" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; text-align: center;">

                                      <img class="follower-avatar" src="{{this.creator_avatar}}" alt="" width="40" height="40" style="border: 0; height: 40px; line-height: 100%; outline: none; text-decoration: none; vertical-align: middle; width: 40px; border-radius: 50%;">
                                      <br>
                                    <br>
                                    </td>
                                    <td align="left" valign="top" width="300" class="inline-div" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; padding-left: 10px;">
                                        <small class="avatar-name" style="font-family: Geneva , Helvetica , Arial; font-size: 12px;">{{this.creator_name}}</small>
                                        <p class="discussion-title" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; margin-top: 8px; margin-right: 0; margin-bottom: 3px; margin-left: 0; color: #148ecd; font-family: Arial; font-weight: 100; font-size: 16px;">{{this.title}}</p>
                                        <small class="faint dsc-body" style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 300px; display: block; color: #aaa; font-family: Geneva , Helvetica , Arial; font-size: 12px;">{{striptags this.message}}</small>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important;">
                                            <tr>
                                                <td style="text-align: center; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                                    <div class="column" style="display: inline-block; width: 120px; vertical-align: top; text-align: center;">
                                                        <div style="padding-top: 10px; height: 10px;"></div>
                                                        <img src="{{this.resource_img}}" class="course-image" alt="" width="120" height="80" style="border: 0; height: 80px; line-height: 100%; outline: none; text-decoration: none; vertical-align: middle; width: 120px;">
                                                        <br><br>
                                                    </div>
                                                    <div class="column" style="display: inline-block; width: calc(100% - 130px); vertical-align: top; text-align: left; min-width: 170px; padding-left: 5px; min-height: 110px;">
                                                        <div style="padding-top: 10px; height: 10px;"></div>
                                                        <small class="faint dsc-body resource-title" style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 300px; display: block; color: #aaa; font-family: Geneva , Helvetica , Arial; font-size: 12px;">{{this.resource_site}}</small>
                                                        <p class="dsc-body" style="font-size: 16px; font-family: Arial; margin-bottom: 5px; margin-top: 5px; max-width: 300px; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;"><b style="font-weight: 100;">{{this.resource_title}}</b></p>
                                                        <small class="faint resource-message" style="color: #aaa; font-family: Geneva , Helvetica , Arial; font-size: 12px; display: block; display: -webkit-box; max-width: 100%; max-height: 35px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; line-height: 1.4; overflow: hidden;">{{this.resource_desc}}</small>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important;">
                                        <tr>
                                            <td style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                                <p style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"></p>
                                                <img src="http://www.edcast.com/assets/like_pink.jpg" alt="Like" width="13" height="13" style="vertical-align: middle; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                                                <span class="count" style="font-size: 11px; vertical-align: middle; font-family: Geneva , Helvetica , Arial;">{{this.votes_count}}</span>
                                            </td>
                                            <td style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                                <p style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"></p>
                                                <span class="count-label" style="font-size: 12px; font-family: Geneva , Helvetica , Arial;">Comments</span>
                                                <span class="count" style="font-size: 11px; vertical-align: middle; font-family: Geneva , Helvetica , Arial;">{{this.comments_count}}</span>
                                            </td>
                                            <td style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                                <p style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"></p>
                                                <a class="link" href="{{this.deep_url}}" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; color: #148ecd; font-weight: normal; font-size: 12px; font-family: Geneva , Helvetica , Arial;">Read More</a>
                                            </td>
                                        </tr>
                                        </table>

                                        <br>
                                    <br>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            {{/posts}}
                            <tr>
                            <td style="text-align: center; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                
                                <a align="center" class="button-td goto-course-link" href="{{group.group_url}}" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; background-color: #e03f7d; color: #fff; font-size: 12px; text-decoration: none; width: 142px; height: 34px; padding-top: 10px; padding-right: 40px; padding-bottom: 10px; padding-left: 40px; border-radius: 5000px; line-height: 34px; text-align: center; font-family: Geneva , Helvetica , Arial; margin-bottom: 20px;">View More</a>
                                
                                <br>
                                <br>
                            </td>
                        </tr>

                          </table>
                        </td>

                        </tr>
                        
                        
                        <tr>
                          <td align="center" valign="top" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                            <table border="0" cellpadding="0" cellspacing="0" id="templateFooter" width="100%" style="width: 100% !important; -webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; border-collapse: collapse !important; background-color: #fff; border-radius: 0 0 3px 3px; margin-bottom: 21px;">
                              <tr>
                                <td class="footerContent" valign="top" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; color: #555555; font-family: Arial; font-size: 11px; line-height: 150%; padding-top: 20px; padding-right: 25px; padding-bottom: 0; padding-left: 25px; text-align: center; border-top: 1px solid #ccc;">
                                  <p style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                    You are receiving this email because you are enrolled in {{group.group_name}}.
                                    <br>
                                    Please do not reply directly to this email.
                                    <br>
                                  </p>
                                    <p style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                        <a href="{{unsubscribe_url}}" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">Click here to unsubscribe.</a>
                                    </p>
                                  <p style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">
                                    If you have any questions, please contact&nbsp;<a href="http://studentsupport.edcast.com/" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;">support</a>.<br><a href="http://www.edcast.com/" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%;"> www.edcast.com</a>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td id="socialControls" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; text-align: center; padding-bottom: 25px;">
                                  <a href="https://www.facebook.com/EdCast" class="social-link" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; margin-top: 20px; margin-right: 15px; margin-bottom: 20px; margin-left: 15px; display: inline-block; width: 35px; height: 35px;">
                                    <img src="http://www.edcast.com/assets/facebook.png" height="35" width="35" style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                                  </a>
                                  <a href="https://twitter.com/edcast" class="social-link" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; margin-top: 20px; margin-right: 15px; margin-bottom: 20px; margin-left: 15px; display: inline-block; width: 35px; height: 35px;">
                                    <img src="http://www.edcast.com/assets/twitter.png" height="35" width="35" style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                                  </a>
                                  <a href="https://plus.google.com/+EdCastNetwork/" class="social-link" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; margin-top: 20px; margin-right: 15px; margin-bottom: 20px; margin-left: 15px; display: inline-block; width: 35px; height: 35px;">
                                    <img src="http://www.edcast.com/assets/gmail.png" height="35" width="35" style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                                  </a>
                                  <a href="https://www.linkedin.com/company/edcast" class="social-link" style="-webkit-text-size-adjust: 120%; -ms-text-size-adjust: 120%; margin-top: 20px; margin-right: 15px; margin-bottom: 20px; margin-left: 15px; display: inline-block; width: 35px; height: 35px;">
                                    <img src="http://www.edcast.com/assets/linkedin.png" height="35" width="35" style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table></td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            
          
        
      </center>
      <div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp;
</div>

    </body>
</html>