- content_for :title
  | Developer Docs

- content_for :head
  = stylesheet_link_tag 'prism'  

.bgk style="background-image: url(#{image_url('developer_page3.png')});"
  .row
    .small-12.columns
      h1.white-font Documentation
   
br
.row
  .small-12.medium-5.large-4.columns
    h6
      strong Getting Started

    div data-magellan-expedition="fixed" 
      dl.sub-nav
        dd data-magellan-arrival="authenticate" 
          a.edcast-blue href="#authenticate" style="color: #4292c9; background-color: #f2f2f2;"  Authenticating Your Application

    h6
      strong Endpoints

    div data-magellan-expedition="fixed" 
      dl.sub-nav
        dd data-magellan-arrival="accessTokens" 
          a.edcast-blue href="#accessTokens"  style="color: #4292c9;" Access Tokens and User Authentication 

        dd data-magellan-arrival="cardCreation" 
          a.edcast-blue href="#cardCreation"  style="color: #4292c9;" Card Creation and Publishing

    h6
      strong Web plugins
    div data-magellan-expedition="fixed"
      dl.sub-nav
        dd data-magellan-arrival="sharing"
          a.edcast-blue href="#sharing" style="color: #4292c9;" Sharing
        


  .small-12.medium-7.large-8.columns
    .row
      .small-12.columns
        h3 data-magellan-destination="authenticate" 
          strong Authenticating Your Application
        a name="authenticate"
        hr

        h4 Introduction
        p On the web, EdCast uses the OAuth2.0 protocol for confirming a user's identity (authentication) as well as control of what data and permissions they will share with your application (authorization). Your application will first need an API key to identify itself to EdCast in order to access the user authentication and publishing endpoints. 

        h4 Authorizing API requests
        p Every request that your application sends to the EdCast API needs to identify your application to EdCast. You can use the API key you get when defining your project to identify your application. To use the endpoints for user authentication and card creation, you will use an OAuth 2.0 access token. You should always use an access token when you are making calls on behalf of a given user.

        h4 Acquiring an API key
        p
          | You will first need an API key and shared secret from EdCast to authenticate your widget. Please head over to your dashboard (
          = link_to 'dashboard', "#{dev_manage_path}#/clients" 
          | ) and generate your API key and secret.
        p 
          | The API key is safe for embedding in URLs; it doesn't need any encoding.
        p 
          | Your application's API key will be in the following format:

        pre 
          code.language-css 
            | 60442bf0d0a994b42c2cc98a8e78ad51


        br
        br 
        br

        h3 data-magellan-destination="accessTokens" 
          strong
            | Access Tokens and User Authentication 
        a name="accessTokens"    
        hr
        p When someone connects with your application using EdCast OAuth 2.0 authentication, the application will be able to obtain an access token which provides temporary, secure access to EdCast APIs. An access token is an opaque string that identifies a user and can be used by the application to make EdCast API calls. The token includes information about when the token will expire and which application generated the token. Because of privacy checks, the majority of API calls on EdCast need to include an access token. 

        p You must create your own button or link to launch the OAuth 2.0 authentication flow. The following is a simple example that uses jQuery to modify a link to trigger the flow. Replace YOUR_CLIENT_ID with your API key. Populate the state parameter with a unique value that you also write to the user's session or a cookie for later verification.

        p 
          | This link will take the user to EdCast where they can choose to authorize your app. If they approve your app, they are redirected back to your site at the URL indicated in the redirect_uri query parameter, which in the example below is https://www.yourdomain.com/callback/path.

        pre 
          code.language-markup 
          
            | &lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" >
            | &lt;/script>
            
          code.language-markup   
            | ...
            
          code.language-markup    
            | &lt;a href="#" id="signInButton">Sign in with EdCast
            | &lt;/a>
            
          code.language-markup    
            |...
            
          code.language-markup    
            | &lt;script type="text/javascript">
                  $(document).ready(function() {
                    $('#signInButton').click(function() {
                      $(this).attr('href','https://www.edcast.com/oauth/authorize?scope=' +
                        'publish&' +
                        'state=YOUR_UNIQUE_STATE_VALUE&' +
                        'redirect_uri=https://www.yourdomain.com/callback/path&'+
                        'response_type=code&' +
                        'client_id=YOUR_CLIENT_ID);
                        return true; // Continue with the new href.
                    });
                  });
          code.language-markup          
            | &lt;/script>  

        br
        p 
          | Next, you will handle the callback at the redirect URI.

        code.language-markup
          | https://www.yourdomain.com/callback/path/?
            code=c10fab4a68a413cfa236d35668a835047727aaa42bcf0d542dad8c0d00aac7ee
            &state=YOUR_UNIQUE_STATE_VALUE
        br
        p
          | The first step in handling the callback at your redirect URI is to verify that the CRSF token that you set in the state parameter matches the value that you stored for the user in a session variable or cookie to ensure that the request is not forged.
        p
          | After you verify that the request is authentic, you can read the query parameters to get the authorization code from the code parameter that is passed when the user approves the request. If the error parameter is present the user decline to grant your app access and you can handle that situation.
        p
          | The following example demonstrates how to read the code parameter and exchange the code for access and refresh tokens:

        pre 
          code.language-markup
            | Request:
              curl -F grant_type=authorization_code \
              -F client_id=60442bf0d0a994b42c2cc98a8e78ad51 \
              -F client_secret=beb83049b8bbea5fd892f4f9fd979ea6a0f051d608832fda832b7e5bedad8b80 \
              -F code=fd0847dbb559752d932dd3c1ac34ff98d27b11fe2fea5a864f44740cd7919ad0 \
              -F redirect_uri=urn:ietf:wg:oauth:2.0:oob \
              -X POST https://www.edcast.com/oauth/token

              Response:
              {
                "access_token":"dbaf9757982a9e738f05d249b7b5b4a266b3a139049317c4909f2f263572c781",
                "token_type":"bearer",
                "expires_in":7200,
                "refresh_token":"76ba4c5c75c96f6087f58a4de10be6c00b29ea1ddc3b2022ee2016d1363e3a7c",
                "scope":"publish"
              }

        br
        p Now that you have an access token on your server, you can use that token to make API calls on behalf of the user. The access tokens that you get expire approximately every hour, when they expire, you use the refresh token to get a new access token. If you use the client libraries, this refresh token exchange is handled for you.

        br
        br 
        br

        h3 data-magellan-destination="cardCreation" 
          strong Card Creation and Publishing
        a name="cardCreation"

        hr

        p After requesting for an access token, you can make API calls on behalf of the user. The card creation API allows your application to publish cards to EdCast on behalf of the user.

        p You can invoke the EdCast card creation endpoint by making a POST request to:

        pre
          code.language-markup 
            | https://www.edcast.com/api/cards

        br    

        p The EdCast card creation endpoint accepts the following parameters in the request body:
        
        table cellspacing="0"
          thead
            tr
              th width="100" Parameter
              th Description
          tbody    
            tr
              td link
              td The link to share. Should be url encoded. Required. We extract other details such as link image, title and description ourselves

            tr 
              td title
              td Optional, link title will be used if not provided
            tr
              td message
              td Required, link description will be used if not provided

        br
        br

        h3 data-magellan-destination="sharing"
          strong Sharing
          a name="sharing"
          hr
          p
            | The share dialog will allow your website visitors to directly share your page to EdCast.
          h4 Custom integration
          p You can directly create a button to open the share dialog when the user clicks on it.
          pre
            code.language-markup
              | &lt;a target="_blank" href="https://www.edcast.com/dialog/share?
                link=https%3A%2F%2Fwww.yourdomain.com%2Fpath%2Fto%2Fyour%2Fpage&
                display=popup&
                redirect_uri=https%3A%2F%2Fwww.yourdomain.com%2Fpath%2Fafter%2Fsharing">
                Share to EdCast&lt;/a>
          br
          h4 JavaScript SDK Integration
          p You can also use the provided EdCast JavaScript SDK to generate the share button.
          pre
            code.language-markup
              |&lt;script>(function(d, s, id) {
                var js, firstJs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//www.edcast.com/assets/widget/sdk.js";
                firstJs.parentNode.insertBefore(js, firstJs);
               }(document, 'script', 'edcast-jssdk'));&lt;/script>
               &lt;div class="ed-share" data-text="Share" data-link="https://www.yourdomain.com/path/to/your/page"
               data-redirect-uri="https://www.yourdomain.com/path/after/sharing">&lt;/div>
          br
          p Description of the share dialog parameters
          table cellspacing="0"
            thead
              tr
                th width="100" Parameter
                th Description
            tbody
              tr
                td link
                td The link to share. Should be url encoded when using custom integration. Required

              tr
                td display
                td Optional. Default to popup
              tr
                td redirect_uri
                td Where to send the user to after finished sharing. If not provided then the share dialog will simply disappear. Should be url encoded when using custom integration. Optional




- content_for :js
  = javascript_include_tag 'prism'          


