- content_for :title
  | Features
div.wrapper
  .row#banner-img-wrapper style="background-image: url(#{image_url('dev_dashboard_c.jpg')})"
    #image-top-div
      .title
        | EdCast Features
  .wrapper-container
    .row.pt40
      h4 EdCast Forum features
      p The edcast forum is packed with features that help you manage a user base of any size
      .row.feat
        .columns.small-6
          = image_tag asset_path("features_2_demo.png")
        .columns.small-6
          h4  Insights
          ul
            li
              | Trending list shows the instructor posts that are most frequently viewed and discussed by the learners
            li
              | Helps staff gain immediate context on their impact through and the reception of the course material
            li
              | The list selects the most relevant questions from the constant stream in the live forum
            li
              | Forum analytics that leverages integration with edX to help faculty adapt and improve future offerings

          h4  Style
          ul
            li
              | Clean, flat, uncluttered design
            li
              | Neutral design language for synchronicity with the edX interface
            li
              | Designed to not look like a webpage in a webpage
            li
              | No redirects to external websites and services

      .row.feat
        .columns.small-6
          h4  Email Notifications
          ul
            li
              | Email notifications sent to users with new activity on these questions
            li
              | Deep links in every email notification that brings users back into edX on the specific question in the specific course
            li
              | No redirects to external standalone websites
            li
              | Closed loop for user retention

          h4  Social Sharing
          ul
            li
              | Share your questions from the forum to your social networks
            li
              | Every shared post links back to the edX course
            li
              | The edX course is prominently featured in the shared post
        .columns.small-6
          = image_tag asset_path("features_1_demo_reversed.png")

      .row.feat
        .columns.small-6
          = image_tag asset_path("features_4_demo.png")
        .columns.small-6
          h4  Improved Experience
          ul
            li
              | Search, filters, and tags for flexible navigation of the posts stream
            li
              | Sharing supplementary content through links - embeddable videos, images, and snippet extraction from articles
            li
              | Rich-text editor for flexibility in the compose windows

          h4  User Specificity
          ul
            li
              | Student-specific view for full forum activity stream
            li
              | Faculty-specific view with unique tools for management - reports, priority list, trending tags, and additional filters
            li
              | Read/unread state personalized for every forum user

      .row.feat
        .columns.small-12
          h4 Integration
          ul
            li
              | Designed keeping edX’s architecture as the core focus
            li
              | Maximizes the use of LTI standards, and stays compliant with its best practices
            li
              | Most configurations are automatic and standards-based
            li
              | Built on a robust and stable architecture that is designed to scale
            li
              | Regular automatic updates that bring fixes, new features, and improvements
