div.wrapper
  .row#landing-img-wrapper style="background-image: url(#{image_url('edcast-home-banner.jpg')})"
    .small-6.columns.left-container

      #image-top-div
        .title
          | Extend Your Reach
        .tag-line
          | EdCast Social Collaboration Tools.
    - unless user_signed_in?
      .small-6.columns.right-container
        table.beta-registration-table
          td valign='middle'
            #beta-registration-right-div
  .row.feat.pt20
    .columns.small-4
      = image_tag asset_path("faculty_friendly_infographics_b-01-01-01.png")
    .columns.small-7.pt40
      h3
        | Faculty-friendly
      .content.pt20
        | EdCast comes packaged with unique functionality and insights to help the Instructor address the most pressing activity in the forum. The utility works to help you, the Instructor, understand the health of your class effortlessly.
  .row.feat
    .columns.small-7.pt40
      h3
        | Saves Time
      .content.pt20
        | Additional workflow improvements help the Instructor to manage all forum tasks in one place - answering questions, tending to reports, and approving posts. With EdCast Insights&trade;, you'll always know exactly what you need to pay attention to.
    .columns.small-4
      = image_tag asset_path("saves_time_infographics-01-01.png")
  .row.feat
    .columns.small-4
      = image_tag asset_path("enhances_communication_infographics-01-01.png")
    .columns.small-7.pt40
      h3
        | Enhances Communication
      .content.pt20
        | With rich text formatting and in-line media snippets, sharing supplementary content on the forum is more intuitive and seamless. Email notifications ensure that both learners and faculty are always kept updated with activity they've subscribed to. With upvotes and faculty approvals, your learning community can always make sure that the best content bubbles up.
  .row.feat
    .columns.small-7.pt40
      h3
        | Easy to Join
      .content.pt20
        | EdCast adapts to present different views to different users, keeping form and functionality aligned with user roles in the learning community. So users will automatically have full access to the utilities and features, while Instructor will have instanct admin control, with no additional configuration or signup required.
    .columns.small-4
      = image_tag asset_path("easy_to_join_infographics-01-01.png")
  .row.feat
    .columns.small-4
      = image_tag asset_path("Scalable_infographics-01.png")
    .columns.small-7.pt40
      h3
        | Scalable and Secure
      .content.pt20
        | As a completely hosted service, EdCast is built on a scalable and elastic architecture. So you will have the same great experience, from a community of 100 to a 100,000 learners. All your data and activity is protected and secure, with no third-party divulsion.

