- content_for :title
  | Features
div.wrapper
  .row#banner-img-wrapper style="background-image: url(#{image_url('dev_dashboard_c.jpg')})"
    #image-top-div
      .title
        | Developer Dashboard
  .wrapper-container
    .row.pt40
      h4 EdCast Developer Dashboard
      .row.feat
        .columns.small-6
          = image_tag asset_path("features_2_demo.png")
        .columns.small-6
          h3 Invite an Admin Developer
          = form_tag dev_invitation_path, method: :get do
            = label_tag "client_id", "Select the Client:"
            = select_tag "client_id", options_from_collection_for_select(@clients, "id", "name")
            = text_field_tag(:first_name, "", placeholder: "First Name")
            = text_field_tag(:last_name, "", placeholder: "Last Name")
            = text_field_tag(:email, "", placeholder: "developer email")
            = submit_tag("Invite")


