- content_for :title
  | Features
div.wrapper
  .row#banner-img-wrapper style="background-image: url(#{image_url('dev_dashboard_c.jpg')})"
    #image-top-div
      .title
        | Developer Admin
  .wrapper-container
    .row.pt40
      h4 EdCast Developer welcome
      .row.feat
        .columns.small-6
          = image_tag asset_path("features_2_demo.png")
        .columns.small-6
           h2= "Welcome #{@invitation.full_name}"
           h5 = "You have been invited to join...#{@invitation.client.name}"
           = form_tag dev_admin_create_path do
             = hidden_field_tag(:client_id, @invitation.client.id)

             = fields_for :user do |ff|
               = ff.text_field(:first_name, value: @invitation.first_name)
               = ff.text_field(:last_name, value: @invitation.last_name)
               = ff.text_field(:email, value: @invitation.recipient_email)
               = ff.password_field(:password, placeholder: "Enter your password.", autofocus: "autofocus")
               = ff.password_field(:password_confirmation, placeholder: "Enter your password confirmation.")

             = submit_tag("Join")