- if !@error_code.blank? || @widget
  javascript:
    if (#{@should_close_tab} && opener && opener != window) {
      window.close();
    } else {
      window.location.href = #{@target_url.to_json.html_safe};
    }
- else
  javascript:
    if (#{@should_close_tab} && opener && opener != window){
      if (#{@cb.present?}) {
        opener.ga && opener.ga('send', 'event', 'social.auth', 'social.auth.success', '#{params[:provider]}');
        opener['#{@cb}']('#{@provider}', #{(render partial: 'users/details', formats: ['json'], locals: {user: @user, anonymous: nil, include_email: true}).html_safe}, #{@target_url.to_json.html_safe}, #{@authenticity_token.to_json.html_safe});
      } else {
        try {
          !!opener.location.href; // If this throws an error, not from the same domain
          opener.location.href = #{@target_url.to_json.html_safe};
          window.close();
        } catch(e) {
          window.location.href = #{@target_url.to_json.html_safe};
        }
      }
    } else {
      window.location.href = #{@target_url.to_json.html_safe};
    }
