= render 'common/default_meta_tags'

= render 'common/home_banner'

.row
  .small-12.columns.text-center
    .section-title
      h3 Resend Confirmation Instructions


.row
  .small-10.small-centered.medium-6.medium-centered.large-4.large-centered.columns
  	= simple_form_for(resource, :as => resource_name, :url => user_confirmation_path) do |f|
	  .row
		.small-12.columns
          = f.input :email, :autofocus => true, required: true, label: false, autofocus: true, placeholder: 'Email address', error_html: { class: 'error'}
	  .row
		.small-12.columns
          = f.submit "Resend confirmation instructions", class: 'button radius success expand'
	
	  .row
		.small-12.columns.text-center
          = render "devise/shared/links"

br
br 
br
br 
br
br 			

