<% first_name = simplify_encoded_string(vars['added_channel_follower_admin'][0]['first_name']) %> 
<% last_name = simplify_encoded_string(vars['added_channel_follower_admin'][0]['last_name'])%> 
<%= first_name.present? ? "#{first_name} #{last_name}" : "Admin" %> has added the below <%= 'follower'.pluralize(vars['added_channel_follower_admin'][0]['followers']['count'].to_i + vars['added_channel_follower_admin'][0]['teams']['count'].to_i) %> <%= simplify_encoded_string(vars['added_channel_follower_admin'][0]['channels']['channel_string'])  %>