<%= simplify_encoded_string(vars['new_smartbite_comment'][0][:commenter][:first_name]) %> <%= simplify_encoded_string(vars['new_smartbite_comment'][0][:commenter][:last_name]) %> commented on your SmartCard "<%= simplify_encoded_string(vars["new_smartbite_comment"][0][:card][:title]) %>"
