<% subject_text = simplify_encoded_string(vars['new_content_by_followed_user'][0][:card][:title]) %>
<%= vars['new_content_by_followed_user'][0][:card][:author_name] %> posted a new  <%= vars['new_content_by_followed_user'][0][:card][:content_type]%>: <%= subject_text %>
