.row
  .small-12.columns
    .section-header
      .section-title Channel Authors
.row
  .small-12.columns
    ul class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-2' : '.small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
      - users.each do |usr|
        = render partial: 'common/users/user_card', locals: {usr: usr, mode: 'channel author'}