- lessCount = (influencers.count < 6)
.row
  .small-12.columns
    .section-header
      .section-title Influencers
    .row
      .small-12.columns
        ul class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-2' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
          - influencers.each do |influencer|
            - if influencer == influencers.last
              = render partial: 'common/users/influencer', locals: {influencer: influencer, lastInfluencer: true}
            - else
              = render partial: 'common/users/influencer', locals: {influencer: influencer, lastInfluencer: false}
