- following        = current_user.try(:following?, influencer)
- follow_link_text = following ? 'Following' : 'Follow'
- request_link     = current_user ? follows_path(user_id: influencer.id) : nil

li
	.user-card.clearfix
	  .left.user-image
	    = image_tag influencer.photo, class: 'avatar-default small-circle'
	  .left.user-details style="padding: 0; max-width: calc(100% - 95px);"
	  	.author-name.truncate
	    	= influencer.name
	    br
	    = configure_follow_link(opts: { followable: influencer, user: current_user, css_class: 'button' }, show_image: false)
