- if local_assigns[:users].present?
  - title ||= 'EdCasters'
  .row#users-list
    .small-12.columns#users-list-column
      .section-header
        .section-title #{title}
        - if local_assigns[:description]
          .section-description #{description}
      ul.cards-list#user-search-results style="list-style: none;"
        - users.each do |usr|
          = render partial: 'common/users/user_card', locals: {usr: usr, mode: local_assigns[:mode]}

  - content_for :js do
    javascript:
      (function(){
        var loader = $('<div style="display: none;"><img alt="Ed loader square gif" src="/assets/ed_loader_square_gif.gif" style="height: 28px;"><br/>Loading...</div>');
        var moreButton = $('#load-more-users');
        $(moreButton).after(loader);
        $(moreButton).click(function(e) {
          e.preventDefault();
          var _linkDom = this;
          $(_linkDom).hide();
          loader.show();
          $.ajax({
            url: $(_linkDom).data('next-url'),
            data: {format: 'inline'},
            success: function (data, textStatus, xhr) {
              var nextUrl = xhr.getResponseHeader('X-Next-Url');
              loader.hide();
              if (nextUrl) {
                $(_linkDom).show();
                $(_linkDom).data('next-url', nextUrl) ;
              } else {
                _linkDom.remove();
              }
              $('#user-search-results').append(data);
            }
          });
        });
      })();

