li
  .user-card
    .user-card-inner.clearfix
      .user-image.left.search-avatar onclick=(usr.handle && "window.location.href='#{public_user_page_path(handle: handle_no_at(usr.handle))}'") data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{usr.id}"}}'
        = user_image_avatar(usr.photo, class: 'medium-avatar', width: '65', height: '65')
        - if usr.is_suspended
          img.search-user-suspend-icon src="#{asset_url('suspended_user_icon.png')}"

      .left.user-name-wrapper
        .user-name.truncate data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{usr.id}"}}' onclick=(usr.handle && "window.location.href='#{public_user_page_path(handle: handle_no_at(usr.handle))}'")
          - if usr.first_name || usr.last_name
            = usr.first_name
            | &nbsp;
            = usr.last_name
          - else
            = usr.email

        .bio.truncate
          = usr.handle
        .mute-font.small-font = "#{usr.followers_count} Followers"

      .right
        - if user_signed_in? ? usr.id != current_user.id : true
          - opts = { followable_id: usr.id, followable_type: 'User', user: current_user, css_class: 'button hollow wout-logo' }
          - opts.merge!(mode: mode) if local_assigns[:mode]
          = configure_follow_link(opts: opts, show_image: false)

