.contain-to-grid.fixed.header-wrapper
  nav.top-bar#header data-topbar="" data-options="is_hover: false"
    ul.title-area
      li.name
        = link_to image_tag('edcast_logo.png', class:'edc-logo'), root_path
      li.toggle-topbar
        a href="#"
          img.small-avatar src="#{current_user.avatar.url}"

    section.top-bar-section
      - if current_user
        ul.right
          li
            a href="#"
              img.small-avatar src="#{current_user.avatar.url}"
              span.alt-text = current_user.name.titlecase

      - else
        ul.right
          li
            = link_to 'Login', new_user_session_path


.row
  .small-12.medium-8.large-6.small-centered.columns
    .section-title
      h3.text-center
        |#{@pre_auth.client.name.titlecase} would like your permission to:
    ul style="list-style: none;"
      li.checkmark style="margin-bottom: 5px;" View your basic profile information on EdCast
      li.checkmark style="margin-bottom: 5px;" Publish content on your behalf to your EdCast Page
.row
  .small-12.medium-8.large-6.small-centered.columns
    .section-title.text-center
      span style="display: inline-block;"
        = form_tag oauth_authorization_path, method: :post do
          = hidden_field_tag :display, params[:display]
          = hidden_field_tag :client_id, params[:client_id]
          = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
          = hidden_field_tag :state, @pre_auth.state
          = hidden_field_tag :response_type, @pre_auth.response_type
          = hidden_field_tag :scope, @pre_auth.scope
          = submit_tag 'Accept', class: "button radius"
      span style="display: inline-block; margin-left: 1rem;"
        = form_tag oauth_authorization_path, method: :delete do
          = hidden_field_tag :display, params[:display]
          = hidden_field_tag :client_id, params[:client_id]
          = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
          = hidden_field_tag :state, @pre_auth.state
          = hidden_field_tag :response_type, @pre_auth.response_type
          = hidden_field_tag :scope, @pre_auth.scope
          = submit_tag 'Cancel', class: "button radius secondary"

- if Organization.find_by_host_name(request.host.split('.').first) == Organization.default_org
  .row
    .small-12.columns.text-center
      | Sign in your #{link_to 'team on EdCast here', choose_organization_path(next: request.fullpath)}


