<% if @user_suspended %>
	<%= javascript_tag do %>
	 	$(".flash-alert").html('<div class="alert-box radius flash error" data-alert="">Invalid Request. Your account has been suspended. Please contact your team or edcast administrator for further details.<a class="close" id="flash-close"> &times;</a></div>');
	 	$('html, body').animate({'scrollTop': '-=1000px'}, 500);
  <% end %>
<% end %>
$('meta[name="csrf-token"]').attr('content', <%= ActiveSupport::JSON.encode(@authenticity_token).html_safe %>);
