<div class="row">
  <div class="large-6 large-centered medium-6 medium-centered columns" id="loginWrapper">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, :required => '' %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :autocomplete => "off" %></div>

          <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password %></div>

          <div><%= f.submit "Update", :class => "button tiny" %></div>
        <% end %>
      </div>
    </div>
    <div class="row" style="border-top: 1px solid #efefef;">
      <div class="large-12 columns border_top">
        <h3>Cancel my account</h3>

        <h5>Unhappy?</h5>
        <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button tiny', :id => 'big' %>

        <%= link_to "Back", :back, :class => 'aLink' %>
      </div>
    </div>
  </div>
</div>
