- amplitude_event_props = {action: {type: 'create'}, where: {page_class: 'signup', codename: 'destiny'}, object: {social_media_type: 'edcast'} }.to_json
- org_ssos = @current_org.available_ssos
- non_email_ssos = org_ssos.reject { | k, v| k == 'email' }
= render 'common/default_meta_tags'

div.bgk-with-overlay style="background-image: url(#{home_page_banner});"
  .overlay
    .row
      .small-10.small-centered.columns
        .section-title
          h1.text-center.white-font Start EdCasting!
        h4.text-center.white-font
          | On EdCast, you'll discover the power of your Personal Knowledge Network.
          br
          br
          | Connect your social accounts to find your friends on EdCast. You'll be able to learn from them, as well as keep up with what they're learning.

.row
  .small-12.columns
    .section-title
      br
      h3.text-center Create Your Profile

.row
  .small-8.small-centered.medium-5.medium-centered.large-4.large-centered.columns
    ul.small-block-grid-1
      = render partial: 'common/social_auth', locals: {action_text: 'Sign up', org_ssos: org_ssos.reject { | k, v| k == 'email' }}
- if org_ssos.keys.include?('email')
  .row#signup-hook
    .small-8.small-centered.medium-5.medium-centered.large-4.large-centered.columns

      - if non_email_ssos.length > 1
        h4.text-center style="margin-bottom:1rem;" or

      a.social-button.edcast#signup-button target="_blank" data-amplitude-trigger='click' data-amplitude-event-props="#{amplitude_event_props}" data-amplitude-event='tp_signup' Sign up with Email

  .row.hide#signup-form
    .small-12.columns.medium-8.large-7.small-centered
      .row
        .small-12.small-centered.columns
          br
          .section-title.text-center
            h4 Sign Up With Email
      .row
        .small-12.small-centered.medium-10.medium-centered.large-9.large-centered.columns
          = render partial: 'common/signup_form', locals: {id_text: 'page'}
        
        
          
.row
  .small-12.columns.small-centered
    .section-title
      p.text-center
        | We'll never share anything or send emails to your contacts without your permission.
        br
        | By signing up, you agree to the &nbsp;
        a.link href='http://www.edcast.com/terms_of_service' target='_blank' Terms of Use
        |&nbsp;and&nbsp;
        a.link href='http://www.edcast.com/privacy_policy' target="_blank" Privacy Policy
        |.

- content_for :js
  javascript:
    $('#signup-button').click(function(){
      $('#signup-hook').hide();
      $('#signup-form').show();
    });

    $(function() {
      $('form.page-signup-form').on('ajax:success', function(evt, data, status, xhr) {
        window.location = "#{proceed_confirmation_path}";
      });

      $('form.page-signup-form').on('ajax:error', function(evt, data, status, xhr) {
        $(".flash-alert").html('<div class="alert-box radius flash error" data-alert="">'+ data.responseText +'<a class="close" id="flash-close"> &times;</a></div>');
        $('html, body').animate({'scrollTop': '-=1000px'}, 500);
      });
    });

    $('#page-cancel').click(function(){
      $('#signup-form').hide();
      $('#signup-hook').show();
    });
