.response id="response-#{comment.id}"
  .response-wrapper
    .response-details
      a.response-user
        | #{comment.user.name}
      .response-time
        | #{comment.created_at.to_date.strftime('%d %b, %Y')}
      .response-body
        p = comment.message.html_safe
/ .comment-count
/ | #{comment.comments_count} Comments