<% unless @comment.errors.any? %>
  $("#expanded-container-<%=j @commentable.id.to_s %> .responses-container").append("<%=j render 'comment', comment: @comment %>");
  animateCreatedRecord("response-<%=j @comment.id.to_s %>");
  $("#responses-count-<%=j @commentable.id.to_s %>").text("<%=j @commentable.comments.count.to_s %> responses");
<% end %>
