<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>

    <div class="row">
      <div class="large-12 small-12 columns pl0">
        <p style="margin-bottom: 0px;">
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => 'underline' %>
        </p>
      </div>
    </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="row">
      <div class="large-12 small-12 columns pl0">
        <p style="margin-bottom: 0px;">
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'underline' %>
        </p>
      </div>
    </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <br>
    <div class="large-6 medium-6 small-12 columns pl0">
      <p style="margin-bottom: 0px;">
        <%= link_to "Sign Up", new_registration_path(resource_name), :class => 'button radius hollow' %>
      </p>
    </div>
   
<% end -%>

<%- if controller_name != 'sessions' %>
    
    <div class="large-6 medium-6 small-12 columns pl0">
      <p style="margin-bottom: 0px;">
        <%= link_to "Log In", new_session_path(resource_name), :class => 'button radius hollow' %>
      </p>
    </div>
   
<% end -%>







<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <div class="row">
      <div class="large-12 small-12 columns pl0">
        <p style="margin-bottom: 0px;">
          <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), :class => 'underline' %>
        </p>
      </div>
    </div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="row">
      <div class="large-12 small-12 columns pl0">
        <p style="margin-bottom: 0px;">
          <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'underline' %><br />
        </p>
      </div>
    </div>
  <% end -%>
<% end -%>
