<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <p style="color: <%= vars[:custom_css][:text_color] %>; font-size: 12px;">Hi <%= vars['added_channel_follower'][0][:first_name] %>,</p>
    <p style="color: <%= vars[:custom_css][:text_color] %>; font-size: 12px;">You've been invited to follow the channel, <b><%= vars['added_channel_follower'][0][:channel_name]%>,</b> on EdCast. Follow the channel to receive the latest content.</p>
<% end %>

<%= render 'notify/shared/spacer' %>

<%= render partial: 'notify/shared/button', locals: {
    href: vars['added_channel_follower'][0][:invite_url],
    title: 'Go to Channel',
    custom_css: vars[:custom_css]
} %>