<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:text_color] %>; font-size:12px; line-height: 18px;">

    <% first_name = simplify_encoded_string(vars['added_channel_follower_admin'][0]['first_name']) %>
    <% last_name = simplify_encoded_string(vars['added_channel_follower_admin'][0]['last_name'])%>

    Hi <%= vars[:user][:first_name]%> <%= vars[:user][:last_name]%>,
    <p> <%= first_name.present? ? "#{first_name} #{last_name}" : "Admin" %> has added 
      <% if vars['added_channel_follower_admin'][0]['followers']['bulk_users'] %>
        bulk users
      <% end %>
      <% unless vars['added_channel_follower_admin'][0]['followers']['bulk_users'] %>
        <% if vars['added_channel_follower_admin'][0]['followers'].present? %>
          following <%= 'user'.pluralize(vars['added_channel_follower_admin'][0]['followers']['count']) %>
          <ul>
            <% vars['added_channel_follower_admin'][0]['followers']['emails'].each do |email| %>
              <li> <%= email %> </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <% if vars['added_channel_follower_admin'][0]['teams'].present? %>
        <% if vars['added_channel_follower_admin'][0]['followers'].present? %>
          and
        <% end %>
        following <%= 'group'.pluralize(vars['added_channel_follower_admin'][0]['teams']['count']) %>
        <ul>
          <% vars['added_channel_follower_admin'][0]['teams']['names'].each do |name| %>
            <li> <%= name %> </li>
          <% end %>
        </ul>
      <% end %>
      <%= vars['added_channel_follower_admin'][0]['channels']['channel_string']  %> <%= vars['added_channel_follower_admin'][0]['channels']['channel_names']  %>
    </p>
  </td>
</tr>