<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:highlight_text_color] %>; font-size:12px; line-height: 18px;">
    <p style="color: <%= vars[:custom_css][:text_color] %>">Hi <%= vars['assigned_content'][0][:user_name]%>,</p>
    <p style="color: <%= vars[:custom_css][:text_color] %>">Your colleague, <b><%= vars['assigned_content'][0][:assignor] %></b>, has assigned you the following content:</p>
    <%= raw vars['assigned_content'][0][:assignment][:title]%>
    <%= raw vars['assigned_content'][0][:assignment][:assignment_message] %>
  </td>
</tr>
<tr>
  <td height="25"></td>
</tr>
<!--button-->
<tr>
  <td align="center">
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                <table bgcolor="<%= vars[:custom_css][:button_background_color] %>" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2px;">
                  <tr>
                    <td height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;height: 28px;">
                      <a style="color:#ffffff; text-decoration:none;" href="<%= vars['assigned_content'][0][:assignment][:assignment_url] %>">Launch Content</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--end button-->