<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:highlight_text_color] %>; font-size:12px; line-height: 18px;">
    <p style="color: <%= vars[:custom_css][:text_color] %>">Hi <%= vars['completed_assignment'][0][:user_name] %>,</p>
    <p style="color: <%= vars[:custom_css][:text_color] %>"><%= vars['completed_assignment'][0][:assignee]%> has completed the assignment:</p>
    <%= raw vars['completed_assignment'][0][:assignment][:title]%>
  </td>
</tr>
<tr>
  <td height="25"></td>
</tr>
<!--button-->
<tr>
  <td align="center">
    <table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full">
            <tr>
              <td align="center">
                <table class="table-full" bgcolor="<%= vars[:custom_css][:button_background_color] %>" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2px;">
                  <tr>
                    <td class="textbutton" height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;height: 28px;">
                      <a style="color:#ffffff; text-decoration:none;" href="<%= vars['completed_assignment'][0][:assignment][:assignment_url]%>">View Content</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--end button-->