<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:text_color] %>; font-size:12px; line-height: 18px;">
    Hi <%= vars[:user][:first_name] %>,
    <p>Your colleague, <b><%= vars['content_shared'][0][:card][:shared_by_name] %></b>, has shared a <% if vars['content_shared'][0][:card][:content_type] == "pack" %>Pathway<% else %>SmartCard<% end %> with you.</p> 
  </td>
</tr>
<tr>
  <td align="center">
    <!--start -->
        <div style="width: 170px; height: 215px; background: #fff; display: inline-block;vertical-align:top; border: solid 1px #d6d6e1;margin-left: 4px; margin-right: 4px;margin-top: 11px;">
          <a style="text-decoration:none;" href="<%= vars['content_shared'][0][:card][:url]%>">
            <div style="width:100%; height:108px; overflow:hidden; margin:0 auto; background-repeat: no-repeat; background-position: center; background-color: #d5d5d5 ; background-size: contain;">
              <center><img src="<%= vars['content_shared'][0][:card][:image_url] || vars[:org]['instance'].home_page + image_url('card_default_image_min.jpg')%>" height="108"/></center>
            </div>
            <div style="padding:10px;color: <%= vars[:custom_css][:card_text_color] %>;">
              <div style="float:left;width:25px; height:25px; overflow:hidden; border-radius:50%;">
                <img src="<%= vars['content_shared'][0][:card][:shared_by_image] %>" width="25">
              </div>
              <div style="text-align:left; margin-left:5px;  font-size: 12px; color: <%= vars[:custom_css][:card_text_color] %>;">
                <div style="width: 115px; white-space: nowrap; overflow: hidden; font-weight: bold; text-overflow: ellipsis;"><%= vars['content_shared'][0][:card][:shared_by_name] %></div>
              </div>
              <div style="text-align: left; margin: 5px 5px 5px 0; font-size: 12px; width: 140px; height: 50px; color: <%= vars[:custom_css][:card_text_color] %>; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 2; display: -webkit-box;  -webkit-box-orient: horizontal; line-height: 15px;"><%= truncate_html vars['content_shared'][0][:card][:title], length: 30 %>
              </div>
            </div>
          </a>
        </div>
    <!--end-->
  </td>
</tr>
