<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:text_color] %>; font-size:12px; line-height: 18px;">
    Hi <%= vars[:user][:first_name]%> <%= vars[:user][:last_name]%>,
    <p>Your card: <%= simplify_encoded_string(vars['curated_card'][0][:card_title])%> has been published to channel: <b><%= vars['curated_card'][0][:channel][:name]%></b></p>
    <p style="color: <%= vars[:custom_css][:highlight_text_color] %>">Click on the link below to go to the channel.</p>
  </td>
</tr>
<tr>
  <td height="25"></td>
</tr>
<!--button-->
<tr>
  <td align="center">
    <table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                <table bgcolor="<%= vars[:custom_css][:button_background_color] %>" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2px;">
                  <tr>
                    <td height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px; height: 28px;">
                      <a style="color:#ffffff; text-decoration:none;" href="<%= vars['curated_card'][0][:channel][:channel_url] %>">Go to Channel</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--end button-->