<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    Hi <%= vars[:user][:first_name]%> <%= vars[:user][:last_name]%>,
    <p>Here are your daily updates.</p>
<% end %>
<!-- For smartbites assigned to you -->
<% unless vars['assigned_content'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>SmartCards assigned to you</b>
    <ol>
    <% vars['assigned_content'].each do |x| %>
      <li><a href="<%= x[:assignment][:assignment_url] %>"><%= strip_tags(x[:assignment][:title]) %></a> by <%= x[:assignor] %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- For assignments completed by people you assigned it to -->
<% unless vars['completed_assignment'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>The Following assignments were completed</b>
    <ol>
    <% vars['completed_assignment'].each do |x| %>
      <li><a href="<%= x[:assignment][:assignment_url] %>"><%= truncate(strip_tags(x[:assignment][:title]), length: 35) %></a> by <%= x[:assignee] %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- For comments you were mentioned in -->
<% unless vars['mention_in_comment'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Comments where you were mentioned</b>
    <ol>
    <% vars['mention_in_comment'].each do |x| %>
      <li><a href="<%= x[:url] %>"><%= truncate(strip_tags(x[:message]), length: 35) %></a> by <%= x[:commenter_name] %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- For comments/likes on a card you commented on -->
<% unless vars['new_activity_commented_smartbite'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>New activity on a SmartCard you commented on</b>
    <ol>
    <% vars['new_activity_commented_smartbite'].each do |x| %>
      <li><%= x[:activity][:user_name] %><% if x[:activity][:type] == "Comment" %> commented on <% elsif x[:activity][:type] == "Vote" %> liked <% end %>
       <a href="<%= x[:activity][:url] %>"><%= truncate(strip_tags(x[:activity][:title]), length: 30) %></a> </li>
    <% end %>
    </ol>
<% end %>
<% end %>


<!-- For SmartBites posted by someone I follow-->
<% unless vars['new_content_by_followed_user'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>New SmartCards by people you follow</b>
    <ol>
    <% vars['new_content_by_followed_user'].each do |x| %>
      <li><a href="<%= x[:card][:url] %>"><%= truncate(strip_tags(x[:card][:title]), length: 35) %></a> posted by <%= x[:card][:author_name] %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- For SmartBites posted in a channel I follow-->
<% unless vars['new_content_in_channel'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>New SmartCards in a channel you follow</b>
    <ol>
    <% vars['new_content_in_channel'].each do |x| %>
      <li><a href="<%= x[:card][:url] %>"><%= truncate(x[:card][:title], length: 35) %></a> in <%= x[:channel][:name] %> </li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- New followers-->
<% unless vars['new_follower'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>You have new followers on <%= vars[:user][:org_name]%></b>
    <ol>
    <% vars['new_follower'].each do |x| %>
      <li><a href="<%= x[:follower_link] %>"><%= x[:follower_name] %></a></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- New livestream by followed user-->
<% unless vars['new_livestream_from_followed_user'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>New livestreams by people you follow</b>

    <ol>
    <% vars['new_livestream_from_followed_user'].each do |x| %>
      <li><a href="<%= x[:join_url] %>"><%= x[:title] %></a> posted by <%= x[:user_name] %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- New Card for curation-->
<% unless vars['new_card_for_curation'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Items pending for curation on these channels</b>
    <ol>
    <% vars['new_card_for_curation'].uniq.each do |x| %>
      <li><a href="<%= x[:channel][:channel_url] %>"><%= x[:channel][:name] %></a></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- Skipped cards-->
<% unless vars['skipped_card'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Your cards rejected by curator</b>
    <ol>
    <% vars['skipped_card'].each do |x| %>
      <li><a href="<%= x[:card][:url] %>"><%= truncate(strip_tags(x[:card][:title]), length: 35) %></a> from channel: <%= x[:channel_name]%></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- Curated cards-->
<% unless vars['curated_card'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Your cards published by curators</b>
    <ol>
    <% vars['curated_card'].each do |x| %>
      <li><%= truncate(strip_tags(x[:card_title]), length: 35)%> on channel: <a href="<%= x[:channel][:channel_url] %>"> <%= x[:channel][:name]%></a></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- added as collaborator-->
<% unless vars['added_collaborator'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Added as a collaborator to the following channels</b>
    <ol>
    <% vars['added_collaborator'].each do |x| %>
      <li><a href="<%= x[:invite_url] %>"> <%= x[:channel_name]%></a><% if x[:first_name]%> by <%= x[:first_name]%> <% end %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- added as curator-->
<% unless vars['added_curator'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Added as a curator to the following channels</b>
    <ol>
    <% vars['added_curator'].each do |x| %>
      <li><a href="<%= x[:invite_url] %>"> <%= x[:channel_name]%></a><% if x[:first_name]%> by <%= x[:first_name]%> <% end %></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- added as a follower-->
<% unless vars['added_channel_follower'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Added as a follower to the following channels</b>
    <ol>
    <% vars['added_channel_follower'].each do |x| %>
      <li><a href="<%= x[:invite_url] %>"> <%= x[:channel_name]%></a></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- New comment on a smartbite posted by you-->
<% unless vars['new_smartbite_comment'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Comments on your cards</b>
    <ol>
    <% vars['new_smartbite_comment'].each do |x| %>
      <li><%= x[:commenter][:first_name] %> commented on <a href="<%= x[:card][:assignment_url] %>"><%= truncate(strip_tags(x[:card][:title]), length: 35) %></a></li>
    <% end %>
    </ol>
<% end %>
<% end %>

<!-- Content access given to you by someone-->
<% unless vars['content_shared'].blank? %>
<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <b>Content view access given to you.</b>
    <ol>
    <% vars['content_shared'].each do |x| %>
      <li> <%= x[:card][:shared_by_name] %> has given you access to <a href="<%= x[:card][:url] %>"><%= truncate(strip_tags(x[:card][:title]), length: 30) %></a></li>
    <% end %>
    </ol>
<% end %>
<% end %>