<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:text_color] %>; font-size:12px; line-height: 18px;">
    Hi <%= vars[:user][:first_name]%> <%= vars[:user][:last_name]%>,
    <p>You were mentioned in a comment by <b><%= vars['mention_in_comment'][0][:commenter_name]%><b>.</p>
  </td>
</tr>
<tr>
  <td style="color: <%= vars[:custom_css][:highlight_text_color] %>; font-size: 12px;">
    <%= vars['mention_in_comment'][0][:message] %>
  </td>
</tr>
<tr>
  <td height="25"></td>
</tr>
<!--button-->
<tr>
  <td align="center" >
    <table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full">
            <tr>
              <td align="center">
                <table class="table-full" bgcolor="<%= vars[:custom_css][:button_background_color] %>" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2px;">
                  <tr>
                    <td class="textbutton" height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px; height: 28px;">
                      <a style="color:#ffffff; text-decoration:none;" href="<%= vars['mention_in_comment'][0][:url]%>">View the Conversation</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--end button-->
