
<tr>
  <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:<%= vars[:custom_css][:highlight_text_color] %>; font-size:12px; line-height: 18px;">
     <p style="color: <%= vars[:custom_css][:text_color] %>; font-size: 12px;">Hi <%= vars[:user][:first_name]%> <%= vars[:user][:last_name]%>,</p>
    <p style="color: <%= vars[:custom_css][:text_color] %>; font-size: 12px;">Your colleague, <%= vars['new_smartbite_comment'][0][:commenter][:first_name] %> 
    <%= vars['new_smartbite_comment'][0][:commenter][:last_name] %> commented on your SmartCard</p>
    <%= raw vars['new_smartbite_comment'][0][:content] %></p>
  </td>
</tr>
<tr>
  <td height="25"></td>
</tr>
<!--button-->
<tr>
  <td align="center">
    <table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full">
            <tr>
              <td align="center">
                <table class="table-full" bgcolor="<%= vars[:custom_css][:button_background_color] %>" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2px;">
                  <tr>
                    <td class="textbutton" height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:14px; padding-left: 15px;padding-right: 15px;height: 28px;">
                      <a style="color:#ffffff; text-decoration:none;" href="<%= vars['new_smartbite_comment'][0][:card][:assignment_url]%>">View the Conversation</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--end button-->
