<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <p style="font-size: 12px; color: <%= vars[:custom_css][:text_color] %>;">Hi <%= vars['new_livestream_from_followed_user'][0][:receiver_name] %>,</p>
    <p style="font-size: 12px; color: <%= vars[:custom_css][:text_color] %>;"><%= vars['new_livestream_from_followed_user'][0][:user_name]%> is starting a Livestream now.</p>
<% end %>

<%= render 'notify/shared/spacer' %>

<%= render partial: 'notify/shared/button', locals: {
    href: vars['new_livestream_from_followed_user'][0][:join_url],
    title: 'View Now',
    custom_css: vars[:custom_css]
} %>
