<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <p style="color: <%= vars[:custom_css][:text_color] %>; font-size: 12px;">Hi <%= vars[:user][:first_name] %>,</p>
    <p style="color: <%= vars[:custom_css][:text_color] %>; font-size: 12px;">Congratulations! You have a new follower on Team, <b><%= vars[:user][:org_name] %> on EdCast!</b></p>
<% end %>

<%= render 'notify/shared/spacer' %>

<%= render partial: 'notify/shared/img_button', locals: {
    href: vars['new_follower'][0][:follower_link],
    img_url: vars['new_follower'][0][:image_url],
    title: vars['new_follower'][0][:follower_name]
} %>

<%= render 'notify/shared/spacer' %>
