<%= render layout: 'notify/shared/section', locals: {custom_css: vars[:custom_css]} do %>
    <p style="color:<%= vars[:custom_css][:text_color] %>; font-size: 12px;">Hi <%= vars['start_scheduledstream'][0][:user_name] %>,</p>
    <p style="color:<%= vars[:custom_css][:text_color] %>; font-size: 12px;">Time to start your scheduled stream, <b><%= vars['start_scheduledstream'][0][:user_name]%>,</b> go live now.</p>
<% end %>

<%= render 'notify/shared/spacer' %>

<%= render partial: 'notify/shared/button', locals: {
    href: vars['start_scheduledstream'][0][:join_url],
    title: 'Start Now',
    custom_css: vars[:custom_css]
} %>