- org_ssos = @current_org.available_ssos
- non_email_ssos = org_ssos.reject { | k, v| k == 'email' }

= form_for @user || User.new, url: user_session_path, html: {id: 'login-form', class: 'login-form-page'}, remote: true do |f|
  input type="hidden" name="display" value="#{params[:display]}"
  input type="hidden" name="next" value="#{params[:next]}"
  .row
    .small-12.columns
      - if non_email_ssos.length > 1
        .section-title
          br
          h3.text-center Log In With Your Social Accounts
          br

  .row
    .small-10.small-centered.columns
      ul.small-block-grid-1
        = render partial: 'common/social_auth', locals: {action_text: 'Log in', org_ssos: non_email_ssos}

  - if org_ssos.keys.include?('email')
    .row
      .small-12.columns
        .section-title
          br
          - if non_email_ssos.length > 1
            h3.text-center or Log In With Email
          - else
            h3.text-center Log In With Email
          br

    .row
      .small-12.columns
        = render partial: 'common/signin_with_email', :locals => {:f => f}
  - else
    br
  - if @current_org.is_sign_up_allowed?
    .row
      .small-12.columns.small-centered.text-center
        span style="margin-right: 1rem;" New to EdCast?
        = link_to 'Sign Up', new_user_registration_path, class: 'button radius info', data: {amplitude_trigger: 'click', amplitude_event: 'choose_signup', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"codename": "destiny"}'}
      
- content_for :js
  javascript:
    
    $(function() {
      $('form.login-form-page').on('ajax:error', function(evt, data, status, xhr) {
        $('.sign-in-error').addClass('error');
      });
    });


  

