$('meta[name="csrf-token"]').attr('content', <%= ActiveSupport::JSON.encode(@authenticity_token).html_safe %>);
if (Authentication.afterLoginHandler){
    Authentication.afterLoginHandler();
    //TODO: update the header using ajax
    window.setTimeout(function(){
        window.location.href = window.location.href;
    },1000);
}else{
    window.location.href = <%= @target_url.to_json.html_safe %>;
}
