doctype html
html[lang="en"]
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[http-equiv="X-UA-Compatible" content="ie=edge"]
    title
      | One Page Transcript
    style
      | .circle {margin: 0px auto; width: 150px; height: 150px; border: 6.25px solid #06adcf; border-radius: 50%; font-size: 22px; color: #06adcf; line-height: 150px; text-align: center; background: #ffffff } 
      | .divider {height: 3.12px; width: 100%; background-color: #06adcf; margin-top: 31.25px;}
      | h1 {color: #563E82; margin-top: 31.25px, font-size: 20px;}
      | .underline {height: 3.12px; width: 31.25px; background-color: #06adcf;}
      | h2 {color: #563E82; margin-top: 31.25px; font-size: 18px;}
      | h3 {font-size: 14px;}
      | th {font-size: 13px;}
      | p {font-size: 12px;}
      | .progress {height: 6.25px; background-color: #06adcf;}
      | .avoid { page-break-inside: avoid !important;margin: 3px 0 3px 0;  }

  
  body[style="margin: 93.75px; font-family:  sans-serif;"]
    img[src="http://www.edcast.com/corp/wp-content/uploads/2016/03/ed-icon-black-01.png" alt="edcast logo" style="height: 50px; width: auto; max-height: 50px; padding: 15.62px 12.5px 15.62px 0px"]
    - if @user.organization.co_branding_logo.present?
      img[src="http:#{@user.organization.co_branding_logo.url}" alt="client logo" style="height: 50px; width: auto; max-height: 50px; border-left: 3.12px solid gray; padding: 15.62px;"]

    table[style="width:100%; margin-top: 31.25px"]
      tr
        td[style="width:50%"]
          img[src="#{get_http_url(@user.photo)}" alt="profile picture" style="height: 110px; width: 110px; border-radius: 50%; border: 1.25px solid #5041f4; margin-right: 15.62px;"]

          div[style="display: inline-block; vertical-align: top;"]
            h2 [style="margin-top: 0px"]
              = @user.name
            h3
              span[style="color: gray"]
                | Organization:
              br
              span[style="color: #563E82"]
                = @user.organization.name
            h3 
              span[style="color: gray"]
                | Transcript Date:
              br
              span[style="color: #563E82"]
                =  Time.now.strftime("%B #{Time.now.day.ordinalize}  %Y")
        td[style="width:50%;  vertical-align: top;"]
          h2 [style="margin-top: 0px"]
            | ABOUT
          h3[style="color: gray"]
            = @user.bio

    
    .divider
    h1
      | BADGES
    .underline
    - 
    -if @badges.size > 0
      table[style="margin-top: 25px; width: 100%;"]
        - cell_number = 0
        - @badges.each do |badge|
          - if cell_number % 3 == 0 
            tr
          - if badge.card_badging.present?
            - cell_number += 1 
            td[style="height: 43.75px; width: 33%"]
              div[style="display: inline-block;"]
                img[src="http:#{badge.card_badging.card_badge_image.url(:large)}" alt="badge" style="height: 31.25px; width: 31.25px;"]
              div[style="margin: 7.5px 0px 7.5px 6.25px;color: gray;display: inline-block; vertical-align: top; font-size: 13px"]
                = badge.card_badging.title
    - else 
      p[style="margin-top: 31.25px; color: gray;"]
        |   No badges earned

   
    .divider
    h1
      | SKILLS
    .underline
    - if @user.skills_users.size > 0
      - @user.skills_users.each do |user_skill|
        .avoid  
          h2
            = user_skill.skill.name
          .underline
          table[style="margin-top: 31.25px; width: 100%; color: gray"]
            th
              | EXPERIENCE
            th
              | DESCRIPTION
            th
              | CREDENTIALS
            tr[style="height: 62.5;"]
              td[style="width: 25%; text-align: center;  border-right: 1.25px solid #06adcf"]
                p
                  = user_skill.experience
              td[style="width: 50%; text-align: center;  border-right: 1.25px solid #06adcf"]
                p
                  = user_skill.description
              td[style="width: 25%; text-align: center"]
                - if user_skill.credential.present? && !user_skill.credential.empty?
                    img[src="#{get_http_url(user_skill.credential.first['url'])}" alt="credentials" style="height: auto; width: auto; max-height: 31.25px;"]
                - else
                  | -
    - else 
      p[style="margin-top: 31.25px; color: gray;"]
        |   No skill added

    .divider
    .avoid
      h1
        | ACTIVITIES
      .underline
      table[style="margin-top: 31.25px; width: 100%; color: #5041f4; solid #42f4a1;"]
        - @content_stats.each_with_index do |(key,value),index|
          - if index % 3 == 0 && index >0
            - if index >0
              tr [style="margin-top: 31.25px"]
                td [colspan="3" style="padding-top: 18.75px;"] 
                  div [style="background-color: #06adcf; height: 0.62px;"]
            tr[style="height: 31.25px"]

          td[style="text-align: center;" align="center"]
            .circle
              span[style="color: gray"]
                = value
            h2[style="margin: 12.5px auto 0 auto; text-align: center;"]
              = key
            .underline[style="margin: 12.5px auto 0 auto;height: 3.12px; width: 31.25px;"]

    .divider
    table[style="margin-top: 31.25px; width: 100%;"]
      th[style="text-align: left"]
        h1
          | INTERESTS
        .underline
      th[style="text-align: left"]
        h1
          | EXPERTISE
        .underline
      tr[style="padding-top: 31.25px; height: 62.5px;"]
        td[style="color: gray ; vertical-align: text-top;"]
          - if @user.learning_topics && @user.learning_topics.size > 0
            - @user.learning_topics.each do |topic|
              div[style="margin: 12.5px"] 
                p
                  = topic['topic_label']
          - else 
            p[style="margin-top: 31.25px; color: gray;"]
              |   No learning interest added
        td[style="color: gray; vertical-align: text-top;"]
          - if @user.expert_topics && @user.expert_topics.size > 0
            - @user.expert_topics.each do |topic|
              div[style="margin: 12.5px"]
                p
                  = topic['topic_label']
          - else 
            p[style="margin-top: 31.25px; color: gray;"]
              |   No expertise added

    .divider
    h1 
      | MY LEARNING PLAN
    .underline
    - @quarter_wise_content.each_with_index do |quarter, index|
      - if quarter.count > 0
        h2
          | QUARTER 
          = (index +1)
        .underline
        table[style="margin-top: 31.25px; width: 100%;"]
          th[style="color: gray; border-bottom: 1px solid gray; width: 40%; border-top: 1px solid gray; height: 43.75px"]
            | Name
          th[style="color: gray; border-bottom: 1px solid gray; width: 20%; border-top: 1px solid gray; height: 43.75px"]
            | Level
          th[style="color: gray; border-bottom: 1px solid gray; width: 25%; border-top: 1px solid gray; height: 43.75px"]
            | % Complete
          th[style="color: gray; border-bottom: 1px solid gray; width: 15%; border-top: 1px solid gray; height: 43.75px"]
            | Completed On
          - quarter.each do |content|
            tr.avoid [style="height: 65px"]
              td[style="color: gray; border-bottom: 1px solid gray;"]
                - if content[:assignable]
                  div
                    h3
                      - if content[:assignable][:title].present?
                        = content[:assignable][:title]
                      - else
                        = content[:assignable][:message]
                  div
                    p
                      |  Assignee: 
                      - if content[:assignor]
                        b 
                          = content[:assignor][:name]
                      - else
                        b -       
                      |  | Type: 
                      b
                        - if content[:assignable][:cardType].nil?
                          | Media
                        - elsif content[:assignable][:cardType] == "pack"
                          | Pathway
                        - else
                          = content[:assignable][:cardType].capitalize

              td[style="color: gray; border-bottom: 1px solid gray; text-align: center;"]
                p  
                  - if content[:assignable][:skillLevel] 
                    = content[:assignable][:skillLevel].upcase 
                  - else
                    | -
              td[style="color: gray; border-bottom: 1px solid gray; text-align: left;"]
                div[style="height: 6.25px; background-color: #f1f1f1"] 
                  .progress[style="width: #{content[:assignable][:completedPercentage]}%;"]
                div[style="margin-top: 6.25px; text-align: left;"]
                  p
                    | #{content[:assignable][:completedPercentage]} %
              td[style="color: gray; border-bottom: 1px solid gray; text-align: center;"]
                p
                  - if content[:completedAt]
                    = content[:completedAt].to_time.strftime('%d/%m/%Y')
                  - else
                    | -
