= content_for :js do
  javascript:

    function extractCardTags(content) {
      var regex   = /\B#(\w+)/g;
      return content.match(regex);
    }

    $('.message-box').keyup(function() {
      var container, list, tags;
      container = $(this).closest('.content');
      tags      = extractCardTags($(this).val());
      list      = container.find('.tags-list');

      if (tags != null && tags.length > 0) {
        list.hasClass('hide') && list.removeClass('hide');
        list.find('p.tags').text(tags.join(' '));
        container.find('.tags-pitch').addClass('hide');
      } else {
        container.find('.tags-list').addClass('hide');
        container.find('.tags-pitch').removeClass('hide');
      }
    });
