- form_path = action_name == 'edit' ? insight_link(card['id']) : insights_index_link
- form_method = action_name == 'edit' ? 'patch' : 'post'
- title = action_name == 'edit' ? card['content']['title'] : nil
- message = action_name == 'edit' ? card['content']['message'] : nil
- image_url = action_name == 'edit' ? card['content']['image_url'] : nil
- image_name = action_name == 'edit' ? card['content']['image_name'] : nil
- file_resource_id = action_name == 'edit' ? card['file_resources'][0]['id'] : nil
- cancel_link = local_assigns.has_key?(:cover) ? collection_path(cover[:slug]) : root_path
- tags = action_name == 'edit' ? card['tags'].map { |a| a['name'] } : []
- is_share_hidden  = (local_assigns.has_key?(:cover) || (local_assigns.has_key?(:card) && card['hidden']))
- in_private_channel = local_assigns.has_key?(:in_private_channel) ? in_private_channel : false
- is_pathway = local_assigns.has_key?(:cover)
- amplitude_pathway_event = local_assigns.has_key?(:cover) ? 'create_smartbites_pathway_menu_addcard' : 'create_smartbites_creation_menu'
- if action_name == 'edit'
  - submit_button_text = 'Update'
- else
  - submit_button_text = local_assigns.has_key?(:cover) ? 'Add to Pathway' : 'Create'

.insight-form-container.image-card-form-top
  br
  .row
    .medium-4.large-3.small-12.columns
      = label_tag "file", "Upload Image"
    .medium-8.large-9.small-12.columns
       .image-card-input
        input#file type='file' name='files[]' data-url="#{file_resources_v1_path(:format => 'json')}" multiple="" required="true" accept="image/*"
        - if image_url
          #image-preview style="max-height: 300px; margin-bottom: 1rem;"
            p.small-font Current File: #{image_name}
            img src="#{image_url}" style="max-height:250px;"
        - else
          #image-preview.hide style="max-height: 300px; margin-bottom: 1rem;"
= form_tag(form_path, method: form_method.to_sym) do
  .insight-form-container.image-card-form-bottom
    .row
      .medium-4.large-3.small-12.columns
        = label_tag "title", "Title"
      .medium-8.large-9.small-12.columns
        = text_field_tag 'title', title, required: true, class: 'max-length-box'
        .text-field-error.hide
          small.error Title is required and should be less than 255 characters.
    .row
      .medium-4.large-3.small-12.columns
        = label_tag "message", "Message", class: 'required'
      .medium-8.large-9.small-12.columns
        input#file_ids type='hidden' name='file_ids[]' value="#{file_resource_id}"
        = text_area_tag 'message', message, required: true, rows: 10, class: 'message-box card-message'
    = render partial: 'topics_form', locals: { topics: tags.join(', ') }
    - unless action_name == 'edit' ||  in_private_channel || is_share_hidden || !@current_org.get_sharing_permissions
      .row
        .small-12.columns
          = react_component('SocialShare',  {'customId' => '-image-card', encryptedUserId: ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(current_user.id)})
    - unless local_assigns.has_key? :cover
      br
      = render partial: 'private_channel', locals: {select_tag_id: 'image-card-channel-ids'}
  br
  br
  .row
    .small-12.columns.text-right
      - if local_assigns.has_key? :cover
        = hidden_field_tag('cover_id', cover[:id])
        = hidden_field_tag('redirect_uri', new_card_collection_path)
      - if image_url
        = submit_tag(submit_button_text, class: 'button radius pink', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"page_class": "smartbites_creation", "post_status" : "post", "sub_class" : "web", "sb_content" : { "article_link": "false", "question": "false", "photo" : "true", "video" : "false"}}, "object" : {"class" : "card", "published" : "true", "is_pathway" : "' + "#{is_pathway}" +'"}}'})
      - else
        = submit_tag(submit_button_text, class: 'button radius pink disabled', disabled: true, data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "post", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "false", "poll" : "false", "question": "false", "photo" : "true", "video" : "false"}}, "object" : {"class" : "card", "published" : "true", "is_pathway" : "' + "#{is_pathway}" +'"}}'})
      = link_to 'Cancel', cancel_link, class: 'button radius transparent', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "cancel", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "false", "poll" : "false", "question": "false", "photo" : "true", "video" : "false"}}, "object" : {"class" : "card", "published" : "false", "is_pathway" : "' + "#{is_pathway}" +'"}}'}
br
br

- content_for :js
  javascript:
    $(document).ready(function(){

      $('#file').fileupload({
        dataType: 'json',
        paramName: 'file',
        replaceFileInput:false,
        start: function (e) {
          $('#image-preview').hide();
        },
        done: function (e, data) {
          var id = data.jqXHR.responseJSON.id;

          var uploadPoller = function(id){
            $.ajax({
                        method: "GET",
                        url: "#{file_resources_path}/" + id + ".json",
                        success: function (response) {
                          if (response.available){
                            $('#image-preview').empty().append('<p class="small-font">Current File: ' + response.fileName + '</p><img src="' + response.fileUrl + '" style="max-height:250px;"/>');
                            $('#image-preview').show().removeClass("hide");
                            $('#file_ids').val(response.id);
                            $('#image-card-form input[type=submit]').removeAttr('disabled').removeClass('disabled');
                          }else{
                            window.setTimeout(function(){ uploadPoller(id) }, 500);
                          }
                        },
                        error: function (response) {
                          $('#image-preview').empty().append('<p class="small-font">Could not load file. Please try again.</p>');
                          console.log("File Resource Error: " + response.error);
                        }
                      });
          };
          uploadPoller(id);
        },
        fail: function (e, data) {
          var error = data.jqXHR.responseJSON.error;
          $('#image-preview').empty().append('<p class="small-font">Could not upload file. Please try again.</p>');
          $('#image-preview').show();
          console.log("File Upload Error: " + error);
        }
      });

    });
