- form_path = action_name == 'edit' ? insight_link(card['id']) : insights_index_link
- form_method = action_name == 'edit' ? 'patch' : 'post'
- article_link = action_name == 'edit' ? hyperlink_url(card) : nil
- title = action_name == 'edit' ? card['content']['title'] : nil
- message = action_name == 'edit' ? card['content']['message'] : nil
- resource_id = action_name == 'edit' ? card['resource_id'] : nil
- cancel_link = local_assigns.has_key?(:cover) ? collection_path(cover[:slug]) : root_path
- tags = action_name == 'edit' ? card['tags'].map { |a| a['name'] } : []
- in_private_channel = local_assigns.has_key?(:in_private_channel) ? in_private_channel : false
- is_share_hidden  = (local_assigns.has_key?(:cover) || (local_assigns.has_key?(:card) && card['hidden']))
- is_pathway = local_assigns.has_key?(:cover)
- amplitude_pathway_event = local_assigns.has_key?(:cover) ? 'create_smartbites_pathway_menu_addcard' : 'create_smartbites_creation_menu'
- if action_name == 'edit'
  - submit_button_text = 'Update'
- else
  - submit_button_text = local_assigns.has_key?(:cover) ? 'Add to Pathway' : 'Create'

= form_tag(form_path, method: form_method.to_sym) do

  = hidden_field_tag 'resource_id', resource_id, {id: 'link-link-preview-resource-id'}
  .insight-form-container
    br
    .row
      .medium-4.large-3.small-12.columns
        = label_tag "link", "Article Link"
      .medium-8.large-9.small-12.columns
        = text_field_tag 'link', article_link, required: true, class: "link-input", onblur: 'linkPreview(this, "link")'
        .link-error.hide
          small.error Please enter a valid URL


    .row.link-card-preview class=(action_name == 'edit' ? '' : 'hide-preview')
      .medium-4.large-3.small-12.columns
        label Preview
      .medium-8.large-9.small-12.columns
        - if action_name == 'edit' && card['content']['link_image_url'].present?
          .iron-border.text-center.link-card-image
            img.card-image src="#{card['content']['link_image_url']}"
        - else
          .iron-border.text-center.link-card-image.hide
        .iron-border.card-content-wrapper
          strong.link-card-title
            - if action_name == 'edit' && card['content']['link_title']
              = card['content']['link_title']

          p.link-card-abstract
            - if action_name == 'edit' && card['content']["link_description"]
              = card['content']["link_description"]
        br

    .row
      .medium-4.large-3.small-12.columns
        = label_tag "title", "Title"
      .medium-8.large-9.small-12.columns
        = text_field_tag 'title', title, required: true, class: 'max-length-box'
        .text-field-error.hide
          small.error Title is required and should be less than 255 characters.
    .row
      .medium-4.large-3.small-12.columns
        = label_tag "message", "Message"
      .medium-8.large-9.small-12.columns
        = text_area_tag 'message', message, required: true, rows: 10, class: 'message-box card-message'

    = render partial: 'topics_form', locals: {topics: tags.join(', ') }
    - unless action_name == 'edit' ||  in_private_channel || is_share_hidden || !@current_org.get_sharing_permissions
      .row
        .small-12.columns
          = react_component('SocialShare', {'customId' => '-link-card', encryptedUserId: ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(current_user.id)}, { id: 'card-article' })
    - unless local_assigns.has_key? :cover
      br
      = render partial: 'private_channel', locals: {select_tag_id: 'link-card-channel-ids'}
  br
  br
  .row
    .small-12.columns.text-right
      - if local_assigns.has_key? :cover
        = hidden_field_tag('cover_id', cover[:id])
        = hidden_field_tag('redirect_uri', new_card_collection_path)
      = submit_tag(submit_button_text, class: 'button radius pink', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "post", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "true", "poll" : "false", "question": "false", "photo" : "false", "video" : "false"}}, "object" : {"class" : "card", "published" : "true", "is_pathway" : "' + "#{is_pathway}" +'"}}'})
      = link_to 'Cancel', cancel_link, class: 'button radius transparent', amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "cancel", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "true", "poll" : "false", "question": "false", "photo" : "false", "video" : "false"}}, "object" : {"class" : "card", "published" : "false", "is_pathway" : "' + "#{is_pathway}" +'"}}'
  br
  br
