- form_path = action_name == 'edit' ? api_poll_card_path(card['id']) : api_poll_cards_path
- form_method = action_name == 'edit' ? 'patch' : 'post'
- title = action_name == 'edit' ? card['content']['title'] : nil
- image_url = (action_name == 'edit' && card['card_template'] == 'image') ? card['content']['image_url'] : nil
- url = (action_name == 'edit' && card['card_template'] == 'link') ? card['content']['link_url'] : nil
- file_resource_id = (action_name == 'edit' && card['file_resources'].present?) ? card['file_resources'][0]['id'] : nil
- quiz_options = action_name == 'edit' ? card['quiz_question_options'].map{|x| [ x['id'], x["is_correct"], x["label"] ]} : [[], [], []]
- tags = action_name == 'edit' ? card['tags'].map { |a| a['name'] } : []
- cancel_link = local_assigns.has_key?(:cover) ? collection_path(cover[:slug]) : root_path
- in_private_channel = local_assigns.has_key?(:in_private_channel) ? in_private_channel : false
- is_share_hidden  = (local_assigns.has_key?(:cover) || (local_assigns.has_key?(:card) && card['hidden']))
- is_pathway = local_assigns.has_key?(:cover)
- amplitude_pathway_event = local_assigns.has_key?(:cover) ? 'create_smartbites_pathway_menu_addcard' : 'create_smartbites_creation_menu'
- if action_name == 'edit'
  - submit_button_text = 'Update'
- else
  - submit_button_text = local_assigns.has_key?(:cover) ? 'Add to Pathway' : 'Create'

= form_tag(form_path, method: form_method.to_sym) do
  .insight-form-container
    br
    .row
      = render partial: 'api/cards/poll_card_extra_info', locals: {image_url: image_url, url: url, file_resource_id: file_resource_id}
    br
    .row
      .medium-4.large-3.small-12.columns
        = label_tag "question", "Question"
      .medium-8.large-9.small-12.columns
        = text_area_tag 'title', title, required: true, rows: 3, class: 'max-length-box'
        .is-assessment
          - if local_assigns[:is_assessment]
            = check_box_tag 'is_question_card', nil, checked: local_assigns[:is_assessment]
          - else
            = check_box_tag 'is_question_card', nil
          = label_tag 'is_question_card', 'Enable Question card'
        .text-field-error.hide
          small.error Question is required and should be less than 255 characters.
    - quiz_options.each_with_index do |option, i|
      = render 'poll_option', option: option, is_assessment: local_assigns[:is_assessment]
    .row.new-option
    .row
      .medium-8.large-9.small-12.columns.medium-offset-4.large-offset-3
        a.button.small.radius.add-option Add Option

    = render partial: 'topics_form', locals: {topics: tags.join(', ') }
    - unless action_name == 'edit' ||  in_private_channel || is_share_hidden || !@current_org.get_sharing_permissions
      .row
        .small-12.columns
          = react_component('SocialShare',  {'customId' => '-poll-card', encryptedUserId: ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(current_user.id)})

    - unless local_assigns.has_key? :cover
      br
      = render partial: 'private_channel', locals: {select_tag_id: 'poll-card-channel-ids'}
  br
  br
  .row
    .small-12.columns.text-right
      - if @card_pack_context
        = hidden_field_tag('cover_id', cover[:id])
        = hidden_field_tag('redirect_uri', new_card_collection_path)
      = submit_tag(submit_button_text, class: 'button radius pink', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "post", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "false", "poll" : "true", "question": "false", "photo" : "false", "video" : "false"}}, "object" : {"class" : "card", "published" : "true", "is_pathway" : "' + "#{is_pathway}" +'"}}'})
      = link_to 'Cancel', cancel_link, class: 'button radius transparent', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "cancel", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "false", "poll" : "true", "question": "false", "photo" : "false", "video" : "false"}}, "object" : {"class" : "card", "published" : "false", "is_pathway" : "' + "#{is_pathway}" +'"}}'}
    br
    br
= render 'poll_card_modals'

#option-copy.hide
  = render 'poll_option',  option: ''

- content_for :js
  javascript:
      // actually min_options is 2 and max_option is 8 but we are keeping a dummy option as hidden to clone when add new option so just added +1 to min_option and max_options and cannot select visible one on page load because poll card itself is hidden on page load
      var min_options = 3;
      var max_options = 6;
      var available_options = $('#poll-card-form').find('.option-field').length;
      function get_new_option() {
        var new_option = $('#option-copy .poll-option').clone();
        var new_option_field = new_option.find('input[type="text"]');
        var is_question_card = $('#is_question_card').is(':checked');
        new_option_field.prop('readonly', false);
        var options = $('.insight-form-container .poll-question').find("input[type='radio']");

        if(is_question_card) {
          new_option.find('.poll-question').removeClass('hide');
          new_option.find('.poll-simple').addClass('hide');

          options.removeAttr('disabled');
          var selected = options.filter(function() { return $(this).is(':checked') } ).length;

          if(selected == 0 && options[0] != undefined) {
            $(options[0]).attr('checked', 'checked');
          }
        } else {
          options.attr('disabled', 'true');
          new_option.find('.poll-question').addClass('hide');
          new_option.find('.poll-simple').removeClass('hide');
        }

        return new_option;
      }

      if(window.ldclient.variation("assessment", false) === false){
        $(".is-assessment").addClass('hide')
        $(".poll-option").css('margin-top','16px');
      } else {
        $(".is-assessment").removeClass('hide')
      }

      $(".add-option").click(function () {
        if (available_options < max_options) {
          $('.new-option').before(get_new_option());
          available_options += 1;
        }
        else {
          $('#poll-max-options-modal').foundation('reveal','open');
        }
      });

      $("#poll-card-form").on("click", ".remove-option", function () {
        if (available_options > min_options) {
          $(this).closest('.row').remove();
          available_options -= 1;

          // USE-CASE: When first option is deleted, make sure immediate option is selected.
          if ($(this).closest(".poll-question:not('.hide')").length != 0) {
            var options    = $('#poll-card-form').find(".poll-question:not('.hide')");
            var selections = options.find("input[type='radio']:checked");
            if(selections.length == 0) {
              $("#poll-card-form input[type='radio']:first").prop('checked', 'checked');
            }
          }
        }
        else {
          $('#poll-min-options-modal').foundation('reveal', 'open');
        }
      });
