- image_or_link = (image_url.present? || url.present?)
- img_ctrl_class = "hide" if image_or_link
- url_div_class = "hide" if !url.present?
- preview_div_class = "hide" if !image_url.present?
- card_id = action_name == 'edit' ? @card["id"] : nil
.small-12.columns
  .small-12.columns#extra_info.image_container
    .large-5.medium-5.small-12.columns.img_ctrl(class="#{img_ctrl_class}")
      div.img_btn
        input.poll_card_image.file-input type="file" name='files[]' data-url="#{file_resources_v1_path(:format => 'json')}"  multiple="" accept="image/*"
          i.fi-camera
          = image_tag "loading.gif", class: "loading"
          span.upload_text Upload Photo
    .large-2.medium-2.small-12.columns.img_ctrl.separator class="#{img_ctrl_class}"  style="line-height: 40px;" or
    .large-5.medium-5.small-12.columns.img_ctrl(class="#{img_ctrl_class}")
      div.img_btn.add_link
        i.fi-link
        span Add a Link
    .url_div(class="#{url_div_class}")
      .small-12.columns
        i.fi-x-circle.back_to_buttons title="Upload Photo"
        = url_field_tag 'url', url, placeholder: 'Enter url', id: "extra_info_url"
        = hidden_field_tag 'file_ids', file_resource_id, id: 'poll_image_ids'
        = hidden_field_tag 'card_id', card_id, id: 'card_id'
        
    .preview_div(class="#{preview_div_class}")
      i.fi-x-circle.remove_image
      = image_tag image_url
      
    .error_div

- content_for :js
  javascript:
    var fileResourcePinger = function(id){
      return function(){
          $.ajax({
            method: "GET",
            url: "#{file_resources_path}/" + id + ".json",
            success: function (response) {
              if (response.available){
                  $('.preview_div img').attr('src', response.fileUrl);
                  $('#poll_image_ids').val(response.id);
                  $('.img_ctrl, .loading').hide();
                  $('.error_div').html("");
                  $('.upload_text, .preview_div').show();
              } else {
                  setTimeout(fileResourcePinger(id), 1000);
              }
            },
            error: function (response) {
              $('.error_div').html('<p class="small-font">Could not upload file. Please try again.</p>');
              console.log("File Resource Error: " + response.error);
              $('.upload_text').show();
            }
          });
      };
    };

    $(document).ready(function(){
      var card_id = $('#card_id').val();
      var link = $("#extra_info_url").val();
      $('.poll_card_image').fileupload({
        dataType: 'json',
        paramName: 'file',
        start: function (e) {
          $('.preview_div, .upload_text').hide();
          $('.loading').show();
        },
        done: function (e, data) {
          var id = data.jqXHR.responseJSON.id;
          setTimeout(fileResourcePinger(id), 1000);
        },
        fail: function (e, data) {
          var error = data.jqXHR.statusText;
          $('.error_div').html('<p class="small-font">Could not upload file. Please try again.</p>');
          $('.upload_text').show();
          $('.loading').hide();
          console.log("File Upload Error: " + error);
        }
      });

      $(".remove_image").click(function(){
        $.ajax({
          method: "DELETE",
          url: "#{file_resources_path}/" + $('#poll_image_ids').val() + ".json",
          success: function (response) {
            $('.img_ctrl').show();
            $('.preview_div').hide();
            $('.preview_div img').attr('src', "");
            $('#poll_image_ids').val("");
          },
          error: function (response) {
            $('.preview_div').append('<p class="small-font">Could not delete file. Please try again.</p>');
            console.log("File Resource Error: " + response.error);
          }
        });
      });

      $('#is_question_card').change(function() {
        var container = $('.insight-form-container .poll-option, #option-copy');
        var options = $('.insight-form-container .poll-question').find("input[type='radio']");

        if($(this).is(':checked')) {
          container.find('.poll-question').removeClass('hide');
          container.find('.poll-simple').addClass('hide');
          
          options.removeAttr('disabled');
          var selected = options.filter(function() { return $(this).is(':checked') } ).length;

          if(selected == 0 && options[0] != undefined) {
            $(options[0]).attr('checked', 'checked');
          }
        } else {
          options.attr('disabled', 'true');
          container.find('.poll-question').addClass('hide');
          container.find('.poll-simple').removeClass('hide');
        }
      });
    });

  = javascript_include_tag('card')
