.row
  .small-12.columns
    #poll-min-options-modal.reveal-modal.small.common-modal data-reveal=''
      .row
        .small-12.columns
          h5
            strong Oops!
          p Your poll will need to have at least 2 options for your audience to choose from!
          br
          a.button.radius.right href="javascript:" onclick="$(this).closest('.reveal-modal').foundation('reveal', 'close');" Got It
      a.close-reveal-modal &#215;
    #poll-max-options-modal.reveal-modal.small.common-modal data-reveal=''
      .row
        .small-12.columns
          h5
            strong Woah!
          p That's a lot of options already! We can't add any more.
          br
          a.button.radius.right href="javascript:" onclick="$(this).closest('.reveal-modal').foundation('reveal', 'close');" Got It
      a.close-reveal-modal &#215;