.row.poll-option
  .medium-8.large-9.small-12.columns.medium-offset-4.large-offset-3.clearfix
    .option-actions.left
      = hidden_field_tag 'options[][id]', option[0]
      div[class="poll-simple #{!local_assigns[:is_assessment] ? '' : 'hide'}"]
        span.dummy-indicator &nbsp;&nbsp;&#9678;
        span.remove-option.left = image_tag('close_grey.png', width: 14, height: 14)
      div[class="poll-question #{local_assigns[:is_assessment] ? '' : 'hide'}"]
        - if option[1]
          = radio_button_tag "options[][is_correct]", true, checked: option[1]
        - else
          = radio_button_tag "options[][is_correct]", true
        span.remove-option.left.remove-question = image_tag('close_grey.png', width: 14, height: 14)
    .option-field.right
      = text_field_tag 'options[][label]', option[2], { required: true, placeholder: 'Option' }
