/ editing a card; any private channel is displayed but non-editable
- if action_name == 'edit'
  - if @card_channels.present?
    .row
      .medium-4.large-3.small-12.columns
        = label_tag(:post_to_channel, 'Posted to')
      .medium-8.large-9.small-12.columns
        - @card_channels.each do |channel|
          = text_field_tag(:private_channel, channel.label, disabled: true)

/ creating a card; allow selection of private channel
- elsif @writable_channels.present?
  .row
    - if params[:controller] != 'user_pages'
      .medium-4.large-3.small-12.columns
    .medium-8.large-9.small-12.columns
      = select_tag('channel_ids[]',
                   options_for_select(channel_options(@writable_channels)),
                   id: select_tag_id,
                   multiple: true,
                   class: 'private-channel', 'data-prompt': 'Choose a Channel')
