- form_path = action_name == 'edit' ? insight_link(card['id']) : insights_index_link
- form_method = action_name == 'edit' ? 'patch' : 'post'
- title = action_name == 'edit' ? card['content']['title'] : nil
- message = action_name == 'edit' ? card['content']['message'] : nil
- cancel_link = local_assigns.has_key?(:cover) ? collection_path(cover[:slug]) : root_path
- tags = action_name == 'edit' ? card['tags'].map { |a| a['name'] } : []
- in_private_channel = local_assigns.has_key?(:in_private_channel) ? in_private_channel : false
- is_share_hidden  = (local_assigns.has_key?(:cover) || (local_assigns.has_key?(:card) && card['hidden']))
- is_pathway = local_assigns.has_key?(:cover)
- amplitude_pathway_event = local_assigns.has_key?(:cover) ? 'create_smartbites_pathway_menu_addcard' : 'create_smartbites_creation_menu'
- if action_name == 'edit'
  - submit_button_text = 'Update'
- else
  - submit_button_text = local_assigns.has_key?(:cover) ? 'Add to Pathway' : 'Create'

= form_tag(form_path, method: form_method.to_sym) do

  .insight-form-container
    br
    .row
      .medium-4.large-3.small-12.columns
        = label_tag "title", "Question"
      .medium-8.large-9.small-12.columns
        = text_field_tag 'title', title, required: true, class: 'max-length-box'
        .text-field-error.hide
          small.error Question is required and should be less than 255 characters.
    .row
      .medium-4.large-3.small-12.columns
        label for="message"
          span Description
          span.help-text
            |(optional)
      .medium-8.large-9.small-12.columns
        = text_area_tag 'message', message, required: false, rows: 10, class: 'message-box card-message'

    = render partial: 'topics_form', locals: { topics: tags.join(', ') }
    - unless action_name == 'edit' ||  in_private_channel || is_share_hidden || !@current_org.get_sharing_permissions
      .row
        .small-12.columns
          = react_component('SocialShare',  {'customId' => '-text-card', encryptedUserId: ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(current_user.id)})
    - unless local_assigns.has_key? :cover
      br
      = render partial: 'private_channel', locals: {select_tag_id: 'text-card-channel-ids'}
  br
  br
  .row
    .small-12.columns.text-right
      - if local_assigns.has_key? :cover
        = hidden_field_tag('cover_id', cover[:id])
        = hidden_field_tag('redirect_uri', new_card_collection_path)
      = submit_tag(submit_button_text, class: 'button radius pink', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "post", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "false", "poll" : "false", "question": "true", "photo" : "false", "video" : "false"}}, "object" : {"class" : "card", "published" : "true", "is_pathway" : "' + "#{is_pathway}" +'"}}'})
      = link_to 'Cancel', cancel_link, class: 'button radius transparent', data: {amplitude_trigger: 'click', amplitude_event: "#{amplitude_pathway_event}", amplitude_event_props: '{"action" : {"type": "create"}, "where" : {"post_status" : "cancel", "page_class": "smartbites_creation", "sub_class" : "web", "sb_content" : { "article_link": "false", "poll" : "false", "question": "true", "photo" : "false", "video" : "false"}}, "object" : {"class" : "card", "published" : "false", "is_pathway" : "' + "#{is_pathway}" +'"}}'}
  br
  br
