- card_type_label, card_type_class = card_display_type(@card)
- active_class = '.' + card_type_label + '-card-icon'
- local_vars = { card: @card }

- content_for(:title) do
  = 'Edit Card | EdCast'

= render 'common/default_meta_tags', title: 'Create a Card | EdCast'

- if @card_pack_context
  - cover = {title: @cover.content.title,
             imageUrl: display_image(@cover),
             userOwnsCard: (@cover.author_id == current_user.id),
             id: @cover.id,
             cardType: @cover.card_type,
             slug: @cover.slug}
  - card_pack_params = {action: 'card_packs-new_card', cover: cover, metaitems: @items_data, currentTocIndex: @current_toc_index}
- else
  - card_pack_params = {action: 'cards-new'}

- @card_pack_context && local_vars.merge!(cover: cover)

br
br
.row
  .small-12.columns.medium-8.large-7.small-centered
    dl.tabs.iconic-tabs data-tab=""
      dd.tab-title.disabled
        a.article-card-icon href="#link-card-form"
          .tab-icon
            img src="#{image_url('link_white.png')}" width=50
          .show-for-large-up.text-center Article
      dd.tab-title.disabled
        a.question-card-icon href="#text-card-form"
          .tab-icon
            img src="#{image_url('text_white.png')}" width=30
          .show-for-large-up.text-center Question
      dd.tab-title.disabled
        a.photo-card-icon href="#image-card-form"
          .tab-icon
            img src="#{image_url('photo_white.png')}" width=30
          .show-for-large-up.text-center Photo
      dd.tab-title.disabled
        a.video-card-icon href="#video-card-form"
          .tab-icon
            img src="#{image_url('video_white.png')}" width=30
          .show-for-large-up.text-center Video
      dd.tab-title.disabled
        a.poll-card-icon href="#poll-card-form"
          .tab-icon
            img src="#{image_url('poll_white.png')}" width=30
          .show-for-large-up.text-center Poll

    .tabs-content
      br

      - if card_type_label == 'article'
        #link-card-form.content.active
          = render partial: 'link_card_form', locals: local_vars
      - elsif card_type_label == 'question'
        #text-card-form.content.active
          = render partial: 'text_card_form', locals: local_vars
      - elsif card_type_label == 'video'
        #video-card-form.content.active
          = render partial: 'video_card_form', locals: local_vars
      - elsif card_type_label == 'photo'
        #image-card-form.content.active
          = render partial: 'image_card_form', locals: local_vars
      - elsif card_type_label == 'poll'
        #poll-card-form.content.active
          = render partial: 'poll_card_form', locals: local_vars.merge!(is_assessment: @db_card.is_a_poll_question?)

= render 'common/topics_js'

- content_for :js
  = javascript_include_tag "lengthValidator"
  = javascript_include_tag 'link_preview'
  javascript:
    window.fetchResource = "#{share_preview_path}"
    $("#{active_class}").closest(".tab-title").addClass("active").removeClass("disabled");
