= render 'common/default_meta_tags', title: 'Create a Card | EdCast'
/.parent-container
/  .left-child-container
/    .left-child-inner-container
- if @card_pack_context
  - cover = {title: @cover.content.title,
             imageUrl: display_image(@cover),
             userOwnsCard: (@cover.author_id == current_user.id),
             id: @cover.id,
             cardType: @cover.card_type,
             state: @cover.state,
             slug: @cover.slug}
  - card_pack_params = {action: 'card_packs-new_card', cover: cover, metaitems: @items_data}
- else
  - card_pack_params = {action: 'cards-new'}
br
br
.row
  .small-12.columns.medium-4.large-4
    = react_component('CardPackMeta', card_pack_params)
  .small-12.columns.medium-8.large-8
    dl.tabs.iconic-tabs data-tab="" class="tabs-5"
      dd.tab-title.active
        a.article-card-icon href="#link-card-form"
          .tab-icon
            img src="#{image_url('link_white.png')}" width=50
          .show-for-large-up.text-center Article
      dd.tab-title
        a.question-card-icon href="#text-card-form"
          .tab-icon
            img src="#{image_url('text_white.png')}" width=30
          .show-for-large-up.text-center Question
      dd.tab-title
        a.photo-card-icon href="#image-card-form"
          .tab-icon
            img src="#{image_url('photo_white.png')}" width=30
          .show-for-large-up.text-center Photo
      dd.tab-title
        a.video-card-icon href="#video-card-form"
          .tab-icon
            img src="#{image_url('video_white.png')}" width=30
          .show-for-large-up.text-center Video
      dd.tab-title
        a.poll-card-icon href="#poll-card-form"
          .tab-icon
            img src="#{image_url('poll_white.png')}" width=30
          .show-for-large-up.text-center Poll
    .tabs-content
      br
      #link-card-form.content.active
        - if @card_pack_context
          = render partial: 'link_card_form', locals: {cover: cover, in_private_channel: @in_private_channel}
        - else
          = render partial: 'link_card_form'

      #text-card-form.content
        - if @card_pack_context
          = render partial: 'text_card_form', locals: {cover: cover, in_private_channel: @in_private_channel}
        - else
          = render partial: 'text_card_form'

      #image-card-form.content
        - if @card_pack_context
          = render partial: 'image_card_form', locals: {cover: cover, in_private_channel: @in_private_channel}
        - else
          = render partial: 'image_card_form'

      #video-card-form.content
        - if @card_pack_context
          = render partial: 'video_card_form', locals: {cover: cover, in_private_channel: @in_private_channel}
        - else
          = render partial: 'video_card_form'

      #poll-card-form.content
        - if @card_pack_context
          = render partial: 'poll_card_form', locals: {cover: cover, in_private_channel: @in_private_channel}
        - else
          = render partial: 'poll_card_form'

= render 'extract_tags_javascript'
= render 'common/topics_js'

- content_for :js
  = javascript_include_tag "lengthValidator"
  - if @current_org.present?
    javascript:
      window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}

  = javascript_include_tag 'link_preview'
  javascript:
    window.fetchResource = "#{share_preview_path}"
    var user = #{current_user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: current_user, anonymous: nil, include_email: false, include_score_entry: false})).to_json.html_safe};
    user.encryptedId = "#{ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(current_user.id)}";
    $(document).ready(function(){
      $(".poll-card-icon").on('click', function() {
        var show_buttons = !$('#poll_image_ids').val() && !$('#extra_info_url').val()
        if(show_buttons) {
          $('.img_ctrl').show();
          $('.url_div').hide();
        }
      })
    });
