- content_for :css_tag
  = stylesheet_link_tag 'events'
- content_for :pre_javascript
  script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'
  script src='//apis.google.com/js/platform.js'
- content_for :js_tag
  = javascript_include_tag 'events/bootstrap'

#loader-img
  = image_tag asset_path('preloader.gif'), :width => '30', :height => '30'
div.fixed
  top-bar.top-bar.header sticky-class=" "
    ul.title-area
      li.name
        h1
          a href="#" ng-click="page='find'"
            = image_tag asset_path('edcast_logo_grey.png')
      /! Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      li.toggle-topbar.menu-icon toggle-top-bar=""
        a href="#"
          //span Menu
    top-bar-section
      /! Right Nav Section
      ul.right
        li
          a ui-sref="events.default" ng-class="{'active': page=='find'}" ng-click="page='find'" Find Events
        li
          a ui-sref="events.profile" ng-class="{'active': page=='events'}" ng-click="page='events'" My Events
        li
          a.inverse ui-sref="events.new" ng-click="page='create'" Create an Event

div ui-view=""
- content_for :js do
  javascript:
    $(window).load(function () {
      // Animate loader off screen
      $("#loader-img").animate({
        top: '105px'
      }, 400);
    });
    // Check if top-bar has loaded or not
    $('nav.top-bar:visible').ready(function() {
      // Animate loader off screen
      var ele = document.getElementById('loader-img');
      $(ele).css("display", "none");
    });


