- content_for :css_tag
  = stylesheet_link_tag 'ui'
  = stylesheet_link_tag 'qa'
- content_for :js_tag
  = javascript_include_tag 'ui/bootstrap'
  javascript:
    if (!window.jQuery){
        // jquery is not defined. ui/bootstrap failed to download
        if (window.Bugsnag){
            Bugsnag.notify("JQueryUndefined", "Bootstrap file download failed");
        }
    }
.right-rail-container#right-rail-container ng-controller="RightRailCtrl"
  .row.widget-header.compact.ng-cloak
    .small-5.columns
      = image_tag asset_path('edcast_white.png'), :class => 'logo'
  .row.widget-header.bell-row.ng-cloak

    .column.small-12.text-right
      a.notifications-dropdown href="#" dropdown-toggle="[ng-class=notifications-menu]" aria-haspopup="true" aria-label="notifications menu" ng-init="click=false" ng-click="click=(!click); notificationBubbleOnClick()" aria-expanded="{{click}}"
        = image_tag asset_path('edcast_ic_notifications_white.png'), :class => 'bell unseen', 'ng-if' => "unseenNotificationsCount > 0"
        = image_tag asset_path('edcast_ic_notifications_white_outline.png'), :class => 'bell', 'ng-if' => "unseenNotificationsCount == 0"

        .count-badge ng-if="unseenNotificationsCount > 0"
          | {{ unseenNotificationsCount }}
      ul.f-dropdown.dropdown-menu.notification-dropdown#notifications-dropdown ng-class="notifications-menu" role="menu" aria-label="menu" aria-hidden="{{!click}}"
        div.notifications-wrapper
          li.text-center ng-if="!notifications.length" style="padding: 30px;"
            p.empty-state-message-tooltip
              | You're all caught up!
            = image_tag asset_path('empty_state_notification_3.png'), :class => 'empty-state'

          li ng-repeat="notification in notifications" ng-click="notificationOnClick(notification)"

            .row.notification-row ng-class="{'seen': notification.seen, 'unseen': !notification.seen}"
              .column.small-3.text-left.img-wrapper
                img.img-40 ng-src="{{notification.user.picture}}" alt="{{notification.user.name}}" width="40" height="40"
              .column.small-9.text-left
                p.mb0px.notification-message
                  | {{ notification.message }}
          div.see-more.text-center ng-if="hasMoreNotifications"
            a ng-click="showMoreNotifications($event)" See More
  .row.user-header.ng-cloak

    .user-profile.pdr10
      a.has-tip.profile-link ng-click="expandToProfile()" tooltip-placement='bottom' tooltip='Profile settings' aria-label="Profile settings" aria-haspopup="true"
        = image_tag asset_path(current_user.photo), width: 40, height: 40, :class => 'user-image'
    .share-wrapper
      label.label-hide for="share-input" share something
      input.share-input.small-9#share-input type="text" placeholder="Share something..." readonly="true" ng-click="expandToCompose()"
  .row.my-posts-block.ng-cloak
    .columns.small-4 ng-click="expandToMyPosts()"
      p
        | My Posts
    .columns.small-8 ng-click="expandToMyComments()"
      p
        | My Comments

  div
    trending-topics ng-show="!isTopicSelected()" group="group"
    topic-stats ng-if="isTopicSelected()" group="group" topic="selectedTopic()"
  .main-container-to-scroll
    .row.stream-block
      .column.small-12
        activity-stream group-id="group.id"
div#full-forum-container
  #loader-img
    = image_tag asset_path('preloader.gif'), :width => '30', :height => '30'
  div#widget-container ng-controller="ControlsCtrl"
    .row#main-container
      #left-container
        .row.widget-header.ng-cloak
          .row.widget-header-row.widget-header-group.pd10
            .column.small-12
              .row
                .column.small-4.logo
                  = image_tag asset_path('edcast_logo_grey.png')
                .column.small-8
                  .small-12.columns.thumb-small.text-right
                    .user-profile.pdr10 style="display: inline"
                      a.has-tip.profile-link ui-sref="posts.main.profile" tooltip-placement='bottom' tooltip='Profile settings' aria-label="Profile settings" aria-haspopup="true"
                        = image_tag asset_path(current_user.photo), width: 32, height: 32, :class => 'user-image'
                    .score-element
                      = image_tag asset_path('thumb-small-gray.png'), :class => "thumb"
                      span.user-score
                      = @score_entry[:score]
                    .score-element
                      = image_tag asset_path('small-star.png'), :class => "star"
                      span.user-score
                        = @score_entry[:stars]
              / Temporarily force hide group ui
              div.row
                .row.group-picker-row ng-class="{group: primaryGroup !== group}" tabindex="0" aria-label="Group picker" aria-expanded="{{showGroups}}" role="button"
                  .column.small-1 ng-if="primaryGroup !== group"  dropdown-toggle="#groups-dropdown"
                    span
                      i.fi-torsos-all
                  .column.small-10.group-picker  dropdown-toggle="#groups-dropdown"
                    span ng-show="primaryGroup !== group" ng-bind="group.name"
                    span ng-show="primaryGroup === group" style="font-weight: bold"
                      | Groups&nbsp;&nbsp;
                    div.arrow-down ng-class="{grey: primaryGroup === group}"
                  .column.small-1.group-picker-details
                ul.f-dropdown.sort-menu-dropdown.dropdown-menu#groups-dropdown role="menu" aria-label="menu"  aria-hidden="{{!click}}"
                  li
                    a ng-show="primaryGroup !== group" ng-click="setActiveGroup(primaryGroup)" tabindex="0" ng-enter="setActiveGroup(primaryGroup)"
                      | << Back to main forum
                  li ng-repeat="group in groups" ng-click="setActiveGroup(group)" tabindex="0" ng-enter="setActiveGroup(group)"
                    a ng-bind='group.name'
                  li.disabled ng-show="groups.length == 0"
                    a You are not part of any groups yet
          .row.widget-header-row
            .column.small-1
              button.radius.tiny.search-button#search-icon-button data-ec="control" data-ea="search.show" data-el="control.search.toggle.show.link" ng-class="{active: showSearch}" ng-click="showSearch = !showSearch;" aria-label="search button" aria-expanded="{{showSearch}}" ng-init="showSearch = false;" &nbsp;

            .column.small-7.medium-6.sort-container style="font-size: 13px"
              a#view-tag href="#" dropdown-toggle="#widget-tabs-dropdown" data-ec="control" data-ea="sort.menu" data-el="control.sort.menu.link" aria-label="Sort posts dropdown menu" aria-expanded="{{click}}" ng-init="click=false" ng-click="click = (!click)" aria-haspopup="true"
                span.text-right.sort-dropdown-text ng-bind='displaySort' style="padding-right: 6px; padding-left: 6px;"
                .arrow-down
              ul.f-dropdown.sort-menu-dropdown.dropdown-menu#widget-tabs-dropdown role="menu" aria-label="menu"  aria-hidden="{{!click}}"
                li aria-label="newest threads" tabindex="0"
                  a ng-change="doSort(sort)" ng-model="sort" btn-radio="'date'" data-ec="control" data-ea="sort" data-el="control.sort.mostRecent.link"
                    | newest threads
                li aria-label="recently updated" tabindex="0"
                  a ng-change="doSort(sort)" ng-model="sort" btn-radio="'updates'" data-ec="control" data-ea="sort" data-el="control.sort.mostRecent.link"
                    | recently updated
                li aria-label="most upvoted" tabindex="0"
                  a ng-change="doSort(sort)" ng-model="sort" btn-radio="'votes'" data-ec="control" data-ea="sort" data-el="control.sort.mostUpvoted.link"
                    | most upvoted
                li aria-label="most answers"  tabindex="0"
                  a ng-change="doSort(sort)" ng-model="sort" btn-radio="'responses'" data-ec="control" data-ea="sort" data-el="control.sort.mostAnswers.link"
                    | most answers
                - if @user_role == 'admin'
                  li aria-label="flagged posts"  tabindex="0"
                    a ng-change="doSort(sort)" ng-model="sort" btn-radio="'flagged'" data-ec="control" data-ea="sort" data-el="control.sort.flaggedPosts.link"
                      | flagged posts
                li aria-label="announcements"  tabindex="0"
                  a ng-change="doSort(sort)" ng-model="sort" btn-radio="'announcements'" data-ec="control" data-ea="sort" data-el="control.sort.announcements.link"
                    | announcements

            .column.small-3.medium-4.text-right
              button.radius.tiny.post-button#add-post-button ui-sref="posts.new" aria-label="Add new post"
                | + Post


          .row.widget-header-row.search-form-row ng-show='showSearch || questionsService.searchQueryTerm().length > 0' aria-hidden="{{!showSearch}}" tabindex="0" role="search"
            .column.small-11
              label.label-hide for="search-input" Enter keywords or #tags to search
              input.search-input#search-input ng-class='{active: query.length>0}' hashtag-autocomplete=true type="text" ng-model="query" placeholder="search for keywords or #tags" ui-keypress="{'enter': 'doSearch($event)'}" aria-label="Enter keywords or #tags to search" autofocus=" "
            .column.small-1.text-right
              span.close#search-close ng-click="showSearch = false; cancelSearch();" ng-enter="showSearch = false; cancelSearch();" data-ec="control" data-ea="search.dismiss" data-el="control.search.toggle.dismiss.link" tabindex="0" role="button" aria-label="Close"
          .row ng-if="hasFilters"
            alert ng-repeat="filter in filters" type="'radius info'" close="removeFilter(filter.name)"
              div ng-switch="" on="filter.name"
                div ng-switch-when="authorId"
                  strong Posted by
                  span< {{filter.value.name}}
                div ng-switch-when="commenterId"
                  strong Answered by
                  span< {{filter.value.name}}
        div
          div ng-if="displayContext"
            context-show context-id="contextId" context-label="contextLabel"
          div.left-scroll-container ui-view="questions"
      #right-container ng-class="{transparent: ($state.current.name == 'posts.main.insights' || transparentBackground)}"
        div ui-view=""
  - content_for :js do
    javascript:
      $(window).load(function () {
        // Animate loader off screen
        $("#loader-img").animate({
          top: '105px'
        }, 400);

        if($('.widget-header:visible').length) {
          var ele = document.getElementById('loader-img');
          $(ele).css("display", "none");
        }

      });

      $(window)
              .load(function () {
                if ((navigator.platform.indexOf("iPhone") != -1) || (navigator.platform.indexOf("iPod") != -1) || navigator.userAgent.match(/iPad/i) != null) {
                  $('.main-container-to-scroll').css({'height': '100%'});
                }
                else {
                  var height = document.documentElement.clientHeight - $(".main-container-to-scroll").offset().top;
                  $('.main-container-to-scroll').height(height);
                }
              })
              .resize(function () {
                if ((navigator.platform.indexOf("iPhone") != -1) || (navigator.platform.indexOf("iPod") != -1) || navigator.userAgent.match(/iPad/i) != null) {
                  $('.main-container-to-scroll').css({'height': '100%'});
                }
                else {
                  var height = document.documentElement.clientHeight- $(".main-container-to-scroll").offset().top;
                  $('.main-container-to-scroll').height(height);
                }
              });



      if ($('.widget-header').length) {
        $('.widget-header').css('display', 'block');
      }

        $(document).on('click', '#search-icon-button', function (e) {

          if($('#search-input').length) {
            $('#search-input').focus();


          }
        });



    javascript:
      $(document).on('click', '#search-close', function (e) {
        if($('#search-icon-button').length) {
          $('#search-icon-button').focus();
        }
      });
      $('input#search-input').focus(function () {
        $('.search-form-row').addClass('search-focused');
      });

      $('input#search-input').blur(function () {
        $('.search-form-row').removeClass('search-focused');
      });
