- amplitude_event_props = {action: {type: 'create'}, where: {page_class: 'signup', codename: 'destiny'}, object: {social_media_type: "#{sso}"}}.to_json

li.text-center style="padding-bottom: 0;"
  - label = static ? button_text : "#{action_text} with #{button_text}"
  a.social-button.auth-button class="#{sso}" href="#{social_connect_url(sso)}" target="_blank" data-amplitude-trigger='click' data-amplitude-event-props="#{amplitude_event_props}" data-amplitude-event='tp_signup' #{label}
