.server_error {
    background-color: #26273b;
    width: auto;
    margin: 0;
    font-family: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #6f708b;
}

.server_error_wrapper {
    padding: 34.4rem 0 0 10%;
}

.coach_eddie {
    float: left;
    margin-top: 1rem;
    height: 7.063rem;
}

.edk_logo2 {
    height: 2rem;
}

.clear {
    clear: both;
}

.oops {
    color: #d6d6e1;
    opacity: 0.2;
    font-size: 9rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.212rem;
    margin-bottom: 2.5rem;
}

.error_text {
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: left;
}

#wrong {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: left;
}

@media (max-width: 660px) {
    .server_error_wrapper {
        padding: 50% 0 0 2%;
        margin: 0 auto;
    }
    .error_text,#wrong {
        text-align: center;
    }
    .oops {
        font-size: 5.94rem;
        line-height: 7.063rem;
    }
}

@media (max-width: 470px) {
    .oops {
        font-size: 4.38rem;
        line-height: 7.063rem;
    }
    .error_text, #wrong {
        text-align: center;
    }
}