- profile_url = profile_page_url(current_user)
- user_handle = current_user.handle
- user_name   = current_user.name

.card.iron-border.center style="background-image: url('#{current_user.coverimage.url(:profile)}');"
  .card-overlay
  .card-section
    .card-divider.clearfix
      = link_to(public_user_page_path(handle: handle_no_at(user_handle))) do
        = image_tag current_user.photo, class: 'avatar avatar-default left'
      .actions-wrapper.clearfix
        .author-name.left
          = link_to user_name, public_user_page_path(handle: handle_no_at(user_handle)), class: 'truncate', title: user_name, data: {amplitude_trigger : 'click', amplitude_event: 'view_user', amplitude_event_props : '{"action" : {"type" : "view"}, "object" : {"class" : "user"}}' }
          = link_to user_handle, public_user_page_path(handle: handle_no_at(user_handle)), class: 'truncate', title: user_handle, data: {amplitude_trigger : 'click', amplitude_event: 'view_user', amplitude_event_props : '{"action" : {"type" : "view"}, "object" : {"class" : "user"}}' }
    .card-content
      .row
        .small-12.columns
          span.medium-font.line-clamp-3 [ title = current_user.bio ]
            = current_user.bio
      hr
      .row
        .small-12.columns
          .row
            .small-12.columns
              span.medium-font Your EdCast Page:
          .row
            .small-12.columns
              .connect-author.medium-font
                .row
                  .small-10.columns.left
                    = link_to profile_url, profile_url, class: 'truncate', title: profile_url
                  .small-2.columns.right
                    = link_to 'Edit', settings_path(t: 'edit'), class: 'button user transparent'
