$('meta[name="csrf-token"]').attr('content', <%= ActiveSupport::JSON.encode(@authenticity_token).html_safe %>);
Authentication.afterLoginHandler && Authentication.afterLoginHandler();
<% unless current_user %>
window.location.href = "<%= new_user_session_path %>";
<% end %>
