<% if @user.errors.blank? %>
    $('#collect-user-data-modal').foundation('reveal', 'close');
<% else %>
    $('#collect-user-data-modal form').html('<%= escape_javascript(render partial: 'users/user_data_form', locals: {user: @user}) %>')
<% end %>