
html[prefix="og: http://ogp.me/ns#"]
  head
    meta[property="og:title" content="Posted from EdCast"]
    meta[property="og:description" content="#{@user_badge.user.name} won a badge for #{@user_badge.card_badging.title}"]
    meta[property="og:image" content="#{cl_image_path("bg_edcast_logo.png",:quality=>100, :transformation=>[
      {
       :overlay=>"#{Cloudinary::Uploader.upload("https:#{@user_badge.user.organization.co_branding_logo.url}")["public_id"]}",
       :gravity=>"north_west",
       :width=>70,
       :x=>155,
       :y=>35,
       :h=>70,
       :crop=>"scale"
       },
      {
       :overlay=>"#{Cloudinary::Uploader.upload("https:#{@user_badge.card_badging.card_badge_image.url(:small)}")["public_id"]}",
       :height=>200,
       :width=>200
      },
      {
       :overlay=>"text:Source%20Sans%20Pro_38_bold_center:#{(@user_badge.card_badging.title).gsub(" ", "%20")}",
       :gravity=>"south",
       :y=>120,
       :x=>8
      }
      ])}"]
    link[href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"]

    style
      |  .badge_body { background:#26273a; } .badge_container { max-width:916px; text-align:center; border: solid 9px #d6d6e1; border-radius: 4px; background-color: #ffffff; padding:65px 0px; margin:60px auto 0px; font-family: Open Sans; } .edcast_logo { height:70px; width:120px; display:inline-block; margin-right:25px; } .org_logo { width:auto; height:70px; display:inline-block; max-width:120px } .badge_earned p{ font-size: 24px; line-height: 1.29; letter-spacing: 0.2px; text-align: center; color: #6f708b; padding:26px 0px 0px; } .badge_earned span { font-weight:600; } .badge { max-width:216px;} .badge_name { font-size: 20px; font-weight: 600; color: #454560; margin-bottom:10px; padding:25px 0px 0px; } .badge_awarded_on { font-size:18px;font-weight:300 }

  body.badge_body
    .row.badge_container
      div
        img.edcast_logo[src="https://d1iwkfmdo6oqxx.cloudfront.net/organizations/co_branding_logos/000/001/454/original/Edpipe.png"]
        img.org_logo[src=@user_badge.user.organization.co_branding_logo]
      div.badge_earned
        p
          span
            = @user_badge.user.name
          |  has earned a badge on EdCast!
      div
        img.badge[src=@user_badge.card_badging.card_badge_image.url(:large)]
      div
        p.badge_name
          = @user_badge.card_badging.title

        p.badge_awarded_on
          = @user_badge.created_at.to_date.strftime("%m/%d/%Y")
