= render 'common/default_meta_tags'

= render 'common/home_banner'

.row
  .small-12.columns.text-center
    .section-title
      h3 Change Your Password
       
.row
  .small-10.small-centered.medium-6.medium-centered.large-4.large-centered.columns
  	= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, id: 'reset-password-form'}) do |f|
      = f.hidden_field :reset_password_token
      .row
        .small-12.columns
          = f.input :password, :autofocus => true, label: false, input_html: { autocomplete: 'off', id: 'password_field' }, placeholder: 'Password', required: true, error_html: { class: 'error'}
      .password-suggestion
        ul
          li Use at least 8 characters.
          li At least one letter should be capital.
          li Include at least a number and symbol (#?!@$%^&*-=).
          li Password is case sensitive.
      .row
        .small-12.columns
          = f.input :password_confirmation, required: true, label: false, input_html: { autocomplete: 'off', id: 'confirm_password_field' }, placeholder: 'Repeat password', error_html: { class: 'error'}
      .row
        .small-12.columns
          = f.submit "Change my password", :class => 'button radius success expand reset-password-button'
	.row
      .small-12.columns.text-center
        = render "devise/shared/links"

br
br 
br
br 
br
br 
- content_for :js
  javascript:
    $(document).ready(function() {
      var passwordEle = $('#user_password');
      passwordEle.on('focus', function(event) {
        $('.password-suggestion').show();
      });

      passwordEle.change(function(event) {
        var passwordReg = new RegExp("(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])(?=.{8,})")
        if(!passwordReg.test($(this).val())){
          $('.reset-password-button').attr('disabled',true);
          $('.password-suggestion').show();
        } else {
          $('.reset-password-button').attr('disabled',false); 
          $('.password-suggestion').hide();
        }
      });

      passwordEle.blur(function(event) {
        if(!$(this).val()){
          $('.password-suggestion').hide();
        }
      });

      function getObject(data) {
          var paramObj = {};
          $.each(data, function(_, kv) {
              if (paramObj.hasOwnProperty(kv.name)) {
                  paramObj[kv.name] = $.makeArray(paramObj[kv.name]);
                  paramObj[kv.name].push(kv.value);
              }
              else {
                  paramObj[kv.name] = kv.value;
              }
           });
           return paramObj;
      }


      $("#reset-password-form").submit(function(e){
        // checking if the device is a mobile
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) { 

            if($('#password_field').val() && $('#confirm_password_field').val() && $('#password_field').val() == $('#confirm_password_field').val()){
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    dataType: "json",
                    data: getObject($(this).serializeArray()),
                    success: function (response) {
                        $("body").html('<div class="text-center"><h5>Your password has been changed.</h5></div>');
                    }
                });
            }

        }
      });

    });