- amplitude_event_props = {action: {type: 'request'}, where: {page_class: 'password_request', codename: 'destiny'}}.to_json
= render 'common/default_meta_tags'

= render 'common/home_banner'

.row
  .small-12.columns.text-center
    .section-title
      br
      h3 Forgot Your Password?
      p Give us your email address, and we'll send you a password reset link.


.row
  .small-10.small-centered.medium-6.medium-centered.large-4.large-centered.columns
    
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|
      = f.hidden_field :organization_id, value: @current_org.id
      .row
        .small-12.columns
          = f.input :email, label: false, :autofocus => true, :required => true, placeholder: 'Your email address', error_html: { class: 'error'}
      .row
        .small-12.columns
          = f.submit "Reset my password", :class => 'button radius success expand', 'data-amplitude-trigger':'click', 'data-amplitude-event-props': "#{amplitude_event_props}", 'data-amplitude-event': 'forgot_password_request'
          
      .row
        .small-12.columns.text-center    
          = link_to "Back to Log In", new_session_path(resource_name), :class => 'button radius transparent'

br
br 
br
br 
br
br          
        
