.row
  .large-12.columns
    h2 Buttons

.row
  .large-6.columns
    .section-header
      .section-title Sizes
    a.button.tiny Tiny
    a.button.small Small
    a.button Default
    a.button.large Large
    a.button.expand Expanded
  .large-6.columns
    .section-header
      .section-title Colors
    a.button Default
    a.button.primary Primary
    a.button.secondary Secondary
    a.button.alert Alert
    a.button.warning Warning
    a.button.success Success
    a.button.info Info
    a.button.disabled Disabled

.row
  .large-12.columns
    .section-header
      .section-title Styles
    a.button Default
    a.button.transparent Transparent
    a.button.hollow Hollow
    a.button.disabled Disabled
    a.button.primary Primary
    a.button.hollow-blue Hollow Blue
    a.button.info Info
    a.button.secondary Secondary


.row
  .large-12.columns
    h2 Typography

.row
  .large-6.columns
    h1 Heading 1
    h2 Heading 2
    h3 Heading 3
    h4 Heading 4
    h5 Heading 5
    h6 Heading 6
  .large-6.columns
    h1.subheader Subheading 1
    h2.subheader Subheading 2
    h3.subheader Subheading 3
    h4.subheader Subheading 4
    h5.subheader Subheading 5
    h6.subheader Subheading 6
  .large-12.columns
    br
    a Anchor Link
    br
    br
    p This is a paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac maximus quam. Etiam volutpat sit amet neque quis commodo. Cras posuere blandit ipsum sed tincidunt. Nullam orci enim, pulvinar in lacus a, ullamcorper commodo felis. Donec elementum metus vitae fermentum sagittis. Phasellus dictum vitae est at dapibus.

