| Hi#{" #{@invitation.first_name}" if @invitation.first_name},

  Congratulations! You’ve been invited to the EdCast Developer Center.

  From there, you’ll be able to create your EdCast widget keys, and integrate EdCast
  with your online learning environment. The documentation will show you how to do that in minutes.

    #{@invite_url}

  We're excited about the social collaboration tools we’re building, and we can't
  wait to see how you use them!

  Cheers,
  The EdCast Dev Team