div style='background: #E5E4E4; width: 90%; min-width: 420px; font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;'
  table border='0' cellspacing='0' cellpadding='0' style='color:#636363; width:400px; margin: 10px; margin-left: auto; margin-right:auto;' bgcolor="#f6f6f6"
  table border='0' cellspacing='0' cellpadding='0' style='color:#636363; width:400px; margin: 10px; margin-left: auto; margin-right:auto; box-shadow: 2px 2px 4px 4px #ccc;' bgcolor="#FFFFFF"
    tr
      td style="min-width: 34px;"
      td style="font-size: 16px;"
        p style="font-size: 20px; margin-top: 15px;"
          | Hi#{" #{@invitation.first_name}" if @invitation.first_name},
        p style="text-align: center; font-size: 15px;"
          | Congratulations! You’ve been invited to the EdCast Developer Center.
        p style="text-align: center; font-size: 15px;"
          | The documentation will show you how to create your EdCast widget keys and integrate EdCast with your online learning environment in minutes.
        p style="text-align: center; font-size: 15px;"
          | We're excited about the social collaboration tools we’re building, and we can't wait to see how you use them!
      td style="min-width: 34px;"
    tr height='100px'
      td
      td align="center"
        a style="background-color: #82C965; color:#FFFFFF; text-decoration:none; margin: 10px; padding: 15px; font-size: 17px;" href="#{@invite_url}" Get Started
      td
    tr
      td
      td style="padding-top: 20px;"
        p
          | Welcome Aboard!
        p
          | The EdCast Team
        br
      td
  table border='0' cellspacing='0' cellpadding='0' style='color:#636363; width:400px; margin: 10px; margin-left: auto; margin-right:auto;' bgcolor="#f6f6f6"
    tr style="background:#E5E4E4;" height='20px'
      td
      td align="center"
        p style="font-size: 10px; margin-top: 10px; margin-bottom: 5px;"
          ' Please do not reply directly to this email.
          ' For more information about EdCast, visit
          a href="http://www.edcast.com" edcast.com
          '.
      td
