.top-bar.card-header {
  padding: 8px 0px;
  background-color: rgba(0,0,0,0);
  min-height: $topbar-height; 
  line-height: $topbar-height;

	.header-box {
		max-width: 62.5rem;
		margin: 0px auto;
	}

	ul, ul li, ul li a { line-height: $topbar-height - rem-calc(16); }


	.user-name { 
		color: $blue-color;
		font-size: 18px;
		padding: 0px 15px;
		font-family: $base-font-family;
		background: transparent;

		&:hover {
			color: darken($blue-color, 10%);
		}
	}

	.menu-icon a:after {
		box-shadow: 0 10px 0 1px $blue-color, 0 16px 0 1px $blue-color, 0 22px 0 1px $blue-color;
	}

	a.ed-logo img{
		height: 53px;
	}

	.top-bar-section ul {
		background: $topbar-bg-color;
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0px 15px;
		line-height: $topbar-height - rem-calc(16);
		background: $topbar-bg-color;
	}

	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background: $topbar-bg-color;
	}

	img.appstore-logo { height: 40px; }

} 

.top-bar.card-header .top-bar-section ul {
	background: transparent;
}

.top-bar.card-header .top-bar-section ul#user-profile-dropdown li:not(.has-form) a:not(.button) {
background: white;
}

.top-bar-section ul li:hover:not(.has-form) > a {
	color: $blue-color;
}

#user-profile-dropdown {
	min-width: 100px;
	top: 40px !important;

	&:before {
		left: 10px !important;
	}

	&:after {
		left: 9px !important;
	}

	li {
		width: 100%;
		position: relative;
		line-height: 39px;
		
		height: 39px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			border: 3px solid #4faad9;
			position: absolute; 
			top: 17px;
			left: 11px;
		}

		a {
			padding-left: 27px;
			color: #4faad9;
			line-height: 39px;
			height: 39px;
			background: white;
		}
	}
}

@media #{$small-only} { 
	#user-profile-dropdown {
		top: 0px !important;
		&:before, &:after {
			display: none;
		}
	}

}
