$footer-bg-color: #363636;
$pink-color: #dd437d;
footer{
  margin: 0px;
  padding:20px 0px 10px 0px;
  font-size: 16px;
  min-height: 36px;
  margin-top: 50px;
  left:0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: $footer-bg-color;
  position: absolute;

  ul.social-list {
    margin: 0px auto;
    max-width: 700px;
    a { width: 40px; display: block; height: 40px; border-radius: 3px; margin: 0px auto; background: white;}
    a:hover {
      background: $pink-color;
    }
  }

  img.social-icon {
    height: 40px;
  }

  .edcast-logo img { height: 35px; }

  
  .copyright-info {
    padding-top: 6px;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
  }

  .inline-list {
    margin-left: 0px !important;
    list-style: none;
    display: inline;
    padding-right: 10px;
  }

  li.element {
    margin-top: 0px;
    margin-right: 15px;
    font-size: 13px;
    line-height: 36px;

    a {
      line-height: 36px;
      text-decoration: none;
    }
  }

  .company-name {
    margin-left: 15px;
    padding-top: 6px;
  }
}

ul.small-screen {
  display: none;
}



@media only screen and (max-width: 800px) {
  .footer-ul {
    width: 100%;

  }
   
  footer ul {
    display: block;
    width: 100%;
    margin-right: 0px;
    float: none !important;
  }
    
  ul.small-screen {
    display: block;
  }

  ul.large-screen {
    display: none;
  }
}


