$landing-topbar-color: #f6f6f6;
$landing-topbar-height: 60px;

nav.top-bar .top-bar-section li a.header-tabs {
  min-width: 120px;
  padding: 0px 0px ;
  line-height: 60px;
  height: 60px;
  font-size: 20px;
  color: #0d4c70;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #0d4c70;
    color: $blue-color;
  }

}
.ed-faculty-header-2.top-bar {
  top: 0;
  min-height: $landing-topbar-height;
  z-index: 101;
  background-color: $landing-topbar-color !important;

//  box-shadow: 0px 0px 4px 2px #666;
  ul.title-area {
    height: $landing-topbar-height;
    line-height: $landing-topbar-height;

    li {
      img {
        width: 152px;
        height: 44px;
      }
    }

    li.menu-icon {
      a:after {
        box-shadow: 0 10px 0 1px #0d4c70, 0 16px 0 1px #0d4c70, 0 22px 0 1px #0d4c70;
      }
    }
  }
  .ed-logo {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
  }

  .top-bar-section {
    ul {
      background-color: $landing-topbar-color;
      line-height: 55px;
    }
  }


  &.expanded .title-area {
    background-color: $landing-topbar-color;
  }
}

.ed-faculty-header-2.top-bar .top-bar-section a.sign-in-button {
  margin-right: 50px;
  margin-top: 6px;
  padding:10px ;
  font-size: 20px;
  color: #FFFFFF;


  &:hover {
    background-color: #0d4c70;
  }
}

ul.developer-tab {
  padding-right: 22px;

}

@media #{$small-only} {
  .top-bar-section ul.right li.has-dropdown.moved > .dropdown {
    left: 0;
  }
  li.divider {
    display: none;
  }

  ul.developer-tab {
    padding-right: 0px;

  }
}

li.divider {
  margin-top: 7px;
}

.active a.header-tabs {
    border-bottom: 5px solid #0d4c70;
    padding-top: 10px !important;
    padding-bottom:  5px !important;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 55px !important;
    color: $blue-color !important;

  @media #{$small-only}{
    border-bottom: 0px solid #0d4c70;
  }

}
