<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{subject}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
      
      body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
      table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
      
      
      body{margin:0; padding:0;font-family:Geneva, Helvetica, Arial;}
      img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
      table{border-collapse:collapse !important;}
      body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}

      
      #templateContainer{width:600px;}

      
      body, #bodyTable{
        /*@editable*/ background-color:#fff;
      }

          
      #templateContainer{
        /*@editable*/ border:1px solid #BBBBBB;
      }

            
      h4{
        
        display:block;
        /*@editable*/ font-family:Geneva, Helvetica, Arial;
        /*@editable*/ font-size:14px;
        /*@editable*/ font-style:normal;
        /*@editable*/ font-weight:normal;
        /*@editable*/ line-height:100%;
        /*@editable*/ letter-spacing:normal;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/ text-align:left;
      }

      
      /* ========== Body Styles ========== */

      
      .templateBody{
        /*@editable*/ background-color:#fff;
        /*@editable*/ border-top:0px solid #FFFFFF;
        /*@editable*/ border-bottom:0px solid #CCCCCC;
      }

      .templateBody.last {
        /*@editable*/ border-bottom:1px solid #666;
      }

      
      .bodyContent{
        /*@editable*/ color:#505050;
        /*@editable*/ font-family:Geneva, Helvetica, Arial;
        /*@editable*/ font-size:16px;
        /*@editable*/ line-height:140%;
        padding-top:0px;
        padding-right:0px;
        padding-bottom:0px;
        padding-left:0px;
        /*@editable*/ text-align:left;
      }

      .bodyContent.first {
        padding-top: 20px;
      }

      .bodyContent.last {
        padding-bottom: 20px;
      }

      .announcement-table {
        border: 1px solid #eee;
        background-color: #fbfbfb;
      }

      .announcement-cell {
        padding: 10px 10px 10px 10px;
      }

      .announcement-notification-row {
        text-align: left;
        margin-bottom: 3px;
      }

      h4.announcement-title {
        text-align: center;
        font-size: 17px;
        color: #002255 !important;
        margin-bottom: 0px;
        font-weight: bold;
      }

      h4.color {
        color: #808080 !important;
      }

      .announcement-body {
        margin-top: 0px;
        font-size: 14px;
        color: #666 !important;
        text-align: left !important;
      }

      .button-td {
        width: 150px;
      }

      .goto-course-link {
        background-color: #00a8ff;
        color: #fff;
        font-size: 16px;
        padding: 6px 15px 6px 15px;
        text-decoration: none;
        width: 150px;
        margin: 0px auto;
        display: block;
        font-weight: lighter;
      }

      .closing {
        font-size: 14px;
        color: #808080 !important;
      }

      /* ========== Promote Section ========== */

      #ad-section h2 {
        font-size: 20px;
        color: #333;
      }

      #ad-section p {
        font-size: 12px;
        color: #666;
      }


      /* ========== Footer Styles ========== */
      #templateFooter{
        /*@editable*/ background-color:#fff;
        /*@editable*/ border-top:1px solid #ccc;
      }

      
      .footerContent{
        /*@editable*/ color:#808080;
        /*@editable*/ font-family:Geneva, Helvetica, Arial;
        /*@editable*/ font-size:10px;
        /*@editable*/ line-height:150%;
        padding-top:20px;
        padding-right:0px;
        padding-bottom:20px;
        padding-left:0px;
        /*@editable*/ text-align:left;
      }

      
      .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
        /*@editable*/ color:#148ecd;
        /*@editable*/ font-weight:normal;
        /*@editable*/ text-decoration:underline;
      }

      /* MOBILE STYLES */

            @media only screen and (max-width: 480px){
        
        body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} 
                body{width:100% !important; min-width:100% !important;} 

        
        #bodyCell{padding:5px !important;}

        /* ======== Page Styles ======== */

        
        #templateContainer{
          max-width:600px !important;
          /*@editable*/ width:100% !important;
        }


        h4{
          /*@editable*/ line-height:100% !important;
        }

        

        /* ======== Body Styles ======== */

        
        .bodyContent{
          /*@editable*/ font-size:14px !important;
          /*@editable*/ line-height:125% !important;
        }

        .announcement-title {
          font-size: 14px;
        }

        .announcement-body {
          font-size: 12px;

        }

        .closing  {
          font-size: 12px;
        }
        

        
        
        .footerContent{
          /*@editable*/ font-size:14px !important;
          /*@editable*/ line-height:115% !important;
        }

        .footerContent a{display:block !important;} 
      }
    </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <center>

          <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
              <tr>
                  <td align="center" valign="top" id="bodyCell">
                      <!-- BEGIN TEMPLATE // -->
                      <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                        <tr>
                          <td style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <tr>
                                    <td align="center" valign="top">
                                        
                                      </td>
                                  </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <!-- BEGIN BODY // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody">
                                              <tr>
                                                  <td valign="top" class="bodyContent first" mc:edit="body_content">
                                                      
                                                      <h4 class="color" style="font-size: 12px;"> Hi {{first_name}},</h4>
                                                      
                                                      <h4 class="announcement-notification-row color" style="font-size: 12px;">There's new activity on one of the {{follow_class_name}} you're following.</h4>
                                                      
                                                      <br/>
                                                                                                      
                                                  </td>
                                              </tr>
                                          </table>
                                          <!-- // END BODY -->
                                      </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top" class="announcement-table-wrapper">
                                      <table cellpadding="0" cellspacing="0" width="100%" class="announcement-table">
                                        
                                        <tr>
                                          <td align="center" valign="top" class="announcement-cell">
                                            <table cellpadding="0" cellspacing="0" width="100%">

                                              <tr>
                                                <td class="announcement-cell">
                                                  <h4 class="announcement-title">{{followable_group_name}} from {{followable_group_client_name}}</h4>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>

                                                  <p class="announcement-body">
                                                              {{{activity_snippet}}}
                                                            </p>

                                                            <br/>
                                                            <br/>
                                                            <br/>
                                                            
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="center" valign="top" class="bodyContent button-td" style="text-align: center;">
                                                  <br/>
                                                  <center>
                                                    <a class="goto-course-link" href="{{link_url}}" align="center">View Post</a>
                                                  </center>
                                                  

                                                  <br/>
                                                </td>
                                          
                                              </tr>
                                            </table>
                                            
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
 
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN FOOTER // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                              <tr>
                                                  <td valign="top" class="footerContent">
                                                    You are receiving this email because you are enrolled in {{followable_group_name}}.
                                                    <br/>
                                                    Please do not reply directly to this email, you may respond in the discussion forum.
                                                    <br/>
                                                    If you have any questions, please
                                                      <a href="http://studentsupport.edcast.com/" style="display: inline !important;">contact support</a>
                                                      <br/>
                                                      Click <a href="{{unsubscribe_url}}" style="display: inline !important;">here</a> to stop receiving future announcements from this post.
                                                      <br/>
                                                      <a href="https://www.edcast.com">www.edcast.com</a>

                                                  </td>
                                              </tr>
                                              
                                          </table>
                                          <!-- // END FOOTER -->
                                      </td>
                                  </tr>
                            </table>
                          </td>
                        </tr> 
                          
                          
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>