- content_for :dev_title
  | Manage Keys
- content_for :bottom
  -if ENV['AWS_CDN_HOST']
    - Dir.glob("#{Rails.root}/app/assets/templates/dev/**/*.html.slim").each do |template|
      = load_ng_template template
  = javascript_include_tag 'dev/bootstrap'
  = stylesheet_link_tag 'xeditable'
  = javascript_include_tag 'xeditable'
.wrapper
  .row#banner-img-wrapper style="background-image: url(#{image_url('dev_dashboard_c.jpg')})"
    #image-top-div
      .title
        | Manage Keys
  .wrapper-container
    .row
      css:
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
        {
          display: none !important;
        }
      div ui-view=""
