.small-10 style='padding: 20px'
  p
    b Id
  p
    = @client.id

  p
    b Name:
  p
    = @client.name

  p
    b Owner
  p
    = @client.owner.name

  p
    b Created At
  p
    = @client.created_at.strftime('%d/%m/%Y')
  p
    b API Key
  p
    = @credential.api_key

  p
    b API Secret
  p
    = @credential.shared_secret

  p
    b Credential State
  p
    = @credential.state
