<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{subject}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
            
              body, table, td, p, a, li, blockquote {
                    -webkit-text-size-adjust:120%;
                    -ms-text-size-adjust:120%;
                }
                table, td{
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
          }
                body{
                    margin:0;
                    padding:0;
                }
                img{
            border:0;
            height:auto;
            line-height:100%;
            outline:none;
            text-decoration:none;
          }
                table{
            border-collapse:collapse !important;
          }
                body, #bodyTable, #bodyCell{
            height:100% !important;
            margin:0;
            padding:0;
            width:100% !important;
          }

          .email-header {
            border-radius: 3px;
            width: 100%;
          }

            .email-header-td {
                padding: 10px 5px;
                background: white;
                border-radius: 3px;
            }
                #templateContainer{
                    margin: 15px;
                }
                body, #bodyTable{
                    /*@editable*/ background-color:#fff;
                }
                #bodyCell {
                    width:100% !important;
                    background: rgb(240, 241, 244);
                }
                #templateHeader {
                    width: 100%;
                    padding-bottom: 12px;
                }
          img.edcast-banner {
            width: 100%;
          }
                

                #templateGreeting > td {
                    background-color:#fff;
                    border-radius: 3px 3px 0 0;
                }
                h4{
                    display:block;
                    /*@editable*/ font-family:Geneva, Helvetica, Arial;
                    /*@editable*/ font-size:14px;
                    /*@editable*/ font-style:normal;
                    /*@editable*/ font-weight:normal;
                    /*@editable*/ line-height:100%;
                    /*@editable*/ letter-spacing:normal;
                    margin-top:0;
                    margin-right:0;
                    margin-bottom:10px;
                    margin-left:0;
                    /*@editable*/ text-align:left;
                }
                /* ========== Body Styles ========== */
                .white {
                    background: #fff;
                }
                .mt20px {
                    display: inline-block;
                    margin-top: 20px !important;
                }
                .padding-left-right-25 {
                    padding: 0 25px;
                }
                .templateBody{
                    /*@editable*/ background-color:#fff;
                }
                .bodyContent{
                    /*@editable*/ color:#505050;
                    /*@editable*/ font-family:Geneva, Helvetica, Arial;
                    /*@editable*/ font-size:16px;
                    /*@editable*/ line-height:140%;
                    /*@editable*/ text-align:left;
                }
                .bodyContent.first {
                    color:#505050;
                    font-family:Arial;
                    padding-top: 35px;
                }

                .bodyContent.first h4 {
                    display:block;
                    font-family:Arial;
                    font-size:12px;
                    font-style:normal;
                    font-weight:normal;
                    line-height:100%;
                    letter-spacing:normal;
                    margin-top:0;
                    margin-right:0;
                    margin-bottom:16px;
                    margin-left:0;
                    text-align:left;
                    color: #555555 !important;
                }
                .bodyContent.button-td {
                    text-align: center;
                    -webkit-text-size-adjust:100%;
                    -ms-text-size-adjust:100%;
                    mso-table-lspace:0pt;
                    mso-table-rspace:0pt;
                    font-family:Arial;
                    line-height:140%;
                    text-align:left;
                }
                .help-text {
                    font-size: 12px;
                    color: #555555 !important;
                    text-align: left !important;
                    font-family:Arial;
                    margin-bottom: 0px;
                }
                .question .help-text {
                    display: inline-block;
                }
                .question a {
                    font-family:Arial;font-size: 12px;
                    color: #0078a0
                }
                .complimentary {
                    background-color:#fff;
                    border-top:0px solid #FFFFFF;
                    border-bottom:0px solid #CCCCCC;
                    margin-top: 15px;
                }
                .dsc-body {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 300px;
                    display: block;

                }
                
                .ruler {
                    border-bottom: 1px solid #ccc;
                }
                .inline-div {
                    padding-left: 10px;
                }
                .bodyContent.last {
                    color:#555555;
                    font-family:Arial;
                    line-height:140%;
                    text-align:left;
                    padding-bottom: 20px;
                    font-size: 12px;
                    color: #555555 !important;
                }
                .announcement-table {
                    border: 1px solid #eee;
                    background-color: #fbfbfb;
                }
                .announcement-cell {
                    padding: 10px 10px 10px 10px;
                }
                .announcement-notification-row {
                    text-align: left;
                    margin-bottom: 3px;
                }
                h4.announcement-title {
                    text-align: center;
                    font-size: 17px;
                    color: #002255 !important;
                    margin-bottom: 0px;
                    font-weight: bold;
                }
                h4.color {
                    color: #808080 !important;
                }
                .announcement-body {
                    margin: 0px;
                    font-size: 12px;
                    color: #555555 !important;
                    text-align: left !important;
                    font-family:Arial;

                }
                .goto-course-link {
                    background-color:#e03f7d;
                    color:#fff;
                    font-size:12px;
                    text-decoration:none;
                    width: 142px;
                    height: 34px;
                    padding: 10px 40px;
                    border-radius: 5000px;
                    line-height: 34px;
                    text-align: center;
                    font-family:Geneva, Helvetica, Arial;;
                    margin-bottom: 20px;
                }

            
            .course-image-wrapper{
                text-align: center;
            }
            img.course-image {
            vertical-align: middle;
            height: 80px;
            width: 120px;
          }
           .avatar-wrapper {
             text-align: center;
           }     
          img.follower-avatar {
            vertical-align: middle;
            height: 40px;
            width: 40px;
            border-radius: 50%; 
          }
          small.faint {
            color: #aaa;
            font-family:Geneva, Helvetica, Arial;
            font-size: 12px;
          }
          .count-label {
            font-size: 12px;
            font-family:Geneva, Helvetica, Arial;
          }
          .count {
            font-size: 11px;
            vertical-align: middle;
            font-family:Geneva, Helvetica, Arial;
          }
          .link {
            color: #148ecd;
            font-weight: normal;
            font-size: 12px;
            font-family:Geneva, Helvetica, Arial;
          }
          .middlet-text {
            color: #aaa;
            font-family:Geneva, Helvetica, Arial;
            font-size: 18px;
          }
          .avatar-name {
            font-family:Geneva, Helvetica, Arial;
            font-size: 12px;
          }
          .discussion-title {
            margin: 8px 0 3px 0;
            color: #148ecd;
            font-family: Arial;
            font-weight: 100;
            font-size: 16px;
          }
          .resource-message {
              display: block; /* Fallback for non-webkit */
              display: -webkit-box;
              max-width: 100%;
              max-height: 35px; /* Fallback for non-webkit */
              margin: 0 auto;
              font-size: 12px;
              line-height: 1.4;
              overflow: hidden;
          }
                .closing {
                    font-size: 14px;
                    color: #808080 !important;
                }
                /* ========== Footer Styles ========== */
                #templateFooter{
                    background-color:#fff;
                    border-radius: 0 0 3px 3px;
                    margin-bottom: 21px;
                }
                #socialControls {
                    text-align: center;
                    padding-bottom: 25px;
                }
                 a.social-link {
                    margin: 20px 15px;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                }
                .footerContent{
                    color:#555555;
                    font-family:Arial;
                    font-size:11px;
                    line-height:150%;
                    padding: 20px 25px 0 25px;
                    text-align:center;
                    border-top: 1px solid #ccc;
                }
                .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
                    /*@editable*/ color:#148ecd;
                    /*@editable*/ font-weight:normal;
                    /*@editable*/ text-decoration:underline;
                }

        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
          <tr>
            <td align="center" valign="top" id="bodyCell">
              <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                      <tr>
                        <td align="center" valign="top" class="email-header-td">
                            <a href="http://edcast.com/settings?utm_source=newsletter&utm_medium=logo&utm_campaign=onboard060915" target="_blank"><img align="left" height="32" src="http://www.edcast.com/assets/edcast-logo-colored.png" style="width: 102px; height: 32px; margin: 0px;" width="102"/></a>
                       
                            
                        </td>
                      </tr>

                      <tr>
                        <td style="padding: 6px;"></td>
                      </tr>
                      
                      <tr id="templateGreeting" style="width: 100%;">
                        <td align="left" valign="top" class="padding-left-right-25" style="width: 100%;">
                          <table border="0" cellpadding="0" cellspacing="0" class="templateBody" width="100%" style="width: 100%;">
                            <tr>
                              <td align="left" valign="top">
                                <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
                                    <tr>
                                       
                                        <td align="left" class="course-image-wrapper" valign="top">
                                            <div class="column" style="display: inline-block; width: 175px; vertical-align: top;">
                                                <br></br>
                                                <img src="{{group.group_image}}" class="course-image" alt="" width="120" height="80"/>
                                                <br></br>
                                            </div>
                                            <div class="column" style="display: inline-block; width: 300px; vertical-align: top; text-align:left;">
                                                <br></br>
                                                <small class="faint">{{group.group_organization}}</small>
                                                <p style="font-size: 16px;font-family:Arial;margin-bottom: 10px; margin-top:5px; max-width: 300px;"><b style="font-weight: 100;">{{group.group_name}}</b></p>
                                                <small class="faint">{{group.group_term}}</small>
                                            </div>
                                            
                                        </td>
                                        
                                    </tr>
                                    
                                </table>
                              </td> 
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <p class="middlet-text">
                                        Personalized daily digest for {{user_name}}
                                    </p>
                                    <hr></hr>
                                    <br/>
                                    <br/>
                                </td>
                            </tr>
                            {{#posts}}
                            <tr>
                              <td>
                                <table border="0" cellpadding="0" cellspacing="0" class="templateBody complimentary" width="100%" style="width: 100%;">
                                  <tr>
                                    <td class="avatar-wrapper" align="left" valign="top" width="50">

                                      <img class="follower-avatar" src="{{this.creator_avatar}}" alt="" width="40" height="40"/>
                                      <br/>
                                    <br/>
                                    </td>
                                    <td align="left" valign="top" width="300" class="inline-div">
                                        <small class="avatar-name">{{this.creator_name}}</small>
                                        <p class="discussion-title">{{this.title}}</p>
                                        <small class="faint dsc-body">{{striptags this.message}}</small>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
                                            <tr>
                                                <td style="text-align: center;">
                                                    <div class="column" style="display: inline-block; width: 120px; vertical-align: top; text-align: center;">
                                                        <div style="padding-top: 10px; height:10px;"></div>
                                                        <img src="{{this.resource_img}}" class="course-image" alt="" width="120" height="80"/>
                                                        <br></br>
                                                    </div>
                                                    <div class="column" style="display: inline-block; width: calc(100% - 130px); vertical-align: top; text-align:left; min-width: 170px; padding-left: 5px; min-height: 110px;">
                                                        <div style="padding-top: 10px; height:10px;"></div>
                                                        <small class="faint dsc-body resource-title">{{this.resource_site}}</small>
                                                        <p class="dsc-body" style="font-size: 16px;font-family:Arial;margin-bottom: 5px; margin-top:5px; max-width: 300px;"><b style="font-weight: 100;">{{this.resource_title}}</b></p>
                                                        <small class="faint resource-message">{{this.resource_desc}}</small>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
                                        <tr>
                                            <td>
                                                <p></p>
                                                <img src="http://www.edcast.com/assets/like_pink.jpg" alt="Like" width="13" height="13" style="vertical-align: middle;"/>
                                                <span class="count">{{this.votes_count}}</span>
                                            </td>
                                            <td>
                                                <p></p>
                                                <span class="count-label">Comments</span>
                                                <span class="count">{{this.comments_count}}</span>
                                            </td>
                                            <td>
                                                <p></p>
                                                <a class="link" href="{{this.deep_url}}">Read More</a>
                                            </td>
                                        </tr>
                                        </table>

                                        <br/>
                                    <br/>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            {{/posts}}
                            <tr>
                            <td style="text-align: center;">
                                
                                <a align="center" class="button-td goto-course-link" href="{{group.group_url}}">View More</a>
                                
                                <br/>
                                <br/>
                            </td>
                        </tr>

                          </table>
                        </td>

                        </tr>
                        
                        
                        <tr>
                          <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" id="templateFooter" width="100%" style="width:100% !important;">
                              <tr>
                                <td class="footerContent" valign="top">
                                  <p>
                                    You are receiving this email because you are enrolled in {{group.group_name}}.
                                    <br/>
                                    Please do not reply directly to this email.
                                    <br/>
                                  </p>
                                  <p>
                                    If you have any questions, please contact&nbsp;<a href="http://studentsupport.edcast.com/">support</a>.<br/><a href="http://www.edcast.com/"> www.edcast.com</a>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td id="socialControls">
                                  <a href="https://www.facebook.com/EdCast" class="social-link">
                                    <img src="http://www.edcast.com/assets/facebook.png" height="35" width="35">
                                  </a>
                                  <a href="https://twitter.com/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/twitter.png" height="35" width="35">
                                  </a>
                                  <a href="https://plus.google.com/+EdCastNetwork/" class="social-link">
                                    <img src="http://www.edcast.com/assets/gmail.png" height="35" width="35">
                                  </a>
                                  <a href="https://www.linkedin.com/company/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/linkedin.png" height="35" width="35">
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
      <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp;
</div>

    </body>
</html>