<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Announcement</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="min-width: 100% !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #000000">
      <center>

          <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="590" id="bodyTable">
              <tr>
                  <td align="center" valign="top" id="bodyCell">
                      <!-- BEGIN TEMPLATE // -->
                      <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="border: 1px solid #c7c7c7;">
                        <tr>
                          <td style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" style="width:100% !important;">
                              <tr>
                                    <td valign="top" class="headerContent logo-image" style="width: 100%; border-bottom: 1px solid #c7c7c7; padding-bottom: 10px; text-align: center;">
                                                    <img src="https://s3.amazonaws.com/ge-edcast/ge_mail_header.png" class="instance-logo" id="headerImage" height="170" width="auto"/>
                                                  </td>
                                              </tr>
                                          </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <tr>
                                    <td align="center" valign="top">
                                      </td>
                                  </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <!-- BEGIN BODY // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody">
                                              <tr>
                                                  <td valign="top" class="bodyContent first" mc:edit="body_content">
                                                      <p class="color" style="margin-bottom: 12px; font-family: Calibri, Geneva, Helvetica, Arial; font-size:15px;">Hi{{#if FIRST_NAME}} {{FIRST_NAME}} {{/if}},</p>
                                                      
                                                      <p class="announcement-notification-row color" style="font-family: Calibri, Geneva, Helvetica, Arial; font-size:15px;">A new announcement was posted in {{POST_GROUP_NAME}} by {{POST_USER}} </p>
                                                                                                                                                            
                                                  </td>
                                              </tr>
                                          </table>
                                          
                                      </td>
                                  </tr>
                                  <tr width="100%">
                                    <td align="center" valign="top" width="100%" class="announcement-table-wrapper">
                                      <table cellpadding="0" cellspacing="0" width="100%" class="announcement-table" style="width: 100% !important; font-family:Calibri, Geneva, Helvetica, Arial;">
                                        <tr>
                                          <td class="announcement-cell">
                                            <div class="announcement-title" style="font-family:Calibri, Geneva, Helvetica, Arial; margin-bottom: 10px !important; font-size:15px;">{{POST_TITLE}}</div>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center" valign="top" class="announcement-cell">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                              <tr>
                                                <td>
                                                  <div class="announcement-body" style="font-family:Calibri, Geneva, Helvetica, Arial !important; font-size:15px; margin-top: 5px;">
                                                              {{{POST_MESSAGE}}}
                                                            </div>
                                                            
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="center" valign="top" class="bodyContent button-td" style="text-align: center;">
                                                  <center>
                                                  <table>
                                                    <tr>
                                                      <td class="goto-course-link" style="background-color: #00a8ff; color: #fff; font-size: 16px; 
                                                      font-family:Calibri, Geneva, Helvetica, Arial;text-decoration: none; width: 150px; margin: 0px auto; display: block; font-weight: lighter; color: white; padding: 10px 15px;" align="center"><a href="{{POST_URL}}" style="color: white; text-align: center; text-decoration: none;"><strong style="font-weight: normal;font-family:Calibri, Geneva, Helvetica, Arial;">
                                                        Go To Course
                                                      </strong></a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  </center>
                                                  <br/><br/>

                                                  <br/>
                                                </td>
                                          
                                              </tr>
                                            </table>
                                            
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                <!-- // END BODY -->
                            

                                      
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN FOOTER // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                              <tr>
                                                  <td valign="top" class="footerContent" style="font-size:12px; color: #000000; border-top: 1px solid #c7c7c7; padding-top: 10px; font-family:Calibri, Geneva, Helvetica, Arial;">
                                                    You are receiving this email because you are enrolled in {{POST_GROUP_NAME}}.
                                                    <br/>
                                                    Please do not reply directly to this email, you may respond in the discussion forum.
                                                    <br/>
                                                    If you have any questions, please
                                                      <a href="http://studentsupport.edcast.com/" style="display: inline !important; color: #148ecd;">contact support</a>
                                                      <br/>
                                                      Click <a href="{{UNSUBSCRIBE_URL}}" style="display: inline !important;color: #148ecd;">here</a> to stop receiving future announcements from {{POST_GROUP_NAME}}.
                                                      <br/>
                                                      <a href="https://www.edcast.com" style="color: #148ecd;">www.edcast.com</a>

                                                  </td>
                                              </tr>
                                              
                                          </table>
                                          <!-- // END FOOTER -->
                                      </td>
                                  </tr>
                            </table>
                          </td>
                        </tr> 
                          
                          
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>