.row
  .small-12.columns
    .section-title
      h3.text-center Start Exploring The EdCast Knowledge Channels

.row
  .small-12.columns
    ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5.circles-list
      - channels.each do |channel|
        li
          div.circle.center data-link=learn_path(channel) style="background-image: url('#{profile_photo(channel)}');"
            .circle-name = channel.label.titlecase

- content_for :js do
  javascript:
    $('.circle').click(function(){
      window.location.href = $(this).attr('data-link');
    });