// Marketing Section
div style="background-color: #0B9FD8; padding: 4rem 0;"
  .row
    .small-12.columns
      h2.white-font.text-center style="margin-bottom: 3rem;" Drive Knowledge-Sharing Across Teams & Enterprise!
  .row
    .small-12.medium-4.columns.text-center
      = image_tag('destiny_home_graphic.png')
    .small-12.medium-8.columns
      p.white-font Teams can create a private knowledge-sharing network to empower employees, partners and customers with innovative bite-size informal and formal content.  The network provides daily personalized feed of  best-in-class content from the web, subject matter experts/ influencers, team members posts  and livestreams.  Leaders can create teams to share insights, assign pathways for micro learning, and drive deep engagement with internal and external communities of practice.