- content_for :head
  link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"
  link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css"

// Partners Section
.row
  .small-12.columns
    h3.text-center Our Partners
    br
    br
    .partners-slick
      .bg-white.slick-item.iron-border
        = image_tag asset_path('SDSN.png'), alt: 'Sustainable Development Solutions Network'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('MSU.png'), alt: 'Michigan State University'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('open-education-consortium.png'), alt: 'Open Education Consortium'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('salesforce.png'), alt: 'Salesforce'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('oed.png'), alt: 'Open Online Education'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('cceg-logo.jpeg'), alt: 'Citizenship Enterprise and Governance'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('curtin-university.png'), alt: 'Curtin University'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('unnamed.png'), alt: 'Sama Source'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('academe.png'), alt: 'AcadeMe'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('african-virtual-university.png'), alt: 'African Virtual University'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('EDUONIX_LOGO.png'), alt: 'Eduonix'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Picture2.jpg'), alt: 'Queensland University Of Technology'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('fame-food-allergy_0.png'), alt: 'Fame Food Allergy Management Europe'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('security-learner.png'), alt: 'Security Learner'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('edx-openedx.png'), alt: 'Open EdX'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('vlsi.png'), alt: 'VLSI'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Picture1.png'), alt: 'SLATE'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Our-Partners-36_0.png'), alt: 'Start X'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('wcet-logo.png'), alt: 'WCET'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Picture9_1.png'), alt: 'Indraprastha Institute Of Information Technology'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Picture20.png'), alt: 'Manipal Global Education Services'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('graduateInstitute.png'), alt: 'The Graduate Institute'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('hindujaGlobalSolution.png'), alt: 'Hinduja Global Solutions'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('ims-global-learning.png'), alt: 'IMS Global Learning Consortium'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('tie-silicon-valley.png'), alt: 'TIE Silicon Valley'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Picture15.png'), alt: 'New Schools'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('university-of-botswana.png'), alt: 'University Of Botswana'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('IIT-bombay-logo.png'), alt: 'IIT Bombay'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Tusk-Academy_2.png'), alt: 'Tusk Academy'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('National-university-of-Rwanda.png'), alt: 'National University Of Rwanda'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('recte-sapere-fons.png'), alt: 'Recte Sapere Fons'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('ucd-University.png'), alt: 'UCD University'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Bimtech-birla-institute-of-management-technology.png'), alt: 'Bimtech Birla Institute'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('LUX-MEA-LEX-university.png'), alt: 'LUX MEA LEX University'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('iitgn-logo1.jpeg'), alt: 'IIT Gandhinagar'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Trinity-college-dublin.png'), alt: 'Trinity College Dublin'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('coderjoints.png'), alt: 'Codersjoint'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('bchlogomotto_primary_72dpi.jpeg'), alt: 'Boston Childrens Hospital'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('jainuniversity.jpg'), alt: 'Jain University'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('gifr_logo1.jpeg'), alt: 'Global Institute of Forensic Research'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Logo_IF.png'), alt: 'Instituto Fonte'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('UPenn_logo_(1).png'), alt: 'Perelman School of Medicine'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('emc_tab_page_head.png'), alt: 'EMC Corporation'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('gems_education.png'), alt: 'GEMS Education'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('Keiretsu_Forum_Academy_logo_2.png'), alt: 'Keiretsu Forum Academy'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('mavericks_logo.png'), alt: 'Mavericks Civilian Space Foundation'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('ICRISAT.jpg'), alt: 'ICRISAT'

      .bg-white.slick-item.iron-border
        = image_tag asset_path('cerego.jpg'), alt: 'Cerego'  

- content_for :js
  script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"

  javascript:
    $('.partners-slick').slick({
      slidesToShow: 4,
      slidesToScroll: 4,
      arrows: true,
      dots: true,

      responsive: [
        {
          breakpoint: 1020,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 650,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 400,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        }
      ]
    });