// Top Banner Section
div.bgk style="background-image: url('/assets/about_banner.jpg');"
  .row
    .small-12.columns.small-centered.text-center
      h1.white-font About Us

    .medium-6.small-12.columns
      h6.white-font
        | EdCast is a personal knowledge network to enhance human ability to collaborate and learn across educational materials, instructors, students and employers. EdCast Knowledge Networks<sup>TM</sup> powers social, mobile and cloud based learning for world class institutions, enterprises, governments and non-profits to enable millions of students to collaborate with each other and learn.

    .medium-6.small-12.columns
      h6.white-font
        | The team has track-record of building large-scale transformational technology and are passionate about the global impact of mobile and online education. EdCast is a Stanford StartX company backed by Tier 1 venture capital firms. The company is based in Mountain View, CA with offices worldwide.


.row
  .small-12.columns
    .section-title
      h3.pink-font EXECUTIVE TEAM

    ul.small-block-grid-2.medium-block-grid-3.large-block-grid-5.people-list.text-center
      li.text-center
        = image_tag asset_path('karl_mehta.jpg'), class: 'circle', alt: 'Karl Mehta'
        .name Karl Mehta
        .des Founder & CEO

      li.text-center
        = image_tag asset_path('cathy_casserly.jpg'), class: 'circle', alt: 'Cathy Casserly'
        .name Cathy Casserly, Ph.D.
        .des VP Learning Network

      li.text-center
        = image_tag asset_path('afshin_shafie.jpg'), class: 'circle', alt: 'Afshin Shafie'
        .name Afshin Shafie
        .des VP Engineering

      li.text-center
        = image_tag asset_path('daniel_mckelvey.jpg'), class: 'circle', alt: 'Daniel McKelvey'

        .name Daniel McKelvey
        .des VP Cloud Services

      li.text-center
        = image_tag asset_path('damian_saccocio.jpg'), class: 'circle', alt: 'Damian Saccocio'
        .name Damian Saccocio,Ph.D
        .des VP Strategic Partnerships

.row
  .small-12.columns
    .section-title
      h3.pink-font ADVISORS

    ul.small-block-grid-2.medium-block-grid-3.large-block-grid-6.people-list.text-center
      li.text-center
        = image_tag asset_path('Jeffrey.jpg'), class: 'circle', alt: 'Jeffrey Sachs'
        .name Prof Jeffrey Sachs

      li.text-center
        = image_tag asset_path('kapor.jpg'), class: 'circle', alt: 'Mitch Kapor'
        .name Mitch Kapor

      li.text-center
        = image_tag asset_path('scooter.png'), class: 'circle', alt: 'Scooter Braun'
        .name Scooter Braun

      li.text-center
        = image_tag asset_path('Roger.jpg'), class: 'circle', alt: 'Roger Novak'
        .name Roger Novak

      li.text-center
        = image_tag asset_path('stephan.png'), class: 'circle', alt: 'Stephanie Tilenius'
        .name Stephanie Tilenius

      li.text-center
        = image_tag asset_path('Parag_0.jpg'), class: 'circle', alt: 'Parag Amin'
        .name Parag Amin

.row
  .small-12.columns
    .section-title
      h3.pink-font INVESTORS

    ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
      li.text-center
        .bg-white
          = image_tag asset_path('soft_bank_logo.jpg'), alt: 'Soft Bank Capital'

      li.text-center
        .bg-white
          = image_tag asset_path('start_x_logo.jpg'), alt: 'Start X'

      li.text-center
        .bg-white
          = image_tag asset_path('kapor_capital_logo.jpg'), alt: 'Kapor Capital'

      li.text-center
        .bg-white
          = image_tag asset_path('menlo_ventures_logo.jpg'), alt: 'Menlo Ventures'

      li.text-center
        .bg-white
          = image_tag asset_path('new_schools_venture_logo.jpg'), alt: 'New Schools Venture Fund'

      li.text-center
        .bg-white
          = image_tag asset_path('cervin_ventures_logo.jpg'), alt: 'Cervin Ventures'