div.bgk style="background-image: url('/assets/contact_us_new.jpg');"
  .row
    .small-12.columns.small-centered.text-center
      h1.white-font Contact Us
br 		  		 
.row


  .small-12.columns.medium-6.columns
    h6
      strong EdCast Inc.

    p
      |  1901 Old Middlefield Way, Suite 21
      br
      |   Mountain View, CA 94043 USA
      br
      |	Telephone: +1 844-8-EDCAST (+1 844-833-2278)
      br
      |	Fax: +1 650-327-4410

    h6
      strong General Inquiries

    p
      | If you have any questions or comments please contact us at&nbsp;
      a href="mailto:info@edcast.com" info@edcast.com.

    h6
      strong Sales

    p Call Sales anytime at +1 844-8-EDCAST (844-833-2278) and an EdCast Sales Representative will get back to you.

  .small-12.columns.medium-6.columns#map-canvas
br			

.row
  .small-12.columns.medium-4.large-4
    h6
      strong Support

    p
      | For any support matters, please visit our&nbsp;
      a href="http://www.edcast.com/corp/faqs" target="_blank" FAQ's
      |  section. In addition, you are always welcome to contact us at&nbsp;
      a href="mailto:support@edcast.com" support@edcast.com

  .small-12.columns.medium-4.large-4
    h6
      strong Press

    p
      | Please visit our&nbsp;
      a href="http://www.edcast.com/corp/press" target="_blank" Press
      |   section for more information.
      br
      | For general corporate press inquiries, please contact us at&nbsp;

      a href="mailto:press@edcast.com" press@edcast.com

      br
      | For advertising inquiries, please visit our&nbsp;
      a href="http://www.edcast.com/corp/media-kit" target="_blank" Media Kit
      |  section.

  .small-12.columns.medium-4.large-4
    h6
      strong Careers

    p
      | Looking for employment opportunities?
      br
      | Please visit our&nbsp;
      = link_to "Careers", jobs_path, target: '_blank'
      |  section or send your inquiry to&nbsp;
      a href="mailto:careers@edcast.com" careers@edcast.com



- content_for :js do
  script src="https://maps.googleapis.com/maps/api/js?v=3.16"

  javascript:
    function initialize() {

      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: new google.maps.LatLng(37.413644, -122.087082),
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(37.413644, -122.087082),
        title: 'EdCast Inc.',
        map: map

      });

      var infowindow = new google.maps.InfoWindow({
          content: "<h5><strong>EdCast Inc.</strong></h5><p>1901 Old Middlefield Way #21, Mountain View, CA 94043, United States</p>",
          maxWidth: 300,
          disableAutoPan: true
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
      infowindow.open(map,marker);

    }

    google.maps.event.addDomListener(window, 'load', initialize);

