// Top Banner Section
div.bgk style="background-image: url('/assets/section-bgk-2.jpg');"
  .row

    .small-12.columns.small-centered.text-center
      h1.white-font EULA



.bgk
  .row
    .small-12.columns
      h3
        a href="https://confluence.course-master.com/display/MOB/Mobile+EULA+-+EdCast+Android+and+iOS+Apps" target="_blank" Mobile EULA - EdCast Android and iOS Apps

      br
      br
      h5.pink-font EdCast Mobile App End User License Agreement

      h6
        strong Last revised on Aug 27th, 2014

      p This End User License Agreement (the "EULA") is a binding legal agreement between you, as an individual or entity, and EdCast, Inc. ("EdCast"). By downloading, installing, or using this licensed software application for Android, iOS or another mobile platform, as applicable (the "Software"), you agree to be bound by the terms of this EULA. If you do not agree to the EULA, do not sign in and do not use the Software.

      ul
        li
          p You agree that installation or use of the Software signifies that you have read, understood, and agree to be bound by the EULA.

        li
          p Your use of the Software is solely at your own risk.

        li
          p The Software is licensed, not sold to you, and you may use the Software only as set forth in this EULA.

        li
          p The Software is provided to you under this EULA solely for your private, non-commercial use. Use of the Software or of the content, information, data, or any other services (“EdCast Service”) within an organization or the use of multiple copies of the Software (except a back-up copy) requires a commercial license for the Software.

        li
          p If you are using the Software on an Apple iOS product, you agree to and acknowledge the “Notice Regarding Apple,” below.

        li
          p You acknowledge that third party terms and fees may apply to the use and operation of your mobile device in connection with your use of the Software, such as your carrier’s terms of service, and fees for phone service, data access, or messaging capabilities, and that you are solely responsible for payment of any and all such fees.


      ol.license-terms
        li
          h6
            strong Description of Software
          p The Software is a downloadable software application that enables you to access EdCast functionality directly from your Android, iPhone, iPad or other mobile device supported by EdCast (“Device”). You may download the Software whether or not you use the EdCast Service, but you must associate it with your EdCast account to enable its full functionality.

        li
          h6
            strong License

          p EdCast hereby grants you, subject to the terms and conditions of this EULA, a limited, revocable, non-exclusive, personal, non-sublicensable, non-transferable, non-assignable license to:

          ul
            li
              p Install and use the Software for your own personal use;

            li
              p Install the Software on only one Device (whether mobile device or other) owned or controlled by you; and

            li
              p Make one copy of the Software in any machine readable form solely for back-up purposes, provided you reproduce the Software in its original form and with all proprietary notices on the back-up copy.

          p For clarity, the foregoing is not intended to prohibit you from installing and backing-up the Software for another Device on which you also agreed to the EULA. Each instance of this EULA that you agree to grants you the aforementioned rights in connection with the installation, use and back-up of one copy of the Software on one Device. EdCast reserves all rights in the App not expressly granted to you in this EULA.

        li
          h6
            strong Title

          p Title, ownership and all rights (including without limitation intellectual property rights) in and to the Software shall remain with EdCast. Except for those rights expressly granted in this EULA, no other rights are granted, whether express or implied.

        li
          h6
            strong Restrictions

          p You understand and agree that you shall only use the Software in a manner that complies with any and all applicable laws in the jurisdictions in which you use the Software. Your use shall be in accordance with applicable restrictions concerning privacy and intellectual property rights.

          p You may not:

          ul
            li
              p Create derivative works based on the Software;

            li
              p Use the software for any purpose other than as described herein;

            li
              p Copy or reproduce the Software except as described in this EULA;

            li
              p Sell, assign, license, disclose, distribute or otherwise transfer or make available the Software or any copies of the Software in any form to any third parties;

            li
              p Alter, translate, decompile, reverse assemble or reverse engineer the Software, or attempt to do any of the foregoing, except to the extent this prohibition is not permitted under an applicable law; or

            li
              p Remove or alter any proprietary notices or marks on the Software.


        li
          h6
            strong Personal Information and Privacy

          p
            | We may ask you to provide certain information about you during the Software downloading process. All personal information that you provide to us will be governed by the Privacy Policy (available at&nbsp;
            = link_to "#{privacy_url}", privacy_path, target: '_blank'
            | ). You may use the Software whether or not you use the EdCast Service. If you use the EdCast Service, the personal information you provide to EdCast will also be governed by the Privacy Policy. By choosing to use the Software and/or the EdCast Service, you indicate your understanding and acceptance of the Terms of Service (available at&nbsp;
            = link_to "#{tos_url}", tos_path, target: '_blank'
            | ) and the Privacy Policy (available at&nbsp;
            = link_to "#{privacy_url}", privacy_path, target: '_blank'
            | ). You understand and agree that EdCast may disclose information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to comply with legal process, enforce the terms of this EULA, or protect the rights, property, or safety of EdCast, its users, or the public.

        li
          h6
            strong Warranty Disclaimer

          p
            | Edcast does not warrant that the functions contained in the Software will meet any requirements or needs you may have, or that the Software will operate error free, or in an uninterrupted manner, or that any defects or errors will be corrected, or that the Software is fully compatible with any particular platform. The software is offered on an "as-is" basis and no warranty, either express or implied, is given. EdCast expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement. Some jurisdictions do not allow the waiver or exclusion of implied warranties so they may not apply to you.

        li
          h6
            strong Right to Terminate or Modify Software

          p
            | EdCast may modify the Software and this EULA with notice to you either in email or by publishing notice on the Website, including but not limited to charging fees for the Software, or changing the functionality or appearance of the Software. In the event EdCast modifies the Software or the EULA, you may terminate this EULA and cease use of the Software. EdCast may terminate your use of the Software, the EULA or the EdCast Service at any time, with or without notice.

        li
          h6
            strong U.S. Government Restricted Rights

          p
            | The Software and accompanying documentation are provided with restricted rights. Use, duplication, or disclosure by the U.S. Government is subject to the restrictions as set forth in subparagraph (c)(1)(iii) of DFARS 252.227-7013 (The Rights in Technical Data and Computer Software) or subparagraphs(c)(1) and (2) of 48 CFR 52.227-19 (the Commercial Computer Software - Restricted Rights), as applicable. The manufacturer is EdCast Inc.,1901 Old Middlefield Way, Suite 21,Mountain View, CA 94043 USA.

        li
          h6
            strong Open Source
          p
            | The Software may contain or be provided together with open source software. Each item of open source software is subject to its own applicable license terms,and/or in the Software documentation or the applicable help, notices, about or source files. Copyrights to the open source software are held by the respective copyright holders indicated therein.

        li
          h6
            strong Indemnification

          p
            | By accepting the EULA, you agree to indemnify and otherwise hold harmless EdCast Inc., its officers, employees, agents, subsidiaries, affiliates and other partners from any direct, indirect, incidental, special, consequential or exemplary damages arising out of, relating to, or resulting from your use of the Software or any other matter relating to the Software.

        li
          h6
            strong Limitation of Liability
          p
            | YOU EXPRESSLY UNDERSTAND AND AGREE THAT EDCAST SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF EDCAST HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). IN NO EVENT WILL EDCAST'S AGGREGATE LIABILITY TO YOU EXCEED THE AMOUNT OF LICENSING FEES PAID BY YOU TO EDCAST. THESE LIMITATIONS AND EXCLUSIONS WILL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS OF DAMAGES AND/OR EXCLUSIONS OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.

        li
          h6
            strong Export Restrictions
          p
            | This EULA is expressly made subject to any laws, regulations, orders or other restrictions on the export from the United States of America of the Software or information about such Software which may be imposed from time to time by the government of the United States of America. You shall not export the Software or information about the Software without consent of EdCast and compliance with such laws, regulations, orders or other restrictions.

        li
          h6
            strong General

          p The EULA between you and EdCast Inc. is governed by and construed in accordance with the laws of the State of California without regard to conflict of laws principles. The exclusive jurisdiction for any disputes arising out of or relating to this EULA shall be an appropriate federal or state court located in the County of Santa Clara, State of California, USA. The EULA constitutes the entire agreement between you and EdCast regarding the Software. If any provision of this EULA is held by a court of competent jurisdiction to be contrary to law, such provision will be changed and interpreted so as to best accomplish the objectives of the original provision to the fullest extent allowed by law and the remaining provisions of this EULA will remain in full force and effect. You may not assign this EULA, and any assignment of this EULA by you will be null and void. EdCast, the "ed" logos, and other EdCast logos and names are trademarks of EdCast Inc. You agree not to display or use these trademarks in any manner without EdCast's prior, written permission.

          p The section titles and numbering of this EULA are displayed for convenience and have no legal effect.

        li
          h6
            strong Phone Settings And Uninstall Procedures

          p As part of the installation process of the Software, you may be changing your mobile device settings. By installing the Software, you agree you have approved such changes. Such changes may include, without limitation, the following:

          ul
            li
              p Allowing software updates of the Software once a new version is released and show notifications from the Software

            li
              p To uninstall the Software, you may use the standard uninstall procedures offered by your device’s operating system

        li
          h6
            strong Term and Termination

          p This EULA will remain in effect until terminated. The EULA, and your rights and license hereunder, will terminate immediately upon your breach of the EULA. You may terminate the EULA by uninstalling and discontinuing your use of the Software. EdCast may terminate support of the Software and/or this EULA, or limit or terminate your access to the Software at any time for any reason with or without notice. Sections entitled Title, Right to Terminate or Modify Software, Term and Termination, Warranty Disclaimer, Limitation of Liability, Indemnification, Restrictions, and General shall survive any termination of this EULA.

        li
          h6
            strong Notice Regarding Apple

          p You acknowledge that this EULA is between you and EdCast, Inc. only, not with Apple, and Apple is not responsible for the Software and the content thereof. Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Software. In the event of any failure of the Software to conform to any applicable warranty, then you may notify Apple and Apple will refund the purchase price for the relevant Software to you; and, to the maximum extent permitted by applicable law, Apple has no other warranty obligation whatsoever with respect to the Software. Apple is not responsible for addressing any claims by you or any third party relating to the Software or your possession and/or use of the Software, including, but not limited to: (i) product liability claims; (ii) any claim that the Software fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation. Apple is not responsible for the investigation, defense, settlement and discharge of any third party claim that your possession and use of the Software infringes that third party’s intellectual property rights. You agree to comply with any applicable third party terms, when using the Software. Apple, and Apple’s subsidiaries, are third party beneficiaries of this EULA, and upon your acceptance of this EULA, Apple will have the right (and will be deemed to have accepted the right) to enforce this EULA against you as a third party beneficiary of this EULA. You hereby represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties. If EdCast provides a translation of the English language version of this EULA, the translation is provided solely for convenience, and the English version shall prevail.

        li
          h6
            strong Contact

          p
            | EdCast, Inc.
            br
            | 1901 Old Middlefield Way, Suite 21
            br
            | Mountain View, CA 94043 USA
            br
            | Telephone: +
            strong 1 844-8-EDCAST (+1 844-833-2278)
            br
            | Fax: +
            strong 1 650-327-4410

          p
            | Direct email enquiries or claims with respect to the Software to:&nbsp;
            a href="mailto:info@edcast.com" info@edcast.com

          p
            | Direct email complaints, feedback, and end-user questions to:&nbsp;
            a href="mailto:support@edcast.com" support@edcast.com




  .row
    .small-12.columns.text-center
      br
      br
      a href=""

        = image_tag asset_path('innergrabbtn.jpg')

      div
        br
        em
          strong no credit card required