// Top Banner Section
div.bgk style="background-image: url('/assets/section-bgk-2.jpg');"
  .row
    .small-12.columns.small-centered.text-center
      h1.white-font Family Education Rights and Privacy Act (FERPA) Compliance Policy

.row
  .small-12.columns
    .section-title
      h3.pink-font Policy
    p
      | The Family Educational Rights and Privacy Act of 1974 (FERPA) is a federal law which states that an educational institution must establish a written institutional policy concerning the confidentiality of student education records and the fact that students must be notified of this statement of policy and their rights under the legislation. In accordance with the Act, students have the following rights:

    ul
      li The right to inspect and review Online Student Related Course Information (OSRCI) covered by the Act.

      li The right to challenge (seek correction of) the contents of the OSRCI.

      li The right to a formal hearing, if necessary, for a fair consideration of such a challenge.

      li The right to place an explanatory note in the record in the event that a challenge of contents is unsuccessful.

      li The right to control, with certain exceptions, the disclosure of the contents of the OSRCI.

      li The right to be informed of the existence and availability of the institutional policy covering FERPA rights.

      li The right to report violations of FERPA legislation to EdCast, Inc., and / or the U.S. Department of Education concerning alleged failures of the University to comply with the requirements of the Act. The name and address of the Office that administers FERPA is: Family Policy Compliance Office, U.S. Department of Education, 400 Maryland Avenue, SW., Washington, DC, 20202-4605.

    br

    h3.pink-font
      | Definitions
    p
      | For the purposes of these procedures, EdCast, Inc., is using the following definitions of terms:

    ul
      li
        h6
          strong  Student:
        p
          | Any person who attends or has attended a course hosted and supported by EdCast.
      li
        h6
          strong Online Student Related Course Material:

        p
          |  ONLY online course related information maintained by EdCast or an agent of EdCast that is directly related to a student, except records that contain information about a student after he or she is no longer in attendance in an online course hosted and supported by EdCast.EdCast maintains the OSRCI as defined by the Act.


