// Top Banner Section
div.bgk style="background-image: url('/assets/careers_banner_new.jpg');"
  .row

    .small-12.columns.small-centered.text-center
      h1.white-font Careers
      h6.white-font
        |  EdCast is a company of technological entrepreneurs who dream of reinventing learning, the world over.
	      	 

.row
  .small-12.columns
    .section-title
    p
      | We at EdCast enable learners with need, curiosity, and a craving for knowledge, to engage with educational content, form Personal Knowledge Networks around that content, and leverage those networks into the experience of a lifetime.

    p
      |  Send your resume & coverletter to&nbsp;
      a href="mailto:careers@edcast.com" careers@edcast.com

    p
      | Does this sound interesting to you? Do you think you'd be a good fit? If so, we'd like to hear from you. Send your resume &amp; cover letter to&nbsp;
      a href="mailto:careers@edcast.com"  careers@edcast.com

    .section-title
      h5.pink-font
        | Senior Software Engineer – Mountain View, CA

    p
      | Looking for a senior software engineer with experience developing complex consumer applications.


    h6
      strong
        | Responsibilities:

    ul
      li Part of the core team developing EdCast's intelligent content discovery system

      li Design and develop experimentation systems to analyze effectiveness of ranking algorithms

      li Work closely with the business and product teams to build our technical roadmap

      li Help improve development process and execution culture

    h6
      strong
        | Requirements & Qualifications:

    ul
      li You should have interest in consumer products and excited about analyzing data

      li You should have academic or professional experience designing and developing artificial intelligence and pattern recognition software

      li You should have a good understanding of popular data repositories

      li You should be familiar and a fan of test driven development

      li You should be comfortable with startup environment

    .section-title
      h5.pink-font DevOps Lead - Mountain View, CA
    p
      | This is a hands on lead position with priority on securing the infrastructure before building a team.

    h6
      strong
        | Responsibilities:

    ul
      li Lead our DevOps team to build out and maintain our infrastructure and servers on AWS.

      li Build and evolve our semi-CI deployment strategy and testing to support our aggressive up-time requirements.

      li Work closely with application architects, engineers, and product management to stay on top of the organizations needs.

      li Take on leadership and responsibilities of a DevOps engineer to provide 24x7 support for deployment and troubleshooting production and client issues.

      li Help build an effective DevOps team as the organization grows.

    h6
      strong
        | Requirements & Qualifications:

    ul
      li You should have a general interest in breaking things and fixing the things that are broken.

      li You should have intellectual curiosity that motivates you to keep up with latest tools and trends.

      li You should have first hand knowledge of tools that are currently available to build a scalable consumer product.

      li You should have some exposure and experience with continuos deployment and iterative & agile development teams.

      li You should have real-world experience managing and monitoring scalable systems supporting heavy traffic consumer applications.

      li You should have leadership experience of running teams 3-5 DevOps engineers.

      li You are reliable and we can count on you in times of need.