div.bgk style="background-image: url('/assets/parteners_banner.jpg');"
  .row
    .small-12.columns.small-centered.text-center
      h1.white-font Partners

.bgk
  .row
    .small-12.columns
      ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.partners-list
        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('SDSN.png'), alt: 'Sustainable Development Solutions Network'
            p.large-font Sustainable Development Solution Network

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('MSU.png'), alt: 'Michigan State University'
            p.large-font Michigan State University

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('open-education-consortium.png'), alt: 'Open Education Consortium'
            p.large-font Open Education Consortium

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('salesforce.png'), alt: 'Salesforce'
            p.large-font Salesforce

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('oed.png'), alt: 'Open Online Education'
            p.large-font Open Online Education

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('cceg-logo.jpeg'), alt: 'Citizenship Enterprise and Governance'
            p.large-font Citizenship Enterprise and Governance

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('curtin-university.png'), alt: 'Curtin University'
            p.large-font Curtin University

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('unnamed.png'), alt: 'Sama Source'
            p.large-font SamaSource

        li
          .bg-white.clearfix
          	.img-wrapper
              = image_tag asset_path('academe.png'), alt: 'AcadeMe'
            p.large-font AcadeMe

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('african-virtual-university.png'), alt: 'African Virtual University'
            p.large-font African Virtual University
	          
        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('EDUONIX_LOGO.png'), alt: 'Eduonix'
            p.large-font Eduonix

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Picture2.jpg'), alt: 'Queensland University Of Technology'
            p.large-font Queensland University Of Technology

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('fame-food-allergy_0.png'), alt: 'Fame Food Allergy Management Europe'
            p.large-font Fame Food Allergy Management Europe

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('security-learner.png'), alt: 'Security Learner'
            p.large-font Security Learner

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('edx-openedx.png'), alt: 'Open EdX'
            p.large-font Open EdX

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('vlsi.png'), alt: 'VLSI'
            p.large-font VLSI

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Picture1.png'), alt: 'SLATE'
            p.large-font SLATE

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Our-Partners-36_0.png'), alt: 'Start X'
            p.large-font Start X

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('wcet-logo.png'), alt: 'WCET'
            p.large-font WCET

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Picture9_1.png'), alt: 'Indraprastha Institute Of Information Technology'
            p Indraprastha Institute of Information Technology

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Picture20.png'), alt: 'Manipal Global Education Services'
            p.large-font Manipal Global Education Services

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('graduateInstitute.png'), alt: 'The Graduate Institute'
            p.large-font The Graduate Institute

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('hindujaGlobalSolution.png'), alt: 'Hinduja Global Solutions'
            p.large-font Hinduja Global Solutions

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('ims-global-learning.png'), alt: 'IMS Global Learning Consortium'
            p.large-font IMS Global Learning Consortium

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('tie-silicon-valley.png'), alt: 'TIE Silicon Valley'
            p.large-font TIE Silicon Valley

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Picture15.png'), alt: 'New Schools'
            p.large-font New Schools

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('university-of-botswana.png'), alt: 'University Of Botswana'
            p.large-font University Of Botswana

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('IIT-bombay-logo.png'), alt: 'IIT Bombay'
            p.large-font IIT Bombay

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Tusk-Academy_2.png'), alt: 'Tusk Academy'
            p.large-font Tusk Academy

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('National-university-of-Rwanda.png'), alt: 'National University Of Rwanda'
            p.large-font National University Of Rwanda

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('recte-sapere-fons.png'), alt: 'Recte Sapere Fons'
            p.large-font Recte Sapere Fons

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('ucd-University.png'), alt: 'UCD University'
            p.large-font Ucd University

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Bimtech-birla-institute-of-management-technology.png'), alt: 'Bimtech Birla Institute'
            p.large-font Bimtech Birla Institute

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('LUX-MEA-LEX-university.png'), alt: 'LUX MEA LEX University'
            p.large-font LUX MEA LEX University

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('iitgn-logo1.jpeg'), alt: 'IIT Gandhinagar'
            p.large-font IIT Gandhinagar

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Trinity-college-dublin.png'), alt: 'Trinity College Dublin'
            p.large-font Trinity College Dublin

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('coderjoints.png'), alt: 'Codersjoint'
            p.large-font Codersjoint

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('bchlogomotto_primary_72dpi.jpeg'), alt: 'Boston Childrens Hospital'
            p.large-font Boston Children's Hospital

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('jainuniversity.jpg'), alt: 'Jain University'
            p.large-font Jain University

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('gifr_logo1.jpeg'), alt: 'Global Institute of Forensic Research'
            p.large-font Global Institute of Forensic Research

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Logo_IF.png'), alt: 'Instituto Fonte'
            p.large-font Instituto Fonte

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('UPenn_logo_(1).png'), alt: 'Perelman School of Medicine'
            p.large-font Perelman School of Medicine

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('emc_tab_page_head.png'), alt: 'EMC Corporation'
            p.large-font EMC Corporation

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('gems_education.png'), alt: 'GEMS Education'
            p.large-font GEMS Education

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('Keiretsu_Forum_Academy_logo_2.png'), alt: 'Keiretsu Forum Academy'
            p.large-font Keiretsu Forum Academy

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('mavericks_logo.png'), alt: 'Mavericks Civilian Space Foundation'
            p.large-font Mavericks Civilian Space Foundation

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('ICRISAT.jpg'), alt: 'ICRISAT'
            p.large-font ICRISAT

        li
          .bg-white.clearfix
            .img-wrapper
              = image_tag asset_path('cerego.jpg'), alt: 'Cerego'
            p.large-font Cerego    

  .row
    .small-12.small-centered.medium-6.medium-centered.large-4.large-centered.columns
      .section-title.text-center
        a.social-button.edcast.font-large target="_blank" Start your 30 day free trial today!
        br
        em no credit card required