// Top Banner Section
div.bgk style="background-image: url('/assets/section-bgk-2.jpg');"
  .row
    .small-12.columns.small-centered.text-center
      h1.white-font Privacy Policy

.row
  .small-12.columns
    .section-title
    p
      | EdCast, Incorporated ("EDC") understands the importance of protecting the privacy of all information that we collect by users of our websites, subscribers to our newsletters and other information services and customers of our products and services. This Privacy Policy outlines our use and disclosure of the personal information collected by or submitted to EDC on all EDC-owned websites, including: EdCast.com, Course-Master.com, "university name".coursemaster.net, CourseMaster.net, Coursemaster.me, enterprise.CourseMaster.com or third party sites that use EDC applications like EDC's social collaboration learning app.

    h3.pink-font What information do we collect?

    p
      | We collect information from you when you register on our site, place an order, subscribe to our newsletter, file a support request, download a product, sign up for a trial, respond to a survey, send us an inquiry, post to our forums, watch a webcast or fill out a form. EDC also collects personal information by telephone, mail and at conventions, seminars, trade shows and exhibitions. The information collected may include your: name, e-mail address, mailing address, phone number, company name, IP address, username and password or credit card information. For EDC products and services that require payment, such as purchasing a license, subscribing to a product, or registering for a course, EDC collects credit card information, which is used for billing purposes by EDC or EDC's agent only. It is not otherwise shared with any third parties. EDC also collects non-personally-identifying information from website visitors, such as browser type, language preference, referring site, and other information typically made available by browsers and servers in order to better understand how visitors use our website.

    h3.pink-font What do we use your information for?

    p
      | Any of the information we collect from you may be used to manage accounts, register visitors in programs, answer questions, improve our website, improve our customer service, and to process transactions. Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested, to administer a contest, promotion, survey or other site feature, to send email notifications on EDC's behalf or to comply with court orders and regulations. EDC reserves the right to share personal information consequent to a merger, acquisition, or divestiture of our business. The email address you provide for order processing may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc. If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email. You may also contact us via email, phone or mail at the addresses provided at the end of this document to request that we remove you from our email list.

    h3.pink-font How do we protect your information?

    p
      | We implement a variety of security measures to maintain the safety of your personal information when you place an order. We offer the use of a secure server. All supplied sensitive/credit information is transmitted in encrypted format and then sent into our payment processing engine only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential. After a transaction, your private information (credit cards, social security numbers, financials, etc.) may be kept on file solely for the purpose of processing your recurring subscription payments until such a subscription is cancelled.

    h3.pink-font Do we use cookies?

    p
      | Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow it) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information We use cookies to help us understand and save your preferences for future visits, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business. If you prefer, you can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies via your browser settings. Like most websites, if you turn your cookies off, some of our services may not function properly. However, you can still place orders by contacting customer service.

    h3.pink-font Do we disclose any information to outside parties?

    p
      | We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may make non-personally-identifiable information available to third parties in aggregate form only for purposes such as providing advertising targeted towards visitors to EDC websites, users of EDC or to show general usage trends. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.

    h3.pink-font Third party links

    p
      | Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

    h3.pink-font California Online Privacy Protection Act Compliance

    p
      | Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.

    h3.pink-font Children's Online Privacy Protection Act Compliance

    p
      | We are in compliance with the requirements of COPPA (Children's Online Privacy Protection Act). Our website, products and services are all directed to people who are at least 13 years old or older.

    h3.pink-font Terms and Conditions

    p
      | Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at&nbsp;

      = link_to 'Terms of Service', tos_path, target: '_blank'
      | .

    h3.pink-font Your Consent

    p
      | By using our site, you consent to our website's privacy policy.

    h3.pink-font Changes to our Privacy Policy

    p
      | If we decide to change our privacy policy, we will post those changes on this page. This policy was last modified on August 16, 2014.

    h3.pink-font Contacting Us

    p
      | If there are any questions regarding this privacy policy you may contact us using the information below.

    p
      | EdCast Incorporated
      br
      | 1901 Old Middlefield Way, Suite 21
      br
      | Mountain View, CA 94043 USA
      br
      a href="mailto:info@edcast.com" info@edcast.com
      br
      | +1.844.8.EDCAST (+1.844.833.2278)