// Top Banner Section
div.bgk style="background-image: url('/assets/section-bgk-2.jpg');"
  .row
    .small-12.columns.small-centered.text-center
      h1.white-font Terms of Service

.row
  .small-12.columns
    .section-title
    p
      | EdCast Inc. (“EDC”) provides the EdCast application to you subject to the terms of use (“EDC Terms”) outlined below. EdCast’s social collaboration and learning application (“EDC App”) is offered free of charge. By visiting the EdCast site and using EDC App, you accept the EDC Terms. In addition, when you use any current or future EDC services, content or other materials, you also will be subject to the EDC Customer Agreement or other agreements governing your use of our services (the “Agreement”).

    h3.pink-font PRIVACY

    p
      | Please review our&nbsp;
      = link_to 'Privacy Policy', privacy_path, target: '_blank'
      | .


    h3.pink-font ELECTRONIC COMMUNICATIONS

    p
      | When you visit the EDC Site or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on the EDC site and/or within EdCast. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.

    h3.pink-font COPYRIGHT

    p
      | All content included on the EDC site and the EDC App, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of EDC or its content suppliers and protected by United States and international copyright laws. The compilation of all content on the EDC Site and EdCast is the exclusive property of EDC and protected by U.S. and international copyright laws. All software used on the EDC Site and EDC App is the property of EDC or its software suppliers and protected by United States and international copyright.

    h3.pink-font TRADEMARKS

    p
      | “EDC”, “EdCast”, and other EDC graphics, logos, page headers, button icons, scripts, and service names are trademarks, registered trademarks or trade dress of EDC in the U.S. and/or other countries. EDC’s trademarks and trade dress may not be used in connection with any product or service that is not EDC’s, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits EDC. All other trademarks not owned by EDC that appear on EdCast are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by EDC.

    h3.pink-font LICENSE AND EDCAST ACCESS

    p
      | EDC grants you a limited license to access the EDC App free of charge, but not to download (other than page caching) or modify it, or any portion of it, except with express written consent of EDC. This license does not include any resale or commercial use of EDC App or its contents; any derivative use of EDC App or its contents; any downloading or copying of account information; or any use of data mining, robots, or similar data gathering and extraction tools. Unless otherwise specified by EDC in a separate license, your right to use any software, data, documentation or other materials that you access through EdCast is subject to these EDC Terms or, if you have a EDC account, the Agreement. EdCast or any portion of EDC App may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of EDC. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of EDC without express written consent. You may not use any meta tags or any other “hidden text” utilizing EDC’s name or trademarks without the express written consent of EDC. Any unauthorized use terminates the permission or license granted by EDC. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of EDC and EdCast, so long as the link does not portray EDC, or its products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any EDC logo or other proprietary graphic or trademark as part of the link without express written permission.


    h3.pink-font YOUR ACCOUNT

    p
      | If you use EDC App, you are responsible for maintaining the confidentiality of your EDC account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. EDC reserves the right to refuse service, terminate accounts, remove or edit content in its sole discretion.

    h3.pink-font REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT

    p
      | Visitors may post comments and other content; and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of “spam.” You may NOT use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. EDC reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content. If you do post content or submit material, and unless we indicate otherwise, you grant EDC a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content in connection with operating in the normal course of business and providing all EDC cloud, mobile, and other business services to you and other EDC customers, partners, and end users in any media. You grant EDC and sublicensees the right to use the name that you submit in connection with such content, if they choose. You and third parties may be permitted to upload certain software (including machine images), data, text, audio, video, images or other content (“Third Party Content”) to community areas of EdCast. You acknowledge that (a) EDC has not tested or screened Third Party Content, (b) you use any Third Party Content is at your sole risk, and Third Party Content may be subject to separate license terms as determined by the person posting such content. You represent and warrant that you own or otherwise control all of the rights to the content, including any Third Party Content, that you post; that the content is accurate; that use of the content you supply does not violate this policy and will not cause injury to any person or entity; and that you will indemnify EDC for all claims resulting from content you supply. EDC has the right but not the obligation to monitor and edit or remove any activity or content. EDC takes no responsibility and assumes no liability for any content posted by you or any third party.

    h3.pink-font Honor Code

    p
      | All users participating in any class must agree to and strictly follow the following honor code of conduct:

    ul
      li I will register for only one account.
      li I will not use aliases or other techniques to hide, disguise or conceal my own account.
      li I will personally complete all homework, quizzes and exams and will be my own work (except for assignments that explicitly permit collaboration).
      li I will not share my work, solutions, or answers to homework, quizzes or exams with anyone else. This includes both solutions written by me, and any course staff solutions provided to me.
      li I will not engage in any activity that will dishonestly improve my results or dishonestly improve or negatively impact another user’s results.


    h3.pink-font Fees and Taxes

    p
      | In selected courses, you may have the option to enroll in specific courses for a fee. Unless otherwise stated, all fees are quoted in U.S. Dollars. You are responsible for paying all fees and applicable taxes associated in a timely manner with a payment accepted by EDC. If your payment method fails, you will not be enrolled in the course. EDC reserves the right to change the fees at any time in its sole discretion. Any change, update, or modification will be effective immediately upon posting on the course web page. All students enrolled in the course will not be charged or refunded any change in the course fee. The change is applicable on for future enrollment in the course.

    h3.pink-font Refund Policy

    p
      | If you elect to cancel your participation in any paid course, EDC will offer you a complete refund up until three days before the course starts. After that, all payments are final and no refunds will be issued. If you are found to be in violation of EDC’s Terms of Service or Honor Code, you will not be issued a refund. To request a refund, please contact us at&nbsp;
      a href="mailto:support@edcast.com" support@edcast.com

    h3.pink-font Notice for California Users

    p
      | Under California Civil Code Section 1789.3, California Website users are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 N. Market Blvd., Suite S-202, Sacramento, California 95834, or by telephone at (800) 952-5210.

    h3.pink-font DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY

    p
      | EDC AND ALL INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING ANY SOFTWARE) AND SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH EDCAST ARE PROVIDED BY EDC ON AN “AS IS” AND “AS AVAILABLE” BASIS, UNLESS OTHERWISE SPECIFIED IN THE AGREEMENT. EDC MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF EDCAST OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING ANY SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH EDCAST, UNLESS OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY AGREE THAT YOUR USE OF EDCAST IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, EDC DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. EDC DOES NOT WARRANT THAT EDCAST; INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING ANY SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH EDC OR EDCAST; ITS SERVERS; OR E-MAIL SENT FROM EDC ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. EDC WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF EDCAST OR FROM ANY INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH EDCAST, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN THE AGREEMENT. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS. IN THIS CASE, THE TOTAL CUMULATIVE LIABILITY ARISING OUT OF OR RELATED TO THE USER'S USE OF THE EDC SITES WILL NOT EXCEED TWENTY FIVE U.S. DOLLARS ($25) OR THE TOTAL AMOUNT OF FEES RECEIVED BY EDC FROM THE USER FOR THE USE OF THE EDC SITES DURING THE PAST 12 MONTHS OF USE, WHICHEVER IS GREATER.

    h3.pink-font APPLICABLE LAW

    p
      | By visiting EDC or using EDC App, you agree that the laws of the State of California, without regard to principles of conflict of laws, will govern these EDC Terms and any dispute of any sort that might arise between you and EDC.

    h3.pink-font DISPUTES

    p
      | Any dispute relating in any way to your visit to the EDC Site, services provided by EDC or through EDC App in which the aggregate total claim for relief sought on behalf of one or more parties exceeds $10,000 shall be adjudicated in any state or federal court in Santa Clara County in California, and you consent to exclusive jurisdiction and venue in such courts.

    h3.pink-font EDCAST POLICIES, MODIFICATION, AND SEVERABILITY

    p
      | Please review our other policies on the EDC Site. These policies also govern your visit to the EDC Site. We reserve the right to make changes to the EDC Site, policies, and these EDC Terms at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.

    h3.pink-font OUR ADDRESS:

    p
      | EdCast, Inc.
      br
      | 1901 Old Middlefield Way, Suite 21
      br
      | Mountain View, CA 94043 USA
      br
      | Last Updated: January 16, 2015.