.top-container style="padding: 0px; margin: 0px; width: 100%;"
  .youtube-container style="width: 80%; display: inline-block"
    <iframe width="100%" height="100%" src="//www.youtube.com/embed/#{@youtube_url}" frameborder="0" allowfullscreen></iframe>
  .edcast-container style="padding: 0px; margin: 0px; display: inline-block;width: 20%"
    - if @discussion_enabled
      - if @context_id && @context_label
        div id='edcast-forum' data-ui="qa" data-api-key="#{@api_key}" data-timestamp="#{@timestamp}" data-resource-id="#{@resource_id}" data-user-id="#{@user_id}" data-user-email="#{@user_email}" data-user-role="#{@user_role}" data-token="#{@token}" data-context-id="#{@context_id}" data-context-label="#{@context_label}" data-display-context='false' style="display: inline"
      - else
        div id='edcast-forum' data-ui="qa" data-api-key="#{@api_key}" data-timestamp="#{@timestamp}" data-resource-id="#{@resource_id}" data-user-id="#{@user_id}" data-user-email="#{@user_email}" data-user-role="#{@user_role}" data-token="#{@token}" data-display-context='false' style="display: inline"
      = javascript_include_tag "sdk/init"
