<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>You've been added to {{GROUP_NAME}} in {{PARENT_GROUP_NAME}} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="min-width: 100% !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
      <center>

          <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="590" id="bodyTable">
              <tr>
                  <td align="center" valign="top" id="bodyCell">
                      <!-- BEGIN TEMPLATE // -->
                      <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="border: 1px solid #c7c7c7;">
                        <tr>
                          <td style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" id="templateHeader" style="width:100% !important;">
                            <tr>
                                                  <td valign="top" class="headerContent logo-image" style="width: 100%; border-bottom: 1px solid #c7c7c7; padding-bottom: 10px; text-align: center;">
                                                    <img src="https://s3.amazonaws.com/ge-edcast/ge_mail_header.png" class="instance-logo" id="headerImage" height="170" width="auto"/>
                                                  </td>
                                                  </tr>
                                                  </table>
                                                  </td></tr>
                                                  <tr>
                                                  <td style="padding: 10px 10px 10px 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <tr>
                                    <td align="center" valign="top">
                                        
                                      </td>
                                  </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <!-- BEGIN BODY // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody">
                                              <tr>
                                                  <td valign="top" class="bodyContent first" mc:edit="body_content">
                                                      <p class="color" style="margin-bottom: 12px; font-family:Calibri, Geneva, Helvetica, Arial;"> Hi {{FIRST_NAME}},</p>
                                                      
                                                      
                                                      <p class="announcement-notification-row color" style="font-family:Calibri, Geneva, Helvetica, Arial;">You've joined {{GROUP_NAME}} in {{PARENT_GROUP_NAME}}.</p>
                                                      
                                                      <br/>
                                                                                                      
                                                  </td>
                                              </tr>
                                          </table>
                                          <!-- // END BODY -->
                                      </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        
                                        <tr>
                                          <td align="center" valign="top">
                                            <table cellpadding="0" cellspacing="0" width="100%">

                                              
                                              <tr>
                                                <td>

                                                  <p class="announcement-body" style="font-family:Calibri, Geneva, Helvetica, Arial;">
                                                              As a member of this group, you'll be able to collaborate with other the members in your own private forum.
                                                            </p>

                                                            <br/>
                                                            
                                                            
                                                </td>
                                              </tr>
                                              <tr>
                                                <td align="center" valign="top" class="bodyContent button-td" style="text-align: center; font-family:Calibri, Geneva, Helvetica, Arial;">
                                                  <br/>
                                                  <center>
                                                  <table>
                                                        <tr>
                                                          <td class="goto-course-link" style="background-color: #00a8ff;
                                  color: #fff; font-family:Calibri, Geneva, Helvetica, Arial;
                                  font-size: 16px;
                                  text-decoration: none;
                                  width: 150px;
                                  margin: 0px auto;
                                  display: block;
                                  font-weight: lighter;
                                  color: white;
                                  text-decoration: none; padding: 10px 15px;" align="center">
                                                            <a href="{{PARENT_GROUP_URL}}" style="color: white; text-align: center; text-decoration: none;">
                                                              <strong style="font-weight: normal; font-family:Calibri, Geneva, Helvetica, Arial;">
                                                                Go To Forum
                                                              </strong>
                                                            </a>
                                                          </td>
                                                        </tr>
                                                      </table>
                                                  </center>
                                                
                                                  

                                                  <br/>
                                                </td>
                                          
                                              </tr>
                                            </table>
                                            
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateBody ">
                                        <tr>
                                          <td align="left" valign="top" class="bodyContent last closing" style="font-family:Calibri, Geneva, Helvetica, Arial; padding-bottom: 10px;">
                                              <br/>
                                              Keep learning!
                                              <br/>
                                            
                                              The EdCast Team
                                            
                                          </td>
                                        </tr>
                                      </table>  
                                    </td>
                                  </tr>   
                                <tr>
                                    <td align="center" valign="top">
                                        <!-- BEGIN FOOTER // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                              <tr>
                                                  <td valign="top" class="footerContent" style="font-size: 12px; border-top: 1px solid #c7c7c7; padding-top: 10px; font-family:Calibri, Geneva, Helvetica, Arial;">
                                                    You are receiving this email because you were added to a group in {{PARENT_GROUP_NAME}}.
                                                    <br/>
                                                    Please do not reply directly to this email, you may respond in the discussion forum.
                                                    <br/>
                                                    If you have any questions, please
                                                      <a style="color: #148ecd;" href="http://studentsupport.edcast.com/">contact support</a>
                                                      <br/>
                                                      Click <a style="color: #148ecd;" href="{{UNSUBSCRIBE_URL}}">here</a> to stop receiving future announcements from {{PARENT_GROUP_NAME}}.
                                                      <br/>
                                                      <a style="color: #148ecd;" href="https://www.edcast.com">www.edcast.com</a>

                                                  </td>
                                              </tr>
                                              
                                          </table>
                                          <!-- // END FOOTER -->
                                      </td>
                                  </tr>
                            </table>
                          </td>
                        </tr> 
                          
                          
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>