a.on-hover-actions.add-to-pack data-dropdown="card-packs-dropdown-#{stream.id}-VideoStream" href='#' data-options="align:#{dir}" data-id="#{stream.id}" data-type="VideoStream"
ul.f-dropdown.add-to-pack-dropdown aria-hidden="true" data-dropdown-content="" id="card-packs-dropdown-#{stream.id}-VideoStream"