.row
  .small-12.columns
    .section-header
      - unless hide_title
        .section-title Live Stream
    .main-body style="margin: 0 25px;"
      - add_to_pack_stream_enabled = streams_add_to_pack_enabled?
      = react_component('VideoStreamContainer', {'isEmbedded' => true, 'user' => (user.nil? ? nil : ActiveSupport::JSON.decode(render partial: 'users/details', formats: [:json], locals: {user: user, anonymous: nil, include_email: false, include_score_entry: false})), 'recording' => nil, 'viewers' => (viewers.blank? ? [] : []), 'comments' => (comments.blank? ? [] : ActiveSupport::JSON.decode(render template: 'comments/index', formats: [:json], locals: (user.nil? ? {exclude_upvotes: true} : {}).merge({exclude_user_score: true, exclude_flag: true, exclude_approvals: true}))), 'videoStream' => ({'shareUrl' => video_stream_url(id: video_stream.id)}.merge(ActiveSupport::JSON.decode(render partial: 'api/video_streams/details', formats: [:json], locals: {video_stream: video_stream, user: user}))), addToPackEnabled: add_to_pack_stream_enabled, theatreModeEnabled: theatre_mode_enabled?}, {prerender: true})

= render partial: 'common/streams/stream_setup', locals: {user: user, status: 'live'}
- content_for :js do
  javascript:
    var addthis_share = {
      url: "#{video_stream_url(video_stream.id)}",
      title: "#{video_stream.name}"
    };
= render partial: 'common/addthis_widget' if @can_share_on_social_nw
