li
  div class="video-card past-stream-card" data-href="#{video_stream_path(stream.slug)}" style="background-image: url(#{stream.image || image_url('card_default_image_min.jpg')});"
    .card-overlay
    .card-label Stream
    .card-section
      .card-divider.clearfix
        - if stream.creator.handle.blank?
          img.avatar.avatar-default.circle-white-border.left src="#{stream.creator.photo}"
        - else
          a href="#{public_user_page_path(handle: handle_no_at(stream.creator.handle))}" data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{stream.creator.id}"}}'
            img.avatar.avatar-default.circle-white-border.left src="#{stream.creator.photo}"
        .actions-wrapper.clearfix
          .actions.right
            ul
              li.commentCount.white
                = stream.comments_count
              li.likeCount.white
                = stream.votes_count
          .author-name.left
            - if stream.creator.handle.blank?
              = stream.creator.name
            - else
              a.truncate data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{stream.creator.id}"}}' href="#{public_user_page_path(handle: handle_no_at(stream.creator.handle))}"
                = stream.creator.name
      .card-content
        h6.title
          = stream.name
      ul.inline-list.tags
        - tags = stream.tags
        - if tags
          - stream.tags.each do |tag|
            li
              a href="#{search_path(q: tag.name)}"
                = tag.name
    a.on-hover-actions.open-card href=video_stream_path(stream.slug)
    - if streams_add_to_pack_enabled? && user_signed_in?
      = render partial: 'common/streams/add_to_pack_stream', locals: {stream: stream, dir: "left"}
- content_for :js
  javascript:
    $(document).on("click", ".past-stream-card", function(e){
      var skip = e.target.classList.contains("add-to-pack") || e.target.classList.contains("add-to-pack-dropdown") || $(e.target).parents(".add-to-pack-dropdown").length
      if(skip) { return; }
      window.location.href = $(this).data("href");
    });
