li
  .scheduled-stream.clearfix.scheduled-stream-js data-stream-path="#{video_stream_path(stream.slug)}"
    .left.stream-icon style="background-image: url('#{stream.image || image_url('card_default_image_min.jpg')}');"
    .stream-detail.left
      .small-font = stream.creator.name
      - if streams_add_to_pack_enabled? && user_signed_in?
        = render partial: 'common/streams/add_to_pack_stream', locals: {stream: stream, dir: "right"}
      .time-addthis.clearfix
        .left.localize-timestamp.small-font data-timestamp="#{stream.start_time}"
        .right
          .addthisevent title=("Add to Calendar") style=("z-index: 1;")
            span.start.addthisevent-localize-starttime data-timestamp="#{stream.start_time}"
            span.end.addthisevent-localize-starttime data-timestamp="#{stream_end_time(stream)}"
            span.title= "#{stream.name} on EdCast"
            span.description
              | Watch live on the web: #{video_stream_url(stream.slug)}
              br
              | Get the EdCast app to watch it live on your mobile device:
              br
              | Download on iOS - https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&ct=KKWebsiteLink&mt=8
              br
              | Download on Android - https://play.google.com/store/apps/details?id=com.edcast
      .title = stream.name
