- if local_assigns[:video_streams].present?
  - section_title ||= 'Video Streams'
  - live_streams, upcoming_streams, past_streams = [], [], []
  - video_streams.each do |stream|
    - live_streams.push(stream) if stream.status == 'live'
    - upcoming_streams.push(stream) if stream.status == 'upcoming'
    - past_streams.push(stream) if stream.status == 'past'

- block_grid_class = Settings.features.layout_v4 ? 'small-block-grid-1 cards-list' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-2 cards-list'
#video-streams-list
  - if live_streams.present?
    .section-header
      .section-title Live Streams
      - if local_assigns[:description]
        .section-description #{description}
    ul.search-stream-list
      - live_streams.each do |stream|
        = render partial: 'common/streams/search_stream_item', locals: {stream: stream}
  - if upcoming_streams.present?
    .section-header
      .section-title Scheduled Streams
      - if local_assigns[:description]
        .section-description #{description}
    ul.search-stream-list
      - upcoming_streams.each do |stream|
        = render partial: 'common/streams/search_stream_item', locals: {stream: stream}
  - if past_streams.present?
    .section-header
      .section-title Past Streams
      - if local_assigns[:description]
        .section-description #{description}
    ul.search-stream-list
      - past_streams.each do |stream|
        = render partial: 'common/streams/search_stream_item', locals: {stream: stream}

