li.no-list-style.search-stream-item
  .wrapper
    .row
      .small-12.columns style="padding:0"
        - if stream.creator.present?
          a.left.video-creator-icon href='#{public_user_page_path(handle: handle_no_at(stream.creator.normalized_handle))}' data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{stream.creator.id}"}}'
            img.avatar.avatar-default.circle-white-border src="#{stream.creator.photo}"
            - if stream.creator.is_suspended
              img.stream-suspend-icon src="#{asset_url('suspended_user_icon.png')}"
          .left.wrapper
            .stream-creator.detail.left.medium-font
              a.bold.video-insight-link.truncate href='#{public_user_page_path(handle: handle_no_at(stream.creator.normalized_handle))}' data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{stream.creator.id}"}}'
                = stream.creator.name
                .mute-font.small-font.stream-handle = stream.creator.normalized_handle
        - if stream.status == "live"
          .right.live-now-button
            .floating-label.pink
              =image_tag asset_path('live_stream.png'), class: 'icon'
              |Live Now!
        - if stream.status == "past"
          .right.live-now-button
            .floating-label.grey
              = image_tag asset_path('paststream_icon.png'), class: 'icon'
              |PAST STREAM
        - if stream.status == "upcoming"
          .right.live-now-button
            .floating-label.grey
              = image_tag asset_path('paststream_icon.png'), class: 'icon'
              |SCHEDULED STREAM

    .row.small-collapse
      .small-5.columns
        a.image-container href='#{video_stream_path(stream.slug)}' data-amplitude-trigger='click' data-amplitude-event='view_stream' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "livestream", "#{stream.id}"}}'
          .insight-picture style="background: url(#{video_stream_display_image(stream)}) center center no-repeat; background-size: cover; cursor:pointer; height: 150px;"
            = image_tag asset_path('play_button.png'), width: '50', height: '50', class: 'play-link'
      .small-7.columns
        .stream-content
          a.bold.video-insight-link.line-clamp-3 href="#{video_stream_path(stream.slug)}" data-amplitude-trigger='click' data-amplitude-event='view_stream' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "livestream", "#{stream.id}"}}' = stream.name
          .time-addthis.clearfix
            .mute-font.left.localize-timestamp.medium-font data-timestamp="#{stream.start_time}"
          - if stream.status == "live"
            .live-button
              a.button.hollow.small.watch-button href='#{video_stream_path(stream.slug)}' data-amplitude-trigger='click' data-amplitude-event='view_stream' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "livestream", "#{stream.id}"}}' Watch Now
          - if stream.status == "upcoming"
            .clearfix
              .left.small-font style="line-height: 40px;" Remind Me:
              .addthisevent title=("Add to Calendar") style=("z-index: 1; border:0;")
                span.start.addthisevent-localize-starttime data-timestamp="#{stream.start_time}" = stream.start_time
                span.end.addthisevent-localize-starttime data-timestamp="#{stream_end_time(stream)}" = stream_end_time(stream)
                span.title= "#{stream.creator.name} on EdCast"
                span.description
                  | Watch live on the web: #{video_stream_path(stream.slug)}
                  br
                  | Get the EdCast app to watch it live on your mobile device:
                  br
                  | Download on iOS - https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&ct=KKWebsiteLink&mt=8
                  br
                  | Download on Android - https://play.google.com/store/apps/details?id=com.edcast
          - if stream.status == "past"
            .button-section
              .small-font style="padding: 0.5rem 0rem;"
              a.button.hollow.small.watch-button href='#{video_stream_path(stream.slug)}' data-amplitude-trigger='click' data-amplitude-event='view_stream' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "livestream", "#{stream.id}"}}' Watch
    br
