- if local_assigns[:video_streams].present?
  - section_title ||= 'Streams'
.row
  .small-12.columns
    .section-header
      .section-title = section_title
      - if local_assigns[:description]
        .section-description #{description}
    ul.cards-list style="margin-bottom:0px" class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-1' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
      - if status == 'upcoming'
        - video_streams.each do |stream|
          = render partial: 'common/streams/scheduled_stream', locals: {stream: stream}
      - elsif status == 'past'
        - video_streams.each do |stream|
          = render partial: 'common/streams/past_stream', locals: {stream: stream}
      - elsif status == 'live'
        - if !@top_live_video_stream.nil?
          = render partial: 'common/streams/inline_live_stream', locals: {video_stream: @top_live_video_stream, user: current_user, hide_title: true, comments: [], viewers: []}
        - else
          - video_streams.each do |stream|
            = render partial: 'common/streams/past_stream', locals: {stream: stream}
