- content_for :js do
  = javascript_include_tag '//cdn.pubnub.com/pubnub-3.7.1.min.js'
  - if @current_org.present?
    javascript:
      window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}

  = javascript_include_tag "#{Settings.jwplayer_library_url}"
  javascript:
    var user = #{user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: user, anonymous: nil, include_email: false, include_score_entry: false})).to_json.html_safe};
  - if status == 'live'
    javascript:
      var anonymousUserImage = "#{ActionController::Base.helpers.asset_path('anonymous-user.png')}";
      var pubnub = PUBNUB.init({
        publish_key: #{Settings.pubnub.publish_key.to_json.html_safe},
        subscribe_key: #{Settings.pubnub.subscribe_key.to_json.html_safe},
        ssl: true
      });
