doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #a7aeb3;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="10"]
                  
                  tr height="25"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]
                      p = "Hi {{first_name}},"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]
                      p = "Thank you for your purchase. This is your receipt for the order" 

                      table[align="left" width="100%" height="145px" style="border:0.5px solid #d6d6e1;" cellpadding="10"]
                        tr[valign="top" height="80%"]
                          | {{#if course_image_url}}
                          td[align="center" width="25%"]
                            img[width="100%" src="{{course_image_url}}"]
                          | {{/if}}
                          td[width="45%" style='word-wrap: break-word;']
                            span style="font-family: OpenSans; font-size: 12px; letter-spacing: 0.2px; color: #6f708b;" {{course_name}}
                            br
                            | {{#if course_provider_logo}}
                            img[src="{{course_provider_logo}}" height="20px" width="40px" style="border:0"]
                            | {{/if}}
                          td[align="right" style=""]
                            span style="font-family: OpenSans; font-size: 14px; color: #454561; letter-spacing: 0.7px;" {{amount}} {{currency}}
                        tr
                          td[colspan="3"]
                            hr [style="margin: 0px; height: 1px; border: none; background-color: rgb(224, 224, 224);"]
                            div[style="text-align: right; padding-right:5px; padding-top:8px" ]
                              span style="color: #454560; font-weight: 600; font-size: 13px; font-family: OpenSans; letter-spacing: 0.3px;" Total: {{amount}} {{currency}}

                  tr height="10"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]

                      p = "Thank you,"

                  /! end content
                  
                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer")
            /! end footer

      tr height="50"
    /! end