doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;" 
                      | Hello {{name}},
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;" 
                      p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"
                        | {{inviter_name}} has added
                        | {{#if bulk_users }} bulk users {{/if}}
                        | {{#unless bulk_users }}
                        | {{#if followers_emails_present}}
                        |  following {{users_string}}
                        ul
                          | {{#each followers_emails}}
                          li
                           | {{this}}
                          | {{/each}}
                        | {{/if}}
                        | {{/unless}}
                        | {{#if teams_names_present}}
                        | {{#if followers_emails_present}} and{{/if}}
                        |  following {{teams_string}}
                        ul
                          | {{#each teams_names}}
                          li
                            | {{this}}
                          | {{/each}}
                        | {{/if}}
                        | {{#if teams_names_present}}
                        p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"
                          | {{to_channel_string}} {{channel_name}}.
                        | {{/if}}
                        | {{#unless teams_names_present}}
                        | {{#if bulk_users}} {{to_channel_string}} {{channel_name}}. {{/if}}
                        | {{#unless bulk_users}}
                        p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"
                          | {{to_channel_string}} {{channel_name}}.
                        | {{/unless}}
                        | {{/unless}}
                  tr height="10" 
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;" 
                      p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"

                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end
