doctype transitional
debugger
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="5"]
                  
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;"
                      | Hi{{#if first_name}} {{first_name}}{{/if}},
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;"
                      | {{message}}
                  /! list of posts
                  tr
                    td align="left" style=""
                      | {{#if group.group_image}}
                      img align="left" alt="" height="80" src="{{group.group_image}}" width="120"  style="border: 1px solid #c7c7c7;" /
                      | {{/if}}
                      div style="display: inline-block;vertical-align: top; text-align:left;"
                        div style="font-size: 16px;margin-top: 0px;color: #5c5c5c; height: 10px; font-weight: bold; margin-bottom: 10px;"  &nbsp; {{group.group_organization}}
                        p style="font-size: 14px;font-family:Arial;margin-bottom: 10px; margin-top:5px;"
                          b style="font-weight: 100;color: #686868;" &nbsp; {{group.group_name}}
                  tr
                    td height="25"
                  tr
                    td align="center" style="font-family: 'Open sans', Arial, sans-serif; color: #686868; font-size: 18px; line-height: 18px;border-bottom: 1px solid #c6c6c6;padding-bottom: 10px;"
                      | Personalized daily digest for {{user_name}}
                  tr
                    td height="15"
                  | {{#posts}}
                  tr style=" border: 1px solid #eeeeee;"
                    td style="box-sizing: border-box;"
                      table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                        tbody
                          tr
                            td valign="middle" height="40"
                              img width="40" alt="" src="{{this.creator_avatar}}" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;width:40px;max-width:60px;border-radius:50%; vertical-align: middle;" /
                              span style="margin: 5px 0 5px 0; font-size: 14px;vertical-align: middle;"
                                | &nbsp; {{this.creator_name}}
                          tr
                            td height="10"
                          tr
                            td style="border: 1px solid #d7d7d7;padding: 5px;box-shadow: 1px 1px 1px #d7d7d7;"
                              | {{#if this.resource_title}}
                              div style="margin-bottom: 8px;color: #fff1f1;"
                                a style="color: #c86e6e; text-decoration: none; font-size: 18px;" href="{{this.deep_url}}" {{this.title}}
                              div
                                div style="text-align: left;"
                                  img src="{{this.resource_img}}" style="max-width: 100%;" /
                                div style="text-align: left;max-width: 90%;"
                                  p  {{this.resource_site}}
                                  b style="font-size: 14px;" {{this.resource_title}}
                                  p style="font-size: 14px;" {{this.resource_desc}}
                              | {{/if}}
                              div
                                | {{striptags this.message}}
                              table
                                tr
                                  td height="15"
                              div style="color: #919191;"
                                img src="http://www.cmnetwork.co/assets/comment_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;margin-right: 5px;" width="15"/
                                |&nbsp;{{this.comments_count}} &nbsp;
                                img src="http://www.cmnetwork.co/assets/like_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;margin-right: 5px; margin-left: 10px;" width="15"/
                                |&nbsp;{{this.votes_count}}
                  tr
                    td height="25" 
                  | {{/posts}}
                  /! list of posts
                  tr
                    td height="25" 


                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end