| {{#if show_app_download}}
tr
  td
    table border="0" cellpadding="0" cellspacing="0" style=("border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc;") width="100%" 
      tbody
        tr
          td align="center" valign="top" 
            h2 style=("font-size: 20px; color: #333;") 
              | Get the most out of your course
            p style=("font-size: 12px; color: #666;") 
              | Download the {{org_display_name}} mobile app and keep up with your courses on the move.
            div
              a href="{{appstore_link}}" style=("text-decoration: none;") target="_blank" 
                img align="none" src="http://www.edcast.com/assets/app_store_icon.png" style=("max-width: 85px; max-height: 36px; margin: 5px 5px 0px 0px;") width="85" /
              a href="{{playstore_link}}" style=("text-decoration: none;") target="_blank" 
                img align="none" src="http://www.edcast.com/assets/play_store_icon.png" style=("max-width: 85px; max-height: 36px; margin: 0px;") width="85" /
            br/
| {{/if}}