doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="100%" style="padding-left: 25px; padding-right: 25px;" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Hi {{first_name}},
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Welcome to {{org_display_name}}! We're happy to invite you to claim your Influencer status on the {{org_display_name}} Knowledge Circles. Accept this invitation to start sharing your Insights and engage your audience on the {{org_display_name}} Knowledge Network.
                  tr height="25" 
                  tr
                    td align="center" 
                      table align="center" border="0" cellpadding="0" cellspacing="0" 
                        tbody
                          tr
                            td align="center" 
                              table align="left" border="0" cellpadding="0" cellspacing="0" 
                                tbody
                                  tr
                                    td align="center" 
                                      table align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                        tbody
                                          tr
                                            td align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                              a style="text-decoration:none; color:#ffffff;" href="{{invite_url}}"  Claim your Influencer status
                                    td style="padding-left: 10px;"
                                      img style="vertical-align: middle; height: 30px; display: inline-block;" src="http://www.edcast.com/assets/arrows.png" /
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | The link above will take you to your Insights dashboard, where you can start creating Insight cards containing content that you'd like your audience to learn from. Don't forget to update your profile (on the top-right corner of the page) with your full name and profile image so that your audience knows that your Insights are coming from you.


                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end