doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td align="center"
          table class="table-inner" style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")
            tr
              td[align="center"]
                 img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/welcome-team-member-new.png" alt="img" width="600" height="auto"

            /! main content
            tr
              td[align="center"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"] = "Join {{invitable_name}} on {{org_display_name}},"

                  tr height="15"

                  tr
                    td[align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 20px;"] = "You've been added as a member of the {{invitable_name}}-- powered by {{org_display_name}} Knowledge Cloud. Enjoy your journey with a daily habit of continuous & experiential learning with curated content from best sources and subject matter experts (SME)."

                  tr height="10"

                  tr
                    td align="center" 
                      table.table-full align="center" border="0" cellpadding="0" cellspacing="0" 
                        tr
                          td align="center" 
                            table.table-full align="left" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table.table-full align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                    tr
                                      td.textbutton align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                        a[href="{{invite_url}}" style="color: #ffffff; text-decoration: none;"]  Start Now

                  /! end content                              

                  tr
                    td height="25"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer
    /! end