<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{subject}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
            
              body, table, td, p, a, li, blockquote {
                    -webkit-text-size-adjust:100%;
                    -ms-text-size-adjust:100%;
                }
                table, td{
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
          }
                body{
                    margin:0;
                    padding:0;
                }
                img{
            border:0;
            height:auto;
            line-height:100%;
            outline:none;
            text-decoration:none;
          }
                table{
            border-collapse:collapse !important;
          }
                body, #bodyTable, #bodyCell{
            height:100% !important;
            margin:0;
            padding:0;
            width:100% !important;
          }

          .email-header {
            border-radius: 3px;
            width: 100%;
          }

            .email-header-td {
                padding: 10px 5px;
                background: white;
                border-radius: 3px;
            }
                #templateContainer{
                    margin: 15px;
                }
                body, #bodyTable{
                    /*@editable*/ background-color:#fff;
                }
                #bodyCell {
                    width:100% !important;
                    background: rgb(240, 241, 244);
                }
                #templateHeader {
                    width: 100%;
                }
          img.edcast-banner {
            width: 100%;
            margin-bottom: 8px;
          }
                #templateGreeting > td {
                    background-color:#fff;
                    border-radius: 3px 3px 0 0;
                }
                h4{
                    display:block;
                    /*@editable*/ font-family:Geneva, Helvetica, Arial;
                    /*@editable*/ font-size:14px;
                    /*@editable*/ font-style:normal;
                    /*@editable*/ font-weight:normal;
                    /*@editable*/ line-height:100%;
                    /*@editable*/ letter-spacing:normal;
                    margin-top:0;
                    margin-right:0;
                    margin-bottom:10px;
                    margin-left:0;
                    /*@editable*/ text-align:left;
                }
                /* ========== Body Styles ========== */
                .white {
                    background: #fff;
                }
                .mt20px {
                    display: inline-block;
                    margin-top: 20px !important;
                }
                .padding-left-right-25 {
                    padding: 0 25px;
                }
                .templateBody{
                    /*@editable*/ background-color:#fff;
                }
                .bodyContent{
                    /*@editable*/ color:#505050;
                    /*@editable*/ font-family:Geneva, Helvetica, Arial;
                    /*@editable*/ font-size:16px;
                    /*@editable*/ line-height:140%;
                    /*@editable*/ text-align:left;
                }
                .bodyContent.first {
                    color:#505050;
            font-family:Arial;
            padding-top: 35px;
                }

                .bodyContent.first h4 {
                  display:block;
            font-family:Arial;
            font-size:12px;
            font-style:normal;
            font-weight:normal;
            line-height:100%;
            letter-spacing:normal;
            margin-top:0;
            margin-right:0;
            margin-bottom:16px;
            margin-left:0;
            text-align:left;
            color: #555555 !important;
                }
                .bodyContent.button-td {
                    text-align: center;
            -webkit-text-size-adjust:100%;
            -ms-text-size-adjust:100%;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
            font-family:Arial;
            line-height:140%;
            text-align:left;
            padding: 0 35px;
                }
                .help-text {
                    font-size: 12px;
                    color: #555555 !important;
                    text-align: left !important;
                    font-family:Arial;
                    margin-bottom: 0;
                    margin-top: 0;
                }
                .question .help-text {
                    display: inline-block;
                }
                .question a {
                    font-family:Arial; font-size: 12px; color: #0078a0
                }
                .complimentary {
                    background-color:#fff;
            border-top:0px solid #FFFFFF;
            border-bottom:0px solid #CCCCCC;
                    margin-top: 15px;
                }
                .ruler {
                    border-bottom: 1px solid #ccc;
                }
                .bodyContent.last {
                    color:#555555;
            font-family:Arial;
            line-height:140%;
            text-align:left;
            padding-bottom: 20px;
            font-size: 12px;
            color: #555555 !important;
            padding: 0 25px 22px 25px;

                }
                .announcement-table {
                    border: 1px solid #eee;
                    background-color: #fbfbfb;
                }
                .announcement-cell {
                    padding: 10px 10px 10px 10px;
                }
                .announcement-notification-row {
                    text-align: left;
                    margin-bottom: 3px;
                }
                h4.announcement-title {
                    text-align: center;
                    font-size: 17px;
                    color: #002255 !important;
                    margin-bottom: 0px;
                    font-weight: bold;
                }
                h4.color {
                    color: #808080 !important;
                }
                .announcement-body {
                    margin: 0px;
            font-size: 12px;
            color: #555555 !important;
            text-align: left !important;
            font-family:Arial;

                }
                .goto-course-link {
                    background-color:#e03f7c;
            color:#fff;
            font-size:12px;
            text-decoration:none;
            width: 142px;
            height: 34px;
            display: inline-block;
            border-radius: 3px;
            line-height: 34px;
            text-align: center;
                }
          img.arrow {
            margin-left: 10px;
            vertical-align: middle;
            height: 30px;
            display: inline-block;
          }
                .closing {
                    font-size: 14px;
                    color: #808080 !important;
                }
                /* ========== Footer Styles ========== */
                #templateFooter{
                    background-color:#fff;
            border-radius: 0 0 3px 3px;
            margin-bottom: 21px;
                }
                #socialControls {
                    text-align: center;
            padding-bottom: 25px;
                }
                 a.social-link {
            margin: 20px 15px;
            display: inline-block;
            width: 35px;
            height: 35px;
          }
                .footerContent{
                    color:#555555;
            font-family:Arial;
            font-size:8px;
            line-height:150%;
            padding: 20px 25px 0 25px;
            text-align:center;
            border-top: 1px solid #ccc;
                }
                .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
                    /*@editable*/ color:#148ecd;
                    /*@editable*/ font-weight:normal;
                    /*@editable*/ text-decoration:underline;
                }

               
        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
          <tr>
            <td align="center" valign="top" id="bodyCell">
              <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                      <tr>
                        <td align="center" valign="top" class="email-header-td">
                            <a href="http://edcast.com/settings?utm_source=newsletter&utm_medium=logo&utm_campaign=onboard060915" target="_blank"><img align="left" height="32" src="http://www.edcast.com/assets/edcast-logo-colored.png" style="width: 102px; height: 32px; margin: 0px;" width="102"/></a>
                            <div style="text-align: right;">
                                
                                <a href="https://itunes.apple.com/us/app/edcast-build-your-personal/id974833832?mt=8" target="_blank" style="text-decoration: none;">
                                    <img align="none" height="26" src="http://www.edcast.com/assets/app_store_icon.png" style="width: 75px; height: 26px; margin: 5px 5px 0px 0px;" width="75"/>
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.edcast" target="_blank" style="text-decoration: none;">
                                    <img align="none" height="26" src="http://www.edcast.com/assets/play_store_icon.png" style="width: 75px; height: 26px; margin: 0px;" width="75"/>
                                </a>
                            </div>
                            
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 6px;"></td>
                      </tr>
                      <tr id="templateGreeting">
                        <td align="left" valign="top" class="padding-left-right-25">
                          <table border="0" cellpadding="0" cellspacing="0" class="templateBody" width="100%">
                            <tr>
                              <td class="bodyContent first" valign="top">
                                <h4 class="color">
                                  Hi {{first_name}},
                                </h4>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <tr>
                          <td align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%" class="white">
                              <tr>
                                <td align="center" valign="top">
                                  <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                      <td class="padding-left-right-25">
                                        <p class="announcement-body">
                                          Welcome to EdCast! We're on a mission to enhance learning through collaboration, and we're glad to see you getting started with your own Personal Knowledge Network!
                                        </p>
                                        <br/>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="padding-left-right-25 question">
                                        <p class="help-text">
                                          EdCast is also on mobile. Don't have the app yet? Go ahead and download it for iOS or Android.<br/> <br/>
                                          Share the app with your friends to deepen your Personal Knowledge Network and to start collaborating with your peers.
                                        </p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table border="0" cellpadding="0" cellspacing="0" class="templateBody complimentary" width="100%">
                                          <tr>
                                            <td align="left" class="bodyContent last closing" valign="top">
                                              Keep learning!
                                              <br/>
                                              The EdCast Team
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" id="templateFooter" width="100%" style="width:100% !important;">
                              <tr>
                                <td class="footerContent" valign="top">
                                  <p>
                                    You are receiving this email because you are a member of the EdCast Knowledge Network.
                                    <br/>
                                    Please do not reply directly to this email.
                                    <br/>
                                  </p>
                                  <p>
                                    If you have any questions, please<a href="http://studentsupport.edcast.com/"> contact support</a><br/><a href="http://www.edcast.com/"> www.edcast.com</a>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td id="socialControls">
                                  <a href="https://www.facebook.com/EdCast" class="social-link">
                                    <img src="http://www.edcast.com/assets/facebook.png" height="35" width="35">
                                  </a>
                                  <a href="https://twitter.com/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/twitter.png" height="35" width="35">
                                  </a>
                                  <a href="https://plus.google.com/+EdCastNetwork/" class="social-link">
                                    <img src="http://www.edcast.com/assets/gmail.png" height="35" width="35">
                                  </a>
                                  <a href="https://www.linkedin.com/company/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/linkedin.png" height="35" width="35">
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </body>
</html>