doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="center" style="font-family: 'Open sans', Arial, sans-serif; border-bottom: 1px solid #cccccc; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      h3 Open this email on your mobile device to log in to {{org_display_name}}!
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Hello,
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Here is your link to login to the {{org_display_name}} mobile app.
                  tr height="25" 
                  /! button
                  tr
                    td align="center" 
                      table align="center" border="0" cellpadding="0" cellspacing="0" 
                        tr
                          td align="center" 
                            table align="left" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table align="center" bgcolor="{{button_blue_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:6px;" 
                                    tr
                                      td align="center" height="40" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                        a style="color:#ffffff; text-decoration:none;" href="{{link_url}}"  Log in
                  /! end button

                  tr height="25" 
                  | {{#if show_edcast_name}}
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      This link will only work on your mobile device. To sign into your EdCast account on the web, follow this
                      a style="text-decoration:none;" href="http://www.edcast.com/auth/users/sign_in"  link
                  | {{/if}}
                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end