doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr
                    td[align="center" style="line-height: 0px;"]
                      img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/welcome-to-team.jpg" alt="img" width="550" height="auto"

                  tr height="45"

                  tr
                    td[align="center", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:22px;font-weight: bold; line-height: 28px;"] = "Join {{team_name}} on {{org_display_name}}"

                  tr
                    td[align="center" width="25" style="width:25px !important;height:15px;"]
                      table width="25"
                        tr
                          td align="center" width="25" style="border-bottom:3px solid #c86e6e; width:25px !important; display:block; margin: 0 auto; height:15px;"

                  tr height="15"

                  tr
                    td[align="center" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"] 
                      p = "{{first_name}}"
                      p = "You've been invited by {{inviter_name}} to join the team {{invitable_name}} on {{org_display_name}} as an administrator."
                  tr
                    td height="10" 

                  tr
                    td align="center" 
                      table.table-full align="center" border="0" cellpadding="0" cellspacing="0" 
                        tr
                          td align="center" 
                            table.table-full align="left" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table.table-full align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                    tr
                                      td.textbutton align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                        a[href="{{org_login_link}}" style="color: #ffffff; text-decoration: none;"]  Join Team

                  tr height="25"

                  /! end content
                  
                  /! signature
                  nav = SlimHelper.include_partial("default/signature", {align: 'center'})
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end