doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td align="center"
          table style="border:1px solid #d6d6e1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="100%" style="padding-left: 25px; padding-right: 25px;" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="28"

                  tr
                    td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | We have received a forgot password request from you.
                      br
                      | If you have raised the request, please click on the following link
                  tr
                    td height="34"
                  /! button
                  tr
                    td align="center" 
                      table align="center" border="0" cellpadding="0" cellspacing="0"
                        tr
                          td align="center" 
                            table align="left" border="0" cellpadding="0" cellspacing="0"
                              tr
                                td align="center" 
                                  table align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;"
                                    tr
                                      td align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;"
                                        a style="color: white; text-decoration: none;" href="{{link_url}}" CHOOSE A NEW PASSWORD
                  /! end button

                  tr height="34"

                  tr
                    td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:{{highlight_text_color}}; font-size:12px; line-height: 18px; font-weight: 300;"
                      | If you didn't mean to reset your password, then you can just ignore this email.

                  /! end content

                  tr
                    td height="36"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

    /! end