<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{subject}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
            
              body, table, td, p, a, li, blockquote {
                    -webkit-text-size-adjust:100%;
                    -ms-text-size-adjust:100%;
                }
                table, td{
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
          }
                body{
                    margin:0;
                    padding:0;
                }
                img{
            border:0;
            height:auto;
            line-height:100%;
            outline:none;
            text-decoration:none;
          }
                table{
            border-collapse:collapse !important;
          }
                body, #bodyTable, #bodyCell{
            height:100% !important;
            margin:0;
            padding:0;
            width:100% !important;
          }

          .email-header {
            border-radius: 3px;
            width: 100%;
          }

            .email-header-td {
                padding: 10px 15px;
                background: white;
                border-radius: 3px;
            }
                #templateContainer{
                    margin: 7px;
                }
                .mailerBg {
                    padding: 8px;
                    background: #e2e3e5;
                    border-radius: 3px;
                }
                /*ul.members-list{
                    padding-left: 0px;
                    margin: 0px;
                }*/
                .list-item {
                    text-align: center;
                    width:32%;
                    display: inline-block;
                    margin-left: 0px;
                    vertical-align: top;
                }

                .list-item a {
                    text-decoration: none;
                }

                .list-item img {
                    border-radius: 50%;
                    max-width: 120px;
                    max-height: 120px;
                    width: 80%;
                    margin-bottom: 5px;
                }
                body, #bodyTable{
                    /*@editable*/ background-color:#fff;
                }
                #bodyCell {
                    width:100% !important;
                    background: #f0f1f4;
                }
                #templateHeader {
                    width: 100%;
                }
         
                #templateHeaderInstruction {
                    font-family:Arial;
                    font-size:12px;
                    font-style:normal;
                    font-weight:normal;
                    line-height:100%;
                    letter-spacing:normal;
                }
                #templateHeaderInstruction p {
                    color: #e03e7c;
                    text-align:center;
                    line-height: 1.4;
                    margin: 8px 0;
                    border-radius: 3px;
                    background-color: #fff;
                    padding: 7px 25px;
                }
                #templateGreeting > td {
                    background-color:#fff;
                    border-radius: 3px 3px 0 0;
                }
                h4{
                    display:block;
                    /*@editable*/ font-family:Geneva, Helvetica, Arial;
                    /*@editable*/ font-size:14px;
                    /*@editable*/ font-style:normal;
                    /*@editable*/ font-weight:normal;
                    /*@editable*/ line-height:100%;
                    /*@editable*/ letter-spacing:normal;
                    margin-top:0;
                    margin-right:0;
                    margin-bottom:10px;
                    margin-left:0;
                    /*@editable*/ text-align:left;
                }
                /* ========== Body Styles ========== */
                .white {
                    background: #fff;
                }
                .mt20px {
                    display: inline-block;
                    margin-top: 20px !important;
                }
                .padding-left-right-25 {
                    padding: 0 25px;
                }
                .templateBody{
                    /*@editable*/ background-color:#fff;
                }
                .bodyContent{
                    /*@editable*/ color:#505050;
                    /*@editable*/ font-family:Geneva, Helvetica, Arial;
                    /*@editable*/ font-size:16px;
                    /*@editable*/ line-height:140%;
                    /*@editable*/ text-align:left;
                }
                .bodyContent.first {
                    color:#505050;
            font-family:Arial;
            padding-top: 35px;
                }

                .bodyContent.first h4 {
                  display:block;
            font-family:Arial;
            font-size:14px;
            font-style:normal;
            font-weight:normal;
            line-height:100%;
            letter-spacing:normal;
            margin-top:0;
            margin-right:0;
            margin-bottom:16px;
            margin-left:0;
            text-align:left;
            color: #555555 !important;
                }
                .bodyContent.button-td {
                    text-align: center;
            -webkit-text-size-adjust:100%;
            -ms-text-size-adjust:100%;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
            font-family:Arial;
            line-height:140%;
                }
                .help-text {
                    font-size: 14px;
                    color: #555555 !important;
                    text-align: left !important;
                    font-family:Arial;
                    margin-bottom: 0px;
                }
                .question .help-text {
                    display: inline-block;
                }
                .question a {
                    font-family:Arial;font-size: 12px;
                color: #0078a0
                }
                .complimentary {
                    background-color:#fff;
            border-top:0px solid #FFFFFF;
            border-bottom:0px solid #CCCCCC;
                    margin-top: 15px;
                }
                .ruler {
                    border-bottom: 1px solid #ccc;
                }
                .bodyContent.last {
                    color:#555555;
            font-family:Arial;
            line-height:140%;
            text-align:left;
            padding-bottom: 20px;
            font-size: 14px;
            color: #555555 !important;
            padding: 0 25px 22px 25px;

                }
                .announcement-table {
                    border: 1px solid #eee;
                    background-color: #fbfbfb;
                }
                .announcement-cell {
                    padding: 10px 10px 10px 10px;
                }
                .announcement-notification-row {
                    text-align: left;
                    margin-bottom: 3px;
                }
                h4.announcement-title {
                    text-align: center;
                    font-size: 17px;
                    color: #002255 !important;
                    margin-bottom: 0px;
                    font-weight: bold;
                }
                h4.color {
                    color: #808080 !important;
                }
                .announcement-body {
                    margin: 0px;
            font-size: 14px;
            color: #555555 !important;
            text-align: left !important;
            font-family:Arial;

                }
                .announcement-body.influencer-name {
                    font-size: 14px;
                }
                .announcement-body.post {
                    text-align: center !important;
                    max-width: 145px;
                    margin: 0 auto;
                }
                .goto-course-link {
                    background-color:#e03f7c;
            color:#fff;
            font-size:12px;
            text-decoration:none;
            width: 142px;
            height: 34px;
            display: inline-block;
            border-radius: 3px;
            line-height: 34px;
            text-align: center;
            white-space: nowrap;
                }

                .follow-botton {
                    font-size: 12px !important;
                    width: 50%;
                    min-width: 80px;
                    background-color:#4292c9;
                    border-radius:4px;
                    color:#ffffff;
                    display:inline-block;
                    font-family:sans-serif;
                    font-weight:bold;
                    line-height: 35px;
                    text-align:center;
                    text-decoration:none;
                    -webkit-text-size-adjust:none;
                }

                img.chromeWebStoreBadge {
                    height: 55px;
                }          
                .closing {
                    font-size: 14px;
                    color: #808080 !important;
                }
                /* ========== Footer Styles ========== */
                #templateFooter{
                    background-color:#fff;
            border-radius: 0 0 3px 3px;
                }
                #socialControls {
                    text-align: center;
            padding-bottom: 25px;
                }
                 a.social-link {
            margin: 20px 10px;
            display: inline-block;
            width: 35px;
            height: 35px;
          }
                .footerContent{
                    color:#555555;
            font-family:Arial;
            font-size:12px;
            line-height:150%;
            padding: 0px 25px 0 25px;
            text-align:center;
    
                }
                .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span, a.hyperlink /* Yahoo! Mail Override */{
                    /*@editable*/ color:#148ecd;
                    /*@editable*/ font-weight:normal;
                    /*@editable*/ text-decoration:underline;
                }
                .column {
                display: inline-block;
                vertical-align: top;
                text-align: center;
            }    

            .column img {
                width: 100%;
                max-width: 135px;
                border-radius: 50%;
            }

            a.link {
                text-decoration: none !important;
            }

            @media screen and (min-width:768px){
                #templateContainer{
                    width:600px !important;
                }
            }    

            @media only screen and (max-width:480px){
                #templateContainer{
                    max-width:600px;
                }
                .column {
                    width:100% !important;
                    margin: 0px auto;
                }

            }  
        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
          <tr>
            <td align="center" valign="top" id="bodyCell">
              <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                <tr>
                  <td class="mailerBg">
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                      <tr>
                        <td align="center" valign="top" class="email-header-td">
                            <a href="http://edcast.com/settings?utm_source=newsletter&utm_medium=logo&utm_campaign=onboard060915" target="_blank">
                                <img align="left" height="32" src="http://www.edcast.com/assets/edcast-logo-colored.png" style="max-width: 102px; max-height: 32px; margin: 0px;width: 33%;" width="102"/>
                            </a>
                            <div style="text-align: right;">
                                
                                <a href="https://itunes.apple.com/us/app/edcast-build-your-personal/id974833832?mt=8" target="_blank" style="text-decoration: none;">
                                    <img align="none" height="26" src="http://www.edcast.com/assets/app_store_icon.png" style="max-width: 75px; max-height: 26px; margin: 5px 5px 0px 0px; width: 23%;" width="75"/>
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.edcast" target="_blank" style="text-decoration: none;">
                                    <img align="none" height="26" src="http://www.edcast.com/assets/play_store_icon.png" style="max-width: 75px; max-height: 26px; margin: 0px; width: 23%;" width="75"/>
                                </a>
                            </div>
                            
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 4px;"></td>
                      </tr>
                      
                      <tr id="templateGreeting">
                        <td align="left" valign="top" class="padding-left-right-25">
                          <table border="0" cellpadding="0" cellspacing="0" class="templateBody" width="100%">
                            <tr>
                              <td class="bodyContent first" valign="top">
                                <h4 class="color">
                                  Hello {{first_name}},
                                </h4>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <tr>
                          <td align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%" class="white">
                              <tr>
                                <td align="center" valign="top">
                                  <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                      <td class="padding-left-right-25">
                                        <p class="announcement-body">
                                          Now that you've confirmed your EdCast account, here are a few tips to get you started.
                                        </p>
                                        <br/>
                                        <br/>
                                      </td>
                                    </tr>
                                      
                                      <tr>
                                          <td class="padding-left-right-25">
                                              <div class="announcement-body">1. Follow influencers for expert knowledge on various topics</div>
                                          </td>
                                      </tr>  

                                    <tr>
                                        <td class="padding-left-right-25" style="text-align: center;">
                                            <!-- BEGIN INDIVIDUAL COLUMNS // -->
                                                <!--[if gte mso 9]>
                                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px;" width="600">
                                                <tr>
                                                <td align="center" valign="top" style="width:175px;" width="175">
                                                <![endif]-->
                                            <div class="column" style="width: 175px;">
                                                <br>
                                                <br>
                                                <a href="http://www.edcast.com/jeffreysachs" title="" class="link" target="_blank">
                                                    <img alt="" src="http://www.edcast.com/assets/about_us/Jeffrey.jpg">
                                                </a>
                                                <br>
                                                <strong class="announcement-body influencer-name">Jeffrey Sachs</strong>
                                                <br>
                                                <p class="announcement-body post">Director of the Earth Institute of Columbia University</p>
                                                <br>
                                                <a href="http://www.edcast.com/jeffreysachs" class="follow-botton">Follow</a>

                                            </div>
                                             <!--[if gte mso 9]>
                                                </td>
                                                <td align="center" valign="top" style="width:197px;" width="197">
                                                <![endif]-->
                                            <div class="column" style="width: 175px;">
                                                <br>
                                                <br>
                                                <a href="http://www.edcast.com/wjperryproject" title="" class="link" target="_blank">
                                                    <img alt="" src="http://www.edcast.com/assets/about_us/perry.jpg">
                                                </a>
                                                <br>
                                                <strong class="announcement-body influencer-name">William J. Perry</strong><br>
                                                <p class="announcement-body post">Former Secretary of Defense and Professor (Emeritus) Stanford</p><br>
                                                <a href="http://www.edcast.com/wjperryproject" class="follow-botton">Follow</a>
                                            </div>
                                             <!--[if gte mso 9]>
                                                </td>
                                                <td align="center" valign="top" style="width:197px;" width="197">
                                                <![endif]-->
                                            <div class="column" style="width: 175px;margin-bottom:32px;">
                                                <br>
                                                <br>
                                                <a href="http://www.edcast.com/scooterbraun" title="" class="link" target="_blank">
                                                    <img alt="" src="http://www.edcast.com/assets/about_us/scooter.png">
                                                </a>
                                                <br>
                                                <strong class="announcement-body influencer-name">Scooter Braun</strong><br>
                                                <p class="announcement-body post">Record Label Owner Artist Manager and Humanitarian</p>
                                                <br>
                                                <a href="http://www.edcast.com/scooterbraun" class="follow-botton">Follow</a>
                                            </div>
                                             <!--[if gte mso 9]>
                                                </td>
                                                </tr>
                                                </table>
                                                <![endif]-->
                                           
                                        </td>
                                    </tr>
                                      
                                      <tr>
                                          <td align="center" class="padding-left-right-25" valign="top">
                                              <p class="announcement-body">
                                                2. Join the world’s first Teach-A-Thon<sup>TM</sup> and change the World.
                                              </p>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="padding-left-right-25" style="text-align: center;">
                                            
                                          </td>
                                      </tr>
                                      
                                    <tr>  
                                      <td align="center" class="padding-left-right-25" valign="top">
                                          <br/><br/><br/>
                                          <p class="announcement-body">
                                            3. Download the Chrome Extension for 1-click EdCasting.
                                        </p>
                                        <br/>
                                        <a href="https://chrome.google.com/webstore/detail/edcast/iihabgolllpckbhencdcnmonmgohagjm">
                                            <img src="http://www.edcast.com/assets/ChromeWebStoreBadge.png" height="55" class="chromeWebStoreBadge">
                                        </a>
                                        
                                      </td>
                                    </tr>
                                    
                                    <tr>
                                      <td>
                                        <table border="0" cellpadding="0" cellspacing="0" class="templateBody complimentary" width="100%">
                                          <tr>
                                              <td align="left" class="bodyContent last closing" valign="top" style="margin-top:32px;">
                                              The EdCast Team
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" id="templateFooter" width="100%" style="width:100% !important;">
                              <tr>
                                <td class="footerContent" valign="top">
                                    <hr>
                                    <br>
                                  <p>
                                    You are receiving this email because you are a member of the EdCast Knowledge Network.
                                    <br/>
                                    Please do not reply directly to this email.
                                    <br/>
                                  </p>
                                  <p>
                                    If you have any questions, please contact <a href="http://studentsupport.edcast.com/">support</a><br/><a href="http://www.edcast.com/"> www.edcast.com</a>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td id="socialControls">
                                  <a href="https://www.edcast.com/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/edcast_icon_blue.png" height="35" width="35">
                                  </a>  
                                  <a href="https://www.facebook.com/EdCast" class="social-link">
                                    <img src="http://www.edcast.com/assets/facebook_new.png" height="35" width="35">
                                  </a>
                                  <a href="https://twitter.com/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/twitter_new.png" height="35" width="35">
                                  </a>
                                  <a href="https://plus.google.com/+EdCastNetwork/" class="social-link">
                                    <img src="http://www.edcast.com/assets/gmail_new.png" height="35" width="35">
                                  </a>
                                  <a href="https://www.linkedin.com/company/edcast" class="social-link">
                                    <img src="http://www.edcast.com/assets/linkedin_new.png" height="35" width="35">
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </body>
</html>