doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | Hello {{first_name}},
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | We searched for EdCast teams you've already joined or are allowed to join, using {{email}}. It looks like you have several!
                  tr
                    td height="25" 
                  tr
                    td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;"  You can sign in to the following teams:
                  tr height="15" 
                  tr
                    td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      table cellpadding="0" cellspacing="0" width="100%" 
                        /! BEGIN LOOP //
                        | {{#each organizations}}
                        tr
                          td
                            img src="{{logo}}" style="display:inline; max-width: 150px;" /
                          td
                            | {{name}}
                            br/
                            a href="{{home_page}}" {{home_page}}
                          td align="center" 
                            table align="center" border="0" cellpadding="0" cellspacing="0" 
                              tbody
                                tr
                                  td align="center" 
                                    table align="left" border="0" cellpadding="0" cellspacing="0" 
                                      tbody
                                        tr
                                          td align="center" 
                                            table align="center" bgcolor="{{button_blue_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:6px;" 
                                              tbody
                                                tr
                                                  td align="center" height="40" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                                    a style="text-decoration:none; color:#ffffff;" href="{{login_url}}"  Launch
                      
                        | {{/each}}
                        /! // END LOOP
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | Keep sharing valuable insights on {{org_display_name}} teams and start collaborating with your peers.


                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end