doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head

    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"

  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td align="center"
          table style="border:1px solid #a7aeb3;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="100%" style="padding-left: 25px; padding-right: 25px;" border="0" cellspacing="0" cellpadding="0"]

                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Hi {{first_name}},
                  tr
                    td height="25"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Your embargo-import task has been completed at {{upload_time}} GMT

                  tr
                    td height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content

            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer
    /! end