<html style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);"><head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <title>{{subject}}</title>
    </head>

    <body style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
      <div class="email-container container main-mail-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-right: 20px;padding-left: 20px;margin-right: auto;margin-left: auto;background-color: #f7f7f7;padding-top: 20px;max-width: 600px;">
        
        <div class="mail-content mail-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #ffffff;">
        <div class="show text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;margin: auto;padding: 30px;display: block!important;">

            <div class="row header-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
              <div class="col-md-12 text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;">
                <div class="co-branding-logo" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-bottom: 25px;">
                {{#if org_logo}}   
                  <img src="{{org_logo}}" style="width: 130px; height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;">
                {{else}}
                  <img src="https://www.edcast.com/assets/edcast_logo.png" style="width: 130px; height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;">
                {{/if}}
                </div>
              </div>
            </div>
            
            <div class="email-message row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;color: #c3c3c3;">
              <div class="col-md-12 text-center email-message text-justify spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: justify;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;padding-bottom: 20px;">
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;color: #8a8a8a;">Hi {{first_name}},</p>
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;color: #8a8a8a;">Now that you've confirmed your {{org_display_name}} account, we want to recommend following some of our most influential members sharing their insights on our network.
                </p>
                <br>
                <div class="cta-container row " style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
          <div style="text-align:center;">
              <div class="column" style="width: 175px;display: inline-block;vertical-align: top;text-align: center;">
                                                <br>
                                                <br>
                                                <a href="http://www.edcast.com/jeffreysachs" title="" class="link" target="_blank">
                                                    <img alt="" src="http://www.edcast.com/assets/about_us/Jeffrey.jpg" style="width: 100%;max-width: 115px;border-radius: 50%;">
                                                </a>
                                                <br>
                                                <strong style="color: #8a8a8a;">Jeffrey Sachs</strong>
                                                <br>
                                                <p style="color: #8a8a8a;">Director of the Earth Institute of Columbia University</p><br/>
                                                <a href="http://www.edcast.com/jeffreysachs" class="email-button" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #e93d5d;color: #ffffff;text-decoration: none;padding: 10px 20px;max-width: 150px;border-radius: 3px;">Follow</a>
                                                </div>

                                             <!--[if gte mso 9]>
                                                </td>
                                                <td align="center" valign="top" style="width:197px;" width="197">
                                                <![endif]-->
                                            <div class="column" style="width: 175px;display: inline-block;vertical-align: top;text-align: center;">
                                                <br>
                                                <br>
                                                <a href="http://www.edcast.com/wjperryproject" title="" class="link" target="_blank">
                                                    <img alt="" src="http://www.edcast.com/assets/about_us/perry.jpg" style="width: 100%;max-width: 115px;border-radius: 50%;">
                                                </a>
                                                <br>
                                                <strong style="color: #8a8a8a;">William J. Perry</strong><br>
                                                <p style="color: #8a8a8a;">Former Secretary of Defense and Professor (Emeritus) Stanford</p><br/>
                                                <a href="http://www.edcast.com/wjperryproject" class="email-button" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #e93d5d;color: #ffffff;text-decoration: none;padding: 10px 20px;max-width: 150px;border-radius: 3px;">Follow</a>
                                            </div>
                                            </div>
                                            <br/>
                                             <!--[if gte mso 9]>
                                                </td>
                                                <td align="center" valign="top" style="width:197px;" width="197">
                                                <![endif]-->
                                           <div style="text-align: center;">
                                            <div class="column" style="border-radius: 50%;width: 175px;display: inline-block;vertical-align: top;text-align: center;">
                                                <br>
                                                <br>
                                                <a href="http://www.edcast.com/scooterbraun" title="" class="link" target="_blank">
                                                    <img alt="" src="http://www.edcast.com/assets/about_us/scooter.png" style="width: 100%;max-width: 115px;border-radius: 50%;">
                                                </a>
                                                <br>
                                                <strong style="color: #8a8a8a;">Scooter Braun</strong><br>
                                                <p style="color: #8a8a8a;">Record Label Owner Artist Manager and Humanitarian</p><br/>
                                                <a href="http://www.edcast.com/scooterbraun" class="email-button" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #e93d5d;color: #ffffff;text-decoration: none;padding: 10px 20px;max-width: 150px;border-radius: 3px;">Follow</a>
                                            </div>
                                            </div>

            </div>
            <br><br>
            <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;color: #8a8a8a;">Follow these influencers for expert knowledge on various topics and begin sharing your own knowledge!
                </p>
                <br>
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;color: #8a8a8a;">Download the Chrome Extension for 1-click EdCasting.<br>
                  <div align="center">
                    <a href="https://chrome.google.com/webstore/detail/edcast/fmpbmcffdlehgakphimkhmijmndelhmn?hl=en-US">
                                              <img src="http://www.edcast.com/assets/ChromeWebStoreBadge.png" height="55" class="chromeWebStoreBadge">
                                          </a>
                  </div>
                <br></p>
                <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;color: #8a8a8a;">
                    The {{org_display_name}} Team
                </p>

              </div>
            </div>
          </div>
          <div class="hide" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: none!important;">
          </div>
        </div>

        <div class="row edcast-branding" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;font-size: 10px;padding-top: 10px;">
          <div class="col-md-12 text-right email-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: right;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;margin-bottom: 10px;">
                    Powered By <img src="http://www.edcast.com/assets/ed_grey.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;page-break-inside: avoid;max-width: 100%!important; width: 22px; height: 16px;margin-right: 10px;">
          </div>
          
        </div>
        
        <div class="row app-download" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
          <div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 100%;">
            <div class="email-message text-center" style="color: #818181;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;">
            <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Download the Edcast App</p>
            </div>
            <div class="text-center spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;padding-bottom: 20px;">
              <a href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&amp;ct=KKWebsiteLink&amp;mt=8"><img src="https://ci3.googleusercontent.com/proxy/A2SI6ul9_JVEvTUxeAYKYDzRyexJhUxLjPvATQJqZtM0HtLF20L-dtqzwSS29Zzq5Il0gk7MHJKtJatAkdJhvxSvGjMFNclhEjHdRoVnWV7VDE_T6YYYO37yFXcr6Lck7ordS8ZDkuZdi09VrFynO6mU3xNIgj4ZBS5woHc=s0-d-e1-ft#https://gallery.mailchimp.com/25738ee243d2447c9aa5f5fe6/images/2f0e4061-2196-4069-8249-e33ea9059c5d.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;margin-right: 12px;width: 120px; height: 39px;"></a>
              <a href="https://play.google.com/store/apps/details?id=com.edcast"><img src="https://ci5.googleusercontent.com/proxy/hRTWJ72qLGF8OpBThfnPO5aE6rdYXAhlPqKCnYI07DnOgjDOYbFchBv2Q3qLaywOWzZIn1Pf4kqcCCDINVxYaIwBeNkYiCH85hw6e9yprtYL_FVsW2aRwV7CRbvYcRC3Ep6YYhPHZQ_hN6AjIz2BGSZU9PhDV28BlcbtDn8=s0-d-e1-ft#https://gallery.mailchimp.com/25738ee243d2447c9aa5f5fe6/images/a8fd0bda-48fe-4f19-8d1b-04355ab23747.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 120px; height: 39px; "></a>
            </div>
          </div>
        </div>
        
        <div class="row social-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
          <div class="col-md-12 text-center spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;padding-bottom: 20px;">
            <a href="https://www.edcast.com/edcast"><img src="http://www.edcast.com/assets/ed_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 45px; height: 45px; margin-right: 11px;"></a>
            
            <a href="https://www.facebook.com/EdCast"><img src="https://www.edcast.com/assets/facebook_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 45px; height: 45px;margin-right: 11px;"></a>
            
            <a href="https://twitter.com/edcast"><img src="http://www.edcast.com/assets/twitter_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;margin-right: 11px;"></a>
            
            <a href="https://plus.google.com/+EdCastNetwork"><img src="http://www.edcast.com/assets/google_plus_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;margin-right: 11px;"></a>
            
            <a href="https://www.linkedin.com/company/edcast"><img src="https://www.edcast.com/assets/linkidin_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;"></a>
            </div>
      </div>
        
        <div class="row standard-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;font-size: 10px;">
          <div class="col-md-12 email-message" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;margin-left: 10px;">
            <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;color: #8a8a8a;">
              You are receiving this email because you are a member of EdCast. 
            </p>
            <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Please do not reply directly to this email.If you have any questions, please contact <a href="http://studentsupport.edcast.com/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: underline;">support</a></p>
              <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
              <a href="https://www.edcast.com/corp/contact/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Contact us</a>
              <a href="https://www.edcast.com/corp/terms-of-service/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;margin-left: 3px;margin-right: 3px;">Terms of use </a>
              <a href="https://www.edcast.com/corp/privacy-policy/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Privacy Policy </a>
            </p> 
      
          </div>
      </div>
    
  </div></body></html>