doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "Edcast"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | Dear EdCast,
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | We've just received a new application via the EdCast for Teams self-serve lead capture flow. Please find the details below:
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      span First Name:
                      span  {{first_name}}
                  tr height="10" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      span Last Name:
                      span  {{last_name}}
                  tr height="10" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      span Work Email address:
                      span  {{customer_email}}
                  tr height="10" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      span Phone Number:
                      span  {{customer_phone_number}}
                  tr height="10" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      span Company or Team Name:
                      span  {{organization_name}}
                  tr height="10" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      span EdCast URL:
                      span  {{host_name}}.edcast.com
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | Please Log in to approve this team. You must use self serve Edcast admin credentials to log in.
                  tr
                    td align="center" 
                      table.table-full align="center" border="0" cellpadding="0" cellspacing="0" 
                        tbody
                          tr
                            td align="center" 
                              table.table-full align="left" border="0" cellpadding="0" cellspacing="0" 
                                tbody
                                  tr
                                    td align="center" 
                                      table.table-full align="center" bgcolor="{{button_blue_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:6px;" 
                                        tbody
                                          tr
                                            td.textbutton align="center" height="40" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                              a style="text-decoration:none; color:#ffffff;" href="{{team_url}}"  Log in

                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | Use EdCast to share knowledge and collaborate with your team.

                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end