doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head

    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"

  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="100%" style="padding-left: 25px; padding-right: 25px;" border="0" cellspacing="0" cellpadding="0"]

                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Hi {{first_name}},
                  tr
                    td height="25"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Your user-import task is complete. Here is a summary.

                  tr
                    td height="25"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Task Run Time: {{upload_time}} GMT

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Created: {{new_users_count}} New Members

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Resent Emails Count: {{resent_emails_count}}

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Invitees Count: {{invitees_count}}

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      | Created: {{new_groups_count}} New Groups

                  tr
                    td height="25"
                  | {{#if new_groups }}

                  tr
                    td style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"  Created Groups:

                  tr align="center"
                    td
                      table style="border: 1px solid #ddd;text-align: left;width: 100%; border-collapse: collapse;"
                        tbody
                          tr
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;" Group Name
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;" # of entries added
                          | {{#each new_groups}}
                          tr
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;"  {{@key}}
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;"  {{this}}
                          | {{/each}}
                  | {{/if}}

                  tr
                    td height="25"
                  | {{#if old_groups}}

                  tr
                    td style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"  Updated Existing Groups:

                  tr align="center"
                    td
                      table style="border: 1px solid #ddd;text-align: left;width: 100%; border-collapse: collapse;"
                        tbody
                          tr
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;" Group Name
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;" # of Users Added
                          | {{#each old_groups}}
                          tr
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;"  {{@key}}
                            td style="text-align: left;padding: 8px;border: 1px solid #ddd;"  {{this}}
                          | {{/each}}
                  | {{/if}}
                  tr
                    td height="25"


                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content

            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer
    /! end