doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr
                    td[align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"] = "{{first_name}},"

                  tr height="15"

                  tr
                    td[align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"] = "Congrats, you have new followers on Team {{org_name}} on {{org_display_name}}!"

                  tr height="25"

                  '{{#followers}}
                  tr
                    td align="center"
                      table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0"
                        tr
                          td align="center"
                            table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full"
                              tr
                                td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:16px; line-height: 18px;"
                                  img style="display:block;" src="{{this.picture}}"
                                  a[href="{{this.url}}"]= "{{this.name}}"
                                
                  tr height="25"

                  '{{/followers}}

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
                      p = "Keep learning!"
                      p
                        i = "The team at {{org_display_name}}"

                  /! end content
                  
                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end