tr bgcolor="#f0f0f5"
  td align="center"
    table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" 
      tr
        td height="10"
      tr
        td align="center" valign="top" style="font-family: 'Open sans', Arial, sans-serif; font-size:12px; color: #acadc1; line-height:28px; font-style: italic;"
          | Sent From:
          a href="{{home_page}}" style="text-decoration: none; color: #acadc1;"  {{home_page}}
      tr
        td height="20"
      | {{#if promotions}}
      tr align="center" style="font-family: 'Open sans', Arial, sans-serif; font-weight: 300; font-size: 8px; color: #acadc1;" 
        td Click to download the {{org_display_name}} mobile app
      tr height="5"
      tr
        td
          table align="center" border="0" cellpadding="0" cellspacing="0" width="155" 
            tr
              td
                a href="{{appstore_link}}" 
                  img src="https://www.edcast.com/i/images/app_store.png" width="72" /
              td width="15" 
              td
                a href="{{playstore_link}}" 
                  img src="https://www.edcast.com/i/images/play_store.png" width="72" /
      tr
        td height="15"
      | {{/if}}