doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Hi{{#if first_name}} {{first_name}} {{/if}},
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | {{post_user}} has posted a new announcement in {{post_group_name}}.
                  tr
                    td height="25" 
                  tr style="background:#fbfbfb;"
                    td style="padding:20px; width: 100% !important; border: 1px solid #eeeeee" 
                      table width="500" align="center" border="0" cellpadding="0" cellspacing="0" style=" min-width:450px; text-align: center !important; color: {{text_color}}; font-size: 12px;"
                        tr
                          td align="center" 
                            h4  {{post_title}}
                        tr height="25" 
                        tr
                          td align="left" {{#if post_message}} Dear Students in {{post_group_name}},{{/if}} 
                        tr
                          td align="left" {{{post_message}}}
                        /! button
                        tr
                          td align="center" 
                            table align="center" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table align="left" border="0" cellpadding="0" cellspacing="0" 
                                    tr
                                      td align="center" 
                                        table align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                          tr
                                            td align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                              a style="text-decoration:none; color:#ffffff;" href="{{post_url}}"  Go To Course
                        /! end button

                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end