tr bgcolor="{{header_background_color}}" 
  td align="center" 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="600" 
      tr
        td align="left" valign="bottom" 
          table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" 
            tr
              td height="60" 
            tr
              td height="60" 
        td align="center" width="320" 
          table align="center" border="0" cellpadding="0" cellspacing="0" 
            tr
              td height="10" 
            /! logo
            tr
              td align="center" style=("line-height: 0px;") 
                table align="center" border="0" cellpadding="0" cellspacing="0" 
                  tbody
                    tr
                      | {{#if show_edcast_logo}}
                      td
                        img.CToWUd alt="logo" height="45" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/ed-new.png" style="display:inline;line-height:0px;font-size:0px;border:0px;padding-right: 10px;padding-left: 10px;" /
                      | {{#if org_logo}}
                      td style=("border-left:solid 1px #6f708b;padding-right: 10px;")
                      | {{/if}}
                      | {{/if}}
                      | {{#if org_logo}}
                      td
                        img.CToWUd alt="logo" height="50" src="{{org_logo}}" style="display:inline;line-height:0px;font-size:0px;border:0px;" /
                      | {{/if}}
            /! end logo
            tr
              td height="5" 
        td align="right" valign="bottom" 
          table align="right" border="0" cellpadding="0" cellspacing="0" width="100%" 
            tr
              td height="60" 
            tr
              td height="60"