doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      h3 Daily update for instructor  {{user_name}} 
                  tr style="border-bottom: 1px solid #cccccc;" 
                  | {{#each data}}
                  tr
                    td align="left" valign="top" 
                      table cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" 
                        tr
                          td align="left" valign="top" 
                            div style="display: inline-block; width: 300px; vertical-align: top;" 
                              br/
                              a href="{{this.group_url}}" style="font-size: 16px;font-family:Arial;margin-bottom: 10px; margin-top:5px; max-width: 300px;" {{this.group_name}}
                            div style="padding-top: 10px; margin-bottom:10px;border-bottom: 1px solid #cccccc;" 
                  tr
                    td
                      | {{#if this.posts_empty}}
                      p style="text-align: center;"  There are no new posts in this course.
                      | {{/if}}
                  | {{#each this.posts}}
                  tr
                    td
                      table border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%" 
                        tr
                          td align="left" valign="top" width="300" 
                            small  
                              b {{this.creator_name}}  -
                            small  {{this.title}}
                            small  {{striptags this.message}}
                            a href="{{this.deep_url}}" style="text-decoration:none;font-size: smaller;"  Read More
                  | {{/each}}

                  | {{#if this.show_more}}
                  tr
                    td
                      a href="{{this.group_url}}" style="text-decoration:none; margin-top: 8px;"  Show more posts...
                  | {{/if}}

                  | {{/each}}


                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end