doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      | Hello {{first_name}},
                  tr height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"
                        | Your colleague,
                        b " {{inviter_name}} "
                        | , has made you a Collaborator on the following channel:
                      p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;" 
                        b " {{channel_name}} "
                  tr height="10" 
                  /! button
                  tr
                    td align="center" 
                      table align="center" border="0" cellpadding="0" cellspacing="0" 
                        tr
                          td align="center" 
                            table align="left" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table align="center" bgcolor="{{button_blue_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:6px;" 
                                    tr
                                      td align="center" height="40" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                        a style="color:#ffffff; text-decoration:none;" href="{{invite_url}}"  Go to Channel
                  /! end button
                  tr
                    td height="25" 
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{section_text_color}}; font-size:12px; line-height: 18px;" 
                      p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"
                        b How do I Collaborate?
                      p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"
                        | Collaborators can post SmartCards to a channel. To post a SmartCard to this channel, click on the top right icon on the Home page, add your message, photo or video, and choose the "{{channel_name}}" channel.

                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end