doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr height="45"

                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | Hi{{#if first_name}} {{first_name}}{{/if}},
                  tr
                    td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;" 
                      | There's new activity on one of the {{follow_class_name}} you're following.
                  tr
                    td height="25" 
                  tr style="background:#fbfbfb; border: 1px solid #eeeeee;" 
                    td style="padding:20px;" 
                      table.table-full align="center" border="0" cellpadding="0" cellspacing="0" style="min-width:450px; font-size:12px;" 
                        tr
                          td
                            h4.announcement-title  {{followable_group_name}} from {{followable_group_client_name}} 
                        
                        tr
                          td  {{{activity_snippet}}}
                          
                        /! button
                        tr
                          td align="center" 
                            table.table-full align="center" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table.table-full align="left" border="0" cellpadding="0" cellspacing="0" 
                                    tr
                                      td align="center" 
                                        table.table-full align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                          tr
                                            td.textbutton align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                              a style="text-decoration:none; color:#ffffff;" href="{{link_url}}"  View Post
                        /! end button

                  tr height="25"

                  /! end content

                  /! signature
                  nav = SlimHelper.include_partial("default/signature", {unsubscribe: "new-comment-activity"})
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer", {download:true})
            /! end footer

      tr height="50"
    /! end