doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]
                      p = "Hello {{first_name}},"

                  tr height="25" 
                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]
                      p = "Thank you for your payment of {{currency}} {{amount}} for the annual subscription of {{org_name}}." 

                      p = "Your transaction ID is {{gateway_id}}. The details of your order are as follows:"

                      table[bgcolor="#FFFFFF" width="70%" align="left" border="1px solid black" cellspacing="0" cellpadding="10"]
                        tr
                          td
                            | Amount
                          td
                            | {{currency}} {{amount}}
                        tr
                          td
                            | Subscription Start Date
                          td
                            | {{subscription_start_date}}
                        tr
                          td
                            | Subscription End Date
                          td
                            | {{subscription_end_date}}
                  tr height="25"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]

                      p = "Thank you,"

                  tr height="15"

                  /! end content
                  
                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer")
            /! end footer

      tr height="50"
    /! end