- unsubscribe_url = options[:unsubscribe].nil? ? "" : "default/unsubscribe-" + options[:unsubscribe]

tr
  td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"
    p[align= "#{options[:align].present? ? options[:align] : 'left'}"]
		  | If you have any questions, or need help, then drop us a note at 
		  a href="mailto:{{support_email}}" style="color: {{text_color}}; text-decoration:none;" {{support_email}}
		  | . We'd love to hear from you.
    p
			nav = unsubscribe_url.empty? ? '' : SlimHelper.include_partial(unsubscribe_url)
    p[align= "#{options[:align].present? ? options[:align] : 'left'}"] = "Keep learning!"
    p[align= "#{options[:align].present? ? options[:align] : 'left'}"]
		i = "The team at {{org_display_name}}"