doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "{{org_display_name}}"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #a7aeb3;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="10"]
                  
                  tr height="25"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]
                      p = "Hi {{first_name}},"

                  tr
                    td[align="left", style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:12px; line-height: 18px;"]

                      | Your Skillcoin wallet has been successfully updated with {{skillcoins}} Skillcoins worth {{amount}} {{currency}}. Your updated wallet balance is {{balance}} Skillcoins.
                  tr
                    td
                  tr
                    td align="center" 
                      table.table-full align="center" border="0" cellpadding="0" cellspacing="0" 
                        tr
                          td align="center" 
                            table.table-full align="left" border="0" cellpadding="0" cellspacing="0" 
                              tr
                                td align="center" 
                                  table.table-full align="center" bgcolor="{{button_background_color}}" border="0" cellpadding="0" cellspacing="0" style="border-radius:2px;" 
                                    tr
                                      td.textbutton align="center" height="28" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:12px; padding-left: 15px;padding-right: 15px;" 
                                        a style="color: white; text-decoration: none;" href="{{wallet_link}}" View Wallet


                  /! end content
                  
                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer")
            /! end footer

      tr height="50"
    /! end