doctype transitional
html xmlns="http://www.w3.org/1999/xhtml"
  head
    
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width initial-scale=1 minimum-scale=1 maximum-scale=1"
    title = "Edcast"
    
  body
    /! start
    table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      tr
        td height="50"

      tr
        td align="center"
          table class="table-inner" style="border:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
            tr
              td align="center"
                table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                  /! header
                  nav = SlimHelper.include_partial("default/header")

            /! main content
            tr
              td[align="center"]
                table[align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="0"]
                  
                  tr height="25"

                  tr
                    td[align="center", style="font-family: 'Open sans', Arial, sans-serif; color: #222; font-size:18px; line-height: 18px; padding-bottom: 25px; width: 100%; color:{{text_color}}; text-align: center;"] = "Your performance this week"

                  /! points and position

                  tr style="width: 100%;"
                    td style="width: 100%;"
                      table style="width: 100%;"
                        tr style="width: 100%;"

                          td align="center" style="width: 33%; color: #222; text-align: center; vertical-align:middle;" valign="middle"
                            div style="font-size: 14px; color:{{text_color}};"  Points earned by you
                          
                          td align="center" style="width: 33%; color: #222; text-align: center;" valign="middle" 
                            div style="font-size: 14px; color:{{text_color}};"  Avg points earned by team
                          
                          td align="center" style="width: 33%; color: #222; text-align: center;" valign="middle"
                            div style="font-size: 14px; color:{{text_color}};"  Your position in team

                        tr style="width: 100%;" 
                          td align="center" style="width: 33%; color: #222; text-align: center; font-size: 24px; max-width: 80%; margin: 0; vertical-align:middle; border-collapse: collapse;" valign="middle" 
                            div style="font-size: 24px; background: #eff1f5; max-width: 80%; margin: 10px auto;vertical-align:middle;"  
                              div style="line-height: 20px;"  &nbsp;
                              | {{points_earned}}
                              div style="line-height: 20px;"  &nbsp;
                          td align="center" style="width: 33%; color: #222; text-align: center; font-size: 24px; max-width: 80%; margin: 0; vertical-align:middle; border-collapse: collapse;" valign="middle" 
                            div style="font-size: 24px; background: #eff1f5; max-width: 80%; margin: 10px auto;vertical-align:middle;"
                              div style="line-height: 20px;"  &nbsp;
                              | {{avg_points_earned_by_team}}
                              div style="line-height: 20px;"  &nbsp;
                          td align="center" style="width: 33%; color: #222; text-align: center; font-size: 24px; max-width: 80%; margin: 0; vertical-align:middle; border-collapse: collapse;" valign="middle" 
                            div style="font-size: 24px; background: #eff1f5; max-width: 80%; margin: 10px auto;vertical-align:middle;"
                              div style="line-height: 20px;"  &nbsp;
                              span style="font-size: 12px;" Top
                              | {{team_standing}}
                              span style="font-size: 12px;" %
                              div style="line-height: 20px;" &nbsp;

                  tr
                    td align="center"
                      table.table-inner align="center" border="0" cellpadding="0" cellspacing="0" width="550" 
                        /! content
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 18px;" 
                            p Here’s a summary of what was shared in your  {{org.name}}  team on EdCast this week :
                        tr
                          td height="25" 

                        '{{#if insights}}
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:18px; line-height: 18px; padding-bottom: 10px;" 
                            | This week’s SmartCards:

                        '{{#each insights}}
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 18px;" 
                            table.table-inner align="center" bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" width="100%" 
                              tbody
                                tr
                                  td
                                    /! image
                                    table.table-full align="left" border="0" cellpadding="0" cellspacing="0" width="275" 
                                      tbody
                                        tr
                                          td align="center" style="line-height: 0px;" 
                                            a href="{{org_url}}/insights/{{slug}}" 
                                              img.img1 alt="img" src="http:{{small_image_url}}" style="display:block; line-height:0px; font-size:0px; border:0px;" width="275" /
                                    /! end image
                                    /! Space
                                    table align="left" border="0" cellpadding="0" cellspacing="0" width="1" 
                                      tbody
                                        tr
                                          td height="30" style="font-size: 0;line-height: 0px;border-collapse: collapse;" 
                                            p style="padding-left: 49px;"  &nbsp;
                                    /! End Space
                                    table.table-full align="right" border="0" cellpadding="0" cellspacing="0" width="250" 
                                      tbody
                                        tr
                                          td align="center" 
                                            table.table-inner align="center" border="0" cellpadding="0" cellspacing="0" width="250" 
                                              tbody
                                                /! title
                                                tr align="left" 
                                                  td style="font-family: 'Open Sans', Arial, sans-serif; color:#414a51; font-size:22px; font-weight: bold;max-width: 250px;" 
                                                    a href="{{org_url}}/insights/{{slug}}" style="display: block;word-break: break-word;color: #655d5d;text-decoration: none;line-height: 1;" target="_blank" 
                                                      | {{this.title}}
                                                /! end title
                                                tr align="left" 
                                                  td
                                                    table align="left" border="0" cellpadding="0" cellspacing="0" width="25" 
                                                      tbody
                                                        tr
                                                          td height="15" style="border-bottom:3px solid #c86e6e;" 
                                                tr
                                                  td height="15" 
                                                /! content
                                                tr align="left" 
                                                  td style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 28px;" 
                                                    i
                                                      a href="{{org_url}}/{{author.handle}}" target="_blank" {{author.name}} 
                                                /! end content
                                                tr
                                                  td height="15" 
                                                /! link
                                                tr
                                                  td align="left" style="font-family: 'Open sans', Arial, sans-serif; font-weight: bold;color:#c86e6e; font-size:14px; line-height: 28px;" 
                                                    a href="{{org_url}}/insights/{{slug}}"  + Read more
                                                /! end link
                                                tr
                                                  td height="20"
                        tr
                          td height="50" 
                        '{{/each}}
                        '{{/if}}
                        /! video streams
                        '{{#if video_streams}}
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:18px; line-height: 18px; padding-bottom: 10px;" 
                            | This week’s Live Streams:
                        '{{#each video_streams }}
                        '{{#if image }}
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 18px;" 
                            table.table-inner align="center" bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" width="100%" 
                              tbody
                                tr
                                  td
                                    /! image
                                    table.table-full align="left" border="0" cellpadding="0" cellspacing="0" width="275" 
                                      tbody
                                        tr
                                          td align="center" style="line-height: 0px;" 
                                            a href="{{org_url}}/video_streams/{{slug}}" 
                                              img.img1 alt="img" src="http:{{image}}" style="display:block; line-height:0px; font-size:0px; border:0px;" width="275" /
                                    /! end image
                                    /! Space
                                    table align="left" border="0" cellpadding="0" cellspacing="0" width="1" 
                                      tbody
                                        tr
                                          td height="30" style="font-size: 0;line-height: 0px;border-collapse: collapse;" 
                                            p style="padding-left: 24px;"  &nbsp;
                                    /! End Space
                                    table.table-full align="right" border="0" cellpadding="0" cellspacing="0" width="250" 
                                      /! title
                                      tbody
                                        tr align="left" 
                                          td style="font-family: 'Open Sans', Arial, sans-serif;  font-size:22px; font-weight: bold; padding-top: 20px;max-width: 250px;line-height: 1;" 
                                            a href="{{org_url}}/video_streams/{{slug}}" style="display: block;word-break: break-word;color: #655d5d;text-decoration: none;line-height: 1;" target="_blank" {{this.name}}
                                        /! end title
                                        tr align="left" 
                                          td
                                            table align="left" border="0" cellpadding="0" cellspacing="0" width="25" 
                                              tbody
                                                tr
                                                  td height="15" style="border-bottom:3px solid #c86e6e;" 
                                        tr
                                          td height="15" 
                                        /! content
                                        tr align="left" 
                                          td style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 28px;" 
                                            i
                                              a href="{{org_url}}/{{creator.handle}}" target="_blank" {{creator.name}}
                                        /! end content
                                        tr
                                          td height="15" 
                                        /! link
                                        tr
                                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; font-weight: bold;color:#c86e6e; font-size:14px; line-height: 28px;" 
                                            a href="{{org_url}}/video_streams/{{slug}}"  + View Video
                                        /! end link
                        tr
                          td height="50" 
                        '{{/if}}
                        '{{/each}}
                        '{{/if}}
                        /! pathways
                        '{{#if pathways}}
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:18px; line-height: 18px; padding-bottom: 10px;" 
                            | This week’s Pathways:
                        '{{#each pathways }}
                        tr
                          td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 18px;" 
                            table.table-inner align="center" bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" width="100%" 
                              tbody
                                tr
                                  td
                                    /! image
                                    table.table-full align="left" border="0" cellpadding="0" cellspacing="0" width="275" 
                                      tbody
                                        tr
                                          td align="center" style="line-height: 0px;" 
                                            a href="{{org_url}}/collections/{{slug}}" 
                                              img.img1 alt="img" src="http:{{small_image_url}}" style="display:block; line-height:0px; font-size:0px; border:0px;" width="275" /
                                    /! end image
                                    /! Space
                                    table align="left" border="0" cellpadding="0" cellspacing="0" width="1" 
                                      tbody
                                        tr
                                          td height="30" style="font-size: 0;line-height: 0px;border-collapse: collapse;" 
                                            p style="padding-left: 49px;"  &nbsp;
                                    /! End Space
                                    table.table-full align="right" border="0" cellpadding="0" cellspacing="0" width="250" 
                                      tbody
                                        tr
                                          td align="center" 
                                            table.table-inner align="center" border="0" cellpadding="0" cellspacing="0" width="250" 
                                              tbody
                                                /! title
                                                tr align="left" 
                                                  td style="font-family: 'Open Sans', Arial, sans-serif; color: #655d5d; font-size:22px; font-weight: bold;max-width: 250px;line-height: 1;" 
                                                    a href="{{org_url}}/collections/{{slug}}" style="display: block;word-break: break-word;color: #655d5d;text-decoration: none;line-height: 1;" target="_blank" {{this.title}}
                                                /! end title
                                                tr align="left" 
                                                  td
                                                    table align="left" border="0" cellpadding="0" cellspacing="0" width="25" 
                                                      tbody
                                                        tr
                                                          td height="15" style="border-bottom:3px solid #c86e6e;" 
                                                tr
                                                  td height="15" 
                                                /! content
                                                tr align="left" 
                                                  td style="font-family: 'Open sans', Arial, sans-serif; color:{{text_color}}; font-size:14px; line-height: 28px;" 
                                                    i
                                                      a href="{{org_url}}/{{author.handle}}" target="_blank" {{author.name}} 
                                                /! end content
                                                tr
                                                  td height="15" 
                                                /! link
                                                tr
                                                  td align="left" style="font-family: 'Open sans', Arial, sans-serif; font-weight: bold;color:#c86e6e; font-size:14px; line-height: 28px;" 
                                                    a href="{{org_url}}/collections/{{slug}}"  + Learn more
                                                /! end link
                        tr
                          td height="50" 
                        '{{/each}}
                        '{{/if}}
                        tr
                          td height="25" 
                  
                  tr height="25"

                  /! end content
                  
                  /! signature
                  nav = SlimHelper.include_partial("default/signature")
                  /! end signature

                  tr
                    td height="45"
            /! end main content
          
            /! footer
            nav = SlimHelper.include_partial("default/footer")
            /! end footer

      tr height="50"
    /! end