.row
  = form_tag superadmin_submit_path do
    .small-12.columns
      label class="#{@error && 'error'}"
        | Which team do you want to administer?
        input name="host_name" placeholder="Enter the team's host name"
        - if @error
          .small #{@error}
    .small-12.columns.text-center
      input.button type="submit" value="Go"
