= form_tag superadmin_url(host: @organization.host), {id: 'admin_jwt_token'} do
  = hidden_field_tag 'admin_jwt_token', @admin_jwt_token
javascript:
  document.getElementById('admin_jwt_token').submit();
