= render 'common/default_meta_tags'

- content_for(:banner)
  = render 'common/home_banner'
br
br
.row
  .small-12.medium-8.columns.small-centered
    h5.text-center
      strong One Last Thing!
    p
      | Thanks for signing up. To complete your registration and start EdCasting, check your email inbox and click on the email verification link we just sent you.

      br
      br
      | If it doesn’t reach your inbox in a few moments, it might be in your spam folder. Don’t forget to add our email address to your contacts if it did end up in spam! That’ll make sure it doesn’t happen again.
