@charset "UTF-8";

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $oil;
  z-index: 9999;
}

.fixed-nest {
  position: fixed !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Header
.top-bar-nest {
   min-height: rem-calc(70);
   background: $white;
   display: block;
   padding: rem-calc(0 30 0 20);
   margin: rem-calc(0 -15);
}

.top-bar {
  // margin: rem-calc(0 -15);
  background: $white;

  ul {
    width: auto;

    @media #{$medium-up} {
      li {
        display: inline-block;
        height: rem-calc(70);

        a {
          padding: rem-calc(18 24);
          height: rem-calc(70);
        }
      }
    }
  }
}

.exit-off-canvas {
   box-shadow: none;
}

//.nav > li > a {
//   font-size: 13px; }
//  .nav > li > a:hover, .nav > li > a:focus {
//       background-color: transparent; }
//.nav .open > a {
//   background-color: transparent; }
//  .nav .open > a:hover, .nav .open > a:focus {
//       background-color: transparent; }

/* 
Sidebar Menu
*/

.profile {
  background: $edc-blue;
  width: 100%;
  position: relative;
  top: rem-calc(-13);
  left: 0;
  min-height: rem-calc(70);
  font-size: rem-calc(13);
  margin: 0;
  padding: rem-calc(10) 0 0 0;
  z-index: 99;

  img {
    width: rem-calc(35);
    height: rem-calc(35);
    opacity: 0.9;
    position: relative;
    border-radius: 50%;
  }

  h3 {
    color: $white;
    opacity: 0.9;
    position: relative;
    top: rem-calc(12);
    font-weight: 300;
    font-size: rem-calc(18);
    left: rem-calc(15);
  }

  span {
    position: relative;
    left: rem-calc(12);
    top: rem-calc(30);
    color: $white;
  }

  i {
    color: #fff;
    float: right;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    top: 13px;
    right: 25px;
    font-weight: normal;
  }
}
.inner-wrap {
  background-color: #2f323a;
}
#skin-select {
   position: absolute;
   top: 10px;
   width: 220px;
   left: 0;
   z-index: 1000;
   background: #2f323a; }
  #skin-select #toggle {
       background: #4292c9;
       color: white;
       cursor: pointer;
       display: block;
       height: 30px;
       line-height: 30px;
       position: absolute;
       right: 0;
       text-align: left;
       top: 10px;
       width: 25px;
       font-size: 13px;
       z-index: 999;
       font-style: normal;
       text-decoration: none;
       font-weight: normal; }
    #skin-select #toggle:hover {
           background: #4292c9; }
    #skin-select #toggle.active {
           background: #4292c9;
           color: white;
           cursor: pointer;
           display: block;
           height: 30px;
           line-height: 30px;
           position: absolute;
           margin: 0;
           text-align: center;
           top: 0;
           width: 50px;
           font-size: 13px;
           z-index: 100;
           font-style: normal;
           text-decoration: none;
           font-weight: normal; }
      #skin-select #toggle.active:hover {
               background: #4292c9; }
  #skin-select li span {
       left: 1px;
       position: relative;
       font-weight: 100;
       text-transform: none;
       font-size: 12px; }


.menu-hide span {
   color: red; }

#skin-select li ul li {
   line-height: 20px; }
#skin-select li b {
   position: relative;
   top: 8px;
   font-size: 8px;
   color: rgba(255, 255, 255, 0.1);
   padding: 0 20px 0 0; }
#skin-select li i {
   font-size: 15px;
   left: -5px;
   position: relative;
   width: 30px;
   top: 3px;
   display: inline-block;
   height: 30px;
   text-align: center;
   padding: 8px 0 0;
   border-radius: 100%; }
#skin-select li li i {
   display: inline-block;
   font-size: 18px;
   font-style: normal;
   left: -5px;
   line-height: 15px;
   position: relative;
   width: 23px;
   top: 2px; }

.skin-part {
   padding: 0;
   position: relative;
   top: 0; }
  .skin-part h3 {
       text-shadow: none;
       margin-bottom: 10px; }
    .skin-part h3 span {
           background: rgba(0, 0, 0, 0.2);
           padding: 4px 10px 5px;
           border-radius: 10px;
           margin-left: 0px;
           font-size: 11px;
           color: #f2f2f2; }
    .skin-part h3 small {
           margin-left: 6px;
           color: #fff;
           letter-spacing: 2px;
           border: 2px solid rgba(255, 255, 255, 0.3);
           padding: 2px 6px;
           border-radius: 15px;
           position: relative;
           top: -3px; }
  .skin-part h4 {
       font-size: 1em;
       margin: 7px 0; }

.devider-horizontal {
   width: 100%;
   height: 2px;
   display: inline-block;
   padding: 15px 0 0 0;
   border-bottom: 2px solid rgba(0, 0, 0, 0.1); }

.devider-title h3 {
   font-size: 14px;
   color: #fff;
   padding: 0 0 0 15px; }

#menu-showhide {
   margin: -10px 0 0;
   position: relative;
   z-index: 0; }

#menu-select {
   background: rgba(0, 0, 0, 0.3);
   padding: 0 0 0 40px;
   position: relative; }
  #menu-select:before {
       content: "";
       width: 3px;
       /*   background: $logo-bg-color; */
       position: absolute;
       left: 0;
       top: 0;
       height: 100%; }

.side-dash {
   margin: 10px;
   padding: 0 10px 0 0; }
  .side-dash h3 {
       color: #FFFFFF;
       font-size: 12px;
       margin-bottom: 10px;
       padding: 0; }
    .side-dash h3 span {
           background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
           border-radius: 24px;
           margin-left: 5px;
           padding: 5px 12px;
           text-align: center; }

.side-dashh-list, .side-bar-list {
   margin-bottom: 25px;
   margin-left: -30px;
   width: 195px; }

.side-dashh-list li, .side-bar-list li {
   font-size: 12px;
   line-height: 1.6em; }

.side-dashh-list span {
   float: right;
   padding-right: 15px; }
  .side-dashh-list span i {
       left: 0;
       margin-left: 8px; }

.side-bar-list li {
   font-size: 12px;
   line-height: 4em; }



.topnav {
   padding: 40px 28px 25px 0; }

img.icon-menu {
   margin-left: 10px;
   margin-right: 3px;
   margin-top: 3px; }

ul.topnav {
   margin: 0;
   font-size: 14px;
   line-height: 0.5em;
   list-style: none;
   padding: 0;
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  ul.topnav li a {
       color: #eee;
       font-weight: bold;
       display: block;
       font-size: 12px;
       height: 50px;
       line-height: 32px;
       list-style: none outside none;
       padding: 0 10px 0 40px;
       text-decoration: none;
       text-transform: uppercase;
       transition: all 0.2s ease 0s; }
    ul.topnav li a:hover {
           background: red; }

li.hide-min-toggle {
   background: #545CA6;
   text-align: left;
   font-size: 13px;
   padding: 13px 0 13px 28px;
   font-weight: bold; }

.bottom-list-menu {
   margin: 0;
   border-top: 1px solid #222;
   padding: 20px 0 0 20px; }
  .bottom-list-menu li {
       list-style: none;
       font-size: 12px;
       padding: 10px 0 10px 15px;
       color: #D5DAE6;
       cursor: pointer;
       word-spacing: 4px;
       letter-spacing: 0; }
    .bottom-list-menu li span {
           height: 30px;
           border: 2px solid rgba(255, 255, 255, 0.1);
           float: right;
           width: 30px;
           text-align: center;
           font-size: 14px;
           border-radius: 50%;
           left: -18px;
           line-height: 29px;
           top: -7px;
           color: rgba(255, 255, 255, 0.9); }

.menucon-main {
   color: red; }

.noft-blue {
   background: #0d8add;
   float: right;
   padding: 0 5px;
   font-size: 10px;
   display: block;
   height: 20px;
   line-height: 20px;
   margin: 7px 30px 0;
   border-radius: 4px; }

.side-menu-noft {
   /* height: 20px; */
   line-height: 14px;
   padding: 2px 8px;
   border-radius: 11px;
   margin: 0;
   position: absolute;
   left: 100px;
   top: 4px;
   font-size: 9px;
   /* width: 35px; */
   border: 2px solid rgba(255, 255, 255, 0.1); }

/* 
Show up sidemenu when minimize
*/
/*
menu
*/
/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper ul {
   margin: 0;
   padding: 0;
   list-style: none; }
  #menuwrapper ul li {
       margin: 0;
       padding: 0;
       list-style: none;
       width: 50px;
       cursor: pointer; }
    #menuwrapper ul li:hover, #menuwrapper ul li.iehover {
           position: relative; }
    #menuwrapper ul li a {
           pointer-events: auto; }
    #menuwrapper ul li ul {
           position: absolute;
           display: none;
           left: -1000px; }
    #menuwrapper ul li:hover ul, #menuwrapper ul li.iehover ul {
           left: 49px;
           top: 0px;
           display: block;
           width: 190px;
           padding: 5px 0;
           background: #25272E; }
    #menuwrapper ul li ul li {
           /*background-color:#cae25a;*/ }
    #menuwrapper ul li:hover ul li:hover, #menuwrapper ul li.iehover ul li.iehover {
           /*background-color:#b1b536;*/ }
    #menuwrapper ul li ul li a {
           color: #454444;
           display: inline-block;
           width: 210px;
           pointer-events: auto; }
      #menuwrapper ul li ul li a:hover {
               color: #000; }
    #menuwrapper ul li:hover ul li ul, #menuwrapper ul li.iehover ul li ul {
           position: absolute;
           display: none; }
    #menuwrapper ul li:hover ul li:hover ul, #menuwrapper ul li.iehover ul li.iehover ul {
           display: block;
           left: 150px;
           top: 0; }
    #menuwrapper ul li:hover ul li:hover ul li, #menuwrapper ul li.iehover ul li.iehover ul li {
           background: #86d3fa; }
    #menuwrapper ul li:hover ul li:hover ul li:hover, #menuwrapper ul li.iehover ul li.iehover ul li.iehover {
           background: #358ebc; }
    #menuwrapper ul li:hover ul li:hover ul li a, #menuwrapper ul li.iehover ul li.iehover ul li a {
           color: #ffffff; }



ul.topnav li a:hover, ul.topnav li a.active {
   background: #25272E;
   color: white;
   text-shadow: none;
   position: relative; }
  ul.topnav li a:hover:before, ul.topnav li a.active:before {
       content: "";
       background: #92cd18;
       width: 3px;
       position: absolute;
       left: 0;
       top: 0;
       height: 100%; }
ul.topnav ul {
   margin: 0;
   padding: 0;
   display: none;
   background: #25272E;
   position: relative; }
  ul.topnav ul li {
       margin: 0;
       padding: 0;
       clear: both;
       list-style: none outside none; }
    ul.topnav ul li a {
           color: #fff;
           font-size: 12px;
           font-weight: 100;
           outline: 0 none;
           transition: all 0.2s ease 0s;
           text-align: left;
           text-transform: capitalize;
           padding: 6px 0 7px 50px; }
      ul.topnav ul li a:hover, ul.topnav ul li a.active {
               background-color: transparent;
               color: #92cd18; }
        ul.topnav ul li a:hover:before, ul.topnav ul li a.active:hover:before {
                   content: "";
                   background: transparent;
                   width: 3px;
                   position: absolute;
                   left: 0;
                   top: 0;
                   height: 100%; }
  ul.topnav ul ul li a {
       color: #444;
       padding-left: 40px;
       background: #c8c8c8;
       transition: all 0.2s ease 0s; }
    ul.topnav ul ul li a:hover {
           background-color: #D3CEB8;
           color: #0C7CBB; }
ul.topnav h4 {
   float: right;
   margin-top: -2px; }

#paper-bg {
   background: #f5f5f5;
   min-height: 1040px;
   padding: 0;
   position: relative;
   height: 100%; }
  #paper-bg:before {
       background: red;
       position: absolute;
       display: block;
       height: 100%;
       width: 200px;
       top: 0;
       left: 0; }

.wrap-fluid {
   padding: 0 20px 20px 0;
   width: 100%; }

.wrap-sidebar-content {
   background: #3E4E68; }


.header-icon {
   height: 35px;
   width: 20px;
   float: left;
   margin: 2px 0 0 20px;
   text-align: center;
   padding: 5px 0 0;
   line-height: 25px; }
  .header-icon i {
       font-size: 12px;
       color: #808CA0; }


@media #{$medium-up} {
  #profile-dropdown {
    @include radius;
    @include dropdown-container(
      $max-width: rem-calc(250)
    );

    .profile-drop-link {
      padding-left: rem-calc(20);
      &:hover {
        color: $edc-blue;
        background: $white;
      }
    }
  }

  .inner-wrap.sidebar-expanded {
    #skin-select {
      width: rem-calc(220);

      li {
        text-align: left;

        i {
          top: 0;
          left: rem-calc(-15);
          padding: rem-calc(8 0);
        }

        span {
          display: inline-block;
          float: none;
        }
      }

      #profile-dropdown {
        &:before, &:after {
          left: calc(50% - 17px);
        }
      }
    }

    .wrap-fluid {
      width: auto;
      margin-left: rem-calc(220);
    }

    .skin-part {visibility: visible;}

    #menu-showhide {
      height: auto;
      margin: rem-calc(-13 0 0);
    }

    ul.topnav ul {
      border-radius: 0;
      padding: rem-calc(15 25);
    }

    img.admin-pic.img-circle {margin: rem-calc(20 0 0 20);}

    .profile {
      top: rem-calc(-10);

      ul {
        list-style: none;
        margin: rem-calc(8 0 0 0);

      }

      img {
        width: rem-calc(35);
        height: rem-calc(35);
      }

      h3 {
        display: inline;
        max-width: rem-calc(165);
      }

      h4 {
        display: inline;
      }

      .chevron-up{
        display: inline;
        height: 25px;
        width: 10px;
      }

      .chevron-up:after{
        position: relative;
        content: "";
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
        border-top-style: solid;
        margin: rem-calc(3 3 0 8);
        top: 1rem;
      }

      span, i { display: block; }
    }

    .bottom-list-menu li {display: block;}

    #destiny-footer {margin-left: 220px;}
  }

  .inner-wrap.sidebar-collapsed {
    #skin-select {
      width: rem-calc(50);

      li {
        text-align: right;

        i {
          top: 0;
          left: rem-calc(-30);
          padding: rem-calc(8 0);
        }

        span {display: none;}
      }

      #profile-dropdown {
        width: rem-calc(150);
        margin: rem-calc(12 0 0 50);

        &:before {
          left: rem-calc(-12);
        }

        &:after {
          left: rem-calc(-14);
        }
      }
    }

    .wrap-fluid {
      width: auto;
      margin-left: rem-calc(50);
    }

    .skin-part {visibility: visible;}

    #menu-showhide {
      height: auto;
      margin: rem-calc(-10 0 0);
    }

    ul.topnav ul {
      border-radius: 0;
      padding: rem-calc(5 10);
    }

    img.admin-pic.img-circle {margin: rem-calc(18 0 0 4);}

    .profile {
      top: rem-calc(-10);
      padding: 0;

      ul {list-style: none; margin: 0;}

      img {
        width: rem-calc(25);
        height: rem-calc(25);
        top: rem-calc(40);
        float: none;
      }

      h3, h4 {display: none;}



      span, i { display: none; }
    }

    .bottom-list-menu li {display: none;}

    #menuwrapper ul li ul {display: inline-grid !important;}

    #destiny-footer {margin-left: 50px;}

  }

}

@media #{$small-only} {
  .inner-wrap {
    #skin-select {
      li span {display: block;}
    }
  }


}
