<html style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);"><head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
		</head>

	  <body style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
	  	<div class="email-container container main-mail-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-right: 20px;padding-left: 20px;margin-right: auto;margin-left: auto;background-color: #f7f7f7;padding-top: 20px;max-width: 600px;">
	  		
	  		<div class="mail-content mail-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #ffffff;">
	  		<div class="show text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;margin: auto;padding: 30px;display: block!important;">

                {{#if org_logo}}
	  				<div class="row header-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
		  				<div class="col-md-12 text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;">
		  					<div class="co-branding-logo" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-bottom: 25px;">
			  					<img src="{{org_logo}}" style="width: 130px; height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;"/>
			  				</div>
		  				</div>
			  		</div>
                {{else}}
                	<div class="row header-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
		  				<div class="col-md-12 text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;">
		  					<div class="co-branding-logo" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-bottom: 25px;">
			  					<img src="https://www.edcast.com/assets/edcast_logo.png" style="width: 130px; height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;"/>
			  				</div>
		  				</div>
			  		</div>
                {{/if}}



			  		<div class="email-message row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;color: #c3c3c3;">
			  			<div class="col-md-12 text-center email-message text-justify spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: justify;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;padding-bottom: 20px;">
			  				<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Hi {{#if first_name}} {{first_name}} {{/if}},</p>
			  				<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;"> {{post_user}} has posted a new announcement in {{post_group_name}}.</p>
			  			</div>
			  		</div>

			  		<div class="email-message row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;color: #c3c3c3;">
			  			<div class="col-md-12 text-center email-message text-justify spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: justify;position: relative;min-height: 1px;width: 100%;color: #867f7f;padding-bottom: 20px;background-color: #f2f2f2;">
                            <div style="margin-left: 20px;margin-right: 20px;">
                            <br>
			  			<p style="text-align: center;color: #524747;font-size: 18px;">{{post_title}}</p>
                                <p style="text-align:left;">{{#if post_message}} Dear Students in {{post_group_name}},{{/if}}</p>

{{{post_message}}}
                                <div class="cta text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;margin: auto;margin-top:20px;">
			  				<a href="{{post_url}}" class="email-button" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #e93d5d;color: #ffffff;text-decoration: none;padding: 10px 20px;max-width: 150px;border-radius: 3px;">
			  					Go To Course
			  				</a>
			  				</div>
                            </div>
			  			</div>
			  		</div>
                <br>
                <div class="email-message row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;color: #c3c3c3;">
			  			<div class="col-md-12 text-center email-message text-justify spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: justify;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;padding-bottom: 20px;">
			  				<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Please do not reply directly to this mail, you may respond to the post in the discussion forum.</p>
                            <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Please let us know if you have any questions or feedback. And thanks for using EdCast.</p>
                            <p style="text-align:justify;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Cheers,
                            </p>
                            <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">The team at EdCast
                            </p>
			  			</div>
			  		</div>

</div>
	  			<div class="hide" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: none!important;">

	  			</div>
	  		</div>

	  		<div class="row edcast-branding" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;font-size: 10px;padding-top: 10px;">
		  		<div class="col-md-12 text-right email-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: right;position: relative;min-height: 1px;padding-right: 15px;width: 100%;color: #8a8a8a;">
                    Powered By <img src="http://www.edcast.com/assets/ed_grey.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 22px; height: 16px;">
		  		</div>
	  			
	  		</div>
	  		
	  		<div class="row app-download" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
	  			<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 100%;">
	  				<div class="email-message text-center" style="color: #818181;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;">
	  				<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Download the Edcast App</p>
	  				</div>
	  				<div class="text-center spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;padding-bottom: 20px;">
	  					<a href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&amp;ct=KKWebsiteLink&amp;mt=8"><img src="https://ci3.googleusercontent.com/proxy/A2SI6ul9_JVEvTUxeAYKYDzRyexJhUxLjPvATQJqZtM0HtLF20L-dtqzwSS29Zzq5Il0gk7MHJKtJatAkdJhvxSvGjMFNclhEjHdRoVnWV7VDE_T6YYYO37yFXcr6Lck7ordS8ZDkuZdi09VrFynO6mU3xNIgj4ZBS5woHc=s0-d-e1-ft#https://gallery.mailchimp.com/25738ee243d2447c9aa5f5fe6/images/2f0e4061-2196-4069-8249-e33ea9059c5d.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;margin-right: 12px;width: 120px; height: 39px;"></a>
	  					<a href="https://play.google.com/store/apps/details?id=com.edcast"><img src="https://ci5.googleusercontent.com/proxy/hRTWJ72qLGF8OpBThfnPO5aE6rdYXAhlPqKCnYI07DnOgjDOYbFchBv2Q3qLaywOWzZIn1Pf4kqcCCDINVxYaIwBeNkYiCH85hw6e9yprtYL_FVsW2aRwV7CRbvYcRC3Ep6YYhPHZQ_hN6AjIz2BGSZU9PhDV28BlcbtDn8=s0-d-e1-ft#https://gallery.mailchimp.com/25738ee243d2447c9aa5f5fe6/images/a8fd0bda-48fe-4f19-8d1b-04355ab23747.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 120px; height: 39px; "></a>
	  				</div>
	  			</div>
	  		</div>
	  		
	  		<div class="row social-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
	  			<div class="col-md-12 text-center spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;padding-bottom: 20px;">
			  		<a href="https://www.edcast.com/edcast"><img src="http://www.edcast.com/assets/ed_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 45px; height: 45px; margin-right: 11px;"></a>
			  		
			  		<a href="https://www.facebook.com/EdCast"><img src="http://www.edcast.com/assets/facebook_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 45px; height: 45px;margin-right: 11px;"></a>
			  		
			  		<a href="https://twitter.com/edcast"><img src="http://www.edcast.com/assets/twitter_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;margin-right: 11px;"></a>
			  		
			  		<a href="https://plus.google.com/+EdCastNetwork"><img src="http://www.edcast.com/assets/google_plus_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;margin-right: 11px;"></a>
			  		
			  		<a href="https://www.linkedin.com/company/edcast"><img src="http://www.edcast.com/assets/linkidin_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;"></a>
			  		</div>
			</div>
	  		
	  			  		<div class="row standard-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;font-size: 10px;">
		  		<div class="col-md-12 email-message" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;">
		  			<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
		  				You are receiving this email because you are a member of EdCast. 
		  			</p>
		  			<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Please do not reply directly to this email.If you have any questions, please contact<a href="http://studentsupport.edcast.com/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;"> support</a></p>
                    <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Click<a href="{{unsubscribe_url}}" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;"> here </a>to stop receiving future announcements from {{post_group_name}}.</p>
		  			  <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
		  				<a href="https://www.edcast.com/corp/contact/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Contact us</a>
		  				<a href="https://www.edcast.com/corp/terms-of-service/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Terms of use </a>
		  				<a href="https://www.edcast.com/corp/privacy-policy/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Privacy Policy </a>
		  			</p> 
		  
		  		</div>
			</div>

	  
	</div></body></html>