html
  head
    = csrf_meta_tag
    = stylesheet_link_tag 'application_v4'
    = javascript_include_tag "//code.jquery.com/jquery-1.12.4.min.js"
    javascript:
      var keyupHandler = function(e){
        if (e.keyCode == 13 && !e.shiftKey){
          refreshResults();
        }
      }
      var clearFilters = function(){
        window.location.search = "";
      };
      var refreshResults = function(){
        var job_id_filter = $("input#job-id-filter").val();
        var job_class_filter = $("input#job-class-filter").val();
        var job_queue_filter = $("input#job-queue-filter").val();
        var job_status_filter = $("select#job-status-filter").val();
        var limit = $("input#limit-filter").val();
        var offset = $("input#offset-filter").val();
        window.location.search = "job_id=" + job_id_filter + "&job_class=" + job_class_filter + "&job_queue=" + job_queue_filter + "&status=" + job_status_filter + "&limit=" + limit + "&offset=" + offset
      }
      var reEnqueueHandler = function(job_id){
        return function(e){
          $.ajax({
            method: "POST",
            url: "/developers/background_jobs/" + job_id + "/reenqueue",
            headers: { "Content-Type": "application/json", "Accept": "application/json" },
            data: JSON.stringify({"authenticity_token": $("meta[name=csrf-token]").attr('content')})
            }).success(function(){
              refreshResults();
            }).error(function(){
              alert("Something went wrong. Raise all alarms");
            });
        };
      };

    css:
      td.jobs-table { border: 1px solid }
      th.jobs-table { border: 1px solid }
  body
    div
      table style="width:100%;border:none"
        tr
          th Job ID
          td 
            input#job-id-filter style="width:100%" type="text" value="#{@filters[:job_id]}"
          th Job Class
          td
            input#job-class-filter style="width:100%" type="text" value="#{@filters[:job_class]}"
          th Job Queue
          td
            input#job-queue-filter style="width:100%" type="text" value="#{@filters[:job_queue]}"
          th Job Status
          td
            select#job-status-filter style="width:100%"
              option value="" selected=@filters[:status].blank? All
              option value="enqueued" selected=(@filters[:status] == "enqueued") Enqueued
              option value="started" selected=(@filters[:status] == "started") Started
              option value="finished" selected=(@filters[:status] == "finished") Finished
              option value="error" selected=(@filters[:status] == "error") Error
        tr
          th Limit
          td
            input#limit-filter type="text" value="#{@filters[:limit]}"
          th Offset
          td
            input#offset-filter type="text" value="#{@filters[:offset]}"
          td
            button onclick="refreshResults()" Search/Refresh
          td
            button onclick="clearFilters()" Clear Filters
        tr
          td

    javascript:
      $("input#job-id-filter").keyup(keyupHandler);
      $("input#job-class-filter").keyup(keyupHandler);
      $("input#job-queue-filter").keyup(keyupHandler);
      $("input#limit-filter").keyup(keyupHandler);
      $("input#offset-filter").keyup(keyupHandler);
    div
      table style="border: none; width:100%"
        tr
          th.jobs-table Id
          th.jobs-table Class
          th.jobs-table Queue
          th.jobs-table Status
          th.jobs-table Enqueued At
          th.jobs-table Started At
          th.jobs-table Finished At
          th.jobs-table Time Taken
          th.jobs-table Arguments
          th.jobs-table Action
        - @jobs.each do |job|
          tr
            td.jobs-table
              = job.job_id
            td.jobs-table
              = job.job_class
            td.jobs-table
              = job.job_queue
            td.jobs-table
              = job.status
            td.jobs-table
              = job.enqueued_at
            td.jobs-table
              = job.started_at
            td.jobs-table
              = job.finished_at
            td.jobs-table
              = job.time_taken
            td.jobs-table
              = job.job_arguments
            td.jobs-table
              - if !job.truncated && (job.status == "error" || job.status == "finished")
                button onclick="reEnqueueHandler('#{job.job_id}')()"
                  | ReEnqueue
