= render 'common/default_meta_tags'

br
br
br
br

.row
	.small-12.columns.text-center
		= image_tag asset_path('edcast_logo.png'), height: '30', class: 'edc-logo'

br
br
.row
	.small-12.columns.medium-8.columns.medium-centered
		h4
			strong That's not really allowed!
		p
			| Going off the beaten path, eh?. Try heading back to try again. You could also head straight to our &nbsp;

			= link_to 'homepage', root_path
			|.

		h6
			strong Error(403)

br
br
br
br