= render 'common/default_meta_tags'
.not-found__common-container
    = image_tag asset_path('edcast_logo.png'), height: '68', class: 'edc-logo'
    = image_tag asset_path('404-i-con@3x.png'), height: '141', class: 'edc-i-404'
    h4.not-found__text.not-found__text_big
        | Sorry, We couldn't find the page you're looking for.
    p.not-found__text
        | May be the page was moved, or it no longer exists. Try checking your spelling or heading to try again. You could also head straight to our &nbsp;

        = link_to 'homepage', root_path
        |.
