= render 'common/default_meta_tags'
br
br
br
br

.row
	.small-12.columns.text-center
		= image_tag asset_path('edcast_logo.png'), height: '30', class: 'edc-logo'

br
br
.row
	.small-12.columns.medium-8.columns.medium-centered
		h4
			strong Woah, hold up!
		p
			| You need to have the right authorization to access that. Try logging in with the correct credentials. If you don't have an account, sign up to get started. You could also head straight to our &nbsp;

			= link_to 'homepage', root_path
			|.

		h5
			strong Error(401)


br
br
br
br
