#new-channel-request.reveal-modal.small data-reveal='' aria-labelledby='Request Access' aria-hidden='true' role='dialog'
  .section-header
    .section-title Request Access
    .close-reveal-modal.right aria-label='Close'
      i.fi-x
  .request
    p Channel Creation is currently limited to subject matter experts. If you would like access, please provide topics of the channels you would like to create.
    p
      label.bold for='topics-list' Topic(s)
      textarea id='topics-list' name='topics-list'
      .right
        = link_to 'Cancel', 'javascript:;', class: 'button transparent', id: 'cancel-channel-request'
        = link_to 'Send Request', 'javascript:;', class: 'button success', id: 'submit-channel-request'
  .response-success.hide
    p We have received your request and will get back to you shortly.
  .response-error.hide
    p Some error occurred. Please close and try again.


- content_for :js do
  javascript:
    $(document).ready(function(){
      // Handler to close the modal on "Cancel" button
      $('#new-channel-request #cancel-channel-request').click(function(){
        $('#new-channel-request').foundation('reveal','close');
      });

      $('#new-channel-request #submit-channel-request').click(function(){
        $.ajax({
          method: 'POST',
          url: "#{api_channels_new_request_path}",
          data: {
            "topics": $('#new-channel-request #topics-list').val(),
            "authenticity_token": $('meta[name=csrf-token]').attr('content')
          },
          success: function(){
            $('#new-channel-request .request').hide();
            $('#new-channel-request .response-success').show();
            setTimeout(function(){
              $('#new-channel-request').foundation('reveal','close');
            }, 2000);
          },
          error: function(){
            $('#new-channel-request .request').hide();
            $('#new-channel-request .response-error').show();
            setTimeout(function () {
              $('#new-channel-request').foundation('reveal', 'close');
            }, 2000);
          }
        });
      });

      $(document).on('closed.fndtn.reveal', '#new-channel-request', function () {
        $('#new-channel-request .response-success').hide();
        $('#new-channel-request .response-error').hide();
        $('#new-channel-request .request').show();
        $('#new-channel-request #topics-list').val('');
      });

    });