li
  .channel-card onclick=("window.location.href='#{learn_path(id: channel.slug)}'") data-amplitude-trigger='click' data-amplitude-event='view_channel' data-amplitude-event-props='{"action" : {"type" : "view"}, "where":{"page_class" : "channels_tab"} "object" : {"class" : "channel", "id" : "#{channel.id}"}}' style="background-image: url('#{channel.photo(:medium)}');"
    .channel-card-overlay
    .channel-title.text-center.bold #{channel.label}

    .card-section class = (subsection ? 'text-right' : 'text-center')
      - if subsection
        .left.text-left.count-section.bold
          .count-sub-section
            .small-font
              | Insights
            .large-font
              = insights_count


          /.count-sub-section
          /  .small-font
          /    | Followers
          /  .large-font
          /    = followers_count

      = configure_follow_link(opts: {css_class: 'button radius hollow feed-channel', user: current_user, followable: channel, mode: 'onboarding'}, show_image: false)
