- if channel.slug == 'get' and channel.organization_id == Organization.default_org.id
  - if EdcastSetting.first.get_enabled?
    .list-insight data-equalizer=""
      .image-container.wide data-equalizer-watch=""
        a href="/get"
          .image style=("background-image: url('/assets/GET Banner.jpg');")
      .insight-content.wide data-equalizer-watch=""
        .h5.truncate.title style="width:100%"
          a href="/get" data-amplitude-trigger='click' data-amplitude-event='view_channel' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "channel", "id" : "#{channel.id}"}}' Global Educator Tech-A-Thon
        p.description.small-font style="width:100%" Share your insights and you could win $100,000. Every month the video with the most Likes wins $1,000. At the end of the contest period, 11 monthly winners will compete for a grand prize of $100,000. <strong>How to enter</strong>: <br /> 1) Live stream from the EdCast mobile app (max. 10 min.) <br/> 2) Make sure to choose the GET chanel when you submit your video and you're entered.
- else
  .list-insight data-equalizer=""
    .image-container.wide data-equalizer-watch=""
      a href="#{learn_path(id: channel.slug)}" data-amplitude-trigger='click' data-amplitude-event='view_channel' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "channel", "id" : "#{channel.id}"}}'
        .image style=("background-image: url(#{channel.photo})")
    .insight-content.wide data-equalizer-watch=""
      .h5.truncate.title style="width:100%"
        a href="#{learn_path(id: channel.slug)}" data-amplitude-trigger='click' data-amplitude-event='view_channel' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "channel", "id" : "#{channel.id}"}}' = channel.label
      p.description.small-font style="width:100%" = channel.description
