- text =  'Your EdCast Page URL will also be updated when you change your profile'

= simple_form_for current_user, url: edit_settings_path, method: :put do |f|
  .row
    .small-12.columns.medium-5
      h5 Edit Account Details
    .small-12.columns.medium-7.text-right
      .profile-form-message
        = link_to 'Cancel', settings_path, class: 'right button radius transparent'
        = f.button :submit, 'Save', class: 'button right radius'
  br
  .row
    .small-12.columns.medium-4
      label First Name
    .small-12.columns.medium-8
      = f.input :first_name, label: false
  br
  .row
    .small-12.columns.medium-4
      label Last Name
    .small-12.columns.medium-8
      = f.input :last_name, label: false
  br
  .row
    .small-12.columns.medium-4
      label Bio
    .small-12.columns.medium-8
      = f.input :bio, label: false, :input_html => { :data => {:limiter => 200, :tag => '.bio-character-counter', :submit => ".edit_user input[type='submit']"} }
    .small-12.columns.medium-8
      .row
        .small-12.columns
          .bio-character-counter.character-counter
          span.small-font.faint-post-label
            | / 200 Characters Remaining

  br
  .row
    .small-12.columns.medium-4
      label Email
    .small-12.columns.medium-8
      = f.text_field :email, label: false, disabled: 'disabled'

  br
  .row
    .small-12.columns.medium-4
      label [ for='user_password' ] Password
    .small-12.columns.medium-8
      .display_password
        span style="display:inline-block; vertical-align: sub;"
          | ***********&nbsp;
        = link_to 'set new password', 'javascript:;', class: 'medium-font'
      .password_fields style="margin-bottom: 20px;"
        = f.input :password, input_html: { data: { 'password-shown' => false }, disabled: true, style: 'margin-bottom: 0;' }, label: false
        .toggle-password
  br
  .row
    .small-12.columns.medium-4
      label EdCast Handle
    .small-12.columns.medium-8
      .row.collapse
        .small-7.columns
          span.prefix = "#{@current_org.home_page}/"
        .small-5.columns
          span.handle = f.text_field :handle, :value => current_user.handle_no_at, label: false
    .small-12.columns.medium-8
      p.small-font.indicator= text

  br
  .row
    .small-12.columns.medium-4
      label
        span Profile Image<br/>
        span.help-text Recommended Size:<br/>120px x 120px
    .small-12.columns.medium-8#profile-dropzone
      .small-2.columns.img-wrapper
        img.avatar.avatar-default#profile-avatar src="#{current_user.photo(:tiny)}"
        -if current_user.avatar.present?
          a.text-center data-reveal-id="crop-image-modal" style="width: 43px;display: inline-block;" href="javascript:false" data-reveal-ajax="#{crop_image_index_path(croppable_type: current_user.class.name, croppable_id: current_user.id, crop_column: 'avatar', preview_selector: '#profile-avatar')}" Edit
      .small-10.columns
        .file-upload
          p Upload Photo
          input#user_avatar aria-haspopup="true" aria-label="Update profile image" class="file optional upload-img" type="file"
  br
  .row
    .small-12.columns.medium-4
      label
        span Cover Image<br/>
        span.help-text Recommended Size:<br/>1400px x 300px
    .small-12.columns.medium-8#cover-dropzone
      .small-5.columns.img-wrapper
        img.coverimage-default#cover-image src="#{current_user.cover}"
          - if current_user.coverimage.present?
            a data-reveal-id="crop-image-modal" href="javascript:false" data-reveal-ajax="#{crop_image_index_path(croppable_type: current_user.class.name, croppable_id: current_user.id, crop_column: 'coverimage', preview_selector: '#cover-image', aspect_ratio:14/3)}" Edit
      .small-7.columns
        .file-upload
          p Upload Cover Image
          input#user_coverimage aria-haspopup="true" aria-label="Update cover image" class="file optional upload-img" type="file"

- content_for :js do
  javascript:

    $('.display_password').click(function (e) {
      e.preventDefault();
      $('.display_password').hide();
      $('.password_fields').show('slow').find('#user_password').focus().removeAttr('disabled');
    });

    $('.toggle-password').click(function (e) {
      var password = $('input#user_password');
      if (password.data('password-shown') == true) {
        password.attr('type', 'password');
        password.data('password-shown', false);
        $(this).removeClass('active');
      } else {
        password.attr('type', 'text');
        password.data('password-shown', true);
        $(this).addClass('active');
      }
    });

    var uploadImage = function(opts){
      var image = opts.image;
      var input = opts.input;
      var dropZone = opts.dropzone;
      var formData = opts.formData;
      var url = opts.url;
      var name = opts.name;


      input.fileupload({
        url: url,
        formData: formData,
        paramName: 'file',
        dataType: 'XML',
        dropZone: dropZone,
        add: function (e, data) {
          formData["Content-Type"] = data.files[0].type;
          data.formData = formData;
          data.submit();
        },
        start: function (e) {
          image.attr('src', #{image_path('loader.gif').to_json.html_safe});
        },
        done: function (e, data) {
          // extract key and generate URL from response
          var location = $(data.jqXHR.responseXML).find("Location").text();
          image.attr('src', location);
          // create hidden field
          var newInput = $("<input />", {type: 'hidden', name: name, value: location})
          data.form.append(newInput);
        }
      });

    };

    uploadImage({
      name: 'user[coverimage]',
      input: $('#user_coverimage'),
      image: $('#cover-image'),
      dropzone: $('#cover-dropzone'),
      formData: #{@cover_upload.fields.to_json.html_safe },
      url: '#{@cover_upload.url}'
    });
    uploadImage({
      name: 'user[avatar]',
      input: $('#user_avatar'),
      image: $('#profile-avatar'),
      dropzone: $('#profile-dropzone'),
      formData: #{@avatar_upload.fields.to_json.html_safe },
      url: '#{@avatar_upload.url}'
    });

    var indicator   = $('.settings-box .indicator');
    var user_handle = $('.settings-box #user_handle');
    var old_handle  = $('.settings-box #user_handle').val();

    user_handle.keyup(function() {
      var char_reg, handle;
      char_reg  = /^[a-zA-Z0-9\-_]*$/;
      handle    = user_handle.val();
      user_handle.removeClass('avail_handle erroneous_handle');

      if(handle == old_handle) {
        $(".settings-box input[type='submit']").removeAttr('disabled');
        user_handle.removeClass('erroneous_handle').addClass('avail_handle');
        indicator.removeClass('erroneous_text').addClass('avail_text').text('This handle is available.');
        return false;
      }
      if(handle.isBlank()) {
        user_handle.removeClass('avail_handle');
        $(".settings-box input[type='submit']").attr('disabled', 'disabled');
        indicator.removeClass('avail_text').addClass('erroneous_text').text("Handle can't be blank");
        return false;
      } else if (!char_reg.test(handle)) {
        user_handle.removeClass('avail_handle').addClass('erroneous_handle');
        $(".settings-box input[type='submit']").attr('disabled', 'disabled');
        indicator.removeClass('avail_text').addClass('erroneous_text').text('Handle should not contain any invalid character.');
        return false;
      } else {
        validateHandle();
      }
    });

    function validateHandle() {
      $.ajax({
        url:      '#{handle_path}',
        dataType: 'JSON',
        method:   'PATCH',
        data:     { handle: user_handle.val().trim() },
        error: function(jqXHR, textStatus, errorThrown) {
          $(".settings-box input[type='submit']").attr('disabled', 'disabled');
          user_handle.removeClass('avail_handle').addClass('erroneous_handle');
          indicator.removeClass('avail_text').addClass('erroneous_text').text('This handle is not available. Try another one.');
        },
        success: function(data, textStatus, jqXHR) {
          if ($('[data-invalid]').length == 0) {
            $(".settings-box input[type='submit']").removeAttr('disabled');
          }
          user_handle.removeClass('erroneous_handle').addClass('avail_handle');
          indicator.removeClass('erroneous_text').addClass('avail_text').text('This handle is available.');
        }
      });
    }

#crop-image-modal.reveal-modal data-reveal="" aria-labelledby="Edit Photo" aria-hidden="true" role="dialog"
