.row style="margin-bottom: 1rem"
  .small-12.columns
    .inline-create-insight
      .in-progress.hide.clearfix
        = image_tag('ed_loader_square_gif.gif', class: 'in-progress-gif')
      .title-bar
        .title
          .cta-expand Create a SmartCard
        .card-types
          a.card-icon.article
            img src="#{image_url('link_white.png')}" width=20
          a.card-icon.insight
            img src="#{image_url('text_white.png')}" width=20
          a.card-icon.photo
            img src="#{image_url('photo_white.png')}" width=20
          a.card-icon.video
            img src="#{image_url('video_white.png')}" width=20
          a.card-icon.poll
            img src="#{image_url('poll_white.png')}" width=20
      .collapsed
        div style="height:1rem;"
        /hr
        /.clearfix
        /  .right
        /    a.button.radius.pink.disabled Create
      .expanded.hide
        .row
          .small-12.columns.fields-list
            .row.hide
              .small-12.columns
                = label_tag "article-link", "Article Link"
              .small-12.columns
                = text_field_tag 'article-link', nil
            .row.hide
              .small-6.columns
                = label_tag "file", "Upload Image"
                br
                input#file type='file' name='files[]' data-url="#{file_resources_v1_path(:format => 'json')}" multiple="" accept="image/*"
                input#file_ids type='hidden' name='file_ids[]' value=""
              .small-6.columns
                .preview.hide
                  #image-preview.hide style="max-height: 100px; display: initial;"
            .row.hide
              .small-12.columns
                = label_tag "video-link", "Video Link"
              .small-12.columns
                = text_field_tag 'video-link', nil
            .row.hide
              .small-12.columns
                = label_tag "title", "Title"
              .small-12.columns
                = text_field_tag 'title', ''
            .row.hide
              .small-12.columns
                = label_tag "message", "Message"
              .small-12.columns
                = text_field_tag 'message', '', class: 'message-box card-message'
            br
            .row.hide
              = render partial: 'api/cards/poll_card_extra_info', locals: {image_url: nil, url: nil, file_resource_id: nil}
            .row.hide
              .small-12.columns
                = label_tag "poll-question", "Question"
              .small-12.columns
                = text_field_tag 'poll-question', nil
            .row.poll-option.hide
              .option-actions.left
                span.remove-option = image_tag('close_grey.png', width: 10, height: 10)
                span.dummy-indicator &nbsp;&nbsp;&nbsp;&nbsp;&#9678;
              .option-field.left
                = text_field_tag 'options[][label]', nil, placeholder: 'Option'
            .row.poll-option.hide
              .option-actions.left
                span.remove-option = image_tag('close_grey.png', width: 10, height: 10)
                span.dummy-indicator &nbsp;&nbsp;&nbsp;&nbsp;&#9678;
              .option-field.left
                = text_field_tag 'options[][label]', nil, placeholder: 'Option'
            .row.new-option
              .small-12.columns
                a#add-option.button.radius.transparent.hide Add Option
        .row.hide
          .small-12.columns.text-left
            = render partial: 'api/cards/private_channel', locals: {select_tag_id: '_channel_id_selector'}
          .small-12.columns.text-right
            br
            #actions
              = submit_tag('Create', class: 'button radius pink', id: 'post-insight')
              = link_to 'Cancel', 'javascript:', class: 'button radius transparent medium-font', id: 'cancel'

= render 'api/cards/poll_card_modals'

- content_for :js
  javascript:
    var user = #{current_user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: current_user, anonymous: nil, include_email: false, include_score_entry: false})).to_json.html_safe};
    user.encryptedId = "#{ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(current_user.id)}";
    $(document).ready(function(){

      // Helper Functions

      // Detect Active Card Type
      // Passively determines which card type icon is currently selected by the user.
      function detectActiveCardType(){
        var card_type_icon = $('.inline-create-insight .card-icon.active');
         $('.inline-create-insight p').remove();
        if(card_type_icon.hasClass('article')){
          return 'article';
        }
        else if(card_type_icon.hasClass('insight')){
          return 'insight';
        }
        else if (card_type_icon.hasClass('photo')) {
          return 'photo';
        }
        else if (card_type_icon.hasClass('video')) {
          return 'video';
        }
        else if (card_type_icon.hasClass('poll')) {
          return 'poll';
        }
      }

      // Set Component State
      // Component has three states - collapsed, expanded and in-progress.
      // Collapsed - when the page loads and when cancel button is clicked.
      // Expanded - when the user clicks anywhere on the component.
      // In-progress - when the ajax requests are happening in the background.
      function setComponentState(state){
        if(state == 'collapsed'){
          $('.inline-create-insight .title').html('<div class="cta-expand">Create a SmartCard</div>');
          $('.inline-create-insight .in-progress').hide();
          $('.inline-create-insight .expanded').hide();
          $('.inline-create-insight .title-bar').fadeIn();
          $('.inline-create-insight .collapsed').fadeIn();
          $('.inline-create-insight .card-icon').removeClass('active');
        }
        else if(state == 'expanded'){
          $('.inline-create-insight .in-progress').hide();
          $('.inline-create-insight .collapsed').hide();
          $('.inline-create-insight .title-bar').fadeIn();
          $('.inline-create-insight .expanded').fadeIn();
          // set default form state to link card
        }
        else if(state == 'in-progress'){
          $('.inline-create-insight .in-progress img').fadeIn();
          $('.inline-create-insight .in-progress').fadeIn();
          $('.inline-create-insight .collapsed').hide();
          $('.inline-create-insight .title-bar').hide();
          $('.inline-create-insight .expanded').hide();
        }
      }

      // Set Form State
      // All card types require different combination of fields.
      // This function shows/hides the fields required for each card type.
      function setFormState(state){

        // List the ids of form fields required for each card type icon
        var article_form_fields = ['article-link', 'message', 'actions'];
        var insight_form_fields = ['title', 'message', 'actions'];
        var photo_form_fields = ['file', 'title', 'message', 'actions'];
        var video_form_fields = ['video-link', 'message', 'actions'];
        var poll_form_fields = ['poll-question', 'add-option', 'extra_info']; //option fields are enabled independently

        if(state == 'article'){
          $('.inline-create-insight .expanded .preview').hide();
          showFormFields(article_form_fields);
          /* $('.inline-create-insight label[for="title"]').text("Title"); */
          $('.inline-create-insight label[for="message"]').text("Message");
          $('.inline-create-insight .title').text('Creating an article insight');
          $('.inline-create-insight #article-link').focus();
        }
        else if(state == 'insight'){
          $('.inline-create-insight .expanded .preview').hide();
          showFormFields(insight_form_fields);
          $('.inline-create-insight label[for="title"]').text("Question");
          $('.inline-create-insight label[for="message"]').text("Description");
          $('.inline-create-insight .title').text('Creating a question card');
          $('.inline-create-insight #title').focus();
        }
        else if(state == 'photo'){
          $('.inline-create-insight .expanded .preview').show();
          $('.inline-create-insight .preview #add-option').hide();
          $('.inline-create-insight .preview #image-preview').hide();
          $('.inline-create-insight label[for="title"]').text("Title");
          $('.inline-create-insight label[for="message"]').text("Message");
          showFormFields(photo_form_fields);
          $('.inline-create-insight .title').text('Creating a photo insight');
          $('.inline-create-insight #title').focus();
        }
        else if(state == 'video'){
          $('.inline-create-insight .expanded .preview').hide();
          /* $('.inline-create-insight label[for="title"]').text("Title"); */
          $('.inline-create-insight label[for="message"]').text("Message");
          showFormFields(video_form_fields);
          $('.inline-create-insight .title').text('Creating a video insight');
          $('.inline-create-insight #video-link').focus();
        }
        else if(state == 'poll'){
          $('.inline-create-insight .expanded .preview').hide();
          $('.inline-create-insight #add-option').show();
          showFormFields(poll_form_fields);
          $('.inline-create-insight .title').text('Creating a poll insight');
          $('.inline-create-insight .poll-option').show();
          var show_buttons = !$('#poll_image_ids').val() && !$('#extra_info_url').val()
          if(show_buttons) {
            $('.img_ctrl').show();
            $('.url_div, .preview_div').hide();
          }
          $('.inline-create-insight #poll-question').focus();
        }
      }

      // Show the form fields from the given array, hide the rest.
      function showFormFields(fields_list){
        // Hide all fields incase they are not hidden
        $('.inline-create-insight .expanded .fields-list .row').hide();
        $('.inline-create-insight .expanded .fields-list input').val('');

        // Show the ones in the list
        $.each(fields_list, function (index, value) {
          $('#' + value).closest('.row').show();
        });
      }

      // Function to prepare data depending on the selected card icon type

      function prepareCardData(){
        card_data = {};
        card_type = detectActiveCardType();
        validate = {};
        if (card_type == 'article') {
          card_data.link = $('#article-link').val();
          /* card_data.title = $('#title').val(); */
          card_data.message = $('#message').val();
          if(card_data.link.trim()=='')
            validate.article_link = $('#article-link').val();
          /* if(card_data.title.trim()=='')
            validate.title = $('#title').val();
          if(card_data.message.trim()=='')
            validate.message = $('#message').val(); */
        }
        else if (card_type == 'insight') {
          card_data.title = $('#title').val();
          card_data.message = $('#message').val();

          if(card_data.title.trim()=='')
            validate.title = $('#title').val();
          if(card_data.message.trim()=='')
            validate.message = $('#message').val();
        }
        else if (card_type == 'photo') {
          card_data.file_ids = [$('#file_ids').val()];
          card_data.title = $('#title').val();
          card_data.message = $('#message').val();
          if(card_data.file_ids =='')
            validate.file_ids= [$('#file_ids').val()];
          if(card_data.title.trim()=='')
            validate.title = $('#title').val();
          if(card_data.message.trim()=='')
            validate.message = $('#message').val();
        }
        else if (card_type == 'video') {
          card_data.link = $('#video-link').val();
          /* card_data.title = $('#title').val(); */
          card_data.message = $('#message').val();

          if(card_data.link.trim()=='')
            validate.video_link = $('#video-link').val();
          /* if(card_data.title.trim()=='')
            validate.title = $('#title').val();
          if(card_data.message.trim()=='')
            validate.message = $('#message').val(); */

        }
        else if (card_type == 'poll') {
          card_data.title = $('#poll-question').val();
          card_data.url = $('#extra_info_url').val();
          card_data.file_ids = [$('#poll_image_ids').val()];
          card_data.options = new Array();
          $('.poll-option input').each(function(index, opt){
            card_data.options.push({label: $(opt).val()});
            if($(opt).val() == '')
              validate.options = card_data.options;
          });
          if(card_data.title.trim()=='')
            validate.title = $('#poll-question').val();

        }

        card_data.utf8 = true;
        card_data.networks = $("input[name='networks[]']:checked").map(function() {
          return this.value;
        }).get();
        var channel_ids = $("#_channel_id_selector").val();
        if (channel_ids && channel_ids.length > 0){
            card_data.channel_ids = channel_ids;
        }

        if(Object.keys(validate).length>0){
          card_data.validate = validate;
        }
        return card_data;
      }

      function getFormUrl(){
        card_type = detectActiveCardType();

        if(card_type == 'poll'){
          return '#{api_poll_cards_path}.json'
        }
        else {
          return '#{insights_index_link}.json'
        }
      }

      function errorMsg(error){
        card_type= detectActiveCardType();
        error_msg = [];
        keys = Object.keys(error);
        if( card_type == 'article'){
          if(keys.indexOf('article_link')>=0)
            error_msg.push('Article Link');
          /* if(keys.indexOf('title')>=0)
            error_msg.push('Title');
          if(keys.indexOf('message')>=0)
            error_msg.push('Message'); */
        }
        else if (card_type == 'insight') {
          if(keys.indexOf('title')>=0)
            error_msg.push('Question');
          if(keys.indexOf('message')>=0)
            error_msg.push('Description');
        }
        else if (card_type == 'photo') {
          if(keys.indexOf('file_ids')>=0)
            error_msg.push('File');
          if(keys.indexOf('title')>=0)
            error_msg.push('Title');
          if(keys.indexOf('message')>=0)
            error_msg.push('Description');
        }
        else if (card_type == 'video') {
          if(keys.indexOf('video_link')>=0)
            error_msg.push('Video Link');
          /* if(keys.indexOf('title')>=0)
            error_msg.push('Title');
          if(keys.indexOf('message')>=0)
            error_msg.push('Message'); */
        }
        else if (card_type == 'poll') {
            if(keys.indexOf('title')>=0)
              error_msg.push('Question');
            if(keys.indexOf('options')>=0){
              Opt = error.options;
              var flag;
              Opt.forEach( function(opt){
                opt.label=='' ? flag=false: flag=true ;

              });
             if(flag==false)
              error_msg.push('Options');
            }
        }

        return error_msg.join(", ");
      }

      // Keeping state with the currently selected card type
      // Needed during page initialization
      var card_type = detectActiveCardType();

      // Real Deal ...
      // On Click of a Card Type Icon
      $('.inline-create-insight .card-icon').click(function(){

        // Highlight the selected card type icon and disable the rest
        $('.inline-create-insight .card-icon').removeClass('active');
        $(this).addClass('active');

        card_type = detectActiveCardType();

        // Show the component in expanded mode
        setComponentState('expanded');

        // Show the form fields depending on the card type icon selected
        setFormState(card_type);
      });

      var setTimer;

      // On form submission
      $('.inline-create-insight #post-insight').click(function(){
        var data = prepareCardData();
        if (typeof data.validate != 'undefined')
        {
          $('.inline-create-insight .in-progress').hide();
          setComponentState('expanded');

          msg = errorMsg(data.validate);
          $(".flash-alert").html('<div class="alert-box radius flash error" data-alert="">' + msg +' cannot be blank.<a class="close" id="flash-close">&times;</a></div>');
          $(document).foundation();
          setTimeout(function() {
            $("#flash-close").click();
          }, 5000);

        return false;
        }
        else
        {

        $.ajax({
          dataType: 'JSON',
          method: 'POST',
          contentType: 'application/json',
          url: getFormUrl(),
          data: JSON.stringify(data),
          beforeSend: function(){
            setComponentState('in-progress');
          },
          success: function(data){
            var url = '/insights/' + data.slug;
            $('.inline-create-insight .in-progress img').hide();
            $('.inline-create-insight .in-progress').append('<div class="clearfix"><div class="right close-icon">&#215;</div></div>');
            $('.inline-create-insight .in-progress').append('<p class="text-center" style="margin: 0 0 3rem 0;">Your <a href="'+ url +'">Insight</a> was successfully posted.</p>');
            setTimer = setTimeout(function(){
              setComponentState('collapsed');
              $('.inline-create-insight .in-progress p').remove();
              $('.inline-create-insight .in-progress div').remove();
            }, 5000);

          },
          error: function(data){
            $('.inline-create-insight .in-progress img').hide();
            $('.inline-create-insight .in-progress').append('<p class="text-center" style="margin-top: 2rem;">Error: '+ data.responseJSON.error +'</p>');
            setTimer = setTimeout(function(){
              setComponentState('collapsed');
              $('.inline-create-insight .in-progress p').remove();
              $('.inline-create-insight .in-progress div').remove();
            }, 5000);

          }
        });
        }
      });

      // On uploading an image for the photo card
      $('#file').fileupload({
        dataType: 'json',
        paramName: 'file',
        start: function (e) {
          $('.inline-create-insight .expanded #image-preview').hide();
        },
        done: function (e, data) {
          var id = data.jqXHR.responseJSON.id;

          var uploadPoller = function(id){
            $.ajax({
               method: "GET",
               url: "#{file_resources_path}/" + id + ".json",
               success: function (response) {
                  if (response.available){
                     $('.inline-create-insight .expanded #image-preview').empty().append('<p class="small-font" style="margin-top: 1rem;">Current File: ' + response.fileName + '</p><img src="' + response.fileUrl + '" style="max-height:150px;"/>');
                     $('.inline-create-insight .expanded #image-preview').show();
                     $('.inline-create-insight .expanded #file_ids').val(response.id);
                     $('.inline-create-insight .expanded label[for="file"]').text('Change Image');
                  }else{
                    window.setTimeout(function(){ uploadPoller(id) }, 500);
                  }
               },
               error: function (response) {
                 $('.inline-create-insight .expanded #image-preview').empty().append('<p class="small-font">Could not load file. Please try again.</p>');
               }
             });
          };
          uploadPoller(id);
        },
        fail: function (e, data) {
          var error = data.jqXHR.responseJSON.error;
          $('.inline-create-insight .expanded #image-preview').empty().append('<p class="small-font">Could not upload file. Please try again.</p>');
          $('.inline-create-insight .expanded #image-preview').show();
        }
      });

      // On clicking 'cancel' in expanded state
      $('.inline-create-insight .expanded #cancel').click(function(){
        setComponentState('collapsed');
      });

      // Changing from collapsed state to expanded state
      $('.inline-create-insight .collapsed, .inline-create-insight .title').on('click', '.cta-expand',function(){
        setComponentState('expanded');
        setFormState('article');

        // Highlight the article card type icon and disable the rest
        $('.inline-create-insight .card-icon').removeClass('active');
        $('.inline-create-insight .card-icon.article').addClass('active');
      });

      // Poll Card Options
      var min_options = 2;
      var max_options = 8;
      var available_options = $('.inline-create-insight .expanded').find('.option-field').length;

      function get_new_option() {
        var new_option = $('.inline-create-insight .option-field').closest('.poll-option').first().clone();
        var new_option_field = new_option.find('input[type="text"]');
        new_option_field.val('');
        return new_option;
      }

      $(".inline-create-insight #add-option").click(function () {
        if (available_options < max_options) {
          $('.inline-create-insight .new-option').before(get_new_option());
          available_options += 1;
        }
        else {
          $('#poll-max-options-modal').foundation('reveal', 'open');
        }
      });

      $(".inline-create-insight .expanded").on("click", ".remove-option", function () {
        if (available_options > min_options) {
          $(this).closest('.row').remove();
          available_options -= 1;
        }
        else {
          $('#poll-min-options-modal').foundation('reveal', 'open');
        }
      });

      // Better indication of active form field
      $('.inline-create-insight input').focusin(function(){
        var fieldname = $(this).attr('id');
        $('label[for="'+fieldname+'"').css('font-weight','400');
      });

      $('.inline-create-insight input').focusout(function () {
        var fieldname = $(this).attr('id');
        $('label[for="' + fieldname + '"').css('font-weight', 'inherit');
      });

      // Apart from the timeout of 5 secs, also allow the user to manually close the dialog
      $('.inline-create-insight .in-progress').delegate('.close-icon', 'click', function(){
        setComponentState('collapsed');
        clearTimeout(setTimer);
        $('.inline-create-insight .in-progress p').remove();
        $('.inline-create-insight .in-progress div').remove();
      });

    });
