#channels.content.tab-section
  .my-channels-wrapper
    .row
      .small-12.columns
        .right
          - if @can_create_channel
            = link_to 'Create Channel', new_channel_path, class: 'button success radius', data: {amplitude_trigger: 'click', amplitude_event: 'channel_create_click', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"sub_class": "channels"}}'}
          - else
            = link_to 'Create Channel', 'javascript:;', class: 'button success radius', data: {amplitude_trigger: 'click', amplitude_event: 'channel_create_click', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"sub_class": "channels"}}', 'reveal-id': 'new-channel-request'}
            = render partial: 'user_pages/channel_request_modal'

      - if collaborating_channels.empty? && followed_channels.empty?
        .row
          .small-12.medium-8.large-8.columns.small-centered.text-center
            = image_tag asset_path('empty-state-cards.jpg'), width: '400'
            br
            br
            h4
              strong Channels bring you the best content from the EdCast network

            p Follow some channels and you will start seeing them here.

            br
            br

      - unless collaborating_channels.empty?
        - unless followed_channels.empty?
          .row
            .small-12.columns
              .section-header
                .section-title Collaborating
        - else
          br

        .row.list-insights
          .small-12.columns
            - collaborating_channels.each do |channel|
              = render partial: 'user_pages/channel_list_item', locals: {channel: channel}


      - unless followed_channels.empty?
        - unless collaborating_channels.empty?
          .section-header
            .section-title Following
        - else
          br

        .row.list-insights
          .small-12.columns
            - followed_channels.each do |channel|
              = render partial: 'user_pages/channel_list_item', locals: {channel: channel}
