- notifications.each do |notification|
  .row.notification-item-wrapper
    .small-12.columns
      div.notification-item class=("unseen" unless notification.seen?) data-id="#{notification.id}"
        - image = notification_image(notification)
        img.user-image.avatar.left.notification_user src="#{image[0]}" data-path="#{image[1]} "width="45px" height="45px"
        p.message
          = notification_message(notification)
        
        -if notification.causal_users.size > 1
          div.all_users
            - notification.causal_users[1..-1].each do |user|
              img.avatar.left.notification_user src="#{user.photo}" alt="#{user.name}" data-path="#{handle_no_at(user.handle)}"
        - else
          - if action_link(notification)
            = action_link(notification)
