#overview.content

  / Commented out for now. This should probably go as a tab under User's Settings
  /- if current_user.is_admin?
  /  .row
  /    .small-12.columns
  /      .section-header
  /        .section-title External Courses
  /      iframe src=external_courses_url(current_user.id) class="external-courses-iframe"
