- if user_signed_in?
  .page-hopper-menu
    - if defined?(show_user_details) && show_user_details
      = react_component('PageHopperProfile', {name: current_user.name, handle: current_user.handle, imageUrl: current_user.photo})
    div
      - if current_user.writable_channels.present?
        = react_component('PageHopperChannels', moreChannels: "#{profile_page_url(current_user)}/channels")