br
.row
	.small-12.columns
		dl.tabs.slim-tabs
		  dd.tab-title class=("#{params[:action]}" == 'settings' ? 'active' : '')
		    = link_to 'Profile', settings_path, class: 'text-center bold'
		  // dd.tab-title class=("#{params[:action]}" == 'notifications' ? 'active' : '')
		  // 	= link_to 'Notifications', notifications_path, class: 'text-center bold' 
  
br