.row
  .small-12.columns.medium-7
    h5 Account Details
  .small-12.columns.medium-5.text-right
    = link_to 'Edit', settings_path(t: 'edit'), class: 'button radius transparent'
br
.row
  .small-12.columns.medium-4
    p.bold First Name
  .small-12.columns.medium-8
    p = current_user.first_name
br
.row
  .small-12.columns.medium-4
    p.bold Last Name
  .small-12.columns.medium-8
    p = current_user.last_name
br
.row
  .small-12.columns.medium-4
    p.bold Bio
  .small-12.columns.medium-8
    p = current_user.bio
br
.row
  .small-12.columns.medium-4
    p.bold Email
  .small-12.columns.medium-8
    p = current_user.email
br
.row
  .small-12.columns.medium-4
    p.bold Password
  .small-12.columns.medium-8
    p
      | **********
br
.row
  .small-12.columns.medium-4
    p.bold EdCast Handle
  .small-12.columns.medium-8
    p.breakword = current_user.handle

br
.row
  .small-12.columns.medium-4
    p.bold EdCast Page
  .small-12.columns.medium-8
    p
      a.breakword target="_blank" href="#{profile_page_url(current_user)}"
        = profile_page_url(current_user)

br
.row
  .small-12.columns.medium-4
    p
      span.bold Profile Image <br/>
      span.small-font Recommended Size:<br/>120px x 120px
  .small-12.columns.medium-8
    .small-3.img-wrapper
      img.avatar.avatar-default#profile-avatar src="#{current_user.photo(:tiny)}"
br
.row
  .small-12.columns.medium-4
    p
      span.bold Cover Image <br/>
      span.small-font Recommended Size:<br/>1440px x 300px
  .small-12.columns.medium-8
    .img-wrapper
      img.coverimage-default#cover-image src="#{current_user.coverimage.url(:profile)}"
