.edcast-sub-nav
  .row
    .small-12.columns
    ul.small-block-grid-1.medium-block-grid-4.large-block-grid-4.text-center
      li.nav-item [ class = active_link_class(:feed) ]
        = link_to 'Your Feed', root_path, class: 'link'
      li.nav-item [ class = active_link_class(:my_content) ]
        = link_to 'Your Content', my_content_path, class: 'link'
      /li.nav-item [ class = active_link_class(:packs) ]
      /  = link_to 'Card Packs', manage_packs_path, class: 'link'
      / Uncomment dropdown when links and functionality is ready
      /li.nav-item
      /  a.dropdown.link aria-controls="content-dropdown" aria-expanded="false" data-dropdown="content-dropdown" href="#"  Your Content
      /br
      /ul#content-dropdown.f-dropdown.content-dropdown aria-hidden="true" data-dropdown-content=""
      /  li
      /    a href="#"  Your Cards
      /  li
      /  	 .divider
      /  li
      /    a href="#"  Bookmarks
      /li.nav-item
      /  a.link href="#" About
      li.nav-item [ class = active_link_class(:channels) ]
        = link_to 'Channels', user_channels_page_path, class: 'link'
      li.nav-item [ class = active_link_class("#{params[:action]}" == 'settings' ? :settings : :notifications) ]
        = link_to 'Settings', settings_path, class: 'link' 
