#teams.content
  .row
    .small-12.columns
      .clearfix
        .right
          a.button href="#{new_team_path}" Create Group

  .row.list-insights
    .small-12.columns
      - if teams.blank?
        .section-header
          .section-title Create Your Group
        p.small-font You'll see a list of the groups you've joined or created here. Create your own group to start collaborating with your peers.
      - else
        - %w[admin member].each do |role|
          - unless teams[role].blank?
            - teams[role].each do |team|
              .list-insight data-equalizer=""
                .image-container.wide data-equalizer-watch=""
                  .image style=("background-image: url(#{team.photo});")
                .insight-content.wide data-equalizer-watch=""
                  .h5.truncate.title
                    a href="#{team_path(team.id)}" = team.name
                  p.description.small-font = team.description
                  .details.small-font
                    .label.radius.secondary = team_role(role).titleize