= render 'common/default_meta_tags', title: 'Dashboard'

/= render 'common/subnav',
/         tabs: ['my_channels', {path: 'explore', label: 'Explore Channels'}],
/         title: 'Channels'

.tabs-content
  // remove .active when using subnav
  #explore.content.active
    .row
      .small-12-columns
        .right
          - if @can_create_channel
          - else
            = link_to 'Create Channel', 'javascript:;', class: 'button success radius', data: {amplitude_trigger: 'click', amplitude_event: 'channel_create_click', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"sub_class": "channels"}}', :'reveal-id' => 'new-channel-request'}
            = render partial: 'user_pages/channel_request_modal'
    .section-header
      .section-title Channels
      .section-description Browse content by topics that interest you most.
    br
    ul.small-block-grid-2
      - @view_all_channels.each do |channel|
        = render partial: 'channel_card', locals: {channel: channel, subsection: true, insights_count: @insights_count[channel.id] || 0}