= render 'common/default_meta_tags', title: 'Notifications'

/.parent-container
/  .left-child-container
/    .left-child-inner-container
.row
  .small-12.medium-12.columns
    .section-header style="margin-top: 0;"
      .section-title
        | Your Notifications


    .notification-list.panel
      - if @notifications.blank?
        | There are no new notifications to show. Check back later.
      - else
        = render partial: 'notifications_list', locals: {notifications: @notifications}
br
- if @has_more
  .row
    .small-12.columns.text-center style='padding-bottom:2rem'
      = link_to 'Load More', url_for(params.merge(offset: @limit)), class: 'button radius', id: 'load-more'
  = render partial: 'common/infinite_scroll', locals: {container: '.notification-list'}

- content_for :js do
  javascript:
    $(".notification-item img, .notification-item a").click(function(){
      notification = $(this).closest(".notification-item");
      if($(notification).hasClass("unseen")) {
        id = $(notification).data("id");
        $.ajax({
          method: "POST",
          url: '/notifications/' + id + '/read.json',
        });
        $(notification).removeClass("unseen");
        }
    });


    $('.notification_user').each(function(indx){
        var dataPath = $(this).attr('data-path');
        if ($.trim(dataPath).length > 0){
            $(this).click(function () {
                window.location.href = $(this).attr('data-path');
                return false;
            });
        } else {
            $(this).css({cursor: 'default'});
        }
    });
