= render partial: 'notifications_list', locals: {notifications: @notifications}, formats: [:html]
javascript:
  $(".notification-item img, .notification-item a").click(function(){
    notification = $(this).closest(".notification-item");
    if($(notification).hasClass("unseen")) {
      id = $(notification).data("id");
      $.ajax({
        method: "POST",
        url: '/notifications/' + id + '/read.json',
      });
      $(notification).removeClass("unseen");
      }
  });


  $('.notification_user').each(function(indx){
      var dataPath = $(this).attr('data-path');
      if ($.trim(dataPath).length > 0){
          $(this).click(function () {
              window.location.href = $(this).attr('data-path');
              return false;
          });
      } else {
          $(this).css({cursor: 'default'});
      }
  });
