= render 'common/default_meta_tags', title: 'Pathways'
= content_for(:hopper) do
  = render partial: 'user_pages/page_hopper', locals: {show_user_details: true}
- if @cards.blank?
  .row
    .small-12.medium-8.large-8.columns.small-centered.text-center
      br
      br
      p You don't have any Pathways! Gather a few resources that help you learn a topic and create one.
      br
      a.button.hollow href="collections/new" MAKE PATHWAY
- else
  = render partial: 'common/insights/insight', locals: {contents: @cards, type: 'Card', show_rationale: false}
  = render partial: 'common/infinite_scroll_pagination'
  = render partial: 'common/infinite_scroll', locals: {container: '#card-list-selector-id'}
= render 'common/card_like_action'
- content_for :js do
  javascript:
    MetricRecorder.log('impression', {id: #{@user.id}, type: 'user'});
