- content_for :head
  = stylesheet_link_tag 'prism'

= render 'common/default_meta_tags', title: 'Dashboard'

= render 'common/subnav',
        tabs: ['account_details', {path: 'notifications', label: 'Notification Settings'}, 'integrations']

.tabs-content
  #account_details.content.section-wrapper
    .row
      .small-12.columns
        .settings-box
          = render @template_to_render

  #notifications.content.section-wrapper
    - @notification_prefs.each do |pref_hash|
      .row
        .small-12.columns
          .notification-type.clearfix
            .row
              .small-10.columns
                span.bold = pref_hash[:title]
                br
                span.small-font = pref_hash[:desc]
              .small-2.columns
                .switch.round
                  - value = current_user.send(pref_hash[:pref])
                  - attribs = {id: pref_hash[:pref], name: pref_hash[:pref], value: value, type: 'checkbox'}
                  - attribs.merge!(checked: 'checked') if value
                  input.notification-pref *attribs
                  label for="#{pref_hash[:pref]}"
                    span.switch-on Yes
                    span.switch-off No
  #integrations.content.section-wrapper
    .row
      .small-12.columns
        p Contribute to your overall learning progress. Connect through available integrations to monitor all your progress in one place.
    = react_component('IntegrationsList', {userId: current_user.id})


- content_for :right_rail do
  .row
    .small-12.columns
        .right-rail-widgets
          .section-header Your Profile Button
          p As an EdCaster, you have a unique page with all the content you've shared on EdCast. Use this plugin to share your EdCast page on your websites and social networks.

          .section-header Your EdCast Page URL
          p
            a.medium-font.breakword target="_blank" href="#{profile_page_url(current_user)}"
              = profile_page_url(current_user)

          .section-header Learn Button
          p
            span Preview &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a.learn-button target="_blank" href="#{profile_page_url(current_user)}" Learn
            br
            a.button.radius.pink href="#"  data-reveal-id="learn-code-modal" Get Your Button
            #learn-code-modal.reveal-modal aria-hidden="true" aria-labelled-by="Get Learn Button Code" data-reveal="" role="dialog"
              h5 Plugin Code
              hr
              .body
                h6 Place the code for your plugin wherever you want the plugin to appear on your page.
                pre
                  code.language-markup
                    | &lt;script>
                          (function(d, s, id) {
                          var js, firstJs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "https://www.edcast.com/assets/widget/sdk.js";
                          firstJs.parentNode.insertBefore(js, firstJs);
                          }(document, 'script', 'edcast-jssdk'));
                  code.language-markup
                    | &lt;/script>

                  code.language-markup
                    | &lt;div class="ed-learn" data-text="Learn" data-username="#{current_user.handle_no_at}">

                  code.language-markup
                    | &lt;/div>


              a.close-reveal-modal aria-label="Close"  ×




- content_for :js
  = javascript_include_tag 'prism'
  javascript:
    $(document).ready(function(){
      $('#notifications').find('.notification-pref').change(function(event){
        var pref_name = 'user[' + event.target.name + ']';
        var pref_value = event.target.checked;
        var payload = {};
        payload[pref_name] = Boolean(pref_value);
        $.ajax({
          method: 'PUT',
          url: '/edit_settings.json',
          data: payload
        });
      });
    });
