= render 'common/default_meta_tags', title: 'Streams'

= content_for(:hopper) do
  = render partial: 'user_pages/page_hopper', locals: {show_user_details: true}
div.vs-standalone
  - if @live_streams.blank? && @scheduled_streams.blank? && @past_streams.blank?
    br
      br
      .row
        .small-12.medium-8.large-8.columns.small-centered.text-center
          br
          br
          h4
            p You don't have any livestreams! View some of our popular ones!

          br
          a.button.hollow.small href='/10minuteinsights' VIEW POPULAR STREAMS
          br
  - if @live_streams.present?
    hr.rationale-divider
    p
      .section-header
        .section-title Live Streams
    ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
      - @live_streams.each do |stream|
        = render partial: 'common/insights/insight_video_streams', locals: {stream: stream, status: "live"}

  - if @scheduled_streams.present?
    hr.rationale-divider
    p
      .section-header
        .section-title Scheduled Streams
    ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
      - @scheduled_streams.each do |stream|
        = render partial: 'common/insights/insight_video_streams', locals: {stream: stream, status: 'upcoming'}

  - if @past_streams.present?
    hr.rationale-divider
    p
      .section-header
        .section-title Past Streams
    ul.past-stream-list
      - @past_streams.each do |stream|
        = render partial: 'common/insights/insight_video_streams', locals: {stream: stream, status: 'past'}


- content_for :js do
  javascript:
    MetricRecorder.log('impression', {id: #{@user.id}, type: 'user'});