- card_list_selector_id ||= "card-list-selector-id"
.row#insights-list
  .small-12.columns
    - if show_title
      - section_title ||= 'Cards'
      .section-header
        .section-title = section_title
    ul.cards-list.gridder id="#{card_list_selector_id}" class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-1' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
      - cards.each do |card|
        = render partial: 'common/cards/card', locals: {card: card}
  = render partial: 'common/infinite_scroll_pagination'

- content_for :js do
  - if @current_org.present?
    javascript:
      window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}

  javascript:
    var user = #{current_user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: current_user, anonymous: nil, include_email: false, include_score_entry: false})).to_json.html_safe};
    var csrfToken = function(){ return $('meta[name="csrf-token"]').attr('content'); };

  javascript:
    $(function () {
      var dataCache = {};
      // Call Gridder
      $("##{card_list_selector_id}").gridderExpander({
        scroll: true,
        scrollOffset: 120,
        scrollTo: "panel",                  // panel or listitem
        animationSpeed: 1000,
        animationEasing: "easeInOutExpo",
        showNav: true,                      // Show Navigation
        nextText: "Next",                   // Next button text
        prevText: "Previous",               // Previous button text
        closeText: "Close",                 // Close button text
        onStart: function () {
          //Gridder Inititialized
        },
        onContent: function (gridderContainer) {
          //Gridder Content Loaded
          var reactComponent = gridderContainer.find('[data-react-component]');
          var cardId = reactComponent.data('card-id');
          React.render(React.createElement(CardContainer, dataCache[cardId]), reactComponent[0]);

          addthis.layers.refresh(); //refresh addthis widgets

          MetricRecorder.log('expand', {id: cardId, type: 'card'});
        },
        onClosed: function () {
          //Gridder Closed
        },
        insertLocation: function(myself){
          var current = myself;
          while (current.next('li').length && current.offset().top == current.next('li').offset().top){
            current = current.next('li');
          }
        return current;
        },
        fetchContent: function(url, doneCB){
          $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function(data){
              dataCache[data.card.id] = data;
              doneCB('<div data-react-component data-card-id="'+data.card.id+'">'+ React.renderToString(React.createElement(CardContainer, data)) + '</div>');
            }
          });

        }
      });
    });



= render partial: 'common/addthis_widget' if @can_share_on_social_nw
