- card_type_label, card_type_class = card_display_type(card)
- show_link = show_insight_link(card['slug'], card_type: card['card_type'])
li.gridder-list data-clickable-card=card['slug'] data-griddercontent=show_link
  .card-summary data-trackable="" data-id="#{card['id']}" data-type="#{card_type_class == 'card-pack' ? 'collection' : 'card'}" class="#{card_type_class}" data-clickable-href=show_link style="background-image: url(#{display_image(card)});"
    .card-overlay
    .card-label = card_type_label.titlecase
    .card-section
      .card-divider.clearfix
        - unless card_type_label == 'question' || card_type_label == 'poll'
          - if card['author']['handle'].blank?
            .left.circle-white-border.avatar style='background: url(#{card['author']['photo']}) center center no-repeat; background-size: cover;'
          - else
            a data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{card['id']}"}}' href="#{public_user_page_path(handle: card['author']['handle'])}"
              .left.circle-white-border.avatar style='background: url(#{card['author']['photo']}) center center no-repeat; background-size: cover;'
        .actions-wrapper.clearfix
          .actions.right
            ul
              li.commentCount.white
                = card['comments_count']
              li.likeCount.white
                = card['like_count']
          - unless card_type_label == 'question' || card_type_label == 'poll'
            .author-name.left
              - if card['author']['handle'].blank?
                = card['author']['name']
              - else
                a.truncate data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{card['id']}"}}' href="#{public_user_page_path(handle: card['author']['handle'])}"
                  = card['author']['name']
      .card-content
        - if card_type_label == 'question' || card_type_label == 'poll'
          .author.clearfix
            - if card['author']['handle'].blank?
              .left.circle-white-border.avatar style='background: url(#{card['author']['photo']}) center center no-repeat; background-size: cover;'
            - else
              a data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{card['id']}"}}' href="#{public_user_page_path(handle: handle_no_at(card['author']['handle']))}"
                .left.circle-white-border.avatar style='background: url(#{card['author']['photo']}) center center no-repeat; background-size: cover;'
            .author-name.left
              - if card['author']['handle'].blank?
                = card['author']['name']
              - else
                a.truncate data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{card['id']}"}}' href="#{public_user_page_path(handle: card['author']['handle'])}"
                  = card['author']['name']
        h6.title
          = card['content']['title']
        - if card_type_label == 'poll'
          - text = answered?(card['id'], current_user) ? "View Results" : "Answer"
          a.button href=show_link #{text}
      ul.inline-list.tags
        - card['tags'].each do |tag|
          li
            a href="#{search_path(q: tag['name'])}"
              = tag['name']
    - if user_signed_in?
      - if params[:debug] == 'true' && current_user.is_admin?
        .debug-info.small-font style="position: absolute; top: 20px; left: 10px: width: 100%; background-color: #fff;"
          | id: #{card['id']}
          br
          | score: #{card['_score']}
          br
          | created_at: #{card['created_at']}
      - unless card_type_class == 'card-pack'
        a.on-hover-actions.add-to-pack data-dropdown="card-packs-dropdown-#{card['id']}-Card" href='#' data-options="align:left" data-id="#{card['id']}" data-type="Card"
        ul.f-dropdown.add-to-pack-dropdown aria-hidden="true" data-dropdown-content="" id="card-packs-dropdown-#{card['id']}-Card"
    a.on-hover-actions.open-card href=show_link
    - if card_type_class == 'card-pack'
      .stack
      .stack-2
