- card_type_label, card_type_class = card_display_type(card)
- show_link = show_insight_link(card['slug'], card_type: card['card_type'])
- onclick = "window.location.href = \"#{show_link}\""
li 
  .card-summary class="#{card_type_class}" data-clickable-href=show_link onClick=onclick style="background-image: url(#{display_image(card)});"
    .card-overlay
    .card-label = card_type_label.titlecase
    .card-section
      .card-divider.clearfix
        - if card['author']['handle'].blank?
          img.avatar.avatar-default.circle-white-border.left src="#{card['author']['photo']}"
        - else
          a data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{card['author']['id']}"}}' href="#{public_user_page_path(handle: handle_no_at(card['author']['handle']))}"
            img.avatar.avatar-default.circle-white-border.left src="#{card['author']['photo']}"
        .actions-wrapper.clearfix
          .author-name.left
            - if card['author']['handle'].blank?
              = card['author']['name']
            - else
              a.truncate data-amplitude-trigger='click' data-amplitude-event='view_user' data-amplitude-event-props='{"action" : {"type" : "view"}, "object" : {"class" : "user", "id" : "#{card['author']['id']}"}}' href="#{public_user_page_path(handle: handle_no_at(card['author']['handle']))}"
                = card['author']['name']
      ul.inline-list.tags
        - card['tags'].each do |tag|
          li
            a href="#{search_path(q: tag['name'])}"
              = tag['name']
    a.on-hover-actions.open-card href=show_link
    - if card_type_class == 'card-pack'
      .stack
      .stack-2
