<div class="row">
  <div class="large-6 large-centered medium-6 medium-centered columns" id="loginWrapper">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="text-center">Sign in</h2>

            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div><%= f.label :email %>
                  <%= f.email_field :email, :autofocus => true, :required => '' %></div>

                <div><%= f.label :password %>
                  <%= f.password_field :password, :required => '' %></div>

                <% if devise_mapping.rememberable? -%>
                    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>

                <div><%= f.submit "Sign in", :class => 'button tiny' %></div>
            <% end %>
      </div>
    </div>
  </div>
</div>




