- content_for :css_tag
  = stylesheet_link_tag 'ui'
- content_for :js_tag
  = javascript_include_tag 'ui/bootstrap'
#loader-img
  = image_tag asset_path('preloader.gif'), :width => '30', :height => '30'
div#widget-container ng-controller="ControlsCtrl"
  .row#main-container
    #left-container
      .row.widget-header.ng-cloak
        .row.widget-header-row.widget-header-group.pd10
          .column.small-12
            .row
              .column.small-4.logo
                = image_tag asset_path('edcast_logo_grey.png')
              .column.small-8
                .small-12.columns.thumb-small.text-right
                  .user-profile.pdr10 style="display: inline"
                    a.has-tip.profile-link ui-sref="posts.main.profile" tooltip-placement='bottom' tooltip='Profile settings' aria-label="Profile settings" aria-haspopup="true"
                      = image_tag asset_path(current_user.photo), width: 32, height: 32, :class => 'user-image'
                  .score-element
                    = image_tag asset_path('thumb-small-gray.png'), :class => "thumb"
                    span.user-score
                    = @score_entry[:score]
                  .score-element
                    = image_tag asset_path('small-star.png'), :class => "star"
                    span.user-score
                      = @score_entry[:stars]
            / Temporarily force hide group ui
            div.row
              .row.group-picker-row ng-class="{group: primaryGroup !== group}" tabindex="0" aria-label="Group picker" aria-expanded="{{showGroups}}" role="button"
                .column.small-1 ng-if="primaryGroup !== group"  dropdown-toggle="#groups-dropdown"
                  span
                    i.fi-torsos-all
                .column.small-10.group-picker  dropdown-toggle="#groups-dropdown"
                  span ng-show="primaryGroup !== group" ng-bind="group.name"
                  span ng-show="primaryGroup === group" style="font-weight: bold"
                    | Groups&nbsp;&nbsp;
                  div.arrow-down ng-class="{grey: primaryGroup === group}"
                .column.small-1.group-picker-details
              ul.f-dropdown.sort-menu-dropdown.dropdown-menu#groups-dropdown role="menu" aria-label="menu"  aria-hidden="{{!click}}"
                li
                  a ng-show="primaryGroup !== group" ng-click="setActiveGroup(primaryGroup)" tabindex="0" ng-enter="setActiveGroup(primaryGroup)"
                    | << Back to main forum
                li ng-repeat="group in groups" ng-click="setActiveGroup(group)" tabindex="0" ng-enter="setActiveGroup(group)"
                  a ng-bind='group.name'
                li.disabled ng-show="groups.length == 0"
                  a You are not part of any groups yet
        .row.widget-header-row
          .column.small-1
            button.radius.tiny.search-button#search-icon-button data-ec="control" data-ea="search.show" data-el="control.search.toggle.show.link" ng-class="{active: showSearch}" ng-click="showSearch = !showSearch;" aria-label="search button" aria-expanded="{{showSearch}}" ng-init="showSearch = false;" &nbsp;

          .column.small-7.medium-6.sort-container style="font-size: 13px"
            a#view-tag href="#" dropdown-toggle="#widget-tabs-dropdown" data-ec="control" data-ea="sort.menu" data-el="control.sort.menu.link" aria-label="Sort posts dropdown menu" aria-expanded="{{click}}" ng-init="click=false" ng-click="click = (!click)" aria-haspopup="true"
              span.text-right.sort-dropdown-text ng-bind='displaySort' style="padding-right: 6px; padding-left: 6px;"
              .arrow-down
            ul.f-dropdown.sort-menu-dropdown.dropdown-menu#widget-tabs-dropdown role="menu" aria-label="menu"  aria-hidden="{{!click}}"
              li aria-label="newest threads" tabindex="0"
                a ng-change="doSort(sort)" ng-model="sort" btn-radio="'date'" data-ec="control" data-ea="sort" data-el="control.sort.mostRecent.link"
                  | newest threads
              li aria-label="recently updated" tabindex="0"
                a ng-change="doSort(sort)" ng-model="sort" btn-radio="'updates'" data-ec="control" data-ea="sort" data-el="control.sort.mostRecent.link"
                  | recently updated
              li aria-label="most upvoted" tabindex="0"
                a ng-change="doSort(sort)" ng-model="sort" btn-radio="'votes'" data-ec="control" data-ea="sort" data-el="control.sort.mostUpvoted.link"
                  | most upvoted
              li aria-label="most answers"  tabindex="0"
                a ng-change="doSort(sort)" ng-model="sort" btn-radio="'responses'" data-ec="control" data-ea="sort" data-el="control.sort.mostAnswers.link"
                  | most answers
              - if @user_role == 'admin'
                li aria-label="flagged posts"  tabindex="0"
                  a ng-change="doSort(sort)" ng-model="sort" btn-radio="'flagged'" data-ec="control" data-ea="sort" data-el="control.sort.flaggedPosts.link"
                    | flagged posts
              li aria-label="announcements"  tabindex="0"
                a ng-change="doSort(sort)" ng-model="sort" btn-radio="'announcements'" data-ec="control" data-ea="sort" data-el="control.sort.announcements.link"
                  | announcements
                  
          .column.small-3.medium-4.text-right
            button.radius.tiny.post-button#add-post-button ui-sref="posts.new" aria-label="Add new post"
              | + Post


        .row.widget-header-row.search-form-row ng-show='showSearch || questionsService.searchQueryTerm().length > 0' aria-hidden="{{!showSearch}}" tabindex="0" role="search"
          .column.small-11
            label.label-hide for="search-input" Enter keywords or #tags to search
            input.search-input#search-input ng-class='{active: query.length>0}' hashtag-autocomplete=true type="text" ng-model="query" placeholder="search for keywords or #tags" ui-keypress="{'enter': 'doSearch($event)'}" aria-label="Enter keywords or #tags to search" autofocus=" "
          .column.small-1.text-right
            span.close#search-close ng-click="showSearch = false; cancelSearch();" ng-enter="showSearch = false; cancelSearch();" data-ec="control" data-ea="search.dismiss" data-el="control.search.toggle.dismiss.link" tabindex="0" role="button" aria-label="Close"
        .row ng-if="hasFilters"
          alert ng-repeat="filter in filters" type="'radius info'" close="removeFilter(filter.name)"
            div ng-switch="" on="filter.name"
              div ng-switch-when="authorId"
                strong Posted by
                span< {{filter.value.name}}
              div ng-switch-when="commenterId"
                strong Answered by
                span< {{filter.value.name}}
      div
        div ng-if="displayContext"
          context-show context-id="contextId" context-label="contextLabel"
        div.left-scroll-container ui-view="questions"
    #right-container ng-class="{transparent: ($state.current.name == 'posts.main.insights' || transparentBackground)}"
      div ui-view=""
- content_for :js do
  javascript:
    $(window).load(function () {
      // Animate loader off screen
      $("#loader-img").animate({
        top: '105px'
      }, 400);

      if($('.widget-header:visible').length) {
        var ele = document.getElementById('loader-img');
        $(ele).css("display", "none");
      }

    });

    if ($('.widget-header').length) {
      $('.widget-header').css('display', 'block');
    }

      $(document).on('click', '#search-icon-button', function (e) {

        if($('#search-input').length) {
          $('#search-input').focus();


        }
      });



  javascript:
    $(document).on('click', '#search-close', function (e) {
      if($('#search-icon-button').length) {
        $('#search-icon-button').focus();
      }
    });
    $('input#search-input').focus(function () {
      $('.search-form-row').addClass('search-focused');
    });

    $('input#search-input').blur(function () {
      $('.search-form-row').removeClass('search-focused');
    });



  javascript:
    $(document).on('click', '.answer-button', function (e) {
      if($('.ans-button').length) {
        var ele = document.getElementsByClassName("ans-button");
        var count = ele.length;
        for (var i = 0; i < count; i++) {
          var answerButton = ele[i];
          $(answerButton).attr('aria-expanded', 'true');
        }
      }
    });


  javascript:
    $(document).on('click', '.cancel-answer', function (e) {
        if($('.ans-button').length) {
          var ele = document.getElementsByClassName("ans-button");
          var count = ele.length;
          for (var i = 0; i < count; i++) {
            var answerButton = ele[i];
            $(answerButton).attr('aria-expanded', 'false');
            if ($(answerButton).is(':visible')) {
              answerButton.focus();
            }
          }
        }
    });

    function answerClose(event) {
      if(event.keyCode == 13 || event.keyCode == 32) {
        if($('.ans-button').length) {
          var ele = document.getElementsByClassName("ans-button");
          var count = ele.length;
          for (var i = 0; i < count; i++) {
            var answerButton = ele[i];
            $(answerButton).attr('aria-expanded', 'false');
            if ($(answerButton).is(':visible')) {
              answerButton.focus();
            }
          }
        }
      }
    }

    $(document).on('click', 'a.card-dismiss', function () {

      $(this).closest('.card').css('opacity', '0');

      setTimeout( function () {
        $('.card')
                .filter(function (index) {
                  return $(this).css('opacity') == 0;
                })
                .css('opacity', '1')
      }, 300);

    });








