<html style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);"><head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
		</head>

	  <body style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
	  	<div class="email-container container main-mail-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-right: 20px;padding-left: 20px;margin-right: auto;margin-left: auto;background-color: #f7f7f7;padding-top: 20px;max-width: 600px;">
	  		
	  		<div class="mail-content mail-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #ffffff;">
	  		<div class="show text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;margin: auto;padding: 30px;display: block!important;">

                {{#if org_logo}} 
	  				<div class="row header-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
		  				<div class="col-md-12 text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;">
		  					<div class="co-branding-logo" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-bottom: 25px;">
                                <img src="{{org_logo}}" style="width: 130px; height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;">
			  				</div>
		  				</div>
			  		</div>
                {{else}}
                	<div class="row header-container" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
		  				<div class="col-md-12 text-center" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;">
		  					<div class="co-branding-logo" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-bottom: 25px;">
			  					<img src="https://www.edcast.com/assets/edcast_logo.png" style="width: 130px; height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;">
			  				</div>
		  				</div>
			  		</div>
                {{/if}}


			  		<div class="email-message row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;color: #c3c3c3;">
			  			<div class="col-md-12 text-center email-message text-justify spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: justify;position: relative;min-height: 1px;width: 100%;color: #c3c3c3;padding-bottom: 20px;">
			  			 		<div style="display: inline-block; width: 135px;vertical-align: top;">		
			  			 				<br></br>
                        {{#if group.group_image}}
                          <img src="{{group.group_image}}" class="course-image" alt="" width="120" height="80"/>
                        {{/if}}
                      <br></br>
                   </div>
                   <div style="display: inline-block; width: 300px; vertical-align: top; text-align:left;">
                      <br></br>
                <p class="faint" style="font-size: 16px;margin-top: 0px;color: #5c5c5c;">{{group.group_organization}}</p>
                          <p style="font-size: 14px;font-family:Arial;margin-bottom: 10px; margin-top:5px; max-width: 300px;"><b style="font-weight: 100;color: #676262;">{{group.group_name}}</b></p>
                   </div>
			  				<!-- <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Here's what was shared in your  {{org.name}} Team on EdCast this week.</p> -->
			  			</div>
			  		</div>

			  	<p style="text-align: center; font-size: 18px;color: #797474;">Personalized daily digest for {{user_name}}</p>	
			  		{{#posts}}
			  		<div class="email-message row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #c3c3c3;border:1px solid #c3c3c3;border-radius: 6px;text-align: left;">
			  			<div class="col-md-12 email-message spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;max-width: 90%;color: #c3c3c3;">
			  				
			  				<div style="width:175px;display:inline-block;vertical-align:top;text-align:left;margin-left: 10px;">
                                                            <br>
                                                            
                                                                <img alt="" src="{{this.creator_avatar}}" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;width:40px;max-width:60px;border-radius:50%;display:block" class="CToWUd"> 
                                                            
                                                            <div style="display:inline-block;vertical-align:middle;padding-left:5px;max-width:100px">
                                                                <strong style="margin:0px;font-size:14px;color:#555555;text-align:left;font-family:Arial;display:block;width:inherit;white-space:nowrap">{{this.creator_name}}</strong>
                                                                
                                                            </div>

                </div>
			  			</div>
                        <div class="col-md-12 email-message spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 90%;color: #676262;font-size:18px;margin-left: 15px;margin-right:15px;">
                            <a href="{{this.deep_url}}" style="text-decoration: none;color: #676262"><p style="max-width:310px;">{{this.title}}</p></a>
			  				{{#if this.resource_title}}
                                                            <div>
  <div style="text-align: center;"><img src="{{this.resource_img}}" style="max-width: 80%;"></div>
                                                                <div style="text-align: left;max-width: 90%;">
  <p>{{this.resource_site}}</p>
  <b style="font-size: 14px;">{{this.resource_title}}</b>
	<p style="font-size: 14px;">{{this.resource_desc}}</p>
	</div>
</div>
                {{/if}}
<div style="text-align: left;max-width: 90%;">	{{striptags this.message}}</div>
                            <div>
                            <img src="http://www.cmnetwork.co/assets/comment_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;max-width: 22px; max-height: 22px;margin-right: 11px;"> {{this.comments_count}}
                                <img src="http://www.cmnetwork.co/assets/like_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;max-width: 22px; max-height: 22px;margin-right: 11px;"> {{this.votes_count}}</div>
			  			</div>
                        <br>
			  		</div>
			  		<br>
			  		{{/posts}}

			  		
			  		</div>
	  			<div class="hide" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: none!important;">

	  			</div>
	  		</div>

	  		<div class="row edcast-branding" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-left: -15px;font-size: 10px;padding-top: 10px;">
		  		<div class="col-md-12 text-right email-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: right;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;">
                    Powered By <img src="http://www.edcast.com/assets/ed_grey.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 22px; height: 16px;">
		  		</div>
	  			
	  		</div>
	  		
	  		<div class="row app-download" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
	  			<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 100%;">
	  				<div class="email-message text-center" style="color: #818181;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;">
	  				<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Download the Edcast App</p>
	  				</div>
	  				<div class="text-center spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;padding-bottom: 20px;">
	  					<a href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&amp;ct=KKWebsiteLink&amp;mt=8"><img src="https://ci3.googleusercontent.com/proxy/A2SI6ul9_JVEvTUxeAYKYDzRyexJhUxLjPvATQJqZtM0HtLF20L-dtqzwSS29Zzq5Il0gk7MHJKtJatAkdJhvxSvGjMFNclhEjHdRoVnWV7VDE_T6YYYO37yFXcr6Lck7ordS8ZDkuZdi09VrFynO6mU3xNIgj4ZBS5woHc=s0-d-e1-ft#https://gallery.mailchimp.com/25738ee243d2447c9aa5f5fe6/images/2f0e4061-2196-4069-8249-e33ea9059c5d.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;margin-right: 12px;width: 120px; height: 39px;"></a>
	  					<a href="https://play.google.com/store/apps/details?id=com.edcast"><img src="https://ci5.googleusercontent.com/proxy/hRTWJ72qLGF8OpBThfnPO5aE6rdYXAhlPqKCnYI07DnOgjDOYbFchBv2Q3qLaywOWzZIn1Pf4kqcCCDINVxYaIwBeNkYiCH85hw6e9yprtYL_FVsW2aRwV7CRbvYcRC3Ep6YYhPHZQ_hN6AjIz2BGSZU9PhDV28BlcbtDn8=s0-d-e1-ft#https://gallery.mailchimp.com/25738ee243d2447c9aa5f5fe6/images/a8fd0bda-48fe-4f19-8d1b-04355ab23747.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 120px; height: 39px; "></a>
	  				</div>
	  			</div>
	  		</div>
	  		
	  		<div class="row social-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
	  			<div class="col-md-12 text-center spacing" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;position: relative;min-height: 1px;width: 100%;padding-bottom: 20px;">
			  		<a href="https://www.edcast.com/edcast"><img src="http://www.edcast.com/assets/ed_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 45px; height: 45px; margin-right: 11px;"></a>
			  		
			  		<a href="https://www.facebook.com/EdCast"><img src="http://www.edcast.com/assets/facebook_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important; width: 45px; height: 45px;margin-right: 11px;"></a>
			  		
			  		<a href="https://twitter.com/edcast"><img src="http://www.edcast.com/assets/twitter_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;margin-right: 11px;"></a>
			  		
			  		<a href="https://plus.google.com/+EdCastNetwork"><img src="http://www.edcast.com/assets/google_plus_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;margin-right: 11px;"></a>
			  		
			  		<a href="https://www.linkedin.com/company/edcast"><img src="http://www.edcast.com/assets/linkidin_social_fotter_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;width: 45px; height: 45px;"></a>
			  		</div>
			</div>
	  		
	  			  		<div class="row standard-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;font-size: 10px;">
		  		<div class="col-md-12 email-message" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;width: 100%;color: #8a8a8a;">
		  			<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
		  				You are receiving this email because you are a member of EdCast. 
		  			</p>
		  			<p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Please do not reply directly to this email.If you have any questions, please contact<a href="{{support_link}}" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: underline;"> support</a></p>
		  			  <p style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
		  				<a href="https://www.edcast.com/corp/contact/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Contact us</a>
		  				<a href="https://www.edcast.com/corp/terms-of-service/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Terms of use </a>
		  				<a href="https://www.edcast.com/corp/privacy-policy/" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;color: #337ab7;text-decoration: none;">Privacy Policy </a>
		  			</p> 
		  
		  		</div>
			</div>

	  
	</div></body></html>