.wrapper
  .wrapper-container
    .row.pt40
      - if @error == 'badtoken'
        h2.edcast-align Something went wrong.
      - elsif @error == 'deleted'
        h2.edcast-align Already Unsubscribed
      - elsif @error == 'deleteerror'
        h2.edcast-align Something went wrong.
      - else
        h2.edcast-align Unsubscribed successfully

      br
      .unsubscribe-message
        p.edcast-align
          - if @error == 'badtoken'
              | Something went wrong
          - elsif @error == 'deleted'
              | You have already been unsubscribed from this thread.
          - elsif @error == 'deleteerror'
              | Oops! Something went wrong. Please try again later.
          - else
            - if @followable.kind_of?(Event)
              | Thanks, you have been successfully unsubscribed from #{@followable.name}. <br />You will not receive any more notifications related to it.
            - else
              | Thanks, you have been successfully unsubscribed from "#{@followable.title}" post. in the group "#{@followable.group.name}". <br />You will not receive any more notifications related to it.
