<tr>
  <td align="center">
    <table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full">
            <tr>
              <td align="center">
                <table class="table-full" bgcolor="<%= custom_css[:button_background_color] %>" border="0" align="center" cellpadding="0" cellspacing="0" style="border-radius:2px;">
                  <tr>
                    <td class="textbutton" height="40" align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#FFFFFF; font-size:14px; padding-left: 15px;padding-right: 15px;height: 28px; width: 122px;">
                      <a style="color:#ffffff; text-decoration:none;"  href="<%= href %>"><%= title %></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
