<tr>
  <td align="center">
    <table class="table-full" border="0" align="center" cellpadding="0" cellspacing="0" style="border: solid 1px #d6d6e1;height: 150px;">
      <tr>
        <td align="center">
          <table border="0" align="left" cellpadding="0" cellspacing="0" class="table-full">
            <tr>
              <td align="center" style="font-family: 'Open sans';width: 120px; height: 148px; color:#7f8c8d; font-size:16px; line-height: 18px;">
                <a href="<%= href %>" style="font-size: 14px; text-decoration: none; display:block; width:100%;">
                  <img alt="" src="<%= img_url%>" width="60">
                  </a>
                  <a href="<%= href %>" style="color: #454560; font-size: 14px; text-decoration: none; display:block; width:100%;"><%= truncate(title, length: 25) %></a>
                  <a href="<%= href %>" style="font-size: 12px;color: #4a90e2; text-decoration: none; display:block; width:100%;">Follow
                  </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
