<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>EdCast</title>
</head>

<body>
    <table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td align="center">
                <table class="table-inner" style="border-bottom:1px solid #D6D6E1;" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <table width="100%" style="min-width: 100%;" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="60" align="left" valign="bottom">
                                        <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="35"></td>
                                            </tr>
                                            <tr>
                                                <td height="45" style="border-top:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center">
                                        <table border="0" align="center" cellpadding="0" cellspacing="0" class="table-inner">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <!--logo-->
                                            <tr>
                                                <td align="center" style="line-height: 0px;">
                                                    <img class="logo" style="display:block; line-height:0px; font-size:0px; border:0px;" width="182" src="{{#if org_logo}} {{org_logo}} {{else}} https://www.edcast.com/assets/edcast_logo.png {{/if}}" alt="logo"/>
                                                </td>
                                            </tr>
                                            <!--end logo-->
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            <!--slogan-->
                                            <tr>
                                                <td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#a7aeb3; font-size:11px; font-style: italic;line-height: 28px;">by EdCast
                                                </td>
                                            </tr>
                                            <!--end slogan-->
                                        </table>
                                    </td>
                                    <td width="60" align="right" valign="bottom">
                                        <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="35"></td>
                                            </tr>
                                            <tr>
                                                <td height="45" style="border-top:1px solid #a7aeb3;border-right:1px solid #a7aeb3;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;">
                            <table align="center" class="table-inner" width="550" border="0" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">
                                        Hi{{#if first_name}} {{first_name}}{{/if}},
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">
                                        {{message}}
                                    </td>
                                </tr>
                                <!--list of posts-->

                                <tr>
                                    <td align="left">
                                        {{#if group.group_image}}
                                          <img align="left" src="{{group.group_image}}" class="course-image" alt="" width="120" height="80" style="border: 1px solid #c7c7c7;"/>
                                        {{/if}}
                                        <div style=" display: inline-block;vertical-align: top; text-align:left; text-align:left;">
                                            <div style="font-size: 16px;margin-top: 0px;color: #5c5c5c; height: 10px; font-weight: bold; margin-bottom: 10px;">  
                                            &nbsp; {{group.group_organization}}
                                            </div>
                                            <p style="font-size: 14px;font-family:Arial;margin-bottom: 10px; margin-top:5px;">
                                            <b style="font-weight: 100;color: #686868;">&nbsp; {{group.group_name}}</b></p>
                                       </div>
                                   </td>
                                </tr>
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:14px; line-height: 18px;">
                                        Personalized daily digest for {{user_name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="25"></td>
                                </tr>

                                {{#posts}}
                                <tr style=" border: 1px solid #eeeeee;">
                                    <td style="box-sizing: border-box;">

                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="middle" height="40">
                                                    <img width="40" alt="" src="{{this.creator_avatar}}" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;width:40px;max-width:60px;border-radius:50%; vertical-align: middle;">
                                                        <span style="margin: 5px 0 5px 0; font-size: 14px;vertical-align: middle;">&nbsp; {{this.creator_name}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border: 1px solid #d7d7d7;padding: 5px;box-shadow: 1px 1px 1px #d7d7d7;">
                                                      <div style="margin-bottom: 8px;color: #fff1f1">
                                                        <a href="{{this.deep_url}}">{{this.title}}</a>
                                                      </div>
                                                      {{#if this.resource_title}}
                                                        <div>
                                                            <div style="text-align: left;">
                                                                <img src="{{this.resource_img}}" style="max-width: 100%;">
                                                            </div>
                                                            <div style="text-align: left;max-width: 90%;">
                                                                <p>{{this.resource_site}}</p>
                                                                <b style="font-size: 14px;">{{this.resource_title}}</b>
                                                                <p style="font-size: 14px;">{{this.resource_desc}}</p>
                                                            </div>
                                                        </div>
                                                        {{/if}}
                                                        <div>
                                                          {{striptags this.message}}
                                                        </div>
                                                        <table>
                                                          <tr>
                                                            <td height="15">
                                                            </td>
                                                          </tr>
                                                        </table>
                                                        <div style="color: #919191;">
                                                          <img src="http://www.cmnetwork.co/assets/comment_icon.png"  style="display:inline!important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;margin-right: 5px;" width="15">&nbsp;{{this.comments_count}}
                                                          <img class="display-inline" src="http://www.cmnetwork.co/assets/like_icon.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;margin-right: 5px; margin-left: 10px;" width="15"">&nbsp;{{this.votes_count}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                {{/posts}}
                                <!--list of posts-->


                                <tr id="ad-section">
                                    <td height="25"></td>
                                </tr>
                                {{#if show_app_download}}
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="ad-section">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" align="center">
                                                        <h2>
                                                            Get the most out of your course
                                                        </h2>
                                                        <p>
                                                            Download the EdCast mobile app and keep up with your courses on the move.
                                                        </p>
                                                        <div>
                                                            <a href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&amp;ct=KCForumLink&amp;mt=8" target="_blank" style="text-decoration: none;">
                                                                <img align="none" src="http://www.edcast.com/assets/app_store_icon.png" style="max-width: 85px; max-height: 36px; margin: 5px 5px 0px 0px;" width="85">
                                                            </a>
                                                            <a href="https://play.google.com/store/apps/details?id=com.edcast" target="_blank" style="text-decoration: none;">
                                                                <img align="none" src="http://www.edcast.com/assets/play_store_icon.png" style="max-width: 85px; max-height: 36px; margin: 0px;" width="85">
                                                            </a>

                                                        </div>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {{/if}}
                                <tr>
                                    <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color:#7f8c8d; font-size:12px; line-height: 18px;">
                                        <p>If you have any questions, or need help, then drop us a note at support@edcast.com. We'd love to hear from you.</p>
                                        <p>Keep learning!</p>
                                        <p><i>The team at EdCast</i></p>
                                    </td>
                                </tr>
                                <!--end content-->
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="45" style="border-right:1px solid #a7aeb3;border-left:1px solid #a7aeb3;"></td>
                    </tr>
                </table>
                <table align="center" class="table-inner" width="600" border="0" cellspacing="0" cellpadding="0">
                    <!-- preference -->
                    <tr>
                        <td height="15"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#a7aeb3; line-height:28px;font-style: italic;">
                            Made by EdCast, Inc.<br> 1901 Old Middlefield Way | Suite 21 | Mountain View | CA | 94043 | USA
                        </td>
                    </tr>
                    <!-- preference -->
                    <!--social-->
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                <!-- social-->
                                <tr>
                                    <td align="center" style="line-height: 0px;">
                                        <a href="https://www.facebook.com/EdCast">
                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/facebook.png" alt="Facebook"/>
                                        </a>
                                    </td>
                                    <td width="15"></td>
                                    <td align="center" style="line-height: 0px;">
                                        <a href="https://twitter.com/edcast">
                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/twitter.png" alt="Twitter"/>
                                        </a>
                                    </td>
                                    <td width="15"></td>
                                    <td align="center" style="line-height: 0px;">
                                        <a href="https://www.linkedin.com/company/edcast">
                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/linkedin.png" alt="LinkedIn"/>
                                        </a>
                                    </td>
                                </tr>
                                <!-- end social -->
                            </table>
                        </td>
                    </tr>
                    <!--end social-->
                </table>
            </td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>
    </table>
</body>

</html>