css:
  .learn-button{
    background-color: #4192c9;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    height: 18px;
    padding: 4px 8px;
    text-decoration: none;
  }
  .learn-button:hover {
    background-color: #4D75A3;
  }
  .learn-button .logo {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }

  .learn-button .button-text {
    font-size: 12px;
    color: white;
    font-family: Arial; 
  }

  
a.learn-button href="#{@url}" target="_top" title="Learn on EdCast"
  img.logo src="/assets/ed_learn_white.png" width="18" height="18" alt="EdCast Logo"
  
  span.button-text = @text