css:
  html {
    overflow: hidden;
  }

  .learn-button{
    background-color: #4192c9;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    height: 14px;
    line-height: 12px;
    padding: 3px 6px;
    text-decoration: none;
  }
  .learn-button:hover {
    background-color: #4D75A3;
  }
  .learn-button .logo {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }

  .learn-button .button-text {
    font-size: 11px;
    color: white;
    font-family: Arial; 
  }

  @media all and (-ms-high-contrast: none) { 
   .learn-button{
      padding: 3px 4px;
   }
  }
  
a.learn-button id="share-button" href='javascript:' url="#{@url}"
  img.logo src="/assets/ed_learn_white.png" width="14" height="14" alt="EdCast Logo"
  
  span.button-text = @text

javascript:
  var popupWindow = function(){
    window.open(this.attributes.url.value, "Share to EdCast", "width=800, height=800, menubar=no, toolbar=no, status=no, left=200");
    return false;
  };

  var shareButton = document.getElementById("share-button");
  if (shareButton.addEventListener) {                    // For all major browsers, except IE 8 and earlier
    shareButton.addEventListener("click", popupWindow);
  } else if (shareButton.attachEvent) {                  // For IE 8 and earlier versions
    shareButton.attachEvent("onclick", popupWindow);
  }