html
head
body
  javascript:
    (function(d, s, id) {
    var js, firstJs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//#{ENV['API_SERVER_LOCATION'] || "localhost:4000"}/assets/widget/sdk.js";
    firstJs.parentNode.insertBefore(js, firstJs);
    })(document, 'script', 'edcast-jssdk');

  div class="ed-learn" data-text="Learn"
  div class="ed-share" data-text="Share" data-link="http://www.wired.com/2015/05/icahn-lyft/"
  div
    a target="_blank" href="http://#{ENV['API_SERVER_LOCATION'] || "lvh.me:4000"}/dialog/share?link=http%3A%2F%2Fwww.wired.com%2F2015%2F05%2Ficahn-lyft%2F&display=popup" Share to EdCast
