.contain-to-grid.fixed.header-wrapper
  nav.top-bar#header data-topbar="" data-options="is_hover: false"
    ul.title-area
      li.name
        = link_to image_tag('edcast_logo.png', class:'edc-logo'), root_path
      li.toggle-topbar
        a href="#"
          img.small-avatar src="#{current_user.avatar.url}"

    section.top-bar-section
      - if current_user
        ul.right
          li
            a href="#"
              img.small-avatar src="#{current_user.avatar.url}"
              span.alt-text = current_user.name.titlecase
      - else
        ul.right
          li
            = link_to 'Login', new_user_session_path

.row
  .small-12.medium-8.large-6.columns.small-centered
    div style="margin: 1rem 0;"
      img src="#{@res.image_url || image_url('card_default_image_min.jpg')}"

    div
      = form_tag(insights_index_link({redirect_uri: @redirect_uri})) do
        = hidden_field_tag 'link', @res.url
        = hidden_field_tag 'display', params[:display]
        .row
          .small-12.medium-3.large-2.columns
            = label_tag "title", "Title"
          .small-12.medium-9.large-10.columns
            = text_field_tag 'title', @res.title, required: false
        .row
          .small-12.medium-3.large-2.columns
            = label_tag "message", "Message"
          .small-12.medium-9.large-10.columns
            = text_area_tag 'message', @res.description, required: true, rows: 10
        .row
          .small-12.columns.text-right
            = submit_tag('Share to EdCast', :class => 'button radius pink', id: 'share-button')
            a href="javascript: window.close()" class="button radius transparent" Cancel
        br
        br
- content_for :js do
  javascript:
    $('#title').focus();
    $('#share-button').click(function(e){
      $('#share-button').val('Sharing...');
    });