// Extension of 'Buttons' section from `foundation_and_overrides.scss`
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Notes:
// - - - - - - - - - - - - - - - - - - - - - - - - -
// button styles are very specific, always try to use the default foundation buttons first


$ed-button-med: rem-calc(6 20);


$disabled: $iron;
$on-hover-bg-color: $edc-pink;
$transparent: rgba(0,0,0,0);

@mixin default-button-style($bg: $success-color, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-rounded) {
  @include button-style($bg: $bg, $bg-hover: $on-hover-bg, $border-color: $border-color);
  @include border-radius($rad); // Foundation radius does not accept custom value
  color: $color;

  &:hover, &:focus {
    color: $on-hover-font;
  }
}

@mixin default-button-size($padding: $ed-button-med, $fw: $font-weight-normal, $fs: $button-font-med) {
  padding: $padding; // Can't use foundation mixin for this since accepts only 1 arg
  font-weight: $fw;
  font-size: $fs;
}

.tiny, .small {
  &.button {
    @include default-button-size($padding: $button-sml, $fw: $font-weight-normal, $fs: $button-font-sml)
  }
}

.large {
  &.button {
    @include default-button-size($padding: $button-lrg, $fw: $font-weight-normal, $fs: $button-font-lrg)
  }
}

button, .button {
  @include default-button-size;
  @include default-button-style;

  &.radius {
     @include border-radius($global-rounded);
  }

  &.transparent {
    @include default-button-size;
    @include default-button-style($bg: $transparent, $color: $success-color, $on-hover-bg: $transparent, $on-hover-font: $success-color);
    text-decoration: underline;

    &.tiny, &.small { @extend .tiny; }

    &.large { @extend .large; }
  }

  &.hollow {
    @include default-button-size;
    @include default-button-style($bg: $transparent, $color: $success-color, $on-hover-bg: $transparent, $on-hover-font: $success-color, $border-color: $success-color);
    
    &.tiny, &.small { @extend .tiny; }

    &.large { @extend .large; }

    &.disabled {
      @include default-button-style($bg: $transparent, $color: $disabled, $on-hover-bg: $transparent, $on-hover-font: $disabled, $border-color: $disabled);
    }

    &.selected {
      background: $success-color;
      color: $white;
    }
  }

  &.hollow-blue {
    @include default-button-size($padding: rem-calc(15));
    @include default-button-style($bg: $transparent, $color: $edc-blue, $on-hover-bg: $transparent, $on-hover-font: $edc-blue, $border-color: $edc-blue, $rad: rem-calc(10));
    
    &.tiny, &.small { @extend .tiny; }

    &.large { @extend .large; }

    &.disabled {
      @include default-button-style($bg: $transparent, $color: $disabled, $on-hover-bg: $transparent, $on-hover-font: $disabled, $border-color: $disabled, $rad: rem-calc(10));
    }
  }

  &.disabled, &.inactive,&[disabled='disabled'], &[disabled='disabled']:focus { //Inactive class is used in SocialShare.js.jsx {
    @include default-button-size;
    @include default-button-style($bg: $iron, $color: $white, $on-hover-bg: $iron, $on-hover-font: $white, $border-color: $iron);
    opacity: 1;
    cursor: default;

    &.inactive,&:hover { // Need inactive class here to show hover colors by default for inactive state
      background-color: $aluminum;
      border: 1px solid $aluminum;
      cursor: default;
    }

    &.tiny, &.small { @extend .tiny; }

    &.large { @extend .large; }
  }

  &.secondary {
    color: $tuatara;
  }

  &.info {
    @include default-button-style($bg: $primary-color, $color: $white, $on-hover-bg: $info-button-bg-hover, $on-hover-font: $white, $border-color: $iron);
  }

  &.primary {
    @include default-button-style($bg: $transparent, $color: $primary-color, $on-hover-bg: $transparent, $on-hover-font: $primary-color, $border-color: $primary-color);
  }
}

// Follow Button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used for following Users, Channels etc.
// This button has a fixed size
.follow-button {
  @extend .button; // For some foundation default settings
  @include default-button-style($bg: $success-color, $color: $white, $on-hover-bg: $success-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
  @include default-button-size($padding: rem-calc(5 6 5 0), $fw: $font-weight-normal);
  width: rem-calc(110);

  .follow-image {
    @include bg-image($bg-image: 'ed_logo.svg', $bg-position: rem-calc(10) center, $bg-size: rem-calc(15) auto);
    float: left;
    padding: rem-calc(8);
    width: rem-calc(40);
  }

  .follow-text:before {
    border-left: 1px solid $iron;
    bottom: 0;
    content: '';
    left: rem-calc(35);
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .follow-text.no-image:before {
    display: none;
  }
}



// Learn Button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used on the settings page for the user.
// Also used externally by the user.
// This button has a fixed size
.learn-button {
  @extend .button; // For some foundation default settings
  @include default-button-style($bg: $primary-color, $on-hover-bg: $button-bg-hover, $rad: $global-radius);
  @include default-button-size($padding: rem-calc(3 7 3 33), $fw: $font-weight-normal, $fs: rem-calc(12));
  @include bg-image($bg-image: 'ed_learn_white.png', $bg-position: rem-calc(8) center, $bg-size: 18px auto);
  line-height: rem-calc(20);
  font-family: Arial;
}  

// Social Media Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Social Media Buttons that align with Edcast App Styling
.social-button {
  @extend .button;
  padding: rem-calc(10 10 10 45);
  border: 0;
  width: 100%;

  &.facebook {
    @include default-button-style($bg: #3b539a, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
    @include bg-image($bg-image: 'facebook_white.png', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
    &:hover, &:focus {
      background-color: #3b539a;
    }
  }

  &.google {
    @include default-button-style($bg: #ef2219, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
    @include bg-image($bg-image: 'google_white.png', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
    &:hover, &:focus {
      background-color: #ef2219;
    }
  }

  &.linkedin {
    @include default-button-style($bg: #0079b9, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
    @include bg-image($bg-image: 'linkedin_white.png', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
    &:hover, &:focus {
      background-color: #0079b9;
    }
  }

  &.salesforce {
    @include default-button-style($bg: #003c4d, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
    @include bg-image($bg-image: 'salesforce_icon.jpg', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
    &:hover, &:focus {
      background-color: #003c4d;
    }
  }

  &.office365 {
    @include default-button-style($bg: #DB4437, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
    @include bg-image($bg-image: 'office365_icon.jpg', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
    &:hover, &:focus {
      background-color: #DB4437;
    }
  }

  &.edcast {
    @include default-button-style($bg: $edc-pink, $color: $white, $on-hover-bg: $on-hover-bg-color, $on-hover-font: $white, $border-color: null, $rad: $global-radius);
    @include bg-image($bg-image: 'ed_logo.svg', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
    &:hover, &:focus {
      background-color: $edc-pink;
    }
  }

  @media #{$medium-up} {
    padding: rem-calc(14 14 14 45);
  }  
}



// Small edit button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Small edit button whith black translucent background can be used on cards

.small-edit-button {
  @extend .bg-translucent;
  @include bg-image($bg-image: 'edit_white.png', $bg-position: rem-calc(6) center, $bg-size: auto rem-calc(9));
  @include border-radius(50%);
  width: rem-calc(20);
  height: rem-calc(20);
  position: absolute;
  top: rem-calc(5);
  right: rem-calc(5);
}

// Edit Button 
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used on Channels page
.edit-button {
  @extend .bg-translucent;
  @include bg-image($bg-image: 'edit_white.png', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(12));
  @include default-button-size($padding: rem-calc(5 10 5 50), $fw: $font-weight-bold, $fs: rem-calc(12));
  border: 1px solid rgba($white, 0.7);
  &:before {
    border-left: 1px solid $white;
    content: '';
    left: rem-calc(-14);
    @include vertical-center;
    height: rem-calc(14);
  }

  &:hover {
    color: $white;
  }
}

.view-as-button {
  @extend .bg-translucent;
  @include bg-image($bg-image: 'eye_white.png', $bg-position: rem-calc(10) center, $bg-size: auto rem-calc(20));
  @include default-button-size($padding: rem-calc(5 10 5 50), $fw: $font-weight-bold, $fs: rem-calc(12));
  border: 1px solid rgba($white, 0.7);
  &:before {
    border-left: 1px solid $white;
    content: '';
    left: rem-calc(-14);
    @include vertical-center;
    height: rem-calc(14);
  }

  &:hover {
    color: $white;
  }
}

// Watch Button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used on Videos and Streams

.watch-button {
  width: rem-calc(120);
}

// First Time User Experience Infographic Button
.got-it {
  width: rem-calc(16);
  position:absolute;
  right: rem-calc(24);
  top: rem-calc(16);

  &:hover {
    cursor: pointer;
  }
}
