// Footer - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -

@include sticky-footer(rem-calc(112), '#wrapper', '#layout-footer', '#footer');


footer {
  background-color: #fefefe;
  .term-links > small {
    padding: 0 rem-calc(16);
    &:not(:last-child) {
      border-right: 1px solid $iron;
    }
  }
  .app-links-img {
    height: rem-calc(40);
  }
}
