.forum {
  margin: 1rem 0;

  input, textarea {
    @include input-placeholder {
      color: $border-color;
      font-size: rem-calc(12);
    }
  }

  .forum-search {
    .search-icon {
      @include search-icon($top: calc(50% - 19px));
    }

    .search-box{
      @include search-box($margin-top: 0, $margin-bottom: 20px, $height: 33px, $width: calc(100% - 20px));
    }
    .clear-search-icon {
      @include clear-search-icon($top: calc(50% - 19px));
    }
  }

  .author-image-wrapper {
    margin-right: 1.5rem;
  }

  .author-info-wrapper {
    width: calc(100% - 70px);

    .author-name {
      a {
        font-size: rem-calc(14);
        color: $charcoal;
      }
    }

    .author-handle, .timestamp {
      font-size: rem-calc(12);
      color: $aluminum;
    }
  }

  .like-count {
    font-size: rem-calc(12);
    padding: rem-calc(0 3);

    &:before {
      @include bg-image($bg-image: 'like_grey.png', $bg-position: center center, $bg-size: 15px);
      content: '';
      vertical-align: middle;
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: 0.5rem;
    }

    &.upvoted:before {
      @include bg-image($bg-image: 'like_pink.jpg', $bg-position: center center, $bg-size: 15px);
    }
  }

  .post-wrapper {
    margin-left: rem-calc(70);

    .post-title {
      font-size: rem-calc(16);
      font-weight: 600;
      margin: 0.5rem 0;
    }

    .post-content {
      font-size: rem-calc(14);
      margin-bottom: 0.5rem;
    }

    &.summary {
      cursor: pointer;

      .post-title {
        @include line-clamp(2);
      }
      .post-content {
        @extend .truncate;
        display: block;
        color: $aluminum;
      }
    }

    .comments-count {
      font-size: rem-calc(12);
      padding: rem-calc(0 3);

      a {display: inline;}

      .count {
        display: inline;
        margin-left: 0.5rem;
        padding: 5px;
        background-color: $grey;
        border-radius: 3px;
      }
    }

    .inline-list {
      margin-top: 1rem;
    }

  }

  .comments-container {
    margin-left: 70px;

    .nested {
      margin-left: 70px;
    }

    .comment-wrapper {
      margin:rem-calc(0 0 20 70);


      .comment-content {
        font-size: rem-calc(14);
        margin: 0.5rem 0;
      }

      a {
        font-size: rem-calc(12);
      }
    }

    input {
      @include input-placeholder {
        color: $border-color;
        font-size: rem-calc(12);
      }
    }
  }

  .og-preview {
    margin: 0.5rem 0;
    max-height: 75px;
    overflow: hidden;
    cursor: pointer;

    .og-image {
      img {
        height: 70px;
        width: 100px;
      }
    }

    .og-content {
      margin-left: 0.5rem;
      max-width: calc(100% - 110px);

      .og-source {
        font-size: rem-calc(10);
        color: $aluminum;

        img {
          height: 12px;
          width: 12px;
          margin-right: 0.25rem;
        }
      }

      .og-title {
        color: $edc-blue;
        font-size: rem-calc(14);
        @extend .truncate;
        display: block;
      }
      .og-desc {
        color: $aluminum;
        font-size: rem-calc(12);
        @include line-clamp(2);
      }
    }
  }

  .collapse-action {
    font-size: rem-calc(12);

    &:before{
      position: absolute;
      @include css-triangle(5px, $iron, bottom);
      display: inline;
      margin: rem-calc(5 0 0 -15);
    }
  }
}