// TopNav React Component
// Note: This component is independent of the Foundation TopBar and is not dependent on any part of it.


// Defining these variables here for now. Will move them to foundation_and_overrides once all settings are baked.
$top-nav-height: rem-calc(56);
$responsive-top-nav-width: rem-calc(410);
$link-color: $body-font-color;
$link-hover-color: $edc-pink;
$link-divider-color: #e6e9ed;
$border-color: #d9d9d9;

@mixin component-spacing($horizontal:16px, $vertical:0){
  padding: $vertical $horizontal;
}

.responsive-top-nav {
  height: $top-nav-height;
  width: 100%;
  max-width: $responsive-top-nav-width;
  margin: 0 auto;

  .links ul {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.old-top-nav {
  position: fixed;
  top: 0;
  height: $top-nav-height;
  width: 100%;
  background-color: $white;
  border: 1px solid $border-color;
  @include component-spacing($horizontal:8px);
  @include box-shadow(rgba(0,0,0,0.1) 0px 3px 10px 0px);
  z-index: 999999;

  .responsive-alignment-left {float: left;}
  .responsive-alignment-right {float: right;}

  @media #{$small-only} {
    height: rem-calc(112);

    .responsive-alignment-left { float: none; margin: 0 auto; width: rem-calc(150);}
    .responsive-alignment-right { float: none; margin: 0 auto; width: rem-calc(260); }
  }

  .logo {
    height: $top-nav-height;
    max-width: rem-calc(136);

    .logo-img{
      height: rem-calc(30);
      @include vertical-center;
      @include component-spacing;
    }
    .edc-logo {
      @extend .logo-img;
      border-right: 1px solid $border-color;
    }

    .org-logo {
      @extend .logo-img;
      max-height: rem-calc(30);
      height: auto;
      vertical-align: baseline;
    }
  }

  //.add-insight {
  //  padding: 0 1rem;
  //
  //  img {
  //    margin-top: rem-calc(17);
  //    padding-bottom: rem-calc(19);
  //    height: rem-calc(39);
  //    width: rem-calc(20);
  //  }
  //}

  .signed-out-state {
    a {
      margin: rem-calc(10 5 0 5);
    }
  }
}

// Links
.links {
  @include component-spacing;

  ul {
    @include inline-list;

    li  a {
      height: $top-nav-height;
      line-height: $top-nav-height;
      color: $link-color;
      text-transform: uppercase;

      &.active {
        color: $success-color;
      }

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}



// Search
.search-container {
  position: relative;
  @include component-spacing;
  height: $top-nav-height;
  @media #{$medium-up} {
    width: rem-calc(280);
  }

  &.expand {
    width: 100%;
  }

  .search-icon {
    @include search-icon;
  }

  .search-box {
    @include search-box($margin-top: 13px, $margin-bottom: 7px);
  }

  // adding custom padding to popular & recent search container to fix mis alignment on discovery page
  .popular-searches, .recent-searches{
    padding: rem-calc(0 15 0 15);
  }
}

// Notifications
// Notifications component only works for layout version 4
// and is not backward compatible.

.notifications {
  @include component-spacing;
  margin-top: rem-calc(13);

  a {
    height: rem-calc(30);
    width: rem-calc(30);
  }

  .notification-icon {
    height: rem-calc(20);
    width: rem-calc(18);

  }

  .notifications-count {
    position: relative;
    width: rem-calc(20);
    height: rem-calc(20);
    line-height: rem-calc(15);
    font-size: rem-calc(9);
    text-align: center;
    top: rem-calc(-25);
    left: rem-calc(9);
    @include bg($bg: $edc-pink, $color: $white, $vert-padding: 3px, $horz-padding: 3px, $radius: 50%, $opacity: 1)
  }

  .notifications-list {
    position: absolute;
    margin: 0.5rem 0 0 0;
    padding: rem-calc(2 0);
    top: rem-calc(40);
    right: rem-calc(-9999);
    @include border-radius;
    background-color: $white;
    border: 1px solid $iron;
    z-index: 99;
    width: rem-calc(400);

    .notification-list-wrapper {
      position: relative;
      margin: 0;
    }

    @media #{$small-only} {width: rem-calc(300); }

    &.open {
      right: rem-calc(70);
      &:not(.empty) {
        padding-bottom: rem-calc(33);
      }

      .notification-list-wrapper {
        max-height: rem-calc(332);
        overflow-y: auto;
      }

      .notification:last-child {
        position: absolute;
        bottom: 0;
      }

      li.divider {
        display: none;
      }
    }

    &:before{
      position: absolute;
      @include css-triangle(8px, $iron, bottom);
      margin: rem-calc(-18 0 0 370);
    }

    .notification {

      display: block;
      width: 100%;
      height: rem-calc(66);

      &:hover, &:focus {
        background-color: transparent;
      }

      &:last-child {
        height: rem-calc(33);
        border-top: 1px solid $iron;
      }

      &.unseen {
        a {
          background-color: $hover-color;
        }
      }

      &.empty {
        text-align: center;

        a {
          text-align: center;
          background-color: transparent;

          &:hover, &:focus {
            background-color: transparent;
            cursor: default;
          }
        }
      }

      a {
        height: rem-calc(66);
        width: 100%;
        line-height: rem-calc(66);
        padding: rem-calc(0 24);
        color: #6d6f72;
        font-size: rem-calc(13);
        margin: 0;
        left: 0;

        .user-avatar {
          margin-right: 1rem;
          width: rem-calc(30);
        }

        .user-name {
          font-size: rem-calc(13);
          font-weight: $font-weight-bold;
          color: $charcoal;
        }

        &:hover, &:focus {
          background-color: $hover-color;
        }
      }

      a.action {
        height: rem-calc(33);
        line-height: rem-calc(33);
        padding: rem-calc(0 12);
        font-size: rem-calc(13);
        font-weight: $font-weight-bold;
        color: $aluminum;

        &:hover, &:focus {
          color: $black;
          background-color: transparent;
        }
      }
    }

    li.divider {
      border-top: 1px solid $iron;
      display: block;
      height: 1px;
      width: 100%;
    }
  }

}

// Profile Dropdown
@mixin edc-dropdown($position-right: 1rem, $padding-top: 10, $width: 280, $arrow-position: -26 0 0 250) {
  @include component-spacing;
  margin-top: rem-calc(13);

  a {
    height: rem-calc(20);
    width: rem-calc(20);

    img {
      height: rem-calc(20);
      width: rem-calc(20);
      @include border-radius(50%);
    }
  }

  ul.edc-dropdown-options {
    position: absolute;
    margin: rem-calc(6 0 0 0);
    padding: rem-calc($padding-top 0 0 0);
    @include border-radius;
    background-color: $white;
    border: 1px solid $iron;
    width: rem-calc($width);
    right: rem-calc(-9999);
    height: 0;
    @include opacity(0);
    @include transition-property(height, opacity);
    @include transition-duration(200ms);
    list-style: none;

    &.open {
      height: auto;
      @include opacity(1);
      right: $position-right;
    }

    &:before{
      position: absolute;
      @include css-triangle(8px, $iron, bottom);
      margin: rem-calc($arrow-position);
    }

    li.option {

      a {
        display: block;
        height: rem-calc(42);
        width: 100%;
        line-height: rem-calc(22);
        padding: rem-calc(10 12);
        font-size: rem-calc(13);
        color: $link-color;
        background-color: $grey;
        border-bottom: 1px solid $link-divider-color;

        &:hover {
          background-color: transparent;
          color: $black;
        }
      }
    }

    li.divider {
      border-top: 1px solid $link-divider-color;
      display: block;
      height: 1px;
      width: 100%;
    }

    li.option-with-buttons {
      background-color: $grey;
      padding: rem-calc(10 0);

      a {
        display: block;
        width: rem-calc(80);
        height: rem-calc(30);
        line-height: rem-calc(20);
        padding: rem-calc(4 8);
        margin: rem-calc(0 12);
        font-size: rem-calc(13);
        color: $link-color;
        border: 1px solid $iron;
        border-radius: rem-calc(500);
        text-align: center;
      }
    }

    li.section {
      display: block;
      width: 100%;
      padding: rem-calc(0 12 10 12);
      border-bottom: 1px solid $link-divider-color;

      .nav-section-header {
        font-size: rem-calc(13);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }

      .nav-user-details {
        padding: rem-calc(12 0 0 0);
        font-size: rem-calc(13);
        line-height: rem-calc(22);

        .nav-user-name {font-weight: $font-weight-bold;}
        .nav-user-handle {color: $aluminum; font-weight: $font-weight-normal;}
        .nav-user-email {color: $aluminum; }
      }

      .links {
        padding: rem-calc(12 0 0 0);

        a {
          height: rem-calc(22);
          width: 100%;
          line-height: rem-calc(22);
          font-size: rem-calc(13);
          color: $link-color;

          &:hover {
            background-color: transparent;
            color: $black;
          }
        }
      }

    }
  }
}

.profile-dropdown {
  @include edc-dropdown;
}

.add-content-dropdown {
  @include edc-dropdown($position-right: 10.75rem, $padding-top: 0, $width: 160, $arrow-position: -16 0 0 130);
}

.icon-link {
  @include edc-dropdown;
  a img { border-radius: 0; }
}
/* Not the part of header but visible when search box dropdown is open */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  @include bg($bg: $white, $color: $black, $vert-padding: 0px, $horz-padding: 0px, $radius: 0px, $opacity: 0.8);
}


// Overriding header CSS which is coming from edc-web
#edc-web-nav{
  .top-nav-container .top-nav{
    box-shadow: none !important;
    border: none !important;
    position: static !important;
  } 
}