%non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%svg-icon{
  fill: currentColor;
}

.angle-icon {
  @extend %non-selectable;
  @extend %svg-icon;
  width: rem-calc(35);
  height: rem-calc(35);
}
