// Insights - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -

$tag-bg-color: #ebeef1;
$tag-font-color: #898c90;
$feed-divider: #e4e7ea;
$divider: #edeff2;
$text-color1: #3d4145;
$text-color2: #898c90;
$text-color3: #74787d;
$progress-bar-color: #4FB6F1;


@mixin default-insight(
  $insight-title-line-count: 2,
  $insight-desc-line-count: 3,
  $insight-tags-bg-color: $tag-bg-color,
  $insight-tags-color: $tag-font-color,
  $insight-tags-hover-color: $primary-color
){
  position: relative;
  width: 100%;
  margin-top: rem-calc(24);
  cursor: pointer;
  background-color: $light-ghost;
  @include add-to-pack-menu;

  .rationale {
      display: inline-block;
      @extend .small-font;
      color: $text-color1;
      width: rem-calc(550);

      @media #{$small-only} {
        display: block;
        width: 100%;
      }


      &.cms-card {
        position: absolute;
        top:rem-calc(36);
      }

      .highlight {
        @extend .medium-font;
        font-weight: $font-weight-bold;
        color: $black;
        padding-left: rem-calc(5);
        &:hover { background: $white; }
      }

      .text {
        max-width: rem-calc(500);
        width: auto;
      }
  }

  .rationale-divider {
      margin: rem-calc(5 0);
      border-color: $divider;
  }

	.author-section {
      width: 100%;
      height: rem-calc(46);
      line-height: rem-calc(46);

      .user-profile-link {
        display: inline-block;
      }

      .author-name {
        display: inline-block;
        margin-right: rem-calc(20);
        @extend .medium-font;
        color: $text-color1;
        font-weight: $font-weight-bold;
        padding-left: rem-calc(5);
        max-width: rem-calc(360);
      }
  }

  .content-section {
      .avatar {
        display: inline-block;
      }
      .border-wrapper {
        border: 0.0625rem solid #dbdbdb;
        border-radius: rem-calc(4);
        padding: 1.25rem 0.625rem 0.625rem 0.625rem;
        margin: rem-calc(10) 0 0.625rem 0;
      }
      .posted-time {
        display: inline-block;
        vertical-align: middle;
        @extend .small-font;
        color: $text-color2;
      }

      .message-section {
        margin-top: rem-calc(10);
        .title {
          font-size: rem-calc(24);
          @include line-clamp(2);
          line-height: rem-calc(32);
          margin-bottom: rem-calc(8);
          // white-space: pre-line;
        }

        .description {
          margin-bottom: rem-calc(10);
          font-size: rem-calc(14);
          color: $text-color3;
          @include line-clamp(3);
          // white-space: pre-line;
        }

        .meta-wrapper {
          border: rem-calc(1) solid $card-outline;
          border-radius: $global-radius;
          padding: rem-calc(20) rem-calc(10) rem-calc(10) rem-calc(10);
          margin-bottom: rem-calc(10);
        }

        .og-content {
          .title { font-size: rem-calc(20);
            font-weight: $font-weight-bold;}
          .description {font-size: rem-calc(12); }
        }

        .poll-option {
          @include panel(
            $bg: $tag-bg-color,
            $padding: 8px
          );
          border: 0;
          margin-bottom: rem-calc(5);
          height: rem-calc(38);
          position: relative;

          .progress-bar {
            background-color: $progress-bar-color;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            color: $white;
          }

          .option-label {
            @extend .truncate;
            position: absolute;
            left: rem-calc(40);
            max-width: calc(100% - 100px);
          }

          .option-responses {
            position: absolute;
            right: rem-calc(20);
          }

          &.check {
            font-weight: $font-weight-bold;
            .progress-bar {
              @include bg-image($bg-image: 'check-mark.png', $bg-position: 10px center, $bg-size: 20px);
            }
          }

        }

        .image-container {
          position: relative;
          margin-bottom: rem-calc(10);
        }

        .insight-picture {
          position: relative;
          width: 100%;
          height: rem-calc(260);
        }

        .play-link {
          display: block;
          position: absolute;
        }
        .meta-container {
          border: 1px solid $iron;
          border-radius: $global-radius;
          .meta-content {
            padding: rem-calc(20);

            .title {
              font-size: rem-calc(20);
            }
          }
        }
      }

      .resource {
        .resource-link {
          @extend .medium-font;
          color: $text-color3;
          font-weight: $font-weight-bold;
          display: block;
        }
      }

      .tags-list {
        margin: rem-calc(10 0 0 0);
        .tag {
          margin-left: 0;
          &:not(:first-child) {
            margin-left: rem-calc(5);
          }
          .tag-label {
            background-color: $insight-tags-bg-color;
            color: $insight-tags-color;
            @include border-radius(3px);
            @extend .small-font;
            margin-bottom: rem-calc(5);

            &:hover {
              background-color: $insight-tags-hover-color;
              color: $white;
            }
          }
        }
      }

      .localize-timestamp {
        @extend .medium-font;
        color: $text-color3;
        display: inline-block;
        vertical-align: middle;
      }

      .addthisevent-drop {
        @include bg-image($bg-image: 'calendar_grey.png', $bg-position: center center, $bg-size: 18px);
        display: inline-block;
        vertical-align: middle;
        border: 0;
      }

      .addthisevent_icon {
        background:none;
        left: rem-calc(19);
        top: rem-calc(3);
      }

      .activity-list {
        width: 100%;
        margin: rem-calc(7 0 0 0);
        @media #{$large-up} { width: auto; }
        .activity-item {
          margin: rem-calc(0 10 0 0);
          color: $text-color2;
          font-size: rem-calc(13);

          &:before {
            content: '';
            position: relative;
            line-height: rem-calc(20);
            vertical-align: middle;
          }

          &:last-child {
            margin-right: 0;
          }

          &.commentCount:before {
            @include bg-image($bg-image: 'comment_grey_2.png', $bg-position: center center, $bg-size: 15px 14px);
          }
          &.likeCount:before {
            @include bg-image($bg-image: 'like_grey.png', $bg-position: center center, $bg-size: 15px);
          }
          &.likeCount.upvoted:before {
            @include bg-image($bg-image: 'like_pink.jpg', $bg-position: center center, $bg-size: 15px);
          }
          .add-to-pack {
            width: rem-calc(15);
            height: rem-calc(19);
            padding: rem-calc(0 15);
            @include bg-image($bg-image: 'add_to_pathway.png', $bg-position: center center, $bg-size: 15px);
          }

          .add-to-pack-dropdown {
            margin-top: rem-calc(10);
          }

          .actions-dropdown {
            color: $iron;
            font-size: rem-calc(30);
            margin-top: rem-calc(-16);
            padding-left: rem-calc(8);
            margin-left: rem-calc(-10);
          }

          .f-dropdown {
            outline-width: 0;
          }

        }
      }
  }
}

.floating-label {
  font-size: rem-calc(10);
  font-weight: $font-weight-bold;
  line-height: 1.5;

  &.grey {
    @include bg($bg: #F2F3F5, $color: $charcoal, $horz-padding: 15px, $vert-padding: 5px, $radius: 5px);
  }

  &.pink {
    @include bg($bg: $edc-pink, $color: $white, $horz-padding: 15px, $vert-padding: 5px, $radius: 5px);
  }

  .icon {
    height: rem-calc(16);
    margin-right: rem-calc(12);
  }

}

.cards-list {
  margin: 0;
  .insight-card {
    border-radius: rem-calc(4);
    @include default-insight;

    .card-wrapper {
      background-color: $white;
      padding: 1rem;
    }
    .tag-list-wrapper {
      overflow: hidden;
      &.expanded{
        height: 100%;
      }
      &.collapsed{
        height: rem-calc(47);
      }
    }
  }
}

.play-link {
  @include element-center;
}

.video-stream-rationale {
  display: block;
  padding: 1rem 1rem 0 1rem;
  @extend .small-font;
  background-color: $white;
  border-radius: rem-calc(4);
  width: 100%;
  @media #{$small-only} {
    display: block;
    width: 100%;
  }

  .text {
    max-width: rem-calc(500);
    width: auto;
  }

  hr.rationale-divider {
    margin: rem-calc(5 0);
    color: $divider;
  }
}

// Pathway in Organization Subnav
.pathway-content {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(15);
}

.pathway-tags {
  margin-top: rem-calc(16);
}

// Pathway on a Feed
.pathway-preview-wrapper {
  border: 1px solid $iron;
  border-radius: $global-radius;

  .pathway-image {
    width: 100%;
    height: rem-calc(175);
    background-size: cover;

    .action-hook {
      width: rem-calc(74);
      @include element-center;
    }
  }

  .pathway-toc {
    //width: calc(100% - 260px);
    //height: rem-calc(175);

    ul {
      margin: 0 0 0 -1.3rem;
      padding-top: 0.5rem;

      @media #{$small-only} {
        padding-left: 0.5rem;
      }

      li {
        height: 45px;
        margin-bottom:0.5rem;
        .number {
          height: 30px;
          width: 30px;
          border-radius: 100px;
          color: $white;
          background-color: rgba(0,0,0,0.5);
          margin: 5px;
          text-align: center;
          line-height: 30px;
        }

        .toc-item {
          width: calc(100% - 45px);
          font-size: rem-calc(12);
          @include vertical-center;
        }
      }
    }
  }

}

.featured-wrapper {
  line-height: 2.875rem;
  .featured-text {
    margin-left:rem-calc(5);
    font-size:$paragraph-font-size;
  }
}
