.interest {
  @include label($padding: rem-calc(8 16), $bg:$secondary-color, $radius:true);
  color: $aluminum;
  margin-bottom: 0.5rem;

  &.active {
    background-color: $primary-color;
    color: $white;
  }

  span, i {
    display: inline;
  }

  i {
    margin-right: rem-calc(6);
  }

  &.addable, &.selected {
    cursor: pointer;
  }
}
