.page-hopper-menu {

  a {
    color: $charcoal;

    &:hover {
      color: $black;
    }
  }

  .menu-header {
    font-size: rem-calc(14);
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
  }

  ul.menu-links {
    list-style: none;
    margin-left: 0;

    li {
      font-size: rem-calc(14);
    }
  }

  i {
    margin-right: 0.3rem;
    color: $charcoal;

    &:before {
      width: rem-calc(12);
    }
  }

  .banner-label a {
    display: inline-block;
    @extend .bg-translucent;
    border-radius: $global-radius;
    font-size: rem-calc(12);
    padding: rem-calc(8 12);
    color: $white;
    margin-bottom: rem-calc(16);

    &:hover { color: $white; }
  }

  .view-more-link {
    color: $iron;
    font-size: rem-calc(12);

    &:hover { color: $charcoal; }
  }

  .profile-wrapper {
    border-radius: rem-calc(4);
    background: $white;
    padding: rem-calc(15);
    .hopper-avatar-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
    .hopper-avatar {
      display: inline-block;
      width: rem-calc(88);
      height: rem-calc(88);
    }
    .hopper-info {
      display: inline-block;
      vertical-align: top;
      padding-left: rem-calc(10);
      width: rem-calc(160);
    }
    .hopper-name {
      font-size: rem-calc(13);
      line-height: rem-calc(16);
      display: block;
    }
    .hopper-handle {
      font-size: rem-calc(13);
      line-height: rem-calc(19);
      color: $edc-blue;
      display: block;
    }
    .hopper-stats {

      line-height: rem-calc(14);
      table {
        border: none;
        margin: rem-calc(8 0 0 0);
        td {
          a {
            color: #bababa;
          }
          font-size: rem-calc(13);
          padding:0;
          line-height: rem-calc(14);
        }
        .hopper-label {
          color: #bababa;
        }
        .hopper-data {
          color: #ABABAB;
          padding-left: rem-calc(8);
        }
      }
    }
  }
  .page-hopper-channels {
    background: $white;
    padding: rem-calc(25 35 15 35);
    border-radius: rem-calc(4);

    .section-title {
      margin-bottom: rem-calc(15);
      font-size: rem-calc(13);
    }
    .hopper-channel {
      margin-bottom: rem-calc(12);

      .channel-title {
        margin-bottom: rem-calc(4);
        font-size: rem-calc(13);
        color: #676767;
      }
      .channel-img {
        background: center center no-repeat;
        background-size: cover;
        cursor: pointer;
        height: rem-calc(130);
      }
      .smartbites {
        font-size: rem-calc(13);
        line-height: rem-calc(24);
        .sb-count {
          font-size: rem-calc(12);
          color: $gainsboro;
        }
      }
    }
    .view-more {
      font-size: rem-calc(13);
      color: #676767;
    }
  }
}

.page-hopper-menu > * {
  margin-bottom: rem-calc(15);
}
