.highlight {
  &:hover, &.active {
    background: $edc-blue;
    a {
      color: $white;
    }
  }
}

.right-border {
  border-width: rem-calc(0 1 0 0);
  border-color: $gainsboro;
  border-style: solid;
}

.profile-data-tabs {
  .tabs {
    background-color: $white;
    .active {
      .text-center {
        font-weight: $font-weight-bold;
        color: $edc-blue;
      }
    }

    dd {
      width: 25%;
      a {
        border-top: none;
        padding: 0.5rem 2rem;
      }
    }
  }
  .tabs-content {
    .content {
      .filters {
        font-size: rem-calc(13);
        font-weight: $font-weight-normal;
        background-color: $white;
        @include border-radius(3px);
        @include panel-border($border-width: 1px);
        padding: 0;
        text-align: center;
        cursor: pointer;
        margin: 0 0 0.9375rem 0;
        clear: both;

        a {
          color: $charcoal;
          padding: 0.5rem 0;
        }


        .columns {
          padding-top: rem-calc(3);
          padding-bottom: rem-calc(3);
        }

        li { padding: 0.5rem; }

        #days-7 {
          @extend .highlight;
          &:hover, &.active {
            @include border-radius(3px 0 0 3px);
          }
        }

        #days-30 {
          @extend .highlight;
          border-width: rem-calc(0 1 0 1);
          border-color: $gainsboro;
          border-style: solid;
        }

        #lifetime {
          @extend .highlight;
          &:hover, &.active {
            @include border-radius(0 3px 3px 0);
          }
        }
      }

      .overall-stats {
        @include panel-border($border-width: 1px);
        background-color: $white;
        margin: 0;
        @include border-radius(3px);
        margin-bottom: 0.9375rem;

        .info {
          margin: rem-calc(15 0);
          line-height: rem-calc(15);
          .title-text {
            font-size: rem-calc(12);
            color: $magnesium;
          }

          .content-text {
            .actual-count {
              display: inline;
              font-weight: $font-weight-bold;
            }

            .percentage {
              font-size: rem-calc(12);
              display: inline;

              .fi-arrow-up {
                color: $light-green;
              }

              .fi-arrow-down {
                color: $red;
              }
            }
          }
        }
      }

      .my-contents {
        .info {
          line-height: rem-calc(20);
          .content-text {
            .actual-count {
              padding-right: rem-calc(20);
            }
          }
        }

        #collections, #insights {
          .info {
            @extend .right-border;
          }
        }
      }

      .social-activity {
        #likes, #comments {
          .info {
            @extend .right-border;
          }
        }

        #likes, #comments, #shares {
          .nvd3.nv-wrap.nv-axis { display: none }
        }
      }

      #insights, #collections, #impressions {
        .tick {
          &:not(:first-child) {
            display: none;
          }
        }


        .nv-axisMaxMin {
          display: none;
        }
        .nv-legend-symbol {
          display: none;
        }
      }

    }
  }

  .view-stats {
    font-size: rem-calc(14);
    font-weight: $font-weight-bold;
    margin-top: rem-calc(10);

    .views, .clicks {
      line-height: rem-calc(17);
      display: inline-block;
    }

    .views {
      @extend .right-border;
      padding-right: rem-calc(25);
    }

    .clicks {
      padding-left: rem-calc(25);
    }
  }
}


.heading-title {
  padding: rem-calc(15 0 10 0);
  font-weight: $font-weight-bold;
}