.integration {
  border: 1px solid $card-outline;
  @include border-radius($global-radius);
  height: rem-calc(108);
  padding: 0;

  .provider-meta {
    padding: 0.75rem;
  }

  .provider-logo {
    height: rem-calc(50);
    width: rem-calc(50);
    margin-right: rem-calc(10);
  }

  .provider-info {
    width: calc(100% - 80px);
    word-break: break-all;
  }

  .provider-state {
    cursor: pointer;
    background-color: $gainsboro;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    text-transform: capitalize;

    &:hover {
      color: $primary-color;
    }

    &.enabled {
      background-color: $card-green;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

.school-wrapper {
  margin-bottom: 1.5rem;

  .school-info {
    width: 70%;
    margin-right: rem-calc(20);
    font-size: $paragraph-font-size;
  }

  .school-logo {
    width: 20%;
  }
}

.profile-section {

  background-color: $white;
  border-radius: $global-radius;
  margin-bottom: 1rem;

  .at-svc-pinterest_share, .at-svc-edcast, .at-svc-gmail, .at-svc-compact { display: none !important;}
}


.section-settings {

  .settings-icon {
    cursor: pointer;
  }

  ul.settings-options {

    margin: 0;
    position: absolute;
    list-style: none;
    border: 1px solid $iron;
    padding: 0.3rem 0;
    top: 3rem;
    left: -1.5rem;
    border-radius: 3px;
    font-size: rem-calc(12);
    z-index: 20;
    background-color: $white;
    width: rem-calc(130);

    &:before{
      position: absolute;
      @include css-triangle(5px, $iron, bottom);
      margin: rem-calc(-15 106);
    }

    li {
      cursor: pointer;
      padding: 0 0.3rem;

      &:hover { background-color: $iron };
    }

  }
}
