.pending-invite-menu{
  display: inline-block;

  .Menu__MenuTrigger {
    border: 0;
    font-size: rem-calc(25);
    font-weight: 600;
    cursor: pointer;
  }

  .Menu__MenuOptions{
    z-index: 1;
    width: 150px;
    left: auto;
    right: 0px;
    border-color: $aluminum;

    &:before {
      @include css-triangle(5px, $aluminum, bottom);
      margin: rem-calc(-10 0 0 135);
    }
  }

  .Menu__MenuOption {
    font-size: rem-calc(12);
    color: $charcoal;
  }

  .Menu__MenuOption--active {
    font-size: rem-calc(12);
    color: $white;
  }
}