// Extension of 'Typography' section from `foundation_and_overrides.scss`
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Font Import
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Warning: Importing more than one external font makes the page load/render slow.
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

// Font Sizes
// - - - - - - - - - - - - - - - - - - - - - - - - -
// This calculation could be smarter. Add and subtract based on base-font-size.
.small-font {
  font-size: rem-calc(12);
}

.medium-font {
  font-size: rem-calc(14);
}

.large-font {
  font-size: rem-calc(16);
}

// Font Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -
.white-font {
  color: $white;
}

.pink-font {
  color: $edc-pink;
}

.black-font {
  color: $black;
}

.mute-font {
  color: $aluminum;
}

.charcoal-font {
  color: $charcoal;
}

// Font Weight
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Have to find a better solution for this. Please try not to add any more weight styles here.
.bold {
  font-weight: $font-weight-bold;
}