// Following classes should not be used for any other purpose
// Commenting out the parts of layout that were dependent on the
// nav drawer.
// TODO: @kshitijshah cleanup once the new layout changes are stable.

// $nav-drawer-width: 70px;

.parent-container {
  @include display-flex;

  &.dark-theme {
    & > * {
      color: $white;
    }

    .left-child-container { background-color: $black; }
    .right-child-container { background-color: $mirage; }
  }
}

//.nav-drawer {
//  width: rem-calc($nav-drawer-width);
//  background-color: $light-ghost;
//  @include flex(0 0 rem-calc($nav-drawer-width));
//
//  .nav-list {
//    list-style: none;
//    margin: rem-calc(25 0);
//    width: 100%;
//
//    .nav-item {
//      padding-left: rem-calc(5);
//      text-align: center;
//      margin: rem-calc(5 0);
//
//      a {
//        padding: rem-calc(5 0);
//        text-align: center;
//        border-top-left-radius: rem-calc(8);
//        border-bottom-left-radius: rem-calc(8);
//        display: block;
//
//        img.org-avatar {
//          @include filter(grayscale(100%));
//        }
//
//        &.active {
//          background-color: $white;
//          img.org-avatar {
//            @include filter(grayscale(0%));
//          }
//        }
//      }
//    }
//  }
//
//}


.center-column-wrapper {
  width: 100%;
  text-align: center;
  padding-top: rem-calc(16);

  //@media #{$medium-up} { width: calc(100% - #{$nav-drawer-width}); }
  @media #{$medium-up} { width: 100%; }

    .center-column {
      display: block;
      width: 100%;

      @media #{$large-up} { display: inline-block; }

      .page-hopper {
        display: inline-block;
        vertical-align: top;
        width: rem-calc(280);
        text-align: left;
        // Margin trick for abruptly moving box and unequal spacing
        margin-right: rem-calc(-5);
      }


      .content-column {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: rem-calc(0 16);
        border-radius: rem-calc(4);
        @media #{$small-only} { display: block; width: 100%; margin: 0; padding: rem-calc(0 15); }
        @media #{$medium-up} { max-width: rem-calc(655); }
        &.with-rr {
          @media #{$large-up} {
            margin-left: 0;
            width: calc(100% - 340px - 31px);
          }
        }

        @media #{$medium-only} { margin: 0 auto; display: block; }

        &.without-rr {
          max-width: rem-calc(1000);
          margin: 0 auto;
          padding: rem-calc(0 10);
          display: block;
          position: relative;
        }

        &.content-column-with-hopper-rr {
          @media #{$large-only} { margin-left: 0; }
          @media #{$large-up} { width: calc(100% - 340px - 61px);}
          @media #{$xlarge-up} { width: calc(100% - 340px - 61px - 280px);}
        }
        .tab-section {
          padding: 0;
        }
        .my-channels-wrapper {
          background-color: $white;
          border-radius: 0.25rem;
          padding: 1rem;
        }
      }
      .past-stream-list {
        margin: 0;
      }
      .promotion-column {
        display: none;
        vertical-align: top;
        width: rem-calc(340);
        text-align: left;

        // Margin trick for abruptly moving box
        margin-left: rem-calc(-4);

        @media #{$large-up} { display: inline-block; }

        .right-rail-footer {
          width: rem-calc(340);
        }
        .right-rail-footer.docked-bottom {
          width: rem-calc(340);
          position: fixed;
          bottom: 0;
        }
        .right-rail-footer.docked-top {
          width: rem-calc(340);
          position: fixed;
          top: 86px;
        }
      }
  }
}
