// Notifications component only works for layout version 4
// and is not backward compatible.

.notifications {

  a {
    height: rem-calc(30);
    width: rem-calc(30);
  }

  .notification-icon {
    height: rem-calc(30);
    width: rem-calc(30);

  }

  .notifications-count {
    position: relative;
    width: rem-calc(20);
    height: rem-calc(20);
    line-height: rem-calc(15);
    font-size: rem-calc(9);
    text-align: center;
    top: rem-calc(-46);
    left: rem-calc(12);
    @include bg($bg: $edc-pink, $color: $white, $vert-padding: 3px, $horz-padding: 3px, $radius: 50%, $opacity: 1)
  }

  ul.notifications-list {
    @include dropdown-container($max-width:432px, $triangle:bottom, $content:list);
    margin-top: 0.5rem;
    padding: rem-calc(2 0);
    top: 20px;
    @include border-radius;

    li.notification {
      @include dropdown-style;
      display: block;
      width: 100%;
      height: rem-calc(66);

      &:hover, &:focus {
        background-color: transparent;
      }

      &:last-child {
        height: rem-calc(33);
      }

      &.unseen {
        a {
          background-color: $hover-color;
        }
      }

      a {
        height: rem-calc(66);
        line-height: rem-calc(66);
        padding: rem-calc(0 24);

        .user-avatar {
          margin-right: 1rem;
        }

        .user-name {
          font-size: rem-calc(13);
          font-weight: 600;
          color: $charcoal;
        }

        &:hover, &:focus {
          background-color: $hover-color;
        }
      }

      a.action {
        height: rem-calc(33);
        line-height: rem-calc(33);
        padding: rem-calc(0 12);
        font-size: rem-calc(13);
        font-weight: 600;
        color: $aluminum;

        &:hover, &:focus {
          background-color: transparent;
        }
      }
    }

    li.divider {
      border-top: 1px solid $iron;
      display: block;
      height: 1px;
      width: 100%;
    }
  }

}
// For backward design compatibility till UI is redesigned
.notification-list {
  @include panel-border;
  border: 1px solid $grey;
  .unseen {
    background-color: $grey;
  }

  .notification-item-wrapper:first-child .notification-item {
    border-top: none;
  }
}

.notification-item {
  padding: rem-calc(10);
  border-top: 1px solid $ghost;
  display: inline-block;
  width: 100%;
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-in);


  &:hover {
    background: $grey;
  }

  .message {
    color: $charcoal;
    margin-bottom: 0;
  }

  .all_users img {
    width: rem-calc(30);
    height: rem-calc(30);
    margin-right: rem-calc(5);
    cursor: pointer;
  }

  .view_link {
    font-size: rem-calc(14);
    text-decoration: underline;
  }

  .noti_user_link {
    color: $color_storm_dust_approx;
    font-weight: $font-weight-normal;
  }

  .snippet {
    color: $color_storm_dust_approx;
  }

  .user-image {
    cursor: pointer;
  }
}
