- if courses.present?
  .row
    .small-12.columns
      .section-header
        .section-title #{title}
  .row.list-insights
    .small-12.columns
      - courses.each do |course|
        .list-insight data-equalizer=""
          .image-container data-equalizer-watch=""
            .image style=("background-image: url(#{course_image_url(course)});")
          .insight-content data-equalizer-watch=""
            .h5.truncate.title = course.name
            p.description.small-font= course.description
            .details.small-font
              a.view-link href="#{link_course_path(id: course.id)}" target="_blank" View Details
              div Duration: #{duration(course)}