.wrapper
  .wrapper-container
    .row.pt40
      - if @status == 'already_set'
        h2.edcast-align Already unsubscribed.
      - elsif @status == 'error'
        h2.edcast-align Something went wrong.
      - else
        h2.edcast-align Unsubscribed successfully.

      br
      .unsubscribe-message
        p.edcast-align
          - if @status == 'already_set'
            | You have already been unsubscribed from all future announcements.
          - elsif @status == 'error'
            | Oops! Something went wrong. Please try again later.
          - else
            | Thanks, you have been successfully unsubscribed. <br />You will not receive any more announcements from this forum.

