
br
br
br
br

.row
  .small-12.columns.text-center
    = image_tag asset_path('edcast_logo.png'), height: '30', class: 'edc-logo'



br
br
.row
  .small-12.columns.medium-8.columns.medium-centered
    h4
      strong
        - if @status == 'already_set'
          | Already unsubscribed.
        - elsif @status == 'error'
          | Something went wrong.
        - else
          | You've unsubscribed successfully.

    p
      - if @status == 'already_set'
        | You have already been unsubscribed. Continue on to EdCast and check out the latest Insights.
      - elsif @status == 'error'
        | Oops! Something went wrong. Please try again later.
      - else
        | We'll make sure you don't receive that type of notification again. Continue on to EdCast and check out the latest Insights.
br
.row
  .small-12.columns.text-center
    a.button.radius.pink href="http://www.edcast.com/" Go To EdCast





