div style="border-bottom: 1px solid #ccc"
  .row
    .small-12.columns
      .clearfix
        .left style="height: 70px;"
          = link_to image_tag('edcast_logo.png', class: 'edc-logo'), root_path
        .right style="height: 70px;"
          h3.text-center style="position: relative; top: 50%; transform: translateY(-50%);" Log into your organization

br
= form_for Organization.new, url: switch_organization_path, html: {id: 'switch-organization-form'} do |f|
  input type="hidden" name="display" value="#{params[:display]}"
  input type="hidden" name="next" value="#{params[:next]}"
  .row
    .small-12.columns.text-center
      = f.label :host_name, "Your Team's sub domain on EdCast"
      = f.text_field :host_name, placeholder: 'yoursubdomain', required: true, autofocus: true, :class => 'text-right', :style => 'width: 150px; display: inline-block', :id => 'organization-input', 'aria-label' => 'Enter your domain'
      strong .edcast.com
  .row
    .small-12.text-center
      = f.submit 'Continue', :class => 'button radius success', 'aria-label' => 'Click here to continue'
