div style="border-bottom: 1px solid #ccc"
  .row
    .small-12.columns
      .clearfix
        .left style="height: 70px;"
          = link_to image_tag('edcast_logo.png', class: 'edc-logo'), root_path
        .right style="height: 70px;"
          h3.text-center style="position: relative; top: 50%; transform: translateY(-50%);"
            - if @current_org == Organization.default_org
              | Login to EdCast
            - else
              | #{@current_org.host}


= form_for @user || User.new, url: user_session_path, html: {id: 'login-form'} do |f|
  input type="hidden" name="display" value="#{params[:display]}"
  input type="hidden" name="next" value="#{params[:next]}"

  .row
    .small-12.columns
      .text-center style="margin-top: 1rem;"
        - if @current_org == Organization.default_org
          | Log in to start EdCasting
        - else
          | Log in to #{@current_org.name}

  .row
    .small-12.medium-5.large-5.columns
      .section-title
        h4.text-center Continue with social
      .row
        .small-8.small-centered.columns
          ul.small-block-grid-1
            li style="padding-bottom: 0;"
              a.social-button.facebook href="/auth/facebook?#{{next: params[:next], display: 'popup'}.to_query}" Facebook
            li style="padding-bottom: 0;"
              a.social-button.google href="/auth/google?#{{next: params[:next], display: 'popup'}.to_query}" Google
            li style="padding-bottom: 0;"
              a.social-button.linkedin href="/auth/linkedin?#{{next: params[:next], display: 'popup'}.to_query}" LinkedIn

    .small-12.medium-2.large-2.columns
      .show-for-small-only
        h4.text-center or
      .show-for-medium-up
        .section-title
          h4.text-center or

    .small-12.medium-5.large-5.columns
      .section-title
        h4.text-center Continue with email

      .row
        .small-12.columns
          .row
            .small-12.columns.small-centered
              = f.email_field :email, placeholder: 'Email', required: true, autofocus: true, :id => 'email-input', 'aria-label' => 'Enter email id'
          .row
            .small-12.columns.small-centered[data-equalizer-watch= '']
              = f.password_field :password, placeholder: 'Password', required: true, 'aria-label' => 'Enter password'
          .row
            .small-12.columns.small-centered[data-equalizer-watch= '']
              = f.submit 'Login', :class => 'button radius success expand', 'aria-label' => 'Click here to login'
          .row
            .small-12.columns.small-centered
              = link_to 'Forgot Password?', new_user_password_path, class: 'button radius secondary expand', target: '_blank'
  - if @current_org == Organization.default_org
    .row
      .small-12.columns.text-center
        | Sign in your #{link_to 'team on EdCast here', choose_organization_path}

  .row
    .small-12.columns.small-centered.text-center
      .section-title
        span style="margin-right: 1rem;" New to EdCast?
        = link_to 'Sign up', new_user_registration_path, class: 'button radius info', target: '_blank', data: {amplitude_trigger: 'click', amplitude_event: 'choose_signup', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"codename": "destiny"}'}
