- responses_url = post_comments_path(post.id, params.except(:controller, :group_id, :action))

.discussion-thread
    .thread-wrapper
        .post-content
            .post-header
              h1.post-title = post.title
              p.post-details.response-time
                | discussion posted by 
                a.post-user href="#" #{post.anonymous ? 'Anonymous' : post.user.name}
                span.post-time  on 
                span = post.created_at.to_date.strftime('%d %b, %Y')                            
            .post-body
              p = post.message.html_safe
              p.post-visibility
                | This post is visible to everyone
        .post-extended
            .response-count id="responses-count-#{post.id}" #{post.comments_count} responses
            = link_to '+ Expand', responses_url, class: 'expand-link', id: "expand-#{post.id}", remote: true
            a.collapse-link id="collapse-#{post.id}" - Collapse
            .expanded-container id="expanded-container-#{post.id}"
                .new-response-container
                  = simple_form_for Comment.new, url: post_comments_path(post.id, params.except(:controller, :group_id, :action)), remote: true, class: 'new-response-form' do |f|
                    = f.input :message, placeholder: "Enter new response...", label: false, input_html: { class: "tinyMCEditorInput", id: "#{post.id}_comment_message", rows: 3 }
                    = f.submit 'Add Response', class: 'new-response-submit-btn', data: {disable_with: 'Saving...'}
                .responses-container
                / .comments-container
                /     .comment
                /       .comment-body
                /         p.comment-content This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment.
                /         p.comment-info
                /           | Posted about an hour by
                /           a.comment-user href="#"  Vaibhav Jain
                /     .comment
                /       .comment-body
                /         p.comment-content This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment. This is a comment.
                /         p.comment-info
                /           | Posted about an hour by
                /           a.comment-user href="#"  Vaibhav Jain
                / .new-comment-container
                /     = form_tag comment_comments_path(comment.id, params.except(:controller, :group_id, :action, :post)), remote: true, class: 'new-comment-form' do
                /         = text_area_tag :message, nil, placeholder: "Enter new comment...", class: 'tinyMCEditorInput', id: post.title+'string'
                /         = submit_tag 'Add Comment', class: 'new-comment-submit-btn', data: {disable_with: 'Saving...'}
