doctype html
/![if lt IE 7] <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7"
/![if IE 7] <html class="ie ie7 lt-ie9 lt-ie8"
/![if IE 8] <html class="ie ie8 lt-ie9"
/![if IE 9] <html class="ie ie9"
/! [if (gte IE 9)|!(IE)]><!
html itemscope="" itemtype="http://schema.org/Article" lang="en" prefix=("og: http://ogp.me/ns#")
  /! <![endif]
  head
    /! Stylesheets
    = stylesheet_link_tag 'application_v4'
    = stylesheet_link_tag 'forum'
    /! Scripts

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery_ujs'
    script src="//cdn.tinymce.com/4/tinymce.min.js"
    = javascript_include_tag 'discussion_forum'

    javascript:
        setInterval(function() {
            var elem = document.getElementById('forum-container');
            var msg = {event: "destinyforum.set_height", size: elem.scrollHeight};
            parent.postMessage(JSON.stringify(msg), '*');
        }, 500);
  body
    .forum-container#forum-container
        .forum-module
            a.show-link + Show Discussion
            a.hide-link - Hide Discussion
            a.new-post-btn New Post
            .new-thread-container
              = simple_form_for Post.new, url: group_posts_path(@postable.id, params.except(:controller, :group_id, :action, :context_id, :context_label)), remote: true, input_html: { class: 'new-thread-form' } do |f|
                = f.input :title, placeholder: "title", label: false, input_html: { id: 'post_title' }
                = f.input :message, placeholder: "Enter new thread...", label: false, input_html: { class: "tinyMCEditorInput", rows: 3 }
                = f.input :anonymous, as: :boolean, label: ' Post anonymously'
                = f.input :type, input_html: { value: 'Question' }, as: :hidden
                = f.input :context_id, input_html: { value: params[:context_id] }, as: :hidden
                = f.input :context_label, input_html: { value: params[:context_label] }, as: :hidden
                .post-controls
                    = link_to 'Cancel', '#', class: 'cancel-new-thread'
                    = f.submit 'Add Post', class: 'new-thread-submit-btn', data: {disable_with: 'Saving...'}
            .threads
                / each loop started for posts object
                - @posts.each do |post|
                  = render 'post', post: post
                .thread-tools
