// Advertisements (for the bread and butter) - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
.ads-list {
  margin: 0;
}

.ad {
  padding: 0.5rem;

  .ad-image {
    height: rem-calc(90);
    width: rem-calc(100);
    @include background-size(cover);
    background-position: center center;
  }

  .ad-detail {
    width: calc(100% - 110px);
    margin: 0 0 0 0.5rem;
    max-height: 90px;

    p {
      margin-bottom: 10px;
    }
  }
}