#assignment-notification-wrapper   {
    color: white;
    text-align: center;
    background: #00A1E1;
    margin: 10px auto;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    #assignment-notification {
      width:95%;
      text-align: center;
    }
    a {
      color: white;
    }
}
