// Avatars - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used to display user objects across the app.
// If not displaying a user object, use `_circles.scss` instead.

// Mixin
// - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin default-avatar($size: 46) {
  height: rem-calc($size);
  width: rem-calc($size);
  @include border-radius(50%);
}

.avatar {
  @include default-avatar;
}

.medium-avatar {
  @include default-avatar(60);
}

.large-avatar {
  @include default-avatar(90);
}

.small-avatar {
  @include default-avatar(30);
}

.org-member-avatar {
  .org-suspend-icon {
    width: rem-calc(18);
    top: rem-calc(28);
    position: absolute;
    left: rem-calc(43);
  }
}

.stream-suspend-icon {
  width: rem-calc(18);
  top: rem-calc(27);
  position: absolute;
  left: rem-calc(27);
}

.card-suspend-icon {
  width: rem-calc(18);
  top: rem-calc(86);
  position: absolute;
  left: rem-calc(28);
}

.search-avatar {
  position: relative;
  .search-user-suspend-icon {
    width: rem-calc(22);
    position: absolute;
    bottom: rem-calc(1);
    left: rem-calc(37);
  }
}

.avatar-image-wrapper {
  position: relative;
  .pf-icon {
    height: rem-calc(45);
    width: rem-calc(45);
    border-radius: rem-calc(999);
  }
  .searchcard-suspend-icon {
    width: rem-calc(18);
    position: absolute;
    top: rem-calc(27);
    left: rem-calc(28);
  }
}

.profile-avatar {
  position: relative;
  .pf-image {
    background-size: cover;
    height: 100px;
    width: 100px;
  }
}

.suspended-avatar-icon {
  width: rem-calc(32);
  position: absolute;
  bottom: rem-calc(18);
  right: rem-calc(2);
}

// adding background size property to small avatar
.avatar-background-size-cover{ 
  // using important to fix the image size issue on pathway
  background-size: cover !important;
}