// Backgrounds section 
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable backgrounds containers defined here.

@mixin bg($bg: $white, $color: $black, $vert-padding: 5px, $horz-padding: 8px, $radius: 0px, $opacity: 1) {
	background-color: rgba($bg, $opacity);
	color: $color;
	@include border-radius($radius);
	padding: $vert-padding $horz-padding;
}

// Black translucent container
.bg-translucent {
	@include bg($bg: #000, $color: $white, $vert-padding: 5px, $horz-padding: 10px, $radius: 4px, $opacity: 0.6)
}

.bg-white {
  @include bg($bg: $white, $color: $black, $vert-padding: 0px, $horz-padding: 0px, $radius: 0px, $opacity: 1)
}
