// Extension of 'Buttons' section from `foundation_and_overrides.scss`
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Notes:
// - - - - - - - - - - - - - - - - - - - - - - - - -
// button styles are very specific, always try to use the default foundation buttons first


@mixin wide-button-size($padding: $button-med) {
  @if $padding {
    padding: $padding * 0.6 ($padding * 4) ($padding * 0.6 + rem-calc(1)) ($padding * 4);
  }
}

.button {
  
  // Wider sized buttons
  // - - - - - - - - - - - - - - - - - - - - - - - - -
  &.wide {
    @include wide-button-size($padding: $button-med);

    &.large { @include wide-button-size($padding: $button-lrg); }
    &.small { @include wide-button-size($padding: $button-sml); }
    &.tiny { @include wide-button-size($padding: $button-tny); }
  }

  // Additional button styles
  // - - - - - - - - - - - - - - - - - - - - - - - - -

  // Transparent Button Style
  &.transparent {
    @include button-style($bg:rgba(0,0,0,0));
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    &.pink {
      @include button-style($bg:rgba(0,0,0,0));
      color: $edc-pink;

      &:hover {
        color: $edc-pink;
      }
    }
  }

  // Hollow Button Style
  &.hollow {
    @include button-style($bg:rgba(0,0,0,0), $bg-hover: $primary-color, $border-color: $primary-color);
    color: $primary-color;

    &.pink {
      @include button-style($bg:rgba(0,0,0,0), $bg-hover: $edc-pink, $border-color: $edc-pink);
      color: $edc-pink;
    }

    &:hover {
      color: $white;
    }
  }

  // Pink Button Style, Can also be used as .success
  &.pink {
    @include button-style($bg: $edc-pink, $border-color: $edc-pink);
  }

  // Disabled Button
  // - - - - - - - - - - - - - - - - - - - - - - - - -
  // Disabled Button style is the same, irrespective of the background color
  &.inactive,&[disabled='disabled'], &[disabled='disabled']:focus { //Inactive class is used in SocialShare.js.jsx
    background-color: $iron;
    border: $iron;
    color: $white;
    opacity: 1;
    cursor: default;

    &.inactive,&:hover { // Need inactive class here to show hover colors by default for inactive state
      background-color: $aluminum;
      border: $aluminum;
      cursor: default;
    }
  }
}

// Learn Button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used on the settings page for the user.
// Also used externally by the user.
// This button has a fixed size
.learn-button {
  @include button($bg: $edc-blue);
  @include border-radius($global-radius);
  border: 0px;
  background-image: url('/assets/ed_learn_white.png');
  @include background-size(rem-calc(18) auto);
  background-position: rem-calc(8) center;
  padding: rem-calc(4 8 4 34);
  background-repeat: no-repeat;
  line-height: rem-calc(20);
  font-size: rem-calc(12);
  font-family: Arial;
}

// Follow Button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used for following Users, Channels etc.
// This button has a fixed size
.follow-button {
  @include button;
  @include border-radius($global-radius);
  padding: rem-calc(5 6 5 0);
  width: rem-calc(110);

  .follow-image {
    background: url('/assets/ed_logo.svg') no-repeat;
    background-position: rem-calc(10) center;
    @include background-size(rem-calc(15) auto);
    float: left;
    padding: rem-calc(8);
    width: rem-calc(40);
  }

  .follow-text:before {
    border-left: 1px solid $iron;
    bottom: 0;
    content: '';
    left: rem-calc(35);
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .follow-text.no-image:before {
    display: none;
  }
}

// Social Media Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Social Media Buttons that align with Edcast App Styling
.social-button {
  @include button;
  @include background-size(auto rem-calc(20));
  background-position: rem-calc(10) center;
  padding: rem-calc(10 10 10 45);
  background-repeat: no-repeat;
  @include border-radius($global-radius);
  border: 0;
  width: 100%;
  font-size: rem-calc(14);
  margin-bottom: 1rem;

  &.facebook {
    background-image: image-url('facebook_white.png');
    background-color: #3b539a;
  }

  &.google {
    background-image: image-url('google_white.png');
    background-color: #ef2219;
  }

  &.linkedin {
    background-image: image-url('linkedin_white.png');
    background-color: #0079b9;
  }

  &.salesforcepartners {
    background-image: image-url('sso/salesforcepartners.png');
    background-color: #003c4d;
    @include background-size(auto rem-calc(30));
  }

  &.salesforcedevelopers {
    background-image: image-url('sso/salesforcedevelopers.png');
    background-color: #003c4d;
    @include background-size(auto rem-calc(30));
  }

  &.salesforce {
    background-image: image-url('sso/salesforce.png');
    background-color: #003c4d;
    @include background-size(auto rem-calc(30));
  }

  &.salesforceusers {
    background-image: image-url('sso/salesforceusers.png');
    background-color: #003c4d;
    @include background-size(auto rem-calc(30));
  }

  &.office365 {
    background-image: image-url('office365_icon.jpg');
    background-color: #DB4437;
  }

  &.edcast {
    background-image: image-url('ed_logo.svg');
    background-color: $edc-pink;
  }
  &.org_oauth {
    background-image: image-url('sso/org_oauth_white.png');
    background-color: #047AA6;
    @include background-size(auto rem-calc(25));
  }
  &.saml {
    background-image: image-url('sso/saml_white.png');
    background-color: #D62934;
    @include background-size(auto rem-calc(25));
  }
}

@media #{$medium-up} {
  .social-button {
    padding: rem-calc(14 14 14 45);
  }
}


// Small edit button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Small edit button whith black translucent background can be used on cards

.small-edit-button {
  @extend .bg-translucent;
  @include border-radius(50%);
  background-image: url('/assets/edit_white.png');
  width: rem-calc(20);
  height: rem-calc(20);
  background-repeat: no-repeat;
  @include background-size(auto rem-calc(9));
  background-position: rem-calc(6) center;
  position: absolute;
  top: rem-calc(5);
  right: rem-calc(5);
}
// Edit Button 
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used on Channels page
.edit-button {
  @extend .bg-translucent;
  background-image: url('/assets/edit_white.png');
  background-repeat: no-repeat; 
  @include background-size(auto rem-calc(12));
  background-position: rem-calc(10) center;
  position: relative;
  border: 1px solid rgba($white, 0.7);
  font-size: rem-calc(12);
  padding-left: rem-calc(50);

  &:before {
    border-left: 1px solid $white;
    content: '';
    left: rem-calc(-14);
    @include vertical-center;
    height: rem-calc(14);
  }

  &:hover {
    color: $white;
  }
}