// Card Packs - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
// 1. Standalone Card pack
//    1.1 Pack Cover
//    1.2 Pack Navigation
//    1.3 Pack Cover Form
// 1. Standalone Card pack
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable on any page as long as the HTML markup is maintained
//  1.1 Pack Cover
//----- Starts Here -----//
.cover-display {
  height: rem-calc(108);
  margin-bottom: 1rem;
  &.new-cover {
    background-color: $iron;
    border: 2px dashed $aluminum;
    padding-top: rem-calc(25);
    cursor: pointer;
    .default-cover {
      background: url('/assets/card_pack_collection_icon.png') no-repeat 50% 3px;
      background-size: 4%;
      display: block;
      height: rem-calc(20);
      width: 100%;
    }
    span {
      display: block;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .cover-name {
    display: block;
    background: $black;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    left: 10%;
    line-height: 1.5;
    opacity: 0.7;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    text-overflow: ellipsis;
    top: 38%;
    white-space: nowrap;
    width: 80%;
    word-break: break-all;
  }
  .cover-image {
    height: rem-calc(108);
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: $white;
    @include border-radius(3px);
    cursor: pointer;
  }
  .edit-cover {
    background: url('edit_icon.png') no-repeat 98% rem-calc(5);
    background-size: 8%;
    float: right;
    height: rem-calc(35);
    position: absolute;
    width: 100%;
  }
}
//----- Ends Here -----//
// 1.2 Pack Navigation
//----- Starts Here -----//
.pack-navigation-controls {
  height: rem-calc(37);
  background-color: $white;
  margin-bottom: 1rem;
  .position-indicator {
    display:inline-block;
    color: $aluminum;
    font-size: rem-calc(12);
    font-weight: 400;
    text-align: center;
    width: calc(100% - 70px);
    line-height: rem-calc(35);
  }
  .left {
    color:$edc-blue;
    cursor: pointer;
  }
  .right {
    color:$edc-blue;
    cursor: pointer;
  }
}
//----- Ends Here -----//
