.add-to-pack-common {
  position: absolute;
  width: rem-calc(24);
  height: rem-calc(24);
  border-radius:  rem-calc(5);
  border: rem-calc(5) solid $black;
  background-color: $black;
  background-size: 100% 100%;
  background-image: image-url('add-to-pack.png');
}
//on hover actions
@mixin on-hover-actions {
  .on-hover-actions {
    @extend .add-to-pack-common;
    visibility: hidden;
    z-index: 1;
  }
  &:hover {
    a.on-hover-actions {
      visibility: visible;
    }
  }
}

// non-hover actions
@mixin non-hover-actions {
  .static-action {
    height: rem-calc(18);
    width: rem-calc(18);
    background-image: url('/assets/add-to-pack-grey.png');
    background-size: 100% 100%;
    //visibility: visible;
    //z-index: 1;
  }
}

//Add to Pack menu dropdown
@mixin add-to-pack-menu {
  .add-to-pack-dropdown {
    @include radius;
    @include dropdown-container(
     $max-width: rem-calc(250)
    );
    z-index: 2;

    .info {
      &:hover {
        background: $white;
      }
    }

    .inactive {
      a {
        cursor: default;
        color: $smoke;
      }

      &:hover {
        background: $white;
      }
    }

    .dr-li:last-child{
      height: 2.5rem;
    }

    .close-drop {
      margin: rem-calc(5 5 0 0);
    }

    .response-msg {
      padding: rem-calc(27) 1rem;
      margin-bottom: 0;
      cursor: default;
    }

    .ajax-loader {
      display: block;
      padding: 6rem;
      color: $charcoal;
      text-align: center;
    }
  }
}
