// Cards - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
// 1. Grid Card
// 2. Standalone Card

// Mixin
// - - - - - - - - - - - - - - - - - - - - - - - - -
// To be used as the base mixin for all card type templates
@mixin default-card(
  $card-media-resource: true,
  $card-border-color: $iron,
  $card-label-color: $white,
  $card-label-background-color: rgba(0,0,0,0.5),
  $card-section-height: 35%,
  $card-background-color: $silver,
  $card-section-background-color: $white,
  $card-author-color: $charcoal,
  $card-author-hover-color: $primary-color,
  $card-line-count: 2,
  $card-content-color: $charcoal,
  $card-tags-color: $iron,
  $card-tags-hover-color: $primary-color,
  $card-before-padding-top: 100%
){

  &:before {
    content: "";
    display: block;
    padding-top: $card-before-padding-top;
  }

  &:hover{
    a.on-hover-actions {
      visibility: visible;
    }
  }
  position: relative;
  width: 100%;
  @include background-size(cover);
  background-position: center center;
  cursor: pointer;
  background-color: $card-background-color;

  @include panel-border;

  @if $card-media-resource == false { background-image: none !important; }

  .card-overlay {
    @include gradient-overlay(0, 0, 0);
  }

  .on-hover-actions {
    display: block;
    position: absolute;
    width: rem-calc(24);
    height: rem-calc(24);
    border-radius: 5px;
    border: 5px solid black;
    background-color: black;
    top: 0px;
    right: 0px;
    background-size: 100% 100%;
    visibility: hidden;

    &.add-to-pack {
      right: rem-calc(35);
      background-image: image-url('add-to-pack.png');
      padding: 0;
    }

    &.open-card {
      background-image: image-url('open_stand_alone.png');
    }
  }

  .card-label {
    position: absolute;
    top: 0;
    left: 1.5rem;
    padding: 0 0.5rem;
    font-size: rem-calc(12);
    color: $card-label-color;
    background-color: $card-label-background-color;

    &.live-stream {
      background-color: $alert-color;
    }
  }

  .card-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $card-section-background-color;

    @if $card-section-height == 100% { height: calc(100% - 45px); }
    @else { height: $card-section-height; }
  }

  .card-divider {
    padding: 0 1rem;
    margin-top: rem-calc(-23);
  }

  .actions-wrapper {
    width: 100%;
    padding: rem-calc(0 0 0 46);
  }

  .author {
    height: rem-calc(46);
  }

  .author-name {
    @if $card-media-resource { padding: rem-calc(2) 0.5rem; }
    @if $card-media-resource == false { padding: 0.8rem 0 0 0.5rem; }
    font-size: rem-calc(14);
    width: 80%;
    @extend .truncate;

    a {
      color: $card-author-color;

      &:hover {
        color: $card-author-hover-color;
      }
    }
  }

  .actions {
    width: 90%;
    color: $ghost;

    ul {
      visibility: hidden;
      list-style: none;

      li {
        float: right;
        margin: 0 1rem 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  .card-content {
    padding: 0 1rem;
    @if $card-media-resource == false { @include vertical-center; }

    .title {
      height: 1.4rem * $card-line-count;
      -webkit-line-clamp: $card-line-count;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $card-content-color;

      @if $card-media-resource == false { margin-top: 1rem; }
    }
  }

  .tags {
    position: absolute;
    margin: 0 0 0.5rem 0;
    height: 1rem;
    overflow: hidden;
    font-size: rem-calc(12);
    bottom: 0;
    padding: 0 1rem;

    li:first-child {
      margin-left: 0;
    }

    a {
      color: $card-tags-color;

      &:hover {
        color: $card-tags-hover-color;
      }
    }
  }
}

@mixin card-stack-effect($top-distance: rem-calc(3), $left-distance: rem-calc(3)){
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: $top-distance;
  left: $left-distance;
  background-color: $silver;
  border: 1px solid $aluminum;
  z-index: -3;
  border-radius: rem-calc(5);
  transition: top 0.2s, left 0.2s;
}


// 1. Grid Card
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable on any page as long as the HTML markup is maintained

.link-card {
  @include default-card;
}

.video-card {
  @include default-card;
  @include add-to-pack-menu;
}

.text-card {
  @include default-card(
    $card-media-resource: false,
    $card-section-height: 100%,
    $card-background-color: $card-green,
    $card-section-background-color: $card-green,
    $card-author-color: $white,
    $card-author-hover-color: $card-green-hover,
    $card-line-count: 5,
    $card-content-color: $white,
    $card-tags-color: $silver,
    $card-tags-hover-color: $card-green-hover
  );
}

.image-card {
  @include default-card(
    $card-media-resource: true,
    $card-section-height: 35%,
    $card-background-color: $ghost,
    $card-section-background-color: rgba(153,153,153,0),
    $card-author-color: $white,
    $card-author-hover-color: $ghost,
    $card-line-count: 2,
    $card-content-color: $white,
    $card-tags-color: $iron,
    $card-tags-hover-color: $ghost
  );
}

.poll-card {
  @include default-card(
    $card-media-resource: false,
    $card-section-height: 100%,
    $card-background-color: $card-blue,
    $card-section-background-color: $card-blue,
    $card-author-color: $white,
    $card-author-hover-color: $card-blue-hover,
    $card-line-count: 3,
    $card-content-color: $white,
    $card-tags-color: $silver,
    $card-tags-hover-color: $card-blue-hover
  );

  a.button {
    @include button($bg: rgba(0,0,0,0));
    @include border-radius($global-radius);
    color: $white;
    border: 1px solid $white;
    display: block;
    &:hover {
      color: $card-blue;
      background-color: $white;
    }
    margin: 0.5rem auto;
    max-width: rem-calc(120);
  }
}

.card-pack {
  @include default-card(
  $card-media-resource: true,
  $card-section-height: 35%,
  $card-background-color: $ghost,
  $card-section-background-color: rgba(153,153,153,0),
  $card-author-color: $white,
  $card-author-hover-color: $ghost,
  $card-line-count: 2,
  $card-content-color: $white,
  $card-tags-color: $iron,
  $card-tags-hover-color: $ghost
  );

  border: 0;

  .actions-wrapper {
    .author-name {
      margin-top: -10px;
    }
  }

  .card-section, .card-overlay {
    border-radius: 5px;
  }

  .stack {
    @include card-stack-effect();
  }

  .stack-2 {
    @include card-stack-effect($top-distance: rem-calc(6), $left-distance: rem-calc(6));
    z-index: -4;
  }

  &:hover {
    .stack {
      top: 5px;
      left: 5px;
    }

    .stack-2 {
      top: 10px;
      left: 10px;
    }
  }
}

.channel-card {

  @include default-card(
    $card-before-padding-top: 48%
   );

  a.button {
    @include vertical-center;
  }

  .channel-card-overlay {
    @include solid-overlay;
  }

  .channel-title {
    color: $white;
    position: absolute;
    top: 28%;
    width: 100%;
    font-size: 1rem;
  }

  .card-section {
    padding: 0 1rem;
  }

  .count-section {
    @include vertical-center;
    @include border-radius(0px 0px, 2px 2px);
  }

  .count-sub-section {
    display: inline-block;
    position: relative;

    &:not(:first-child) {
      padding: rem-calc(0 0 0 30);
    }

    &:not(:first-child):after {
      border-left: 1px solid $charcoal;
      content: '';
      left: rem-calc(13);
      @include vertical-center;
      position: absolute;
      height: rem-calc(25);
    }
  }

}



// - - - - - - - - - - - - - - - - - - - - - - - - -
// Grid Card Styling - End
// - - - - - - - - - - - - - - - - - - - - - - - - -


// 2. Standalone Card
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Styling for a standalone card

@mixin default-standalone-card(
  $card-media-resource: false,
  $card-media-background-color: $silver,
  $card-media-section-height: 150,
  $card-author-color: $charcoal,
  $card-author-hover-color: $primary-color,
  $card-tags-color: $iron,
  $card-tags-hover-color: $primary-color
){

  width: 100%;

  .card-media {
    @if $card-media-resource { min-height: rem-calc($card-media-section-height); }
    @if $card-media-resource == false { height:  rem-calc($card-media-section-height); }

    background-color: $card-media-background-color;

    .card-divider {
      @include vertical-center;
      margin-left: 3rem;

      .author-name {
        a {
          color: $card-author-color;

          &:hover {
            color: $card-author-hover-color;
          }
        }
      }
    }
  }

  .card-section {
    margin: 1rem 0;
    padding: 0;
  }

  .card-divider {
    height: rem-calc(46);
    margin-bottom: 1rem;
  }

  .author-name {
    @include vertical-center;
    margin-left: 1rem;
    width: 80%;
    @extend .truncate;

    a {
      color: $card-author-color;

      &:hover {
        color: $card-author-hover-color;
      }
    }
  }

  .share-bar {
    width: 100%;
    height: rem-calc(34);
    margin-bottom: 0.5rem;
  }

  .actions {
    @include vertical-center;

    ul {
      list-style: none;
      margin-left: 0;

      li {
        float: left;
        margin: 0 0 0 1rem;

        &:first-child{
          margin: 0;
        }
      }
    }
  }

  .tags {
    margin-bottom: 0;
    height: 1rem;
    overflow: hidden;
    font-size: rem-calc(12);
    left: 0;
    bottom: 0;

    a {
      color: $card-tags-color;

      &:hover {
        color: $card-tags-hover-color;
      }
    }
  }
}

.standalone-card {
  @include default-standalone-card;
}

.standalone-card-handle {
  font-size: 0.7em;
  margin-left: 1rem;
  display: inline-block;
}

.standalone-link-card, .standalone-image-card {
  @include default-standalone-card(
    $card-media-resource: true
  );
  @include add-to-pack-menu;
  .link-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    .card-link-title {
      display: inline;
    }
  }
}

.standalone-video-card, .standalone-stream-card {
  @include on-hover-actions;
  @include add-to-pack-menu;
  @include default-standalone-card(
    $card-media-resource: true,
    $card-media-section-height: 294
  );
  .card-section { padding: 0 0.5rem;}
}

.standalone-text-card {
  @include default-standalone-card(
    $card-media-resource: false,
    $card-media-background-color: $card-green,
    $card-author-color: $silver,
    $card-author-hover-color: $card-green-hover,
    $card-tags-hover-color: $card-green-hover
  );
  @include add-to-pack-menu;
}

.standalone-poll-card {
  @include default-standalone-card(
    $card-media-resource: false,
    $card-author-color: $silver,
    $card-author-hover-color: $card-blue-hover,
    $card-media-background-color: $card-blue,
    $card-tags-hover-color: $card-blue-hover
  );

  @include add-to-pack-menu;

  .poll-option-radio {
    display: inline-block;
    width: rem-calc(15);
    vertical-align: top;
    margin-top: rem-calc(5);
  }

  .poll-option-label {
    display: inline-block;
    width: calc(100% - 45px); //45px = margins + input radio width
    vertical-align: top;
    line-height: rem-calc(20);
    margin-bottom: rem-calc(10);
  }

  .poll-stats {
    margin-top: 1rem;
  }
  .option-percentage {
    display: inline-block;
    font-size: rem-calc(12);
    width: 2.5rem;
    margin-right: 1rem;
  }

  .question-option {
    width: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
  }

  .option-label {
    display: inline-block;
  }

  .percentage-bar {
    height: 0.5rem;
    background-color: $card-blue;
    margin: 0.5rem 0 0.7rem;
  }
  .author-name {
    a {
      color: $charcoal;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.standalone-poll {
  @include default-standalone-card(
    $card-media-resource: true,
    $card-author-color: $silver,
    $card-author-hover-color: $card-blue-hover,
    $card-media-background-color: $card-blue,
    $card-tags-hover-color: $card-blue-hover
  );

  .poll-stats {
    margin-top: 1rem;
  }
  .option-percentage {
    display: inline-block;
    font-size: rem-calc(12);
    width: 2.5rem;
    margin-right: 1rem;
  }

  .option-label {
    display: inline-block;
  }

  .percentage-bar {
    height: 0.5rem;
    background-color: $card-blue;
    margin: 0.5rem 0 0.7rem;
  }
  .author-name {
    a {
      color: $charcoal;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// Card Left Container
// Comments Section
.comments-pagination {
  margin: 1.5rem 0.25rem;
  font-size: rem-calc(14);
}

.comment-container {
  @include flex(2);
  overflow-x: hidden;
  overflow-y: auto;
}

.comment-container-wrapper {
  @include display-flex($direction: column);
}

.insert-comment-wrapper {
  @include flex(2);
  @include flex-grow(2);
}

.comments-list {
  list-style: none;
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.comment {
  @include display-flex;

  .user-avatar {
    margin: 0 0.5rem;
    width: 50px;
  }

  .author-name {
    font-size: rem-calc(14);
    font-weight: 400;

    a {
      color: $charcoal;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .timestamp {
    font-size: rem-calc(12);
    display: inline-block;
  }

  .comment-details {
    padding: 0.25rem 0 0 0.25rem;
    @include flex-grow(2);
    width: calc(100% - 70px);
    word-wrap: break-word;
  }

  .delete-action {
    opacity: 0;
    transition: 0.2s all;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
  }

  &:hover {
    .delete-action {
      opacity: 1;
    }
  }
}

.comment-actions {
  @include display-flex;
  padding-top: rem-calc(10);
  border-top: 1px solid $ghost;

  .comment-action {
    padding: rem-calc(4);
    height: rem-calc(30);
    margin-bottom: rem-calc(10);
    width: calc(100% - 80px);
  }

  .action-icon {
    height: rem-calc(20);
    width: auto;
    margin: rem-calc(5) 0.7rem;
    cursor: pointer;
  }
}

#card-parent-container {
  @include non-hover-actions;
  @include add-to-pack-menu;
  margin: 2rem 0;
  @include panel-border;

  &.embedded {
    margin: 0;
  }
  .viewer-list {
    padding: 0.5rem 0;
  }
}

.vertical-container {
  margin: 2rem 0;
  @include panel-border;

  &.embedded {
    margin: 0;
  }

  .addthis_sharing_toolbox {
    padding-top: rem-calc(8);
  }

  .author-name {
    width: 53%;
  }

  .card-content {
    border-bottom: 1px solid $iron;
  }

  .card-section {
    margin: 0;
    padding: 0 0.5rem;
    .assignment-state {
      margin-right: 1rem;
      margin-top: rem-calc(6);
      .started {
        border: 1.5px solid #47B4E5;
        border-radius: rem-calc(3);
        padding: rem-calc(5);
        color: #47B4E5;
      }
      .completed {
        border: 1.5px solid green;
        border-radius: rem-calc(3);
        padding: rem-calc(5);
        color: green;
      }
      .assigned {
        border: 1.5px solid #E94462;
        border-radius: rem-calc(3);
        padding: rem-calc(5);
        color: #E94462;
      }
    }
  }

  .comments-list {
    max-height: rem-calc(300);
  }

  .share-bar {
    height: auto;
  }
  .tags {
    margin-bottom: 1rem;
  }
}

#stream-vertical-container {
  @extend .vertical-container;
  .social-activity-info {
    margin: 0;
    padding: 0;
    height: inherit;
  }
  .comment, .viewer-container {
    .author-name {
      margin-left: 0;
      transform: unset;
      top: 0;
    }
  }
}

#card-vertical-container {
  @extend .vertical-container;
  .card-content {
    word-break: break-word;
  }
  .social-activity-info {
    margin: 0.5rem 0;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Standalone Card Styling - End
// - - - - - - - - - - - - - - - - - - - - - - - - -

#course-cards {
  .link-card {
    .card-section {
      height: 32%;

      .card-content {
        .title {
          word-wrap: break-word;
        }
      }

      .course-card-footer {
        list-style: none;
        margin: 0 0 0.5rem 0;
        overflow: hidden;
        font-size: 0.75rem;
        bottom: 0;
        padding: 0 1rem;

        .term {
          line-height: 44px;
        }

        li {
          margin-left: 0;
          .enroll-button {
            border-style: solid;
            border-width: 0.0625rem;
            cursor: pointer;
            line-height: normal;
            text-align: center;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            display: inline-block;
            font-size: 0.875rem;
            background-color: #4292c9;
            border-color: #4292c9;
            color: white;
            transition: background-color 300ms ease-out;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            padding: 0.3125rem 0.375rem 0.3125rem 0;
            width: 6.875rem;
          }
        }
      }
    }
  }
}

.drop-placeholder{
  background: $iron;

  &:before {
    content: "Move here";
    color: $smoke;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Add to Pack Dropdown
// - - - - - - - - - - - - - - - - - - - - - - - - -

.card-summary {
  @include on-hover-actions;
  @include add-to-pack-menu;
}

.theatre-mode-stream-card  {
  .theatre-mode-card-image {
    height: 100%;
    max-height: inherit;
  }
  &.dark-theme {
    @include default-standalone-card(
      $card-media-background-color: $black,
      $card-author-color: $white,
      $card-author-hover-color: $primary-color,
      $card-tags-color: $white,
      $card-tags-hover-color: $primary-color
    );
    .comment-details .author-name, .theatre-comments-parent .author-name {
      // For reverting the default stylings failing this case
      position: relative;
      top: 0;
      transform: none;
      width: auto;
      margin: 0;
    }

    .likeCount .count, .commentCount .count, .title, h1, h2, h3, h4, h5, h6, p, span, a {
      color: $white;
    }
    .social-activity-info {
      border-bottom: 1px solid transparent;
    }

    .comment-actions-parent {
      max-height: rem-calc(60);
    }

    .comments-parent, .comment-actions-parent {
      background-color: $oil;

      .comment-actions {
        border-top: 1px solid $oil;
      }

    }
  }

  .on-hover-actions {
    @extend .add-to-pack-common;
    visibility: hidden;
    z-index: 1;
  }
  &:hover {
    a.on-hover-actions {
      visibility: visible;
    }
  }
 }
.create-new-collection {
  color: $edc-blue;
  cursor: pointer;
}

#more-likes-list {
  width: rem-calc(200);
  padding-bottom: rem-calc(5);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: rem-calc(5);
  @include radius;
  li{
    @include display-flex($direction: column);
    margin-left: 0;
  }
  .like-container {
    padding-bottom: rem-calc(5);
    .author-name a {
      margin-top: rem-calc(-10);
      width: rem-calc(130);
    }
    .name {
      white-space: nowrap;
      width: calc(100% - 55px);
      margin-top: rem-calc(5);
    }
    .link {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}


/* V4- Addittion */



.authorname-mediacard-override{
   -webkit-transform: none !important; /* Safari and Chrome */
  -moz-transform: none !important; /* Firefox */
  -ms-transform: none !important; /* IE 9 */
  -o-transform: none !important; /* Opera */
  transform: none !important;
}


.authorname-mediacard-text-override{
   -webkit-transform: none !important; /* Safari and Chrome */
  -moz-transform: none !important; /* Firefox */
  -ms-transform: none !important; /* IE 9 */
  -o-transform: none !important; /* Opera */
  transform: none !important;

}

.authorname-mediacard-text-override a{
  color: #555555 !important;
}

.mediacard-left-margin{
  margin-left: 2rem !important;
  .avatar-default {
    width: rem-calc(46);
    height: rem-calc(46);
    cursor: pointer;
  }
}


.mediacard-left-margin-follow{
  margin-left: 4rem !important;
}

/*
  added CSS for height of tag list wrapper in collapsed expanded mode
  for standalone page for article
  */

.tag-list-wrapper.collapsed {
  height: rem-calc(48);
  overflow: hidden;
}

.tag-list-wrapper.expanded {
  height: auto;
}

.tags-list .tag .tag-label {
  background-color: #ebeef1;
  color: #898c90;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 0.3125rem;
}

.tags-list .tag .tag-label:hover {
  background-color: #00a1e1;
  color: #FFFFFF;
}

.add-to-pack {
            width: rem-calc(15);
            height: rem-calc(22);
            padding: rem-calc(0 15);
            @include bg-image($bg-image: 'add_to_pathway.png', $bg-position: center center, $bg-size: 1.2em);
            color: #3c404a;
  }


// to improve UI of card like list
.card-like-list-container{
  ul.user-avatar-list li{
    margin-left: 0;
    margin-right: rem-calc(5);
  }

}

.like-msg{
  height: rem-calc(30);
  line-height: rem-calc(30);
  // important to override previous margin
  margin-right: rem-calc(20) !important;
}

// to improve UI of card actions list
.card-stats-container{
    .likeCount.medium:before{
      // important to override previous background size
      background-size: rem-calc(20 18) !important;
      width: rem-calc(20);
      height: rem-calc(20);
      cursor: pointer;
      margin-top: rem-calc(8);
    }

    .add-to-pack{
      margin-top: rem-calc(5);
    }

    .inline-list>li{
      margin-left: rem-calc(10);
    }
}
