.tag-block {
  @include border-radius();
  background-color: $silver;
  display: inline-block;
  margin: rem-calc(5);
  padding: 0 rem-calc(5);
  text-transform: capitalize;
}

#cms-container {
  margin-top: rem-calc(109);
  display: flex;
  display: -webkit-flex;

  ul {
    margin-bottom: 0;
  }

  .filterable {
    cursor: pointer;
  }

  #cms-content {
    width: 100%;
    padding: 0 rem-calc(15);

    & > * {
      margin-bottom:rem-calc(20);
      overflow: auto;
    }
    h6 {
      margin: 30px 0;
      text-transform: uppercase;
    }

    .tab-nav li {
      padding: rem-calc(5 0);
      &.active {
        border-bottom: rem-calc(3) $edc-blue solid;
        a {
          color: $edc-blue;
        }
      }
      a {
        color: $charcoal;
      }
    }
  }

  .side-nav {
    position: relative;
    min-height: 100vh;
    padding-top: 55px;
    margin-left: 5px;
    .side-nav-contents {
      overflow: hidden;
      white-space: nowrap;
      & > * {
        margin-bottom: 10px;
      }
      & > *:not(:last-child) {
        border-bottom: 1px $silver solid;
      }
    }

    .side-nav-section {
      font-size: 13px;
      & > * {
        margin-bottom: 10px;
      }
    }

    .side-nav-section-header {
      font-weight: 600;
      margin-left: 60px;
      height: 30px;
      width: 170px;
      line-height: 30px;
    }

    .side-nav-section-item {
      margin-left: 70px;
      height: 30px;
      width: 160px;
      line-height: 30px;
      &:hover {
        background-color: $silver;
        cursor: pointer;
      }
      &.active {
        color: $edc-blue;
      }
    }

    .side-nav-section-icon {
      width: 30px;
      height: 30px;
      left: 20px;
      position: absolute;
      border-radius: 999px;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      color: $aluminum;
    }

    .side-nav-menu-btn {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 3px;
      top: 29px;
      border-radius: 999px;
      line-height: 34px;
      text-align: center;
      font-size: 20px;
      color: $aluminum;

      svg{
        width:24px;
        height:24px;
      }
    }
  }

  .button {
    &.light {
      background-color: $white;
      color: $edc-pink;
    }
  }

  .no-result {
    @include border-radius();
    border: 1px $iron solid;
    text-align: center;
    padding: rem-calc(20);
  }

  table {
    width: 100%;
    border-spacing: 1px;
    border:none;
    background-color: $smoke;
    thead {
      background-color: $grey;

      .dropdown{
        margin: 0;
      }

      th {
        color: $charcoal;
      }
    }

    tbody{
      background-color: $white;
    }

    td {
      &.nowrap{
        white-space:nowrap;
      }
      &.break-word {
        word-break: break-all;
      }
    }

    i {
      display: inline-block;
      width: rem-calc(20);
      cursor: pointer;
      text-align: center;
      font-style: normal;
      color: $aluminum;
      &:hover{
        color: $edc-blue;
      }
    }

    .sortable {
      cursor: pointer;
    }
    .fi-arrow-up {
      color: $edc-blue;
    }
    .fi-arrow-down {
      color: $edc-pink;
    }
    .actions {
      font-size: rem-calc(20);
      a {
        color: $charcoal;
        &:hover {
          color: $edc-blue;
        }
      }
    }

    .check-all {
      position: relative;
      height: rem-calc(26);
      input {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: rem-calc(20);
      }
      .f-dropdown {
        width: rem-calc(150);
      }
    }
  }

  input {
    margin: 0;
  }

  .dropdown {
    background-color: white;
    line-height: rem-calc(13);
    color: $charcoal;
    border: 1px solid $iron;
    margin: rem-calc(20);

    &:after {
      border-color: $charcoal transparent transparent transparent;
    }
  }

  .f-dropdown {
    &:after {
      content: none;
    }
    &:before {
      content: none;
    }
  }

  .search-container {
    display: inline-block;
    height: rem-calc(28);
    vertical-align: middle;
    padding: rem-calc(0 0 0 16);
    svg {
      width:rem-calc(20);
      height:rem-calc(20);
      position: absolute;
      cursor: pointer;
      left: rem-calc(23);
      top: rem-calc(4);
      font-size: rem-calc(18);
      color: $aluminum;
    }
    input {
      height: rem-calc(26);
    }
  }

  .paging {
    svg {
      cursor: pointer;
      width: rem-calc(24);
      height: rem-calc(24);
      color: $aluminum;

      &.disabled {
        color: $grey;
        cursor: default;
      }
    }
  }
}

#cms-modal {
  input {
    margin: 0;
  }

  select{
    border-radius: 999px;
    background-color: white;
    padding: rem-calc(0 16);
    height: rem-calc(32);
    margin: rem-calc(0 8);
  }

  .inline-layout > * {
    margin: 0 rem-calc(20);
  }

  .row {
    margin-bottom: rem-calc(20);
  }

  i {
    font-style: normal;
    cursor: pointer;
    color: $aluminum;
  }

  a {
    color: $charcoal;
    &.button {
      color: $white;
    }
    &:hover {
      color: $edc-blue;
    }
  }

  .hidden {
    display: none
  }

  .thumbnail {
    width: 100%;
  }

  .change-image-btn {
    @include radius();
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: rem-calc(5) rem-calc(20);
    cursor: pointer;
  }

  label {
    cursor: default;
  }

  .suggestion-input {
    position: relative;
    display: inline-block;
    input {
      display: inline-block;
      width: auto;
    }
    ul {
      position: absolute;
      top: 100%;
      z-index: 1;
      list-style: none;
      background-color: $white;
      width: 100%;
      margin-left: 0;
      border: 1px solid;

      li {
        cursor: pointer;
        &:hover {
          background-color: $iron;
        }
      }
    }
  }


  .dropdown {
    background-color: white;
    line-height: rem-calc(13);
    color: $charcoal;
    border: 1px solid $iron;
    margin: rem-calc(20);

    &:after {
      border-color: $charcoal transparent transparent transparent;
    }
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactTags__tag {
  @include border-radius();
  background-color: $light-ghost;
  display: inline-block;
  margin: rem-calc(5);
  padding: 0 rem-calc(5);
  text-transform: capitalize;
}

.ReactTags__tagInput {
  display: inline-block;
  input {
    display: inline-block;
    width: auto;
    border: none;
    margin: 0;
  }
  ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    background-color: $white;
    margin-left: 0;
    box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
    width: 200px;
    li {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0;

      mark {
        color: $charcoal;
        background: none;
      }
      mark:first-child {
        text-decoration: underline;
        background: none;
        font-weight: 600;
        color: $black
      }
      &.active {
        background-color: $iron;
      }
    }
  }
}

.ReactTags__remove {
  padding: rem-calc(5);
}

.ReactTags__tags {
  border: 1px solid #d2d0d0;
  margin-bottom: rem-calc(20);
}
