// Dropdowns section
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable tabs component.

//Search Dropdown component

.search-filter-dropdown {
  width: 13rem;
  padding: rem-calc(4 10);
  height: rem-calc(30);
  border-radius: rem-calc(100);
  background-color: $white;
  font-size: rem-calc(12);
}

//  Filter Dropdown component used on Channel show page
.filter-dropdown {

  .filter-selected {
    margin-right: rem-calc(5);
  }

  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    border: rem-calc(5);
    border-style: solid inset;
    border-color: $edc-blue transparent transparent transparent;
    width: rem-calc(5);
    height: rem-calc(5);
    right: rem-calc(0);
  }
}
.active > .filter-dropdown:after {
  display: block;
}

.filter-dropdown-container {
  @include radius;
  // Foundation mixin is not working for content dropdown so have to use manual styling
  &:before, &:after {
    display: none;
  }
}

.filter-choices {
  list-style: none;
  margin: 0;

  .filter-card-icon {
    display: inline-block;
    width: rem-calc(30);
    height: rem-calc(30);
    margin-right: rem-calc(10);
    @include bg($bg: $charcoal, $color: #000, $vert-padding: 5px, $horz-padding: 5px, $radius: 50%, $opacity: 1);

    &.active.article {
      @include bg($bg: $card-orange, $color: #000, $vert-padding: 5px, $horz-padding: 5px, $radius: 50%, $opacity: 1);
    }

    &.active.insight {
      @include bg($bg: $card-green, $color: #000, $vert-padding: 5px, $horz-padding: 5px, $radius: 50%, $opacity: 1);
    }

    &.active.photo {
      @include bg($bg: $card-yellow, $color: #000, $vert-padding: 5px, $horz-padding: 5px, $radius: 50%, $opacity: 1);
    }

    &.active.video {
      @include bg($bg: $card-purple, $color: #000, $vert-padding: 5px, $horz-padding: 5px, $radius: 50%, $opacity: 1);
    } 

    &.active.poll {
      @include bg($bg: $card-blue, $color: #000, $vert-padding: 5px, $horz-padding: 5px, $radius: 50%, $opacity: 1);
    }
  }
}
.custom-autocomplete-position{
  left: 15px!important;
  top: 40px!important;
}