#edc-web-body {
  #discovery {
    small {
      font-size: 90%;
    }
    .row:before {
      display: none;
    }
  }

  #groups .banner {
    padding-top: 0;
  }

  .tabs-content {
    margin-bottom: 0;
    padding-top: 0;
  }

  table {
    background: transparent;
    border: none;
    margin: 0;
  }
}

body {
  .row {
    display: block;
  }
}

.profile-section {
  .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.team-upsell-banner {
  h3 {
    font-size: 1.4375rem;
  }
  p {
    font-size: 0.875rem;
  }
}

.tabs-content {
  margin-bottom: 0;
  & > .content {
    padding: 0;
  }
}

footer#footer {
  .row {
    display: block;
  }
}

#search .dropdown-menu {
  border: none;
  background: none;
  li:hover {
    background: none;
  }
}

.pending-invite-menu .Menu__MenuTrigger {
  background: none;
}

.secondary-nav-container {
  .links {
    padding: 0;
  }
}