// File Upload - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used to display preview divs with cancel image icon

.remove_image{
  position: relative;
  &:before{
    cursor: pointer;
    position: relative;
    vertical-align: top;
  }
}

.img-wrapper .fi-camera {
  padding-left: 0px;
}