// Footer - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Using sticky footer from Compass
@include sticky-footer(rem-calc(170), ".inner-wrap", "#layout-footer", "#destiny-footer");

@media #{$small-only} {
  @include sticky-footer(rem-calc(300), ".inner-wrap", "#layout-footer", "#destiny-footer");
  footer {
    margin-left: 0;
  }
}

footer {
  @include display-flex(column);
  background-color: #f5f5f5;
  color: $aluminum;
  padding: 2rem rem-calc(5) 1rem 0;
  margin-left: 225px;
  border-top: 1px solid $iron;

  a {
    color: $aluminum;

    &:hover {
      color: $oil;
    }
  }

  .row {
    @include flex-grow(1);
  }

  .social-icon-link {
    display: block;
    padding: rem-calc(5);
    background-color: $iron;
    border: 1px solid $iron;
    width: rem-calc(40);
    height: rem-calc(40);
    border-radius: 50%;
    margin: 0 auto;
  }

  .social-icon {
    margin-top: 0;
    display: block;
    margin: rem-calc(6) auto;
    height: rem-calc(18);
  }

  ul {
    @media #{$small-only} {
      text-align: center;
    }
  }

  ul .divider {
    margin: rem-calc(0 -10 0 0);
    height: 27px;
    float: right;
  }

  .divider {
    background-color: $iron;
    width: 1px;
    display: inline-block;
    height: rem-calc(102);
  }
}