.gridder.hasSelectedItem .gridder-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5
}

.gridder.hasSelectedItem .gridder-list.selectedItem {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 100
}

.gridder-list {
  cursor: pointer;
}

.gridder-show {
  float: left;
  display: block;
  position: relative;
  width: 100%
}

.gridder-padding {
  padding: rem-calc(0 10);
}

.gridder-show.loading{
  background-image: image-url('ed_loader_square_gif.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: rem-calc(64) rem-calc(64);
  min-height: rem-calc(128);
  margin-bottom: rem-calc(32);
}

.gridder-navigation {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: rem-calc(10);
  padding: 0px;
  text-align: center
}

.gridder-navigation a {
  background: $white;
  display: inline-block;
  padding: rem-calc(5);
  color: $black;
  text-decoration: none;
  font-size: rem-calc(14);
  margin-right: 0px;
  transition: all .3s ease-in-out
}

.gridder-navigation a:hover {
  background: $black;
  color: $white;
}

.gridder-navigation a.disabled {
  opacity: 0
}

.gridder-expanded-content {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: both
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}