// Header - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
// The header is also made up of TopBar Foundation Component, which is customized independently.

// App Logo
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Is always vertically centered based on the height of the parent element
.edc-logo {
  height: rem-calc(30);
  @include vertical-center;
}

.top-bar-section li#no-hover{
  a:hover, :hover{
    background-color: $white;
  }
}

#chromebadge, #sign-up-button-wrapper {
  .sign-up-button {
    top: 0;
    padding: rem-calc(10 20);
    height: 40px;
  }
  &:hover {
    background-color: transparent;
  }
}

.chrome-store-badge {
  height: rem-calc(30);
}

@media #{$small-only} {
  .edc-logo{
    margin-left: 0.5rem;
  }
}

@media #{$medium-only} {
  .edc-logo{
    margin-left: 0.5rem;
  }
}

// Bottom Divider
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used to divide the header and the page.
.header-wrapper {
  border-bottom: 1px solid $gainsboro;
}

// Trick to handle top-bar js delay
// This is appended to the `body` element in `application_v2.html.slim`
// - - - - - - - - - - - - - - - - - - - - - - - - -
.fixed-header {
  padding-top: 71px;
}

// Create (+) Button
// - - - - - - - - - - - - - - - - - - - - - - - - -
// This is only used on the header for now.
// If this gets reused anywhere else, it should be moved to `components/_buttons.scss`
.create-card-button {
  @include border-radius(50%);
  background-color: $edc-blue;
  height: rem-calc(30);
  width: rem-calc(30);
  padding: rem-calc(5);
}

// Search Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -
input.search {
  top: rem-calc(7);
  margin: rem-calc(14 0 0 0);
  min-width: rem-calc(240);
  padding-right: rem-calc(20);
  font-weight: 300;

  @media #{$small-only} {
    margin-top: 0px;
  }
}

.inline-search-wrapper {
  display: inline-block;
  position: relative;
}

.search-input-action-wrapper {
  right: rem-calc(7);
  cursor: pointer;
  bottom: rem-calc(4);
  position: absolute;

  img {
    height: rem-calc(18);
    margin: rem-calc(9 0 0 0);
    width: rem-calc(18);
  }

  @media #{$large-up} { bottom: rem-calc(-3);}
}

// Hack for IE 10 and 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .search-input-action-wrapper img {
    margin: rem-calc(-11 0 0 0);
  }
}

// Hack for firefox
@-moz-document url-prefix() {
  .search-input-action-wrapper img {
    margin: rem-calc(-11 0 0 0);
  }
}

// Impersonation Box
// - - - - - - - - - - - - - - - - - - - - - - - - -
.impersonate-box {
  position: fixed;
  bottom: rem-calc(20);
  left: rem-calc(20);
  background-color: red;
  color: $white;
  padding: rem-calc(8);
}


// Notification Dropdown
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Notification dropdown presented in header
.notification-blank-link {
  padding: rem-calc(12 0 12 23.33333);
  width: 100%;

  .alt-text {
    color: $charcoal;
    font-size: rem-calc(14);
  }
  @media #{$large-up} {
    padding: rem-calc(0 23.333);
    max-width: rem-calc(80);
  }
  &:hover {
    background-color: $edc-blue;

    .alt-text {
      color: $white;
    }
  }
}
.notification-count {
  background-color: $tuatara;
  top: rem-calc(3);
  left: rem-calc(40);
  @media #{$large-up} {
    top: rem-calc(15);
    right: rem-calc(15);
  }
}

.notification-list-item {
  transition: all 0.4s ease-in;

  &:hover, &.unseen {
    background: $grey;
  }

  .author-image {
    a {
      background: none !important;
      line-height: 24px !important;
      padding: 0px !important;
      img {
        margin: 0px 8px;
        width: 45px;
        height: 45px;
      }
    }
  }
}

.link-inside-dropdown {
  &:hover {
    background-color: transparent !important;
    background: transparent !important;
  }
}
