// Indicators
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Various text and icon indicators used across the app
// If its small and always goes before or after something, then it goes here.

// 01. Like Count
// 02. Comment Count
// 03. Approved (Pink)
// 04. Checkmark (Pink)
// 05. Required - Form Label

// Like Count Indicator
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used to animate the like icon
@keyframes pound {
  to { transform: scale(1.4); }
}

.likeCount {

  &:before {
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    margin: rem-calc(0 5);
    @include background-size(rem-calc(19 15));
    height: rem-calc(15);
    width: rem-calc(19);
  }

  &.white {
    &:before {
      background-image: image-url('like.png');
    }
  }

  &.grey {
    &:before {
      background-image: image-url('like_grey.png');
    }
    color: $tuatara;
  }

  &.pink {
    &:before {
      background-image: image-url('like_pink.jpg');
      animation-name: pound;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      transform-origin: center;
      animation-timing-function: linear;
    }
  }

  &.medium {
    &:before {
      @include background-size(rem-calc(24 20));
      height: rem-calc(21);
      width: rem-calc(24);
      cursor: pointer;
    }
  }
}

// Comment Count
// - - - - - - - - - - - - - - - - - - - - - - - - -
.commentCount {
  &:before {
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    margin: rem-calc(0 5);
    @include background-size(rem-calc(15 15));
    height: rem-calc(15);
    width: rem-calc(15);
  }

  &.white {
    &:before {
      background-image: image-url('comment.png');
    }
  }

  &.grey {
    &:before {
      background-image: image-url('comment_grey.png');
    }
    color: $tuatara;
  }

  &.medium {
    &:before {
      @include background-size(rem-calc(20 20));
      height: rem-calc(20);
      width: rem-calc(20);
    }
  }
}

.likeCount, .commentCount {
  .count {
    display: inline-block;
    height: rem-calc(20);
    line-height: rem-calc(20);
    vertical-align: super;
  }
}

// Approved Indicator
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Displays a tick/check after the element
// Currently used to indicate a verified user
// Reusable after any text element

.approved:after {
  display: inline-block;
  background-image: image-url('seal.png');
  @include background-size(rem-calc(14 14));
  content: '';
  height: rem-calc(14);
  width: rem-calc(14);
  margin: rem-calc(0 5);
}

// Checkmark Indicator
// - - - - - - - - - - - - - - - - - - - - - - - - -
.checkmark:before {
  display: inline-block;
  background-image: image-url('seal.png');
  @include background-size(rem-calc(14 14));
  content: '';
  height: rem-calc(14);
  width: rem-calc(14);
  margin: rem-calc(-2 5);
}

// Required - Form Label
// - - - - - - - - - - - - - - - - - - - - - - - - -
// To be used with labels only
label.required:after {
  content: 'required';
  font-size: rem-calc(10);
  display: block;
  margin-top: -1.2rem;
  font-weight: 300;
}

// Help Text - Form Label
// - - - - - - - - - - - - - - - - - - - - - - - - -
// To be used with labels only
label .help-text {
  font-size: rem-calc(10);
  display: block;
  margin-top: -0.6rem;
  font-weight: 300;
  line-height: 12px;
}