.inline-create-insight {
  margin: rem-calc(32 10);
  padding: 1rem 1rem 0 1rem;
  background-color: $white;
  color: $aluminum;
  font-size: rem-calc(14);


  // We can move to plugin css once inline-compose and create card screens are generalised from UI perspective.
  .custom-dropdown-button {
      border-width: rem-calc(0 0 1 0);
      &.open {
        border-width: rem-calc(1 1 0 1);
      }
  }

  label {
    font-size: rem-calc(12);
    color: $aluminum;
    height: rem-calc(22);
    margin-bottom: 0.5rem;
  }

  input[type="text"] {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding: rem-calc(0 10 5 0);
    height: rem-calc(22);
  }

  .title-bar {
    display: flex;

    @media #{$small-only} {
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 2rem;
    }

    .title {
      flex: 1 0 auto;
      font-weight: 400;
      line-height: rem-calc(30);

      @media #{$small-only} {
        order: 2;
        margin-top: 1rem;
      }

      .cta-expand {
        border-bottom: 1px solid #ccc;
        cursor: pointer;
      }
    }

    .card-types {
      flex: 0 0 rem-calc(232);

      @media #{$small-only} {
        order: 1;
      }
    }
  }

  .collapsed {
    cursor: pointer;
  }

  .option-actions {
    width: rem-calc(36);
    margin: 0 1rem;

    img {
      height: rem-calc(10);
      width: rem-calc(10);
      margin-top: rem-calc(-2);
    }

    .dummy-indicator {
      font-size: rem-calc(12);
    }
  }

  .option-field {
    width: calc(100% - 68px);
    ::-webkit-input-placeholder { font-size: rem-calc(12); }
    ::-moz-placeholder { font-size: rem-calc(12); } /* firefox 19+ */
    :-ms-input-placeholder { font-size: rem-calc(12); } /* ie */
    input:-moz-placeholder { font-size: rem-calc(12); }
  }

  .preview {
    min-height: rem-calc(20);

    #add-option {
      margin-top: 3rem;
      @include horizontal-center;
      font-size: rem-calc(12);
    }
  }

  // Poll Card
  .url_div {
    margin-top: rem-calc(20);
    input {
      width: calc(100% - 50px);
      display: inline-block;
    }
  }
  
}

.card-icon {
  display: inline-block;
  background-color: $iron;
  padding: rem-calc(2 5 3 5);
  margin: 0 rem-calc(8);
  border-radius: 50%;
  height: rem-calc(30);
  width: rem-calc(30);

  &.active {
    &.article {
      background-color: $card-orange;
    }

    &.insight {
      background-color: $card-green;
    }

    &.photo {
      background-color: $card-yellow;
    }

    &.video {
      background-color: $card-purple;
    }

    &.poll {
      background-color: $card-blue;
    }
  }
}

.in-progress {
  width: 100%;
  z-index: 20;
  background: rgba(255, 255, 255, 0.3);

  img {
    margin: 3rem 0 2rem 0;
    width: rem-calc(50);
    height: rem-calc(50);
    @include element-center;
  }

  .close-icon {
    cursor: pointer;
    font-size: rem-calc(22);
  }


}

// Poll Card
// - - - - - - - - - - - - - - - - - - - - - - - - -

.image_container {
  background-color: $dark-grey;
  border-style: dashed;
  border-width: rem-calc(1);
  font-size: rem-calc(12);
  i {
    font-size: rem-calc(22);
    padding: rem-calc(0 15);
    &:before {
      cursor: pointer;
    }
  }

  .fi-camera, .fi-link {
    &:before {
      padding-top: rem-calc(4);
    }
  }

  

  .img_btn {
    position: relative;
    overflow: hidden;
    background-color: $color_black_haze_approx;
    border-width: rem-calc(1);
    border-style: solid;
    border-color: $color_celeste_approx;
    span {
      vertical-align: super;
    }
    input.file-input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: rem-calc(20);
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  .img_ctrl {
    .img_btn{
      cursor: pointer;
    }

    @media #{$medium-up} {
      margin: rem-calc(30 0);
    }

    &:first-child {
      @media #{$small-only} {
        margin-top: rem-calc(30);
        text-align: center;
      }
      .img_btn{
        padding-top: rem-calc(3);
      }
    }
    &:nth-child(3) {
      @media #{$small-only} {
        margin-bottom: rem-calc(30);
        text-align: center;
      }
      .img_btn{
        padding-top: rem-calc(3);
      }
    }
    &.separator {
      text-align: center;
    }
  }

  .url_div {
    margin-top: rem-calc(20);
    input {
      width: calc(100% - 50px);
      display: inline-block;
    }
  }

  .preview_div {
    text-align: center;
    position: relative;
    img{
      width: rem-calc(300);
      height: rem-calc(130);
    }

    .profile-circle {
      @extend .large-avatar;
      margin: rem-calc(30) auto;
    }
  }
}

// Currently used in  Poll card for both standalone and inline screens
.loading {
  display: none;
  vertical-align: inherit;
}