.courses-heading {
  padding-top:rem-calc(10);
  padding-bottom:rem-calc(10);
  text-transform:uppercase;
}

.list-insight {
  margin-bottom: rem-calc(20);
  .image-container {
    display: inline-block;
    width: 20%;
    min-height: rem-calc(100);
    @media #{$small-only} {
      width: 100%;
      display: block;
      text-align: center;
    }
    &.wide {
      width: 30%;
    }
    .image {
      width: 100%;
      @media #{$small-only} {
        max-width: rem-calc(400);
        background-position: center center;
        display: inline-block;
      }
    }
  }
  .insight-content {
    width: 78%;
    float: right;
    @media #{$small-only} {
      width: 100%;
      float: none;
    }

    &.wide{
      width: 68%;
    }
  }
  .title {
    font-weight: $font-weight-bold;
    display: block;

    a {
      color: $black;

      &:hover, &:focus {
        color: $edc-blue;
      }
    }
  }
  .details {
    .view-link {
      text-decoration: underline;
    }
  }
  .description {
    color: $aluminum;
    @include line-clamp(2);
  }

  .image {
    height: rem-calc(115);
    width: rem-calc(207);
    @include background-size(cover);
    background-position: center center;
  }
}

//For My Assignments List in Teams
.my-assignments {
  .filter-select {
    width: rem-calc(110);
    height: rem-calc(30);
    margin: rem-calc(5) 0 0 0;
    padding: 0 rem-calc(10);
  }
}


.assignment-content {
  padding-left: rem-calc(10);
}

.assignment-tags {
  padding-top: rem-calc(10);

  .tag-label {
    margin: 0;
  }
}

.tm-search-box-wrapper {
  padding: 0;
}

.assignments-container {
  margin-top: rem-calc(10);
}
