// Mixins
// - - - - - - - - - - - - - - - - - - - - - - - - -
// These mixins are used across the app.
// Component specific mixins, should be part of the components.
// TODO: Move stuff from 'tricks and treats' to here.

// Overlays
// - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin gradient-overlay($red: 0, $green: 0, $blue: 0, $opacity: 1) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
                  to bottom,
                  rgba(255,255,255,0) 0%,
                  rgba(153, 153, 153, 0) 40%,
                  rgba($red, $green, $blue, $opacity) 100%);
}

@mixin solid-overlay($red: 0, $green: 0, $blue: 0, $opacity: 0.5) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($red, $green, $blue, $opacity);
}

// Flexbox Workaround - Can't update Compass, Can't update Foundation, because can't update Sass.
// TODO: Trung please update Rails.
@mixin display-flex($direction: row) {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-grow($flex-grow) {
  -webkit-flex-grow: $flex-grow;
  flex-grow: $flex-grow;
}

@mixin flex($flex) {
  -webkit-box-flex: $flex;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $flex;         /* OLD - Firefox 19- */
  -webkit-flex: $flex;          /* Chrome */
  -ms-flex: $flex;              /* IE 10 */
  flex: $flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

// Panel Borders
@mixin panel-border($border-color: $iron, $border-width: 1px) {
  border-style: solid;
  border-color: $border-color;
  border-top-width: $border-width;
  border-left-width: $border-width;
  border-right-width: $border-width;
  border-bottom-width: 3px;
  @include border-radius(5px);
}

@mixin bg-image($bg-image: null, $bg-position: center center, $bg-size: 15px 15px) {
  @if $bg-image != null {
    background-image: image_url($bg-image);
    background-position: $bg-position;
    @include background-size($bg-size);
    background-repeat: no-repeat;
  }
}

// Search Box styling
@mixin search-box($margin-top: 10px, $margin-bottom: 10px, $height: 30px, $width: 100%){
  width: $width;
  height: $height;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  padding: rem-calc(0 10 0 30);
  border: 1px solid $border-color;
  @include border-radius(500px);
  @include input-placeholder {
    color: $border-color;
    font-size: rem-calc(12);
  }
}

@mixin search-icon($top: calc(50% - 9px)){
  @include bg-image($bg-image: 'search-icon.png', $bg-size: 38px 18px);
  position: absolute;
  top: $top;
  cursor: pointer;
  margin-left: rem-calc(5);

  &.grey {
    background-position: rem-calc(-19 0);
    width: rem-calc(18);
    height: rem-calc(18);
  }

  &.pink {
    background-position: 0 0;
    width: rem-calc(18);
    height: rem-calc(18);
  }
}

@mixin clear-search-icon($top: calc(50% - 9px), $right: rem-calc(38)){
  @include bg-image($bg-image: 'cancel-icon-file.png', $bg-size: 18px 18px);
  position: absolute;
  top: $top;
  right: $right;
  cursor: pointer;
  margin-right: rem-calc(5);
  width: rem-calc(18);
  height: rem-calc(18);
}