
//Padding for OrgSettings Container
#org-settings-body {
  padding-top: rem-calc(70);
}

.file-upload.image_container {
  border-style: none ;
}

//OrgPreferences Container
.settings-cancel-button {
  margin-right: rem-calc(10);
}
#org-name-input {
  margin-top: rem-calc(15);
  margin-bottom: rem-calc(30);
}

#host-input {
  width: rem-calc(175);
  display: inline;
  margin-bottom: rem-calc(5);;
  text-align: right;
}

.preference-section {
  margin-bottom: rem-calc(10);
}

.bottom-save-cancel {
  margin-top: rem-calc(30);
}

#organization-image {
  height: rem-calc(150);
  width: rem-calc(450);
}

.org-description-form {
  height: rem-calc(100);
  overflow-y: scroll;
  margin-bottom: rem-calc(10);
  margin-top: rem-calc(10);
}

.char-length {
  display: inline;
}

.host-availability {
  display: inline;
  .available {
    color: green;
    margin-bottom: rem-calc(30);
    display: inline;
  }
  .unavailable {
    color: red;
    margin-bottom: rem-calc(30);
    display: inline;
  }
}

.edit-image-wrapper {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(30);
}

//For Toggle on/off buttons
.switch-btn {
  margin-top: ($sso-item-height - $switch-btn-height)/2;
  .switch {
    margin-bottom: 0;
  }
  .switch-on {
    position: absolute;
    left: -52px;
    color: white;
    font-weight: bold;
    font-size: rem-calc(9);
    text-transform: uppercase;
    top: rem-calc(3);
  }
  .switch-off {
    position: absolute;
    left: -28px;
    color: white;
    font-weight: bold;
    font-size: rem-calc(9);
    text-transform: uppercase;
    top: rem-calc(3);
  }
}

// Style placeholder text
#org-auth :placeholder-shown {
  font-style: italic;
}
