$sso-item-height: 60px;
$switch-btn-height: 32px;
$text-indent: 17px;
$item-vertical-margin: 20px;
#org-auth {
  .sso-list {
    list-style-type: none;
    margin-left: 0;
    li {
      margin-top: $item-vertical-margin;
      margin-bottom: $item-vertical-margin * 2;
      .item {
        height: $sso-item-height;
        .icon {
          width: $sso-item-height;
          height: $sso-item-height;
        }
        .text {
          margin-left: $text-indent;
          margin-top: 12px;
          font-weight: 600;
          .title {
            text-transform: capitalize;
          }
          .description {
            display: block;
            color: grey;
          }
        }
        .detail-btn {
          text-align: center;
        }
      }
      .detail {
        margin-left: $text-indent + $sso-item-height;
        margin-top: $item-vertical-margin;
        label {
          cursor: text;
        }
        h6 {
          font-weight: 600;
        }
        .title {
          display: inline-block;
          width: 100%;
          h5 {
            font-weight: 600;
          }
          .close-icon {
            height: 20px;
            width: 20px;
            color: lightgrey;
            fill: currentColor;
            cursor: pointer;
          }
        }
        .info {
          color: grey;
          margin: $item-vertical-margin 0;
        }
        .input-form {
          margin: $item-vertical-margin 0;
        }
      }
    }
  }
}
