
table.analytics-data{
  // border: 1px solid #C0C0C0;
  width: 100%;
  border-collapse: collapse;
}
tr.header{
  background-color: #f7f7f7;
}
tr.analytics-content-style{
  font-weight: $font-weight-normal;
}
td.border-style{
  border:1px solid #C0C0C0;
  color: #555555;
  font-size: rem-calc(11.5);
  background-color: #ffffff;
}
img.user-avatar{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  width: 15px;
  height: 15px;
}
th.border{
  border:1px solid #C0C0C0;
  color: #555555;
  font-size: 0.875rem;
  font-weight: $font-weight-normal;
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 7px;
  padding-left: 10px;
}

.analytics-search-container{
  .search-icon {
    @include search-icon($top: calc(50% - 10px));
  }
  .clear-search-icon{
    @include clear-search-icon($top: calc(50% - 10px), $right: calc(30% - 30px));
    margin-right: rem-calc(0);
    margin-left: rem-calc(-42px);
    position: absolute;
    left: rem-calc(225);
  }
  .analytics-search-box-wrapper {
    padding: rem-calc(0 0 0 3);
  }

  .oa-search-box {
    @include search-box($margin-top: 3px, $margin-bottom: 7px);
    max-width: rem-calc(205);
  }
  .columns {
    float: right;
  }

}


img.sort-top-icon{
    width: rem-calc(6);
    padding-bottom: rem-calc(10);
    margin-left: rem-calc(8);
}
  img.sort-down-icon{
    width: rem-calc(6);
    margin-left: rem-calc(-12);
    padding-top: rem-calc(8);
  }
.asc, .desc, .paginate{
  display: inline-block;
  width: 20px;
  height: 20px;
}
.refresh{
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-right: 5px;
}
.sub-title{
  margin-left: 0px;
  display: inline-block;
}
.paginate{
  display: inline-block;
  width: 8px;
  height: 8px;
}
.pagination-bar{
  padding: 0;
  width: inherit; 
}
.page-number{
  font-size: 12px;
  color: black;
  display: inline-block;
}
.current-page{
  font-size: 12px;
  display: inline-block;
  border-width: 1px;
  background-color: $grey;
  width: 15px;
  height: 15px;
  text-align: center;
}
.inline{
   display: inline-block;
}
.page-spacing{
  margin-right: 25px;
}

