.loading-bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 2px;
  margin: 0;
  overflow: hidden;
  top: 0;
  z-index: 9999999;
  div {
    height: 100%;
    background-color: $edc-blue;
    display: block;
    &.start {
      width: 0;
      opacity: 1;
      -webkit-transition: width 0s, opacity 0s;
      -o-transition: width 0s, opacity 0s;
      transition: width 0s, opacity 0s;
    }
    &.loading {
      width: 80%;
      opacity: 1;
      -webkit-transition: width 10s ease;
      -o-transition: width 10s ease;
      transition: width 10s ease;
    }
    &.complete {
      width: 100%;
      opacity: 0;
      -webkit-transition: width 1s ease, opacity 1s ease;
      -o-transition: width 1s ease, opacity 1s ease;
      transition: width 1s ease, opacity 1s ease;
    }
  }
}

.overlay {
  .alert-box {
    display: none;
    opacity: 0;
    position: absolute;
    top:rem-calc(60px);
    left: 30%;
    right: 30%;
    &.active {
      opacity: 1;
      display: block;
    }
    .close {
      cursor: pointer;
    }
  }
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.alert-box a{
  color: $white;
  &:hover {
    color: $charcoal;
  }
}