.highlight {
  &:hover, &.active {
    background: $edc-blue;
    a {
      color: $white;
    }
  }
}

.right-border {
  border-width: rem-calc(0 1 0 0);
  border-color: $gainsboro;
  border-style: solid;
}

.heading-title {
  padding: rem-calc(15 0 10 0);
  font-weight: $font-weight-bold;
}

.my-progress {
  .filters {
    font-size: rem-calc(13);
    font-weight: $font-weight-normal;
    background-color: $white;
    @include border-radius(3px);
    border-color: $iron;
    border-width: rem-calc(1 0 3 1);
    border-style: solid;
    padding: 0;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0.9375rem 0;
    clear: both;

    a {
      color: $charcoal;
      padding: 0.5rem 0;
    }


    .columns {
      padding-top: rem-calc(3);
      padding-bottom: rem-calc(3);
    }

    li { padding: 0.5rem; }

    #days-7 {
      @extend .highlight;
      &:hover, &.active {
        @include border-radius(3px 0 0 3px);
      }
    }

    #days-30 {
      @extend .highlight;
      border-width: rem-calc(0 1 0 1);
      border-color: $gainsboro;
      border-style: solid;
    }

    #lifetime {
      @extend .highlight;
      &:hover, &.active {
        @include border-radius(0 3px 3px 0);
      }
    }
  }

  .overall-stats {
    background-color: $white;
    margin: 0;
    @include border-radius(3px);
    margin-bottom: 0.9375rem;

    .info {
      margin: rem-calc(15 0);
      line-height: rem-calc(15);
      .title-text {
        font-size: rem-calc(12);
        color: $magnesium;
      }

      .content-text {
        .actual-count {
          display: inline;
          font-weight: $font-weight-bold;
        }

        .percentage {
          font-size: rem-calc(12);
          display: inline;

          .fi-arrow-up {
            color: $light-green;
          }

          .fi-arrow-down {
            color: $red;
          }
        }
      }
    }
  }

  .my-contents {
    .info {
      line-height: rem-calc(20);
      .content-text {
        .actual-count {
          padding-right: rem-calc(20);
        }
      }
    }

    #collections, #insights {
      .info {
        @extend .right-border;
      }
    }
  }

  .social-activity {
    #likes, #comments {
      .info {
        @extend .right-border;
      }
    }

    #likes, #comments, #shares {
      .nvd3.nv-wrap.nv-axis { display: none }
    }
  }

  #insights, #collections, #impressions {
    .tick {
      &:not(:first-child) {
        display: none;
      }
    }


    .nv-axisMaxMin {
      display: none;
    }
    .nv-legend-symbol {
      display: none;
    }
  }

  .insight-section {
    .card-summary {
      max-width: rem-calc(320);
    }
  }

  .collection-section {
    .collection-card {
      li:first-child{
        padding-right: 0;
        @media #{$small-only} {
          padding: 0;

          .card-summary {
            width: 100%;
            //margin: 0 auto;
            @include border-radius(5px 5px 0 0);
          }
        }
      }

      li:last-child{
        @media #{$small-only} {
          padding: 0;
        }
      }
    }

    .card-summary {
      .card-section {
        height: 20%;
        .author-name {
          margin-top: rem-calc(10);
        }
      }
    }

    .card-pack {
      height: rem-calc(290);
      border-bottom: 3px solid $iron;
      @media #{$small-only} {
        border: 0;
      }
      border-radius: rem-calc(5 0 0 5);
    }

    .card-summary {
      .card-section {
        height: 20%;
        .author-name {
          margin-top: rem-calc(10);
        }
      }
    }

    .card-pack-grid {
      padding-left: 0;
      .card-pack {
        background: $white;
        height: rem-calc(290);
        border: 1px $iron solid;
        border-radius: rem-calc(0 5 5 0);

        width: 100%;
        //margin: 0 auto;
        @media #{$small-only} {
          border-radius: rem-calc(0 0 5 5);
        }
        .card-section {
          top: 0;
          .cards-count {
            padding: rem-calc(2 10 0);
          }
          .card-content{
            .title {
              font-weight: $font-weight-bold;
              color: $black;
              height: auto;
            }
          }
          .cards-list {
            .single-card {
              height: rem-calc(40);
              margin-bottom: rem-calc(5);
              .card-title {
                width: 100%;
                @include line-clamp(2);
              }
              .card-counter {
                padding-left: rem-calc(20);
                span {
                  @include bg($bg: $black, $color: $white, $vert-padding: rem-calc(10), $horz-padding: rem-calc(14), $radius: 50%, $opacity: 0.8);
                }
              }
            }
          }
        }
      }
    }
  }

  .view-stats {
    font-size: rem-calc(14);
    font-weight: $font-weight-bold;
    margin-top: rem-calc(10);

    .views, .clicks {
      line-height: rem-calc(17);
      display: inline-block;
    }

    .views {
      @extend .right-border;
      padding-right: rem-calc(25);
    }

    .clicks {
      padding-left: rem-calc(25);
    }
    @media #{$small-only} {
      max-width: rem-calc(320);
      margin: rem-calc(20) auto;
    }
  }

  .nv-noData {
    font-size: rem-calc(12);
  }
}

.heading-title {
  padding: rem-calc(15 0 10 0);
  font-weight: $font-weight-bold;
}

.nv-noData {
  font-size: rem-calc(12);
}
