// Promotions - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -

//Right rail component
.right-rail-widgets {
  border-radius: rem-calc(4);
  .section-header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .course_widget, .channel_widget, .card_widget {
    margin-bottom: rem-calc(10);

    & > *:first-child {
      margin-right: rem-calc(8);
    }

    .promotion-icon{
      height: rem-calc(70);
      width: rem-calc(120);
      display: inline-block;
      @include background-size(cover);
      background-position: center center;
    }

    .detail {
      max-width: calc(100% - 128px);
      vertical-align: top;
      display: inline-block;
      .title, .institute-name, .description {
        @include line-clamp(2);
        line-height: rem-calc(16);
      }
      .title {
        font-weight: $font-weight-bold;
      }
      .channel-title {
        @include line-clamp(1);
        line-height: rem-calc(16);
        font-weight: $font-weight-bold;
      }
      .duration {
        @include line-clamp(1);
        line-height: rem-calc(16);
      }
    }
  }

  .stream_widget {
    cursor: pointer;
    margin-bottom: rem-calc(10);
    .stream-image{
      margin-right: 1rem;
      height: rem-calc(80);
      width: rem-calc(120);
      @include background-size(cover);
      background-position: center center;
    }
    .detail {
      .title{
        font-weight: $font-weight-bold;
        @include line-clamp(2);
      }
    }
    .addthisevent-drop {
      background: transparent;
      border: 0;
      padding: 0;
      .addthisevent_icon {
        top: rem-calc(-14);
      }
      &:hover {
        border: 0;
      }
    }
  }

  .user_widget {
    .user-bio {
      @include line-clamp(2);
    }
  }

  .team-upsell-banner {
    height: rem-calc(200);
    width: 100%;
    background-color: #45a1f1;

    .marketing-list {
      width: 70%;
      margin: 0 auto;

      .marketing-list-item {
        color: $white;
        margin-bottom: 0.5rem;
      }

      .marketing-icon {
        width: rem-calc(32);
        display: inline-block;

        img { height: rem-calc(16); }
      }
    }
  }
}

// Widgets wrapper
.right-rail-widget-wrapper {
  background-color: $white;
  padding: rem-calc(1 10 10);
  margin-bottom: rem-calc(16);
  border-radius: rem-calc(4);
  .section-header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

//GET Event
.get-event {
  .get-filters {
    margin-bottom: rem-calc(16);
  }
  .get-user-name {
    text-overflow: ellipsis;
  }
  .user-link {
    width: rem-calc(200);
  }
}

//GET Finalist Page
.get-winners-container {
  margin-bottom: rem-calc(40);
  .angle {
    margin-top: rem-calc(120);
    .angle-icon {
      width: rem-calc(16);
      height: rem-calc(26);
    }
  }
  .card-wrapper {
    width: calc(100% - 32px);
  }
  .month-winner {
    background-color: #e74260;
    border-radius: rem-calc(2);
    margin-bottom: rem-calc(5);
    height: rem-calc(24);
    .month-span {
      color: white;
    }
  }
  .non-selected-month {
    margin-bottom: rem-calc(30);
  }
  .month-wrapper {
    padding: rem-calc(10) rem-calc(20) rem-calc(10) rem-calc(20)
  }
  .month-card {
    padding: rem-calc(10);
    .live-stream {
      top: 0;
    }
    .stats-list {
      list-style: none;
      .finalist-tag {
        margin-bottom: rem-calc(8);
      }
    }
    .inline-list {
      margin-left: 0;
    }
  }
  .month-won {
    margin-bottom: rem-calc(10);
  }
  .angle-icon {
    cursor: pointer
  }
}

#get-days-left {
  margin-bottom: rem-calc(40);
  .progress-bar-text {
    position: relative;
    padding: rem-calc(4);
    background-color: #555555;
    width: rem-calc(125);
    border-radius: rem-calc(5);
    margin-bottom: rem-calc(8);

    .span-text {
      display: table;
      margin: 0 auto;
      color: $silver;
    }
  }

  .progress-bar-text:after {
    content:'';
    position: absolute;
    top: 100%;
    left: -60px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 6px #555555;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }
}

//GET Countdown Timer
#get-countdown-clock {
  margin-top: rem-calc(25);
  #get-timer-table {
    border: none;
    padding: rem-calc(10);
    .top-row td:not(.get-month){
      padding-bottom: 0;
      font-weight: $font-weight-bold;
    }
    .bottom-row td {
      padding-top: 0;
      background-color: white;
    }
    .get-days {
      color: $edc-pink;
      .colon {
        color: black;
      }
    }
    .get-month {
      font-size: small;
    }
  }
  .timer-text td{
    font-size: small;
  }
}
.width100 {
  width: 100%;
}
