// Social Activity - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
.social-activity-info {
  padding: 1rem 0;
  margin: 0 0.25rem;
  border-bottom: 1px solid $iron;
  height: rem-calc(62);

  .user-avatar-list {
    margin: 0 0.5rem;
    li {
      margin-left: 0.25rem;
    }
  }

  .activity-text {
    font-size: rem-calc(12);
    @include vertical-center;
  }
}