// Static Pages for the App
// Currently not being used.
// Do not use any styles from this file in other app pages.
// - - - - - - - - - - - - - - - - - - - - - - - - -
// 01. About Us Page
// 02. Contact us Page
// 03. EULA Page
// 04. Partners Page

// 01. About Us Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
ul.people-list {
  .name {
    margin: rem-calc(10 0 0 0);
    font-size: rem-calc(18);
  }

  .des {
    margin: rem-calc(3 0 8 0);
    font-size: rem-calc(16);
  }
}

// 02. Contact Us Page - Map styling
// - - - - - - - - - - - - - - - - - - - - - - - - -
#map-canvas {
  height: rem-calc(400);
}

@media #{$small-only} {
  #map-canvas {
    margin-bottom: rem-calc(10);
  }
}

// 03. EULA Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
.license-terms {
  font-weight: $font-weight-bold;
  font-size: rem-calc(16);
}

// 04. Partners Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
ul.partners-list {
  li {
    padding: rem-calc(5);
    text-align: center;
  }

  .img-wrapper {
    height: rem-calc(190);
    line-height: rem-calc(190);

    img { max-height: rem-calc(190); }
  }
}
