// Streams - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -

.stream-list {
  list-style: none;
  .stream-wrapper {
    background-color: $white;
    border-radius: rem-calc(4);
    padding: 1rem 1rem 0 1rem;
    .video-creator-icon {
      vertical-align: middle;
    }
    .wrapper {
      display: inline-block;
      max-width: calc(100% - 200px);
      vertical-align: middle;
      overflow: hidden;
      .stream-creator {
        display: inline-block;
        width: 100%;
        .video-insight-link {
          text-overflow: ellipsis;
        }
      }
    }
    .recommended {
      margin-top: 0.625rem;
    }
  }
}

.stream-list > * {
  margin-bottom: rem-calc(16);
}

.scheduled-stream {
  @include on-hover-actions;
  @include add-to-pack-menu;
  padding: 0.5rem;
  background-color: $white;
  cursor: pointer;
  @include panel-border($border-width: 1px);

  .stream-icon{
    height: rem-calc(86);
    width: rem-calc(86);
    @include background-size(cover);
    background-position: center center;

    img.play_button {
      @include element-center;
    }
  }

  .stream-detail {
    margin: 0 0 0 0.5rem;
    max-width: calc(100% - (86px + 0.5rem));
    width: 76%;

    .addthisevent-drop {
      border: none;
      .addthisevent_icon {
        top: -2px;
        left: rem-calc(30);
      }
    }
  }

  a.on-hover-actions {
    margin: rem-calc(-26 0 0 -102);
  }
}

.stream-handle {
  font-weight: 300;
}

.stream-content {
  margin-left: 1rem;
  .bold.video-insight-link {
    font-size: rem-calc(14);
  }
  .localize-timestamp {
    margin-top: rem-calc(10);
    font-size: rem-calc(12);
  }
  .live-button {
    padding-top: rem-calc(10);
  }
}

.past-videostream {
  .video-creator-icon {
    margin-right: rem-calc(10);
    margin-bottom: 0.5rem;
  }
  .video-content {
    height: rem-calc(90);
    margin-left: 1rem;
  }
  .video-insight-link {
    cursor: pointer;
    font-size: rem-calc(14);
  }
  .mute-font.left {
    height: rem-calc(40);
    font-size: rem-calc(12);
  }
}

.blue-watch-button {
  color: $edc-blue;
  border-color: $edc-blue;
}

.scheduled-videostream {
  .video-creator-icon {
    margin-right: rem-calc(500);
    margin-bottom: 0.5rem;
  }
  .video-creator {
    top: 0;
  }
}


#more-viewers-list {
  width: rem-calc(200);
  padding-bottom: rem-calc(5);
  height: rem-calc(280);
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: rem-calc(5);
  @include radius;
  li{
    @include display-flex($direction: column);
    margin-left: 0;
  }
  .viewer-container {
    padding-bottom: rem-calc(5);
    .author-name a {
      margin-top: rem-calc(-10);
      display: inline-block;
      vertical-align: middle;
      color: $charcoal;
    }
  }
}

.video-creator-icon {
  display: inline-block;
  margin-right: rem-calc(10);
  margin-bottom: 0.5rem;
  position: relative;
}

.live-now-button {
  margin-top: rem-calc(10);
}

.video-insight-link {
  color: #555555;
}

.video-insight-link:hover {
  color: #0084DD;
}

#edcast-live-stream-id .end-of-stream-message {
  width: 100%;
  height: rem-calc(450);
  background-color: $black;
  text-align: center;
  padding: 1rem;
  color: $white;
  padding-top: rem-calc(200);
  line-height: 1.5rem;
}


// Theatre Mode video stream
.theatre-card-section {
  flex-flow: row wrap;
  padding: rem-calc(0 15);
}

//Organization Streams
.org-stream {
  margin-bottom: rem-calc(32);
}

//GET special event
.get-stream-video {
  width: 48%;
  margin-right: rem-calc(10);
}

.get-stream-info {
  width: 48%;
  .video-insight-link {
    margin-bottom: rem-calc(10);
  }
}

.get-scheduled-info {
  width: 58%;
  .video-insight-link {
    margin-bottom: rem-calc(10);
  }
}

.get-rationale {
  margin-bottom: rem-calc(30);
}

.get-scheduled-stream {
  width: 38%;
  margin-right: rem-calc(10);
}

.floating-label {
  .status-icon {
    margin-right: rem-calc(6);
  }
}


.stream-stats {
  width: 100%;
  .get-stats {
    display: inline-block;
    height: rem-calc(14);
    margin-right: rem-calc(5);
  }
  .get-count {
    display: inline-block;
  }

  .likeCount {
    cursor: pointer;

    &:before {
      height: rem-calc(12);
      width: rem-calc(15);
      @include background-size(rem-calc(15 12));
    }
  }
}
