// Extension of 'Subnav' section from `foundation_and_overrides.scss`
// - - - - - - - - - - - - - - - - - - - - - - - - -
// TODO: Find out why we arn't using the Foundation sub-nav in the first place.

.edcast-sub-nav {
  background-color: $tuatara;

  .nav-item {
    padding: rem-calc(10);

    &.active {
      border-bottom: 4px solid $edc-pink;
    }

    .link {
      color: $white;
    }
  }

  .content-dropdown {
    margin-top: 16px;

    .divider {
      margin: rem-calc(0 8);
      height: 1px;
      background-color: $smoke;
    }
  }
}
