//Login Page
.co-brand-login {
  padding-top: rem-calc(100);
  .login-brand-images {
    text-align: center;
    .team-image {
      margin-bottom: rem-calc(14);
      max-width: rem-calc(120);
      max-height: rem-calc(120);
    }
    .subbrand-image {
      max-width: rem-calc(300);
      max-height: rem-calc(90);
    }
    .pitch {
      margin-top: rem-calc(20);
    }
    .app-store {
      margin-bottom: rem-calc(30);
    }
  }
}


.signin-team-container{
  border:1px solid $color_ash_grey;
  background-color: white;
  width: rem-calc(638);
  height: rem-calc(336);  
  margin-top: rem-calc(25);
  margin-bottom: rem-calc(25);
  margin-left: rem-calc(200);
}

.error-container{
  border:1px solid $color_ash_grey;
  background-color: white;
  width: rem-calc(638);
  height: rem-calc(42);
  margin-left: rem-calc(200);
}
.button-styling{
  border-radius: 20px;
  margin-bottom: rem-calc(10);
  margin-top: rem-calc(10);
}
.round-social-button{
  border-radius: 20px;
  width: rem-calc(140);
  height: rem-calc(10);
  line-height: 1px;
  vertical-align: bottom;
}
.button-text{
  font-size: 0.875rem;
  text-align: center;
}
.inside-container{
  margin-top: 50px;
}
.first-half{
  width: rem-calc(390);
  height: rem-calc(230);
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
}
.second-half{
  width: rem-calc(175);
  height: rem-calc(190);
  margin-left: rem-calc(33);
}

ul.social-list li{
  padding: 0;
  margin-bottom: 2px;
  text-align: center;
}
.title{
  font-size: 20px;
 .bold{
  font-weight: $font-weight-bold;
  display: inline-block;
 } 
}
.edc-pink{
  color: $edc-pink;
}
.solid-wall:after{
  content: '';
  border: 1px solid $color_ash_grey; 
  position: absolute;
  top: -0.375rem;
  right: 0;
  height: 90%;
}

.small-text{
  font-size: 14px;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
  .bold{
    font-weight: $font-weight-bold;
  }
}

.notification-title{
  font-size: 22px;
}

.text-container{
  width: rem-calc(638);
  font-size: 12px;
  margin-left: rem-calc(15);
  margin-bottom: rem-calc(10);
}

.fb-signup-link{
  background: image_url('fb.png');
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 26px 23px;
  background-color: #3b5998 !important;
}
.google-signup-link{
  background: image_url('g.png');
  background-color: #DB4437 !important;
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 26px 23px;
}

.linkedin-signup-link {
  background: image_url('in.png');
  background-color: #007bb6 !important;
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 26px 23px;
  }
  .email-signup-link{
    background: image_url('email.png');
    background-color: #757575 !important;
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 26px 23px;
  }
  .form-elements-styling{
    border-radius: 20px;
    width: rem-calc(180);
    height: rem-calc(30);
    line-height: 0;

  }

  .signin-block{
    width: rem-calc(340);
    margin-left: rem-calc(45);
  }
  .notification-block{
    width: rem-calc(340);
    margin-left: rem-calc(45);
  }

  .second-half-image{
    width: rem-calc(150);
    padding-top: rem-calc(10);
    margin-top: rem-calc(70);
  }


