.toc {
  padding: 0;
  background-color: $light-ghost;
  @include border-radius(3px);
  margin-bottom: 1rem;
  overflow: hidden;
  .empty-state {
    padding: 3rem 1rem;
    img {
      width: 60%;
      @include horizontal-center;
    }
    p {
      margin-top: 1rem;
    }
  }
}
.hook-message {
  height: rem-calc(37);
  padding: rem-calc(8 20);
  text-align: center;
  font-size: rem-calc(14);
  color: $iron;
  a {
    text-decoration: underline;
  }
}
.toc-scroller {
  height: rem-calc(37);
  text-align: center;
  cursor: pointer;
  color:$edc-blue;
  &.disabled{
    cursor:not-allowed;
    color:$iron;
  }
}
.toc-list-wrapper {
  max-height: rem-calc(350);
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 -15px 0 0;
  ul {
    margin-left:0;
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    .toc-list-item {
      padding: rem-calc(8 20);
      color: $black;
      cursor: pointer;
      display: block;
      &.active {
        color: $edc-blue;
        a {
          color: $edc-blue;
        }
      }
      &.dragging {
        background-color: $iron;
      }
      &.placeholder {
        background-color: $iron;
      }
      &.deleted {
        color:$iron;
        cursor:not-allowed;
        .remove-icon{
          width: rem-calc(15);
          height: rem-calc(21);
          cursor: pointer;
          margin-right: rem-calc(-3);
        }
      }
      span {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        overflow: hidden;
        &.dragable {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
ol.toc-list {
  margin: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  .toc-list-item {
    padding: rem-calc(8 20);
    color: #828282;
    border-bottom: 1px solid $iron;
    border-left: 3px solid transparent;
    cursor: pointer;
    display: block;
    &.active {
      color: $edc-blue;
      border-left-color: $edc-blue;
      a {
        color: $edc-blue;
      }
    }
    a {
      color: #828282;
      &:hover {
        color: $edc-blue;
      }
    }
    &.dead-item {
      background-color: $gainsboro;
      .remove-dead-toc {
        background: url('close_grey.png') no-repeat top right;
        background-size: 100%;
        display: inline-block;
        height: rem-calc(10);
        width: rem-calc(10);
      }
    }
  }
}
