// Extension of 'TopBar' section from `foundation_and_overrides.scss`
// - - - - - - - - - - - - - - - - - - - - - - - - -
// small customizations for Foundation Top Bar
// add/edit this with caution, use the foundation vars first

$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})";

.top-bar-section {
  ul.dropdown {

    border: 1px solid $iron;

    li a {
      height: rem-calc(30);
      line-height: rem-calc(30) !important; // !important needed to override foundation
      font-size: rem-calc(12);
    }

    li label {
      padding-left: rem-calc(10);
    }

    li.title h5 a {
      font-size: rem-calc(12)
    }
  }

  span.alt-text {
    display: inline-block;
    margin-left: 1rem;
  }
}

@media #{$medium-down} {
  .top-bar-section {

    ul li {
      height: 55px;

      &.has-form {
        padding: rem-calc(0 23.333);
      }

      a {
        height: 55px;
        line-height: 30px;
        clear: both;

        img {
          float: left;
        }

        span.alt-text {
          display: inline-block;
          margin-left: 1rem;
          line-height: 30px;
          float: left
        }
      }
    }

    ul.dropdown {
      li a {
        height: rem-calc(40);
        line-height: rem-calc(23) !important;
      }
    }
  }
}