// 00. Tricks & Treats
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Mixins to center elements as required.
// The parent element needs to have a fixed height for this to work.
@mixin vertical-center {
  position: relative;
  top: 50%;
  @include translateY(-50%);
}

@mixin horizontal-center {
  position: relative;
  left: 50%;
  @include translateX(-50%);
}

@mixin element-center {
  position: relative;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}

.vertical-center {
  @include vertical-center;
}

.element-center {
  @include element-center;
}

// Line clamping
@mixin line-clamp($line, $line-height: rem-calc(20)) {
  display: -webkit-box;
  line-height: $line-height;
  overflow: hidden;
  width: inherit;
  text-overflow: -o-ellipsis-lastline;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// Used to give a cover background image to any element
// requires an inline background image on the element
.bgk {
  @include background-size(cover);
  background-position: center center;
  padding: 3rem 0;
}

.bgk-with-overlay {
  @extend .bgk;
  padding: 0;

  .overlay {
    background-color: rgba(25, 25, 24, 0.4);
    padding: 3rem 0;
  }

  .overlay-less-height {
    @extend .overlay;
    padding: 1rem 0;
  }

  &.white {
    .overlay {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

// Used to center align any element with fixed width
.center {
  margin: 0 auto;
}

// Used to clamp multi-lines (as of now upto 3 lines) long text
// This can be encased into a mixin to accept parameter to truncate at specific line
.line-clamp-3 {
  @include line-clamp(3);
}

.line-clamp-2 {
  @include line-clamp(2);
}


// Used to truncate long text as per parent element's width
.truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}

// Custom styling for bug in add_this_share widget
#at20mc .atm-f {
 height: 28px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #979797;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #979797;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #979797;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #979797;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #979797;
}

// Setting for disabling close icon which appears in only IE if there is already close feature enabled
// Use following class if close feature for input is added
 .search-input-with-close::-ms-clear {
    display: none;
}
