// User Listing - App Component
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable User Element - contains image and details
// Currently used as List of Influencers on Channels Page

.user {
  margin-bottom: 1.5rem;
}

.user-image {
  margin-right: 1rem;
}

@media #{$medium-up} {
  .user-image {
    margin-right: 1.5rem;
  }
}

.user-details {
  padding-top: 0.8rem;

  .button {
    margin: 0.5rem 0;
  }
}


// Currently used in Search and Feed page

.user-card {
  background-color: $white;
  padding: rem-calc(10 16);
  cursor: pointer;

  .user-card-inner {
    height: rem-calc(82); /* Needs this to deal with the case where we don't show the follow button. */
  }

  .user-name-wrapper {
    width: calc(100% - 200px); /* Avatar size + margin + Follow Button */
  }

  .user-name {
    margin-bottom: rem-calc(2);
    width: 100%; /* Need this since we have not specified any width to parent element */
    font-weight: $font-weight-bold;

    &:hover {
      color: $edc-blue;
    }
  }

  .bio {
    width: 100%; /* Need this since we have not specified any width to parent element */
  }
  
}