// Tabs section 
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable tabs component.


// Common Component can be reused everywhere
// - - - - - - - - - - - - - - - - - - - - - - - - -

.slim-tabs {
  @include panel-border;
  background-color: $white;

  .tab-title:first-child a {
  	@include border-radius(5px 0px 0px 5px);
  }
}

.subnav-wrapper {
  padding-top: rem-calc(5);
  background-color: $light-ghost;

  .subnav-v4 .active {
    border-bottom: 2px solid $primary-color;
  }

  .section-header {
    margin-bottom: 0;

    .section-title {
      margin-left: rem-calc(10);
    }
  }

  .tab-title {
    width: auto;
    margin: 0 0.25rem;
  }

  .tab-title.active .filter-link {
    color: $charcoal;
    padding-left: 0;

    &:hover {
      background: $white !important;
    }
  }
}

// Currently used only on Create insights and Edit Insights
// - - - - - - - - - - - - - - - - - - - - - - - - -
.tab-icon {
  height: rem-calc(30);
  width: rem-calc(30);
  border-radius: 50%;
  background-color: $iron;
  padding: rem-calc(5);
  margin: 0 auto;

  @media #{$large-up} { 
    height: rem-calc(50);
    width: rem-calc(50);
    padding: rem-calc(15 0 0 10);
  }
}

.iconic-tabs {
  @include panel-border;

  &.tabs-4 {
    dd { width: 25%; }
  }

  &.tabs-5 {
    dd { width: 20%; }
  }

  dd {
    width: 20%; // default width

    &.disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  .tab-title > a {
    border-top: rem-calc(5) solid transparent;
    padding: 1rem 0;

    @media #{$large-up} { 
      padding: 1rem 2rem;
    }  
  }


  a.article-card-icon {
    .tab-icon {
      padding: rem-calc(4 0 0 0);

      @media #{$large-up} { 
        padding: rem-calc(10 0 0 0);
      }
    }
  }

  .active.tab-title {
  	a {
  		color: $charcoal;
  	}
    a.article-card-icon {
      border-top: rem-calc(5) solid $card-orange;

      .tab-icon {
        background-color: $card-orange;
      }
    }

    a.question-card-icon {
      border-top: rem-calc(5) solid $card-green;

      .tab-icon {
        background-color: $card-green;
      }
    }

    a.photo-card-icon {
      border-top: rem-calc(5) solid $card-yellow;

      .tab-icon {
        background-color: $card-yellow;
      }
    }

    a.video-card-icon {
      border-top: rem-calc(5) solid $card-purple;

      .tab-icon {
        background-color: $card-purple;
      }
    }

    a.poll-card-icon {
      border-top: rem-calc(5) solid $card-blue;

      .tab-icon {
        background-color: $card-blue;
      }
    }
  }
}