// Twitter Typeahead.js
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Autocomplete for search box
.tt-menu {
  background-color: $white;
  padding: 0.5rem 0;
  text-align: left;
  border: 1px solid $iron;
  width: 100%;
  font-size: rem-calc(12);
  @include border-radius(4px);

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: rem-calc(30);
    width: rem-calc(7);
    height: rem-calc(7);
    border-width: rem-calc(7);
    border-color: transparent transparent $iron transparent;
    border-style: inset inset solid inset; 
    top: rem-calc(-14);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: rem-calc(31);
    width: rem-calc(6);
    height: rem-calc(6);
    border-width: rem-calc(6);
    border-color: transparent transparent $white transparent;
    border-style: inset inset solid inset; 
    top: rem-calc(-12);
  }
}

.dataset-header {
  font-size: rem-calc(13);
  font-weight: $font-weight-bold;
  color: $black;
  text-transform: uppercase;
  margin: 0.5rem 0 0.25rem rem-calc(-5);
  padding: 0 1rem;
}

.tt-suggestion {
  min-height: rem-calc(30);
  padding: 0.2rem 1rem;
  cursor: pointer;

  .user-name {
    margin-left: 0.5rem;
    max-width: rem-calc(175);
  }

  .name-handle-wrapper {
    max-width: calc(100% - 30px);
  }

  .user-handle {
    margin-left: 0.5rem;
    max-width: rem-calc(175);
    margin-top: rem-calc(-5);
  }

  &:hover:not(.custom) {
    background-color: $edc-blue;
    color: $white;
  }

  &.custom {
    padding: rem-calc(3 6);
    font-size: rem-calc(13);
    color: $monsoon;

    .empty-link {
      color: $charcoal;
      word-wrap: break-word;

      &:hover {
        color: $primary-color;
      }
    }
    
  }



}

.tt-cursor {
  background-color: $edc-blue;
  color: $white;
  width: 100%;
}

// To override foundation margin on input element for search feature
input.tt-input { 
	margin-bottom: 0;
}

// Customization for header only
.inline-search-wrapper .tt-menu {
  margin-top: 0.5rem; 
}

.twitter-typeahead{
  width: 100%;
}