// Use Compass ('cause it rocks!)
@import "compass";

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Backgrounds
$background-red: #730a29;
$lightYellow: #fcf7ec;
$lightGrey: #f6f6f6;


$crimson: $background-red;
$light-crimson: #c396a3;
$golden:#edcc82;
$blue:#68affd;
$background-brown: #370514;
$border-bottom-color: #818284;
$grey-sidebar:#808285;

//Dashboard colors
$grey-light:#e5e5e5;
$grey-dark:#515151;
$light-crimson:#fcf7ec;
$right-sidebar-color:#fafaf6;
$light-blue: #f6f7f8;
$button-blue:#5881ad;
$grey-faculty:#818486;
$dark-blue-color:#4f6585;
$dash-anchor-blue: #6996cc;
$red-error: #bd362f;

.mb0px {
  margin-bottom:0px !important;
}

.mb5px {
  margin-bottom: 0px;
}

.mb30px {
  margin-bottom:30px !important;
}
.mb20px {
  margin-bottom: 20px !important;
}

.ml10px {
  margin-left: 10px !important;
}
.ml15px {
  margin-left: 15px !important;
}
.mr15px {
  margin-right: 15px !important;
}
.mt0px {
  margin-top: 0 !important;
}

.mt10px, .row.mt10px {
  margin-top: 10px;
}

.mt20px, .row.mt20px {
  margin-top: 20px;
}

.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt40 {
  padding-top: 40px !important;
}


.pt60 {
  padding-top: 60px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pr0, .columns.pr0 {
  padding-right: 0px !important;
}