<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <title><%= vars[:org][:name].to_s%></title>
</head>

<body>
<table bgcolor="#FFFFFF" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table width="600" border="0" align="center" style="border: 1px solid #d6d6e1" cellpadding="0" cellspacing="0">
        <tr bgcolor="<%= vars[:custom_css][:header_background_color] %>">
          <td align="center">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td  align="left" valign="bottom">
                  <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="60"></td>
                    </tr>
                    <tr>
                      <td height="60"></td>
                    </tr>
                  </table>
                </td>
                <td align="center" width="55%">
                  <table border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <!--logo-->
                    <tr>
                      <td align="center" style="line-height: 0px;">
                      <table border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                          <% if vars[:show_ed_logo] %>
                            <td>
                              <img style="display:inline;line-height:0px;font-size:0px;border:0px;padding-right: 10px;padding-left: 10px;" height="45" src="https://s3-us-west-2.amazonaws.com/edcast-email-assets/ed-new.png" alt="logo" class="CToWUd"> </td>
                              <% if vars[:org][:logo] %>
                              <td style="border-left:solid 1px #6f708b;padding-right: 10px;"></td>
                              <% end %>
                            <% end %>
                            <% if vars[:org][:logo] %>
                            <td>
                              <img style="display:inline;line-height:0px;font-size:0px;border:0px;" height="50" src="<%= vars[:org][:logo] %>" alt="logo"></td>
                            <% end %>
                          </tr>
                        </tbody>
                      </table>
                      </td>
                    </tr>
                    <!--end logo-->
                    <tr>
                      <td height="5"></td>
                    </tr>
                  </table>
                </td>
                <td align="right" valign="bottom">
                  <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="60"></td>
                    </tr>
                    <tr>
                      <td height="60"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center" style="font-size: 12px;">
            <table align="center" style="padding-left: 25px; padding-right: 25px;" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="25"></td>
              </tr>
              <!--content-->
              <%= yield %>
              <tr>
                <td align="left" style="font-family: 'Open sans', Arial, sans-serif; color: <%= vars[:custom_css][:text_color] %>; font-size:12px; line-height: 18px;">
                  <p>If you have any questions, or need help, then drop us a note at <a style="color: <%= vars[:custom_css][:text_color] %>; text-decoration:none;" href="mailto:<%= vars[:org][:support_email].to_s%>"><%= vars[:org][:support_email].to_s%></a>. We'd love to hear from you.</p>
                  <p>Cheers,</p>
                  <p><i>The team at <%= vars[:org][:name].to_s%></i></p>
                </td>
              </tr>
              <!--end content-->
              <tr>
                <td height="25"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="width: 100%; background-color: #f0f0f5;">
            <table align="center" bgcolor="#f0f0f5" style="width: 100%" border="0" cellspacing="0" cellpadding="0">
              <!-- preference -->
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-family: 'Open sans', Arial, sans-serif; font-size:12px; color: #acadc1; line-height:28px;font-style: italic; ">
                  Sent From: <a style="text-decoration: none; color: #acadc1;"><%= vars[:org][:home_page].to_s%></a>
                </td>
              </tr>
              <tr>
                <td height="2"></td>
              </tr>

              <%if vars[:org][:promotions]%>
              <tr align="center" style="font-family: 'Open sans', Arial, sans-serif; font-weight: 300; font-size: 8px; color: #acadc1;">
                <td>Click to download the <%= vars[:org][:name].to_s%> mobile app</td>
              </tr>
              <tr height="5"></tr>
              <tr>
                <td>
                  <table align="center" bgcolor="#f0f0f5" width="155" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><a href="<%= vars[:org][:appstore_link].to_s%>"><img width="72" src="https://www.edcast.com/i/images/app_store.png"></a></td>
                      <td width="15"></td>
                      <td><a href="<%= vars[:org][:playstore_link].to_s%>"><img width="72" src="https://www.edcast.com/i/images/play_store.png"></a></td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td height="15"></td>
              </tr>
              <%end%>
              <!-- preference -->
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>