doctype html
html
  head
    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{Settings.trackers.google_analytics.id}', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview', {
        'page': '/redirect',
        'title': '#{@redirect_url}',
        'hitCallback': function(){
            window.location.replace('#{@redirect_url}');
        }
      });
      setTimeout(function(){ window.location.replace('#{@redirect_url}');}, 1000);
  body
