/*
 *= require_self
 */
// Project Destiny

// Destiny App - Foundation Component Overrides
@import 'foundation_and_overrides';
@import 'foundation-icons';

// Table of Contents
// ------------------------------------------
// 000. Compass Imports
// 001. Tricks & Treats
// 002. Mixins
// 003. Backgrounds
// ------------------------------------------
// a. Typography
// b. Buttons
// c. Subnav
// d. Topbar
// e. Tabs
// f. Dropdowns
// ------------------------------------------
// 01. Header
// 02. Footer
// 03. Ads
// 04. Avatars
// 05. Cards
//   05.1. Card hover actions
//   05.2. Cards
// 06. Circles
// 07. Indicators
// 08. Social Activity
// 09. Streams
// --. Promotions
// 10. User Listing
// 11. Modal
// 12. File Upload
// 13. Inline Create Insight
// 14. Inline Card Expansion
// 15. Custom Select Dropdowns

// 16. Card Packs
// 17. Toc Component
// 18. Twitter Typeahead
// 19. Dashboard Layout
// 20. User profile data graphs
// 21. Page Sections (Layout)
// 22. Page Specific Stuff
//   22.1. Homepage
//   22.2. Collect User Info Modal
//   22.3. User Dashboard - Feed Page
//   22.4. User Dashboard - Settings Page
//   22.5. Global Influencers Mgmt
//   22.6. Channels Mgmt
//   22.7. Create Insight Page
//   22.8. Auth Modal
// 23. Common Stuff
//   23.1. Anchors/Links
//   23.2. Social Media Icons
//   23.3. Borders
//   23.4. Breakword
//   23.5. Chrome Store Hook

// 000. Compass Imports
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/layout/sticky-footer";
@import "compass/css3/transition";
@import "compass/css3/opacity";

// 001. Tricks & Treats
@import 'components/tricks_n_treats';

// 002. Mixins
@import 'components/mixins';

// 003. Backgrounds
@import 'components/backgrounds';

// a. Typography
@import 'components/typography';

// b. Buttons
@import 'components/buttons';

// c. Subnav
@import 'components/subnav';

// d. Topbar
@import 'components/topbar';

// e. Tabs
@import 'components/tabs';

// f. Dropdowns
@import 'components/dropdowns';

// 01. Header
@import 'components/header_v3';

// 02. Footer
@import 'components/footer_v3';

// 03. Ads
@import 'components/ads';

// 04. Avatars
@import 'components/avatars';

// - - - - - - - - - - - - - - - - - - - - - - - - -
// 05. Cards
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 05.1. Card hover actions
@import 'components/card_hover_actions';

// 05.2. Cards
@import 'components/cards';

// 06. Circles
@import 'components/circles';

// 07. Indicators
@import 'components/indicators';

// 08. Social Activity
@import 'components/social_activity';

// 09. Streams
@import 'components/streams';

// --. Promotions
@import 'components/promotions';

// 10. User Listing
@import 'components/user_listing';

// 11. Modal
@import 'components/modal';

// 12. File Upload
@import 'components/file_upload';

// 13. Inline Create Insight
@import 'components/inline_create_insight';

// 14. Inline Card Expansion
@import "components/gridder";

// 15. Custom Select Dropdowns
@import "foundation-select";
@import "jquery.textcomplete";
@import "tipso";

// 16. Card packs
@import 'components/card_packs';

// 17. Table of Contents Component (TOC)
// React Component used for Card Packs
@import "components/toc";

// 18. Twitter Typehead
@import 'components/twitter_typehead';

// 19. Dashboard Layout
@import 'foundation-dashboard/theme';
@import 'foundation-dashboard/slicknav';

// 20. User profile data graphs
@import 'components/profile_data';

// Notifications section in slicknav
.notifications-count-wrapper {
  position: relative;
}

.notifications-count {
  position: absolute;
  width: rem-calc(20);
  height: rem-calc(20);
  line-height: rem-calc(20);
  font-style: initial;
  font-size: rem-calc(9);
  top: rem-calc(2);
  left: calc(100% - 13px);
  @include bg($bg: $edc-pink, $color: $white, $vert-padding: 0px, $horz-padding: 0px, $radius: 50%, $opacity: 1)
}

// Specifically for menu appearing for small screens
.slicknav_menu .notifications-count {
  top: rem-calc(-13);
  left: calc(100% - 10px);
}

.topnav .badge-link {
  padding: 0;
  display: none;

  .badge {
    @include vertical-center;
  }
}


// 21. Page Sections (Layout)
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable classes for page sections

.section-image {
  margin-right: 2rem;

  .medium-circle {
    @include horizontal-center;
    margin-bottom: 1rem;
  }
}

@media #{$medium-up} {
  .section-image {
    margin-right: 3rem;
  }
}

.section-content {
  margin-top: 1rem;
  width: 80%
}

@media #{$medium-up} {
  .section-content {
    width: 70%;
  }
}

// Page Section Headers
.section-header{
  margin: 0.5rem 0;

  .section-title {
    margin: 0 0 0 0.8rem;
    font-size: rem-calc(18);
    font-weight: $font-weight-bold;

  }
  .section-description {
    margin: 0 0 0 0.8rem;
    font-size: rem-calc(14);
    font-weight: $font-weight-normal;
  }
}

// For backward compatibility
.section-title {
  margin: 2rem 0;
}

.main-body {
  padding-bottom: 3rem;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// 22. Page Specific Stuff
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 22.1 Homepage
// - - - - - - - - - - - - - - - - - - - - - - - - -
.customer {
  .name {
    padding-top: 1rem;
    margin-left: .5rem;
  }
}

.partners-slick {
  &.slick-slider {
    margin-bottom: rem-calc(80);
  }

  .slick-item {
    margin: rem-calc(0 15);
    max-width: rem-calc(300);
    height: rem-calc(150);
    text-align: center;
    padding: rem-calc(5);

    img {
      display: inline-block;
      max-height: rem-calc(145);
      @include vertical-center;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: $edc-pink;
  }

  .slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: $edc-pink;
  }

  .slick-dots {
    width: 96%; // prevent overflow out of container and avoid scroll
    margin-left: 0px;
    @media only screen and (max-width: 640em) {
      // to allow stretching bottom divs
      bottom: -100%;
      position: relative;
    }
  }

  .slick-prev {
    @media  only screen and (max-width: 1080px) {
      left: rem-calc(-12);
      top: rem-calc(70);
    }
  }

  .slick-next {
    @media  only screen and (max-width: 1080px) {
      right: rem-calc(-12);
      top: rem-calc(70);
    }
  }

}

.banner {
  padding-top: rem-calc(70);
  @media #{$small-only} { padding-top: rem-calc(50); }
  @media #{$medium-only} { padding-top: rem-calc(30); }

  .pitch {
    margin: 1rem 0;
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $white;
  }

  .call-to-action {
    padding: 2rem;
    background-color: rgba(0,0,0,0.8);
    margin: 1rem 0;
    @include border-radius(10px, 10px);

    @media #{$small-only} { padding: 1rem; }

    .message {
      text-align: center;
      margin: 0 0 0.5rem 0;
      color: $white;

      @media #{$large-up} {
        text-align: left;
      }
    }

    .action {
      margin: 0.5rem 0;
      border: 1px solid $white;
      @include border-radius($global-rounded);

      .input-prefix {
        padding: 0 0 0 0.5rem;
        width: auto;
        color: $white;
        font-size: $paragraph-font-size;
      }

      input[type=text] {
        height: rem-calc(40);
        border-width: 0;
        color: $white;
        display: inline-block;
        padding-left: rem-calc(2);
        background-color: transparent;
        width: calc(100% - 125px);
        margin-bottom: 0;
      }
    }

    .action-button {
      margin: 0.5rem 0 0 0;
      text-align: center;

      @media #{$large-up} {
        text-align: left;
      }
    }

    .highlight {
      font-weight: $font-weight-bold;
    }
  }

}


// 22.2. Collect User Info Modal
// - - - - - - - - - - - - - - - - - - - - - - - - -
// TODO: Verify if this section is needed at all
// Just to override default styling
small.handle-input-error {
  display: none;
}

// 22.3. User Dashboard - Feed Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
.feed-box{
  .circles-list a.feed-channel {
    @include horizontal-center;
    margin: 0;
  }

}

// 22.4. User Dashboard - Settings Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
.settings-box {
  margin-top: 2rem;
  padding: 1rem;
  background-color: $white;
  @include panel-border;

  h5, h6 {
    font-weight: $font-weight-bold;
  }

  .img-wrapper {
    padding: 0px;
  }
}

input#user_handle.avail_handle {
  border-bottom: 1px solid green;
}

input#user_handle.erroneous_handle {
  border-bottom: 1px solid red;
}
.erroneous_text {
  color: #bd362f;
}
.avail_text {
  color: green;
}

.display_password {
  line-height: rem-calc(42);
  a, p {
    display: inline-block;
  }
  p {
    margin-right: rem-calc(20);
    width: rem-calc(60);
  }
}

.password_fields {
  display: none;

  .user_password, .toggle-password {
    display: inline-block;
  }
  .user_password {
    width: 90%;
    vertical-align: middle;
  }
  .toggle-password {
    @include bg-image($bg-image: 'toggle_password-black.svg', $bg-position: center center, $bg-size: 100%);
    cursor: pointer;
    height: rem-calc(20);
    margin-left: rem-calc(10);
    vertical-align: middle;
    width: rem-calc(20);

    &.active {
      @include bg-image($bg-image: 'toggle_password-blue.svg', $bg-position: center center, $bg-size: 100%);
    }
  }
}

.my-content-box {
  margin: 2rem 0;

  .section-title {
    margin: rem-calc(0 0 0 10);
  }
}

.notification-item {
  padding: rem-calc(10);
  border-top: 1px solid $ghost;
  display: inline-block;
  width: 100%;
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-in);


  &:hover {
    background: $grey;
  }

  .message {
    color: $charcoal;
    margin-bottom: 0;
  }

  .all_users img {
    width: rem-calc(30);
    height: rem-calc(30);
    margin-right: rem-calc(5);
    cursor: pointer;
  }

  .view_link {
    font-size: rem-calc(14);
    text-decoration: underline;
  }

  .noti_user_link {
    color: $color_storm_dust_approx;
    font-weight: $font-weight-normal;
  }

  .snippet {
    color: $color_storm_dust_approx;
  }

  .user-image {
    cursor: pointer;
  }
}

.notification-list {
  @include panel-border;
  .unseen {
    background-color: $grey;
  }

  .notification-item-wrapper:first-child .notification-item {
    border-top: none;
  }
}

.character-counter {
  display: inline-block;
  font-size: rem-calc(12);
  text-align: center;
  vertical-align: middle;
}

.faint-post-label {
  color: $aluminum;
  vertical-align: middle;
}

// 22.5. Global Influencers Management
// - - - - - - - - - - - - - - - - - - - - - - - - -
.influencers-list, .content-sources-list {
  list-style: none;
  margin-left: 0;

  .remove {
    border: transparent;
    background: transparent;
    color: transparent;
    width: rem-calc(19);
    height: rem-calc(19);
    cursor: pointer;
    @include bg-image($bg-image: 'delete_content.png', $bg-position: center center, $bg-size: rem-calc(19));
  }

  label {
    line-height: 1;
  }
}

// 22.6. Channels Management
// - - - - - - - - - - - - - - - - - - - - - - - - -
.channel-form-container {
  padding: 1rem 2rem;
  background: $white;
  @include panel-border;
}

.right-indent {
  padding-left: rem-calc(40);

  @media #{$small-only} {
    padding-left: 0;
  }
}

.manage-channels {
  &#list-channels {
    .section-title {
      margin-left: rem-calc(40);
    }
  }

  .section-title {
    h4 {
      display: inline-block;
      width: auto;
    }
  }

  .img-wrapper {
    padding: 0px;
  }

  .file-upload {
    margin-top: rem-calc(10);
  }
}

// 22.7. Create Insight Page
// - - - - - - - - - - - - - - - - - - - - - - - - -

.option-actions {
  width: rem-calc(45);
  display: inline-block;
  margin-top: 0.6rem;

  img {
    width: rem-calc(14);
    height: rem-calc(14);
    margin-top: rem-calc(-5);
  }

  .dummy-indicator {
    font-size: rem-calc(18);
    // This color needs to be standardized using a color variable
    color: $jumbo;
  }

  .remove-option {
    cursor: pointer;
  }
}

.option-field {
  width: calc(100% - 45px);
  display: inline-block;

}

.insight-form-container, .card-pack-form-container {
  background: $white;
  padding: rem-calc(15);
  @include panel-border;

  // Following classes are for form nesting issue in 'Image Card create form'. These classes will make 2 containers as a whole single component visually.
  &.image-card-form-top {
    @include panel-border($border-color: transparent);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.image-card-form-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .link-card-abstract, .video-card-abstract {
    margin-top: rem-calc(8 0);
  }

  .card-content-wrapper {
    padding: rem-calc(10);
  }
}

// 22.8. Auth Modal
// - - - - - - - - - - - - - - - - - - - - - - - - -

.auth-button {
  margin-bottom: rem-calc(5);
}

.signup-error.error input {
  margin-bottom: 0;
}

.common-modal .auth-input {
  margin-bottom: rem-calc(10);
}

// 22.9. User & Channel Public Pages
// - - - - - - - - - - - - - - - - - - - - - - - - -

.user-public-page {

  h3 {
    display: inline;
    color: $white;
    width: auto;
    max-width: 80%;
  }

  .banner-label {
    display: inline;
    font-size: rem-calc(12);
    margin: rem-calc(10 0 0 16);
    height: rem-calc(20);
    line-height: rem-calc(12);
    @extend .bg-translucent;
  }

  .stats {
    float: left;
    display: inline;
    font-size: rem-calc(12);
    margin: rem-calc(10 0 0 0);
    line-height: rem-calc(12);
    @include bg($bg: $black, $color: $white, $vert-padding: 8px, $horz-padding: 10px, $radius: 4px, $opacity: 0.6)
  }

  .addthis_sharing_toolbox {
    float: right;
    margin-top: rem-calc(6);
  }

  @media #{$small-only} {
    .banner-label {
      margin: rem-calc(6 0 0 16);
    }

    .stats {
      float: none;
      display: inline-block;
      margin-bottom: rem-calc(16);
    }

    .addthis_sharing_toolbox {float: none;}
  }

}

.channel-public-page {

  h3 {
    display: inline;
    color: $white;
    width: auto;
    max-width: 80%;
    margin: rem-calc(4 0 0 0);
  }

  .banner-label {
    display: inline;
    font-size: rem-calc(10);
    margin: rem-calc(12 0 0 16);
    height: rem-calc(20);
    line-height: rem-calc(10);
    @extend .bg-translucent;
  }

  @media #{$small-only} {
    .banner-label {
      margin: rem-calc(6 0 0 16);
    }
  }

  .collaborators-list {
    margin-top: 1rem;

    h6 {font-weight: $font-weight-bold;}

    ul.inline-list li {
      max-width: rem-calc(50);
      text-align: center;
      margin-bottom: 1rem;
      cursor: pointer;
    }

    // check if settings are configurable from foundation variables
    // check what other dropdowns will be affected.
    .f-dropdown.content {
      padding: 0.5rem;
      width: auto;
      max-width: rem-calc(200);
      border-radius: 3px;

      .follow-button {
        display: block;
        margin: 0;
        padding: 0.2rem 0;

        .follow-text {font-size: rem-calc(12);}
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// 23. Common Stuff
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used across the app

// 23.1. Anchors/Links
// - - - - - - - - - - - - - - - - - - - - - - - - -
a.white {
  color: $ghost;

  &:hover {
    color: $white;
  }
}

a.edcast-blue {
  color: $edc-blue;
  &:hover {
    color: $edc-blue;
  }
}

a.underline {
  text-decoration: underline;
}

// 23.2. Social Media Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -
.social-icon {
  height: rem-calc(25);
  margin-top: 1rem;
}

// 23.3. Borders
// - - - - - - - - - - - - - - - - - - - - - - - - -
.iron-border {
  border: 1px solid $iron;
}

// 23.4. Breakword
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Wrap the word to the not flow beyond the width of the parent element
.breakword {
  word-wrap: break-word;
}

// 23.5 Chrome Store Hook
// - - - - - - - - - - - - - - - - - - - - - - - - -
#chromebadge {
  &.bottom-left {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: rem-calc(206);
    height: rem-calc(100);
    border: 1px solid $iron;
    padding: 0.5rem;
    background-color: $ghost;
    border-radius: $global-radius;
  }
}
