/*
 *= require_self
 */
// Project Destiny

// Destiny App - Foundation Component Overrides
@import 'foundation_and_overrides_v4';
@import 'foundation-icons';

// Table of Contents
// ------------------------------------------
// 000. Compass Imports
// 001. Tricks & Treats
// 002. Mixins
// 003. Backgrounds
// ------------------------------------------
// a. Typography
// b. Buttons
// c. Tabs
// d. Dropdowns
// ------------------------------------------
// 01. Header
// 02. Footer
// 03. Avatars
// 04. Insights
// 05. Circles
// 06. Indicators
// 07. Social Activity
// 08. Streams
// --. Promotions
// 09. User Listing
// 10. Modal
// 11. File Upload
// 12. Inline Create Insight
// 13. Inline Card Expansion
// 14. Custom Select Dropdowns
// 15. Card Packs
// 16. Toc Component
// 17. Twitter Typeahead
// 18. User Profile Data Graphs
// 19. Layout v4
// 20. Page Sections
// 21. Page Specific Stuff
//  21.1. Homepage
//  21.2. Collect User Info Modal
//  21.3. User Dashboard - Feed Page
//  21.4. User Dashboard - Settings Page
//  21.5. Global Influencers Mgmt
//  21.6. Channels Mgmt
//  21.7. Create Insight Page
//  21.8. Auth Modal
//  21.9 User & Channel Public Pages
//  21.10 Notifications Page
//  21.11 Team Management
//  21.12 Search Page
// 22. Common Stuff
//  22.1. Anchors/Links
//  22.2. Social Media Icon
//  22.3. Borders
//  22.4. Breakword
//  22.5. Chrome Store Hook
// 23. CMS
// 23. Onboarding
//  23.1. New Team
// 24. CMS
// 25. Overlay
// 26. Org Analytics

// 000. Compass Imports
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/layout/sticky-footer";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/css3/filter";

// 001. Tricks & Treats
@import 'components/tricks_n_treats';

// 002. Mixins
@import 'components/mixins';

// 003. Backgrounds
@import 'components/backgrounds';

// a. Typography
@import 'components/v4/typography_v4';

// b. Buttons
@import 'components/v4/buttons_v4';

// c. Tabs
@import 'components/tabs';

// d. Dropdowns
@import 'components/dropdowns';

// e. Icons
@import "components/v4/icons";

// g. Datepicker
@import 'jquery-ui-datepicker.min';

// 01. Header
@import 'components/v4/header_v4';

// 02. Footer
@import 'components/v4/footer_v4';

// 03. Avatars
@import 'components/avatars';

// 04. Cards
@import 'components/card_hover_actions';
@import 'components/cards';
@import 'components/v4/insights_v4';
@import 'components/list_view_insight';

//05. Orgnization Authentication Management
@import 'components/org_auth';
@import 'components/org_settings';
.video-card {
  max-width: rem-calc(400);
  margin: 0 auto;
}

// 05. Circles
@import 'components/circles';

// 06. Indicators
@import 'components/indicators';

// 07. Social Activity
@import 'components/social_activity';

// 08. Streams
@import 'components/streams';
// Bad css for channel show page and user page
.for-channel-page #card-left-container, .for-channel-page #card-right-container, .gridder-expanded-content #card-left-container, .gridder-expanded-content #card-right-container {
  width: 100%;
}

// --. Promotions
@import 'components/promotions';

// 09. User Listing
@import 'components/user_listing';

// 10. Modal
@import 'components/modal';

// 11. File Upload
@import 'components/file_upload';

// 12. Inline Create Insight
@import 'components/inline_create_insight';
// Adjustment for app v4
.inline-create-insight {
  margin: rem-calc(0 -15);
}

// 13. Inline Card Expansion
@import "components/gridder";

// 14. Custom Select Dropdowns
@import "foundation-select";
@import "jquery.textcomplete";
@import "tipso";

// 15. Card packs
@import 'components/card_packs';

// 16. Table of Contents Component (TOC)
// React Component used for Card Packs
@import "components/toc";

// 17. Twitter Typehead
@import 'components/twitter_typehead';

// 18. User profile data graphs
@import 'components/profile_data';

// 19. Layout v4
@import 'components/v4/layout_v4';

@import 'components/v4/forum';

@import 'components/v4/react_menu';

@import 'components/v4/interest';

@import 'components/v4/profile_integrations';

@import 'components/v4/page_hopper';

// 20. Page Sections (Layout)
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Reusable classes for page sections
.section-image {
  margin-right: 2rem;

  .medium-circle {
    @include horizontal-center;
    margin-bottom: 1rem;
  }
}

@media #{$medium-up} {
  .section-image {
    margin-right: 3rem;
  }
}

.section-content {
  margin-top: 1rem;
  width: 80%
}

@media #{$medium-up} {
  .section-content {
    width: 70%;
  }
}

// Page Section Headers
.section-header{
  margin: 1.5rem 0 0.5rem 0;

  .section-title {
    margin: 0;
    font-size: rem-calc(14);
    font-weight: $font-weight-bold;
    text-transform: uppercase;

  }
  .section-description {
    margin: 0;
    font-size: rem-calc(12);
    font-weight: $font-weight-normal;
  }
}

// Impersonation Box
// - - - - - - - - - - - - - - - - - - - - - - - - -
.impersonate-box {
  position: fixed;
  bottom: rem-calc(20);
  left: rem-calc(20);
  background-color: red;
  color: $white;
  padding: rem-calc(8);
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// 21. Page Specific Stuff
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 21.1 Homepage
// - - - - - - - - - - - - - - - - - - - - - - - - -
.customer {
  .name {
    padding-top: 1rem;
    margin-left: .5rem;
  }
}

.partners-slick {
  &.slick-slider {
    margin-bottom: rem-calc(80);
  }

  .slick-item {
    margin: rem-calc(0 15);
    max-width: rem-calc(300);
    height: rem-calc(150);
    text-align: center;
    padding: rem-calc(5);

    img {
      display: inline-block;
      max-height: rem-calc(145);
      @include vertical-center;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: $edc-pink;
  }

  .slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: $edc-pink;
  }

  .slick-dots {
    width: 96%; // prevent overflow out of container and avoid scroll
    margin-left: 0px;
    @media only screen and (max-width: 640em) {
      // to allow stretching bottom divs
      bottom: -100%;
      position: relative;
    }
  }

  .slick-prev {
    @media  only screen and (max-width: 1080px) {
      left: rem-calc(-12);
      top: rem-calc(70);
    }
  }

  .slick-next {
    @media  only screen and (max-width: 1080px) {
      right: rem-calc(-12);
      top: rem-calc(70);
    }
  }

}

.banner {
  padding-top: rem-calc(70);
  @media #{$small-only} { padding-top: rem-calc(50); }
  @media #{$medium-only} { padding-top: rem-calc(30); }

  .pitch {
    margin: 1rem 0;
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $white;
  }

  .call-to-action {
    padding: 2rem;
    background-color: rgba(0,0,0,0.8);
    margin: 1rem 0;
    @include border-radius(10px, 10px);

    @media #{$small-only} { padding: 1rem; }

    .message {
      text-align: center;
      margin: 0 0 0.5rem 0;
      color: $white;

      @media #{$large-up} {
        text-align: left;
      }
    }

    .action {
      margin: 0.5rem 0;
      border: 1px solid $white;
      @include border-radius($global-rounded);

      .input-prefix {
        padding: 0 0 0 0.5rem;
        width: auto;
        color: $white;
        font-size: $paragraph-font-size;
      }

      input[type=text] {
        height: rem-calc(32);
        border-width: 0;
        color: $white;
        display: inline-block;
        padding-left: rem-calc(2);
        background-color: transparent;
        width: calc(100% - 125px);
        margin-bottom: 0;
      }
    }

    .action-button {
      margin: 0.5rem 0 0 0;
      text-align: center;

      @media #{$large-up} {
        text-align: left;
      }
    }

    .highlight {
      font-weight: $font-weight-bold;
    }
  }

}


// 21.2. Collect User Info Modal
// - - - - - - - - - - - - - - - - - - - - - - - - -
// TODO: Verify if this section is needed at all
// Just to override default styling
small.handle-input-error {
  display: none;
}

// 21.3. User Dashboard - Feed Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
.feed-box{
  .circles-list a.feed-channel {
    @include horizontal-center;
    margin: 0;
  }

}

// 21.4. User Dashboard - Settings Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
.settings-box {
  padding: 1rem;

  h5, h6 {
    font-weight: $font-weight-bold;
  }

  .img-wrapper {
    padding: 0px;
  }
}

input#user_handle.avail_handle {
  border-bottom: 1px solid green;
}

input#user_handle.erroneous_handle {
  border-bottom: 1px solid red;
}
.erroneous_text {
  color: #bd362f;
}
.avail_text {
  color: green;
}

.display_password {
  line-height: rem-calc(42);
  a, p {
    display: inline-block;
  }
  p {
    margin-right: rem-calc(20);
    width: rem-calc(60);
  }
}

.password_fields {
  display: none;

  .user_password, .toggle-password {
    display: inline-block;
  }
  .user_password {
    width: 90%;
    vertical-align: middle;
  }
  .toggle-password {
    @include bg-image($bg-image: 'toggle_password-black.svg', $bg-position: center center, $bg-size: 100%);
    cursor: pointer;
    height: rem-calc(20);
    margin-left: rem-calc(10);
    vertical-align: middle;
    width: rem-calc(20);

    &.active {
      @include bg-image($bg-image: 'toggle_password-blue.svg', $bg-position: center center, $bg-size: 100%);
    }
  }
}

.my-content-box {
  margin: 2rem 0;

  .section-title {
    margin: rem-calc(0 0 0 10);
  }
}

.character-counter {
  display: inline-block;
  font-size: rem-calc(12);
  text-align: center;
  vertical-align: middle;
}

.faint-post-label {
  color: $aluminum;
  vertical-align: middle;
}

span.prefix{
  overflow-x:auto;
  overflow-y:hidden;
  text-align:right;
}

span.handle{
  overflow-x:scroll;
  text-align:left;
}

#notifications {

  .notification-type {
    padding: rem-calc(16 0);
    border-bottom: 1px solid $iron;
  }

  .switch {
    .switch-on {
      position: absolute;
      left: -52px;
      color: white;
      font-weight: bold;
      font-size: 9px;
      text-transform: uppercase;
      top: 3px;
    }

    .switch-off {
      position: absolute;
      left: -28px;
      color: white;
      font-weight: bold;
      font-size: 9px;
      text-transform: uppercase;
      top: 3px;
    }
  }
}

.section-wrapper {
  background-color: $white;
  border-radius: $global-radius;
}

// 21.5. Global Influencers Management
// - - - - - - - - - - - - - - - - - - - - - - - - -
.influencers-list {
  list-style: none;
  margin-left: 0;

  .remove {
    border: transparent;
    background: transparent;
    color: transparent;
    width: rem-calc(19);
    height: rem-calc(19);
    cursor: pointer;
    @include bg-image($bg-image: 'delete_content.png', $bg-position: center center, $bg-size: rem-calc(19));
  }

  label {
    line-height: 1;
  }
}

// 21.6. Channels Management
// - - - - - - - - - - - - - - - - - - - - - - - - -
.channel-form-container {
  padding: 1rem 2rem;
  background: $white;
  @include panel-border;
}

.right-indent {
  padding-left: rem-calc(40);

  @media #{$small-only} {
    padding-left: 0;
  }
}

.manage-channels {
  &#list-channels {
    .section-title {
      margin-left: rem-calc(40);
    }
  }

  .section-title {
    h4 {
      display: inline-block;
      width: auto;
    }
  }

  .img-wrapper {
    padding: 0px;
  }

  .file-upload {
    margin-top: rem-calc(10);
  }
}

// 21.7. Create Insight Page
// - - - - - - - - - - - - - - - - - - - - - - - - -

.option-actions {
  width: rem-calc(42);
  display: inline-block;
  margin-top: 0.6rem;

  img {
    width: rem-calc(14);
    height: rem-calc(14);
  }

  .dummy-indicator {
    font-size: rem-calc(18);
    // This color needs to be standardized using a color variable
    color: $jumbo;
    position: relative;
    display: inline-block;
    margin-left: -12px;
  }

  .remove-option {
    cursor: pointer;
    margin-right: 8px;
  }

  .poll-simple {
    display: inline-block;
    width: 100%;
    float: right;
  }
  .poll-question {
    display: inline;
    float: right;
    width: 100%;
  }
}

.option-field {
  width: calc(100% - 45px);
  display: inline-block;

}

.insight-form-container, .card-pack-form-container {
  background: $white;
  padding: rem-calc(15);
  @include panel-border;

  .image-card-input {
    line-height: rem-calc(42);
  }

  // Following classes are for form nesting issue in 'Image Card create form'. These classes will make 2 containers as a whole single component visually.
  &.image-card-form-top {
    border-color: $iron;
    border-style: solid;
    border-width: rem-calc(1 1 0 1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.image-card-form-bottom {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .link-card-abstract, .video-card-abstract {
    margin-top: rem-calc(8 0);
  }

  .card-content-wrapper {
    padding: rem-calc(10);
    overflow: scroll;
  }

  .hide-preview {
    display: none !important;
  }
}

// 21.8. Auth Modal
// - - - - - - - - - - - - - - - - - - - - - - - - -

.auth-button {
  margin-bottom: rem-calc(5);
}

.signup-error.error input {
  margin-bottom: 0;
}

.common-modal .auth-input {
  margin-bottom: rem-calc(10);
}

// 21.9. User & Channel Public Pages
// - - - - - - - - - - - - - - - - - - - - - - - - -

.user-public-page {

  h3 {
    display: inline;
    color: $black;
    width: auto;
    max-width: 80%;
    @include line-clamp($line: 3, $line-height: 1.4);
  }

  .banner-label {
    display: inline;
    font-size: rem-calc(12);
    margin: rem-calc(10 0 0 16);
    height: rem-calc(20);
    line-height: rem-calc(12);
    @extend .bg-translucent;
  }

  .profile-suspended-label {
    font-size: rem-calc(12);
    margin-top: rem-calc(10);
    height: rem-calc(20);
    line-height: rem-calc(12);
    background-color: red;
    position: relative;
    left: rem-calc(-2);
    border-radius: 0px;
    @extend .bg-translucent;
  }

  .stats {
    float: left;
    display: inline;
    font-size: rem-calc(12);
    margin: rem-calc(10 0 0 0);
    line-height: rem-calc(12);
    @include bg($bg: $black, $color: $white, $vert-padding: 8px, $horz-padding: 10px, $radius: 4px, $opacity: 0.6)
  }

  .addthis_sharing_toolbox {
    float: right;
    margin-top: rem-calc(6);
  }

  @media #{$small-only} {
    .banner-label {
      margin: rem-calc(6 0 0 16);
    }

    .stats {
      float: none;
      display: inline-block;
      margin-bottom: rem-calc(16);
    }

    .addthis_sharing_toolbox {float: none;}
  }

} .assignment-info {
    margin-bottom: rem-calc(6);
    .info {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

.channel-public-page {

  h3 {
    display: inline;
    color: $black;
    width: auto;
    max-width: 80%;
    margin: rem-calc(4 0 0 0);
  }

  .banner-label {
    display: inline;
    font-size: rem-calc(10);
    margin: rem-calc(12 0 0 16);
    height: rem-calc(20);
    line-height: rem-calc(10);
    @extend .bg-translucent;
  }

  @media #{$small-only} {
    .banner-label {
      margin: rem-calc(6 0 0 16);
    }
  }

  .collaborators-list {
    margin-top: 1rem;

    h6 {font-weight: $font-weight-bold;}

    ul.inline-list li {
      max-width: rem-calc(50);
      text-align: center;
      margin-bottom: 1rem;
      cursor: pointer;
    }

    // check if settings are configurable from foundation variables
    // check what other dropdowns will be affected.
    .f-dropdown.content {
      padding: 0.5rem;
      width: auto;
      max-width: rem-calc(200);
      border-radius: 3px;

      .follow-button {
        display: block;
        margin: 0;
        padding: 0.2rem 0;

        .follow-text {font-size: rem-calc(12);}
      }
    }
  }
}

// giving zero top margin to the container to fix alignment issue
.no-top-margin{
  margin-top: 0;
}

// 21.10 Notifications Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Needed till we redesign this page
.notification-item {
  padding: rem-calc(10);
  border-top: 1px solid $ghost;
  display: inline-block;
  width: 100%;
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-in);

  &:hover {
    background: $grey;
  }

  .message {
    color: $charcoal;
    margin-bottom: 0;
  }

  .all_users img {
    width: rem-calc(30);
    height: rem-calc(30);
    margin-right: rem-calc(5);
    cursor: pointer;
  }

  .view_link {
    font-size: rem-calc(14);
    text-decoration: underline;
  }

  .noti_user_link {
    color: $color_storm_dust_approx;
    font-weight: $font-weight-normal;
  }

  .snippet {
    color: $color_storm_dust_approx;
  }

  .user-image {
    cursor: pointer;
  }
}

.notification-list {
  .unseen {
    background-color: $grey;
  }
}

// 21.11 Team Management
// - - - - - - - - - - - - - - - - - - - - - - - - -
.team-form-container {
  padding: 1rem 2rem;
  background: $white;
  @include panel-border;
}

// Team members and Org members Search
.team-search-container {
  .search-icon {
    @include search-icon($top: calc(50% - 10px));
  }

  .clear-search-icon{
    @include clear-search-icon($top: calc(50% - 10px), $right: calc(30% - 30px));
    margin-right: rem-calc(0);
    position: absolute;
    left: rem-calc(225);
  }

  .member-search-box-wrapper {
    padding: rem-calc(0 0 0 3);
  }

  .tm-search-box {
    @include search-box($margin-top: 3px, $margin-bottom: 7px);
    max-width: rem-calc(248);
  }

}

#delete-group-modal .close-modal{
  position: unset;
}

//Team Member Modal
.team-member-box {
  overflow-y: auto;
  height: rem-calc(306);
  & > div.group-row {
    margin: rem-calc(10) 0;
  }
  .group-item {
    .checkbox {
      padding: 1rem 0.5rem;
      display: inline-block;
      margin: 0 rem-calc(15) 0 0;
      vertical-align: middle;
    }
    .group-content {
      vertical-align: middle;
      display: inline-block;
      width: calc(100% - 30px);
      .group-image {
        height: rem-calc(100);
        width: rem-calc(150);
        display: inline-block;
        margin-right: rem-calc(10);
      }
      .group-info {
        vertical-align: top;
        display: inline-block;
        max-width: calc(100% - 180px);
        white-space: nowrap;
        .description {
          white-space: normal;
        }
        .group-title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}

//Group Assign Modal
.group-assignment-modal {
  padding: 1rem;
  .modal-options {
    margin-top: 1rem;
    .cancel {
      margin-right: rem-calc(8);
    }
  }
  .datepicker-label {
    display: inline-block;
    margin-right: rem-calc(6);
    margin-top: rem-calc(2);
  }
  .group-datepicker {
    display: inline-block;
    padding: 0 rem-calc(10);
    height: rem-calc(30);
    width: rem-calc(110);
    margin: rem-calc(6) 0;
  }
}
.select-groups-modal {
  .button-section {
    margin-top: 1rem;
  }
  .cancel {
    margin-right: rem-calc(8);
  }
}


.no-data-message{
  padding: rem-calc(10 0 0 5);
}

// 21.12 Search Page
// - - - - - - - - - - - - - - - - - - - - - - - - -
#users-list #users-list-column{
  padding: rem-calc(0);
}

#video-streams-list {
  .section-header {
    background-color: $white;
    margin-bottom: 0;
    padding: rem-calc(16);
    border-radius: 0.25rem;
  }
  .search-stream-list {
    margin: 0;
    .search-stream-item {
      margin-bottom: rem-calc(24);
      .wrapper {
        background-color: $white;
        padding: rem-calc(16) rem-calc(16) 0 rem-calc(16);
        border-radius: 0.25rem;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// 22. Common Stuff
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used across the app
.menu-option {
  cursor: pointer;
}

// 22.1. Anchors/Links
// - - - - - - - - - - - - - - - - - - - - - - - - -
a.white {
  color: $ghost;

  &:hover {
    color: $white;
  }
}

a.edcast-blue {
  color: $edc-blue;
  &:hover {
    color: $edc-blue;
  }
}

a.charcoal {
  color: $charcoal;
}

a.underline {
  text-decoration: underline;
}

// 22.2. Social Media Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -
.social-icon {
  height: rem-calc(25);
  margin-top: 1rem;
}

// 22.3. Borders
// - - - - - - - - - - - - - - - - - - - - - - - - -
.iron-border {
  border: 1px solid $iron;
}

// 22.4. Breakword
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Wrap the word to the not flow beyond the width of the parent element
.breakword {
  word-wrap: break-word;
}

.inline-list li span {
  display: inline;
}

// 22.5 Chrome Store Hook
// - - - - - - - - - - - - - - - - - - - - - - - - -

#chromebadge {
  &.bottom-left {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: rem-calc(206);
    height: rem-calc(100);
    border: 1px solid $iron;
    padding: 0.5rem;
    background-color: $ghost;
    border-radius: $global-radius;
  }
  display:inline-block;
}
.bottom-list-menu {
  margin-top: 1.5rem;
  .badge-link:not(:last-child){
    margin-right: rem-calc(5);

  }
}
.external-courses-iframe {
  border: 0;
  width: 100%;
  min-height: rem-calc(700);
}

// 22.5 Error Styling
// - - - - - - - - - - - - - - - - - - - - - - - - -

.error-style {
  color: red;
  font-size: 12px;
  margin-left: 15px;
  font-style: italic;
}


.create-a-goal {
  background-image:url('/assets/goal-grey.png');
  height:20px;
  width:20px;
  border:none;
  background-color:white;
}

.create-a-goal.active {
  background-image:url('/assets/goal.png');
}

.tag-label {
  margin-right:10px;
}
.oblong-button {
  padding: 3px 5px
}
.goal-list-action {
  margin-top:15px
}

.f-dropdown.content.goal-dropdown {
  max-width:300px;
}
.button.green {
  color: green;
  border-color: green;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// 23. Onboarding
// - - - - - - - - - - - - - - - - - - - - - - - - -
// Used across the app

//  23.1. New Team
// - - - - - - - - - - - - - - - - - - - - - - - - -
.new-team-container {
  border: 1px solid $iron;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  background-color: rgba(255,255,255,0.85);
  margin-bottom: rem-calc(30);

  .team-strength a {
    margin-right: 5px;
    width: 18%;
    line-height: 1.1rem;
  }
  .name {
    color: $edc-blue;
    font-weight: $font-weight-bold;
  }
  .title {
    font-weight: $font-weight-normal;
    font-size: rem-calc(12);
  }
  .org-label {
    font-weight: $font-weight-bold;
  }
}

.progress-bar {
  display: table;
  list-style: none;
  margin: 0;
  width: 100%;

  .progress-label {
    font-size: rem-calc(12);
    margin-top: rem-calc(10);
  }
  li {
    display: inline-block;
    width: 25%;
  }
  .encircle {
    @include border-radius(100px);
    display: inline-block;
    height: rem-calc(25);
    position: relative;
    top: 29.5px;
    text-align: center;
    width: rem-calc(25);
  }
  .future {
    .encircle {
      background-color: $white;
      border: 1px solid $iron;
    }
  }
  .past {
    .encircle {
      background-color: $light-blue;
    }
  }
  .first, .last, .present, .past {
    .encircle {
      color: $white;
    }
  }
  .first, .last, .present {
    .encircle {
      background-color: $edc-blue;
    }
  }
  .active, .last {
    .line {
      border-bottom: 2px solid $light-blue;
    }
  }
  .line {
    border-bottom: 2px solid $iron;
    display: inline-block;
    width: 100%;
  }
  .circle-contain {
      display: table-cell;
      width: 1px;
      .future .line {
        margin-bottom: -1px;
      }
      &:last-child .future, .last {
        text-align: right;
      }
      .step-2 { text-align: center; }
  }
}

.no-list-style {
  list-style:none;
}

// 24. CMS
// - - - - - - - - - - - - - - - - - - - - - - - - -
@import 'components/cms';

// 25. Overlay
// - - - - - - - - - - - - - - - - - - - - - - - - -
@import "components/overlays";
input[type="checkbox"],  input[type='radio'] {
  cursor: pointer;
}

.inline-create-insight div.tagsinput{
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding: 0 0.625rem 0.3125rem 0;
    height: 1.375rem;
}

#topics_addTag input#topics_tag, #collection_topics_tag { min-width:90px; border:none;}
.ui-autocomplete-input { min-width: rem-calc(90);}
.text-field-error { margin-top: -1.25rem; }
// - - - - - - - - - - - - - - - - - - - - - - - - -
// 26. Organization Analytics
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import 'components/org_analytics';
@import 'components/assignment_notice';
@import 'components/edc-web-sdk-override';

//remove the blue outline when focus element.
* { outline: none;}


// fix jquery-ui datepicker images
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("ui-icons_444444_256x240.png") !important;
}
.ui-widget-header .ui-icon {
  background-image: url("ui-icons_444444_256x240.png")!important;
}
.ui-button .ui-icon {
  background-image: url("ui-icons_777777_256x240.png")!important;
}
.ui-state-default .ui-icon {
  background-image: url("ui-icons_555555_256x240.png")!important;
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url("ui-icons_ffffff_256x240.png")!important;
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
  background-image: url("ui-icons_777620_256x240.png")!important;
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("ui-icons_cc0000_256x240.png")!important;
}