/*
 *= require_self
 */
@import 'foundation';
@import "foundation/functions";
@import "common/partials/footer";
//@import "common/partials/header";
$blue-color: #3B669E;
$base-font-family: 'Nunito', sans-serif;
$pink-color: #dd437d;
@import "common/partials/card_destination_header";
@import "common/base";
@import "welcome";
$topbar-bg-color: #fff;

#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 200px;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  // background: #F8F8F8;
}

.row .row {
	margin-left: 0px;
	margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Sans-Serif;
}

.terms {
  line-height: 1.4;
}

.sign-in-box {
	 padding: 40px 20px 100px;
	border: 1px solid #E4E4E4;

	.sign-in-heading {
		font-size: 18px;
		font-weight: 600;
		color: #5E5E5E;
	}

	form .row .row {
		margin: 0px;
	}

	input {
		height: 30px;
		background: #F8F8F8;
		border: 1px solid #8A8A8A;

		&.upload-img {
			border: 0px;
			background: transparent;
			height: 18px;
		}
	}

	input.sign-in-button {
		background: $pink-color;
		border: 0px;
		font-size: 14px;
		height: 30px;
		color: white;
		border-radius: 2px;
		display: block;
		padding: 2px 15px;

		&.send {
			display: inline-block;
		}
	}

	a, p, span {
		font-size: 14px;
	}

	a {
		text-decoration: underline;
	}

	span {
		color: rgba(0,0,0,0.87);
	}

	label {
		font-size: 13px;
		color: rgba(0,0,0,0.87);
		font-weight: 600;
	}

	p.required {
		color: rgba(0,0,0,.54);
		font-size: 10px;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.profile-picture-wrapper {
		border: 1px solid #8A8A8A;
		padding: 8px;
	}

	.toggle-password img.toggle-icon {
		height: 20px;
	}

	.profile .input.password.user_password {
		display: inline-block;
		width: 90%;
		text-align: center;

		input {
			margin-bottom: 0px;
		}
		
	}

	.toggle-password {
		display: inline-block;
		width:10%;
		text-align: right;
	}

}

ul.social-list {
	max-width: 267px;
	margin: 10px auto;
	height: 60px;

	a {
		border-radius: 3px;

		&.fb-link {
			box-shadow: 0 3px #223262;
		}

		&.g-link {
			box-shadow: 0 3px #a4231d;
		}

		&.ld-link {
			box-shadow: 0 3px #165273;
		}
	}
}

// Media Queries

@media #{$small-only} { 
	.sign-in-box .medium-3.text-right {
		text-align: left !important;
	}
}