// Place all the styles related to the CardsUi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$collapse:true;
$column-gutter: 0;

$text-color: #4faad9;
$font-text-color: #666;
$topbar-height: rem-calc(55);
$topbar-bg: #fff;
$topbar-bg-color: rgba(0,0,0,0);
$topbar-link-bg-hover: #fff;
$topbar-link-color: $text-color;
$topbar-link-color-hover: $text-color;
$topbar-link-color-active: $text-color;
$topbar-link-color-active-hover: $text-color;
$topbar-link-font-family: 'Nunito', sans-serif;
$blue-color: #1b5f90;
$pink-color: #dd437d;

$body-font-family: 'Nunito', sans-serif;
@import 'foundation';
@import "common/base";

@import "common/partials/footer";
@import "common/partials/card_destination_header";

#wrapper {
  padding-bottom: 200px; //For large footer
}

input[type='text'] {
  height: 30px;
}

.flash {
  width: 500px;
  margin: 0px auto;
}

.top-bar.header {
  box-shadow: 0px 0px 4px 2px #aaa;
  z-index: 101;
  min-height: 55px;

  li.menu-icon {
    a:after {
      box-shadow: 0 10px 0 1px #0d4c70, 0 16px 0 1px #0d4c70, 0 22px 0 1px #0d4c70 !important;
    }
  }
  .name {
    img {
      margin-top: -8px;
      height: 22px;
    }
  }

  ul.right {
    li {
      min-height: 55px;

      &.active {
        a {
          background: #fff;
          font-size: 13px;
          font-weight: bold;
          box-shadow: 0px 0px 4px 2px #ccc;

          &:hover {
            background: #fff;
          }
        }
      }


      @media #{$small-only} {
        text-align: center;
      }
    }
  }
  .top-bar-section ul {
    background: white;

    @media #{$small-only} {
      padding-bottom: 10px;
    }
  }

  .top-bar-section ul li > a {
    margin: 15px;
  }

  .top-bar-section ul li > a , .top-bar-section ul li input.button{
    display: inline;
    font-size: 14px;
    padding: 8px 12px !important;
    border-radius: 3px;


    &.inverse {
      background-color: #148ecd !important;
      color: white;
      margin-right: 15px;
      height: 35px;
      top: 13px;
    }
    &.active {
      font-size: 13px;
      font-weight: bold;
      box-shadow: 0px 0px 4px 2px #ccc;
    }
    @media #{$small-only} {
      min-width: 120px;
      padding: 0px 0px;
      line-height: 60px;
      font-size: 20px;
      color: #4FAAD9;
      font-weight: 600;
      text-align: center;
      background-color: transparent;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #0d4c70;
        color: #fff;
      }
      &.active {
        font-size: 20px;
        font-weight: bold;
        box-shadow: none;
      }
    }
  }
}

.box {
  padding: 10px 10px 10px 10px;

  .card-form-action-row {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.54);
    margin-bottom: 20px;

    h1 {
      font-size: 20px;
      color: rgba(0,0,0,0.87);
    }
    h1, input, a {
      margin-bottom: 0px;
    }
    a.cancel.tiny.button {
      background-color: white;
      color: $blue-color;
      padding: 0px;
      margin-left: 25px;
    }

    input.submit-button {
      background: $blue-color;
    }

  }
}

h1.heading {
  padding: 5px;
  font-size: 16px;
  color: #8a8c8f;
  background-color: #f2f2f2;
  border-color: #d8d8d8;
  font-weight: bold;
}

.button {
  background-color: #1a8ecd;
  border-radius: 3px;
  height: 30px;
  padding: 0px;
  line-height: 30px;

  &.tiny {
    padding: 0px 30px;
  }

  &.first-button.tiny {
    padding: 0px 5px;
  }

}

.type-label {
  margin-bottom: 5px;
}

.type-menu {
  width: 180px;
  height: 30px;
  padding: 0.2rem;
}

.button.type-submit {
  height: 30px;
  line-height: 30px;
  padding: 0px 30px;
  border-top: 1px solid #1a8ecd;
  border-radius: 0px;
}

.orbit-container .orbit-timer {
  top: -10000px;
}

.orbit-container .orbit-next, .orbit-container .orbit-prev {
  background-color: rgba(0, 0, 0, 0.3);
  top: 43%;
  height: 36px;
  border-radius: 50%;
}

.orbit-container .orbit-prev > span {
  border-right-color: #fff;
}

.orbit-container .orbit-next > span {
  border-left-color: #fff;
}
.orbit-container .orbit-slide-number {
  top: -10000px;
}


.manual-card {
 border-radius: 5px;
 border: 1px solid #bdbec0;
 width: 290px;
 height: 458px;
 position: relative;
 display: inline-block;

  .header {
    padding: 5px;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    p.author-name {
      font-size: 14px;
      color: #262626;
      font-weight: bold;
    }

    $group-name-font-size: 13px;
    $group-name-line-height: 1.4;
    $group-name-lines-to-show: 2;

    p.group-name {

      color:#ababab;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 185px;
      height: $group-name-font-size*$group-name-line-height*$group-name-lines-to-show; /* Fallback for non-webkit */

      font-size: $group-name-font-size;
      line-height: $group-name-line-height;
      -webkit-line-clamp: $group-name-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin-bottom: 0px;
    }
  }

  .container {
    margin-top: 5px;
    padding: 5px;
    height: 342px;
  }

  .image-wrapper.columns {
    padding: 0px 0px 0px 5px;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

  }

  .content-box {
    padding: 0px;



    p {
      margin-top: 0px;
      color: #666666;
    }
    $m-font-size: 13px;
    $m-line-height: 1.4;
    $m-lines-to-show: 4;
    p.msg {

      text-align: left;
//      padding-right: 10px;
      position: relative;
//      overflow: hidden;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: $m-font-size*$m-line-height*$m-lines-to-show; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: $m-font-size;
      line-height: $m-line-height;
      -webkit-line-clamp: $m-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    $title-font-size: 15px;
    $title-line-height: 1.4;
    $title-lines-to-show: 2;

    p.title {

      font-weight: bold;
      color: #262626;
      text-align: left;
      position: relative;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: $title-font-size*$title-line-height*$title-lines-to-show; /* Fallback for non-webkit */
      margin: 5px auto;
      font-size: $title-font-size;
      line-height: $title-line-height;
      -webkit-line-clamp: $title-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    p.link-url, p.link-title,p.link-image-url {
      word-wrap: break-word;
      text-align: left;
      font-size: 13px;

      img {
        width: 278px;
        height: 156px;
      }

      a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;

      }
    }

    p.link-image-url {
      margin-top: 30px;
    }

    p.link-url, p.link-title, p.desc {
      margin-bottom: 5px;
      margin-top: 0px;
      text-align: left;
      font-size: 13px;
    }
  }

p.link-url {
 margin-top: 30px !important;
}

  $dsc-font-size: 13px;
  $dsc-line-height: 1.4;
  $dsc-lines-to-show: 2;

  p.desc > a {
    position: relative;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: $dsc-font-size*$dsc-line-height*$dsc-lines-to-show; /* Fallback for non-webkit */
    margin: 5px auto;
    font-size: $dsc-font-size;
    line-height: $dsc-line-height;
    -webkit-line-clamp: $dsc-lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .show-video {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;

    a.video-link {
      img {
        width: 278px;
        height: 156px;
      }
    }

    a.play-icon {
      position: absolute;
      top: 28%;
      left: 38%;
      width: 70px;
      cursor: pointer;
    }

  }

  .label-p {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-top-right-radius: 4px;

    span {
      display: block;
      margin: 1px;
    }

    img {
      height: 35px;
    }
  }
}

.action-box {
  width: 300px;
  padding-top: 5px;
  border-top: 1px solid #bdbec0;

  .button {
    border-radius: 3px;
    padding: 0px;
    margin-bottom: 5px;

    &.edit {
      border-right: 1px solid #0765ae;
    }
  }

  p {
    font-size: 14px;
  }
}

.small-card-container {
  margin: 5px;
  border: 1px solid #bdbec0;
  .header {
    background-color: #DDDDDD;
    padding: 5px;
  }
  .container {
    padding: 5px;
  }


  p {
    margin-bottom: 5px;
    color: #8a8c8f;
    font-size: 14px;
  }

  .navigation-row {
    a {
      border-right: 1px solid #0765ae;
    }

    .button {
      border-radius: 0px;
      margin-bottom: 0px;
      padding: 0px;
    }
  }

  p.title {
    height: 66px;
    overflow: hidden
  }
}


//Grid View of cards
.card-list-row {
  margin-top: 20px;
  .small-12.medium-4 {
    &:first-child {
      .topic-card { float: left;}
    }
    &:nth-child(2) {
      .topic-card { margin: 0px auto; display: block;}
    }

    &:nth-child(2):last-child {
      float: left;
    }
    &:nth-child(3) {
      .topic-card { float: right;}
    }
  }
}

$post-title-font-size: 14px;
$post-title-line-height: 1.4;
$post-title-lines-to-show: 3;
$post-body-font-size: 12px;
$post-body-lines-to-show: 4;
.topic-card {
  border: 1px solid #bdbec0;
  width: 290px;
  height: 425px;
  position: relative;
  display: inline-block;

  .to-start-on-same-line {
    height: 162px;
  }

  .link-url, .link-image-url {
    height: 151px;
    line-height: 151px;
    overflow: hidden;
    img {
      min-width: 288px;
      width: auto;
      max-width: 288px;
      height: auto;
      vertical-align: middle;
    }
  }

  .link-url {
    
    p {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      width: auto;
      max-height: 12px*1.4*4; /* Fallback for non-webkit */
      margin: 5px auto 10px;
      padding: 0px 8px;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.4;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p.desc { margin-bottom: 0px;}
  }

  .author-info-wrapper {
    padding: 0px 8px;
    margin-top: 10px;

    img.avatar {
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }

    .author-info {
      display: inline-block;
      width: calc(100% - 45px);
      padding-left: 10px;
      height: 45px;
      vertical-align: middle;
    }

    p.author-name {
      margin-top: 4px;
      font-size: 12px;
      font-weight: bold;
      color: rgba(0,0,0,0.87);
      white-space: nowrap;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p.group-name {
      font-size: 12px;
      font-weight: bold;
      color: rgba(0,0,0,0.54);
      margin-bottom: 0px;
      white-space: nowrap;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p.meta-info {
      font-size: 12px;
      color: rgba(0,0,0,0.54);
      white-space: nowrap;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 23px;
      margin-bottom: 0px;
      font-weight: bold;
    }
  }

  .post-detail {
    margin-top: 10px;
    h2.post-title {
      color: rgba(0,0,0,0.87);
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      width: auto;
      max-height: $post-title-font-size*$post-title-line-height*$post-title-lines-to-show; /* Fallback for non-webkit */
      margin: 5px auto 10px;
      padding: 0px 8px;
      font-weight: bold;
      font-size: $post-title-font-size;
      line-height: $post-title-line-height;
      -webkit-line-clamp: $post-title-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p.post-body {
      font-size: 12px;
      color: rgba(0,0,0,0.54);
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      width: auto;
      max-height: $post-body-font-size*$post-title-line-height*$post-body-lines-to-show; /* Fallback for non-webkit */
      margin: 5px auto;
      padding: 0px 8px;
      font-weight: bold;
      font-size: $post-body-font-size;
      line-height: $post-title-line-height;
      -webkit-line-clamp: $post-body-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .show-video {
    position: relative;

    .show-video-inner {
      position: relative;
      display: inline-block;

      img.video-img {
        width: auto;
        max-width: 288px;
        height: auto;
        max-height: 162px;
      }
    }

    a.video-link {
      img {
        width: auto;
        max-width: 288px;
        height: auto;
        max-height: 162px;
      }
    }

    img.play-icon {
      position: absolute;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      width: 70px;
      cursor: pointer;
    }

  }

  .footer-actions.row {
    position: absolute;
    display: block;
    bottom: 0px;
    padding: 5px 8px;
    width: 100%;

    .action {
      display: inline-block;
      margin: 0px 5px;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: 18px 18px;

      &:first-child { margin-left: 0px; }
      &:last-child { margin-right: 0px; }
      &.upvote-action {
        background-image: image_url('like_grey_icon.png');
      }
      &.upvote-action.upvoted {
        background-image: image_url('like_blue_icon.png');
      }
      &.comment-action {
        background-image: image_url('action_comment_unset.png');
      }
      &.share-action {
        background-image: image_url('share_icon.png');
      }
    }
    .stat {
      display: inline-block;
      margin-left: 5px;

      p {
        margin: 0px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        color: rgba(0,0,0,0.54);
        font-weight: bold;
      }

      &.comments-stat {
        margin-right: 0px;
      }
      &.upvotes-stat {
        margin-right: 10px;
      }
    }
  }
}

.cards-ui-form {
  .circle-wrapper.columns {
    max-width: 180px;
  }
  label {
    display: inline-block;
    color: rgba(0,0,0,0.87);
    margin-bottom: 3px;
    float: left;
  }
  span {
    display: inline-block;
    font-size: 12px;
    color: lighten(gray, 10%);
    margin-top: 7px;
  }

  .medium-4.columns.input {
    min-width: 300px;
  }
}

.empty-state-for-grid {
  margin-top: 20px;

  img {width: 150px;}
  h4 {color: rgba(0,0,0,0.87);}
  p {color: rgba(0,0,0,0.54);}
}

//Media Queries Section
@media only screen and (max-width: 940px) {
  .cards-orbit .card {
    width: 100%;
  }

}

@media only screen and (min-width: 775px) and (max-width: 940px) {
 .topic-card {
  width: 240px;
  height: 380px;

  .to-start-on-same-line {
    height: 134px;
  }

  .show-video .show-video-inner img.video-img {
   width: auto;
   max-width: 238px;
   height: auto;
   max-height: 134px;
  }

  .link-image-url, .link-url {
    height: 124px;
    line-height: 124px;
    overflow: hidden;
  }

  .link-image-url img,.link-url img {
    min-width: 238px;
    width: auto;
    max-width: 238px;
    height: auto;
  }



  .show-video img.play-icon { width: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
 }

 
}

@media only screen and (max-width: 775px) {
  .card-list-row {
    margin-bottom: 0px;
    

    &:not(:first-child) {
      margin-top: 0px;
    }
    .each-card-wrapper {
       width: 100%;
      margin-bottom: 20px;

      .topic-card { 
        margin: 0px auto;
        float:none !important;
        display: block;        
      }
    }
  }
}
