/*
 *= require_self
 */
$topbar-bg-color: rgba(0,0,0,0);
$topbar-height: rem-calc(55);
$blue-color: #1b5f90;
$pink-color: #dd437d;

$body-font-family: 'Nunito', sans-serif;
@import 'foundation';
@import "foundation/functions";
@import "common/base";
$base-font-family: 'Nunito', sans-serif;
@import "common/partials/footer";
@import "common/partials/card_destination_header";

$black-87: rgba(0,0,0,0.87);
$black-54: rgba(0,0,0,0.54);
$black-26: rgba(0,0,0,0.26);



#wrapper {
  min-height: 100%;
  position: relative;
}

body {
  font-family: $base-font-family;
  line-height: 1.5;
  background: #F6F6F6;
}

button, .button {
	font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6, a, p, span {
  font-family: $base-font-family;
}
h1, h2, h3, h4 {
	font-weight: 300;
}

.row .row {
	margin-left: 0px;
	margin-right: 0px;
}

.main-body {
	background-color: #f6f6f6;
	padding-top: 25px;
}



.card-container {
	.card-image img {
		width: 100%;
		
	}

	.card-content-container {
		padding: 0px 30px 30px;
	}

	.card-meta {
		margin-top: 1rem;

		.avatar {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border:1px solid $blue-color;
		}
	}


	.card-header {
		margin-left: 0.5rem;
		line-height: 1;

		.author-name {
		
			.name {
				font-size: 18px;
				color: $black-54;
			}

			span {
				font-size: 18px;
				color: $black-87;
			}
		}

		.group-name {
			font-size: 18px;
			color: #739D34;
			margin-bottom: 5px;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 400px;
		    overflow: hidden;
		    line-height: 1.3;
		}

		.post-time {
			font-size: 14px;
			color: $black-54;
		}

	}

	

	.card-title {
		margin-top: 1rem;

		h3 {
			color: $black-87;
			margin-bottom: 10px;
		}
	}

	// Reused in 2 files so lets not move to js file
	.card-content {
		color: $black-54;
		font-size: 14px;
		line-height: 1.4;
	}
}

.left-column-wrapper .image-wrapper {
	position: relative;
	width: 100%;
	height: 305px;
	line-height: 305px;
	overflow: hidden;
	display: inline-block;

	&.for-video {
		line-height: 0px;
		height: 328px;
	}
}

.comments-container-wrapper .comment .not-in-comment { display: none;}

.comments-container-wrapper .comment img.play-inside-comment {left: calc(30% - 30px) !important;}

@-moz-document url-prefix() {
    .media-img { width: 100% !important; min-height: 125px !important;}
    ul.for-firefox, li.for-firefox {display: flex !important;}

    strong.for-firefox, p.for-firefox { display: block;}
}

// Media Queries

@media only screen and (max-width: 1000px) { 
.left-column-wrapper .image-wrapper {
	width: 58.333vw;
	height: 30.54vw;
	line-height: 30.54vw;

	&.for-video {
		height: 32.81vw;
	}
}
}

@media only screen and (min-width: 900px) {
	@-moz-document url-prefix() {
		.comments-container-wrapper .comment img.play-inside-comment {left: calc(26% - 30px) !important;}
	}
}

@media only screen and (max-width: 900px) {

	.main-body {
		width: 80%;
		margin: 0px auto;
	}

	.left-column-wrapper, .comments-container-wrapper {
		width: 100%;
		float: none !important;
		margin: 0px auto;
		display: block;
	}

	#comment-editor {
		max-width: 500px;
		margin: 0px auto;
	}

	.left-column-wrapper .image-wrapper {
		width: 80vw;
		height: 41.88vw;
		line-height: 41.88vw;

		&.for-video {
			height: 45vw;
		}
	}
}

@media only screen and (max-width: 630px) {
	.main-body { width: 95%; }
	.left-column-wrapper, .comments-container-wrapper {
		width: 100%;
	}
	.left-column-wrapper .image-wrapper {
		width: 95vw;
		height: 49.73vw;
		line-height:  49.73vw;

		&.for-video {
			height: 53.43vw;
		}
	}

}

.card-like-button-control {
  padding: 20px 12px 0 20px;
  .card-like-button {
    cursor: pointer;
    border: 1px solid $black-26;
    border-radius: 4px;
    float: left;
    height: 50px;
    text-align: center;
    width: 50px;
    span {
      background-size: 70%;
      height: 50px;
      width: 50px;
    }
  }
}

.comments-list .comment {
  &:hover .comment-delete-link {
    opacity: 1;
  }
}
.comment-delete-link {
  opacity: 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  span {
    background-image: url('/assets/delete_grey.svg');
  }
  &:hover {
    span {
      background-image: url('/assets/delete_blue.svg');
    }
  }
}

#signin-modal {
  border-radius: 3px;
  padding: 15px 15px 38px 15px;
  border-bottom: 10px solid $pink-color;
  border-radius: 0px;

  .close-reveal-modal {
    font-size: 22px;
    opacity: 0.7;
    text-decoration: none;
    &:hover { opacity: 1;}
  }
  .sign-in-heading {
		font-size: 18px;
		font-weight: 600;
		color: #5E5E5E;
   }

   input {
		height: 30px;
		background: #F8F8F8;
		border: 1px solid #8A8A8A;
	}

	input.sign-in-button {
		background: $pink-color;
		border: 0px;
		font-size: 14px;
		height: 30px;
		color: white;
		border-radius: 2px;
		display: block;
		padding: 2px 15px;
	}

  	a, p, span {
		font-size: 14px;
	}

	a {
		text-decoration: underline;
	}

	span {
		color: rgba(0,0,0,0.87);
	}
}

/* Responsiveness for sign in modal */
@media only screen and (min-width: 960px) {
  #signin-modal {
    width: 35%;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1032px) {
  #signin-modal {
    left: 41%;
    width: 45%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 780px) {
  #signin-modal {
    left: 35%;
    width: 53%;
  }
}

@media only screen and (max-width: 640px) {
  #signin-modal {
    left: 16%;
    min-height: 80px;
    width: 62%;
  }
}

@media only screen and (max-width: 540px) {
  #signin-modal {
    left: 0px;
    min-height: 80px;
    width: 100%;
  }
}

.box {
  padding: 10px 10px 10px 10px;

  .card-form-action-row {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.54);
    margin-bottom: 20px;

    h1 {
      font-size: 20px;
      color: rgba(0,0,0,0.87);
    }
    h1, input, a {
      margin-bottom: 0px;
    }
    a.back-link {
    	line-height: 30px;
    	 height: 30px;
    	 font-size: 18px;
    	 color: $blue-color;
    	img {margin-top: -4px;}
	}
    a.cancel.tiny.button {
      background-color: transparent;
      color: $blue-color;
      padding: 0px;
      margin-left: 25px;
    }

    input.submit-button, a.submit-button {
      background: $blue-color;
    }



.button {
  background-color: #1a8ecd;
  border-radius: 3px;
  height: 30px;
  padding: 0px;
  line-height: 30px;

  &.tiny {
    padding: 0px 30px;
  }

  &.first-button.tiny {
    padding: 0px 5px;
  }

}

  }
}	

.delete-modal.reveal-modal {
	padding: 10px 15px;

	.delete-header {
		padding: 10px;
		border-bottom: 1px solid #eee;
		h1.heading {
		  color: rgba(0, 0, 0, 0.84);
		  font-size: 24px;
		}
	}

	.delete-body {
		padding: 10px;
		padding-top: 20px;

		p {
		  color: rgba(0,0,0,0.54);
		  font-size: 14px;
		}
	}

	.delete-actions-row {
		a.delete-button {
			background-color: lighten(red, 20%);
			color: white;
			border-radius: 4px;
			margin-right: 10px;
			height: 30px;
			line-height: 30px;
		}
		a {
			color: $blue-color;
			font-size: 0.6875rem;
			line-height: 30px;
			height: 30px;
			padding: 0px 10px;
		}

		a.close-reveal-modal {
			color: rgba(0,0,0,0.87);
			font-size: 24px;
		}
	}
}

.stats-container {
	margin-top: 30px;
	h3 {
		font-size: 20px;
		color: rgba(0,0,0,0.87);
	}
	.stat-info {
		font-size: 14px;
		color: rgba(0,0,0,0.76);
		span {
			color: black;
		}
	}

	h4 {
		font-size: 16px;
		color: rgba(0,0,0,0.87);
	}

	.chart-row {
		margin-top: 20px;
	}

}

//Media Queries

@media #{$small-only} {
	.reveal-modal.medium.delete-modal {
		min-height: 250px;
		top: 100px !important; //To override inline styling of foundation js
	}

	.box .card-form-action-row a.back-link {
		font-size: 14px;
	}
}

@media all and (max-width: 1072px) and (min-width: 760px) {
  #deleteCommentModal {
    width: 50%;
  }
}
@media all and (max-width: 760px) and (min-width: 640px) {
  #deleteCommentModal {
    left: 32%;
    width: 62%;
  }
}
@media all and (max-width: 640px) and (min-width: 400px) {
  #deleteCommentModal {
    left: 8%;
    min-height: 18vh;
    width: 82%;
  }
}
@media all and (max-width: 400px) {
  #deleteCommentModal {
    left: 8%;
    min-height: 15vh;
    width: 82%;
  }
}
