$collapse:true;
$column-gutter: 0;
$flex-video-padding-top: rem-calc(25);
$flex-video-padding-bottom: 56%;
$flex-video-margin-bottom: rem-calc(16);
$topbar-bg-color: #fff;
$blue-color: #1b5f90;
// We use this to control widescreen bottom padding
$flex-video-widescreen-padding-bottom: 57.25%;
@import 'foundation';
@import "foundation/functions";
@import "common/partials/footer";
@import "common/partials/header";
$base-font-family: 'Nunito', sans-serif;
@import "common/partials/card_destination_header";
@import "common/base";
@import 'autocomplete';
@import 'jquery-ui-1.10.4.custom';
// Custom scrollbar for webkit browsers
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
  border-radius: 10px;
}

.wrapper {
padding-bottom: 72px;
}


#banner-img-wrapper {
  width: 100%;
  height: 250px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin:0px auto;
  background-position: center;
  #image-top-div {
    width:500px;
    min-height: 80px;
    padding: 20px 34px 16px 34px;
    background-color: rgba(255,255,255,0.84);
    margin-top: 72px;
    color: #414042;
    margin-right:auto;
    margin-left: 50px;
  }
  .title{
    font-size: 42px;
    margin-right: 5px;
    line-height: 1.5;
  }
  .content {
    font-size: 16px;
    line-height: 1.2;
    color: #666666;
  }
}



#banner-image {
  height: 250px;
  width: 100%;

}

.main-container {
  margin-top: 20px;
}
.top-nav {
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
}

.top-nav-item {
  font-weight: bold;
  color: grey;
}

.left-nav-item {
  padding-top: 10px;
  padding-bottom: 10px;

  &.selected {
    font-weight: bold;
  }
}

.delete-key p{
  cursor: pointer;
  font-size: 14px;
  color: #008cba;
  margin-bottom: 0px;
}

.client-actions span {
  cursor: pointer;
  font-size: 14px;
  color: #008cba;
  margin-bottom: 0px;
}

.keys-table-header {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.key-entry {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.key-display {
  position: relative;
}

.show-secret-text {
  color: #008cba;
  cursor: pointer;
}

.show-secret {
  position: absolute;
  border: 1px solid;
  border-color: black;
  z-index: 100;
  top: 30px;
  left: -400px;
  background-color: #fbf4e4;
  min-height: 50px;
  width: 600px;
  text-align: center;
  line-height: 50px;

  p {
    padding: 13px 5px 0px 5px;
    word-break: break-all;
    margin-bottom: 0px;

  }
}

.create-key-text {
  color: #008cba;
  margin-bottom: 10px;
}

.create-key-container {
  margin-bottom: 10px;
}

.create-key-input {
  margin-top: 50px;
}

.create-key-plus {
  cursor: pointer;
  padding-left: 20px;
  line-height: 30px;
}

.create-group-text {
  color: #008cba;
  margin-bottom: 10px;
}

.create-group-container {
  margin-top: 50px;
  margin-bottom: 10px;
}

.create-group-input {
  margin-top: 50px;
}

.create-group-plus {
  cursor: pointer;
  padding-left: 20px;
  line-height: 30px;
}

.create-client-text {
  color: #008cba;
  margin-bottom: 10px;
}

.create-client-container {
  margin-top: 50px;
  margin-bottom: 10px;
}

.create-client-input {
  margin-top: 50px;
}

.create-client-plus {
  cursor: pointer;
  padding-left: 20px;
  line-height: 30px;
}

#data-dump-select {
  display: inline;
}

.data-dump-select {
  width: 63px;
  font-size: 12px;
  height: 25px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-client-message {
  margin-top: 50px;
}

.editable-buttons button {
  max-width: 60px;
  max-height: 30px;
  padding: 5px;
  color: white;
}
.editable-buttons button:hover {
  background-color: darken(#FFFFFF, 50%);
}

.client-selected {
  background-color: darken(#FFFFFF, 10%) !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  @media #{$medium-up} {
    background: transparent;
  }

}

input, textarea, button, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#c0c1c3;
}

.mb0px {
  margin-bottom:0px !important;
}

.mb0 {
  margin-bottom:0 !important;
}

.mb5 {
  margin-bottom: rem-calc(5);
}

.mb10 {
  margin-bottom: rem-calc(10) !important;
}

.mt5 {
  margin-top: rem-calc(5) !important;
}

.mt10 {
  margin-top: rem-calc(10) !important;
}

.mb18 {
  margin-bottom: rem-calc(18) !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt18 {
  margin-top: rem-calc(18) !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr10 {
  margin-right: rem-calc(10) !important;
}

.pdt0 {
  padding-top: 0 !important;
}

.pdt5 {
  padding-top: rem-calc(5);
}

.pdt10 {
  padding-top: rem-calc(10);
}

.pdb0 {
  padding-bottom:0 !important;
}

.pdr0 {
  padding-right: 0 !important;
}
.pdr5 {
  padding-right: rem-calc(5) !important;
}
.pdr10 {
  padding-right: rem-calc(10) !important;
}
.pdr15 {
  padding-right: rem-calc(15) !important;
}
.pdl0 {
  padding-left: 0 !important;
}
.pdl5 {
  padding-left: rem-calc(5);
}

.pdl10 {
  padding-left: rem-calc(10) !important;
}

.pdl15 {
  padding-left: rem-calc(15) !important;
}

.pdb15 {
  padding-bottom: rem-calc(15) !important;
}

.pdt10 {
  padding-top: rem-calc(10) !important;
}

.ft10{
  font-size: rem-calc(10);
  line-height: rem-calc(10);
}

.ft11{
  font-size: rem-calc(11);
  line-height: rem-calc(11);
}

.ft12 {
  font-size:rem-calc(12);
  line-height: 1rem;
}

.ft14 {
  font-size: rem-calc(14);
  line-height: rem-calc(14);
}

.ft17 {
  font-size: rem-calc(17) !important;
  line-height:rem-calc(17) !important;
}

.ft18 {
  font-size: rem-calc(18) !important;
  line-height:rem-calc(18) !important;
}

.ft20 {
  font-size: rem-calc(20) !important;
  line-height:rem-calc(20) !important;
}

.ft22 {
  font-size: rem-calc(22);
  line-height: rem-calc(22);
}
.wrapper-container {
  padding: 5px;
}

button.respond-button {
  font-family: 'Open Sans', sans-serif;
  padding: 0px 20px 0px 20px;
  margin: 0px;
  background-color: #148ecd;
  font-size: 10px;
  height: 30px;
  color: #fff;

  &:hover, &:focus {
    background-color: #148ecd;
  }

  &.disabled {
    background-color: #ccc;
    color: #636363;
  }
}

.border-container {
  border: 1px solid #d3d3d3;
  border-top: 0;
  padding-bottom: rem-calc(15) !important;

  @media #{$small-only} {
    border: 1px solid #6996cc;

    &#answer-detail {
      border:0;
    }
  }


}

#widget-container {
  height: 100%;
  @media #{$small-only} {
    background-color: #fff;
    border: 1px solid #a7a9ac;
  }

  @media #{$medium-up} {
    background: transparent;
  }
}

.mt20 {
  margin-top: 20px !important;
}

.landing-row {
  color: #A7A9AC;
  border-bottom: 1px solid #bdbec0;
  padding: 20px;
  &.last {
    border-bottom: none;
  }
  .landing-heading {
    padding-top: 7px;
  }
  a.stat-link {
    background-color: #81c3e5;
    color: white;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin-left: 5px;
  }
  span.stats-trending-tags {
    line-height: 20px;
    padding-right: 20px;
  }
  .stat-value {
    font-size: 40px;
    color: #808285;
  }
  .stat-col {
    padding: 0px 15px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .stat-row {
    border-bottom: 3px solid #dfdfdf;
    padding: 15px 0px;
    &:last-child {
      border-bottom: none;
    }
    .col-heading {
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}

.edcast-landing {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;

  .col-heading {
    font-size: 18px;
    color: #A7A9AC;
    margin-bottom: 15px;
  }
  .icon {
    width: 29px;
    height:22px;
  }

  .icon.student-response {
    background: image_url('responses.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: #6996cc;
    padding-top: 3px;
  }
  .icon.faculty-response {
    background: image_url('responses_yellow.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: #fff;
    padding-top: 3px;
  }
  .icon.mixed-response {
    background: image_url('responsed-combined.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: #6996cc;
    padding-top: 3px;
  }

  .icon.report {
    background-position: 3px 3px;
    background-image: image_url('flag.png');
    background-repeat: no-repeat;
  }

  .icon.add-tag {
    font-size: 20px;
    color: lighten(#000, 10%);
    padding-left:2px;
  }

  .icon-description {
    text-align: left;
    font-size: 14px;
    color: #a7a9ac;
    line-height: 17px;
  }

  .responses-indicators {
    float: left;
    background-color: #9cbadd;
    color: #fff;
    padding-left: 8px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }
  .other-things {
    float: right;
    background-color: #9cbadd;
    color: #fff;
    padding-left: 8px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }
  @media #{$small-only} {
   display:none;
  }
}

.row.widget-header {
  width: 281px;
  margin-bottom: 10px !important;
  @media #{$small-only} {
    width: 100%;
    margin-bottom: 0px !important;
  }
}

.widget-header-row {
  &:first-child {
    border-bottom: none;
  }
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  width: 940px;
  border: 1px solid #bdbec0;
  background-color: #fff;
  color: #a7a6a1;
  padding: 0 5px;
  p, span, button, input {
    font-family: 'Open Sans', sans-serif;
  }
  button {
    font-size: 0.8875rem;
    margin: 0;
    padding: 8px 15px;
    background-color: #1a8ecd;
    &:focus {
      outline: 0;
    }

    @media #{$small-only} {
      font-size: 0.6875rem;
      padding: 8px 12px;
    }

  }
  .logo {
    font-size: 1.3rem;
    color: #000;
    img {
      height: 17px;
      margin-top: -4px;
      margin-right: 2px;
    }

    @media #{$small-only} {
      font-size: 1.1rem;
      img {
        height: 15px;
        margin-top: -4px;
        margin-right: 2px;
      }
    }
  }
  .search-button {
    background-image: image_url('search-white.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    &.active {
      background-color: #CDCECA;
    }
  }
  .score-element {
    display: inline-block;
    img {
      margin-right: 5px;
      margin-top: -4px;
      &.thumb {
        height: 18px;
      }
      &.star {
        height: 22px;
      }
    }
    margin-right: 10px;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1a8ecd;
  display: inline-block;
  height: 7px;
  margin-left: 5px;
}

.search-form-row {
  border: 4px solid #81c3e5;
  box-sizing: border-box;

  span.close {
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 39px;
    cursor: pointer;
    background-image: image_url('close_grey.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
  }

  input.search-input {
    margin: 0px;
    padding-left: 40px;
    font-size: 14px;
    color: #a8a9ac;
    background-image: image_url('search-small-2x.png');
    background-repeat: no-repeat;
    background-position: 6px 6px;
    width: 95%;
    border: 0px;
    box-shadow: none;
    &.active {
      color: #000;
    }
    &:focus {
      background-image: image_url('search-small-2x.png');
      background-repeat: no-repeat;
      background-position: 6px 6px;
      background-color: #fff;
      box-shadow: none;
    }
    @media #{$small-only}{
      font-size: 11px;
    }

  }
}

img.img-24 {
  height: 24px;
  width: 24px;
}

img.img-30 {
  width:30px;
  height:30px;
}
img.img-32 {
  width:32px;
  height:30px;
}

img.img-66 {
  width:66px;
  height:66px;
}
img.img-40 {
  width:40px;
  height:40px;
}
img.img-61 {
  width:61px;
  height:61px
}

img.img-75 {
  width:75px;
  height:75px
}

hr.horizontal-divider {
  margin-bottom: 18px;
  margin-top: 0px;
  border-color: #e5e5e5;
  border-width: 5px 0px 0px;
}

hr.horizontal-divider.staff {
  margin-bottom: 18px;
  margin-top: 0px;
  border-color: $golden;
  border-width: 3px 0px 0px;
}

.inappropriate-answer-container {
  border-top: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
  border-left: 11px solid #e5e5e5;
  cursor: pointer;
  background-color: #e5e5e5;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
}

#widget-controls {
  height: 28px;
  width:250px;
  border-bottom: 1px solid #ccc;
  a {
    line-height: 28px;
    width:30px;
  }
  .post-button {
    padding: 0;
    margin: 0;
    height:28px;
    width: 78px;
    float:right;
    background-color: #148ecd;
    color: #fff;

    &:hover, &:focus {
      background-color: #148ecd;
      color: #fff;
    }
  }
}

#widget-search-nav-container {
  background-color: #fff;

  @media #{$small-only} {
    width: 250px;
  }

  @media #{$medium-up} {
    width: 940px;
    border: 1px solid #bdbec0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 24px;
  }
}

#widget-tabs-container {
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  background-color: #fff;

  font-size: 14px;
  padding-left: 10px;

  .sort-control{
    display: inline-block;
    color: #a8a9ac;
    background-color: #fff;
    height: 30px;
    span {
      padding-right: 10px;
      font-size:14px;
    }
    button {
      font-family: 'Open Sans', sans-serif;
      background-color: #fff;
      font-size: 14px;
      color: #a8a9ac;
      padding: 0px 16px 0px 16px;
      height: 30px;
      margin: 0px;
      outline: 0;
    }
    .active {
      color: #1a8ecd;
      border-bottom: 3px solid #1a8ecd;
    }
  }

  #widget-post-button-wrapper {
    margin-top: -1px;
    margin-right: -1px;
    button.post-button {
      font-family: 'Open Sans', sans-serif;
      background-color: #1a8ecd;
      color: #fff;
      font-size: 12px;
      margin-bottom: 0px;
      height:32px;
      padding: 0px 20px;
      width: 128px;
    }
  }

}

#main-container {
  @media #{$small-only} {
    width: 250px;
  }

  @media #{$medium-up} {
    width: 100%;
    max-width: none;
    position: relative;
  }

}

#left-container {
  @media #{$small-only}{
    width: 250px;
  }

  @media #{$medium-up}{
    width: 300px;
    position: absolute;
  }
}

#right-container {
  background-color: #fff;

  @media #{$small-only} {
    width: 250px;
  }

  @media #{$medium-up} {
    margin-left: 300px;
  }
}

#questions-list {
  @media #{$small-only} {
    width: 250px;
  }

  overflow-x: hidden;
}

#question-form {
  border: 1px solid #888;
  overflow-y: auto;
  @include box-shadow(#666 0px 1px 5px);
  @include border-radius(3px);

  @media #{$small-only} {
    box-shadow: none;
    border: 0;
    border-radius: 0px;
  }

  a.cancel-x {
    @media #{$small-only} {
      padding-right: 0px;
    }

    @media #{$medium-up} {
      padding-right: 16px;
    }
  }
  .header {
    font-family: 'Open Sans', sans-serif;
    background-color: #81c3e5;
    color: #fff;
    width: 100%;
    line-height: 44px;
    padding-left: 22px;
    font-size: 16px;

    @media #{$small-only} {
      padding-left: 5px;
      padding-right: 5px;
      height: 32px;
      line-height: 32px;
    }

    @media #{$medium-up} {
      height: 44px;
    }
  }

  .form-container {
    padding: 22px;

    @media #{$small-only} {
      padding: 10px 0px;
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      color: #a7a6a1;
      font-size: 16px;

      @media #{$small-only} {
        padding-left: 5px;
      }

    }

    input.question {
      font-family: 'Open Sans', sans-serif;
      margin-top: 12px;
      margin-bottom: 22px;

      @media #{$small-only} {
        padding-left: 5px;
      }
    }

    .action {
      margin-top: 22px;

      a.cancel {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #148ecd;
        margin-right: 12px;

        &:hover, &:focus {
          color: #148ecd;
        }
      }

      button.respond-button {
        font-family: 'Open Sans', sans-serif;
        width: 92px;
      }
    }
  }

}

.question-container {
  font-family: 'Open Sans', sans-serif;
  min-height: 105px;
  //overflow: hidden;
  margin-right: 30px;
  background-color: #fff;
  color: #58595b;
  margin-bottom: 10px;
  @media #{$small-only} {
    width: 250px;
    border:1px solid #d1d3d4;
  }
  &.unread {
    border-left: 3px solid #83bee5;
  }

  @media #{$medium-up} {
    width: 281px;
  }

  &:hover, &:focus {
    background-color: #d6e3f1;
    .header {
      background-color: #148ecd;
      color: #fff;
    }
    .content {
      color: #344364;
    }
  }


  &.selected {
    position: relative;
    left: 10px;
    border-color: #81c3e5;
    @include box-shadow(#333 2px 0px 10px);

    @media #{$medium-up} {
      border-left: 0px;
    }

    .header{
      background-color: #81c3e5;
      color: #fff;

      .img-wrapper {
        height:25px;
        padding-left: 12px;
      }

    }
  }

  .header {
    background-color: #f2f2f2;
    height: 25px;
    margin-bottom: 14px;
    color: #58595b;
    font-size: 13px;

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      padding-left: 6px;
      line-height: 25px;
    }

    .timestamp-wrapper {
      line-height: 25px;
      font-size:10px;
      padding-right: 12px;
    }

    .img-wrapper {
      height:25px;
      padding-left: 12px;
    }
  }

  .content {
    color: #58595b;
    padding-right: 12px;
    height: 50px;
    overflow:hidden;

    .question-wrapper {
      padding-left: 12px;
      font-size:14px;
    }
  }

  .footer {
    color: #d56c71;
  }

}

.question-title {
  font-weight: 600;
  &.showing-hidden {
    color: #bf2028 !important;
  }
}

.question-detail-container {
  background-color: #fff;

  .header {
    color: #FFF;
    background-color: #81c3e5;

    @media #{$small-only} {
      height: 32px;
    }

    @media #{$medium-up} {
      height: 36px;
    }

    .img-wrapper {
      @media #{$small-only} {
        margin-left: 12px;
      }

      @media #{$medium-up} {
        margin-left: 22px;
        margin-top: 5px;
      }
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      position: relative;

      @media #{$small-only} {
        font-size: 13px;
        line-height: 32px;
        padding-left: 7px;
      }

      @media #{$medium-up} {
        font-size: 16px;
        line-height: 36px;
        padding-left: 12px;

      }
    }

    .close-wrapper {
      @media #{$small-only} {
        font-size: 11px;
        line-height: 32px;
        padding-right: 10px;
      }

      @media #{$medium-up} {
        font-size: 14px;
        line-height: 36px;
        padding-right: 16px;
      }
    }

    .timestamp-wrapper {
      @media #{$small-only} {
        font-size: 10px;
        line-height: 32px;
        padding-right: 10px;
      }

      @media #{$medium-up} {
        font-size: 10px;
        line-height: 36px;
        padding-right: 26px;
      }
    }

    .userscore-wrapper {
      line-height: 36px;
      padding-left: 10px;
      font-size: 14px;
      margin-right: 20px;

      .user-score {
        padding-right: 20px;
      }
    }
    .thumb-wrapper {
      line-height: 36px;
      img{
        margin-right: 6px;
      }
    }

    .divider-box {
      margin-right: 20px;
    }
    .star-wrapper {
      line-height: 36px;
      img{
        margin-right: 6px;
      }

    }
  }

  .content {
    padding-top:16px;

    .content-container {

      @media #{$small-only} {

        padding-left: 12px;
        padding-right: 12px;
      }

      @media #{$medium-up} {
        margin-left: 88px;
        padding-left: 12px;
        padding-right: 22px;
      }
    }
    .counts-breakdown {
      float: right;
      width: 32px;
      height: 60px;
      margin-right: 0px;
      margin-left: 0px;
    }

    .question-wrapper {
      color: #636363;
      @media #{$small-only} {
        font-size: 14px;
      }

      @media #{$medium-up} {
        font-size: 18px;
      }
    }

    .question-message {
      color: #636363;
      margin-top: 8px;
      font-weight: 300 !important;
      text-align: left;

      &.showing-hidden {
        color: #bf2028 !important;
      }
      p {
        //line-height:1.3;
        @media #{$small-only} {
          font-size: 14px;
        }

        @media #{$medium-up} {
          font-size: 16px;
        }
      }
    }
  }

  .answer-bar {

    margin-bottom: 40px;

    .approval-wrapper {
      padding-left: 0px;
      cursor: pointer;

      @media #{$small-only} {
        padding-left: 0px;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: #148ecd;
      }
    }

    .approved-wrapper {
      padding-left: 0px;

      @media #{$small-only} {
        padding-left: 0px;
        display: block !important;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: #edcc82;
      }
    }

  }

}

.answer-container {
  font-family: 'Open Sans', sans-serif;
  .header {


    .divider-wrapper {
      position: relative;
      height: 36px;
      padding-bottom: 8px;
      padding-top: 8px;
    }

  }


  .answer-bar {
    color: #9cbadd;

    @media #{$small-only} {
      padding-left: 12px;
      padding-right: 12px;
    }

    @media #{$medium-up} {
      padding-left: 100px;
      padding-right: 22px;
    }

    .report-wrapper {
      line-height: 30px;
      .divider-wrapper {
        position: absolute;
        top: 0px;
        padding-bottom: 5px;
        padding-top: 5px;

        @media #{$small-only} {
          display: none !important;
        }

      }
      .report {
        line-height: 30px;

        @media #{$small-only} {
          font-size: 11px;
        }

        @media #{$medium-up} {
          margin-left: 14px;
        }

        a#report-tag {
          color: #6996cc;

          @media #{$small-only} {
            font-size: 11px;
          }

          @media #{$medium-up} {
            font-size: 14px;
          }
        }
      }
    }


      button.respond-button {
        padding: 0px 20px 0px 20px;
        margin: 0px;
        background-color: #148ecd;
        font-size: 10px;
        height: 30px;
        color: #fff;

        @media #{$small-only} {
          width:90px;
          padding: 0px 10px 0px 10px;
        }

        @media #{$medium-up} {
          padding: 0px 20px 0px 20px;
        }

        &.disabled {
          background-color: #ccc;
          color: #636363;
        }
      }


    div {
      display: inline-block;
      height: 30px;
    }

  }

  .util-bar {
    color: gray;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .answer-form {
    color: #636363;
    margin-top: 24px;
    border: 1px solid #ccc;
    box-shadow: 1px 0px 6px #636363;
    margin-bottom: 25px !important;

    .header {
      font-family: 'Open Sans', sans-serif;
      color: #58595b;
      line-height: 20px;
      font-size: 14px;
      height: 22px;
      padding-left: 20px;
      background-color: #81c3e5;

      @media #{$small-only} {
        height: 32px;
        line-height: 32px;
        padding-left: 0px;
      }
    }

    .form-container {
      @media #{$medium-up} {
        padding-left: 22px;
        padding-right: 22px;
      }
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      color: #a7a6a1;
    }

    textarea {
      height: 100px;
      margin-bottom: 1rem !important;
    }

    .action {
      margin-top: 22px;
      a {
        display: inline-block;
        padding: 0 25px;
        color: #148ecd;
        font-size: 12px;
      }
    }
  }

}

.count {
  height: 22px;
  width: 29px;
  padding-top: 3px;
  margin-bottom: 10px;

  &.faculty-answer {

    background: image_url('responses_yellow.png');
    background-repeat: no-repeat;
    font-size:13px;
    color: #fff;
  }

  &.student-answer {
    background: image_url('responses.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: #148ecd;
  }

  &.no-answer{
    color: #148ecd;
    background: image_url('responses.png');
    background-repeat: no-repeat;
  }

  &.combined-answer {
    background: image_url('responsed-combined.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: #148ecd;
  }
}

.votes {

  width: 42px;
  max-width: 42px;
  padding: 3px 3px 3px 25px;
  border: 1px solid #148ecd;
  @include radius(3px);
  color: #148ecd;
  background-color: #fff;
  background-image: image_url('thumb-large-blue.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  cursor: default;

  &.active {
    height: 20px;
    width: 42px;
    max-width: 42px;
    padding: 3px 3px 3px 25px;
    @include radius(3px);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    cursor: pointer;

    background-image: image_url('thumb-large-white.png');
    background-color: #148ecd;
    color: #fff;

    &.user-upvoted {
      cursor: pointer;
    }
  }
}

.votes-siderail {
  &.disabled {
    height: 20px;
    width: 30px;
    padding: 3px 0 0 19px;
    color: #808285;
    font-size: 13px;
    background-image: image_url('thumb-small-gray.png');
    background-repeat: no-repeat;
    background-position: 0;
    cursor: default;
  }

}

.report.active {
  cursor: pointer;
}

.edit-delete-wrapper {
  display: none !important;
}

.summary-title {
  font-size: 14px;
  font-weight: 300;
  &.unread {
  font-weight: 600;
  }
}

.edit-delete-wrapper.show {
  display: inline-block !important;
}

.edits {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #148ecd;
  margin-left: 14px;

  @media #{$small-only} {
    margin-left: 5px;
  }
}

.delete {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #148ecd;
  margin-right: 14px;

  @media #{$small-only} {
    margin-right: 5px;
  }
}

.answer-details.editor {
  display: none !important;
}

.answer-details.deletor {
  opacity: 0.2;
}

.answer-edit.noeditor {
  display: none !important;
}

.answer-delete {
  display: none !important;
}

#new-quest-form {
  padding-top: 10px;
  margin-top: 20px;

  .user-name {
    font-size: 16px;
    padding-bottom: 4px;
    color: #a7a6a1;
  }

  input.question {
    font-family: 'Open Sans', sans-serif;
    @include radius(3px);
  }

  textarea {
    height: 150px;
    @include radius(3px);
  }

  a.cancel-tag {
    color:#148ecd;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .buttons-row {
    margin-top: 22px;
    @media #{$small-only} {
      padding-right: 12px;
    }
    button.respond-button {
      font-family: 'Open Sans', sans-serif;
      background-color: #148ecd;
      color: #fff;
      &:hover, &:focus {
        background-color: #148ecd;
      }
    }
  }

}

.ng-dirty.ng-invalid{
  margin-bottom: 0 !important;
}


#no-questions {

  .inner-wrap {
    background-color: #fff;
    width: 280px;
    border: 1px solid #ccc;

    @media #{$small-only} {
      width: 250px;
    }

    .no-q-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #808285;
      padding-top: 36px;
      font-weight: 600;
      padding-bottom: 30px;
    }

    .be-first-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #808285;
      padding-bottom: 12px;
    }

    .post-button-wrapper {
      padding-bottom: 36px;

      button#post-button {
        padding: 0px 20px 0px 20px;
        margin: 0px;
        background-color: #148ecd;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        height: 32px;
        color: #fff;
      }
    }
  }
}

.no-search-results {

  .no-result-wrapper {
    max-width: 290px;
    .no-result-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #808285;
      padding-top: 36px;
      font-weight: 600;
      padding-bottom: 30px;
    }
  }
}

#answers-list {
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;

  #responses-tag {
    padding-left: 22px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #a7a6a1;
    @media #{$small-only} {
      padding-left: 12px;
      background-color: #ceebd8;
      font-size: 13px;
      padding-top: 3px;
      padding-bottom: 3px;
      color: #58595b;
    }
  }

  .answer-div-container {

    .answer-super-container {
    
      border-bottom: 18px solid #fff;
      &.staff {
        background-color: #fbf4e4;
        border-bottom: 18px solid #fbf4e4;
        border-right: 10px solid #fbf4e4;
      }

    }
    position: relative;
    //margin-bottom: 32px;

    @media #{$small-only} {
      padding-left: 0;

    }

    @media #{$medium-up} {
      padding-left: 22px;
      padding-right: 22px;
    }
    
    .answer-delete {
      padding-top: 5px;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: none !important;
    }

    .answer-delete.deletor {
      display: inline-block !important;
      }

  }
}

.row.delete-buttons {
  margin-top: 10px;
}

#answer-detail {
  margin-bottom: 12px;
  .header {
    height: 36px;
    color: #58595b;
    background-color: #fff;

    &.staff {
      background-color: #fbf4e4;
    }


    .img-wrapper {
      margin-top: 4px;
      margin-left: 12px;

      @media #{$small-only} {
        margin-top: 0px;
      }


    }
    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      line-height: 36px;
      padding-left: 12px;
      font-size: 14px;
      color:#148ecd;

      @media #{$small-only} {
        font-size: 13px;
        padding-left: 12px;
      }
    }

    .timestamp-wrapper {
      line-height: 34px;
      font-size: 10px;
      color: #808080;

      @media #{$small-only} {
        font-size: 10px;
        padding-right: 12px;
      }

    }

    .userscore-wrapper {
      line-height: 36px;
      padding-left: 10px;
      font-size: 14px;
      margin-right: 20px;

      .user-score {
        padding-right: 20px;
        color: #808080;

        .thumb-wrapper {
          img {
            padding-right:3px;
          }
        }
      }

      .divider-wrapper {
        position: relative;
        margin-top: -36px;
        height: 36px;
        padding-bottom: 8px;
        padding-top: 8px;
      }
    }

    .thumb-wrapper {
      line-height: 34px;
      img{
        padding-right: 6px;
      }
    }

    .star-wrapper {
      line-height: 34px;
      img{
        padding-right: 6px;
      }
    }


  }

  .content {
    color: #636363;
    line-height: 1.2;

    .content-container {
      @media #{$medium-up} {
        margin-left:90px;
      }
      @media #{$small-only} {
        margin-left:12px;
        padding-top:12px;

      }
      .answer-message {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300 !important;
        text-align: left;
        @media #{$medium-up} {
          font-size: 16px;
        }

        @media #{$small-only} {
          font-size: 14px;
        }

        &.showing-hidden {
          color: #bf2028;
        }
      }

    }
  }

  .answer-bar {
    padding-left: 90px;
    padding-right: 0px;
    @media #{$small-only} {
      padding-left: 12px;
      padding-right: 12px;
    }

    .report-wrapper {
      line-height: 30px;
      padding-left:0px !important;
    }


    .approval-wrapper {
      padding-left: 0px;
      cursor: pointer;

      @media #{$small-only} {
        padding-left: 0px;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: #148ecd;
      }
    }

    .approved-wrapper {
      padding-left: 0px;

      @media #{$small-only} {
        padding-left: 0px;
        display: block !important;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: #edcc82;
      }
    }
  }
}

button[disabled=disabled], button:disabled {
  background-color: #ccc;
  color: #636363;
}

.divider {
  width: 1px;
  height: 20px;
  max-height: 20px;
  background-color: #fff;
}

.grey-divider {
  width: 1px;
  max-height:20px;
  height:20px;
  background-color: #a7a6a1;

}


.f-dropdown {
  border: 1px solid #148ecd;
  padding: 0px 0px !important;
  font-size: 14px;

  @media #{$small-only} {
    font-size: 11px;
    width: 150px !important;
    max-width: 150px;
  }

  @include box-shadow(#888 1px 1px 2px);

  li {
    border-bottom: 1px solid #148ecd;
    line-height: 14px;
    transition: all 0.5s ease-out;

    @media #{$small-only} {
      font-size: 11px !important;
    }

    a {
      color: #148ecd;
    }
    &:hover, &:focus {
      background-color: #148ecd;
      a {
        color: #fff;
      }
    }
  }
}
.f-dropdown:after {
  border-color: transparent transparent #148ecd;
}

#people-row {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  height: 70px;

  border-bottom: 1px solid #e5e6e7;

  .small-3 {
    padding-left: 12px;
  }

  a.user-name-wrapper {
    line-height: 61px;
    font-size: 15px;
    padding-right: 12px;
    padding-left: 5px;
    color: #6996cc;
  }
}
#people-profile-section {
  #people-header {
    background-color: #344364;
    color: #fff;
    font-size: 16px;
    height: 38px;
    line-height: 38px;

    .user-name {
      padding-left: 12px;
    }
    a.close {

      color: #fff !important;

    }
  }

  #img-wrapper {
    img {
      width: 250px;
      height: 250px;
    }
  }

  .people-common-courses {
    padding: 15px;

    p.tag {
      color: #808285;
      font-size: 12px;
    }
  }
}

#delete-warning {
  font-size: 14px;
  color: #636363;
}

@media (max-width: 655px) {

  .hide-left {
   height: 1px;
   visibility: hidden;
  }

  .question-container {
    margin-right: 0;
    margin-bottom: 0.25em;
  }
  .question-container.selected {
    left: 0;
  }

  #instruction-img-wrapper {
    display: none;
  }

  .search-input-wrapper {
    padding:0;

  }
}

.faux-hide {
  height: 1px !important;
}

.row.list-update {
  border-left: 1px solid #bdbec0;
  border-right: 1px solid #bdbec0;
  box-sizing: border-box;
  font-size: 15px;
  width: 282px;
  padding: 10px;
  background: #fff;
  border-bottom: 3px solid #ccc;
  @media #{$small-only}{
    width: 250px;
  }
}

.votes-wrapper {
  line-height: 30px;
  margin-right: 14px;

  .votes {
    padding-left: 20px;
    margin-right: 0px;
    font-size: 14px;
    line-height: 24px;
  }
}

.reveal-modal.share-modal {
  padding: 0px;

  .share-modal-header {
    background-color: #f4f4f4;
    min-height: 72px;
    padding: 17px 50px 17px 25px;
    border-bottom: 1px solid #d2d3d4;

    h3 {
      color: #808285;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 25px;
    }

    h5 {
      color: #808285;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .share-modal-footer {
    background-color: #f4f4f4;
    border-top: 1px solid #d2d3d4;
  }

  .close-reveal-modal {
    font-size: 22px;
    top: 12px;
  }

  .form {
    padding-top: 25px;

    form {

    }
  }

  button {
    background-color: #148ecd;
    font-size: 14px;
    height: 30px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    border-radius: 4px;
    margin-left: 10px;
  }


  textarea {
    border-radius: 4px;
  }
  a.cancel {
    font-size: 14px;
  }
  ul.no-bullet {
    margin-top: 15px;
    margin-bottom: 25px;

    li {
        margin-left: 0px;
      input {
        display: inline-block;
        margin-right: 5px;
      }

      a {
        display: block;
        font-size: 11px;
      }
    }
  }


}


.play-video {
  position: absolute;
  top: 38%;
  left: 38%;
  z-index: 100;
  cursor: pointer;
  max-width: 150px;
  max-height: 100px;
}

.resource-preview p {
  margin-bottom: 0;
}

.resource-title, .resource-description {
  margin: 0 0 5px 0;
  @media #{$small-only}{
    font-size: 14px !important;
  }
}

.resource-article {
  border: 1px solid #ccc;
  padding: 15px;
  @media #{$small-only}{
    border: none;
    padding: 0;
  }
  .resource-image {
    max-height: 150px;
    width: auto;
  }
}

.resource-title {
  font-size: 14px;
}

.resource-image {
  width: 100%;
  @media #{$small-only}{
    max-height: 150px;
    width: auto;
  }
}

.resource-video-holder {
 margin-bottom: 5px;
 cursor: pointer;
}

.resource-meta {
  font-size: 16px;
  margin-bottom: 15px;
  @media #{$small-only}{
    font-size: 14px;
  }
}

.resource-site {
  font-size: 14px;
}

.resource-video {
  width: 100%;
  height: auto;
}

.resource-preview.small {
  padding: 12px;
  .resource-article {
    border: 0;
    padding: 0;
  }
  .resource-image {
    max-height: 60px;
    width: auto;
    margin-bottom: 12px;
  }
  .resource-description {
    display: none;
  }
  .resource-site {
    font-size: 14px;
    margin-top: 0;
  }
  .resource-video-holder {
    margin-bottom: 0;
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.row.feat{
  margin-top: 50px;
  padding: 5px;
}

.code-snippet {
  background-color: #272822;
  overflow: initial;
  border: solid;
  border-width: 1px;
  padding: 5px;
}

.prestyle {
  margin: 0;
  line-height: 1.25;
}

.startdiv {
  color: #f92672;
  display: inline-block;
}

.key {
  color: #a6e22e;
  display: inline-block;
}

.value {
  color: #e6db74;
  display: inline-block;
}

.widget-integration-table {
  width:100%;
}

.clients-table {
  width:90%;
  margin-right: 20px;
}

.client {
  cursor: pointer;
}

@media only screen and (max-width: 862px) {
  .code-snippet {
    overflow: auto;
  }

  table.widget-integration-table, thead, tbody, th, td, tr {
    display: block;

  }

  table.widget-integration-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.widget-integration-table tr { border: 1px solid #ccc; }

  table.widget-integration-table td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
  }

  table.widget-integration-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 25%;
    padding-right: 20px;
    white-space: nowrap;
    font-weight: bold;
  }

  table.widget-integration-table td:nth-of-type(1):before { content: "Name"; }
  table.widget-integration-table td:nth-of-type(2):before { content: "Description"; }
  table.widget-integration-table td:nth-of-type(3):before { content: "Required?"; }
  table.widget-integration-table td:nth-of-type(4):before { content: "Default"; }

  table.widget-integration-table .show-secret {
    left: 0px;
    width: 75%;
  }

}


@media only screen and (max-width: 540px) {
  @media only screen and (max-width: 500px) {
    #banner-img-wrapper #image-top-div {
      width: 300px;
      min-height: 46px;
      padding: 10px 17px 10px 17px;
      margin: 100px auto;

    }

    #banner-img-wrapper .title {
      font-size: 24px;
    }
  }
}

@media  only screen and (max-width: 675px) {
  .wrapper-container {
    padding: 5px 5px 105px 5px;
  }

}

@media only screen and (min-width: 500px) and (max-width: 675px) {
  #banner-img-wrapper #image-top-div {
    width: 400px;
    min-height: 46px;
    padding: 10px 17px 10px 17px;
    margin: 50px auto;

  }

  #banner-img-wrapper .title {
    font-size: 24px;
  }
}


