// Error pages

@import 'foundation_and_overrides';
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import 'components/tricks_n_treats';
@import 'components/mixins';
@import "components/backgrounds";
@import 'components/buttons';

// Font
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");

// Common classes

.not-found__common-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #26273b;
	width: 100%;
	height: 100%;
	.edc-logo {
		height: rem-calc(68);
		margin-bottom: rem-calc(64);
		display: block;
	}
	.edc-i-404 {
		height: rem-calc(141);
		margin-bottom: rem-calc(43);
		display: block;
	}


	.not-found__text {
		text-align: center;
		color: #6f708b;
		max-width: rem-calc(698);
		letter-spacing: rem-calc(0.6);
		font-size: rem-calc(16);
		line-height: normal;
	}

	.not-found__text_big {
		font-size: rem-calc(24);
		margin: 0;
	}
}

.edc-logo {
	height: rem-calc(30);
}


