$collapse:true;
$column-gutter: 0;

$text-color: #4faad9;
$font-text-color: #666;
$topbar-height: rem-calc(55);
$topbar-bg: #fff;
$topbar-link-bg-hover: #fff;
$topbar-link-color: $text-color;
$topbar-link-color-hover: $text-color;
$topbar-link-color-active: $text-color;
$topbar-link-color-active-hover: $text-color;
$topbar-link-font-family: 'Open Sans', sans-serif;

@import 'foundation';
@import "common/base";
@import 'autocomplete';
@import 'jquery.datetimepicker';
@import 'foundation-icons';
@import 'angular-carousel';
@import 'jquery-ui-1.10.4.custom';
@import 'ng-quick-date-plus-default-theme';
@import 'jcarousel.data-attributes';

body {
  font-family: 'Open Sans', sans-serif;
  @media #{$medium-up} {
    background: transparent;
    padding-top: rem-calc(55) !important;
  }
}

input, textarea, button, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
  visibility: hidden;
}

.xdsoft_scrollbar {
  display: none !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
  overflow-y: scroll;
}

.xdsoft_datetimepicker.xdsoft_noselect {
  @media #{$small-only} {
    left: 2px !important;
  }

}

.row-wide {
  max-width: 100%;
}

.top-bar.header {
  box-shadow: 0px 0px 4px 2px #aaa;
  z-index: 101;
  min-height: 55px;

  li.menu-icon {
    a:after {
      box-shadow: 0 10px 0 1px #0d4c70, 0 16px 0 1px #0d4c70, 0 22px 0 1px #0d4c70 !important;
    }
  }
  .name {
    img {
      height: 22px;
    }
  }

  ul.right {
      li {
        background-color: white;
       @media #{$small-only} {
         text-align: center;
      }
     }
  }
  .top-bar-section ul {
    background: white;
  }
  .top-bar-section ul li > a {
   display: inline;
    font-size: 14px;
    padding: 8px 12px !important;
    border-radius: 3px;
    margin: 15px;
    &.inverse {
      background-color: #148ecd !important;
      color: white;
    }
    &.active {
      font-size: 13px;
      font-weight: bold;
      box-shadow: 0px 0px 4px 2px #ccc;
    }
    @media #{$small-only} {
        min-width: 120px;
        padding: 0px 0px ;
        line-height: 60px;
        font-size: 20px;
        color: #4FAAD9;
        font-weight: 600;
        text-align: center;
        background-color: transparent;
        transition: all 0.2s ease-out;

        &:hover {
          background-color: #0d4c70;
          color: #fff;
        }
        &.active {
          font-size: 20px;
          font-weight: bold;
          box-shadow: none;
        }
      }
  }

}
.loader-img {
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
}

#loader-img {
  position: absolute;
  top: 105px;
  text-align: center;
  width: 100%;
  z-index: 4;
}

.hero {
  max-width: 100%;
  .hero-map {
    height: 275px;
    position: relative;
    .hero-map-embed {
      .angular-google-map-container { height: 275px; }
    }
  }
  .hero-overlay {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    line-height: 21px;
    font-size: 18px;
    color: $font-text-color;

    p {
      text-align: center;
      font-size: 26px;
      margin-top: 75px;
    }
  }
}

.breakline {
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.event-card {
  border: 1px solid #bdbec0;
  border-radius: 5px;
  width: 300px;
  height: 320px;
  background: white;
  border-radius: 3px;
  float: left;
  margin: 8px;
  @media #{$small-only} {
    width: 250px;
    height: 320px;
//    float: none;
    margin: 20px auto 0 auto;
  }
  .event-card-header {
    span {
      padding-left: 10px;
      font-size: 15px;
      color: #148ecd;
      background: #D1E8EF;
      display: block;
      width: 100%;
      height: 100%;
    }
    height: 30px;
    line-height: 30px;
  }
  .event-card-content {
    height: 235px;
    padding: 20px;
    @media #{$small-only} {
      padding: 10px;
    }

    $event-title-font-size: 18px;
    $event-title-line-height: 1.4;
    $event-title-lines-to-show: 2;

      .title {
//      height: 42px;
      color: #148ecd;
      font-size: $event-title-font-size;

        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 255px;
        height: $event-title-font-size*$event-title-line-height*$event-title-lines-to-show; /* Fallback for non-webkit */

        font-size: $event-title-font-size;
        line-height: $event-title-line-height;
        -webkit-line-clamp: $event-title-lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    $event-body-font-size: 14px;
    $event-body-line-height: 1.4;
    $event-body-lines-to-show: 4;

    .body {

      margin-top: 10px;
      margin-bottom: 10px;
      font-size: $event-body-font-size;
      line-height: $event-body-line-height;

      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 255px;
      height: $event-body-font-size*$event-body-line-height*$event-body-lines-to-show; /* Fallback for non-webkit */

      font-size: $event-body-font-size;
      line-height: $event-body-line-height;
      -webkit-line-clamp: $event-body-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .meta {
      font-size: 14px;
      color: #666;
      line-height: 20px;
      margin-top: 0px;
      margin-bottom: 10px;
      display: block;
     .meta-date {

     }
      $meta-location-font-size: 14px;
      $meta-location-line-height: 1.2;
      $meta-location-lines-to-show: 2;
     .meta-location {
       font-size: $meta-location-font-size;
       line-height: $meta-location-line-height;

       display: block; /* Fallback for non-webkit */
       display: -webkit-box;
       max-width: 255px;
       //height: $meta-location-font-size*$meta-location-line-height*$meta-location-lines-to-show; /* Fallback for non-webkit */

       font-size: $meta-location-font-size;
       line-height: $meta-location-line-height;
       -webkit-line-clamp: $meta-location-lines-to-show;
       -webkit-box-orient: vertical;
       overflow: hidden;
     }
    }
  }
  .event-card-status {
    background: #666;
    font-size: 15px;
    color: white;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    .rsvp-state {
      display: inline-block;
      padding: 0 8px;
      color: #fff;
      transition: none;
      &.yes {
        background: #27AF8D;
      }
      &.maybe {
        background: #C88C32;
      }
      &.no {
        background: #A0A0A0;
      }
    }
    .count {
      padding: 0 5px;
    }
  }
  .event-card-footer {
    height: 50px;
    img {
      height: 48px;
      border-radius: 50%;
    }
    ul {
      margin: 0;
      list-style: none;
      li {
        float: left;
      }
    }
  }
}

.content {
  margin: 25px 0;
  font-size: 17px;
  p {
    font-size: 17px;
    line-height: 20px;
    color: $font-text-color;
  }
}

.box {
  margin: 5px;
  background: white;
  border-radius: 3px;
  border: 1px solid #bbb;
  .box-content {
    padding: 25px;
    @media #{$small-only} {
      padding: 15px;
    }
  }
}

.sidebar {
  padding: 0 15px;
  @media #{$small-only} {
    p {
      padding: 0px 5px;
    }
    padding: 10px 0px;
  // display: none;

  }
}

.form-row {
  padding: 5px 0;

  .event-checkbox.small-12.columns {
    padding-left: 21px;
  }
}

.form-label {
  font-size: 15px;
  color: #999;
  padding-top: 3px;
  padding-right: 16px;
  //text-align: right;
}

.label-value {
  font-size: rem-calc(15);
}

.form-input {
  padding-right: 5px;
}

select {
  color: $font-text-color;
  background-color: transparent;
}
.events-hangout-box {
  padding: 0.5rem;
}
.events-hangout-wrapper {
  background-color: #dddddd;
  padding: 10px !important;
  border-radius: 4px;

  label {
    font-weight: bold;
    vertical-align: top !important;
    width: 85%;

  }
}



#group-check {
  margin-bottom: 0px;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
  border: 1px solid #bbb;
  border-radius: 5px;
}

.map {
  margin-left: 10px;
  display: inline-block;
  height: 100px;
  width: 150px;
  .angular-google-map-container { height: 100px; width: 150px; }
}

button.radius.tiny, a.button.radius.tiny {
  font-size: 0.8875rem;
  margin: 0;
  padding: 8px 15px;
  background-color: #1a8ecd;

  @media #{$small-only} {
    padding: 8px 8px;
  }
  &.yes {
    background: #27AF8D;
  }
  &.maybe {
    background: #C88C32;
  }
  &.no {
    background: #A0A0A0;
  }
  &.grey {
    background: #ccc;
  }

  &.margin {
    margin-left: 7px;
  }


  &.no-animation {
    transition: none;
  }
  &.small {
    padding: 10px 10px;
  }
}

.radio-option {
  min-height: 75px;
  min-width: 300px;
  border: 1px solid #aaa;
  border-radius: 3px;
  float: left;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  width: 100%;
  &:hover {
    box-shadow: 0px 0px 4px 2px #ccc;
  }
  .title {
    font-size: 16px;
    padding: 5px 5px 5px 0;
    display: block;

    &.conf-type {
      padding-top: rem-calc(14);
    }
  }
  .description {
    font-size: 12px;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: 20px;
    left: 15px;
  }
}

.button-group {
  li {
    &:first-child {
      .button {
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      border-right: 1px solid transparent;
    }
    &:last-child {
      .button {
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      border-left: 1px solid transparent;
    }
  }
  .button {
    background: #D1E8EF;
    color: #1a8ecd;
    font-size: 16px;
    font-family: 'Open Sans';
    &:hover {
      background: darken(#D1E8EF, 10%);
    }
  }
}

.muted {
  font-size: 15px;
  color: #999;
}

.small {
  font-size: 12px;
}

.event-listing .row {
  font-size: 15px;
  padding: 5px 0;
}

.event-rsvp-change {
  margin-left: 15px;
  @media #{$small-only} {
    margin-left: 5px;
    font-size: 14px;
  }
}

.event-rsvp-buttons {
  padding: 15px 0;
}

.event-option {
  border: 1px solid $text-color;
  color: #1a8ecd;
  padding: 5px 10px;
  //width: 150px;
  text-align: center;
  font-size: 14px;
  margin: 1px;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: $text-color;
    color: white;
  }
}
.event-people-header {
  border-bottom: 1px solid #bbb;
  padding: 15px;
  font-size: 15px;
}

.event-people-item {
  height: 60px;
  border-bottom: 1px solid #bbb;
  padding: 5px;
  .icon {
  height: 50px;
  width: 50px;
    border-radius: 50%;
  }
  .name {
    line-height: 25px;
    margin-left: 10px;
  }
  .location {
    font-size: 13px;
    color: #999;
    margin-left: 10px;
  }
  .status {
    line-height: 45px;
  }
}

.quickdate {
  width: 100%;
  height: 100%;
  .quickdate-button {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    color: $font-text-color;
    border: 1px solid #bbb;
  }
}


.f-dropdown {
  border: 1px solid #148ecd;
  padding: 0px 0px !important;
  position: absolute !important;
  font-size: 14px;

  @media #{$small-only} {
    font-size: 11px;
    width: 150px !important;
    max-width: 150px;
  }

  @include box-shadow(#888 1px 1px 2px);

  li {
    border-bottom: 1px solid #148ecd;
    float: none;
    line-height: 14px;
    transition: all 0.5s ease-out;

    @media #{$small-only} {
      font-size: 11px !important;
    }

    a {
      color: #148ecd;
    }
    &:hover, &:focus {
      background-color: #148ecd;
      a {
        color: #fff;
      }
    }
  }
}
.f-dropdown:after {
  border-color: transparent transparent #148ecd;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1a8ecd;
  display: inline-block;
  height: 7px;
  margin-left: 5px;
}

.events-filter-row {
  margin-bottom: 10px;

  .message {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
  }
}



.bold {
  font-weight: bold;
}

.controls {
  a {
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
  }
  a.prev {
    background: asset_url('arrow-left-blue.png');
    text-align: right;
    background-size: 9px 20px;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 15px;
  }
  a.next {
    background: asset_url('arrow-right-blue.png');
    text-align: left;
    background-size: 9px 20px;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;
  }
}

.event-comments {
  margin-top: 15px !important;
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
  line-height: 35px;
  button {
    float: right
  }
  @media #{$small-only} {
    font-size: 14px;
  }
}

.comment {
  padding: 10px;
  .name {
    margin: 5px 0;
    display: block;
  }
  p {
    font-size: 14px;
  }
  .col-image {
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
    @media #{$small-only} {
      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
  }
  .col-content {
    padding-left: 5px;
    border-bottom: 1px solid #bbb;
    min-height: 80px;
  }
}

.event-comment-create {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
}

.event-comment-cancel {
  margin-right: 5px !important;
}

.votes-wrapper {
  display: inline-block;
  height: 30px;
}

.votes {
  width: auto;
  min-width: 42px;
  max-width: 82px;
  padding: 3px 3px 3px 25px;
  border: 1px solid #148ecd;
  @include radius(3px);
  color: #148ecd;
  background-color: #fff;
  background-image: image_url('thumb-large-blue.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  cursor: default;
  line-height: 24px;

  &.active {
    height: 30px;
    width: auto;
    min-width: 42px;
    max-width: 82px;
    padding: 3px 3px 3px 25px;
    @include radius(3px);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    cursor: pointer;

    background-image: image_url('thumb-large-white.png');
    background-color: #148ecd;
    color: #fff;

    &.user-upvoted {
      cursor: pointer;
    }
  }
}

.grey-divider {
  width: 1px;
  max-height:20px;
  height:30px;
  background-color: #a7a6a1;
  margin: -5px 10px;
}

.report-wrapper {
  margin-bottom: 5px;
}

.report-wrapper div {
  display: inline-block;
  height: 30px;
}

.event-dismiss {
  background: image_url('close_grey.png');
  float: right;
  height: 12px;
  width: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 10px;
  margin-left: 15px;
  color: #999;
}

.gcal {
  background: image_url('google-calendar-icon.png');
}

.outlook {
  background: image_url('outlook-icon.png');
}

.ical {
  background: image_url('icalendar-icon.png');
}

.calendar {
  float: left;
  width: 90px;
  height: 20px;
  padding-left: 25px;
  margin-left: 5px;
  background-size: 20%;
  background-repeat: no-repeat;
}

.event-image {
  max-height: 265px;
  @media #{$small-only} {
    display: none;
  }
}

.ft12 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.cards-container {
  .rn-carousel-slide {
    padding-bottom: 50px;
  }
}

.nocards-container {
  margin-top: 20px;
}
.empty-event-card {
  border: 1px solid #bdbec0;
  border-radius: 5px;
  margin: 0 auto;
  width: 265px;
  height: 265px;
  background: white;
  border-radius: 3px;
  //float: left;
  //margin: 8px;
  @media #{$small-only} {
    width: 250px;
  }
    .event-card-content {
    height: 140px;
    padding: 20px;
    .title {
      height: 42px;
      color: #148ecd;
      font-size: 21px;
    }
    .body {
      height: 50px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 16px;
    }
    .meta {
      font-size: 14px;
      color: #666;
      line-height: 20px;
      margin-top: 35px;
      display: block;
     .meta-date {

     }
     .meta-location {

     }
    }
  }

  .event-card-status {
    background: #666;
    font-size: 15px;
    color: white;
    height: 45px;
    line-height: 35px;
    padding-left: 5px;
    .rsvp-state {
      display: inline-block;
      padding: 0 8px;
      color: #fff;
      transition: none;
      &.yes {
        background: #27AF8D;
      }
      &.maybe {
        background: #C88C32;
      }
      &.no {
        background: #A0A0A0;
      }
    }
    .count {
      padding: 0 5px;
    }
    .create-event {
      a {
      color: #ffffff;
      }
      p {
        text-align: center;
        margin-top: 5px;
        font-size: 17px;
      }
    }
  }

  .event-card-footer {
    background: #ccc;
    height: 80px;
    p {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    }
    img {
      height: 150px;
    }
    ul {
      margin: 0;
      list-style: none;
      li {
        float: left;
      }
    }
  }


}
.no-event-message {
    margin-left: 40px;
    margin-top: 30px;
    height: 100px;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 5px #888888;
    p {
      padding-top: 30px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      box-shadow: 0px;
    }
}


.update-user-modal.tiny.reveal-modal {
  padding-top: 1.175rem;

  a.close-reveal-modal {
    font-size: 1.5rem;
  }
  h4 {
    color: #636363;
  }
  h6 {
    margin-bottom: 10px;
    color: #58595b;
  }

  .social-row {
    height: 80px;
  }

  .social-icon {
    padding:10px 15px;
    @include border-radius(3px);
    display: inline-block;
    &.fb-icon {
      background-color: #3b5998;
      margin-right: 15px;
    }

    &.google-icon {
      background-color: #db4437;
      margin-right: 10px;
    }

    &.linkdin-icon {
      background-color: #007bb6;
    }

  }

  button.save-button {

    min-width: 80px;
    font-size: 0.8875rem;
    padding: 8px 15px;
    background-color: #148ecd;
    color: #fff;
  }

  .save-button {
    float: right;
    width: 75px;
  }

  .mt20 {
    margin-top: 20px !important;
  }


  @media only screen and (max-width: 1025px) and (min-width: 800px) {
    margin-left: -20%;
    width: 40%;
  }

  @media only screen and (max-width: 800px) and (min-width: 600px) {
    margin-left: -30%;
    width: 60%;
    min-height: 430px;
    left: 50%;
    top: 6.25rem;
  }

  @media only screen and (max-width: 600px) and (min-width: 400px) {
    margin-left: 8%;
    width: 80%;
    min-height: 430px;
    top: 8%;
    left: 0;

  }

  @media only screen and (max-width: 400px) and (min-width: 250px) {
    margin-left: 3%;
    width: 95%;
    min-height: 430px;
    top: 8%;
    padding: 25px 5px 5px 5px;
  }


  .privacy-policy{
    font-size: 0.65rem;
    padding-top: 5px;
    line-height: 1.3;
    color: #808080;

  }

  .permission-to-post{
    padding-top: 7px;
    font-size: 0.65em;
    color: #808080;
  }


  .last-name-field-modal {
    @media #{$medium-up}{
      padding-left: 10px;
    }
  }

  .hook-message {
    font-size: 0.85em;
    line-height: 1.1;
  }

  hr.modal-break-line{
    margin: 0px;
  }


    .save-button {
      float: right;
      width: 75px;
    }


  span.form-error-message {

    color: red;
    font-size: 10px;
  }

  .form-inputs{
    padding-bottom: 6px;
  }

  .ng-dirty.ng-invalid {
    margin-bottom: 0 !important;
  }
}

.jcarousel {
  overflow-y: visible;
  width: 100%;

  li {
    max-width: 952px;
  }
}

.carousel-row {
  max-width: 952px;
  margin: 0px auto;
}

@media only screen and (max-width: 949px) and (min-width: 250px) {
  .carousel-row {
    max-width: 320px;
    margin: 0px auto;

    @media #{$small-only} {
      max-width: 250px;
    }
  }
  .jcarousel {

    height: 100% !important;
    margin: 0px auto;

    li {
      max-width: 320px;
      max-height: 1110px;
      @media #{$small-only} {
        max-width: 250px;
      }
      span.card-span {
        display: inline-block;
        width: 100%;
//        height: 320px;
      }
    }
  }
}
