/* CSS for module */

.forum-container{
	width: 100%;
	padding: 10px;
}

.forum-module{
	width: 100%;
	height: 100%;
	background: #f6f6f6 !important;
	border-radius: 4px;
	padding: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.forum-module p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.forum-module .new-post-btn, .new-response-submit-btn, .new-comment-submit-btn, .new-thread-submit-btn, .cancel-new-thread{
	float: right;
    cursor: pointer;
    background-color: #00a1e1;
    border: 1px solid #698590;
    border-radius: 2px;
    padding: 0 15px;
    height: 35px;
    color: #f6f6f6;
    text-shadow: none;
    line-height: 32px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
}

.forum-module .new-post-btn{
    margin-top: 0;
    line-height: 31px;
}

.cancel-new-thread{
    background: #ffffff;
    color: #797979;
    margin-left: 12px;
}

/* CSS for threads */

.show-link{
    display: none;
}

.forum-module .threads{
	margin-top: 35px;
}

.forum-module .threads .discussion-thread{
	margin-bottom: 20px;
    border-bottom: 3px solid #b9b9b9;
}

.forum-module .threads .discussion-thread .thread-wrapper{
	-webkit-border-top-left-radius: 3px;
    -moz-border-topleft-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-topright-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottomright-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottomleft-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    -webkit-border-top-left-radius: 3px;
    -moz-border-topleft-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-topright-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottomright-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottomleft-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
}

/* Customizing tinymce editor */

.forum-module .tinyMCEditorInput{
    margin-bottom: 10px;
}

.forum-module .mce-btn-group .mce-last{
    /*background: #d6d6d6;*/
    border: 1px solid #b7b7b7;
    border-radius: 0px;
}

.forum-module .mce-btn button{
    background: none !important;
}

.forum-module .mce-panel{
    background: #e2e2e2;
    border: 1px solid #b7b7b7;
}

.forum-module .threads .discussion-thread{
    border: 1px solid #ababab;
    /*max-height: 450px;*/
    overflow-y: scroll;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-content{
	padding: 10px 30px 15px 30px;
    border-bottom: 3px solid #bbbbbb;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35),0 1px 0px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.forum-module .threads .discussion-thread .thread-wrapper .post-content .post-title, .forum-module .threads .discussion-thread .thread-wrapper .post-content .post-details{
	font-size: 24px;
    line-height: 22px;
    color: #a9a9a9;
}

.forum-module .threads .response-count {
    font-size: 14px;
    display: inline-block;
    margin-right: 8px;
}
.forum-module .threads .discussion-thread .thread-wrapper .post-content .post-details{
    font-size: 14px;
    margin-bottom: 8px;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-content .post-title{
    color: #000000;
    font-size: 16px;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-content .post-title{
	font-weight: bold;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-content .post-visibility{
	background: #f6f6f6;
    padding: 15px 10px;
    margin-top: 20px;
    display: none;
}

.forum-module .threads .discussion-thread .thread-tools{
	line-height: 2.2em;
    padding: 0px 20px 0px 20px;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.33) inset;
    background: #f6f6f6;
}

.forum-module .threads .discussion-thread .thread-wrapper .collapse-link{
    display: none;
    font-size: 14px;
}

.forum-module .threads .discussion-thread .thread-wrapper .expand-link{
    font-size: 14px;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-extended{
	padding: 10px 20px 15px 20px;
    background: #f6f6f6;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-extended .expanded-container{
    display: none;
}

/* CSS for reponses */

.forum-module .threads .discussion-thread .thread-wrapper .post-extended .response{
	margin-top: 10px;
	-webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    position: relative;
    margin: 20px 0;
    border-radius: 0px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.66);
    background: #ffffff;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-extended .response .response-details{
	padding: 20px 20px 5px 20px;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-extended .response .response-details .response-time{
	color: #9c9c9c;
    font-size: 12px;
}

.forum-module .threads .discussion-thread .thread-wrapper .post-extended .response .response-details .response-body{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* CSS for comments */

.responses-container .comments-container .comment{
	padding: 10px 20px;
    border-top: 1px solid #d9d9d9;
	background: #f6f6f6;
}

.responses-container .comments-container .comment .comment-content{
	margin-bottom: 5px;
}

.responses-container .comments-container .comment .comment-info{
	margin-bottom: 0px;
	color: #8a8a8a;
	font-size: 12px;
}

/* CSS for new response section */

.forum-module .new-response-container{
	min-height: 240px;
	margin-top: 10px;
}

.forum-module .new-response-container .new_comment{

}

.forum-module .new-response-container textarea{
	max-height: 10px;
    resize: none;
}

/* CSS for new comment section */
.forum-module .new-comment-container{
	min-height: 240px;
}

.forum-module .new-comment-container .mce-container{
	border: 0px;
}

.forum-module .new-comment-container .mce-container.mce-toolbar-grp, .forum-module .new-comment-container .mce-container.mce-statusbar{
	border: 1px solid #e4e4e4;
}

/* CSS for new thread section */
.forum-module .new-thread-container{
	margin-top: 35px;
    padding: 15px 25px;
    border: 1px solid #dadada;
    border-radius: 5px;
    background: #ffffff;
    height: auto;
    display: none;
    overflow: hidden;
}

.forum-module .new-thread-container .control-label input {
    margin-right: 10px
}

.forum-module .new-thread-container .thread-title{
    border-radius: 5px;
    margin: 0;
}

.forum-module .new-thread-container .mce-panel{
	border-color: #d2d0d0;
}

.forum-module .new-thread-container .follow-check{
	color: #2d81ad;
    border: 1px solid #2d81ad;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.forum-module .new-thread-container .post-controls {
    display: inline-block;
    float: right;
}

.forum-module .new-thread-container .post_anonymous {
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.forum-module .post-body{
    overflow: hidden !important;
}

.forum-module .post-body p, .forum-module .response-body p{
    margin-bottom: 10px;
}