$collapse:true;
$column-gutter: 0;
$flex-video-padding-top: rem-calc(25);
$flex-video-padding-bottom: 56%;
$flex-video-margin-bottom: rem-calc(16);

$tooltip-padding: 3px;
$blue-shade: rgb(34, 167, 240);

// We use this to control widescreen bottom padding
$flex-video-widescreen-padding-bottom: 57.25%;
@import 'foundation';
@import "common/base";
@font-face {
  font-family: 'Segoe UI Regular';

  src: local('Segoe UI Regular'), font-url('Segoe-UI-Regular.ttf') format('truetype');
}

$base-font-family: "Segoe UI Regular";

// Custom scrollbar for webkit browsers
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
  border-radius: 10px;
}

body {
  font-family: $base-font-family;
  overflow: hidden;
  @media #{$medium-up} {
    background: transparent;
  }

}

input, textarea, button, h1, h2, h3, h4, h5 {
  font-family: $base-font-family;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#c0c1c3;
}

label.label-hide, span.label-hide {
  position: absolute;
  top: -9999px;
}

.has-tip {
  border-bottom: 0px;

  &:hover, &:focus {
    border-bottom: 0px;
  }
}

.pdl10 {
  padding-left: rem-calc(10) !important;
}

.right-rail-container {
  max-width: 262px;
  margin: 0px auto;
  padding: 0px;
}

#widget-container {
  height: 100%;
  @media #{$small-only} {
    background-color: #fff;
    border: 1px solid #a7a9ac;

  }

  @media #{$medium-up} {
    background: transparent;
  }
}


.row.widget-header {
  &.compact {
    line-height: 20px;
    padding: 10px 10px;
    height: 40px;
    background: $blue-shade;

    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &.bell-row {
    display: block;
    padding-right: 10px;
  }

  .logo {
    height: 20px;
    margin-top: -3px;
  }

  a.notifications-dropdown {
    position: absolute;
    top: -30px;
    display: block;
    right:0px;

    img.bell {
      height: 20px;

      &.unseen {
        margin-right: 7px;
      }
    }

    .count-badge {
      position: absolute;
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 9px;
      text-align: center;
      top: -3px;
      right: 1px;
      background-color: red;
      color: white;
      border-radius: 50%;
    }
  }

  ul.notification-dropdown.f-dropdown {
    width: 240px !important;
    max-width: 240px !important;
    left: 11px !important;
    margin-top: 10px;
    background: #fff;
    outline: none;
    border:0px;
    padding: 5px 0px;
    box-shadow: 0px 3px 9px rgba(0,0,0,.3);

    .notifications-wrapper {
      max-height: 210px;
      overflow: auto;
    }

    li {
      //      padding: 5px 10px 5px 10px;
      border-bottom: 1px solid rgba(0,0,0,.12);

      &:first-child {
        //margin-top: 5px;
      }

      &:last-child {
        //margin-bottom: 5px;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &:before {
      right: 3px !important;
      left: auto;
      border-color: transparent transparent #fff transparent !important;
      border: inset 5px;
      top: -10px;
    }

    &:after {
      right: 4px !important;
      left: auto;
      border-color: transparent transparent #fff !important;
      border: inset 5px;
      top: -10px;
    }

    .notification-row {
      padding: 3px;
//      box-shadow: 0 2px 3px rgba(0,0,0,.2);
      background-color: white;
      transition: box-shadow 0.6s;

      &:hover {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
        z-index: 100;
        position: relative;
      }

      .img-wrapper {
        height: 50px;
        line-height: 50px;

        img {
          border-radius: 50%;
        }
      }

    }
    $notification-msg-font-size: 12px;
    $notification-msg-line-height: 1.4;
    $notification-msg-lines-to-show: 3;

    .notification-message {
      color: rgba(0,0,0,0.87);
      font-size: 12px;
      font-weight: bold;
      line-height: 1.4;
      max-width: 155px;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: $notification-msg-font-size*$notification-msg-line-height*$notification-msg-lines-to-show;
      -webkit-line-clamp: $notification-msg-lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }



    .seen {
//      box-shadow: 0px 0px 0px white;
//      border: 1px solid rgba(0,0,0,.1);
      transition: box-shadow 0.6s;

      .notification-message {
        color: rgba(0,0,0,0.54);
//        font-weight: normal;
      }
    }
  }
}

.user-header{
  padding: 15px 10px;
//  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//  box-shadow: rgba(0, 0, 0, 0.09804) 0px 0px 4px, rgba(0, 0, 0, 0.09804) 0px 0px 3px;
}

.user-profile {
  display: inline-block;
  max-width: 50px;

  a.profile-link {
     vertical-align: bottom;

    img.user-image {
      border-radius: 50%;
    }
  }
}

.my-posts-block {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.09804) 0px 2px 2px;
  padding: 5px 10px 15px 10px;

  p {
    margin-bottom: 0px;
    font-size: 14px;
    color: $blue-shade;
    cursor: pointer;
  }
}

.main-container-to-scroll {
  //max-height: 500px;
  overflow: auto;
}

.share-wrapper {
  display: inline-block;
  width: 190px;
  max-width: 190px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $blue-shade transparent transparent;
    left: -9px;
    top: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    left: -8px;
    top: 16px;
  }
}



input.share-input {
  border-radius: 0px;
  max-width: 190px;
  width: 190px;
  height: 40px;
  margin-bottom: 0px;
  border: 1px solid $blue-shade;
}

.empty-state-message-tooltip {
  background: white;
  text-align: center;
  padding: 5px 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #a7a9ac;
  font-size: 15px;

  &:before {
    content: "";
    margin-left: -5px;
    top: 31%;
    left: 49.5%;
    position: absolute;
    display: block;
    border: 7px solid #aaa;
    border-color: #aaa transparent transparent transparent;
  }

  &:after {
    content: "";
    margin-left: -5px;
    top: 31%;
    left: 50%;
    position: absolute;
    display: block;
    border: 6px solid #FFF;
    border-color: #fff transparent transparent transparent;
  }

}



.empty-state {
  width: 85px;
}

#right-rail-container {
  @media #{$medium-up} {
    display: none;
  }
}

#full-forum-container {
  @media #{$small-only} {
    visibility: hidden;
    position: absolute;
    top: -600px;
  }
}
.trending-activity-container {
  padding-top: 20px;

  &.inside-topic {
    padding-top: 0px;
  }
}
.stream-block {

}

.trending-activity-container, .stream-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 20px;

  .content-title {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0,0,0,0.87);
    font-weight: bold;
  }
  .trending-block {

    .trending-row {
      padding: 2px 10px;

      color: #008CBA;


      p {
        font-size: 14px;
        color: #427fed;
        font-family: $base-font-family;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 220px;



        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .arrow-box {
        &:hover {
          cursor: pointer;
        }
      }


      &:last-child {
        border-bottom: 0px;
      }
    }



    img.right-arrow {
      height: 13px;
    }
  }
}

.content-title.inside-topic {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.empty-trending-message {
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
  p {

    margin-bottom: 0px;
    color: rgba(0,0,0,.54);

    &.italic {
      font-style: italic;
      font-size: 14px;
      line-height: 1.4;
    }
    &.small-text {
      font-size: 14px;
      margin-top: 20px;

      &.activity {
        margin-top: 27px;
        margin-bottom: 20px;
      }
    }
  }

  .post-button {
    color: #22a7f0;
    border: 1px solid #22a7f0;
    padding: 10px;
    margin: 15px auto;
    margin-bottom: 0px;
    display: block;
    max-width: 130px;
    font-size: 14px;
  }
}

.topic-block-row {
  padding: 5px 10px;
}

.selected-topic-header {
  padding: 10px 10px 5px 10px;

  .topic-name {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
  }

  hr {
    margin: 0px;
    border: solid #22a7f0;
    border-width: 1px 0 0;
  }
  .cancel-topic-selection {
    img {
      height: 9px;
      vertical-align: top;
    }
  }
}

.selected-topic-name {
  font-size: 14px;
  color: #427fed;
  text-decoration: underline;
}

.selected-topic-stats {
  p.count {
    font-size: 28px;
    line-height: 28px;
    height: 28px;
    margin-bottom: 10px;
    color: rgba(0,0,0,0.87);
  }

  p.count-label {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.54);
  }

  .title {
    font-size: 14px;
    color: rgba(0,0,0,0.87);
  }
}

.clickable-div {
  cursor: pointer;
}

.stream-row {
  padding: 10px 10px;
  margin-bottom: 0px !important;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  img.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;

    &.online {
      border: 3px solid #64dd17;
      border-radius: 50%;
    }
  }
  p {
    margin-bottom: 0px;

  }

  p {

    &.user-name {
      padding-left: 5px;
      font-size: 12px;
      line-height: 1.3;
      max-width: 200px;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: 12px*1.3*2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: rgba(0,0,0, 0.54);
    }

    span {
      color: rgba(0,0,0, 0.87);
    }

  }

  &:hover {
    background-color: #f4f4f4;
  }
}

.stream-container {
  margin-top: 20px;
  border-bottom: 0px !important;

  ul {
    margin-bottom: 5px;
  }

  .content-title {
    margin-bottom: 15px;

    &.with-streams {
      margin-bottom: 5px !important;
    }
  }

  .empty-trending-message .post-button  {
    max-width: 155px;
  }
}

.mobile-stream-indicator {
  padding-top: 10px;
  padding-bottom: 10px;
  background: image_url('mobile_indicator.png');
  background-size: 10px 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 31px;
}

@media all and (max-width: 255px) and (min-width: 230px) {
  input.share-input {
    max-width: 180px;
    width: 180px;
    height: 40px;
    margin-bottom: 0px;
    border: 1px solid $blue-shade;
  }
}
