@import "foundation";
@import "foundation/functions";
@import "common/base";

.row {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

p {
  margin-bottom: 5px !important;
}
.f-dropdown {
  max-width:rem-calc(100);
}

.f-dropdown li a.filter-choice {
  display: block;
  padding: 0.5rem;
  color: $crimson;
  float:none;

}

.mb0 {
  margin-bottom:0 !important;
}

.mb5 {
  margin-bottom: rem-calc(5);
}

.mt5 {
  margin-top: rem-calc(5) !important;
}

.mt10 {
  margin-top: rem-calc(10) !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt18 {
  margin-top: rem-calc(18) !important;
}

.ml10 {
  margin-left: rem-calc(10);
}
.mr10 {
  margin-right: rem-calc(10);
}

p.red-text, span.red-text {
  color: $crimson;
}

a.red-text {
  color: $crimson !important;
}

p.grey-text {
  color: #6d6e71;
}

p.grey-text2 {
  color: #808285;
}

p.grey-text3 {
  color: #636363;
}

p.grey-text4 {
  color: #949494;
}

span.grey-text {
  color: #6d6e71;
}

span.grey-text2 {
  color: #808285;
}

span.grey-text3 {
  color: #636363;
}

span.grey-text4 {
  color: #949494;
}


.pdt0 {
  padding-top: 0 !important;
}

.pdt5 {
  padding-top: rem-calc(5);
}

.pdb0 {
  padding-bottom:0 !important;
}

.pdr0 {
  padding-right: 0 !important;
}
.pdr5 {
  padding-right: rem-calc(5) !important;
}
.pdr10 {
  padding-right: rem-calc(10) !important;
}

.pdl0 {
  padding-left: 0 !important;
}
.pdl5 {
  padding-left: rem-calc(5);
}

.pdl10 {
  padding-left: rem-calc(10) !important;
}

.pdt10 {
  padding-top: rem-calc(10) !important;
}

.ft10{
 font-size: rem-calc(13);
 line-height: rem-calc(13);
}

.ft12 {
  font-size:rem-calc(15);
  line-height: 1rem;
}

.ft14 {
  font-size: rem-calc(14);
}

.ft17 {
  font-size: rem-calc(20) !important;
  line-height:rem-calc(20) !important;
 }

.ft22 {
  font-size: rem-calc(22);
  line-height: rem-calc(22);
}
.ft26 {
  font-size: rem-calc(26);
  line-height: rem-calc(26);
}

.ft28 {
  font-size: rem-calc(28);
  line-height: rem-calc(28);
}


img.cm-icon {
  width:11px;
  height:11px;
}

img.img-35 {
  height: 35px;
}

.blue-text {
  color: $blue;
}

.blue-text2 {
  color: $dash-anchor-blue;
}


.golden-text {
  color: $golden;
}

.brown-background {
  background-color: $background-brown;
  color:white;
}

.float-right {
  float: right;
}

p.cancel {
font-size:20px;
  color:white;
  padding:5px;
}

.text-trans-cap {
 text-transform: capitalize;
}

.move-right > .inner-wrap {
  transform:translate3d(0px, 0px, 0px) !important;
}





#collect-name-modal, #update-profile-modal {
  padding: 18px;

  .email-msg {
    font-size: 14px;
    color: #666;
    padding-left: 10px;
  }

  .form {
    padding-top: 12px;
  }
}


.course-row {
  padding-top: 14px !important;
  padding-bottom: 12px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;

  border: 1px solid $dash-anchor-blue;
  margin-top: 9px !important;
 }

.user-img-content {
  padding-top: 32px ;
  width: 300px !important;
  padding-left:5px;

  #user-img-big {
    @media only screen and (min-width: 40.063em) {
      width: 140px;
      height: 140px;
    }
    @media only screen and (min-width: 64.063em) {
      width: 198px;
      height: 198px;
    }

  }
}

#dash-button {
  font-size: 14px;
  background-color: $dash-anchor-blue;
}

#dash-recommended-section {
  margin-top: 70px;
  font-size: 18px;
  color:$grey-sidebar;
}

.ftwb
{
  font-weight:bold;
}

.dash-user-name {
  padding-top: 22px;
  font-size: 26px;
  color: $grey-sidebar;
}

.dash-user-email {
  font-size: 16px;
  padding-top: 22px;
  color: $grey-sidebar
}

.enroll
{
  font-size:14px;
}

#dash-my-courses {
  font-size: 18px;
  color:$grey-sidebar;
}

#dash-courses-container {
  padding-top: 32px;
  padding-left: 12px;
}

#dash-prof-name {
  font-size:14px;
  color:#A7A9AC;
}

#dash-course-name {
  font-size: 18px;
  color:$dash-anchor-blue;
}