/*
 *= require_self
 */
@import 'foundation';
@import "foundation/functions";
$blue-color: #3B669E;
$base-font-family: 'Nunito', sans-serif;
$pink-color: #dd437d;
@import "common/partials/card_destination_header";
@import "common/base";

$c87: rgba(0,0,0,0.87);
$c54: rgba(0,0,0,0.54);

$topbar-bg-color: #fff;

.top-bar.card-header {
	height: auto;
}

.top-bar .toggle-topbar.menu-icon {
	display: none;
}

#wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 200px;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  background: #F6F6F6;
}

input[type='checkbox'] {
	margin-right: 5px;
}

.content input[type='checkbox'] {
	margin-bottom: 5px;
}

input[type='text'], input[type='email'] {
	height: 30px;
}

label {
	color: $c54;
	font-weight: bold;
}

button, .button {
	padding: 8px 20px;
	background: $blue-color;
	border-radius: 3px;
	font-family: 'Open Sans', Sans-Serif;
}

button.small, .button.small {
	padding: 8px 20px;
}

.button.cancel {
	background: transparent;
	color: $blue-color;
}

.button.delete {
	border: 1px solid $blue-color;
	margin-left: 15px;
}

.row .row {
	margin-left: 0px;
	margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Sans-Serif;
}

ul {
	list-style: none;
}
.topic-container.row {
	margin-top: 40px;
}

h4.topic-heading {
	font-size: 20px;
	font-weight: bold;
	color: rgba(0,0,0,0.76);
	display: inline-block;
}

span.topic-heading-subpart {
	color: $c54;
	font-weight: bold;
	font-size: 17px;
}

a.add-link.button {
	background: $blue-color;
	color: white;
	padding: 8px 20px;
	border-radius: 3px;
	font-size: 12px;
}

a.topic-link {
	color: $c87;
	font-size: 12px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.inline-element {
	display: inline-block;

	div {
		display: inline-block;
	}
}

label.name-label {
	display: inline-block;
	width: 150px;
}

img.topic-thumb {
	width: 100px;
	height: 100px;
}

img.topic-icon {
	width: 70px;
	height: 70px;
}

.topic_name {
	display: inline-block;
	width: 400px;
}

.topic_picture {
	display: inline-block;
	margin-left: 20px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	padding: 8px 20px;
}

.tabs-row {
	position: relative;
	width: 100%;
	max-width: 100%;

	.row  {
		max-width: 62.5rem;
		margin: 0px auto !important;
	}

	&::before {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		background: $blue-color;
		position: absolute;
		top: 31px;
	}
}

dl.topics-tabs {
	
	dd:first-child > a {
		border-top-left-radius: 3px;
	}
	dd:last-child > a {
		border-top-right-radius: 3px;
	}
	dd > a {
		padding: 8px 0px;
		width: 250px;
		text-align: center;
		font-size: 14px;
		line-height: 14px;
		background: $blue-color;
		color: white;
		border: 1px solid $blue-color;
		border-bottom: 1px solid transparent;

		&:hover {
			background: $blue-color;;
		}
	}

	dd.active a {
		background: #F6F6F6;
		color: $blue-color;
	}
}

.content .row.topic-form-row {
	max-width: 500px;
	margin-left: 0px;

	button.add-button {
		height: 30px;
		line-height: 30px;
		padding-top: 0px;
		font-size: 14px;
	}

	.small-12.columns:first-child {
		padding-left: 0px;
	}

	.small-12.columns:last-child {
		padding-right: 0px;
	}
}

ul.users-list {
	margin-left: 0px;
	max-width: 500px;

	li { margin-bottom: 5px; }

	li span {
		font-size: 14px;
		color: $c54;

		&.admin-name {
			font-weight: bold;
		}
	}

	li form {
		display: inline-block;
		margin: 0px 7px;
		position: relative;

		&:last-child {
			margin-right: 0px;
		}

		&:first-child:before {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			height: 8px;
			top: 9px;
			right: -4px;
			background: #757575;
		}

		input[type='submit'] {
			border: transparent;
			background: transparent;
			color: transparent;
			background-size: 18px;
			background-repeat: no-repeat;
			width: 19px;
			cursor: pointer;
		}

		input[value='Remove'] {
			background-image: image_url('delete_content.png');
			background-size: 19px;
		}

		input[value='Email'] {
			background-image: image_url('send-email.png');
		}	

	}
}

#deleteModal {
		border-radius: 3px;
	  padding: 15px 15px 38px 15px;
	  border-bottom: 10px solid $pink-color;
	  border-radius: 0px;
	h4.modal-title {
	  font-size: 18px;
		font-weight: 600;
		color: #5E5E5E;
	}

	p {
		font-size: 14px;
		color: $c87;
	}

	a.close-modal {
		font-size: 0.8125rem;
		color: $blue-color;
	}
	.close-reveal-modal {
    font-size: 22px;
    opacity: 0.7;
    text-decoration: none;
    &:hover { opacity: 1;}
  }
}




//media queries
@media #{$small-only} { 
	.topic_name {
		display: inline-block;
		width: calc(100% - 150px);
	}

	.topic-container {
		padding: 5px;
	}

	.tabs-content > .content.active {
		padding: 5px;
	}

	dl.topics-tabs dd {
		width: 50%;

		a {
			width: 100%;
		}
	}

	.topic_picture {
		max-width: 150px;
	}

	.content .row.topic-form-row {
		.small-12.columns:first-child {
			padding-left: 8px;
		}

		.small-12.columns:last-child {
			padding-right: 8px;
		}
	}

		
	
}