$collapse:true;
$column-gutter: 0;
$flex-video-padding-top: rem-calc(25);
$flex-video-padding-bottom: 56%;
$flex-video-margin-bottom: rem-calc(16);

$tooltip-padding: 3px;

$accessible-blue: #0381a1;
$b-87: rgba(0,0,0,0.87);
$b-54: rgba(0,0,0,0.54);
$accessible-yellow: #f6d345;
$hyperlink-color: #2347a7;
// We use this to control widescreen bottom padding
$flex-video-widescreen-padding-bottom: 57.25%;
@import 'foundation';
@import "common/base";
@import 'autocomplete';
@import 'nsPopover';
@import 'angular-carousel';
@import 'jquery-ui-1.10.4.custom';
@import 'foundation-icons';
@import 'jcarousel.data-attributes';
// Custom scrollbar for webkit browsers
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  @media #{$medium-up} {
    background: transparent;
  }

}

input, textarea, button, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#c0c1c3;
}

.mb0 {
  margin-bottom:0 !important;
}

.mb5 {
  margin-bottom: rem-calc(5);
}

.mb10 {
  margin-bottom: rem-calc(10) !important;
}

.mt5 {
  margin-top: rem-calc(5) !important;
}

.mt10 {
  margin-top: rem-calc(10) !important;
}

.mb18 {
  margin-bottom: rem-calc(18) !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt18 {
  margin-top: rem-calc(18) !important;
}

.mr0 {
  margin-right: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr10 {
  margin-right: rem-calc(10) !important;
}

.pdt0 {
  padding-top: 0 !important;
}

.pdt5 {
  padding-top: rem-calc(5);
}

.pdt20 {
  padding-top: rem-calc(20) !important;
}

.pdb0 {
  padding-bottom:0 !important;
}

.pdr0 {
  padding-right: 0 !important;
}
.pdr5 {
  padding-right: rem-calc(5) !important;
}
.pdr10 {
  padding-right: rem-calc(10) !important;
}
.pdr15 {
  padding-right: rem-calc(15) !important;
}
.pdl0 {
  padding-left: 0 !important;
}
.pdl5 {
  padding-left: rem-calc(5);
}

.pdl10 {
  padding-left: rem-calc(10) !important;
}

.pdl15 {
  padding-left: rem-calc(15) !important;
}

.pdb15 {
  padding-bottom: rem-calc(15) !important;
}

.pdt10 {
  padding-top: rem-calc(10) !important;
}

.ft10{
  font-size: rem-calc(10);
  line-height: rem-calc(10);
}

.ft11{
  font-size: rem-calc(11);
  line-height: rem-calc(11);
}

.ft12 {
  font-size:rem-calc(12);
  line-height: 1rem;
}

.ft14 {
  font-size: rem-calc(14);
  line-height: rem-calc(14);
}

.ft17 {
  font-size: rem-calc(17) !important;
  line-height:rem-calc(17) !important;
}

.ft18 {
  font-size: rem-calc(18) !important;
  line-height:rem-calc(18) !important;
}

.ft20 {
  font-size: rem-calc(20) !important;
  line-height:rem-calc(20) !important;
}

.ft22 {
  font-size: rem-calc(22);
  line-height: rem-calc(22);
}

a {
  color: $hyperlink-color;

  &:hover {
    color: $hyperlink-color;
  }
}

label {
  color: $b-87;
}

span.error, small.error {
  background: #db3a20;
}
button.round, .button.round {
  background: $accessible-blue;
}

#loader-img {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

label.label-hide, span.label-hide {
position: absolute;
top: -9999px;
}


button.respond-button {
  font-family: 'Open Sans', sans-serif;
  padding: 0px 20px 0px 20px;
  margin: 0px;
  background-color: $accessible-blue;
  font-size: 10px;
  height: 30px;
  color: #fff;

  &:hover {
    background-color: $accessible-blue;
  }

  &:focus {
    outline: 0px;
    border: 1px solid #fff;
    box-shadow: 2px 2px #999;
  }

  &.disabled {
    background-color: #ccc;
    color: $b-87;
  }
}

.border-container {
  border: 1px solid #d3d3d3;
  border-top: 0;
  padding-bottom: rem-calc(15) !important;

  @media #{$small-only} {
    border: 1px solid #6996cc;

    &#answer-detail {
      border:0;
    }
  }


}

#widget-container {
  height: 100%;
  @media #{$small-only} {
    background-color: #fff;
    border: 1px solid $b-54;
  }

  @media #{$medium-up} {
    background: transparent;
  }
}

.update-user-modal.tiny.reveal-modal {
padding-top: 1.175rem;

  .privacy-policy{
    font-size: 0.65rem;
    padding-top: 5px;
    line-height: 1.3;
    color: #808080;

  }

  .permission-to-post{
    padding-top: 7px;
    font-size: 0.65em;
    color: #808080;
  }


  .last-name-field-modal {
    @media #{$medium-up}{
      padding-left: 10px;
    }
  }

  .hook-message {
    font-size: 0.85em;
    line-height: 1.1;
  }

  hr.modal-break-line{
    margin: 0px;
  }


    .save-button {
      float: right;
      width: 75px;
    }


  span.form-error-message {

    color: red;
    font-size: 10px;
  }

  .form-inputs{
    padding-bottom: 6px;
  }


  a.close-reveal-modal {
    font-size: 1.5rem;
  }
  h4 {
    color: $b-87;
  }
  h6 {
    margin-bottom: 10px;
    color: $b-87;
  }

  .social-row {
    height: 80px;
  }

  .social-icon {
    padding:10px 15px;
    @include border-radius(3px);
    display: inline-block;
    &.fb-icon {
       background-color: #3b5998;
      margin-right: 15px;
    }

    &.google-icon {
      background-color: #db4437;
      margin-right: 10px;
    }

    &.linkdin-icon {
      background-color: #007bb6;
    }

  }

  button.save-button {

    min-width: 80px;
    font-size: 0.8875rem;
    padding: 8px 15px;
    background-color: $accessible-blue;
    color: #fff;
  }

  @media only screen and (max-width: 1025px) and (min-width: 800px) {
  margin-left: -20%;
  width: 40%;
  }

  @media only screen and (max-width: 800px) and (min-width: 600px) {
  margin-left: -30%;
  width: 60%;
  min-height: 430px;
  left: 50%;
  top: 6.25rem;
  }

  @media only screen and (max-width: 600px) and (min-width: 400px) {
    margin-left: 8%;
    width: 80%;
    min-height: 430px;
    top: 8%;
    left: 0;

  }

  @media only screen and (max-width: 400px) and (min-width: 250px) {
    margin-left: 3%;
    width: 95%;
    min-height: 430px;
    top: 8%;
    padding: 25px 5px 5px 5px;
  }
}


.mt20 {
  margin-top: 20px !important;
}

.landing-row {
  background-color: #fff;
  margin-bottom: 20px !important;
  color: $b-54;
  border: 1px solid #bdbec0;
  border-radius: 3px;
  padding: 20px;
  .landing-heading {
    padding-top: 7px;
  }
  a.stat-link {
    background-color: $accessible-blue;
    color: white;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin-left: 5px;
  }
  span.stats-trending-tags {
    line-height: 20px;
    padding-right: 10px;
    float: left;
    word-break: break-all;

    a {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }

    &.no-tags {
      word-break: normal;
    }
  }
  .stat-value {
    font-size: 25px;
    color: $b-87;
  }
  .stat-col {
    padding: 0px 15px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .stat-row {
    border-bottom: 3px solid #dfdfdf;
    padding: 15px 0px;
    &:last-child {
      border-bottom: none;
    }
    .col-heading {
      line-height: 20px;
      margin-bottom: 0;
    }
    .main-heading {
      line-height: 20px;
      margin-bottom: 0;
      color: $b-54;
    }
  }
  .end-row {
    border-bottom: 3px solid #000000;
    padding: 15px 0px;
    &:last-child {
      border-bottom: none;
    }
    .col-heading {
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}

.edcast-landing {
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;
  .col-heading {
    font-size: 18px;
    color: $b-54;
    margin-bottom: 15px;
  }
  .landing-heading {
    font-size: 18px;
    margin: 0px 5px;
  }
  .icon {
    width: 29px;
    height:16px;
  }

  .icon.no-answer {
    border:1px solid $accessible-blue;
    font-size: 10px;
    color: $b-54;
    border-radius: 4px;
    padding: 2px 5px 0px 5px;
    height: 16px;

  }

  .icon.student-response {
    border:1px solid $accessible-blue;
    font-size: 10px;
    color: $b-54;
    border-radius: 4px;
    padding: 2px 5px 0px 5px;
    height: 16px;
  }
  .icon.faculty-response {
    padding: 2px 5px 0px 5px;
    border: 1px solid $accessible-yellow;
    border-radius: 4px;
    font-size:10px;
    color: $b-54;
  }
  .icon.mixed-response {
    background: image_url('responsed-combined.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: $b-54;
    padding-top: 3px;
  }

  .icon.report {
    background-position: 3px 3px;
    background-image: image_url('flag.png');
    background-repeat: no-repeat;
    height: 20px;
  }

  .icon.add-tag {
    font-size: 20px;
    color: lighten(#000, 10%);
    padding-left:2px;
  }

  .icon-description {
    text-align: left;
    font-size: 14px;
    color: $b-54;
    line-height: 17px;
  }

  .upvoted {
    padding-top: 5px;
  }

  .responses-indicators {
    float: left;
    background-color: #9cbadd;
    color: #fff;
    padding-left: 8px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }
  .other-things {
    float: right;
    background-color: #9cbadd;
    color: #fff;
    padding-left: 8px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }

  .tabs {
    margin-bottom: 10px !important;
    border-bottom: 1px solid #aaa;
    dd > a {
      font-size: 18px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      color: $b-87;
      background: none;
      padding: 0 15px;
      margin-right: 25px;


    }

    dd {
      &:focus {
        outline: 0px;
        a{
          border-bottom: 3px solid $accessible-blue;
          outline: 0px;
        }

      }
    }

    dd.active a {
      color: $accessible-blue;
      background: none;
      border-bottom: 3px solid $accessible-blue;
    }
  }

  .tabs-content {
    margin-bottom: .5rem;
  }

  @media #{$small-only} {
   display:none;
  }
}

.row.widget-header.row {
  width: 281px;
  display:none;
  @media #{$small-only} {
    width: 100%;
    margin-bottom: 0px !important;
  }
}

.left-scroll-container {
  margin-top: 10px !important;
}

.widget-header-row {
  &:first-child {
    border-bottom: none;
  }
  &.bordered {
    border-bottom: 1px solid #bdbec0;
  }
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  width: 940px;
  border: 1px solid #bdbec0;
  background-color: #fff;
  color: $b-54;
  padding: 0 5px;

  img.user-image {
    border-radius: 50%;
  }
  p, span, button, input {
    font-family: 'Open Sans', sans-serif;
  }
  button.post-button.tiny {
    font-size: 0.8875rem;
    margin: 0;
    padding: 8px 15px;
    background-color: $accessible-blue;
    &:focus {
      &:focus {
        outline: 0px;
        border: 1px solid #fff;
        box-shadow: 2px 2px #999;
      }
    }

    @media #{$small-only} {
      font-size: 0.6875rem;
      padding: 8px 9px;
    }

  }

  span.sort-dropdown-text {
    color: $accessible-blue;
  }
  .logo {
    font-size: 1.3rem;
    color: #000;
    img {
      height: 17px;
      margin-top: -4px;
      margin-right: 2px;
    }

    @media #{$small-only} {
      font-size: 1.1rem;
      img {
        height: 15px;
        margin-top: -4px;
        margin-right: 2px;
      }
    }
  }
  .search-button {
    background-image: image_url('search-white.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    &.active {
      background-color: #CDCECA;
    }

    &:focus {
      outline: 0px;
      border: 1px solid #fff;
      box-shadow: 2px 2px #999;
    }
  }

  .sort-container {
    margin-left: 16px;
  }

  .score-element {
    display: inline-block;
    img {
      margin-right: 5px;
      margin-top: -4px;
      &.thumb {
        height: 18px;
      }
      &.star {
        height: 22px;
      }
    }
    margin-right: 10px;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $accessible-blue;
  display: inline-block;
  height: 7px;
  margin-left: 2px;
  &.grey {
    border-top: 5px solid #999;
  }
  &.flip {
    border-bottom: 5px solid #999;
    border-top: none;
    position: absolute;
    top: 9px;
  }
}

.search-form-row {
  border: 4px solid $accessible-blue;
  box-sizing: border-box;

  span.close {
    display: block;
    margin-right: 6px;
    margin-top: 6px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: image_url('close_grey.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;

    &:focus {
      border: 1px solid $accessible-blue;
      outline: 0px;
    }
  }

  input.search-input {
    margin: 0px;
    padding-left: 40px;
    font-size: 14px;
    color: #a8a9ac;
    background-image: image_url('search-small-2x.png');
    background-repeat: no-repeat;
    background-position: 6px 6px;
    width: 95%;
    border: 0px;
    box-shadow: none;
    &.active {
      color: #000;
    }
    &:focus {
      background-image: image_url('search-small-2x.png');
      background-repeat: no-repeat;
      background-position: 6px 6px;
      background-color: #fff;
      box-shadow: none;
    }
    @media #{$small-only}{
      font-size: 11px;
    }

  }
}

img.img-24 {
  height: 24px;
  width: 24px;
}

img.img-30 {
  width:30px;
  height:30px;
}
img.img-32 {
  width:32px;
  height:30px;
}

img.img-66 {
  width:66px;
  height:66px;
}
img.img-40 {
  width:40px;
  height:40px;
}
img.img-61 {
  width:61px;
  height:61px
}

img.img-75 {
  width:75px;
  height:75px
}

hr.horizontal-divider {
  margin-bottom: 18px;
  margin-top: 0px;
  border-color: #e5e5e5;
  border-width: 5px 0px 0px;
}

hr.horizontal-divider.staff {
  margin-bottom: 18px;
  margin-top: 0px;
  border-color: $golden;
  border-width: 3px 0px 0px;
}

.inappropriate-answer-container {
  border-top: 5px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
  border-left: 11px solid #e5e5e5;
  cursor: pointer;
  background-color: #e5e5e5;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
}

#widget-controls {
  height: 28px;
  width:250px;
  border-bottom: 1px solid #ccc;
  a {
    line-height: 28px;
    width:30px;
  }
  .post-button {
    padding: 0;
    margin: 0;
    height:28px;
    width: 78px;
    float:right;
    background-color: $accessible-blue;
    color: #fff;

    &:hover {
      background-color: $accessible-blue;
      color: #fff;
    }

    &:focus {
      outline: 0px;
      border: 1px solid #fff;
      box-shadow: 2px 2px #999;
    }
  }
}

#widget-search-nav-container {
  background-color: #fff;

  @media #{$small-only} {
    width: 250px;
  }

  @media #{$medium-up} {
    width: 940px;
    border: 1px solid #bdbec0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 24px;
  }
}

#widget-tabs-container {
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  background-color: #fff;

  font-size: 14px;
  padding-left: 10px;

  .sort-control{
    display: inline-block;
    color: #a8a9ac;
    background-color: #fff;
    height: 30px;
    span {
      padding-right: 10px;
      font-size:14px;
    }
    button {
      font-family: 'Open Sans', sans-serif;
      background-color: #fff;
      font-size: 14px;
      color: #a8a9ac;
      padding: 0px 16px 0px 16px;
      height: 30px;
      margin: 0px;
      outline: 0;
    }
    .active {
      color: $accessible-blue;
      border-bottom: 3px solid $accessible-blue;
    }
  }

  #widget-post-button-wrapper {
    margin-top: -1px;
    margin-right: -1px;
    button.post-button {
      font-family: 'Open Sans', sans-serif;
      background-color: $accessible-blue;
      color: #fff;
      font-size: 12px;
      margin-bottom: 0px;
      height:32px;
      padding: 0px 20px;
      width: 128px;
    }
  }

}

#main-container {
  @media #{$small-only} {
    width: 250px;
  }

  @media #{$medium-up} {
    width: 100%;
    max-width: none;
    position: relative;
  }

}

#left-container {
  @media #{$small-only}{
    width: 250px;
  }

  @media #{$medium-up}{
    width: 300px;
    position: absolute;
  }

  .context-row.row {
    font-size: 13px;
    @media #{$small-only}{
      width: 250px;
    }

    @media #{$medium-up}{
      width: 281px;
    }

    a.context-link {
      color: $accessible-blue;
      font-size: 13px;
      font-weight: bold;
      text-decoration: underline;
      marquee{
        text-decoration: underline;
      }
      &.active {
        color: $b-87;
        text-decoration: none;
        marquee{
          text-decoration: none;
        }
      }
    }
  }
}



#right-container {

  @media #{$small-only} {
    width: 250px;
  }

  @media #{$medium-up} {
    margin-left: 300px;
  }
  background: white;
  &.transparent {
    background: none;
  }
}

#questions-list, #announcements-list {
  @media #{$small-only} {
    width: 250px;
  }

  overflow-x: hidden;
}

#question-form {
  border: 1px solid #888;
  background: #fff;
  overflow-y: auto;
  @include box-shadow(#666 0px 1px 5px);
  @include border-radius(3px);

  .mce-tinymce {
    margin-top: 10px;
  }

  @media #{$small-only} {
    box-shadow: none;
    border: 0;
    border-radius: 0px;
  }

  a.cancel-x {
    @media #{$small-only} {
      padding-right: 0px;
      margin-right: 10px;
    }

    @media #{$medium-up} {
      padding-right: 16px;
    }
  }
  .header {
    font-family: 'Open Sans', sans-serif;
    background-color: $accessible-blue;
    color: #fff;
    width: 100%;
    line-height: 44px;
    padding-left: 22px;
    font-size: 16px;

    @media #{$small-only} {
      padding-left: 5px;
      padding-right: 5px;
      height: 32px;
      line-height: 32px;
    }

    @media #{$medium-up} {
      height: 44px;
    }
  }

  .form-container {
    padding: 22px;

    @media #{$small-only} {
      padding: 10px 0px;
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      color: $b-54;
      font-size: 16px;

      @media #{$small-only} {
        padding-left: 5px;
      }

    }

    input.question {
      font-family: 'Open Sans', sans-serif;
      margin-top: 12px;
      margin-bottom: 22px;

      @media #{$small-only} {
        padding-left: 5px;
      }
    }

    .action {
      //margin-top: 22px;

      a.cancel {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: $accessible-blue;
        margin-right: 12px;
        padding: 5px 25px;

        &:hover {
          color: $accessible-blue;
        }

        &:focus {
          color: $accessible-blue;
          outline: 1px solid $accessible-blue;
        }
      }

      button.respond-button {
        font-family: 'Open Sans', sans-serif;
        width: 92px;
      }
    }
  }

}

.question-container {
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  min-height: 105px;
  margin-right: 30px;
  background-color: #fff;
  color: $b-87;
  margin-bottom: 10px;

  @media #{$small-only} {
    width: 250px;
    border:1px solid #d1d3d4;
  }
  &.unread {
    border-left: 3px solid #83bee5;
  }

  @media #{$medium-up} {
    width: 281px;
  }

  &:hover, &:focus {
    //background-color: #d6e3f1;
    cursor: pointer;
    box-shadow: #ccc 2px 0px 5px;

    .header {
//      background-color: #148ecd;
//      color: #fff;
    }
    .content {
//      color: #344364;
    }
  }

//  &:focus {
//    box-shadow: 1px 2px 2px #148ecd;
//    outline: 0;
//  }


  &.selected {
    position: relative;
    left: 10px;
    border-color: $accessible-blue;
    @include box-shadow(#333 2px 0px 10px);

    @media #{$medium-up} {
      border-left: 0px;
    }

    .header{
      background-color: $accessible-blue;
      color: #fff;


      .img-wrapper {
        height:25px;
        padding-left: 12px;
      }

    }
  }

  .header {
    background-color: #f2f2f2;
    height: 25px;
    margin-bottom: 14px;
    color: $b-87;
    font-size: 13px;

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      padding-left: 6px;
      line-height: 25px;
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .timestamp-wrapper {
      line-height: 25px;
      font-size:10px;

      @media #{$small-only} {
        padding-right: 12px;
      }

      @media #{$medium-up} {
        padding-right: 18px;
      }
    }

    .img-wrapper {
      height:25px;
      padding-left: 12px;

      img {
        border-radius: 50%;
      }
    }
  }

  .content {
    color: $b-87;
    padding-right: 12px;
    height: 57px;
    overflow:hidden;

    .question-wrapper {
      padding-left: 12px;
      font-size:14px;
    }
  }

  .footer {
    color: #d56c71;
  }

}

.question-title {
  font-weight: 600;
  &.showing-hidden {
    color: #bf2028 !important;
  }
}
.context {
  margin-bottom: 15px !important;
}

.question-detail-container {
  word-wrap: break-word;
  background-color: #fff;

  .header {
    color: #FFF;
    background-color: $accessible-blue;


    @media #{$small-only} {
      height: 32px;
    }

    @media #{$medium-up} {
      height: 36px;
    }

    .img-wrapper {
      @media #{$small-only} {
        margin-left: 12px;
      }

      @media #{$medium-up} {
        margin-left: 22px;
        margin-top: 5px;
      }

      img {
        border-radius: 50%;
      }
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media #{$small-only} {
        font-size: 13px;
        line-height: 32px;
        padding-left: 7px;
        max-width: 110px;
      }

      @media #{$medium-up} {
        font-size: 16px;
        line-height: 36px;
        padding-left: 12px;
        max-width: 250px;

      }
    }

    .close-wrapper {
      @media #{$small-only} {
        font-size: 11px;
        line-height: 32px;
        padding-right: 10px;
      }

      @media #{$medium-up} {
        font-size: 14px;
        line-height: 36px;
        padding-right: 16px;
      }
    }

    .timestamp-wrapper {
      @media #{$small-only} {
        font-size: 10px;
        line-height: 32px;
        padding-right: 10px;
      }

      @media #{$medium-up} {
        font-size: 10px;
        line-height: 36px;
        padding-right: 26px;
      }
    }

    .userscore-wrapper {
      line-height: 36px;
      padding-left: 10px;
      font-size: 14px;
      margin-right: 20px;

      .user-score {
        padding-right: 20px;
      }
    }
    .thumb-wrapper {
      line-height: 36px;
      img{
        margin-right: 6px;
      }
    }

    .divider-box {
      margin-right: 20px;
    }
    .star-wrapper {
      line-height: 36px;
      img{
        margin-right: 6px;
        margin-top: -4px;
      }

    }
  }

  .content {
    padding-top:16px;

    .content-container {

      @media #{$small-only} {

        padding-left: 12px;
        padding-right: 12px;
      }

      @media #{$medium-up} {
        margin-left: 88px;
        padding-left: 12px;
        padding-right: 22px;
      }
    }
    .counts-breakdown {
      float: right;
      min-width: 32px;
      width: auto;
      height: 60px;
      margin-right: 0px;
      margin-left: 0px;
    }

    .question-wrapper {
      color: $b-54;
      @media #{$small-only} {
        font-size: 14px;
        margin-bottom: 25px;
      }

      @media #{$medium-up} {
        font-size: 18px;
      }
    }

    .question-message {
      margin-top: 8px;
      font-weight: 300 !important;
      text-align: left;
      @media #{$medium-up} {
        margin-right: 35px;
      }

      &.showing-hidden {
        color: #bf2028 !important;
      }
      p {
        @media #{$small-only} {
          font-size: 14px;
        }

        @media #{$medium-up} {
          font-size: 16px;
        }
        color: #585858;
      }
    }
  }

  .answer-bar {

    margin-bottom: 40px;

    .approval-wrapper {
      padding-left: 0px;
      cursor: pointer;

      @media #{$small-only} {
        padding-left: 0px;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: $accessible-blue;
      }
    }

    .approved-wrapper {
      padding-left: 0px;

      @media #{$small-only} {
        padding-left: 0px;
        display: block !important;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: #edcc82;
      }
    }

  }

}

#r-span {
  padding: 5px 4px;
}

.answer-container {
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  .header {


    .divider-wrapper {
      position: relative;
      height: 36px;
      padding-bottom: 8px;
      padding-top: 8px;
    }

  }


  .answer-bar {
    color: $accessible-blue;

    @media #{$small-only} {
      padding-left: 12px;
      padding-right: 12px;
    }

    @media #{$medium-up} {
      padding-left: 100px;
      padding-right: 22px;
    }

    .report-wrapper {
      line-height: 30px;

      .edit-pin-wrapper {
        @media #{$small-only} {
          width: 100%;
          display: block;
        }
      }

      .divider-wrapper {
        position: absolute;
        top: 0px;
        padding-bottom: 5px;
        padding-top: 5px;

        @media #{$small-only} {
          display: none !important;
        }

      }
      .report {
        line-height: 30px;

        @media #{$small-only} {
          font-size: 11px;
        }

        @media #{$medium-up} {
          margin-left: 10px;
        }

        a#report-tag {
          color: #6996cc;

          @media #{$small-only} {
            font-size: 11px;
          }

          @media #{$medium-up} {
            font-size: 14px;
          }
        }

        &:focus {
          outline: 0px;
          #r-span {
            border: 1px solid $accessible-blue;

          }
        }
      }
    }


      button.respond-button {
        padding: 0px 20px 0px 20px;
        margin: 0px;
        background-color: $accessible-blue;
        font-size: 10px;
        height: 30px;
        color: #fff;

        @media #{$small-only} {
          width:90px;
          padding: 0px 10px 0px 10px;
        }

        @media #{$medium-up} {
          padding: 0px 20px 0px 20px;
        }

        &.disabled {
          background-color: #ccc;
          color: $b-87;
        }
      }


    div {
      display: inline-block;
      height: 30px;

      &:focus {
        outline: 0px;
        border: 1px solid $accessible-blue;
      }
    }

  }

  .util-bar {
    color: gray;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .answer-form {
    color: $b-87;
    margin-top: 24px;
    border: 1px solid #ccc;
    box-shadow: 1px 0px 6px #636363;
    margin-bottom: 25px !important;

    .mce-tinymce.mce-container.mce-panel {
      margin-top: 10px;
    }

    .header {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      line-height: 20px;
      font-size: 14px;
      height: 22px;
      padding-left: 20px;
      background-color: $accessible-blue;

      @media #{$small-only} {
        height: 32px;
        line-height: 32px;
        padding-left: 0px;
      }
    }

    .form-container {
      @media #{$medium-up} {
        padding-left: 22px;
        padding-right: 22px;
      }
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      color: $b-54;
    }

    textarea {
      height: 100px;
      margin-bottom: 1rem !important;
    }

    .action {
      margin-top: 22px;
      a {
        display: inline-block;
        padding: 8px 25px;
        color: $accessible-blue;
        font-size: 12px;
        margin-right:10px;

        &:focus {
          border: 1px solid $accessible-blue;
          outline: 0px;
        }
      }
    }
  }

  &:focus {
    outline: 0px;
    border: 1px solid $accessible-blue;
  }

}

.count {
  height: 16px;
  line-height: 12px;
  min-width:29px;
  width: auto;
  padding-top: 3px;
  margin-bottom: 5px;

  &.faculty-answer {
    padding: 1px 5px 0px 5px;
    border: 1px solid $accessible-yellow;
    border-radius: 4px;
    font-size:10px;
    color: $b-54;
  }

  &.student-answer {
    border:1px solid $accessible-blue;
    font-size: 10px;
    color: $b-54;
    border-radius: 4px;
    padding: 1px 5px 0px 5px;
  }

  &.no-answer{
    border:1px solid $accessible-blue;
    color: $b-54;
    border-radius: 4px;
    display: none;
  }

  &.combined-answer {
    background: image_url('responsed-combined.png');
    background-repeat: no-repeat;
    font-size: 13px;
    color: $accessible-blue;
  }
}

.votes {

  min-width: 42px;
  max-width: 82px;
  width: auto;
  padding: 3px 3px 3px 25px;
  border: 1px solid $accessible-blue;
  @include radius(3px);
  color: $accessible-blue;
  background-color: #fff;
  background-image: image_url('thumb-large-blue.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  cursor: default;

  &.active {
    height: 20px;
    width: auto;
    min-width: 42px;
    max-width: 82px;
    padding: 3px 3px 3px 25px;
    @include radius(3px);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    cursor: pointer;

    background-image: image_url('thumb-large-white.png');
    background-color: $accessible-blue;
    color: #fff;

    &.user-upvoted {
      cursor: pointer;
    }

    &:focus {
      outline: 0px;
      border: 1px solid #fff;
      box-shadow: 2px 2px #999;
    }
  }
}



.votes-siderail {
  &.disabled {
    height: 15px;
    line-height: 15px;
    min-width: 30px;
    width: auto;
    padding: 0px 0 0 19px;
    color: $b-54;
    font-size: 10px;
    background-image: image_url('thumb-small-gray.png');
    background-repeat: no-repeat;
    background-position: 0;
    cursor: default;
  }

}

.report.active {
  cursor: pointer;
}

.edit-delete-wrapper {
  display: none !important;
}

.summary-title {
  font-size: 14px;
  font-weight: 300;
  &.unread {
  font-weight: 600;
  }
  max-height: 80px;

}

.edit-delete-wrapper.show {
  display: inline-block !important;
}

.edits {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: $accessible-blue;
  margin-left: 14px;
  min-width: 50px;
  text-align: center;

  @media #{$small-only} {
    margin-left: 5px;
  }
}

.delete {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: $accessible-blue;
  margin-right: 14px;
  min-width: 50px;
  text-align: center;

  @media #{$small-only} {
    margin-right: 0px;
  }
}

.answer-edit {
  &:focus {
    outline: 1px solid #1a9ecd;

  }
}

.answer-details.editor {
  display: none !important;
}

.answer-details.deletor {
  opacity: 0.2;
}

.answer-edit.noeditor {
  display: none !important;
}

.answer-delete {
  display: none !important;
}

#new-quest-form {
  padding-top: 10px;
  margin-top: 20px;

  .user-name {
    font-size: 16px;
    padding-bottom: 4px;
    color: $b-54;
  }

  input.question {
    font-family: 'Open Sans', sans-serif;
    @include radius(3px);
  }

  textarea {
    height: 150px;
    @include radius(3px);
  }

  a.cancel-tag {
    color:$accessible-blue;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .buttons-row {
    margin-top: 22px;
    @media #{$small-only} {
      padding-right: 12px;
    }
    button.respond-button {
      font-family: 'Open Sans', sans-serif;
      background-color: $accessible-blue;
      color: #fff;
      &:hover, &:focus {
        background-color: $accessible-blue;
      }
    }
  }

}

.ng-dirty.ng-invalid{
  margin-bottom: 0 !important;
}


#no-questions {

  .inner-wrap {
    background-color: #fff;
    width: 280px;
    border: 1px solid #ccc;

    @media #{$small-only} {
      width: 250px;
    }

    .no-q-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: $b-54;
      padding-top: 36px;
      font-weight: 600;
      padding-bottom: 30px;
    }

    .be-first-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: $b-54;
      padding-bottom: 12px;
    }

    .post-button-wrapper {
      padding-bottom: 36px;

      button#post-button {
        padding: 0px 20px 0px 20px;
        margin: 0px;
        background-color: $accessible-blue;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        height: 32px;
        color: #fff;
      }
    }
  }
}

.no-search-results {

  .no-result-wrapper {
    max-width: 290px;
    .no-result-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: $b-54;
      padding-top: 36px;
      font-weight: 600;
      padding-bottom: 30px;
    }
  }
}

#answers-list {
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;

  #responses-tag {
    padding-left: 22px;
    margin-bottom: 5px;
    font-size: 14px;
    color: $b-54;
    @media #{$small-only} {
      padding-left: 12px;
      background-color: #ceebd8;
      font-size: 13px;
      padding-top: 3px;
      padding-bottom: 3px;
      color: $b-87;
    }
  }

  .answer-div-container {

    .answer-super-container {
      margin-bottom: 1px;
      padding-bottom: 18px;
      //padding-right: 10px;
      &.staff {
        //padding-right: 10px;
        //background-color: $accessible-yellow;
        padding-bottom: 18px;
        border-top: 5px solid #e5e5e5;
        padding-top:18px;
      }

      &:focus {
        outline: 1px solid $accessible-blue;
      }


      @media #{$small-only} {
        padding-right: 0px;
      }

    }
    position: relative;

    @media #{$small-only} {
      padding-left: 0;

    }

    @media #{$medium-up} {
      padding-left: 22px;
      padding-right: 22px;
    }

    .answer-delete {
      padding-top: 5px;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: none !important;
    }

    .answer-delete.deletor {
      display: inline-block !important;
      }

  }
}

.row.delete-buttons {
  margin-top: 10px;
}

#answer-detail {
  margin-bottom: 12px;
  .header {
    height: 36px;
    color: $b-87;
    background-color: #fff;
    padding-right: 10px;

    &.staff {
      background-color: $accessible-yellow;
      padding-right: 10px;
    }


    .img-wrapper {
      margin-top: 4px;
      margin-left: 12px;

      img {
        border-radius: 50%;
      }

      @media #{$small-only} {
        margin-top: 0px;
      }


    }
    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      line-height: 36px;
      height: 36px;
      padding-left: 12px;
      font-size: 14px;
      color:$b-87;
      max-width: 250px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;


      @media #{$small-only} {
        font-size: 13px;
        max-width: 110px;
      }
    }

    .timestamp-wrapper {
      line-height: 34px;
      font-size: 10px;
      color: $b-87;

      @media #{$small-only} {
        font-size: 10px;
        padding-right: 12px;
      }

    }

    .userscore-wrapper {
      line-height: 36px;
      padding-left: 10px;
      font-size: 14px;
      margin-right: 20px;

      .user-score {
        padding-right: 20px;
        color: $b-87;

        .thumb-wrapper {
          img {
            padding-right:3px;
          }
        }
      }

      .divider-wrapper {
        position: relative;
        margin-top: -36px;
        height: 36px;
        padding-bottom: 8px;
        padding-top: 8px;
      }
    }

    .thumb-wrapper {
      line-height: 34px;
      img{
        padding-right: 6px;
      }
    }

    .star-wrapper {
      line-height: 34px;
      img{
        padding-right: 6px;
      }
    }


  }

  .content {
    color: $b-87;
    line-height: 1.2;

    .content-container {
      .counts-breakdown {
        float: right;
        min-width: 32px;
        width: auto;
        height: 60px;
        margin-right: 0px;
        margin-left: 0px;
      }

      @media #{$medium-up} {
        margin-left:90px;
      }
      @media #{$small-only} {
        margin-left:12px;
        padding-top:12px;

      }
      .answer-message {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300 !important;
        text-align: left;
        margin-top: 15px;
        @media #{$medium-up} {
          font-size: 16px;
        }

        @media #{$small-only} {
          font-size: 14px;
        }

        &.showing-hidden {
          color: #bf2028;
        }
        p {
          color: #585858;
        }
      }

    }
  }

  .answer-bar {
    padding-left: 90px;
    padding-right: 0px;
    @media #{$small-only} {
      padding-left: 12px;
      padding-right: 12px;
    }

    .report-wrapper {
      line-height: 30px;
      padding-left:0px !important;
    }


    .approval-wrapper {
      padding-left: 0px;
      cursor: pointer;

      @media #{$small-only} {
        padding-left: 0px;

      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: $accessible-blue;
      }

    }

        .approved-wrapper {
      padding-left: 0px;

      @media #{$small-only} {
        padding-left: 0px;
        display: block !important;
      }

      span {
        padding-left: 8px;
        font-size: 14px;
        color: #edcc82;
      }
    }
  }
}

.edit-button {
  span {
    padding-right: 8px;
  }

  &:focus {
    outline: 0px;
    border: 1px solid $accessible-blue;
  }
}

button[disabled=disabled], button:disabled {
  background-color: #ccc;
  color: $b-87;
}

.divider {
  width: 1px;
  height: 20px;
  max-height: 20px;
  background-color: #fff;
}

.grey-divider {
  width: 1px;
  max-height:20px;
  height:20px;
  background-color: #a7a6a1;

}

.f-dropdown.dropdown-push-left {
  margin-left: -10px;
  @media #{$small-only} {
    margin-left: -100px;
  }
}

.f-dropdown.dropdown-push-down {
  margin-top: 10px;
}

.f-dropdown {
  border: 1px solid $accessible-blue;
  padding: 0px 0px !important;
  font-size: 14px;
  margin-top: 3px;
  display: none;

  @media #{$small-only} {
    font-size: 11px;
    width: 150px !important;
    max-width: 150px;
  }

  @include box-shadow(#888 1px 1px 2px);

  li {
    line-height: 14px;
    transition: all 0.5s ease-out;

    @media #{$small-only} {
      font-size: 11px !important;
    }

    a {
      color: $accessible-blue;
    }



    &:hover, &:focus {
      background-color: $accessible-blue;
      a {
        color: #fff;
      }
    }
  }
  li.disabled {
    a {
      color: #666;
      cursor: default;
      text-align: center;
    }

    &:hover, &:focus {
      background-color: #fff;
      a {
        color: #666;
      }
    }
  }
}
.f-dropdown:after {
  border-color: transparent transparent $accessible-blue;
}

#people-row {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  height: 70px;

  border-bottom: 1px solid #e5e6e7;

  .small-3 {
    padding-left: 12px;
  }

  a.user-name-wrapper {
    line-height: 61px;
    font-size: 15px;
    padding-right: 12px;
    padding-left: 5px;
    color: #6996cc;
  }
}
#people-profile-section {
  #people-header {
    background-color: #344364;
    color: #fff;
    font-size: 16px;
    height: 38px;
    line-height: 38px;

    .user-name {
      padding-left: 12px;
    }
    a.close {

      color: #fff !important;

    }
  }

  #img-wrapper {
    img {
      width: 250px;
      height: 250px;
    }
  }

  .people-common-courses {
    padding: 15px;

    p.tag {
      color: $b-54;
      font-size: 12px;
    }
  }
}

#delete-warning {
  font-size: 14px;
  color: $b-87;
}

span.invite-button-mini {
  display: inline;
  margin-left: 10px;
  background: #82BED7;
  height: 2px;
  color: white;
  padding: 0 5px;
  font-size: 15px;
  border-radius: 1px;
  font-weight: bold;
  cursor: pointer;
}

span.dropdown {
  cursor: pointer;
  column-rule: $accessible-blue;
}

.invite {
  width: 185px;
  .photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .name {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  li a:hover {
    background-color: transparent !important;
  }

  a {
    font-size: 12px;
  }
}

@media (max-width: 655px) {

  .hide-left {
   height: 1px;
   visibility: hidden;
  }

  .question-container {
    margin-right: 0;
    margin-bottom: 0.25em;
  }
  .question-container.selected {
    left: 0;
  }

  #instruction-img-wrapper {
    display: none;
  }

  .search-input-wrapper {
    padding:0;

  }

  // Styling of insert link box in TinyMce

  .mce-widget.mce-label.mce-autoscroll.mce-first.mce-last.mce-abs-layout-item.mce-multiline {
    width: 50% !important;
    height: 100px;
  }


  .mce-widget.mce-btn.mce-primary.mce-abs-layout-item {
    left: 5px !important;
  }

  .mce-widget.mce-btn.mce-last.mce-abs-layout-item {
    left: 70px !important;
  }

  .mce-container[aria-label="Insert link"] {
    width: 95% !important;
    left: 50% !important;
    margin-left: -122px;

    .mce-container, .mce-container-body, .mce-form {
      width: 100% !important;

      .mce-container.mce-first.mce-abs-layout-item.mce-formitem {
        left: 5px !important;

        width: 100% !important;

        label {
          width: 20% !important;
        }

        input.mce-textbox {
          width: 87% !important;
          left: 40% !important;
        }

      }

      .mce-container.mce-first.mce-abs-layout-item.mce-formitem, .mce-container.mce-last.mce-abs-layout-item.mce-formitem {
        left: 5px !important;
      }

      .mce-container.mce-last.mce-abs-layout-item.mce-formitem {
        left: 5px !important;

          label {
            width: 40% !important;
          }

          input.mce-textbox {
            width: 50% !important;
            left: 40% !important;
          }

      }



      .mce-combobox.mce-last.mce-abs-layout-item {
        left: 20% !important;
        width: 80% !important;
      }


    }

    .mce-foot {
      width: 100% !important;

      .mce-btn.mce-primary {
        left: 5px !important;
      }

      .mce-btn.mce-last {
        left: 70px !important;
      }
    }

  }
}

.faux-hide {
  height: 1px !important;
}

.row.list-update {
  border-left: 1px solid #bdbec0;
  border-right: 1px solid #bdbec0;
  box-sizing: border-box;
  font-size: 15px;
  width: 282px;
  padding: 10px;
  background: #fff;
  border-bottom: 3px solid #ccc;
  @media #{$small-only}{
    width: 250px;
  }
}

.votes-wrapper {
  line-height: 30px;
  margin-right: 14px;

  .votes {
    padding-left: 22px;
    margin-right: 0px;
    font-size: 14px;
    line-height: 24px;
  }

  @media #{$small-only}{
    margin-right: 6px;
  }
}

.reveal-modal.share-modal {
  padding: 0px;

  .share-modal-header {
    background-color: #f4f4f4;
    min-height: 72px;
    padding: 17px 50px 17px 25px;
    border-bottom: 1px solid #d2d3d4;

    h3 {
      color: $b-54;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 25px;
    }

    h5 {
      color: $b-54;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .share-modal-footer {
    background-color: #f4f4f4;
    border-top: 1px solid #d2d3d4;
  }

  .close-reveal-modal {
    font-size: 22px;
    top: 12px;
  }

  .form {
    padding-top: 25px;

    form {

    }
  }

  button {
    background-color: $accessible-blue;
    font-size: 14px;
    height: 30px;
    color: #fff;
    padding: 0px 20px 0px 20px;
    border-radius: 4px;
    margin-left: 10px;
  }

  .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  textarea {
    border-radius: 4px;
  }
  a.cancel {
    font-size: 14px;
  }
  ul.no-bullet {
    margin-top: 15px;
    margin-bottom: 25px;

    li {
        margin-left: 0px;
      input {
        display: inline-block;
        margin-right: 5px;
      }

      a {
        display: block;
        font-size: 11px;
      }
    }
  }

}


.play-video {
  position: absolute;
  top: 38%;
  left: 44%;
  z-index: 100;
  cursor: pointer;
  max-width: 100px;
  max-height: 100px;
}

.resource-preview p {
  margin-bottom: 0;
  width: auto;
}

.resource-title, .resource-description {
  margin: 0 0 5px 0;
  @media #{$small-only}{
    font-size: 12px !important;
  }
}

.resource-article {
  border: 1px solid #ccc;
  padding: 15px;
  width: 80%;
  @media #{$small-only}{
    padding:10px;
  }
  .resource-image {
    max-height: 150px;
    display: block;
    margin-right:20px;
    width: auto;
    @media #{$medium-up}{
        float:left;
        width: 130px;
        position: relative;
    }

  }
}

.resource-title {
  font-size: 14px;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: block;
  @media #{$small-only}{
    font-size: 14px;
  }
}

.resource-image {
  width: 100%;
  display: block;
  margin-right: auto;
  @media #{$small-only}{
    max-height: 150px;
    width: auto;
  }
}

.resource-video-holder {
 margin-bottom: 5px;
 cursor: pointer;
}

.resource-meta {
  font-size: 16px;
  margin-bottom: 15px;
  @media #{$small-only}{
    font-size: 14px;
  }

}

.resource-site {
  font-size: 14px;
}

.resource-video {
  width: 80%;
  height: auto;
}

.resource-preview.small {
  padding: 12px;
  .resource-article {
    border: 0;
    padding: 0;
  }
  .resource-image {
    max-height: 60px;
    width: auto;
    margin-bottom: 12px;
    margin-right: auto;
  }
  .resource-description {
    display: none;
    width:100%;
  }
  .resource-site {
    font-size: 14px;
    margin-top: 0;

  }
  .resource-video-holder {
    margin-bottom: 0;
    width:80%;
  }
}


.card-resource-preview {
  height: 130px;

  .resource-video-holder {
    height: 130px;

    img.card-resource-image {
      height: 130px;
      width: 248px;
    }

    img.play-video {
      top: 23%;
      left: 38%;
    }
  }

  .card-resource-article {
    .card-resource-image {
      max-height:110px;
      display: block;

      &.comment-card {
        max-height: 80px;
      }
    }

    .card-resource-title {
      font-size: 12px;
      overflow: hidden;
      max-height: 40px;
      display: inline-block;
    }
  }
}

.no-cards {
  text-align: center;
  color: $b-87;
  padding: 20px;
}

.carousel {
  .card-item {
    width: 100%;
    text-align: center;
  }
  .controls {
    margin-top: 15px;
    a {
      font-weight: bold;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: inline-block;
      width: 60px;
      height: 20px;
      line-height: 20px;
    }
    a.prev {
      background: asset_url('arrow-left-blue.png');
      text-align: right;
      background-size: 9px 20px;
      background-repeat: no-repeat;
      background-position: left;

      &.disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
    a.next {
      background: asset_url('arrow-right-blue.png');
      text-align: left;
      background-size: 9px 20px;
      background-repeat: no-repeat;
      background-position: right;
      &.disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}

.cards-stack {
  display: inline-block;
  position: relative;
  &:hover {
    .prev, .next {
      display: inline-block;
    }
  }
  .card-count {
    height: 290px;
    width: 290px;
    position: absolute;
    left: 0px;
    background: white;
    border: 1px solid #bdbec0;
    border-radius: 5px;
    z-index: -1;
  }
  .rationale {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #222222;
    font-size: 15px;
    z-index: 1;
  }
  .prev, .next {
    display: none;
    position: absolute;
    top: 45%;
    z-index: 1;
    background: white;
    line-height: 20px;
    width: 25px;
    height: 40px;
    border: 1px solid;
  }
  .prev {
    left: -17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    span.button {
      background: url(/assets/arrow-left-blue.png);
      background-size: 9px 20px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 100%;
    }
  }
  .next {
    right: -17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    span.button {
      background: url(/assets/arrow-right-blue.png);
      background-size: 9px 20px;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 100%;
    }
  }
  .card-count-2 {
    left: -3px;
    z-index: -2;
  }
  .card-count-3 {
    left: -6px;
    z-index: -3;
  }
  .card-count-4 {
    left: -9px;
    z-index: -4;
  }
  .card-count-5 {
    left: -12px;
    z-index: -5;
  }
}

.card {
  margin: 6px;
  height: 370px;
  width: 290px;
  border: 1px solid #bdbec0;
  border-radius: 5px;
  display:inline-block;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
  transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  .card-header {
    padding: 5px;
    background: #f5f5f5;
    height: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .card-user-thumbnail {
      height: 35px;
      border-radius: 50%;
    }

    .card-meta {
      height: 35px;
    }

    .username-wrapper {
      font-family: 'Open Sans', sans-serif;
      padding-left: 3px;
      line-height: 25px;
      width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bold;
    }

    .timestamp-wrapper {
      padding-left: 3px;
      font-size: 10px;
      color: $b-54;
      height: 10px;
      line-height: 10px;
    }


    //text-align: right;
    a.card-bookmark {
      background: image_url('ic_action_bookmark_unset.png');
      float: right;
      height: 40px;
      width: 28px;
      background-size: 33px;
      background-repeat: no-repeat;
      margin-top: -7px;
      transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      &.bookmarked {
        background: image_url('ic_action_bookmark_set.png');
        background-size: 33px;
        background-repeat: no-repeat;

      }
    }
    a.bookmarked {
      background: image_url('ic_action_bookmark_set.png');
      float: right;
      height: 40px;
      width: 28px;
      background-size: 33px;
      background-repeat: no-repeat;
      margin-top: -7px;

      transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;

    }
    .card-dismiss {
      background: image_url('close_grey.png');
      float: right;
      height: 12px;
      width: 12px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 10px;
      margin-left: 15px;
      color: #999;
    }
  }
  .card-content {
    padding: 20px;

  }

  .card-action-first {

    .button.tiny {
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      background: #fff;
      border: 1px solid $accessible-blue;
      color: $accessible-blue;
      padding: 0px 20px;
      top:10px;
    }

  }
  .card-footer {
    background-color: #FFFFFF;
    bottom: 0;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    width: 100%;
    border-top: 1px solid #bdbec0;
    .card-user-thumbnail {
      height: 35px;
      margin-top: 7px;
      margin-left: 8px;
    }
    .card-meta {
      line-height: 18px;
      font-size: 14px;
      color: #999;
      margin-top: 6px;
      padding-left: 5px;
    }
    .votes-wrapper {
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 0px;
      margin-right: 0px;
      height: 30px;
      .votes {
        height: 30px;
        line-height: 30px;
        display: inline-block;
      }
    }
    .count.student-answer {
      width: auto;
      padding-top: 0;
      background-position: center;
      line-height: 19px;
      height: 19px;
      text-align: center;
    }
    .card-stats {
      padding-top: 14px;
      .votes-siderail {
        font-size: 10px;
        float: left;
        margin-left: 7px;
        display: block;
        padding:3px 0px 0px 15px;
      }
    }

    .thread-link {
      display: inline-block;
      position: relative;
    }

  }
  .card-action {
    //display: none;
    display: block;
    position: absolute;
    //bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    //border-top: 1px solid #bdbec0;
    //background-color: #efefef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


    
  }
}

.card-question, .card-report, .card-approval {
  .card-content {
    text-align: left;
    text-overflow: ellipsis;
    line-height: 1.6;
    overflow: hidden;
    max-height: 270px;
    height: 270px;

    .card-title {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .card-question-heading, .card-media-heading, .card-answer-heading {
    font-size: 12px;
    font-weight: bold;
  }
  .card-question-heading {
    margin-top: 10px;
    color: #999;
  }
  .card-answer-heading {
    margin-top: 10px;
  }
}


.card-comment {
  .card-content {
    padding: 0 10px;
  }
  .card-comment-heading {
    font-size: 12px;
    color: $b-87;
    text-align: left;
  }
  p.card-comment-question {
    padding: 5px 10px;
    background-color: #bbb;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    max-height: 52px;
    word-wrap: break-word;
  }
  p {
    font-size: 14px;
  }
}


p.card-question-message{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 170px;

  &.comment-card {
    max-height: 130px;
  }

  &.card-type-link {
    height: 40px;
    max-height: 40px;
    font-size: 11px;
    line-height: 1.6;
  }

  &.card-type-video {
    height: 40px;
    max-height: 40px;
    font-size: 11px;
    line-height: 1.6;
  }
}

.card-report, .card-approval {
  .card-content {
    text-align: center;
  }
  .card-comment-heading {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top:25px;
    color: #999;

  }
  p {
    font-size: 14px;
  }
}

.dots {
  margin: 0 25px;
  .dot {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #98b1d0;
    border-radius: 10px;
    margin: 0 5px;
    margin-bottom: 1px;
    &.active {
      background: $accessible-blue;
    }
  }
}

.group-list {
  background: #fff;
  height: 100%;
  width: 280px;
  padding: 16px;

  @media #{$small-only} {
    width: 250px;
    margin: 0px;
  }

    .group-row {
      background: #fbfbfb;
      margin-bottom: 8px;
      padding: 10px;
    }

  .search {
//    background: #ccc;
    padding: 4px;

    h3 {
      color: $b-87;
      font-size: 1.5rem;
    }

    input.search-input {
      margin: 0;
      padding-left: 30px;
      background-image: image_url('search-small-2x.png');
      background-repeat: no-repeat;
      background-position: 8px 10px;
      background-size: 17px;
    }
    button.new {
      padding: 9px 5px;
      height: 100%;
      margin: 0px;
      font-size: 13px;

      &:focus {
        outline: 0px;
        border: 1px solid #fff;
        box-shadow: 2px 2px #999;
      }
    }
  }

  a.action-link {
    padding: 0px 10px;
    font-size: 14px;
  }

  p.group-name {
    margin-bottom: 5px;
    font-size: 16px;
    color: $b-87;
    padding: 0px 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  p.group-info, p.member-count {
    margin-bottom: 0px;
    font-size: 13px;
    color: $b-54;
    padding: 0px 5px;
  }

  .info  {
    h5 {
      color: $b-54;
      font-size: 23px;
    }
    h6 {
      color: $b-54;
      font-weight: 300;
      font-size: 0.875rem;
    }
  }
}

.widget-header-group {
  line-height: 25px;
  height: auto;
  padding: 10px 5px 5px 5px;
}

.group-picker-row {
  &.group {
   i {
     color: $accessible-blue;
     font-size: 18px;
   }
   span {
     color: $accessible-blue;
   }
  }
  .group-picker {
    cursor: pointer;
    padding-left: 3px;
  }

  &:focus {
    outline: 1px solid $accessible-blue;
  }
}

.group-picker-detail-row {
  line-height: 11px;
  .details {
    margin-left: 3px;
    font-size: 12px;
    color: $accessible-blue;
  }
}

.group-list-header {
  font-size: 1.125rem;
  background: #e4e4e4;
  padding: 5px;
  color: $b-87;
}

.group-list-row {
  height: 65px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  .group-name {

  }
  .group-count {
    font-size: 14px;
    color: #999;
    display: inline-block;
    margin-top: 5px;
  }
  &:hover, &:focus {
    background: #DAEDF2;
    outline:0px;
    .details {
       display: block;
    }
  }
  .details {
    display: none;
  }
}

button.radius.tiny {
  font-size: 0.8875rem;
  margin: 0;
  padding: 5px 15px;
  background-color: $accessible-blue;

  &:focus {
    outline: 0px;
    border: 1px solid #fff;
    box-shadow: 2px 2px #999;
  }

}


$text-color: #4faad9;
$font-text-color: $b-54;
.content {
  margin: 0;
  font-size: 17px;
  p {
    line-height: 20px;
    color: $b-54;
  }
}

.resource-preview{
  .resource-description, .resource-site{
    font-size: 12px;
    text-align: left;
  }
}

.box {
  background: white;
  border-radius: 3px;
  border: 1px solid #bbb;
  .box-content {
    padding: 10px;
    @media #{$medium-up} {
      padding: 25px;
    }

    &:focus {
      outline: 0px;
      border: 1px solid $accessible-blue;
    }
  }
}

.form-row {
  padding: 5px;
}

.form-label {
  font-size: 15px;
  color: $b-87;
  padding-top: 3px;
  padding-right: 16px;
  text-align: right;
}

.form-input {
  padding-right: 5px;
}

select {
  color: $font-text-color;
  background-color: transparent;
}

input[type="text"], textarea, select {
  border: 1px solid #bbb;
  border-radius: 5px;
}

.radio-option {
  height: 75px;
  width: 200px;
  border: 1px solid #aaa;
  border-radius: 3px;
  float: left;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  &:hover {
    box-shadow: 0px 0px 4px 2px #ccc;
  }
  .title {
    font-size: 16px;
    padding: 5px 5px 5px 0;
    display: block;
  }
  .description {
    font-size: 12px;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: 20px;
    left: 15px;
  }
}

.group-members {
  background: white;
  .close {
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background-image: image_url('close_grey.png');
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .back-row {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .group-members-header {
    padding: 10px 10px 10px;
    border-bottom: 3px solid #ddd;

    .custom-breadcrumbs {
      .back-button {
        cursor: pointer;
        opacity: 0.7;
      }

      span {
        font-size: 14px;
        color: $b-54;

        &.name {
          color: $accessible-blue;
          cursor: pointer;
          margin-left: 16px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .name {
      font-size: 17px;
    }
    .location {
      font-size: 13px;
      color: $b-54;
    }
    .count {
      font-size: 13px;
      color: $b-54;
      margin-left: 36px;
    }
    .controls {
      line-height: 20px;
      button {
        padding: 5px 8px;
      }
      .menu {
        cursor: pointer;
        margin-left: 9px;
        font-size: 20px;
        color: $accessible-blue;
        display: inline-block;
        top: 2px;
        position: relative;
      }
    }
  }

  .info  {
    h4 {
      color: $b-54;
    }
    h6 {
      color: $b-54;
      font-weight: 300;
      font-size: 0.875rem;
    }
  }

  .group-members-banned-row {
    border-bottom: 3px solid #ddd;
    padding: 7px;
  }
  .group-member-row {
    padding: 5px;
    border-bottom: 1px solid #ddd;

    .info {
      padding-top: 10px;
    }
    .name {
      font-size: 17px;
      display: inline-block;
      padding-bottom: 4px;
    }
    .location {
      font-size: 13px;
      color: $b-54;
    }
    .role {
      font-size: 13px;
      color: $b-54;
    }
    .avatar {
      height: 55px;
      border-radius: 50%;
    }
    .options {
      line-height: 55px;
      padding-right: 5px;
    }
    .menu {
      cursor: pointer;
      display: inline-block;
      height: 15px;
      width: 3px;
      background-image: image_url('vertical-menu.png');
      background-size: 3px 15px;
      background-repeat: no-repeat;
      background-position: center;
      padding: 5px;
    }

    .links-wrapper {
      font-size: 14px;
      color: $b-54;
      padding-top: 20px;
    }

    a.action-link {
      padding: 0px 10px;
      font-size: 14px;
    }
  }
}

button.tiny.cancel {
  background-color: $b-54;
  margin-left: 10px;

  &:focus {
    outline: 0px;
    border: 1px solid #fff;
    box-shadow: 2px 2px #999;
  }
}


.scrollable {
  overflow-y: auto;
  display: block;
  height: 1px;
}

.announcement {
  .header {
    background-color: $accessible-yellow;
  }

}



.announcements-list-title, .questions-list-title {
  margin-left: 5px;
  margin-bottom: 5px;
}

#announcements-list {
  max-height: 220px;
  overflow-y: scroll;

  &.full-list {
    max-height: none;
  }
}

.sort-menu-dropdown {
  a {
    font-size: 13px;
  }

}

hr.announcements-break {
  width: 278px;
  border-color: #999;
  border-width: 2px 0px 0px;
}

.loading-gif {
  text-align: center;

}

.posts-loading-gif {
  text-align: center;
  position: absolute;
  top: 50%;
  left:0;
  width: 100%;
}

.question-form .form-container .post-anon-check, .answer-form .form-container .post-anon-check {
  input[type='checkbox'] {
    position: absolute;
    top: -1000px;
  }

  input[type='checkbox']:checked + label {
    color: $accessible-blue;
  }
  input[type='checkbox'] + label {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0px;
  }

  label {
    margin-left: 0px;

    img  {
      visibility: hidden;
    }
    span {
      margin-left: 5px;
    }
  }

  label[for="anon-checkbox"] {
    background-image: image_url('anonymous-new.png');
  }

  label[for="announcement-checkbox"] {
    background-image: image_url('announcement.png');
  }

  label[for="pinned-checkbox"] {
    background-image: image_url('pin_icon.png');
  }

  input#anon-checkbox:checked + label[for="anon-checkbox"] {
    background-image: image_url('anonymous_icon_selected.png');
  }

  input#announcement-checkbox:checked + label[for="announcement-checkbox"] {
    background-image: image_url('announcement_icon_selected.png');
  }

  input#pinned-checkbox:checked + label[for="pinned-checkbox"] {
    background-image: image_url('pin_icon_selected.png');
  }

  @media #{$small-only} {
    width: 250px;
    margin: 0px;
  }
}


.resource-inline-image {
  padding: 15px;
  width: 80%;
  @media #{$small-only}{
    padding:10px;
  }
  .resource-image {
    display: block;
    margin-right:20px;
    width: auto;
    @media #{$medium-up}{
      float:left;
      position: relative;
    }
    @media #{$small-only}{
      max-height: 100px;
    }

  }
}

.profile-container {
  padding: 16px;
  background:white;

  @media #{$small-only} {
    padding: 12px;
  }

  .img-wrapper, .profile-header {
    display: inline-block;
  }

  img.profile-pic {
    width: 66px;
    height: 66px;
    border-radius: 50%;

  }

  .user-name p{
    font-size: 18px;
    color: $b-54;
    margin-bottom: 5px;
  }

  .score-element {
    display: inline-block;
    margin-right: 10px;

    img {
      margin-right: 5px;
      margin-top: -4px;

      &.thumb {
        height: 18px;
      }

      &.star {
        height: 22px;
      }
    }
    span {
      font-size: 14px;
      color: $b-54;
    }
  }

  .close-wrapper {
    img {
      height: 12px;
      width: 12px;
    }

  }

  .accounts-wrapper {
    padding: 10px;

    fieldset {
      border: 0px;
      padding: 0px;
      margin: 0px;

      legend {
        display: none;
      }
    }

    @media #{$small-only} {
      padding: 3px;
    }

    input, label {
      display: inline;
      margin-bottom:0px;
    }
  }
  .profile-headings{
    background-color: #e4e4e4;
    padding: 5px;
    margin-top: 10px;
    color: $b-87;
    font-size: rem-calc(18);
  }

  h6 {
    color: $b-54;
    font-size: 0.875rem;
    font-weight: 300;
  }

  ul.social-list {
    li {
      img, a, span {
        display: inline-block;
      }

      a.connect {
        font-size: 0.875rem;
      }
    }

    span.connected {
      color: $b-54;
    }
  }

  img.fb-icon {
    background-color: #3b5998;
//    padding: 5px 12px;
    border-radius: 4px;
    margin-right: 5px;
    width: 20px;
    height: 20px;

    @media #{$small-only} {
//      padding: 0px 5px;
      margin-bottom: 5px;
    }
  }

  img.linkedin-icon {
    background-color: #007bb6;
//    padding: 5px 12px;
    border-radius: 4px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    @media #{$small-only} {
//      padding: 0px 5px;

    }
  }

  .note {
    font-size: 14px;
    color: $b-54;
  }

  .preference-title {
    color: $b-87;
    text-decoration: underline;
    @media #{$small-only} {
      font-size: rem-calc(16);
    }

  }

  &:focus {
    outline: 0px;
    border: 1px solid $accessible-blue;
  }
}

.user-profile{
  span.tooltip{
    font-size: rem-calc(12);
  }
  .profile-link {
    @media #{$small-only} {
      display: inline;
    }
  }

}

.pinned {
  background-size: 17px 17px;
  background-image: image_url('pinned_icon.png');
  background-repeat: no-repeat;
  background-position: 100% 59%;
}

.selected .pinned {
  background-image: image_url('pinned_icon_white.png');
}

.pinnable {
  background-image: image_url('pin_icon.png');
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-size: 20px;
  cursor: pointer;
  width: 90px;
  text-align: center;
  .edit-post {
    display: inline-block;
  }
}

.unpinnable {
  background-image: image_url('pinned_icon.png');
  background-repeat: no-repeat;
  background-position: 7% 50%;
  background-size: 17px;
  cursor: pointer;
  width: 90px;
  text-align: center;
  .edit-post {
    display: inline-block;
  }
}
.content {
  .close-wrapper.user-profile.right{
    display: none;
  }
}

.ns-popover-tooltip-theme .ns-popover-tooltip {
  padding: 0.5625rem;
}

.file-button-container {
  background: transparent url('attach-image.png') left top no-repeat;
  background-size: 16px;
  background-position: 0px;


  label {
    padding-left:20px;
  }
}

.file-button-container input {
  display: none;
}



.vertical_divider:after {
  background-color: #dddddd;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  left: 100%;
  height: 26px;

}



.attach-box {
  width: 15%;
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.post-anon-box {
  width: 30%;
  padding: 0px 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
}

.share-box {
  width: 30%;
  padding: 0px 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;


  .share-inline-wrapper {
    font-size: 0.875rem;
    text-align: center;
  }

}

.action-box {
  width: 25%;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

@media only screen and (max-width: 1192px) {
  .vertical_divider.last:after {
    display: none;
  }

  .attach-box {
    width: 20%;
  }

  .action-box {
    width: 100%;
    text-align: right;
  }

  .post-anon-box {
    width: 40%;
  }

  .share-box {
    width: 40%;
    text-align: center;

    .share-inline-wrapper {
      text-align: center;
    }
  }

  .avatar-wrapper {
    width: 70px;
  }

  .avatar-wrapper-invite {
    width: 60px;
  }
}

@media only screen and (max-width: 970px) {
  .post-anon-box.vertical_divider:after {
    display: none;
  }
  .attach-box {
    width: 30%;
  }
  .post-anon-box {
    width: 60%;
  }
  .share-box {
    margin-top: 15px;
    width: 100%;
    text-align: left;
    padding: 0px;

    .share-inline-wrapper {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 945px) {

  .edcast-landing .tabs dd > a {
    padding: 0px;
  }
  .jcarousel, .bookmarked-cards-jcarousel {
    height: 100%;
    width: 100%;
  }
  .card-wrapper {
    display: inline-block;
    width: 100%;
  }
  .card {
    margin: 0px auto;
    display: block;
  }

  .jcarousel ul, .bookmarked-cards-jcarousel ul {
//    width: 100%;
  }

  .jcarousel-control-prev, .jcarousel-control-next {

  }
}

@media #{$small-only} {
  .attach-box, .share-box, .action-box, .post-anon-box {
    width: 100%;
    text-align: left !important;
    padding:0px 5px;
  }
  .action-box {
    padding-right: 5px;
  }

  .attach-box.vertical_divider:after {
    display: none;
  }

  .edit-attach-box {
    margin:0px 5px !important;
  }
}


.new-group-input {
  @media #{$small-only} {
    padding-top: 10px;
  }
}

p.jcarousel-pagination, p.jcarousel-pagination-bookmark {
  a {
    background-color: #98b1d0;
    color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 5px;
    display: inline-block;
    font-size: 12px;
    padding-top: 1px;
    padding-left: 1px;

    &.active {

      background-color: $accessible-blue;
      color: #fff;
    }

  }
}

.mobile-post-indicator {
  background: image_url('mobile_post.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 20px;
}

#searchTermInput {
  max-width: 280px;
  margin-left: 42px;
  background-image: image_url('search-small-2x.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  padding-left: 35px;

}

.edcast-post-image-link  {
  margin-top: 5px;
}

@media only screen and (max-width: 985px) {
  .edcast-landing .tabs dd > a {
    padding: 0px 10px;
  }
}

.search-focused {
  box-shadow: 4px 4px 2px #999;
}

.upload-text {
  text-overflow: ellipsis;
  font-size: 11px;
  position: relative;
  line-height: 20px;
  @media #{$medium-up} {
    left: -5%
  }
}

.upload-wrapper {
  height: 20px;
  max-height: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cancel-upload {
  background-image: image_url('cancel-icon-file.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.row.row.carousel-row {
  max-width: 690px;
  margin: 0px auto;
}
