//Welcome Page
.right{
  float: right;

}

.img-bg {
  background-color: #cfd1d4;
}
.row-max-100 {
  max-width: 100% !important;
}

#landing-img-wrapper {
  width: 100%;
  height: 500px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin:0px auto;
  background-position: center;
  #image-top-div1 {

    width:450px;
    min-height: 80px;
    padding: 20px 34px 20px 34px;
    background-color: rgba(255,255,255,0.9);
    margin-top: 135px;
    color: #414042;
    margin-right:auto;
    margin-left: auto;
    .title {
      font-size: 44px;
    }
    .tag-line {
      font-size: 28px;
    }

  }



  #image-top-div {

    width:512px;
    min-height: 80px;
    padding: 20px 34px 20px 34px;
    background-color: rgba(255,255,255,0.9);
    margin-top: 135px;
    color: #414042;
    margin-right:auto;
    margin-left: 50px;
  }
  table.beta-registration-table {
    background-color: transparent;
    height:500px;
    width: 100%;
    border: 0px;
  }
  #beta-registration-right-div {
    width:425px;
    min-height: 80px;
    padding: 20px 34px 20px 34px;
    background-color: rgba(255,255,255,0.9);
    color: #414042;
    margin-right:50px;
    margin-left: auto;
  }
  .title{
    font-size: 48px;
    margin-right: 5px;
    line-height: 1.1;
  }

  .tag-line {
    padding-top: 20px;
    font-size: 22px;
    margin-right: 5px;
  }

    p.disc {
      font-size: 16px;
    }
}

#banner-img-wrapper {
  width: 100%;
  min-height: 250px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin:0px auto;
  background-position: center;
  #image-top-div {
    width:375px;
    min-height: 80px;
    padding: 20px 34px 20px 34px;
    background-color: rgba(255,255,255,0.9);
    margin-top: 60px;
    color: #414042;
    margin-right:auto;
    margin-left: 50px;
  }
  #home-image-top-div {
    width:475px;
    min-height: 80px;
    padding: 20px 34px 20px 34px;
    background-color: rgba(255,255,255,0.9);
    margin-top: 6px;
    color: #414042;
    margin-right:auto;
    margin-left: 50px;
  }
  #eduhome-image-top-div {
    width:625px;
    min-height: 80px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255,255,255,0.9);
    margin-top: 105px;
    color: #414042;
    margin-right:auto;
    margin-left: 10px;
  }
  .title{
    font-size: 48px;
    margin-right: 5px;
    line-height: 1.1;
  }

  .educators-tag-line {
    padding-top: 20px;
    font-size: 22px;
    margin-right: 5px;
    text-align: center;
  }
  #edu-signup-div {
    margin-top: 100px;
    margin-left: auto !important;
    width: 180px;
    a.edu-signup-div {
      background-color: #008cba;
      padding: 10px 30px 10px 30px;
      color: white;
      font-size: 28px;
      border-radius: 3px;

    }
  }
  #edupublish-image-top-div {
    text-align: center;
    width:310px;
    min-height: 80px;
    padding: 30px 30px 30px 30px;
    background-color: rgba(255,255,255,0.9);
    margin-top: 125px;
    color: #414042;
    margin-right:auto;
    margin-left: 20px;
  }
}

.content {
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}
.thank-you {
  font-size: 20px;
  line-height: 1.2;
}
#banner-image {
  height: 250px;
  width: 100%;
}

.heading {
  font-size: 48px;
  text-align: center;
  line-height: 1.1;
}

.blue-box {
  margin-top: 10px;
  background-color: #008cba;
}

.box-text {
  padding: 25px;
  font-size: 24px;
  line-height: 1.4;
  color: #FFFFFF;
  font-weight: $bold;
}

.text-underline {
  text-decoration: underline;
}

.wrapper {
  padding-bottom: 60px;
}

.openedxlogo {
  height: 16px;
  vertical-align: inherit !important;
}

.edcast-align {
  text-align: center;
}


@media only screen and (max-width: 1082px) {
  #landing-img-wrapper{
    .title {
      font-size: 24px;
    }
    .tag-line {
      font-size: 16px;
    }
  }

  .left-container1 {
    height: 130px;
    padding: 0px;
  }

  .left-container {
    width: 100%;
    height: 130px;
    padding: 0px;
  }

  .right-container {
    width: 100%;
    padding: 0px;
    h3 {
      font-size: 18px;
    }
  }

  #landing-img-wrapper {
  height: 580px;
  }


  #landing-img-wrapper #image-top-div {
    width:400px;
    margin: 5px auto;
  }



  #landing-img-wrapper #beta-registration-right-div {
    width: 400px;
    margin:5px auto;
  }

  #landing-img-wrapper table.beta-registration-table {
    height: 410px;
    td {
      padding: 0px;
    }
  }



}
@media only screen and (max-width: 850px) {
  #landing-img-wrapper {
    .left-container {
      width: 100%;
    }

    .right-container {
      width: 100%;

      .beta-registration-table td[valign="middle"]{
        margin: 0px auto;
        display: block;
      }
    }

  }
}

@media only screen and (max-width: 500px) {
  #banner-img-wrapper #home-image-top-div {
    width: 325px;
    min-height: 46px;
    padding: 10px 17px 10px 17px;
    margin: 68px 30px;

  }

  #banner-img-wrapper .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  #landing-img-wrapper #image-top-div {
    width: 300px;
  }

  #landing-img-wrapper #beta-registration-right-div {
    width: 300px;
  }

}


.edcast-heading {
  font-size: 34px;
}

.cards {
  margin: 0 auto;
  width:300px;
  height:300px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  border-color: #ACACAC;
  //border-style: solid;
  //margin-left: 15px;
  //border-width: 1px;
}

.edu-content {
  font-size: 32px;
  vertical-align: bottom;
  text-align: center;
  display: inline;
  font-style: italic;
}

.edu {
  font-size: 24px;
  text-align: center;
  padding-bottom: 2px;
}

.educators {
  font-size: 40px;
  font-weight: bold;
  display: inline;
  vertical-align: bottom;

}

.edu-button {
  margin-top: 10px;
  text-align: center;
  background-color: #008cba;
  padding: 10px 25px 10px 25px;
  color: white !important;
  font-size: 18px !important ;
  border-radius: 3px;
}

.serial {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
  text-align: center;
  color: #7b0b29;
  font-size: 24px;
  line-height:30px;
  top: 0px;
  left: 30px;
  position: relative;
  font-weight: bold;
}

.box-background {
  background-color: #f5f5f5;
  max-width: 1000px;
}

.arrow-right1 {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #cccaca;
  position: absolute;
  margin-top: 123px;
  right:-10px;
  top:0;
}

.edu-heading {
  font-size: 36px;
  padding-top: 30px;
  padding-bottom: 8px;
}
.edu-heading1 {
  font-size: 36px;
  padding-top: 20px;

}

.spacing {
  padding: 0;
}

.edcastbox {
  display:block;
  padding-bottom:5px;
}

.edu-kp {
  font-size: 22px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 960px) {
  .edu {
    font-size: 19px;
    padding-bottom: 10px;
  }
  .edu-heading {
    font-size: 30px;
  }
  .edu-heading1 {
    font-size: 30px;
  }

  .edu-kp {
    font-size: 17px;
    padding-bottom: 8px;
  }
  .arrow-right1 {
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #cccaca;
    margin-top: 100px;
  }
  hr {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .cards {
    width: 245px;
    height: 245px;
  }

  .educators {
    font-size: 32;
  }
  .edu-button {
    font-size: 16px !important;
    position: relative;
  }
  .wrapper {
    padding-bottom: 250px !important;
  }
  .right-container1 {
    width: 100%;
    padding: 0px;
  }
  #banner-img-wrapper .title {
    font-size: 32px;
  }
  #banner-img-wrapper #eduhome-image-top-div {
    margin: 5px auto;
  }

  #banner-img-wrapper #edupublish-image-top-div {
    margin: 5px auto !important;
  }

  #edu-signup-div {
    margin: 50px auto;
  }
  .edcastbox img {
    height:30px !important;
  }
}


@media only screen and (max-width: 805px) {
  .cards {
    width: 200px;
    height: 200px;
  }
  .serial {
    left: 20px;
  }
  .spacing {
    display: block;
  }
  .edu {
    font-size: 16px;
  }

  .edu-kp {
    font-size: 14px;
    padding-bottom: 6px;
  }

  .edu-heading {
    font-size: 28px;
    padding-top: 18px;
  }
  .educators {
    font-size: 24px;
  }
  .edcastlogo {
    height: 32px;
  }
  .edu-content {
    font-size:24px;
  }
  .educators {
    font-size: 28px;
  }
  .arrow-right1 {
    margin-top: 76px;
  }

  hr {
    margin-bottom: 8px !important;
    margin-top: 6px !important;
  }

  .edu-button {
    font-size: 16px !important;
    padding: 5px 5px 5px 5px !important;
  }
  .wrapper {
    padding-bottom: 120px !important;
  }

  #banner-img-wrapper .title {
    font-size: 30px;
  }
  #banner-img-wrapper #eduhome-image-top-div {
    width: 440px;
  }

  .edcastbox img {
    height:30px !important;
  }
}


@media only screen and (max-width: 640px) {
  .spacing {
    padding-top: 25px;
  }
  .arrow-right1 {
    display: none;
  }
  .cards {
    width:300px;
    height: 300px;
  }
  .edu {
    font-size: 24px;
  }
  .edu-kp {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .edu-button {
    font-size: 18px !important;
    padding: 10px 25px 10px 25px !important;
  }
  .edu-heading {
    padding-top: 30px;
    font-size: 36px;
  }
  hr {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }
  #banner-img-wrapper .title {
    font-size: 29px;
  }
  #banner-img-wrapper #eduhome-image-top-div {
    width: 300px;
  }

  #landing-img-wrapper {
    #image-top-div1 {
      width:300px;
      .title {
        font-size: 28px;
      }
      .tag-line {
        font-size: 18px;
      }
    }
  }
}

