- if @error
  .row
    .error-container
      .small-12.columns.text-center
        .small-text.bold style='font-size: 12px;'
          = image_tag 'error_icon.png'
          |&nbsp;We couldn't find your team.&nbsp; If you can't remember your team's address,&nbsp;
          = link_to 'we can send you a reminder', find_organization_path
.row
  .signin-team-container style='margin-top: 10px;'
    .small-12.medium-8.columns.inside-container.signin-block
      .title.bold.edc-pink
        |Sign in
      .small-text
        |Enter your team's domain
      = form_for Organization.new, url: switch_organization_path do |f|
        = f.text_field :host_name, placeholder: 'teamdomain', required: true, autofocus: true, :style => 'display: inline-block; border-radius: 20px; height: 30px; width: 180px; padding: 0px 10px; text-align: center;', :id => 'organization-input', 'aria-label' => 'Enter your team domain'
        strong .edcast.com
        br
        = f.submit 'Continue', :class => 'button hollow pink success',:style => 'width: 180px; border-radius: 20px; height: 30px; line-height: 0;', 'aria-label' => 'Click here to continue'
      p
        | Don't remember your team's domain?&nbsp;
        = link_to 'Find your team', find_organization_path
    .small-12.medium-4.columns.inside-container.second-half-image style='float: left;'
      = image_tag 'organization_sign_in.png'
