.row
  .signin-team-container
    .small-12.medium-8.columns.inside-container.notification-block
      .title.bold.edc-pink
        |Reminder sent!
      .small-text
        |If we found an EdCast account associated with #{@email}, you will receive an email from us shortly.
      br
      .small-text
        |Having trouble finding your team?
      .small-text
        |You can try another email address or contact&nbsp;
        a href="mailto:feedback@edcast.com" feedback@edcast.com
    .small-12.medium-4.columns.inside-container.second-half-image style='float: left; width: 200px;'
      = image_tag 'organization_reminder.png'