.row
  .signin-team-container
    .small-12.medium-8.columns.inside-container.signin-block
      .title.bold.edc-pink
        |Find your team
      .small-text
      = form_for User.new, url: find_organization_path, html: {id: 'find-organization-form', 'data-abide': true} do |f|
        = f.email_field :email, placeholder: 'Enter your email address', required: true, autofocus: true, :style =>'border-radius: 20px; height: 35px; width: 310px; margin-bottom: 10px;', 'aria-label' => 'Enter email address'
        small.error Please enter a valid email address
        = f.button 'Look up', :class => 'button hollow pink', :style =>'border-radius: 20px; height: 35px; line-height: 1px;'
    .small-12.medium-4.columns.inside-container.second-half.second-half-image
      = image_tag 'find_team.png'
    .row
      .small-12.columns.small-text.text-container.text-center
        | We'll send you an email with sign-in links for any EdCast teams associated with the email address you entered here.

