- org_ssos = @current_org.available_ssos
= render 'common/default_meta_tags'
/= render 'common/home_banner'

.co-brand-login
  .row
    .small-8.small-centered.medium-8.medium-centered.large-5.large-centered.columns
      .login-brand-images
        -if @current_org.mobile_image.present?
          img.team-image src="#{@current_org.mobile_image}"
          br
        -if @current_org.co_branding_logo.present? && @current_org.show_sub_brand_on_login
          img.subbrand-image src="#{@current_org.co_branding_logo}"
        .pitch = home_page_pitch
        = render partial: 'login_form'
        .text-center.app-store
          | <br/>
          a.app-store target="_blank" href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&ct=KKWebsiteLink&mt=8"
            img src="/assets/app_store_icon.png" height="40" width="135"
          a.play-store target="_blank" href="https://play.google.com/store/apps/details?id=com.edcast" style="margin-left: 1rem;"
            img src="/assets/play_store_icon.png" height="40" width="135"

- content_for :js do
  javascript:
    $(function () {
      // device detection
      // For IE11+ need to skip code since it returns both ios and android.
      if ((/IE/).test(navigator.userAgent)) {
      } else if ((/iPhone|iPod|iPad/).test(navigator.userAgent)) {
        $('a.play-store').hide();
      } else if ((/Android/).test(navigator.userAgent)) {
        $('a.app-store').hide();
      }

    });