.row data-front=""
  .signin-team-container
    .small-12.medium-7.columns.text-center.inside-container.first-half.solid-wall
      .title
        |EdCast for 
        .bold
          |TEAMS
      .small-text
        |Your team already uses EdCast? Sign in here to start learning
      a.button.hollow.pink.button-styling href="#{choose_organization_path}" Sign In to your team
      br
      div
        .small-text.bold
          |Don't remember your team name?&nbsp;
          a href="#{find_organization_path}" find your team
    .small-12.medium-4.columns.text-center.inside-container.second-half.left
      .title
        |EdCast for 
        .bold
          |ME
      .small-text    
        |Sign in with
      ul.small-block-grid-1.social-list
        li
          a.social-button.round-social-button.auth-button.fb-signup-link href="#{social_connect_url('facebook')}"
            |Facebook
        li
          a.social-button.round-social-button.auth-button.google-signup-link href="#{social_connect_url('google')}"Google
        li
          a.social-button.round-social-button.auth-button.linkedin-signup-link href="#{social_connect_url('linkedin')}"LinkedIn
        li
          a.social-button.round-social-button.auth-button.email-signup-link data-toggle-email-form="" style='background-position: 16px; background-size: 20px 14px;' href="#"Email
.row.hide data-back=""
  .small-12.columns
    .row
      .signin-team-container
        .small-12.medium-5.columns.inside-container.signin-block.solid-wall style='width: 265px;'
          .title.bold.edc-pink style='margin-bottom: 10px;'
            |Log In
          = form_for @user || User.new, url: user_session_path, html: {id: 'login-form', class: 'login-form-page', 'data-abide': true}, remote: true do |f|
            .row
              .small-12.columns.small-centered
                = f.email_field :email, placeholder: 'Your email', required: true, autofocus: true, :id => 'email-input', 'aria-label' => 'Enter email id', class: 'auth-input', :style=> ' width: 200px; border-radius: 20px;height: 35px;margin-bottom: 5px;'
                small.error style='height: 25px; margin-bottom: 5px;' Enter a valid email address
            .row data-password-row=""
              .small-12.columns.small-centered
                = f.password_field :password, placeholder: 'Password', required: true, 'aria-label' => 'Enter password', class: 'auth-input', :style=> ' width: 200px; border-radius: 20px;height: 35px;margin-bottom: 5px;'
                small.error style='height: 25px; margin-bottom: 5px;' Invalid username or password.

            .row
              .small-12.columns.small-centered
                = f.submit 'Log In', :class => 'button hollow pink success expand', :style=>'width: 200px;border-radius: 20px;height: 35px;margin-bottom: 5px;margin-top: 0px;line-height: 0px;',
                 'aria-label' => 'Click here to login'
            .row
              .small-12.columns.small-centered.text-center
                = link_to 'Forgot Password?', new_user_password_path, class: 'button transparent expand', :style=>'width: 200px; margin-right: 30px; margin-bottom: 0;'
                = link_to 'Didn\'t receive confirmation instructions?', new_confirmation_path(:user), class: 'button transparent expand', :style=>'width: 200px; margin-right: 30px;'
        .small-12.medium-7.columns.text-center.inside-container.second-half style='width: 235px;margin-right: 55px;'
          .title
            |New to 
            .bold
              |EdCast?
          .small-text.bold.edc-pink
            |Sign Up With Email
          = simple_form_for(User.new, :as => :user, :url => user_registration_path, remote: true, :html => { class: "page-signup-form", 'data-abide': true}) do |f|
            .row
              .small-12.columns.small-centered.signup-error

                = f.email_field :email, label: false, required: true, placeholder: 'Your email', class: 'auth-input', inline_label: true, :style=> ' width: 200px; border-radius: 20px;height: 35px;margin-bottom: 5px;'
                small.error style='height: 25px; margin-bottom: 5px;' Check the email you've entered to make sure it's valid
            .row
              .small-12.columns.small-centered.text-center
                = f.submit "Get Started", id: 'user_email_submit', class: 'button hollow pink success', :style=> ' width: 200px; border-radius: 20px;height: 35px;margin-bottom: 5px;'
        .row
          .small-12.text-right 
            a.button.radius.transparent data-toggle-email-form="" style='margin-right:20px;' Back

- content_for :js
  javascript:
    $(function() {
      $('form.login-form-page').on('ajax:error', function(evt, data, status, xhr) {
        $('[data-password-row]').addClass('error');
      });
    });

    $(function() {
      $('form.page-signup-form').on('ajax:success', function(evt, data, status, xhr) {
        window.location.href = "#{proceed_confirmation_path}";
      });
    });

    $(function(){
      $('a[data-toggle-email-form]').click(function(e){
        e.preventDefault();
        $('[data-front]').toggle();
        $('[data-back]').toggle();
      });
    });
