.alert-box.radius#col-alert aria-live="assertive" data-alert="" role="alertdialog" tabindex="0"  style="margin: 0 auto; position: fixed; left: 0; right: 0; margin-left: auto; margin-right: auto; max-width: 550px; z-index: 1001; display:none;"

= simple_form_for organization, html: { multipart: true, 'data-abide' => true } do |f|
  .box.manage-channels
    .box
      .row
        .small-12.columns
          .section-header style="margin-top: 0rem;"
            .section-title
              = "#{organization.new_record? ? 'Create a Team' : '' }"

      .row
        .small-12.columns
          .channel-form-container
            .row
              .small-12.columns
                = f.label :name, 'Name', class: 'bold'
              .small-12.columns
                = f.input :name, label: false, :input_html => {maxlength: '50', required: true, :data => {:limiter => 50, :tag => '.org-name-character-counter', :submit => ".organization-submit"} }
                .org-name-character-counter.character-counter
                span.small-font.faint-post-label
                  | / 50 Characters Remaining

            - if organization.new_record?
              .row
                .small-12.columns
                  = f.label :host_name, 'Host Name', class: 'bold'
                .small-12.columns
                  = f.input :host_name, label: false, :input_html => {maxlength: '30',  required: true, :data => {:limiter => 30, :tag => '.org-domain-character-counter', :submit => ".organization-submit"} }

                .small-12.columns
                  p.small-font.indicator style="display: inline-block; vertical-align: middle;"
                  .host-counter-wrapper style="display: inline-block; vertical-align: middle;"
                    .org-domain-character-counter.character-counter
                    span.small-font.faint-post-label
                      | / 30 Characters Remaining

            .row
              .small-12.columns
                = f.label :description, 'Description', class: 'bold'
              .small-12.columns
                = f.input :description, label: false, input_html: {maxlength: '1000',  required: true, :data => {:limiter => 1000, :tag => '.org-dsc-character-counter', :submit => ".organization-submit"}}
                .org-dsc-character-counter.character-counter
                span.small-font.faint-post-label
                  | / 1000 Characters Remaining

            .row
              .small-12.columns
                label.bold
                  | Upload a Banner Image
                .small-font Recommended Size: 1440px x 300px
              .small-12.columns
                .img-wrapper
                  .file-upload.image_container#banner-dropzone
                    .img_ctrl#banner-upload style="max-width: 200px; margin: 60px auto;" class=((organization.photo.present? && !organization.new_record?) ? 'hide' : '')
                      div.img_btn.text-center

                        = f.input :image, as: :file, label: false, input_html: { class: 'file-input', accept: "image/png, image/jpeg, image/jpg, image/pjpeg, image/x-png, image/gif, image/tiff" }
                        i.fi-camera
                        span.upload_text Upload Photo
                    .img-wrapper.preview_div  class=((organization.photo.present? && !organization.new_record?) ? '' : 'hide')
                      = image_tag asset_path(organization.photo), id: 'organization-image', style: 'width: 450px; height: 150px;'
                      i.fi-x-circle.remove_image.cancel-image data-input-name="organization[image]"


            .row
              br
              .small-12.columns
                label.bold
                  | Upload a Team Image
                .small-font Recommended Size: 120px x 120px
              .small-12.columns
                .img-wrapper
                  .file-upload.image_container#mobile-dropzone
                    .img_ctrl#profile-image-upload style="max-width: 200px; margin: 60px auto;" class=(organization.mobile_photo.present? ? 'hide' : '')
                      div.img_btn.text-center

                        = f.input :mobile_image, as: :file, label: false, input_html: { class: 'file-input', accept: "image/png, image/jpeg, image/jpg, image/pjpeg, image/x-png, image/gif, image/tiff" }
                        i.fi-camera
                        span.upload_text Upload Photo
                    .img-wrapper.preview_div class=(organization.mobile_photo.present? ? '' : 'hide')
                      = image_tag asset_path(organization.mobile_photo), id: 'organization-mobile-image', class: 'profile-circle'
                      i.fi-x-circle.remove_image data-input-name="organization[mobile_image]" style="right: inherit;"

            .row
              br
              .small-12.columns
                label.bold
                  | Upload a Sub Brand Image
                .small-font Recommended Size: 300px x 90 px
              .small-12.columns
                .img-wrapper
                  .file-upload.image_container#co-branding-logo-dropzone
                    .img_ctrl#co-branding-logo-upload style="max-width: 200px; margin: 60px auto;" class=(organization.co_branding_logo.present? ? 'hide' : '')
                      div.img_btn.text-center

                        = f.input :co_branding_logo, as: :file, label: false, input_html: { class: 'file-input', accept: "image/png, image/jpeg, image/jpg, image/pjpeg, image/x-png, image/gif, image/tiff" }
                        i.fi-camera
                        span.upload_text Upload Photo
                    .img-wrapper.preview_div class=(organization.co_branding_logo.present? ? '' : 'hide')
                      = image_tag asset_path(organization.co_branding_logo), id: 'organization-co-branding-logo', style: 'width: 300px; height: 90px;'
                      i.fi-x-circle.remove_image data-input-name="organization[co_branding_logo]" style="right: inherit;"


            br
            .row
              .small-12.columns
                label.bold
                  | Require authentication to access content ?
                .clearfix
                  .left style="margin-right: 1rem; padding-top: 0.5rem;"
                    = check_box_tag('organization[is_closed]', "false", !organization.is_open)
                  .left style="max-width: 90%;"
                    label for="organization_is_closed" Only authenticated users will be able to access content posted in your team

            br
            .row
              .small-12.columns
                label.bold
                  | Allow anyone to sign up for an account?
                .clearfix
                  .left style="margin-right: 1rem; padding-top: 0.5rem;"
                    = hidden_field_tag('organization[is_registrable]', "false")
                    = check_box_tag('organization[is_registrable]', "true", organization.is_registrable)
                  .left style="max-width: 90%;"
                    label for="organization_is_registrable" Allow new users to register. Uncheck this if you want your team to be invite only

      br
      br
        .row
          .small-12.columns
            - cancel_path = organization.new_record? ? request.base_url : organization.home_page
            = link_to 'Cancel', cancel_path , class: 'right button radius transparent'
            = f.button :submit, 'Save', class: 'right button success radius organization-submit',data: {disable_with: 'Saving...'}

      br
      br

-content_for :js do
  javascript:
    // someone make this a jQuery plugin please?
    function uploadImage(opts) {
          var image = opts.image;
          var input = opts.input;
          var formData = opts.formData;
          var dropZone = opts.dropzone
          var url = opts.url;
          var name = opts.name;
          var inputDiv = opts.inputDiv;

          input.fileupload({
            url: url,
            formData: formData,
            paramName: 'file',
            dataType: 'XML',
            dropZone: dropZone,
            add: function (e, data) {
              formData["Content-Type"] = data.files[0].type;
              data.formData = formData;
              data.submit();
            },
            start: function (e) {
              inputDiv.addClass('hide');
              image.attr('src', #{image_path('loader.gif').to_json.html_safe});
              image.parent().removeClass('hide');
            },
            done: function (e, data) {
              var location = $(data.jqXHR.responseXML).find("Location").text();
              image.attr('src', location);
              var newInput = $("<input />", {type: 'hidden', name: name, value: location})
              data.form.append(newInput);
            }
          });

        };

    uploadImage({
      name: 'organization[image]',
      input: $('#organization_image'),
      image: $('#organization-image'),
      dropzone: $('#banner-dropzone'),
      formData: #{@image_upload.fields.to_json.html_safe},
      url: '#{@image_upload.url}',
      inputDiv: $('#banner-upload')
    });

    uploadImage({
      name: 'organization[mobile_image]',
      input: $('#organization_mobile_image'),
      image: $('#organization-mobile-image'),
      dropzone: $('#mobile-dropzone'),
      formData: #{@image_upload.fields.to_json.html_safe},
      url: '#{@image_upload.url}',
      inputDiv: $('#profile-image-upload')
    });

    uploadImage({
      name: 'organization[co_branding_logo]',
      input: $('#organization_co_branding_logo'),
      image: $('#organization-co-branding-logo'),
      dropzone: $('#co-branding-logo-dropzone'),
      formData: #{@image_upload.fields.to_json.html_safe},
      url: '#{@image_upload.url}',
      inputDiv: $('#co-branding-logo-upload')
    });

    $(".remove_image").click(function () {
          $(this).closest(".preview_div").addClass('hide');
          $(this).closest(".preview_div").attr('src', "");
          $(this).parent().siblings(".img_ctrl").removeClass('hide');
          var inputName = $(this).attr('data-input-name');
          var newInput = $("<input />", {type: 'hidden', name: inputName, value: ""});
          $('form.edit_organization').append(newInput);
        });

    var host_name_elem = $('#organization_host_name');
    var indicator_elem   = $('.manage-channels .indicator');
    host_name_elem.keyup(function() {
      if (this.value.replace(' ', '').length){
        validateHostName();
      }
    });
    function validateHostName() {
      $.ajax({
        url:      '#{org_host_name_check_path}',
        dataType: 'JSON',
        method:   'GET',
        data:     { host_name: host_name_elem.val().trim() },
        error: function(jqXHR, textStatus, errorThrown) {
          var errorText = 'This host name is not available. Try another one.';
          if(errorThrown == "Not Acceptable")
              errorText = "This host name is either invalid or reserved. Remember not to use special characters."
          $(".manage-channels input[type='submit']").attr('disabled', 'disabled');
          indicator_elem.removeClass('avail_text').addClass('erroneous_text').text(errorText);
          $('.host-counter-wrapper').addClass('right');
        },
        success: function(data, textStatus, jqXHR) {
          if ($('[data-invalid]').length == 0) {
            $(".manage-channels input[type='submit']").removeAttr('disabled');
          }

          indicator_elem.removeClass('erroneous_text').addClass('avail_text').text('This host name is available.');
          $('.host-counter-wrapper').addClass('right');
        }
      });
    }
