li
  .channel-card onclick=("window.location.href='#{organization_path(organization.slug)}'") style="background-image: url('#{organization.photo}');"
    .channel-card-overlay
    .channel-title.text-center.bold #{organization.name}
