= render 'common/default_meta_tags', title: @organization.name

= content_for(:banner) do
  div.bgk-with-overlay.white style="background-image: url('#{@organization.photo}');"
    .overlay-less-height
      .row
        .large-8.medium-8.small-12.columns
          .left.section-image
            .medium-circle.circle-white-border style="background-image: url(#{profile_photo(@organization)});"

          .left.section-content
            .channel-public-page.clearfix
              h3.bold.left = @organization.name
          /.left.section-content
          /  .addthis_sharing_toolbox[ data-id="#{@organization.id}" data-type="Organization" data-url = "#{organization_url(@organization)}" data-title = "#{@organization.name}" ]
        .medium-4.columns.show-for-medium-up
          .right
            - if @organization.is_admin?(current_user)
              = link_to 'Edit', org_settings_path, class: 'edit-button', style: 'padding-left: 50px;'
- if @is_admin
    = render 'common/subnav', tabs: %w[channels pathways courses livestreams groups leaderboard about]
- else
    = render 'common/subnav', tabs: %w[channels pathways courses livestreams groups leaderboard about]

.tabs-content
  #channels.content
    .right
      - if @can_create_channel

      - else
        = link_to 'Create Channel', 'javascript:;', class: 'button success radius', data: {amplitude_trigger: 'click', amplitude_event: 'channel_create_click', amplitude_event_props: '{"action" : {"type": "view"}, "where" : {"sub_class": "channels"}}', :'reveal-id' => 'new-channel-request'}
        = render partial: 'user_pages/channel_request_modal'
    .row
      .small-12.columns
        .section-header
          .section-title style="margin-left: 0;" EXPLORE CHANNELS
        p
          = react_component('OrgPartials', {type: 'channels', emptyState: {message: 'You\'ll see all the available channels here. Get started by creating your own channel.', emptyImg: 'pathway_empty.jpg' }})
  #pathways.content
    .row
      .small-12.columns
        .section-header
          .section-title style="margin-left: 0;" POPULAR PATHWAYS
        p
          = react_component('OrgPartials', {type: 'collections', emptyState: {message: 'You\'ll see all the available pathways here. Get started by creating your own pathway.', ctaButtonLabel: 'Create Pathway', ctaUrl:  "#", emptyImg: 'pathway_empty.jpg' }})
  #livestreams.content
    .org-stream-container style="width:90%; margin: auto"
      = react_component('OrgStreams', { emptyState: {message: 'You\'ll find the livestreams and scheduled streams here. You can also come back to this page to watch recordings of streams you\'ve missed.', emptyImg: 'streams_empty.jpg'}})
  #courses.content
    .row
      .small-12.columns
        .section-header
          .section-title style="margin-left: 0;" EXPLORE COURSES
        p
          = react_component('OrgPartials', {type: 'courses', emptyState: {message: 'You\'ll see all the available courses here. Don\'t forget to keep checking this page to find new courses.', emptyImg: 'courses_empty.jpg'}})
  #about.content
    .row
      .small-12.columns
        .section-header
          .section-title style="margin-left: 0;" ABOUT
        p
          = @organization.description


          /ul class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-2' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
            - @collaborating_channels.each do |channel|
              = render partial: 'user_pages/channel_card', locals: {channel: channel, subsection: true, followers_count: @followers_count[channel.id] || 0, insights_count: @insights_count[channel.id] || 0}


        /- unless @followed_channels.blank?
          br
          hr
          br
          .section-header
            .section-title style="margin-left: 0;" Following Channels
          br

        /  ul class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-2' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
            - @followed_channels.each do |channel|
              = render partial: 'user_pages/channel_card', locals: {channel: channel, subsection: true, followers_count: @followers_count[channel.id] || 0, insights_count: @insights_count[channel.id] || 0}

        /- unless @other_channels.blank?
          br
          hr
          br
          .section-header
            .section-title style="margin-left: 0;" Other Channels
          br

        /  ul class=("#{Settings.features.layout_v4 ? 'small-block-grid-1 medium-block-grid-1 large-block-grid-2' : 'small-block-grid-1 medium-block-grid-2 large-block-grid-3'}")
            - @other_channels.each do |channel|
              = render partial: 'user_pages/channel_card', locals: {channel: channel, subsection: true, followers_count: @followers_count[channel.id] || 0, insights_count: @insights_count[channel.id] || 0}
      / .section-header
      /   = link_to 'Create a new Channel', new_organization_path(@organization), class: 'button success radius'


  /#analytics.content
  /  .row
  /    .small-12.columns
  /      .section-header
  /        .section-title style="margin-left: 0; display: 'inline-block';" TEAM ANALYTICS
  /      = react_component('OrgAnalyticsContainer')
  #leaderboard
  #groups

#edc-web-body

/= render 'common/addthis_widget'
