html
  body style="margin: 0px"
    div style="position: relative; height: 0; padding-top: 25px; padding-bottom: 56.25%"
      - if @embed_html
        | #{@embed_html.html_safe}
      - else
        | Sorry, Something went wrong
