h1 Files:
div = link_to 'Upload a file', new_branchmetrics_upload_path
br
table
  thead
    tr
      td
        | File Name
      td
        | Uploaded on
      td
        | Input URL
      td
        | Output URL
  tbody
    - @uploads.each do |upload|
      tr
        td = upload.file_file_name
        td = upload.created_at
        td 
          a href='#{upload.file.url(:original, false)}'
            | Input file
        - if upload.output_url
          td
            a href='#{upload.output_url}'
              | Download Output
        - else
          td
            | Output not yet available
