- content_for :js do
  script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5571db6f745bd038" async="async"
  javascript:
    var doneFor = 0;
    var removeClearBoth = function() {
      var elem = $('.at-share-btn-elements');
      if (elem.length > 0) {
        $('.addthis_sharing_toolbox').attr('style', '');
      } else {
        doneFor += 100;

        if (doneFor <= 1000) {
          setTimeout(removeClearBoth, 100);
        }
      }
    };

    var addthis_config = {};
    addthis_config.services_exclude = 'print, email';
    var addthisReady = function () {

      addthis.addEventListener('addthis.ready', function() {
        removeClearBoth();
      });

      addthis.addEventListener('addthis.menu.share', function (event) {
        var id = $('.addthis_sharing_toolbox').data('id');
        var type = $('.addthis_sharing_toolbox').data('type');
        MetricRecorder.log('share', {id: id, type: type}, {service: event.data.service});
      });
    };
    var addthisLoader = function(){
      if (!window.addthis){
        window.setTimeout(addthisLoader, 500);
      }else{
        addthisReady();
      }
    };
    addthisLoader();

    function pack_addthis_html() {
      var html = "<div class='at-share-tbx-element addthis_32x32_style addthis-smartlayers addthis-animated at4-show' id='atstbx2'>";
      html    += "<a class='addthis_32x32_style at-share-btn addthis_button_facebook'></a>";
      html    += "<a class='addthis_32x32_style at-share-btn addthis_button_twitter'></a>";
      html    += "<a class='addthis_32x32_style at-share-btn addthis_button_gmail'></a>";
      html    += "<a class='addthis_32x32_style at-share-btn addthis_button_pinterest_share'></a>";
      html    += "<a class='addthis_32x32_style at-share-btn addthis_button_compact'></a>"
      html    += "</div>";

      return html;
    }
