- if current_user && current_user.last_assignment_created_at.to_i > current_user.assignment_notice_dismissed_at.to_i
  - assignment_count = current_user.new_assignments.count
  - if assignment_count > 0
    = react_component('AssignmentNotice', { 'assignmentsUrl': public_user_page_url(handle: current_user.handle_no_at, tab: 'assignments' ), 'assignmentCount' => assignment_count }, {prerender: false})
