- content_for :js do
  javascript:
    $('body').on('click', '.insight-card .likeCount', function() {
      var $this, card_id, is_voted, state;
      $this    = $(this);
      card_id  = $this.data('id');
      is_voted = $this.hasClass('upvoted');
      state    = is_voted ? 'unupvote' : 'upvote'
      $this.attr('data-ea', state);
      $.ajax({
        data:     { name: state },
        dataType: 'JSON',
        method:   'POST',
        url:      '/api/cards/' + card_id + '/action',
        success: function(data, jqXHR, textStatus) {
          is_voted ? $this.removeClass('upvoted') : $this.addClass('upvoted')
        }
      });
      return false;
    });
