= content_for(:right_nav_links) do
  li
    = link_to image_tag('Download_on_the_App_Store_Badge_US-UK_135x40.svg', height: 40, class: 'appstore-logo'), Settings.ios_app_location, class: 'appstore-logo-link text-center'
  - if user
    li
      = render partial: 'common/user_header'
  - else
    li
      a class='text-center user-name' href="#{new_user_session_path}" Sign in