#chromebadge.hide.bottom-left
  p.small-font.left style="margin-bottom: 0.25rem; max-width: 90%;" It's easier to share your insights with our browser extension.
  p.right.dismiss-button style="cursor: pointer;" X
  a onclick="chrome.webstore.install()"
    img#chromestorebadge src="#{image_url('ChromeWebStoreBadge.png')}"

- content_for :js
  javascript:
    $(document).ready(function(){
      if ((/Chrome/).test(navigator.userAgent)) {
        if (matchMedia(Foundation.media_queries['medium']).matches){
          $('#chromebadge').show();
        }
      }
    });

    $('#chromebadge .dismiss-button').click(function(){
      $('#chromebadge').hide();
    });