- amplitude_event_props = {action: {type: 'create'}, where: {page_class: 'onboarding', sub_class: 'set_user_info_screen'}, object: {class: 'user', user_id: current_user.id}}.to_json
#collect-handle-modal.reveal-modal.small.common-modal data-reveal='' data-options='close_on_esc:false; close_on_background_click:false;'
  .user-info
    row
      small-12.columns.text-center
        h5
          strong.large-font Almost done!
    hr
    = simple_form_for current_user, url: edit_settings_path, method: :put, remote: true do |f|

      .row
        .small-12.columns.text-center
          p Just tell us a little more about yourself, and then you can start EdCasting!
      .row
        .small-12.columns.medium-6
          = f.input :first_name, label: false, placeholder: 'First Name', value: current_user.first_name
        .small-12.columns.medium-6
          = f.input :last_name, label: false, placeholder: 'Last Name', value: current_user.last_name
      .row
        .small-12.columns#job_function_selector
        p#job_function-feedback.small-font.indicator.left.erroneous_text.hide
          | Please select your job function.
      .row
        small-12.columns
          h6
            strong.medium-font Your EdCast Handle
          p
            | Your EdCast Page URL will also be updated when you set your handle. Use&nbsp;
            | letters, numbers, “-“ or “_”  only. You can always change your handle anytime&nbsp;
            | from your Settings tab.
      .row
        .small-12.columns.text-center
          .row.collapse
            .small-6.columns
              span.prefix = "#{(@current_org || Organization.default_org).home_page}/"
            .small-6.columns
              .handle-input-box
                = f.text_field :handle, :value => current_user.handle_no_at, label: false, placeholder: 'yourhandle'
              p#handle-feedback.small-font.indicator.left

      - if current_user.password_reset_required

        .row
          .small-12.columns
            h6
              strong.medium-font Set Your Password
            = f.input :password, label: false, class: 'active', placeholder: 'Password (at least 8 characters)'
            p#password-feedback.small-font.indicator.left.erroneous_text.hide
              | Password (at least 8 characters)

      .row
        .small-12.columns
          p
            = f.input :pref_newsletter_opt_in,
                    as: :boolean,
                    label: 'I would like to receive EdCast Newsletters',
                    input_html: {style: 'margin-right: 0.625rem;'}
    .row
      .small-12.columns.text-center
        - if current_user.handle.present?
          a#submit.button.radius data-amplitude-trigger='click' data-amplitude-event='user_info_form_submitted' data-amplitude-event-props="#{amplitude_event_props}"
            | Continue To My Dashboard
        - else
          a#submit.button.radius disabled='disabled' data-amplitude-trigger='click' data-amplitude-event='user_info_form_submitted' data-amplitude-event-props="#{amplitude_event_props}" Continue

  .first-time-infographic style="display: none"
    img src="#{asset_url('FTUX-Infographic.png')}"
      img.got-it src="#{asset_url('close.png')}"


- content_for :js do
  javascript:
    var currentHandle = "#{current_user.handle}";
    var feedback = $('#handle-feedback');
    var userHandle = $('#collect-handle-modal #user_handle');
    var jobFunctionId;
    var isNotDefaultOrg = window.location.host.split('.')[0] !== "#{Organization.default_org.host_name}";

    if("#{current_user.show_modal?}" == "true") {
      setTimeout(function(){
        $('.top-nav').css('z-index', 1000);
        $('#collect-handle-modal').foundation('reveal', 'open');
      }, 0);
    }

    $('.got-it').click(function () {
      if ($(this).attr('disabled') == undefined) {
        $('#collect-handle-modal form').submit();
      }
    });

    $(document).click(function (event) {
      if ($(event.target).closest('.reveal-modal-bg').length) {
        if ($(this).attr('disabled') == undefined) {
          $('#collect-handle-modal form').submit();
        }
      }
    });

    $('#submit').click(function(){
      if ($('#user_password').length && $('#user_password').val() < 8) {
        $('#password-feedback').show();
        $('#submit').attr('disabled', 'disabled');
      }
      var jobFunctionSelector = $('#job_function_selector select');
      if (isNotDefaultOrg && jobFunctionSelector && jobFunctionSelector.val()===null) {
        $('#job_function-feedback').show();
        $('#submit').attr('disabled', 'disabled');
      }
      $('.user-info').css('display','none');
      if(window.screen.width > 767) {
        $('.first-time-infographic').css('display','inline-block');
        $('#collect-handle-modal').css({'top':'100px','width':'800px'});
      } else {
        $('#collect-handle-modal').css('display','none');
        $('#collect-handle-modal form').submit();
      }
    });

    var validateModalHandle = function(handle){
      $.ajax({
          url: "#{handle_path}",
          method: 'PATCH',
          data: {handle: handle}}).
      done(function(){
        userHandle.removeClass('erroneous_handle').addClass('avail_handle');
        feedback.removeClass('erroneous_text').addClass('avail_text').text('This handle is available.');
        $('#submit').removeAttr('disabled');
      }).
      fail(function(){
        feedback.removeClass('avail_text').addClass('erroneous_text').text('This handle is not available. Please try a new one.');
      });
    };

    var input = $('#user_handle');
    /*
     * Checks if the handle is available/valid after a second of each keyup.
     */
    var charReg = /^[a-zA-Z0-9\-_]*$/;
    input.keyup(function(){
      var inputVal = $(this).val();

      $('#submit').attr('disabled', 'disabled');

      feedback.removeClass('avail_text erroneous_text');
      userHandle.removeClass('avail_handle erroneous_handle');

      if (!charReg.test(inputVal)) {
        // if invalid, show warning and disable continue.
        userHandle.removeClass('avail_handle').addClass('erroneous_handle');
        feedback.removeClass('avail_text').addClass('erroneous_text').text('This handle is invalid.');
      } else if (inputVal === "") {
        feedback.removeClass('avail_text').addClass('erroneous_text').text("Handle can't be blank");
      } else {
        // otherwise hide warning and test uniq
        var val = this.value;
        delayProcess(function(){ validateModalHandle(val) }, 1000);
      }
    });
    var passwordInput = $('#user_password');
    passwordInput.keyup(function(){
      var passVal = $(this).val();
      if (passVal.length > 7) {
        $('#password-feedback').hide();
        $("#submit").removeAttr('disabled');
      } else {
        $('#password-feedback').show();
        $('#submit').attr('disabled', 'disabled');
      }
    });
