- if current_user && !current_user.has_full_name?
  #collect-name-modal.update-profile-modal.reveal-modal.small data-reveal=""
    .update-profile-header
     p
       span.spacer
         b
           i
             = current_user.email
       span
         | is way too impersonal. Please tell us more about yourself.




    .row
     .columns.small-12.form
       = render partial: 'users/update_profile_form', locals: {user: user}
  javascript:
    setTimeout(function(){
        $('#collect-name-modal').foundation('reveal', 'open');
    },0);