#collect-user-data-modal.reveal-modal.tiny data-reveal=""
  = render partial: 'users/user_data_form', locals: {user: current_user}
- content_for :js do
  javascript:
    setTimeout(function(){
        $('#collect-user-data-modal').foundation('reveal', 'open');
    },0);