#continue-modal.reveal-modal.medium.common-modal data-reveal='close_on_background_click: false;'
  h5.text-center One Last Thing!

  hr
  .row
    .small-12.columns.small-centered
      p
        | Check your email inbox and click on the email verification link we just sent you.

        br
        br
        | If it doesn’t reach your inbox in a few moments, it might be in your spam folder. Don’t forget to add our email address to your contacts if it did end up in spam! That’ll make sure it doesn’t happen again.

        br
        br
        | As soon as you’ve verified your email, you’ll be able to continue to EdCast.

      p.text-center
        a#continue-actions.button.radius.success.proceed-button href="#" Continue

  span.error
- content_for :js do
  javascript:
  	$('span.error').hide();
  	$('a.proceed-button.disabled').on('click', function(e){
  		e.preventDefault();
  		$('span.error').text('Confirm your email address before you continue.');
  		$('span.error').show();
  	});

        $('#continue-actions').click(function(e){
          e.preventDefault();
          $.post("#{api_users_confirmed_path}", { email: sessionStorage.getItem('email')}).
            done(function(){ $('#continue-modal').foundation('reveal', 'close'); });
        });
