.row
  .small-12.columns
    - if Settings.features.layout_v4
      ul.cards-list style="list-style: none; margin-left: 0;"
        - @courses.each do |course|
          = render partial: 'common/insights/course_insight_block', locals: {course: course, type: 'Card'}
    - else
      ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.cards-list
        - @courses.each do |course|
          li
            a href="#{course.website_url}" target="_blank" 
              .link-card style=("background-image: url(#{course_image_url(course)});")
                .card-section 
                  .card-content 
                    h6.title= course.name style="color: green;"
                  ul.inline-list.course-card-footer
                    h6.title= course.course_term 
                    li.right
                      / a.enroll-button
                      /   span.follow-text.no-image Enroll