- image       = asset_url('ed_og_logo.jpg')
- title       ||= I18n.t('meta_tags.default.title')
- keywords 	  ||= nil
- page_url    ||= nil

= render 'common/meta_tags', description: I18n.t('meta_tags.default.description'),
  image: image, title: title, keywords: keywords, page_url: page_url
