= content_for(:right_nav_links) do
  li class="#{'active' if current_page?(controller: :developers, action: :invite)}"
    = link_to 'Invite', dev_invite_path, :class => 'header-tabs'

  li class="#{'active' if current_page?(controller: :developers, action: :features)}"
    = link_to 'Features', dev_features_path, :class => 'header-tabs'

  li class="#{'active' if current_page?(controller: :clients, action: :manage)}"
    = link_to 'Manage', dev_manage_path, :class => 'header-tabs'

  li class="#{'active' if current_page?(controller: :developers, action: :docs)}"
    = link_to 'Docs', dev_docs_path, :class => 'header-tabs'
