div.flash-alert-wrapper style="margin: 0 auto; position: fixed; left: 0; right: 0; max-width: 550px; z-index: 1001;"
 .flash-alert style="margin: 3px auto 0 auto;"
    - flash.each do |type, msg|
      .alert-box.radius.flash data-alert='' class="#{type}" style="margin:0;"
        = msg
        a.close#flash-close href = '#'
          | &times;
- content_for :js do
  javascript:
    if ($('.alert-box').length >= 0) { setTimeout(function () { $('#flash-close').click(); }, 6000); }
