footer#footer
  .row.container-padding.vertical-spacing-large
    .small-12.medium-5.columns.term-links
    .small-12.medium-5.columns.horizontal-spacing-large.text-right
    .small-12.medium-2.columns.horizontal-spacing-large.text-right
      a href="https://www.edcast.com" target="_blank"
        img.powered-logo src="/i/images/powered_by_edcast_image.png"
