ul.inline-list.left.mb0px.footer-ul
  .company-name style="font-size: 12px;"
    | &copy; EdCast 2014


ul.inline-list.right.mb0px.mt0px.footer-ul.large-screen
  li.element
    = link_to 'Terms of Service',tos_path
  li.element
    = link_to 'Privacy Policy',privacy_path
  li.element
    = link_to 'FERPA Compliance',ferpa_path
  li.element
    = link_to 'About',about_path
  li.element
    = link_to 'Careers',jobs_path
  li.element
    = link_to 'Contact',contact_path


ul.inline-list.right.mb0px.mt0px.footer-ul.small-screen

  li.element
    = link_to 'About',about_path
  li.element
    = link_to 'Careers',jobs_path
  li.element
    = link_to 'Contact',contact_path
  li.element
    = link_to 'Terms of Service',tos_path
  li.element
    = link_to 'Privacy Policy',privacy_path
  li.element
    = link_to 'FERPA Compliance',ferpa_path
