footer#destiny-footer class="#{sidebar}"
  .row
    .small-12.columns.medium-6
      /ul.small-block-grid-2
      /  li
      /    a.large-font target="_blank" href="http://efo.edcast.com/edcast-for-organizations" EdCast for Organizations
      /
      /  li
      /    a.large-font target="_blank" href="http://www.edcast.com/corp/blog" Blog
      /
      div.show-for-medium-up style="height: 60px;"

      ul.small-block-grid-3.medium-block-grid-6.large-block-grid-6
        li
          a.white target="_blank" href="http://www.edcast.com/corp/about/" About
        li
          a.white target="_blank" href="http://www.edcast.com/corp/careers/" Careers
        li
          a.white target="_blank" href="http://www.edcast.com/corp/contact/" Contact
        li
          a.white target="_blank" href="http://www.edcast.com/corp/press/" Press
        li
          a.white target="_blank" href="http://www.edcast.com/corp/media-kit/" Media Kit

    .medium-1.column.text-center.show-for-medium-up
      .divider
    .small-12.columns.medium-5
      ul.small-block-grid-5.text-center
        li
          a.social-icon-link href="https://www.linkedin.com/company/edcast" target="_blank"
            = image_tag asset_path('linkedin_white.png'), class: 'social-icon'
        li
          a.social-icon-link href="https://plus.google.com/+EdCastNetwork/" target="_blank"
            = image_tag asset_path('google_white.png'), class: 'social-icon'
        li
          = link_to image_tag('ed_loader_square_gif.gif', style: 'height: 28px; margin-top: -1px;'), "" ,:target => "_blank", class: 'social-icon-link'
        li
          a.social-icon-link href="https://twitter.com/edcast" target="_blank"
            = image_tag asset_path('twitter_white.png'), class: 'social-icon'
        li
          a.social-icon-link href="https://www.facebook.com/EdCast" target="_blank"
            = image_tag asset_path('facebook_white.png'), class: 'social-icon'


      .row
        .small-12.small-centered
          ul.small-block-grid-3.text-center style="margin: 0;"
            li
              a.small-font target="_blank" href="http://www.edcast.com/corp/privacy-policy/" Privacy Policy
              .divider.show-for-medium-up
            li
              a.small-font style="display: inline-block;" target="_blank" href="http://www.edcast.com/corp/terms-of-service/" Terms of Service
              .divider.show-for-medium-up
            li
              a.small-font target="_blank" href="http://www.edcast.com/corp/ferpa-compliance/" FERPA Compliance
