.top-bar-nest
  nav.top-bar.show-for-medium-up data-topbar="" role="navigation" data-options="is_hover: false"
    section.top-bar-section
      ul.left
        li#no-hover
          = link_to image_tag('edcast_logo.svg', style: 'height: 30px; left: -50px;'), root_path, style: 'height: 70px;'
      ul.right
        li.has-form
          .row.collapse
            .large-12.columns
              = form_tag(search_path, method: :get, class: 'search-form-wrapper') do
                .inline-search-wrapper
                  = text_field(:search, :q, name: 'q', placeholder: 'Search EdCast', required: false, value: params[:q], class: 'search radius')
                  .search-input-action-wrapper
                    - action_img = params[:q].blank? ? image_path('search-small-2x.png') : image_path('cancel-icon-file.png')
                    = image_tag(action_img, id: 'search-input-action', width: '18', height: '18')
        li
          a href="#{new_insights_manage_path}"
            img.create-card-button src="#{image_path('create_card.png')}"

- content_for :js do
  javascript:
    var gotoHandlePage = function(handle){
      document.location.href = handle.replace('@','/');
    };

    var gotoTagPage = function (tag) {
      document.location.href = '/search?q=' + encodeURIComponent(tag);
    };

    var searchQueryAction = '#{params[:q].blank? ? "none" : "clear"}';

    $('#search-input-action').click(function () {
      if (searchQueryAction == 'clear') {
        $("input.search").val('');
        $('#search-input-action').attr('src', '#{image_path("search-small-2x.png")}');
        searchQueryAction = 'none';
      }
    });

    $(".top-bar-nest #search_q").on('input', function () {
      if (this.value.length > 0 && searchQueryAction == 'none') {
        $('#search-input-action').attr('src', '#{image_path("cancel-icon-file.png")}');
        searchQueryAction = 'clear';
      } else if (this.value.length == 0 && searchQueryAction == 'clear') {
        $('#search-input-action').attr('src', '#{image_path("search-small-2x.png")}');
        searchQueryAction = 'none';
      }
    });

    // Following condition is to remove top-padding on body based on menu click
    $("li.toggle-topbar.menu-icon").on("click", function (e) {
      if ($('#header').hasClass('expanded')) {
        $('body').addClass('fixed-header');
      }
      else {
        $('body').removeClass('fixed-header');
      }

    });

    var users = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '#{api_suggest_path(:format => "json", :exclude_tags => "true") + "&q=%QUERY"}',
        wildcard: '%QUERY',
        transform: function (response) {
          return response["users"]["results"];
        }
      }
    });

    var tags = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '#{api_suggest_path(:format => "json", :exclude_users => "true") + "&q=%QUERY"}',
        wildcard: '%QUERY',
        transform: function (response) {
          return response["tags"];
        }
      }
    });

    function error_image(image) {
      image.src = '#{err_image_url}';
      return true;
    }

    $('.top-bar-nest #search_q').typeahead({
              highlight: true,
              hint: false,
              minLength: 3
            },
            {
              name: 'users',
              source: users,
              display: 'handle',
              limit: 5,
              templates: {
                header: '<div class="dataset-header">People</div>',
                suggestion: Handlebars.compile(
                        '<div class="clearfix" style="cursor: pointer" onclick="gotoHandlePage(\'{{handle}}\')">' +
                        '<div class="left"><img class="small-avatar" src="{{picture}}", onerror="error_image(this)"/></div>' +
                        '<div class="left clearfix name-handle-wrapper">' +
                        '<div class="user-name breakword">{{name}}</div>' +
                        '<div class="user-handle breakword">{{handle}}</div>' +
                        '</div>' +
                        '</div>'
                )
              }
            },
            {
              name: 'tags',
              source: tags,
              display: 'name',
              limit: 5,
              templates: {
                header: '<div class="dataset-header">Tags</div>',
                suggestion: Handlebars.compile(
                        '<span style="display: block;" onclick="gotoTagPage(\'{{name}}\')">{{name}}</span>'
                )
              }
            });

    $(document).ready(function () {
      if ((/Chrome/).test(navigator.userAgent)) {
        if (matchMedia(Foundation.media_queries['medium']).matches) {
          $('#chromebadge').show();
        }
      }
      mixpanel.track_forms(".search-form-wrapper", "search", function (form) {
        return {"query": $(form).find("#search_q").val()};
      });
    });
