- if session['devise.impersonator']
  - impersonationLink_enabled = true
  - impersonator = User.find(session['devise.impersonator'])
  - impersonationLink_url = impersonations_path
  - impersonationLink_label = "Back to #{impersonator.handle}"
  - impersonationLink_method = 'delete'
- else
  - impersonationLink_enabled = (user_signed_in? && (current_user.is_admin? || current_user.is_edcast_admin) && @user && current_user != @user)
  - impersonationLink_url = impersonationLink_enabled ? impersonations_path(user_id: @user.id) : '#'
  - impersonationLink_label = 'Impersonate'
  - impersonationLink_method = 'post'

- impersonationLink = {enabled: impersonationLink_enabled, url: impersonationLink_url, label: impersonationLink_label, method: impersonationLink_method}

- menu_links = user_signed_in? ? [{label: 'Today\'s Feed', url: root_path, state: get_state_for_nav(feed_url)},
    {label: 'Discover', url: '/discover', state: get_state_for_nav(feed_url + 'discover')},
    {label: 'Me', url: profile_page_url(current_user), state: get_state_for_nav(profile_page_url(current_user))}] : []
- if user_signed_in? && @current_org != Organization.default_org
  - menu_links.insert(2, {label: 'Team', url: organization_home_path(tab:'members'), state: get_state_for_nav(organization_home_url(tab:'members'))})

- profile_dropdown = user_signed_in? ? { 'user' => {'avatar' => current_user.photo(:tiny), 'name' => current_user.name, 'email' => current_user.email, 'handle' => current_user.handle}, 'currentOrgName' => @current_org.name,
 'links' => {'settingsLink' => {label: 'Settings', url: settings_path}, 'signOutLink' => {label: 'Sign Out', url: sign_out_path}, 'impersonationLink' => impersonationLink}} : {}
- if user_signed_in? && @currently_signed_in_orgs.present? && @currently_signed_in_orgs.length > 1
  - profile_dropdown['links']['currentOrganizationsLinks'] = @currently_signed_in_orgs.reject{|o| o.name == @current_org.name }.map{|o| {'url' => o.home_page, 'label' => o.name}}

- if user_signed_in? && current_user.is_admin?
  - profile_dropdown['links']['newOrganizationLink'] = {label: 'Create a Team', url: new_organization_url(host: Organization.default_org.host)}

- add_content_dropdown = user_signed_in? ? {createSmartBiteLink: {label: @current_org.fetch_cobrand_configs_with_defaults['label/smartbites_insight'], url: new_insights_manage_path}, createPathwayLink: {label: @current_org.fetch_cobrand_configs_with_defaults['label/pathway'], url: 'collections/new'}} : {}
- auth_links = {signUp: {label: 'Sign Up', url: new_user_registration_path}, signIn: {label: 'Sign In', url: new_user_session_path(next: request.fullpath)}, signOut: {label: 'Sign Out', url: sign_out_path}}
- co_branding = {enabled: ((@current_org.host != Organization.default_org.host) and (@current_org.co_branding_logo.present? || @current_org.photo.present? || @current_org.mobile_photo.present? )), orgLogo: @current_org.co_branding_logo.url, orgTeamLogo: @current_org.mobile_photo || @current_org.photo, orgSubBrandImage: get_co_branding_image }

div style="height: 56px; top: 0: left: 0; width: 100%;"
= react_component('TopNav', {'coBranding' => co_branding, 'userSignedIn' => user_signed_in?, 'menuLinks' => menu_links, 'position' => 0, 'profileDropdown' => profile_dropdown, 'authLinks' => auth_links, 'searchPageMode' => is_search_page?, 'addContentDropdown' => add_content_dropdown}, {prerender: true})
