
nav#header.top-bar.card-header data-topbar="" data-options="is_hover: false"
  .header-box
    ul.title-area
      li
        = link_to image_tag('edcast_logo_for_website_header.png', height: 53),root_path, class: "ed-logo"

      li.toggle-topbar.menu-icon
        = link_to '', '#'

    .top-bar-section
      ul.left
      ul.right
        = yield(:right_nav_links)
      / - if (scope == 'developers')
        / li class="#{'active' if current_page?(controller: :developers, action: :invite)}"
         /  = link_to 'Invite', dev_invite_path, :class => 'header-tabs'

        / li class="#{'active' if current_page?(controller: :developers, action: :features)}"
          /= link_to 'Features', dev_features_path, :class => 'header-tabs'

        / li class="#{'active' if current_page?(controller: :clients, action: :manage)}"
          /= link_to 'Manage', dev_manage_path, :class => 'header-tabs'

        / li class="#{'active' if current_page?(controller: :developers, action: :docs)}"
          /= link_to 'Docs', dev_docs_path, :class => 'header-tabs'

        /li.divider
        /li
        /  = render partial: 'common/inline_login'




