.header-wrapper.contain-to-grid.fixed
  nav.top-bar#header data-topbar="" data-options="is_hover: false"
    ul.title-area
      li.name
        = link_to image_tag("#{@current_org.co_branding_logo.url}", class:'top-nav-logo'), root_path

      li.toggle-topbar.menu-icon
        a href="#"
          span Menu

    - if session['devise.impersonator']
      ul.impersonation-wrapper
        li.impersonate-box.text-center.truncate Impersonating #{session['devise.impersonatee']}
    section.top-bar-section
      - if current_user
        ul.right
          li.show-for-large-up
            - if current_user && browser.chrome?
              = link_to image_tag('chrome_store.png', class:'chrome-store-badge'), "https://chrome.google.com/webstore/detail/#{Settings.chrome_store_path}", :id => 'chromebadge', class: 'hide', :target => '_blank'
              - unless current_user.get_config('chrome-extension-tour') == '1'
                - content_for :bottom do
                  = stylesheet_link_tag 'hopscotch'
                - content_for :js do
                  = javascript_include_tag 'user_feed_tour'
                  javascript:
                    var mq = window.matchMedia( "(max-width: 1024px)" );
                    if(!mq.matches) {
                      showChromeExtensionTour();
                    }

          li.has-form
            .row.collapse.text-center
              .large-12.columns
                = form_tag(search_path, method: :get, class: 'search-form-wrapper') do

                  .inline-search-wrapper
                    = text_field(:search, :q, name: 'q', placeholder: 'Search EdCast', required: false, value: params[:q], class: 'search radius')
                    .search-input-action-wrapper
                      - action_img = params[:q].blank? ? asset_path('search-small-2x.png') : asset_path('cancel-icon-file.png')
                      = image_tag(action_img, id: 'search-input-action', width: '18', height: '18')
          li
            a href="#{new_insights_manage_path}"
              img.create-card-button src="/assets/create_card.png"
              span.hide-for-large-up.alt-text Create Card

          li
            = react_component('NotificationBell')

          li.has-dropdown
            a href="#"
              img.small-avatar.avatar-default src="#{current_user.photo(:tiny)}"
              span.hide-for-large-up.alt-text = current_user.name.titlecase

            ul.dropdown
              li
                label = current_user.name
              - if session['devise.impersonator']
                li
                  - impersonator = User.find(session['devise.impersonator'])
                  = link_to "Back to #{impersonator.handle}", impersonations_path, method: :delete
              - elsif user_signed_in? && current_user.is_admin? && @user && current_user != @user
                li
                  = link_to 'Impersonate', impersonations_path(user_id: @user.id), method: :post
              li
                = link_to 'Your EdCast Page', profile_page_url(current_user)
              li
                label Dashboard
              li
               a href="#{root_path}" Your Feed
              li
               a href="#{my_content_path}" Your Content
              li
                a href="#{settings_path}" Settings
              li.divider
              li
                = link_to 'Logout', sign_out_path


- content_for :js do
  javascript:
    var gotoHandlePage = function(handle){
      document.location.href = handle.replace('@','/');
    };

    var gotoTagPage = function (tag) {
      document.location.href = '/search?q=' + encodeURIComponent(tag);
    };

    var searchQueryAction = '#{params[:q].blank? ? "none" : "clear"}';

    $('#search-input-action').click(function () {
      if (searchQueryAction == 'clear') {
        $("input.search").val('');
        $('#search-input-action').attr('src', '#{asset_path("search-small-2x.png")}');
        searchQueryAction = 'none';
      }
    });

    $("input.search").on('input', function () {
      if (this.value.length > 0 && searchQueryAction == 'none') {
        $('#search-input-action').attr('src', '#{asset_path("cancel-icon-file.png")}');
        searchQueryAction = 'clear';
      } else if (this.value.length == 0 && searchQueryAction == 'clear') {
        $('#search-input-action').attr('src', '#{asset_path("search-small-2x.png")}');
        searchQueryAction = 'none';
      }
    });

    // Following condition is to remove top-padding on body based on menu click
    $("li.toggle-topbar.menu-icon").on("click", function (e) {
      if ($('#header').hasClass('expanded')) {
        $('body').addClass('fixed-header');
      }
      else {
        $('body').removeClass('fixed-header');
      }

    });

    var users = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '#{api_suggest_path(:format => "json", :exclude_tags => "true") + "&q=%QUERY"}',
        wildcard: '%QUERY',
        transform: function (response) {
          return response["users"]["results"];
        }
      }
    });

    var tags = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '#{api_suggest_path(:format => "json", :exclude_users => "true") + "&q=%QUERY"}',
        wildcard: '%QUERY',
        transform: function (response) {
          return response["tags"];
        }
      }
    });

    function error_image(image) {
      image.src = '#{err_image_url}';
      return true;
    }

    $('#search_q').typeahead({
      highlight: true,
      hint: false,
      minLength: 3
    },
    {
      name: 'users',
      source: users,
      display: 'handle',
      limit: 5,
      templates: {
        header: '<div class="dataset-header">People</div>',
        suggestion: Handlebars.compile(
                '<div class="clearfix" style="cursor: pointer" onclick="gotoHandlePage(\'{{handle}}\')">' +
                  '<div class="left"><img class="small-avatar" src="{{picture}}", onerror="error_image(this)"/></div>' +
                  '<div class="left clearfix name-handle-wrapper">' +
                    '<div class="user-name breakword">{{name}}</div>' +
                    '<div class="user-handle breakword">{{handle}}</div>' +
                  '</div>' +
                '</div>'
        )
      }
    },
    {
      name: 'tags',
      source: tags,
      display: 'name',
      limit: 5,
      templates: {
        header: '<div class="dataset-header">Tags</div>',
        suggestion: Handlebars.compile(
                '<span style="display: block;" onclick="gotoTagPage(\'{{name}}\')">{{name}}</span>'
        )
      }
    });

    $(document).ready(function () {
      if ((/Chrome/).test(navigator.userAgent)) {
        if (matchMedia(Foundation.media_queries['medium']).matches) {
          $('#chromebadge').show();
        }
      }
      mixpanel.track_forms(".search-form-wrapper", "search", function (form) {
        return {"query": $(form).find("#search_q").val()};
      });
    });