// Top Banner Section
div.bgk-with-overlay style="background-image: url('#{home_page_banner}');"
  .overlay
    .banner
      .row
        .small-12.medium-10.small-centered.columns
          .pitch = home_page_pitch

      = render partial: 'common/reserve_handle'

      .row
        .small-12.medium-10.small-centered.columns
          .text-center
            | <br/>
            a.app-store target="_blank" href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&ct=KKWebsiteLink&mt=8"
              img src="https://d1iwkfmdo6oqxx.cloudfront.net/mobile-promotion/app_store_icon.png" height="40" width="135"
            a.play-store target="_blank" href="https://play.google.com/store/apps/details?id=com.edcast" style="margin-left: 1rem;"
              img src="https://d1iwkfmdo6oqxx.cloudfront.net/mobile-promotion/play_store_icon.png" height="40" width="135"

- content_for :js do
  javascript:
    $(function() {
      // device detection
      // For IE11+ need to skip code since it returns both ios and android.
      if ((/IE/).test(navigator.userAgent)) {
      } else if ((/iPhone|iPod|iPad/).test(navigator.userAgent)) {
        $('a.play-store').hide();
      } else if ((/Android/).test(navigator.userAgent)) {
        $('a.app-store').hide();
      }

    });
