- content_for :js do
  - container = 'ul.cards-list' unless local_assigns[:container]
  = javascript_include_tag 'infinite-scroll'
  javascript:
    $(function(){
      new InfiniteScroll({nextLink: 'a#load-more', container: '#{container}'});
    });