- if @next_offset
  .row
    .small-12.columns.text-center style='padding-bottom:2rem'
      = link_to 'Load More', url_for(params.merge(offset: @next_offset)), class: 'button radius', id: 'load-more'