<script type="text/javascript">
    client = {
      'key':       "<%= current_user.id %>",
      'firstName': "<%= current_user.first_name %>",
      'lastName':  "<%= current_user.last_name %>",
      'email':     "<%= current_user.email %>",
      'custom': {
        'org':     "<%= @current_org.host_name %>"
      }
    };

    key = "<%= Settings.launchdarkly.client_key %>"
    window.tempHash = (new Date().getTime()).toString() + document.location.hostname;

    window.ldclient = LDClient.initialize(key, client, {
      hash: window.tempHash,
      bootstrap: 'localStorage'
    });

    window.ldclient.identify(client, window.tempHash);
</script>