- og_title ||= title
- keywords ||= I18n.t('meta_tags.default.keywords')
- description = description.html_safe
- image && image = get_og_image_url(image)
- page_url ||= request.url

- content_for(:title) do
  = title

- content_for(:head) do
  meta content=(description) name='description'

  / Keywords
  meta name="keywords" content=(keywords)

  /! Schema.org markup for Google+
  meta content=(og_title) itemprop='name' /
  meta content=(description) itemprop='description' /
  - if image
    meta content=(image) itemprop='image' /

  /! Twitter Card data
  - if image
    meta content=(image) name='twitter:image' /
  meta content='summary' name='twitter:card' /
  meta content='@EdCast' name='twitter:site' /
  meta content=(og_title) name='twitter:title' /
  meta content=(description) name='twitter:description' /
  meta content='@EdCast' name='twitter:creator' /

  /! Open Graph data
  meta content=(og_title) property='og:title' /
  meta content='article' property='og:type' /
  meta content=(page_url) property='og:url' /
  - if image
    meta content=(image) property='og:image' /
  meta content=(description) property='og:description' /
  meta content='EdCast' property='og:site_name' /
  meta content='663120323' property='fb:admins' /
  meta content='1448252635414241' property='fb:app_id' /
  
  /! Twitter app card for iOS and Android
  meta name='twitter:app:name:iphone' content='EdCast: Build Your Personal Knowledge Network'
  meta name='twitter:app:id:iphone' content='974833832'
  meta name='twitter:app:url:iphone' content='edcastapp://'
  meta name='twitter:app:name:ipad' content='EdCast: Build Your Personal Knowledge Network'
  meta name='twitter:app:id:ipad' content='974833832'
  meta name='twitter:app:url:ipad' content='edcastapp://'
  meta name='twitter:app:name:googleplay' content='EdCast: Build Your Personal Knowledge Network'
  meta name='twitter:app:id:googleplay' content='com.edcast'
  meta name='twitter:app:url:googleplay' content='edcastapp://'
