- if !user_signed_in? && controller_name == 'welcome' && action_name == 'index'
  .row
    .small-12.medium-10.small-centered.columns
      .row.call-to-action
        .small-12.medium-12.large-4.columns
          .message Join the <span class="highlight">fastest growing knowledge network</span> to start learning
        .small-12.medium-8.large-5.columns
          .action.clearfix
            span.input-prefix www.edcast.com/
            input type='text' id='handle-input' placeholder='yourhandle'
        .small-12.medium-4.large-3.columns
          .action-button
            a.success.button.round.disabled#handle-get-started href="javascript:" Get Started!