- if content_for(:right_rail)
  = yield(:right_rail)

- else
  .row
    - defaultOrg = @current_org.id == Organization.default_org.id
    - widgets = right_rail_widgets(extra_widgets: @right_rail_widgets)
    - if user_signed_in? && widgets.present?
      .right-rail-widgets
        - widgets.each do |widget, props|
          div
            - react_props = props.merge("default_org" => defaultOrg)
            = react_component(widget, DeepCamelCaser.deep_camel_case!(react_props))

    .right-rail-widget-wrapper.text-center
      .section-header.text-left
        | DOWNLOAD THE APP&nbsp;
        - if request.user_agent =~ /(.*)Chrome(.*)/
          | AND CHROME EXTENSION
      - if request.user_agent =~ /(.*)Chrome(.*)/
        a#chromebadge.badge-link onclick="chrome.webstore.install()"
          = image_tag image_path('chrome_store.png'), class: 'badge', height: 40, width: 100
          - if current_user && current_user.get_config('user-feeds-tour') == '1' && current_user.get_config('chrome-extension-tour') != '1'
            - content_for :bottom do
              = stylesheet_link_tag 'hopscotch'
            - content_for :js do
              = javascript_include_tag 'user_feed_tour'
              javascript:
                var mq = window.matchMedia("(min-width: 640px)");
                var nq= (/(.*)Chrome(.*)/).test(navigator.userAgent);
                if (mq.matches && nq) {
                  showChromeExtensionTour();
                }

      a.app-store.badge-link target="_blank" href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&ct=KKWebsiteLink&mt=8"
        = image_tag image_path('app_store_icon.png'), class: 'badge', height: 40, width: 100
      a.play-store.badge-link target="_blank" href="https://play.google.com/store/apps/details?id=com.edcast"
        = image_tag image_path('play_store_icon.png'), class: 'badge', height: 40, width: 100
      div style="margin-bottom: 10px;"
