footer.rr-footer
  .row
    .small-12.columns
      ul.inline-list.inline-links
        li
          = link_to 'About', 'https://www.edcast.com/corp/about/', target: '_blank'
        li.divider
          div
        li
          = link_to 'Careers', 'https://www.edcast.com/corp/careers/', target: '_blank'
        li.divider
          div
        li
          = link_to 'Contact', 'https://www.edcast.com/corp/contact/', target: '_blank'
        li.divider
          div
        li
          = link_to 'Press', 'https://www.edcast.com/corp/press/', target: '_blank'
        li.divider
          div
        li
          = link_to 'Media Kit', 'https://www.edcast.com/corp/media-kit/', target: '_blank'

  .row
    .small-12.columns
      ul.small-block-grid-3
        li
          = link_to 'Privacy Policy', 'https://www.edcast.com/corp/privacy-policy/', target: '_blank', class: 'small-links'
        li
          = link_to 'Terms of Service', 'https://www.edcast.com/corp/terms-of-service/', target: '_blank', class: 'small-links'
        li
          = link_to 'FERPA Compliance', 'https://www.edcast.com/corp/ferpa-compliance/', target: '_blank', class: 'small-links'

  .row
    .small-12.columns title="#{current_app_build}" style="font-size:10px; text-align:center"
      | &copy; Edcast	#{Time.zone.now.year}
