ul#menu-showhide.topnav.slicknav
  li.show-for-small-only
    a.tooltip-tip href="#" title="Search"
      i
        = image_tag(image_path('search-small-2x.png'), width: '18', height: '18')
      span
        = form_tag(search_path, method: :get) do
          = text_field(:search, :q, name: 'q', placeholder: 'Search EdCast', required: false, value: params[:q], class: 'search', style: 'padding: 3px 5px; height: 28px;')
    hr
  li.show-for-small-only
    a.tooltip-tip href="#{new_insights_manage_path}" title="Create an Insight"
      i
        img.sidebar-icon src="#{image_path('sidebar-icons/create-card-grey.png')}"
      span Create an Insight
  li
    a.tooltip-tip class="#{active_link_class(:feed)}" href="#{root_path}" title="Your Feed"
      i
        img.sidebar-icon.show-for-medium-up src='#{image_path('sidebar-icons/feed.png')}'
        img.sidebar-icon.show-for-small-only src='#{image_path('sidebar-icons/feed-grey.png')}'
      span Your Feed
  li
    a.tooltip-tip class="#{active_link_class(:my_content)}" href="#{my_content_path}" title="Your Content"
      i
        img.sidebar-icon.show-for-medium-up src='#{image_path('sidebar-icons/content.png')}'
        img.sidebar-icon.show-for-small-only src='#{image_path('sidebar-icons/content-grey.png')}'
      span Your Content
  li
    a.tooltip-tip class="#{active_link_class(:my_profile)}" href="#{contribution_path}" title="Your Profile"
      i
        img.sidebar-icon.show-for-medium-up src='#{image_path('sidebar-icons/profile.png')}'
        img.sidebar-icon.show-for-small-only src='#{image_path('sidebar-icons/profile-grey.png')}'
      span Your Profile
  li
    a.tooltip-tip class="#{active_link_class(:channels)}" href="#{user_channels_page_path}" title="Channels"
      i
        img.sidebar-icon.show-for-medium-up src='#{image_path('sidebar-icons/channels.png')}'
        img.sidebar-icon.show-for-small-only src='#{image_path('sidebar-icons/channels-grey.png')}'
      span Channels
  li
    a.tooltip-tip class="#{active_link_class(:notifications)}" href="#{notifications_path}" title="Notifications"
      i.notifications-count-wrapper
        img.sidebar-icon.show-for-medium-up src='#{image_path('sidebar-icons/notifications.png')}'
        img.sidebar-icon.show-for-small-only src='#{image_path('sidebar-icons/notifications-grey.png')}'
        - unseen_count = get_unseen_notifications_count
        - if (!unseen_count.nil? && !(unseen_count == 0))
          .text-center.notifications-count
            - if (unseen_count > 99)
              | 99+
            - else 
              = unseen_count  

      span Notifications
  li
    a.tooltip-tip class="#{active_link_class(:settings)}" href="#{settings_path}" title="Settings"
      i
        img.sidebar-icon.show-for-medium-up src='#{image_path('sidebar-icons/settings.png')}'
        img.sidebar-icon.show-for-small-only src='#{image_path('sidebar-icons/settings-grey.png')}'
      span Settings
  li.show-for-small-only
    hr
    a href="#{profile_page_url(current_user)}" title="Your Edcast Page"
      span Your Edcast Page
  li.show-for-small-only
    a href="#{sign_out_path}" title="Logout"
      span Logout

- if session['devise.impersonator']
  .impersonate-box.truncate Impersonating #{session['devise.impersonatee']}

