- amplitude_event_props = {action: {type: 'view'}, where: {page_class: 'signin_modal', codename: 'destiny'}}.to_json
- org_ssos = @current_org.available_ssos
#sign-in-modal.reveal-modal.tiny.common-modal data-reveal=''
  .signin-modal-container.clearfix
    = form_for User.new, url: user_session_path, html: {id: 'login-form'}, remote: true do |f|
      input type="hidden" name="display" value="#{params[:display]}"
      input type="hidden" name="next" value="#{params[:next]}"
      .row
        .small-12.columns
          h5.text-center Log In With Your Social Accounts
          ul.small-block-grid-1
            = render partial: 'common/social_auth', locals: {org_ssos: org_ssos.reject { | k, v| k == 'email' }}
	  - if org_ssos.keys.include?('email')
        h6.text-center Or
        = render partial: 'common/signin_with_email', :locals => {:f => f}
      - else
        br
	  .row
        .small-12.columns.small-centered.text-center
          span style="margin-right: 1rem;" New to EdCast?

          a.button.radius.info href="#" data-reveal-id="signup-modal" data-amplitude-trigger='click' data-amplitude-event='choose_signup' data-amplitude-event-props="#{amplitude_event_props}"
            | Sign Up
	= render 'common/signup_modal'

    a.close-reveal-modal &#215

- content_for :js
  javascript:
    $(function() {
      $('#sign-in-modal form').on('ajax:error', function(evt, data, status, xhr) {
         $('.sign-in-error').addClass('error');
      });
    });
