-org_ssos = @current_org.available_ssos
#signup-modal.reveal-modal.tiny.common-modal data-reveal=''
  
  .row
    .small-12.columns
      h5.text-center Sign Up To Start EdCasting
      ul.small-block-grid-1
        = render partial: 'common/social_auth', locals: {action_text: 'Sign up', org_ssos: org_ssos.reject { | k, v| k == 'email' }}
  - if org_ssos.keys.include?('email')
    h6.text-center Or
    = render partial: 'common/signup_form', locals: {id_text: 'modal'}
  br
  .row
    .small-12.columns.text-center
      span style="margin-right: 1rem;" Already EdCasting?

      a.button.radius.info href="#" data-reveal-id="sign-in-modal" Log In

  p.text-center
    | We'll never share anything or send emails to your contacts without your permission.
    br
    | By signing up, you agree to the &nbsp;
    a.link href='https://www.edcast.com/terms_of_service' target='_blank' Terms of Use
    |&nbsp;and&nbsp;
    a.link href='https://www.edcast.com/privacy_policy' target="_blank" Privacy Policy
    |.

  a.close-reveal-modal &#215

- content_for :js
  javascript: 
    $(function() {
      $('form.modal-signup-form').on('ajax:success', function(evt, data, status, xhr) {
          sessionStorage.setItem('email', $('#user_email').val());
          $(document).foundation({
            reveal: {close_on_background_click: false}
          });
          $('#continue-modal').foundation('reveal', 'open');
        });
    });
