- amplitude_event_props = {action: {type: 'create'}, where: {page_class: 'signup', codename: 'destiny'}}.to_json
= simple_form_for(User.new, :as => :user, :url => user_registration_path, :remote => true, :html => { class: "#{id_text}-signup-form", 'data-abide': true}) do |f|
  // Hack for dynamic height reduction due to foundation js issue
  div style="min-height: 70px;" 
    .row
      .small-12.columns.small-centered.signup-error
        .input.email.required.user-email
          input.string.required.email type='email' autofocus='autofocus' placeholder='Your email' name='user[email]' id='user_email'
          small.error Check the email you've entered to make sure it's valid
      
  .row
    .small-12.columns.small-centered.text-center
      = f.submit "Get Started", id: 'user_email_submit', class: 'disabled button radius success',  'data-amplitude-trigger':'click', 'data-amplitude-event-props': "#{amplitude_event_props}", 'data-amplitude-event': 'email_signup'
      a.button.radius.transparent id="#{id_text}-cancel" Cancel

- content_for :js do
  javascript:
    var input_elem = $("#user_email");
    input_elem.keyup(function(){
      var text = $(this).val();
      if (text && text.length > 0){
        $("#user_email_submit").removeClass('disabled');
      } else {
        $("#user_email_submit").addClass('disabled');
      }
    });

    $('#modal-cancel').on('click', function() {
     $('#signup-modal').foundation('reveal', 'close');
    });

    $(document).foundation('abide', 'reflow');
