- amplitude_event_props = {action: {type: 'view'}, where: {page_class: 'login', codename: 'destiny'}, object: {org_name: @current_org.name}}.to_json
.row
  .small-12.columns.small-centered
    = f.email_field :email, placeholder: 'Your email', required: true, autofocus: true, :id => 'email-input', 'aria-label' => 'Enter email id', class: 'auth-input'
.row.sign-in-error
  .small-12.columns.small-centered
    = f.password_field :password, placeholder: 'Password', input_html: { autocomplete: 'off' }, required: true, 'aria-label' => 'Enter password', class: 'auth-input'
    small.sign-in-error.hide Invalid username or password.

.row
  .small-12.columns.small-centered
    - amplitude_event_name = @current_org === Organization.default_org ?  'email_signin' : 'org_login'
    = f.submit 'Log In', :class => 'button radius success expand', 'aria-label' => 'Click here to login', 'data-amplitude-trigger':'click', 'data-amplitude-event-props': "#{amplitude_event_props}", 'data-amplitude-event': "#{amplitude_event_name}"
.row
  .small-12.columns.small-centered.text-center
    = link_to 'Forgot Password?', new_user_password_path, class: 'button radius transparent expand', 'data-amplitude-trigger':'click', 'data-amplitude-event-props': "#{amplitude_event_props}", 'data-amplitude-event': 'forgot_password', style: 'margin-bottom: 0px;'
    = link_to 'Didn\'t receive confirmation instructions?', new_confirmation_path(:user), class: 'button transparent expand radius', 'data-amplitude-trigger':'click', 'data-amplitude-event-props': "#{amplitude_event_props}", 'data-amplitude-event': 'confirmation_instructions'
    