- action_text = 'Log in' if action_text.blank?

- org_ssos.each do |sso, label|
  = render 'sso/item', sso: sso, action_text: action_text, button_text: (label || sso.humanize), static: label.present?

- content_for :js do
  javascript:
    function socialAuthFunc(provider, userDetails, returnToUrl, authenticityToken){
      $('meta[name="csrf-token"]').attr('content', authenticityToken);
      if (Authentication.afterLoginHandler){
        Authentication.afterLoginHandler();
        //TODO: update the header using ajax
        window.setTimeout(function(){
          window.location.href = window.location.href;
        },1000);
      }else{
        if (returnToUrl) {
          window.location.href = returnToUrl;
        } else {
          window.location.href = window.location.href;
        }
      }
    };
