ul.small-block-grid-6.social-list
  li
    a href="https://plus.google.com/+EdCastNetwork/"
      =image_tag asset_path('social-01.svg', alt:'Google plus'), class: 'social-icon'
  li
    a href="https://twitter.com/edcast"
      =image_tag asset_path('social-02.svg', alt:'Twitter'), class: 'social-icon'
  li
    a href="https://www.pinterest.com/edcastinc/"
      =image_tag asset_path('social-03.svg', alt:'Pinterest'), class: 'social-icon'
  li
    a href="https://www.facebook.com/EdCast"
      =image_tag asset_path('social-04.svg', alt:'Facebook'), class: 'social-icon'
  li
    a href="https://www.youtube.com/user/EdcastNetwork"
      =image_tag asset_path('social-05.svg', alt:'YouTube'), class: 'social-icon'
  li
    a href="https://www.linkedin.com/company/edcast"
      =image_tag asset_path('social-06.svg', alt:'LinkedIn'), class: 'social-icon'

.edcast-logo.text-center
  a href="http://www.edcast.com/"
    =image_tag asset_path('ed_logo.svg', height: 35, alt:'edcast')



.copyright-info.text-center
  | &copy; 2015
