// renders a configurable subnav tab bar for foundation
//   manipulates browser address bar url on navigation
//
// example locals: {
//   tabs: [{path: 'your_channels', default: true}, {path: 'explore_channels'}],
//   title: 'Channels'
// }
// label will be titleized path if :label pair is omitted
// first tab is default if :default is not supplied
// title may be omitted
// path strings must be ids of .content divs in the view that renders this partial
//   e.g. #your_channels.content (within .tabs-content)
//   do not set default .active class on any .content div
//   avoid path strings that reproduce controller action names; may cause routing troubles
// any entry in :tabs can use shorthand 'example_path' for {path: 'example_path'}
// route in routes.rb must end with optional segment :tab, e.g. "get 'channels(/:tab)'"

- tabs = tabs.map{|tab| String === tab ? {path: tab} : tab}

- controller.redirect_to not_found_path unless params[:tab].blank? || tabs.map{|t| t[:path]}.include?(params[:tab])

- selected_path = default_path = (tabs.find { |t| t[:default] } || tabs.first)[:path]
= content_for :subnav do
  .subnav-wrapper
    .row
      .small-12.columns
        - if local_assigns[:title].present?
          .section-header
            .section-title
              = title
        dl.tabs.subnav-v4 data-tab=""
          - tabs.each do |tab|
            - is_default = tab[:path] == default_path
            - is_selected = ((params[:tab].blank? && is_default) || params[:tab] == tab[:path])
            - selected_path = tab[:path] if is_selected
            dd.tab-title class=('active' if is_selected)
              a.text-center href="##{tab[:path]}" data-tab-path=url_for(tab: (is_default ? nil : tab[:path]))
                = tab[:label] || tab[:path].titleize

- content_for :js do
  javascript:
    // make initial content active
    $(function () {
      $('.tabs-content ##{selected_path}').addClass('active');
    });

    // on tab click, push new URL to history
    $('.tabs a').click(function () {
      history.pushState(null, null, $(this).data('tab-path'));
      return true;
    });

    // handle browser navigation
    $(window).bind('popstate', function (e) {
      // deactivate all tabs, since previous state is lost
      $(".tabs dd, .tabs-content .content").removeClass('active');
      // activate target tab
      var tab = $(".tabs a[data-tab-path='" + location.pathname.replace(/\/$/, "") + "']");
      tab.closest('dd').add(".tabs-content " + tab.attr('href')).addClass('active');
    });
