- content_for :js do
  = javascript_include_tag 'jquery-ui', "jquery.tagsinput.min"
- content_for :head do
  = stylesheet_link_tag 'jquery-ui.min', "jquery.tagsinput.min"
- content_for :js
  javascript:
    $(document).ready(function(){
      $(".topics-box").tagsInput({
        autocomplete_url:'/api/suggest_tags.json',
        width:'100%',
        defaultText: 'Add a topic'
      })
    });
