// Google Tag Manager Tracking
- if Settings.trackers.google_tag_manager.enabled && !Settings.trackers.google_tag_manager.id.blank?
  javascript:
    (function(w,d,s,l,i){
      w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s), dl=l!='dataLayer' ? '&l='+l : '';
      j.async=true;
      j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',"#{Settings.trackers.google_tag_manager.id}");

// Google Analytics Tracking
- if Settings.trackers.google_analytics.enabled && !Settings.trackers.google_analytics.id.blank?
    javascript:
      GA_TRACKING_ID = "#{Settings.default_ga_tracking_id}";
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', "#{Settings.trackers.google_analytics.id}", 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      $(function(){
        var getEventNode = function(element){ //go up the root until we find an element with data-ec
          if (element && element.dataset && element.dataset.ec){
            return element;
          }else if (element && element.dataset && element.parentNode){
            return element.parentNode == document.body ? null : getEventNode(element.parentNode);
          }
        };
        $(document.body).click(function(e){
          var eNode = getEventNode(e.target);
          if (eNode){
            var eOpts = eNode.dataset.eopts && JSON.parse(eNode.dataset.eopts); //event options in JSON string
            ga('send', 'event', eNode.dataset.ec, eNode.dataset.ea, eNode.dataset.el, eNode.dataset.ev, eOpts);
          }
        });
      });

// Salesforce Pardot Integration
- if Settings.trackers.pardot.enabled && !Settings.trackers.pardot.piAId.blank? && !Settings.trackers.pardot.piCId.blank?
  javascript:
    piAId = "#{Settings.trackers.pardot.piAId}";
    piCId = '#{Settings.trackers.pardot.piCId}';

    (function () {
      function async_load() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
        var c = document.getElementsByTagName('script')[0];
        c.parentNode.insertBefore(s, c);
      }

      if (window.attachEvent) {
        window.attachEvent('onload', async_load);
      }
      else {
        window.addEventListener('load', async_load, false);
      }
    })();

// Facebook Pixel Code
- if Settings.trackers.fb_pixel.enabled && !Settings.trackers.fb_pixel.id.blank?
  javascript:
    !function(f,b,e,v,n,t,s){
      if(f.fbq)return;
      n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n; n.push=n; n.loaded=!0; n.version='2.0'; n.queue=[]; t=b.createElement(e);t.async=!0;
      t.src=v; s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)
    }(window, document,'script','//connect.facebook.net/en_US/fbevents.js');
    fbq('init', "#{Settings.trackers.fb_pixel.id}");
    fbq('track', "PageView");

// Amplitude Tracking Code
- if Settings.trackers.amplitude.enabled && !Settings.trackers.amplitude.id.blank?
  javascript:
    (function (e, t) {
      var n = e.amplitude || {_q: []};
      var r = t.createElement("script");
      r.type = "text/javascript";
      r.async = true;
      r.src = "https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.10.0-min.gz.js";
      r.onload = function () {
        e.amplitude.runQueuedFunctions()
      };
      var i = t.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(r, i);
      var s = function () {
        this._q = [];
        return this
      };

      function o(e) {
        s.prototype[e] = function () {
          this._q.push([e].concat(Array.prototype.slice.call(arguments, 0)));
          return this
        }
      }

      var a = ["add", "append", "clearAll", "prepend", "set", "setOnce", "unset"];
      for (var c = 0; c < a.length; c++) {
        o(a[c])
      }
      n.Identify = s;
      var u = ["init", "logEvent", "logRevenue", "setUserId", "setUserProperties", "setOptOut", "setVersionName", "setDomain", "setDeviceId", "setGlobalUserProperties", "identify", "clearUserProperties"];

      function p(e) {
        function t(t) {
          e[t] = function () {
            e._q.push([t].concat(Array.prototype.slice.call(arguments, 0)));
          }
        }

        for (var n = 0; n < u.length; n++) {
          t(u[n])
        }
      }

      p(n);
      e.amplitude = n
    })(window, document);

    amplitude.init("#{Settings.trackers.amplitude.id}");

  - if user_signed_in?
    javascript:
      if (window.amplitude){
        // set user information
        amplitude.setUserId("#{current_user.id}");
        var amplitude_user_details = #{{handle: current_user.handle}.to_json.html_safe};
        var identify = new amplitude.Identify()
                .set('email', "#{current_user.email}")
                .set('handle', "#{current_user.handle}")
                .set('first_name', "#{current_user.first_name}")
                .set('last_name', "#{current_user.last_name}")
                .set('current_signin_provider', "#{current_user.authentication_method}")
                .set('organization_id', "#{@current_org.id}")
                .set('organization_name', "#{@current_org.name}");

        amplitude.identify(identify);
      }

  - else
    javascript:
      if (window.amplitude) {
        amplitude.setUserId(null);
      }

  javascript:
    // Event binding and handler
    $(document).on('click','[data-amplitude-trigger="click"]', function(){
      var event = $(this).data('amplitude-event');
      var properties = $(this).data('amplitude-event-props');

      if(event != null && properties != null) {
        amplitude.logEvent(event, properties);
      } else if(event != null) {
        amplitude.logEvent(event);
      }
    });

    $(document).ready(function(){
      $('[data-amplitude-trigger="onload"]').each(function(){
        var event = $(this).data('amplitude-event');
        var properties = $(this).data('amplitude-event-props');

        if (event != null && properties != null) {
          amplitude.logEvent(event, properties);
        } else if (event != null) {
          amplitude.logEvent(event);
        }
      });
    });