#update-profile-modal.update-profile-modal.reveal-modal.small data-reveal=""
  .update-profile-header
    h3.header-text
      |Update profile




  .row
    .columns.small-12.form
      = render partial: 'users/update_profile_form', locals: {user: user}
  a.close-reveal-modal href="#" &#215

