a.user-name class='text-center user-name' data-dropdown="user-profile-dropdown" href="#{user_profile_path}" #{current_user.name}
ul#user-profile-dropdown.f-dropdown data-dropdown-content="" aria-hidden="true" tabindex="-1"
  li
    a href="#{edit_user_profile_path}" Settings
  li
    a href="#{sign_out_path}" Logout