<%=vars['new_content_in_channel'][0][:user][:first_name]%> <%=vars['new_content_in_channel'][0][:user][:last_name]%> has started a livestream in the <%= vars['new_content_in_channel'][0][:channel][:name] %> channel. Tap to join now!