script id="adTemplate" type="text/x-jsrender"
  li
    .ad.iron-border.clearfix
      .ad-image.left style="background-image: url({{:logoPic}})"
      .ad-detail.left
        p {{:name}}
        div
          a.button.small.radius href="{{:url}}" Enroll