.row
  .small-12.columns
    #ads-container.hide
      .section-header
        .section-title Recommended Courses
      ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.ads-list

= render partial: 'common/ads/ad'

- content_for :js
  javascript:
    $.ajax({
      method: "GET",
      url: "#{@ads_url}",
      crossDomain: true,
      success: function(data){
        if(data.hasOwnProperty('offerings')){
          var template = $.templates("#adTemplate");
          var htmlOutput = template.render(data['offerings']);
          $(".ads-list").html(htmlOutput);
          $("#ads-container").show();
        }
      }
    });
