link href="/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" /
link href="/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" /
link href="/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" /
link href="/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" /
link href="/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" /
link href="/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" /
link href="/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" /
link href="/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" /
link href="/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /
link href="/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
link href="/favicons/favicon-194x194.png" rel="icon" sizes="194x194" type="image/png" /
link href="/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" /
link href="/favicons/android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png" /
link href="/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
link href="/favicons/manifest.json" rel="manifest" /
link href="/favicons/favicon.ico" rel=("shortcut icon") /
meta content="#b91d47" name="msapplication-TileColor" /
meta content="/favicons/mstile-144x144.png" name="msapplication-TileImage" /
meta content="/favicons/browserconfig.xml" name="msapplication-config" /
meta content="#316cc4" name="theme-color" /