doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" itemscope="" itemtype="http://schema.org/Article"
  /!<![endif]
  head
    meta  charset=("utf-8" )

    // Set the viewport width to device width for mobile
    meta  name="viewport" content="width=device-width, initial-scale=1.0"

    // Meta info for social networks and app stores
    meta name="apple-itunes-app" content="app-id=#{Settings.app_store_id}"
    link href="https://plus.google.com/116423004154399315594" rel="publisher"

    // Title expected to be come from the partials for most pages
    title = sanitize "#{content_for?(:title) ? yield(:title) : 'EdCast'}"

    //launchdarkly widget
    <script crossorigin="anonymous" src="https://app.launchdarkly.com/snippet/ldclient.min.js"></script>

    // Favicons for all sizes and platforms. Files in 'public/favicons'
    = render 'layouts/favicon_tags'

    // Styles
    = stylesheet_link_tag 'application_v4'

    // Javascripts
    // Add javascripts onlu needed before page load
    = javascript_include_tag "vendor/modernizr"

    // CSRF META
    = csrf_meta_tag

    // Chrome extension link
    link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/iihabgolllpckbhencdcnmonmgohagjm"

    // Anything else from partials intended for the head section
    // Any css included in the this section will override the default application css
    = yield :head

  body
    = render 'common/header_v4' if @omit_edc_web_nav
    div style="margin-bottom: 109px"
    / TODO: Cleanup after new layout changes are stable. cc: @kshitijshah
    /- if false && @currently_signed_in_orgs.present? && user_signed_in?
    /  div style="width:80px;border:1px solid #ccc;position:absolute;left:0;height:100%"
    /    ul
    /      - @currently_signed_in_orgs.each do |org|
    /        li style="height:80px"
    /          a href="#{org.home_page}" target="_blank" id="profile-avatar-link"
    /            img src="#{org.mobile_photo || org.photo}"
    /            span = org.name
    /      li style="height:20px"
    /        a href="#{new_organization_url(host: Organization.default_org.host)}" className="add-insight" target="_blank"
    /          img src="/assets/add_pink.png" height="20" width="20"

    #wrapper
      // Flash Messages
      = render partial: 'common/flash'

      // Content for the banner section of the page.
      // Banner section stretches across the right rail.
      = content_for(:banner) ? yield(:banner) : ''

      = content_for(:subnav) ? yield(:subnav) : ''

      // Layout v4
      .backdrop
      .parent-container
        / TODO: cleanup after new layout changes are stable. cc: @kshitijshah
        /- if @currently_signed_in_orgs.present? && user_signed_in?
        /  .nav-drawer.show-for-medium-up
        /    ul.nav-list style="list-style: none;"
        /      - is_new = params[:controller] == 'organizations' && params[:action] == 'new'
        /      - @currently_signed_in_orgs.each do |org|
        /        li.nav-item
        /          - attribs = {}
        /          - if org == @current_org
        /            - attribs[:class] = 'active' unless is_new
        /          a href="#{org.home_page}" *attribs
        /            img.small-avatar.org-avatar src="#{org.mobile_photo(:small) || org.photo(:small)}"
        /      li.nav-item
        /        a href="#{new_organization_url(host: Organization.default_org.host)}" class=(is_new ? 'active' : '')
        /          = image_tag asset_path('add_new_pink.png'), class: 'small-avatar'

        .center-column-wrapper
          div class="reveal-modal small common-modal" id="assignment-modal" data-reveal=""
          .center-column
            - if @page_hopper_enabled
              .page-hopper.show-for-xlarge-up
                = content_for(:hopper) ? yield(:hopper) : ''

            .content-column class=(@page_hopper_enabled ? 'content-column-with-hopper-rr' : (!@right_rail_disabled ? 'with-rr' : 'without-rr'))
                  = content_for(:content) ? yield(:content) : yield
            - unless @right_rail_disabled
              .promotion-column
                .right-rail-footer
                  = render 'common/right_rail'
                  = render partial: 'common/rr_footer'

      // Partials only required when user is not signed in
      - unless user_signed_in?
        = render 'common/signin_modal'
        = render 'common/continue_modal'
      - unless @skip_element || !@right_rail_disabled
        #layout-footer
    = render partial: 'common/footer_v4' unless (@skip_element || !@right_rail_disabled)
    - if session['devise.impersonator']
      .impersonate-box.truncate Impersonating #{session['devise.impersonatee']}

    // Helpers used throughout the app
    javascript:
      Authentication.isLoggedIn = #{user_signed_in?};
      var CAMO_HOST = "#{Settings.camo_host}";
      var csrfToken = function () {
        return $('meta[name="csrf-token"]').attr('content');
      };
    - if @current_org.present?
      javascript:
        window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}

- unless @omit_edc_web_nav
  #edc-web-nav
    - if ['development', 'test'].include?(Rails.env)
      script src = "//localhost:8001/main.js"
    - else
      =javascript_include_tag 'dist/main'
