doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" itemscope="" itemtype="http://schema.org/Article"
  /!<![endif]
  head
    meta  charset=("utf-8" )

    // Set the viewport width to device width for mobile
    meta  name="viewport" content="width=device-width, initial-scale=1.0"

    // Meta info for social networks and app stores
    meta name="apple-itunes-app" content="app-id=#{Settings.app_store_id}"
    link href="https://plus.google.com/116423004154399315594" rel="publisher"

    // Title expected to be come from the partials for most pages
    title = sanitize "#{content_for?(:title) ? yield(:title) : 'Home | EdCast'}"

    // Favicons for all sizes and platforms. Files in 'public/favicons'
    = render 'layouts/favicon_tags'

    // Styles
    = stylesheet_link_tag 'application_v3'

    // Javascripts
    // Add javascripts onlu needed before page load
    = javascript_include_tag "vendor/modernizr"

    // CSRF META
    = csrf_meta_tag

    // Anything else from partials intended for the head section
    // Any css included in the this section will override the default application css
    = yield :head

  body
    - if Settings.features.dashboard_layout.preloader.enabled
      #preloader
        div.loading-icon style="position: absolute;height:60px; width: 80px; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);"
          img src="/assets/ed_loader_square_gif.gif" style="height:50px"
    .off-canvas-wrap data-offcanvas=''
      .inner-wrap class="#{cookies[:ems].to_i == 1 ? 'sidebar-collapsed' : 'sidebar-expanded'}"
        #skin-select.fixed-nest

          // Toggle sidemenu icon button
          a#toggle
            span.fi-list
          // End of Toggle sidemenu icon button

          .skin-part
            #tree-wrap

              // Profile
              .profile
                ul
                  li
                    a.text-center data-dropdown="profile-dropdown" href='#' data-options="" aria-controls="profile-dropdown" style="display:block;"
                      img.circle-white-border src="#{current_user.photo(:tiny)}"
                      div class="chevron-up"
                    ul.nested-links.f-dropdown aria-hidden="true" data-dropdown-content="" id="profile-dropdown"
                      li.text-left
                        = link_to 'Your EdCast Page', profile_page_url(current_user), class: "profile-drop-link"
                      - if session['devise.impersonator']
                        li.text-left
                          - impersonator = User.find(session['devise.impersonator'])
                          = link_to "Back to #{impersonator.handle}", impersonations_path, method: :delete, class: "profile-drop-link"
                      - elsif user_signed_in? && current_user.is_admin? && @user && current_user != @user
                        li.text-left
                          = link_to 'Impersonate', impersonations_path(user_id: @user.id), method: :post, class: "profile-drop-link"
                      li.text-left
                        a.profile-drop-link href="#{sign_out_path}" title="Logout" Logout
              // End of Profile

              // Sidebar Menu - Begin
              .side-bar
                = render 'common/sidebar'

              // Static App Store Links
              ul.bottom-list-menu
                li
                  a#chromebadge.badge-link href="https://chrome.google.com/webstore/detail/#{Settings.chrome_store_path}" target="_blank"
                    = image_tag image_path('chrome_store.png'), class: 'badge', height: 40, width: 111
                    - if current_user && current_user.get_config('user-feeds-tour') == '1' && current_user.get_config('chrome-extension-tour') != '1'
                      - content_for :bottom do
                        = stylesheet_link_tag 'hopscotch'
                      - content_for :js do
                        = javascript_include_tag 'user_feed_tour'
                        javascript:
                          var mq = window.matchMedia("(min-width: 640px)");
                          if (mq.matches) {
                            showChromeExtensionTour();
                          }
                li
                  a.app-store.badge-link target="_blank" href="https://itunes.apple.com/app/apple-store/id974833832?pt=100220803&ct=KKWebsiteLink&mt=8"
                    = image_tag image_path('app_store_icon.png'), class: 'badge', height: 40, width: 110
                li
                  a.play-store.badge-link target="_blank" href="https://play.google.com/store/apps/details?id=com.edcast"
                    = image_tag image_path('play_store_icon.png'), class: 'badge', height: 40, width: 110


        #paper-bg.wrap-fluid
          .clearfix
            // Header
            = render 'common/header_v3'

            #wrapper
              = render partial: 'common/flash'
              - if user_signed_in?
                = render partial: 'common/collect_handle'

              // Content Body
              = content_for(:content) ? yield(:content) : yield

        // Partials only required when user is not signed in
        - unless user_signed_in?
          = render 'common/signin_modal'
          = render 'common/continue_modal'

        a.exit-off-canvas
        #layout-footer
      = render partial: 'common/footer_v3', locals: {sidebar: cookies[:ems].to_i == 1 ? 'sidebar-collapsed' : 'sidebar-expanded'}

    // Javascripts
    // Application.js always comes first since it's needed to load the libraries on page
    = javascript_include_tag 'application_v3'

    // Helpers used throughout the app
    javascript:
      Authentication.isLoggedIn = #{user_signed_in?};
      var CAMO_HOST = "#{Settings.camo_host}";
      var csrfToken = function () {
        return $('meta[name="csrf-token"]').attr('content');
      };
    - if @current_org.present?
      javascript:
        window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}

    - if Settings.features.dashboard_layout.preloader.enabled
      = javascript_include_tag('foundation-dashboard/preloader-script')

    = yield :bottom
    = yield :js

    // Tracking
    = render partial: 'common/tracking_inclusion'
