doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" itemscope="" itemtype="http://schema.org/Article"
  /!<![endif]
  head
    meta  charset=("utf-8" )

    / Set the viewport width to device width for mobile
    meta  name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="apple-itunes-app" content="app-id=#{Settings.app_store_id}"

    title= sanitize "#{content_for?(:title) ? yield(:title) : 'Home'}"

    = render 'layouts/favicon_tags'

    = stylesheet_link_tag 'application_v2'
    = javascript_include_tag "vendor/modernizr"

    = csrf_meta_tag
    = yield :head
    link href="https://plus.google.com/116423004154399315594" rel="publisher"
  body class=("#{content_for?(:header_override) ? '' : 'fixed-header'}")

    #wrapper
      = render partial: 'common/flash'
      - if user_signed_in?
        = render partial: 'common/collect_handle'
      = content_for(:header_override) ? yield(:header_override) : (render 'common/header_v2')

      = content_for(:content) ? yield(:content) : yield


      #layout-footer

    = content_for(:footer_override) ? yield(:footer_override) : (render partial: 'common/footer_v2')

    = render 'common/signin_modal'
    = render 'common/continue_modal'

    = javascript_include_tag 'application'

    javascript:
      Authentication.isLoggedIn = #{user_signed_in?};
      var CAMO_HOST = "#{Settings.camo_host}";
      var csrfToken = function(){ return $('meta[name="csrf-token"]').attr('content'); };
    - if @current_org.present?
      javascript:
        window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}


    = yield :bottom
    = yield :js
    = render partial: 'common/tracking_inclusion'
