doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" ng-app="#{yield(:angular_app_name)}" itemscope="" itemtype="http://schema.org/Article"
  /!<![endif]
  head
    meta  charset=("utf-8" )

    / Set the viewport width to device width for mobile
    meta  name="viewport" content="width=device-width, initial-scale=1.0"

    title= sanitize "#{content_for?(:title) ? yield(:title) : 'Home'} | EdCast"

    link href='//fonts.googleapis.com/css?family=Open+Sans:300,600,700' rel='stylesheet' type='text/css'

    = render 'layouts/favicon_tags'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag "vendor/modernizr"

    = csrf_meta_tag
    = yield :head
    a href="https://plus.google.com/116423004154399315594" rel="publisher"
  body style="margin: 0px; overflow: visible;"
    #wrapper
      = render partial: 'common/flash'

      - if content_for(:header_override)
        = yield(:header_override)
      - else
        = render partial: 'common/header'
      = content_for(:content) ? yield(:content) : yield

      footer
        .width-960
          - if content_for?(:footer_override)
            = yield(:footer_override)
          - else
            = render partial: 'common/footer'


    - unless Settings.default_ga_tracking_id.blank?
      javascript:
        GA_TRACKING_ID = "#{Settings.default_ga_tracking_id}";
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', "#{Settings.default_ga_tracking_id}", 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
        $(function(){
          var getEventNode = function(element){ //go up the root until we find an element with data-ec
            if (element && element.dataset && element.dataset.ec){
              return element;
            }else if (element && element.dataset && element.parentNode){
              return element.parentNode == document.body ? null : getEventNode(element.parentNode);
            }
          };
          $(document.body).click(function(e){
            var eNode = getEventNode(e.target);
            if (eNode){
              var eOpts = eNode.dataset.eopts && JSON.parse(eNode.dataset.eopts); //event options in JSON string
              ga('send', 'event', eNode.dataset.ec, eNode.dataset.ea, eNode.dataset.el, eNode.dataset.ev, eOpts);
            }
          });
        });
    javascript:
      var CAMO_HOST = "#{Settings.camo_host}";

    = yield :bottom
    = yield :js
    = render partial: 'common/tracking_inclusion'
