= content_for(:js) do
  javascript:
    var user = #{@user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: @user, anonymous: nil, include_email: false, include_score_entry: false})).to_json.html_safe};
    var authParams = #{@auth_params.nil? ? 'false' : @auth_params.to_json.html_safe};
- if Settings.features.layout_v4
  = render template: 'layouts/application_v4'
- elsif Settings.features.dashboard_layout.enabled
  - if user_signed_in?
    = render template: 'layouts/application_v3'
  - else
    = render template: 'layouts/application_v2'
- else
  = render template: 'layouts/application_v2'
