doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" itemscope="" itemtype="http://schema.org/Article"
  /!<![endif]
  head
    meta  charset=("utf-8" )

    // Set the viewport width to device width for mobile
    meta  name="viewport" content="width=device-width, initial-scale=1.0"

    // Meta info for social networks and app stores
    meta name="apple-itunes-app" content="app-id=#{Settings.app_store_id}"
    link href="https://plus.google.com/116423004154399315594" rel="publisher"

    // Title expected to be come from the partials for most pages
    title = sanitize "#{content_for?(:title) ? yield(:title) : 'Home | EdCast'}"

    // Favicons for all sizes and platforms. Files in 'public/favicons'
    = render 'layouts/favicon_tags'

    // Styles
    = stylesheet_link_tag 'application_v4'

    // Javascripts
    // Add javascripts onlu needed before page load
    = javascript_include_tag "vendor/modernizr"

    // CSRF META
    = csrf_meta_tag

    // Anything else from partials intended for the head section
    // Any css included in the this section will override the default application css
    = yield :head

  body
    #wrapper
      // Flash Messages
      = render partial: 'common/flash'

      // Popup modal to collect the user information, when the user logs in first time, or has
      // missing information about the user
      - if user_signed_in?
        = render partial: 'common/collect_handle'

      // Content for the banner section of the page.
      // Banner section stretches across the right rail.
      = content_for(:banner) ? yield(:banner) : ''

      = content_for(:subnav) ? yield(:subnav) : ''

      // Layout v4
      .backdrop
      .parent-container
        .left-child-container style="width:100%;"
          = content_for(:content) ? yield(:content) : yield

      // Partials only required when user is not signed in
      - unless user_signed_in?
        = render 'common/signin_modal'
        = render 'common/continue_modal'
      - unless @skip_element
        #layout-footer
    = render partial: 'common/footer_v4' unless @skip_element
    - if session['devise.impersonator']
      .impersonate-box.truncate Impersonating #{session['devise.impersonatee']}

    // Javascripts
    // Application.js always comes first since it's needed to load the libraries on page
    - if @current_org.present?
      javascript:
        window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}
    = javascript_include_tag 'react-components-client'
    = javascript_include_tag 'cms'

    - if ['development', 'test'].include?(Rails.env)
      script src="//localhost:8080/app.js"
    - else
      script src="#{webpack_asset_url('app', 'js')}"

    // Helpers used throughout the app
    javascript:
      Authentication.isLoggedIn = #{user_signed_in?};
      var CAMO_HOST = "#{Settings.camo_host}";
      var csrfToken = function () {
        return $('meta[name="csrf-token"]').attr('content');
      };

    - if Settings.features.dashboard_layout.preloader.enabled
      = javascript_include_tag('foundation-dashboard/preloader-script')

    = yield :bottom
    = yield :js

    // Tracking
    = render partial: 'common/tracking_inclusion'

#edc-web-nav

- if ['development', 'test'].include?(Rails.env)
  script src = "//localhost:8001/main.js"
- else
  =javascript_include_tag 'dist/main'