= content_for(:head) do
  = stylesheet_link_tag 'cards_ui'
  = stylesheet_link_tag 'cards_destination_site'

= content_for(:header_override) do
  div

= content_for(:footer_override) do
  div
=content_for(:js) do
  - if @current_org.present?
    javascript:
      window.cobrands = #{ActiveSupport::JSON.encode(@current_org.fetch_cobrand_configs_with_defaults).html_safe}

  - if @auth_params
    javascript:
      var user = #{@user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: @user, anonymous: nil, include_email: false, include_score_entry: false})).to_json.html_safe};
      var csrfToken = #{form_authenticity_token.to_json.html_safe};
      var authParams = #{@auth_params.nil? ? 'false' : @auth_params.to_json.html_safe};
      var apiKey= #{@auth_params[:api_key].to_json.html_safe};
      var token = #{@auth_params[:token].to_json.html_safe};
      var userId = #{@auth_params[:user_id].to_json.html_safe};
      var userEmail = #{@auth_params[:user_email].to_json.html_safe};
      var userRole = #{@auth_params[:user_role].to_json.html_safe};
      var resourceId = #{@auth_params[:resource_id].to_json.html_safe};
      var timestamp = #{@auth_params[:timestamp].to_json.html_safe};
= render template: 'layouts/application_v2'
