= content_for(:angular_app_name) do
  | devApp
= content_for(:title) do
  = content_for(:dev_title) ? yield(:dev_title) : 'Developers | EdCast'
= content_for(:head) do
  = stylesheet_link_tag 'dev'
= content_for(:content) do
  = render partial: 'common/dev_header'
  = yield
= render template: 'layouts/application'
