= content_for(:head) do
  link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'
  = stylesheet_link_tag 'cards_ui'
= content_for(:content) do
  = render partial: 'common/card_destination_header', locals: {user: @user}
  = yield
= content_for(:footer_override) do
  = render partial: 'common/social_links_footer'
=content_for(:js) do
  - if @auth_params
    javascript:
      var apiKey= #{@auth_params[:api_key].to_json.html_safe};
      var token = #{@auth_params[:token].to_json.html_safe};
      var userId = #{@auth_params[:user_id].to_json.html_safe}; 
      var userEmail = #{@auth_params[:user_email].to_json.html_safe};
      var userRole = #{@auth_params[:user_role].to_json.html_safe};
      var resourceId = #{@auth_params[:resource_id].to_json.html_safe};
      var timestamp = #{@auth_params[:timestamp].to_json.html_safe};
= render template: 'layouts/application'
