doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" ng-app="#{@app_name}App"
  /!<![endif]
  head
    meta charset="utf-8"

    / Set the viewport width to device width for mobile
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    title= sanitize "#{content_for?(:title) ? yield(:title) : 'EdCast'}"

    link href='//fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'
    = yield :css_tag
    = yield :pre_javascript
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tag

  body ng-controller="MainCtrl"
    = yield(:header) if content_for?(:header)
    = yield
    javascript:
      
      var encryptedUser = '#{ActiveSupport::MessageEncryptor.new(Edcast::Application.config.secret_key_base).encrypt_and_sign(@user.id)}'
      var savannahAppId = #{@current_org.savannah_app_id.to_json.html_safe};
      var destinyUserId = #{current_user.id.to_json.html_safe};
      var authToken = #{@auth_token.to_json.html_safe};
      var apiKey= #{@api_key.to_json.html_safe};
      var token = #{@token.to_json.html_safe};
      var userId = #{@user_id.to_json.html_safe}; 
      var userEmail = #{@user_email.to_json.html_safe};
      var originalUserRole = #{@original_user_role.to_json.html_safe};
      var userRole = #{@user_role.to_json.html_safe};
      var resourceId = #{@resource_id.to_json.html_safe};
      var timestamp = #{@timestamp.to_json.html_safe};
      var ref_id = "#{@ref_id.nil? ? '' : @ref_id}";

      var contextId = #{@context_id.to_json.html_safe};
      var contextLabel = #{@context_label.to_json.html_safe};
      var displayContext = #{@display_context.to_json.html_safe};

      var CAMO_HOST = "#{Settings.camo_host}";

      var hangoutAppId = "#{Settings.hangout.app_id}";

      var launchGroup = null;

      if (ref_id && ref_id.length > 0){
        launchGroup = #{@ref_post.nil? ? {} : ActiveSupport::JSON.decode((render partial: 'groups/details', formats: ['json'], locals: {group: @ref_post.group})).to_json.html_safe};

        if(launchGroup && launchGroup.id){
            window.location.hash = '/posts/' + ref_id + '/comments?groupId=' + launchGroup.id;
        } else {
            window.location.hash = '/posts/' + ref_id + '/comments';
        }
      }

      var group = #{ActiveSupport::JSON.decode((render partial: 'groups/details', formats: ['json'], locals: {group: @group})).to_json.html_safe};
      var user = #{@user.nil? ? 'false' : ActiveSupport::JSON.decode((render partial: 'users/details', formats: ['json'], locals: {user: @user, anonymous: nil, include_email: true, include_score_entry: true})).to_json.html_safe};

      // Preload image
      var preloader = function(){
          var image = new Image();
          var preloader = new Image();
          preloader.src = "#{image_url('preloader.gif')}";
          image.src = "#{image_url('loader.gif')}";
      };
      preloader();
    - if Settings.widget_ga_tracking_id
      javascript:
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{Settings.widget_ga_tracking_id}', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    = yield :js_tag
    = yield :js
    - if Settings.widget_ga_tracking_id
      javascript:
        $(function(){
          var getEventNode = function(element){ //go up the root until we find an element with data-ec
            if (element && element.dataset && element.dataset.ec){
              return element;
            }else if (element && element.dataset && element.parentNode){
              return element.parentNode == document.body ? null : getEventNode(element.parentNode);
            }
          }
          $(document.body).click(function(e){
            var eNode = getEventNode(e.target);
            if (eNode){
              var eOpts = eNode.dataset.eopts && JSON.parse(eNode.dataset.eopts); //event options in JSON string
              ga('send', 'event', eNode.dataset.ec, eNode.dataset.ea, eNode.dataset.el, eNode.dataset.ev, eOpts);
            }
          });
        });

