doctype 5
/[if lt IE 7]
  | <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="ie ie7 lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="ie ie8 lt-ie9">
/[if IE 9]
  | <html class="ie ie9">
| <!--[if (gte IE 9)|!(IE)]><!-->
html prefix="og: http://ogp.me/ns#" lang="en" itemscope="" itemtype="http://schema.org/Article"
  /!<![endif]
  head
    meta  charset=("utf-8" )

    / Set the viewport width to device width for mobile
    meta  name="viewport" content="width=device-width, initial-scale=1.0"

    title= sanitize "#{content_for?(:title) ? yield(:title) : 'Home'} | EdCast"

    = render 'layouts/favicon_tags'

    = csrf_meta_tag
    = yield :head
  body style="margin: 0px;"
    = yield
